--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"uuid\",\"display_name\":\"name\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="2CWZLmNUHoEFh2mmX3vwCHGsvvgO1hOb6qgzdvVZMs", oauth_signature="yl8oMSWSo2fvQCMJ4r497zwKuCY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185674", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumers/uuid/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"consumer\": {\"display_name\": \"name\", \"description\": null, \"_ns\": \"consumers\", \"notes\": {}, \"rsa_pub\": null, \"capabilities\": {}, \"_id\": {\"$oid\": \"5375234a86d9a9321c14a58b\"}, \"id\": \"uuid\", \"_href\": {\"_href\": \"/pulp/api/v2/consumers/uuid/\"}}, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICWwIBAAKBgQC6IPf21HtgviHXTgNhGxAOyTjMldUNUMDC/pkcP4nmgDssp9Fa\\nteUHCZ6emtYa7Nyj2eqb4wHVhruea7Bs2cg0tTpvDQagq+WSHsrIYsr/F0RW/EHw\\nkOtacsPXrzGel7y28SYVzGiPkp/RFZJOVCh7Za54K8Bh6kYSmn8QeaVMtQIDAQAB\\nAoGAIDZAc7lGOPHuzWI094NFfimY6N8tZgaJtbV2LgtZBElA9HN+qeI85sDlcLF/\\nSF2hucGm9p+M27VblwkwGUZ/fUOVH8s9uKTUKSgTjekvEWWxTyFdSWub8bbyrdgq\\nAKxnrvc0X/qdlND2oS5ZmPsBYVBI7OHn5kI8cfn5UL2aOOkCQQD3FBgVaTHWJUpi\\nyBf99wM6XGdeoJl8dyC4ipgMU/LKtlmNGcyI5M5WFecwOs4vHuhYiIF0CakqD[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/consumers/uuid/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="A5DAwWctH6z9Bz4ZCdHQyRDxC6pTzInwBSsrXxpY", oauth_signature="SR4%2B6I2RYPMS%2B7CY6zqsp9d0LzA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185674", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"display_name\": \"name\", \"description\": null, \"_ns\": \"consumers\", \"notes\": {}, \"rsa_pub\": null, \"capabilities\": {}, \"_id\": {\"$oid\": \"5375234a86d9a9321c14a58b\"}, \"id\": \"uuid\", \"_href\": \"/pulp/api/v2/consumers/uuid/\"}"
  recorded_at: Thu, 15 May 2014 20:27:54 GMT
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/consumers/uuid/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="obLjobudWx6ykvzL4fNud0XaErYyq64CjlcBTAG7DMA", oauth_signature="pFHJ5acuahJfF%2FeVB0o0QadXmtA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185674", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 15 May 2014 20:27:54 GMT
recorded_with: VCR 2.9.0
