- if read_contents
  %ul
    %li.slide_link
      .simple_link.link_details{:id=>"content_views"}
        #{_("Content Views")}

- else
  .empty_list
    #{_("You do not have access to access contents in %s") % environment_name}
