<div class="details details-full">

  <h4 translate>Currently Selected Puppet Modules</h4>


  <button translate ui-sref="content-views.details.puppet-modules.names">
    Add New Module
  </button>

  <table class="table table-striped table-bordered" alch-table="table" ng-class="{'table-mask': table.working}">
    <thead>
      <tr alch-table-head>
        <th alch-table-column>{{ "Name" | translate }}</th>
        <th alch-table-column>{{ "Author" | translate }}</th>
        <th alch-table-column>{{ "Version" | translate }}</th>
        <th alch-table-column>{{ "Actions" | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <tr alch-table-row ng-repeat="module in modules">
        <td alch-table-cell >{{ module.name}}</td>
        <td alch-table-cell >{{ module.author}}</td>
        <td alch-table-cell >{{ versionText(module)}}</td>
        <td alch-table-cell >
          <button translate ng-click="selectNewVersion(module)">
            Select new version
          </button>
          <button translate ng-click="removeModule(module)">
            Remove Module
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>