<div class="details details-full">

  <nav>
    <ul class="nav nav-tabs nav-tabs-pf" ng-show="permitted('edit_content_views', contentView)">
      <li ng-class="{active: isState('content-view.components.composite-content-views.list')}">
        <a ui-sref="content-view.components.composite-content-views.list">
          <span translate>
            List/Remove
          </span>
        </a>
      </li>

      <li ng-class="{active: isState('content-view.components.composite-content-views.available')}" ng-show="!contentView.permissions.editable">
        <a ui-sref="content-view.components.composite-content-views.available">
          <span translate>
            Add
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <div ui-view></div>
</div>
