<span page-title ng-model="$stateParams">{{ 'Versions for Puppet Module:' | translate }} {{ $stateParams.moduleName }}</span>

<div class="details details-full">
  <div class="loading-mask loading-mask-panel" ng-show="versionsLoading">
    <i class="fa fa-spinner fa-spin"></i>
    {{ "Loading..." | translate }}
  </div>

  <ol class="breadcrumb">
    <li>
      <a ui-sref="content-views.details.puppet-modules.list">
        {{ "Module List" | translate }}
      </a>
    </li>
    <li>
      <a ui-sref="content-views.details.puppet-modules.names">
        {{ "Select Module" | translate }}
      </a>
    </li>
    <li class="active">
      {{ $stateParams.moduleName }}
    </li>
  </ol>

  <h3 translate>Select an Available Version of {{ $stateParams.moduleName }}</h3>

  <div class="details-header">
    <input type="text"
           class="form-control filter-input"
           placeholder="{{ 'Filter' | translate }}"
           ng-model="filterTerm"/>
  </div>

  <table class="table table-striped table-bordered" bst-table="table" ng-class="{'table-mask': table.working}">
    <thead>
      <tr bst-table-head>
        <th bst-table-column><span translate>Author</span></th>
        <th bst-table-column><span translate>Version</span></th>
        <th bst-table-column><span translate>Summary</span></th>
        <th bst-table-column><span translate>Repositories</span></th>
        <th bst-table-column><span translate>Actions</span></th>
      </tr>
    </thead>

    <tbody>
      <tr bst-table-row ng-repeat="item in versions.results | filter:filterTerm | orderBy: ['author', '-version']">
        <td bst-table-cell >{{ item.author }}</td>
        <td bst-table-cell >{{ item.version }}</td>
        <td bst-table-cell >{{ item.summary }}</td>
        <td bst-table-cell >
          <ul ng-repeat="repo in item.repositories">
            <li>{{ repo.name }}</li>
          </ul>
        </td>
        <td bst-table-cell class="action-cell">
          <button translate
                  ng-hide="denied('edit_content_views', contentView)"
                  ng-click="selectVersion(item)">
            Select Version
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
