<span page-title ng-model="contentView">{{ 'Available Puppet Modules for Content View:' | translate }} {{ contentView.name }}</span>

<h3 translate>
  Select A New Puppet Module To Add
</h3>

<div data-extend-template="layouts/partials/table.html">
  <span data-block="no-rows-message" translate>
    No puppet modules found
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Puppet Modules.
  </span>

  <div data-block="search">
    <div class="input-group">
      <input type="text"
             class="form-control"
             placeholder="{{ 'Filter...' | translate }}"
             ng-model="table.searchTerm"
             bst-on-enter="table.search(table.searchTerm)"
             ng-trim="false"
             uib-typeahead="item.label for item in table.fetchAutocomplete($viewValue)"
             typeahead-template-url="components/views/autocomplete-scoped-search.html"/>
      <span class="input-group-btn">
        <button ng-click="table.search(table.searchTerm)" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>

  <div data-block="table">
    <table class="table table-striped table-bordered">
      <thead>
        <tr bst-table-head>
          <th bst-table-column><span translate>Name</span></th>
          <th bst-table-column><span translate>Actions</span></th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="item in table.rows">
          <td >{{ item.name }}</td>
          <td  class="action-cell">
            <button translate
                    type="button"
                    class="btn btn-default"
                    ng-hide="denied('edit_content_views', contentView)"
                    ng-click="selectVersion(item.name)">
              Select a Version
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
