<span page-title ng-model="tag">{{ 'Docker Tag: ' | translate }} {{ tag.full_name }}</span>

<div data-extend-template="layouts/page-with-breadcrumbs.html">
  <div data-block="header">
    <h2>{{ tag.full_name }}</h2>
  </div>

  <div data-block="content">
    <h4 translate>Basic Information</h4>

    <dl class="dl-horizontal dl-horizontal-left">
      <dt translate>Product</dt>
      <dd>{{ tag.product.name }}</dd>

      <dt translate>Repository</dt>
      <dd>{{ tag.repository.name }}</dd>
    </dl>

    <table bst-table="table"
           class="table table-striped"
           ng-class="{'table-mask': table.working}"
           ng-show="table.rows.length > 0">
      <thead>
        <tr bst-table-head>
          <th bst-table-column="environment" translate>Environment</th>
          <th bst-table-column="version" translate>Content View Version</th>
          <th bst-table-column="manifest" translate>Manifest</th>
          <th bst-table-column="path" translate>Published At</th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row
            ng-repeat="tag in table.rows">
          <td bst-table-cell>
            {{ tag.environment.name }}
          </td>
          <td bst-table-cell>
            {{ tag.content_view_version.name }}
          </td>
          <td bst-table-cell>
            {{ tag.manifest.name | limitTo:20 }}...
          </td>
          <td bst-table-cell>
            {{ tag.repository.full_path }}:{{ tag.name }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>