
<div data-extend-template="layouts/partials/table.html">
  <div data-block="search">
    <input type="text"
           class="form-control"
           placeholder="{{ 'Filter' | translate }}"
           ng-model="dockerTagFilter"/>
  </div>

  <span data-block="no-rows-message" translate>
    This Container Image Tag is not present in any Lifecycle Environments.
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Lifecycle Environments.
  </span>

  <div data-block="table">
    <table bst-table="table" class="table table-striped table-bordered" ng-class="{'table-mask': table.working}" ng-if="table.rows[0].repositories">
      <thead>
        <tr bst-table-head>
          <th bst-table-column="environment" translate>Environment</th>
          <th bst-table-column="version" translate>Content View Version</th>
          <th bst-table-column="path" translate>Published At</th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row
            ng-repeat="tag in table.rows | filter:dockerTagFilter">
          <td bst-table-cell>
            <a ui-sref="environment.details({environmentId: tag.environment.id})">
              {{ tag.environment.name }}
            </a>
          </td>
          <td bst-table-cell>
            <a ui-sref="content-view.version.docker({contentViewId: tag.content_view_version.content_view_id, versionId: tag.content_view_version.id})">
              {{ tag.content_view_version.name }}
            </a>
          </td>
          <td bst-table-cell>
            {{ tag.repositories[0].full_path }}:{{ tag.name }}
          </td>
        </tr>
      </tbody>
    </table>
    <table bst-table="table" class="table table-striped table-bordered" ng-class="{'table-mask': table.working}" ng-if="!table.rows[0].repositories">
      <thead>
        <tr bst-table-head>
          <th bst-table-column="environment" translate>Environment</th>
          <th bst-table-column="version" translate>Content View Version</th>
          <th bst-table-column="path" translate>Published At</th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row
            ng-repeat="repo in table.rows">
          <td bst-table-cell>
            <a ui-sref="environment.details({environmentId: repo.kt_environment.id})">
              {{ repo.kt_environment.name }}
            </a>
          </td>
          <td bst-table-cell>
            <a ui-sref="content-view.version.docker({contentViewId: repo.content_view_version.content_view_id, versionId: repo.content_view_version.id})">
              {{ repo.content_view_version.name }}
            </a>
          </td>
          <td bst-table-cell>
            {{ repo.full_path }}:{{ tag.name }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
