<form name="groupForm" class="form-horizontal" novalidate role="form">

  <div alch-form-group label="{{ 'Name' | translate }}">
    <input id="name"
           name="name"
           ng-model="group.name"
           type="text"
           tabindex="1"
           autofocus
           required/>
  </div>

  <div alch-form-group label="{{ 'Content Host Limit' | translate }}" field="max_systems">
    <span translate>Unlimited Content Hosts:</span>
    <input type="checkbox"
           name="limit"
           ng-model="unlimited"
           ng-checked="isUnlimited(group)"
           ng-change="unlimitedChanged(group)"/>

    <div alch-form-group label="{{ 'Limit' | translate }}" ng-hide="isUnlimited(group)">
      <input id="max_systems"
             name="max_systems"
             class="form-control"
             ng-model="group.max_systems"
             type="number"
             ng-change="inputChanged(group)"
             tabindex="2"/>
    </div>
  </div>

  <div alch-form-group label="{{ 'Description' | translate }}">
    <textarea id="description"
              name="description"
              ng-model="group.description"
              tabindex="3">
    </textarea>
  </div>

  <div alch-form-buttons
       on-cancel="transitionTo('system-groups.index')"
       on-save="save(group)"
       working="working">
  </div>

</form>
