@import "foremanReact/common/variables";

#redhatRepositoriesPage {
  padding: var(--pf-v5-global--spacer--md);

  // PF5 DataList items divider
  .list-item-with-divider:not(:last-child) {
    border-bottom: 1px solid var(--pf-v5-global--BorderColor--100);
  }

  .list-error-danger {
    color: var(--pf-v5-global--danger-color--100);
  }
  h1 {
    margin-bottom: 1.5rem;
  }

  .deemphasize {
    color: var(--pf-v5-global--Color--200);
  }

  .repository-name {
    font-weight: var(--pf-v5-global--FontWeight--bold);
  }

  .repository-label {
    color: var(--pf-v5-global--Color--200);
  }

  .repository-text-md {
    font-size: var(--pf-v5-global--FontSize--md);
  }

  .toolbar-pf-actions {
    margin-bottom: 0;
  }

  .search-bar-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 0.5rem;

    &.search-bar-selects-row {
      > div {
        flex: 1;

        @media (min-width: 1280px) {
          &:first-child {
            min-width: 300px;
          }

          &:last-child {
            min-width: 180px;
          }
        }
      }
    }

    .search-list-select-container {
      width: 130px;
    }

    .search-input-container {
      flex: 1;
    }
  }

  .recommended-repository-set-icon {
    color: var(--pf-v5-global--warning-color--100);
    font-size: 2em;
  }

  .available-repositories-container,
  .enabled-repositories-container {
    padding: 1rem;

    .repository-item-row {
      &:hover {
        background-color: rgba(0, 123, 186, 0.1);
      }
    }

    .repository-cell-content {
      margin-right: 0;
    }

    .repository-cell-icon {
      flex: 0 0 auto;
      margin-right: 1rem;
    }

    .repository-set-expanded {
      border: 1px solid var(--pf-v5-global--BorderColor--100);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      background-color: var(--pf-v5-global--BackgroundColor--100);
    }

    .repository-toggle-control {
      margin: 0;
    }

    .repository-expandable-content {
      padding-left: 2rem;

      .repository-item-row {
        padding-left: 1rem;
      }
    }
  }

  .available-repositories-container {
    background-color: var(--pf-v5-global--BackgroundColor--100);
    border-right: 1px solid var(--pf-v5-global--BorderColor--100);
    border-top: 1px solid var(--pf-v5-global--BorderColor--100);
  }

  .enabled-repositories-container {
    border-top: 1px solid var(--pf-v5-global--BorderColor--100);
  }

  .available-repositories-header,
  .enabled-repositories-header {
    margin-bottom: 1rem;

    h2 {
      margin: 0;
    }
  }

  .available-repositories-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2 {
      margin-right: 40px;
    }
  }

  .enabled-repositories-header {
    h2 {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .help-button-plain {
    padding: 0.25rem 0 0 0;
  }

  .ystream-help-button {
    padding: 0.25rem 0 0 0;
    margin-left: 0.5rem;
  }

  .export-csv-button {
    margin-left: auto;
  }

  .enable-repository-button,
  .disable-repository-button {
    color: var(--pf-v5-global--link--Color);

    &:hover:not(:disabled):not([aria-disabled="true"]) {
      color: var(--pf-v5-global--link--Color--hover);
    }

    &:disabled,
    &[aria-disabled="true"] {
      color: var(--pf-v5-global--disabled-color--100);
    }

    svg {
      font-size: 1.5rem;
    }
  }

  .repository-icon-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .repository-icon-badge-blue {
    border-color: var(--pf-v5-global--primary-color--100);
  }

  .repository-icon-badge-green {
    border-color: var(--pf-v5-global--success-color--100);
  }

  .enabled-repositories-container {
    background-color: var(--pf-v5-global--BackgroundColor--200);
  }

  .sticky-pagination {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--pf-v5-global--BackgroundColor--100);
    padding-top: 10px;
  }

  .sticky-pagination-grey {
    background-color: var(--pf-v5-global--BackgroundColor--200);
  }
}
