@import "~@theforeman/vendor/scss/variables";

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.list-item-with-divider:not(:last-child) {
  border-bottom: 1px solid $color-pf-black-200;
}

.list-error-danger {
  color: $color-pf-red-200;
}

#redhatRepositoriesPage {
  .deemphasize {
    color: lightgray;
  }
  .search-bar-row {
    min-height: 26px;
    margin-bottom: 20px;

    .form-group {
      box-sizing: border-box;
      width: 50%;

      div:first-child {
        display: flex;
        justify-content: space-between;
        .foreman-search-bar {
          flex-grow: 1;
          margin-left: 0.7rem;
          .pf-c-search-input {
            width: 100%;
          }
        }
      }

      &:first-child {
        padding-left: 0;
      }
    }

    .dropdown.btn-group {
      margin-right: 0.6rem;
    }

    &.search-bar-selects-row {
      width: 50%;
      .form-group {
        border: none;

        @media (min-width: 1280px) {
          &:first-child {
            min-width: 300px;
          }
          &:last-child {
            min-width: 180px;
          }
        }
      }
    }
  }

  .list-group-item-header .list-view-pf-description,
  .enabled-repositories-container .list-view-pf-description {
    width: 100%;

    .list-group-item-heading {
      white-space: pre-wrap;
    }
  }

  .list-view-pf-view {
    background-color: inherit;
  }

  .recommended-repository-set-icon {
    color: $color-pf-gold-300;
    font-size: 2em;
  }

  .available-repositories-container {
    background-color: $color-pf-white;
    border-right: $color-pf-black-300 2px solid;

    .available-repositories-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 20px;

      h2 {
        margin: 0;
        margin-right: 40px;
      }
    }
  }

  .content-view-pf-pagination {
    background-color: $color-pf-white;
    margin-bottom: 20px;
  }

  @media (min-width: 1280px) {
    .toolbar-pf-filter {
      width: 50%;

      .input-group {
        width: 400px;
      }
    }
  }

  .enabled-repositories-container {
    background-color: $color-pf-black-200;

    .pficon.list-view-pf-icon-sm {
      border-color: $color-pf-green-300;
    }
  }
}

.sticky-pagination {
  position: sticky;
  top: 60px;
  z-index: 2;
  background-color: white;
  padding-top: 10px;
}

.sticky-pagination-grey {
  background-color: $color-pf-black-200;
}
