<section class="nutupane-sub-section">
  <div bst-table="tasksTable">
    <table ng-class="{'table-mask': tasksTable.working}" class="table table-bordered table-striped">
      <thead>
      <tr bst-table-head>
        <th bst-table-column="Status" style="width: 20%" translate>Status</th>
        <th bst-table-column="Event" translate>Event</th>
        <th bst-table-column="Date" style="width: 10em" translate>Date</th>
      </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="task in tasksTable.rows">
          <td bst-table-cell>
            <div ng-class="{ active: (task.state === 'pending' || task.state === 'running') }" class="progress progress-striped">
              <span uib-progressbar value="task.progressbar.value" type="{{task.progressbar.type}}"></span>
            </div>
          </td>
          <td bst-table-cell>
            <a class="active" ng-click="tasksTable.gotoDetails(task.id)">
              {{ task.humanized.action }}
              {{ task.humanized.input | taskInputShort | taskInputCompile }}
            </a>
          </td>
          <td bst-table-cell><short-date-time date="task.started_at" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
