@charset "UTF-8";
@import "compass";
@import "mixins";
@import "colors";
@import "sprites";

//Images
$body_background_img:         url("../../../images/rh-outer-background.png") repeat-x 0 -7px #FFF !important;

body {
    background: $body_background_img;
}

#head {
  font-size: 12px;
  padding: 0;
  overflow: hidden;
  height: 40px;
  margin-bottom: 5px;
  header {
    display: block;
    ul {
      margin-top: 9px;
      display: inline-block;
      float: right;
      li {
        display: inline-block;
        margin: 0 5px;
        &.hello {
          margin-left: 30px;
        }
      }
    }
    a {
      color: $white_color;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    h1 {
      display: inline-block;
      font-size: 14px;
      letter-spacing: 0.3em;
      color: $white_color;
      margin: 9px 0 0 6px;
    }
    .pipe {
      display: inline-block;
      height: 22px;
      width: 1px;
      background-color: $white_color;
      background-color: rgba(255,255,255,0.7);
      vertical-align: middle;
      margin-top: -4px;
    }
    img {
      margin: 0 6px 6px 6px;
      display: inline-block;
      vertical-align: middle;
    }
    #loading {
      display: none;
      position: relative;
      width: 16px;
      padding: 8px 0 0 0;
    }
    #unread_notices {
      @include text-shadow(#000,0,1px,1px);
      @include border-radius(3em);
      background-color: darken($kprimary_color,24%);
      margin: 0.3em;
      padding: 0.2em 0.7em;
      width: auto;
      color: $white_color;
    }
  }
}

#subheader {
  position: relative;
  min-height: 55px;
  height: 55px;
  #s {
    font-size: 80%;
    text-align: right;
    overflow: hidden;
    padding: 10px 0 0;
    p {
      margin: 0;
    }
    div {
      position: relative;
      margin-bottom: 0;
      button {
        position: absolute;
        width: 16px; height: 16px;
        text-indent: -200em;
        right: 8px; top: 50%;
        margin: -8px 0 0;
        background-position: 0 0;
        border: none;
        padding: 0;
        &:hover {
            @include no-box-shadow;
        }
      }
      input[type="search"] {
        border-color: $headerbg_color;
        width: 80%;
      }
    }
    a {
      color: $white_color;
      margin-right: 10px;
    }
  }
}

#maincontent {
  background: $center_background_img;
  overflow: hidden;
  min-height: 200px;
  position: relative;

  .inner {
    margin-top: 4px;
    min-height: 325px;
    p {
      margin-left: 10px;
    }
  }
}
