- tab = redhat_repo_tab(@provider, tab_id)
- if tab[:products].empty?
  = _("No products are available containing this content type.")
- else
  - reset_cycle
  = render :partial=>"providers/redhat/repo_sets", :locals=>{:tab_id=>tab[:id], :orphaned_product_ids => orphaned_product_ids,
                                                               :provider=>@provider, :product_map=>tab[:products]}
