#dashboard_notifications.small_widget.scroll-pane
  %ul
  - for note in user_notices
    %li
      %span.icon_wrap.fl
        %span.fl{:class=>(note[:level]=="error" ? "error_icon" : "notice_icon")}
          &nbsp;&nbsp;
      %span
        %h5
          #{note[:date]}
        #{note[:text]}  #{link_to(_("More >>"), notices_path)}
