#dashboard_systems.big_widget.scroll-pane{"data-quantity"=>quantity}
  %ul
  - unless systems_list.empty?
    - for system in systems_list
      %li
        %div.system_entry
          .col_0.fl
            - if system.entitlements_valid?
              %span
                .icon.green_icon.fl
            - else
              %span
                .icon.red_icon.fl
          .col_1.one-line-ellipsis{:title=>system.name}
            %h5
              = link_to system.name, generate_url(systems_path, {:id => system.id}, "system")
          .col_2{:title=>_("Distribution")}
            = system.distribution
          .col_3{:title=>_("Last Checked in Date")}
            = get_checkin(system)
  - else
    =_("No systems found." )