.grid_11
  %h1 #{_("Dashboard")}
  
  %h3 Page 4000
  
  %p #{_("This is to be the Dashboard area containing Monitors, Reporting, and Workflow branches.")}
  
.grid_5
  %img{:src => '/images/biglogo.png', :alt => ''}