@import "katello";

#orgs {
  #events {
    table {
      .column_1 {
        width: 75px;
      }
    }
  }
  #show_debug_button {
    display: none;
  }
  #container {
    .left {
      #new {
        width: 10em !important;
      }
    }
  }
}