.inline-edit-display {
  align-items: center;

  .inline-edit-value {
    display: block;
    min-height: 1.5rem;
  }

  button {
    visibility: hidden;
  }

  &:hover button {
    visibility: visible;
  }
}

.inline-edit-form {
  margin-bottom: 0;

  .pf-c-form__group-control {
    width: 100%;
  }
}
