.tooltip {
  .tipsy-inner {
    max-width: 440px;
    background: #F5FAFA;
    max-height: 500px;
    overflow: hidden;
    padding: 0;

    label { color: black; margin-right: 5px; }
    p,li,pre { font-size: 110%; text-align: left; color: black; }
    pre { text-indent: 0; }
    .item-container { margin: 5px 10px 5px 6px; word-wrap: break-word; }
    .jspVerticalBar{ padding: 0 4px 0 0; }
    .details_container{ max-height: inherit; }
  }
}

.copy-tipsy {
  .tipsy-inner {
    max-width: 400px;
    background: #F5FAFA;
    max-height: 800px;
    overflow: hidden;
    padding: 16px;

    label { color: black; margin-right: 5px; }
    div { font-size: 110%; text-align: left; color: black; }
  }
}

.promotion_filters_tooltip {
  .tipsy-inner {
    max-width: 800px;
    width: 440px;
    background: #F5FAFA;
    max-height: 500px;
    overflow: hidden;
    padding: 4px;
    text-align: left;
    label { color: black; margin-right: 5px; }
    p,li,pre { font-size: 110%; text-align: left; color: black; }
    pre { text-indent: 0; }
.item-container {
 ul {
   li {
       list-style-image: none; 
           list-style-position: outside;
               list-style-type: disc;
                   margin-left: 17px;
      }
    }
  }   
    .jspVerticalBar{ padding: 0 4px 0 0; }
    .details_container{ max-height: inherit; }
  }
}

.tipsy-icon {
  background-color: #BBBBBB;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  padding: 0px 5px;
  text-decoration: none;

  .hover, &:hover {
    background-color: #000000;
  }
}
.info:after {
  content: "i"
}
.tipsy-hover {
  background-color: #000000;
}
.tipsy-nohover {
  background-color: #BBBBBB;
}
