@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin border-bottom-lr-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-topright: $radius;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-topleft: $radius;
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-top-lr-radius($radius) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-top-r-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topright: $radius;
    border-top-right-radius: $radius;
}

@mixin border-top-l-radius($radius) {
    -webkit-border-top-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    border-top-left-radius: $radius;
}

@mixin box-shadow($x,$y,$blur,$color) {
  box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  -webkit-box-shadow: $x $y $blur $color;
}

@mixin inset-box-shadow($x,$y,$blur,$color) {
  box-shadow: inset $x $y $blur $color;
  -moz-box-shadow: inset $x $y $blur $color;
  -webkit-box-shadow: inset $x $y $blur $color;
}

@mixin no-box-shadow {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

@mixin text-shadow($x,$y,$blur,$color) {
  text-shadow: $x $y $blur $color;
  -moz-text-shadow: $x $y $blur $color;
  -webkit-text-shadow: $x $y $blur $color;
}

@mixin no-text-shadow {
  text-shadow: none;
  -moz-text-shadow: none;
  -webkit-textbox-shadow: none;
}

@mixin column-count($c) {
  -moz-column-count: $c;
  -o-column-count: $c;
  -webkit-column-count: $c;
  column-count: $c;
}

@mixin column-gap($g) {
  -moz-column-gap: $g;
  -o-column-gap: $g;
  -webkit-column-gap: $g;
  column-gap: $g;
}

@mixin opacity($opacity) {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 100)";
  /* IE 5-7 */
  filter: alpha(opacity=$opacity * 100);
  /* Netscape */
  -moz-opacity: $opacity;
  /* Safari 1.x */
  -khtml-opacity: $opacity;
  /* Good browsers */
  opacity: $opacity;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -o-background-size: $size;
  -moz-background-size: $size;
  background-size: $size;
}
@mixin sliding-tree-actionbar-image-spacing {
  margin-left: 6px;
  margin-top: -1px;
}

@mixin nohover {
 .nohover {
    cursor: default;
    &:hover {
      background: $breadcrumbbg_color !important;
      color: #000;
      text-shadow: none;


      &:after { border-left-color: $breadcrumbbg_color !important; }
    }
  }
}