@charset "UTF-8";
@import "base";
@import "grid";

#main {
  ul {
   margin: 0;
   padding: 0;
   li {
     list-style-type: none;
   }
  }
  .actions {
    margin-top: 1em;
  }
}

.heading {
    display:block;
    h1,h2,h3,h4,h5 {
        display: inline-block;
        float: left;
    }
    .helptip-close {
        float: left;
    }
    .helptip-open {
        clear: both;
    }
}

#loginpage #content {
  background: none;
}
#generic #content {
  background-position: top center;
}
.alt {
    background-color: lighten($lightgrey, 35%) !important;
}

.clickable {
    cursor: pointer;
    cursor: hand;
}

.spinner {
  margin-top: 30%;
  height: 16px;
  display: block;
  /*display: none;*/
  position: relative;
  z-index: 1000;
  padding-left: 47%;
}

/* details icon for in showing ability to click into details */
.details
{
  cursor: pointer;
  cursor: hand;
  @include border-radius(5px);
  &:hover {
    background: #F2F2F2;
  }
}

.details-icon
{
  background: url("/images/icons/info.png") no-repeat scroll 98% 6px transparent;
  &:hover {
    background: url("/images/icons/info-hover.png") no-repeat scroll 98% 6px;
  }
}
/* end details icon for in place editing*/

/* editable icon for in place editing */
.editable
{
  padding: 4px 26px 4px 2px;
  background: url("/images/icons/edit.png") no-repeat scroll 98% 6px transparent;
  cursor: pointer;
  cursor: hand;
  @include border-radius(5px);
  &:hover {
    background: url("/images/icons/edit-hover.png") no-repeat scroll 98% 6px #F2F2F2;
  }
}

fieldset {
  div {
    padding: 4px 0;
  }
}
/* end editable icon for in place editing*/

#loginpage #maincontent {
    background: 0 none;
}

/* 2 pane css */
#container, .container {
  width:  100%;
  margin:0 auto;
  min-height:500px;
  .tree_breadcrumb {
    font-weight: bold;
    font-size: 115%;
    color: #FFF;
    background-color: $kselected;
    word-wrap: break-word;
    outline: 2px solid $kselected;
    padding: 5px;
    margin-bottom: 2px;
  }
}
/* right side of 2 pane below the sliding pane */
.right {
  float:right;
  width:460px;
}

.right_tree {
  float: right;
  width: 450px;
  h2 {
    margin-bottom: 0;
  }
}



/* left side of 2 pane that has clickable links */
.left {
  float:left;
  width:450px;
  min-height:500px;
  position:relative;
  z-index: 100;
    h2 {
        margin-bottom: 0;
    }
    #new {
        border-bottom: 0 none;
        padding: 8px;
        position: absolute;
        margin: 0;
        clear: right;
        text-align: center;
        width: 10em;
        right: 0;
        height: 2em;
        &.block{
            &.active{
                .arrow-right {
                    border-bottom: 19px solid transparent;
                    border-left: 17px solid $kselected;
                    border-top: 18px solid transparent;
                    right: -17px;
                }
            }
            &:hover {
              .arrow-right {
                border-left: 17px solid $listhover;
              }
            }
        }
    }
     /* search forms */
    .search {
      float: right;
      margin-bottom: 6px;
      margin-top: 6px;
      margin-right: 6px;
      position: relative;
      clear: right;
      button {
        position: absolute;
        width: 16px; height: 16px;
        text-indent: -4000em;
        margin: -8px 0 0;
        background-position: 0 0;
        border: none;
        padding: 0;
        &:hover {
          box-shadow: none;
          -webkit-shadow: none;
          -moz-box-shadow: none;
        }
      }
      input[type="text"] {
        float: right; /* webkit adds an extra padding and makes the widget narrower */
        width: 215px;
      }
    }
    .block_head {
      background-color: lighten($strokecl,8%);
      display: block;
      height: 1.3em;
      color: $lightgrey;
      .column_1, .column_2, .column_3 {
        text-align: left;
        padding-left: 1%;
        font-size: 85%;
        font-family: $headlinefont;
        color: lighten($headercl,20%);
        text-transform: uppercase;
        white-space:nowrap;
        border-right: 1px dotted darken($strokecl,20%);
          &:last-child {
            border-right: 0 none;
          }
        a, a:hover {
          display: block;
          margin: 0;
          color: inherit;
          text-decoration: none;
          &.active {
            &.sortable {
              display: inline-block;
              padding-right: 20px;
            }
            &.desc {
              background: url(/images/order-desc.png) no-repeat center right;
            }
            &.asc {
              background: url(/images/order-asc.png) no-repeat center right;
            }
          }
        }
      }
    .column_1 { width: 98%; }
    .column_2 { width: 48%; }
    .column_3 { width: 31%; }
  }
  .column_1 {
    width: 100%;
    float: left;
    height: inherit;
  }
  .column_2 {
    width: 50%;
    float: left;
    height: inherit;
  }
  .column_3 {
    width: 33%;
    float: left;
    height: inherit;
    &:last-child {
      width: 34%;
    }
  }
}
.ui-autocomplete { z-index: 300 !important }

.block {
  border-bottom: solid 1px #F2F2F2;
  padding:  4px 10px 8px 5px;
  cursor:pointer;
  position: relative;
  width: 96.6%;
  height: 30px;
  font-size: 90%;
  &.active {
    background-color: $kselected;
    color: #FFF;
    .arrow-right {
      border-bottom: 21px solid transparent;
      border-left: 21px solid $kselected;
      border-top: 21px solid transparent;
      height: 0;
      margin: 0;
      position: absolute;
      right: -21px;
      top: 0px;
      width: 0;
      z-index: 220;
    }
    a, a:hover, a:visited, a:active, a:link {
     font-color: #FFF;
    }
  }
  &.add {
    background-color: $listhover;
    color: #FFF;
  }
  &:hover {
      background-color: $listhover;
      color: #FFF;
      .arrow-right {
        border-left: 21px solid $listhover;
      }
  }
}
#systems{
  .block{
    @extend .block;
    height: 70px;

    li {
      padding: 0;
      height: 1.2em;
    }
    .column_3 {
      height: 35px;
    }
  }
}
#plans {
  .block {
    border-bottom: solid 1px #F2F2F2;
    padding:  6px 16px 6px 17px;
    cursor:pointer;
    position: relative;
    width: 416px;
    height: 17px;
    &.active {
      background-color: $listhover;
      color: #FFF;
      .arrow-right {
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid $listhover;
        border-left: none;
        height: 0;
        margin: 0;
        position: absolute;
        left: -15px;
        top: -1px;
        width: 0;
        z-index: 220;
      }
    }
  }
}
#panel-frame {
  position:absolute;
  max-width:700px;
  top: 13.2em;
  z-index: 1;
}
#subpanel-frame {
  position:absolute;
  max-width:700px;
  top: 13.2em;
  z-index: 0;
}

.subpanel {
  z-index: 0;
  border-top: 1px solid #D1D1D2;
  top: 35px;
  h2 {
    font-size: 100%;
    margin-top: 9px;
    padding-right: 170px;
  }
}

.panel {
  background-color:#F5FAFA;
  width:490px;
  height:490px;
  margin-top:0;
  position:relative;
  left:0;
  @include opacity(0);
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #D1D1D2;
  border-left: 1px solid #D1D1D2;
  border-bottom: 1px solid #D1D1D2;
  border-top: 1px solid #D1D1D2;
  z-index: 0;
  top: 0;

  .subnav {
    border: 0;
    width: inherit;
    background: transparent url(/images/3rd-level-bg.png) no-repeat bottom center;
    @include background-size(100% 29px);
    margin-bottom: 10px;
    &>ul {
      li {
          background: none;
          &.selected {
            background: none;
          }
      }
    }
  }
  .subsubnav {
    background: none transparent;
  }
  .helptip-close{
      float: right;
  }
  .helptip-open-button {
    right: 50px;
    top: 7px;
  }
}
.data  {
  padding-left: 18px;
  font-size: 100%;
}
.head {
  padding:10px;
  position: absolute;
  right: 0;
}
#list, .list {
  min-height:450px;
  border: 1px solid #B5B5B5;
  background-color: #FFF;
  font-size: 105%;
  clear: both;
  .ajax_scroll {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  li {
    cursor: pointer;
    cursor: hand;
    padding: 4px;
    height: 2.7em;
    &:hover {
      background-color: $listhover;
      color: #FFF;    
    }
  }
  .slide_link {
    background: url(/images/icons/right-arrow.png) no-repeat  right center transparent;
    margin: 6px 0;
  }
  .no_slide {
    margin: 6px 0;
  }
  .item {
    position: relative;
    top: 8px;
    padding-left: 4px;
    @include border-radius(4px);
  }
  .button {
    text-align: center;
    width: 3.7em;
  }
  #slider {
    .block {
       border-bottom: none 0;
       &:hover {
         background-color: #729FCF;
       }
    }
  }
}
#list-title, .list-title {
    display: block;
    height:74px;
    width: 449px;
    background-color: #FFF;
}
.slider { 
    width: 437px;
}

.tree_breadcrumb {
  .slide_link {
    display: inline;
  }
}


/* sync products table */
.products
{
  input[type="checkbox"],input[type="radio"] {
    margin: 3px;
    float: left;
  }
  ul {
    margin: 0;
    padding: 0 !important;
    li {
      margin: 0;
      padding: 0 !important;
      clear: both;
      input[type="checkbox"], .products input[type="radio"] {
        margin-right: 23px;
      }
    }
  }
  .repo div{
    padding-top: 3px;
  }
}
.progress {
  position: relative;
  display: block;
  height: 16px;
  display: block !important;
}
/* end sync products */

/* content locker custom css */
.shadowbox {
  @include inset-box-shadow(1px,1px,1px,rgba(0, 0, 0, 0.2));
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #D9D9D9;
  min-height: 100px;
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 0 10px 0 0;
    }
  }
}
.content_add_remove_product {
  cursor: pointer;
  cursor: hand;
  margin-right: 5px;
  width: 40px;
  text-align: center;
}
.remove_product {
  background: -moz-linear-gradient(top, #CCC, #bbb, #aaa, #999);
  background: -webkit-gradient(linear, left top, left bottom, from(#CCC), color-stop(0.9, #bbb), to(#999));
}
.add_product {
  background: -moz-linear-gradient(top, #FFF, #f0f0f0, #e5e5e5, #e9e9e9);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.9, #e5e5e5), to(#e9e9e9));
}
@mixin changeset_remove{
  font-weight: bold;
  border: 1px solid transparent;
  display: block;
  float: left;
  margin: 3px;
  padding: 5px 18px 5px 5px;
  &:hover {
    background-color: #F2F2F2;
    border-color: darken(#F2F2F2, 30%);
    @include border-radius (5px);
    background: url("/images/icons/close.png") no-repeat scroll right center transparent;
  }
}

$product_color: #070;
$package_color: #666;
$errata_color: #700;
$repo_color: #4A9FB1;
.changeset_remove_product { color: $product_color; @include changeset_remove;}
.changeset_remove_package { color: $package_color; @include changeset_remove;}
.changeset_remove_errata { color: $errata_color; @include changeset_remove;}
.changeset_remove_repo {color: $repo_color; @include changeset_remove;}

.changeset_product { color: $product_color;}
.changeset_package { color: $package_color;}
.changeset_errata { color: $errata_color; }
.changeset_repo {color: $repo_color;}




.breadcrumb { 
    list-style: none; 
    overflow: hidden; 
    font: 14px;
    position: relative;
      li { 
      float: left; 
      margin-left: 0;
        a {
        color: #000;
        text-decoration: none; 
        padding: 8px 0 8px 55px;
        background: $breadcrumbbg;                   /* fallback color */
        position: relative; 
        display: block;
        float: left;
        &:after {
          content: " "; 
          display: block; 
          width: 0; 
          height: 0;
          border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
          border-bottom: 50px solid transparent;
          border-left: 30px solid $breadcrumbbg;
          position: absolute;
          top: 50%;
          margin-top: -50px; 
          left: 100%;
          z-index: 2; 
        }
        &:before { 
          content: " "; 
          display: block; 
          width: 0; 
          height: 0;
          border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
          border-bottom: 50px solid transparent;
          border-left: 30px solid white;
          position: absolute;
          top: 50%;
          margin-top: -50px; 
          margin-left: 1px;
          left: 100%;
          z-index: 1; 
        }
     }
   }
}       
.breadcrumb li:first-child a {
    padding-left: 20px;
    @include border-left-radius(5px);
}
.breadcrumb li:nth-child(2) a { 
  background: $breadcrumbbg;
  &:after { border-left-color: $breadcrumbbg; }
}
.breadcrumb li:last-child a {
    padding-right: 30px;
    @include border-right-radius(5px);
    &:hover {
      color: #FFF;
      background: $listhover !important;
    }
    &:after { 
      border: 0;
      &:hover {
        border-left-color: $listhover !important;
      }
    }
}
.breadcrumb li a:hover { 
  background: $listhover !important; color: #FFF; @include text-shadow(2px ,2px,2px,rgba(0,0,0,0.6));
  &:after {
    border-left-color: $listhover !important;
  }
}
.breadcrumb li a.active { 
  background: $kselected; color: white;
  &:hover:after {
    border-left-color: $listhover !important;
  }
  &:after {
    border-left-color: $kselected !important;
  }
}


#changeset_loading {
    position: absolute;
    opacity: .8;
    background-color: white;
    z-index: -1;
    width: 440px; 
    height: 415px;
    .text {
        //vertically center
        height: 10em;
        margin-top:-5em;
        top: 50%;
        width: 50%;
        text-align: center; 
       // display:inline;
        position:relative;
        margin-left:auto;
        margin-right:auto;
    }
}

#changeset_tree {
  #cslist {
    height: 415px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .breadcrumb_search {
    display: block;
    width: 450px;
    font-weight: bold;
    color: #FFF;
    background-color: $kselected;
    word-wrap: break-word;
    margin: -2px 0 0 -2px;
    border: 2px solid $kselected;
    #search_form {
        display: none;
        margin-right: 106px;
    }
    .search {
        position: relative;
        clear: both;
        display: inline-block;
        margin: 5px auto;

    }
    .tree_breadcrumb {
        display: inline-block;
        outline: 0 none;
        width: 90%;
        padding-bottom: 3px;
    }
  }
  #changeset_users { 
    background-color: $lightkprimary;
    margin-bottom: 5px;
    display: block;
  }
}
/* end content locker custom css */

/* begin helptip */
.helptip-open {
  background-color: #EEE;
  display: block; 
  padding: 12px;
  border: 1px solid #DDD;
  width: 80%;
  margin: 10px auto 5px auto;
  @extend .clearfix;
}

.helptip-open-button {
  background: url(/images/icons/action-icons.png) no-repeat 0 0;
  background-position: -336px 0; 
  height: 16px;
  width: 16px;
  z-index: 200;
  position: absolute;
  &:hover {
    background-position: -336px -16px;
  }
  @extend .clearfix
}

.helptip-close-button {
  position: relative;
  float: right;
  height: 16px;
  width: 16px; 
  margin: 0px;
  background: url(/images/icons/action-icons.png) no-repeat 0 0;
  background-position: -32px 0;
  &:hover {
    background-position: -32px -16px;
  }
}
.helptip-close {
    display: block;
    margin: 4px 4px 4px 8px;
    height: 18px;
}
/* end helptip */

/* begin product icons */
.sprite {
  background: url(/images/icons/objects.png) no-repeat 0 0;
  height: 16px;
  width: 16px;
  position: absolute;
  margin-top: 2px;
}
.custom-product-sprite {
  background-position: -16px 0;
  @extend .sprite;
}

.rh-product-sprite {
  background-position: -48px 0;
  @extend .sprite;
}

.product-icon {
  padding-left: 18px;
  vertical-align:middle;
}
/* end product icons */

/* begin simple pass meter css */
.simplePassMeter {
  border: 1px solid #aaa;
  background-color: #f3f3f3;
  color: #666;
  font-size: 0.8em;
  padding: 1px 5px 0 5px;
  margin: 0;
  width: 19em;
  margin-bottom: 10px;
}
  
.meterFail { border: 1px solid #daa; background-color: #fdd; }
.meterWarn { border: 1px solid #fd6; background-color: #feb; }
.meterGood { border: 1px solid #ada; background-color: #dfd; }
.meterExcel { border: 1px solid #aad; background-color: #ddf; }

.simplePassMeterBar { background-color: #ddd; }
.meterFail .simplePassMeterProgress  { background-color: #f66; }
.meterWarn .simplePassMeterProgress  { background-color: #fd6; }
.meterGood .simplePassMeterProgress  { background-color: #ada; }
.meterExcel .simplePassMeterProgress { background-color: #88f; }

.simplePassMeter p { margin: 0; }
.simplePassMeterIcon { height: 16px; width: 16px; float: left; }
.meterFail .simplePassMeterIcon,
.meterWarn .simplePassMeterIcon,
.meterGood .simplePassMeterIcon,
.meterExcel .simplePassMeterIcon {
  background-image: url('/images/simplePassMeterSprite.png');
  background-repeat: no-repeat;
}
.meterExcel .simplePassMeterIcon { background-position: 0 0; }
.meterFail .simplePassMeterIcon { background-position: 0 -17px; }
.meterGood .simplePassMeterIcon { background-position: 0 -34px; }
.meterWarn .simplePassMeterIcon { background-position: 0 -51px; }

.simplePassMeterText { margin-left: 2px; }
/* end  simple pass meter css */
  
.permission {
  display: inline-block;
  margin-bottom:10px;
  margin-top:10px;
}

/*multi select*/
.ui-multiselect { border: solid 1px #B5B5B5; font-size: 0.8em; }
.ui-multiselect ul { -moz-user-select: none; }
.ui-multiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; height: 20px; font-size: 11px; list-style: none; }
.ui-multiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-multiselect li.ui-draggable-dragging { padding-left: 10px; }

.ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
.ui-multiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-multiselect ul.selected li { }

.ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid; }
.ui-multiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; width: 100%; }
.ui-multiselect ul.available li { padding-left: 10px; }

.ui-multiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
.ui-multiselect .ui-state-hover { border: none; }
.ui-multiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px;}

.ui-multiselect .add-all { float: right; padding: 7px;}
.ui-multiselect .remove-all { float: right; padding: 7px;}
.ui-multiselect .search { float: left; padding: 4px;}
.ui-multiselect .count { float: left; padding: 7px;}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
.ui-multiselect li a.multi-action { position: absolute; right: 2px; top: 2px; }

.ui-multiselect input.search { height: 14px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }

.ui-resizable-e {
    background: url("/images/icons/grabber.png") 1px 50% no-repeat;
}  

#unread_notices {
            @include text-shadow(0,1px,1px, #000);
            @include border-radius(3em);
            background-color: darken($kprimary,10%);
            margin: 0.3em;
            padding: 0.2em 0.7em;
            width: auto;
            color: #FFF;
            @include box-shadow(0, 1px, 1px, #000);
}

.product-icon {
  vertical-align:middle;
}

.promoted {
 font-size: 11px;           
 font-style: italic;     
 line-height: 30px;      
 text-align: center;     
 width: 71px;   
 @include opacity(.7);
}

.product_arch {
  font-size: 11px;
  display: inline;
}


.sp {
    width: 90px;
    padding-top: 8px;
}

/*Environment selector stuff*/

#path-widget {
 margin: 0 auto;
 width: 50%;
}

#path-controller {
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    
    padding: 6px;

}
.path_selector {
    display: inline;
    float: right;

    vertical-align:middle;
    margin-top: 8px;
}

.path_selected {
   display: inline;
   padding-bottom: 6px;
   margin-bottom: 6px;

}
.path_entry_selected {
      background-color: $lightgrey;


}
.path_entry {
    padding-left: 6px;
    padding-right: 33px;
    padding-top: 6px;
    padding-bottom: 6px;
    &:hover {
      background-color: $lightgrey;
      color: #FFF;
    }

}
.path_entries {
    @include box-shadow(4px,4px,2px,rgba(0, 0, 0, 0));
 
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3;

    display: none;

    z-index: 200;
    position: absolute;
    background-color: #FFF;
}