$body_background_img:         image-url("embed/outer-background.png") repeat-x 0 -7px #FFF;
$center_background_img:       image-url("embed/center-background.png") no-repeat center top transparent;
$third_level_background_img:  image-url("embed/3rd-level-bg.png") no-repeat bottom center transparent;
$subnav_shadow_img:           image-url("embed/subnav-shadow.png") repeat-x 0 bottom transparent;
$footer_shade_img:            image-url("embed/footer-shade.png") repeat-x 0 0 transparent;
$order_desc_img:              image-url("embed/icons/order-desc.png") no-repeat center right;
$order_asc_img:               image-url("embed/icons/order-asc.png") no-repeat center right;
$ui_totop_img:                image-url("embed/icons/ui.totop.png") no-repeat left top;
$ui_totop_hover_img:          image-url("embed/icons/ui.totop.png") no-repeat left -32px;
$ninesixty_img:               image-url("embed/960.png") repeat-y top center;
$input_background_img:        image-url("embed/input-bg.png") repeat-x 0 0 #f0f0f0;
$arrow_min_img:               image-url("embed/icons/expander-collapsed.png") no-repeat top center;
$arrow_max_img:               image-url("embed/icons/expander-expanded.png") no-repeat top center;
$info_icon:                   image-url("embed/icons/info.png") no-repeat scroll 98% 6px transparent;
$info_hover_icon:             image-url("embed/icons/info.png") no-repeat scroll 98% 6px transparent;
$edit_icon:                   image-url("embed/icons/edit.png") no-repeat scroll 98% 6px transparent;
$edit_hover_icon:             image-url("embed/icons/edit-hover.png") no-repeat scroll 98% 6px #F2F2F2;
$home_icon_black:             image-url("embed/icons/breadcrumb-icons.png") -16px -16px no-repeat;
$home_icon_green:             image-url("embed/icons/breadcrumb-icons.png") -16px 0px no-repeat;
$locked_icon:                 image-url("embed/icons/locked.png") 0 0 no-repeat;
$dotdotdot_icon:              image-url("embed/icons/dotdotdot.png") no-repeat right bottom transparent;
$close_icon:                  image-url("embed/icons/close.png") no-repeat scroll right center transparent;
$search_icon_black:           image-url("embed/icons/breadcrumb-icons.png") 0px -16px no-repeat;
$icon_search_grey:            image-url("embed/icons/icon_search.png") no-repeat 0 0;
$grabber_icon:                image-url("embed/icons/grabber.png") 1px 50% no-repeat;
$status_icon_green:           image-url("embed/icons/status.png") no-repeat 0 0;
$status_icon_yellow:          image-url("embed/icons/status.png") no-repeat 0 -10px;
$status_icon_red:             image-url("embed/icons/status.png") no-repeat 0 -25px;
$status_exclamation_icon:     image-url("embed/icons/statusicons.png") no-repeat 0 0;
$status_confirm_icon:         image-url("embed/icons/statusicons.png") no-repeat -16px 0;
$status_alert_icon:           image-url("embed/icons/statusicons.png") no-repeat -32px 0;
$status_icons_green:          image-url("embed/icons/status_icons_sprite.png") no-repeat 0 0;
$status_icons_green_small:    image-url("embed/icons/status_icons_sprite.png") no-repeat 1px -26px;
$status_icons_yellow:         image-url("embed/icons/status_icons_sprite.png") no-repeat -53px 0;
$status_icons_yellow_small:   image-url("embed/icons/status_icons_sprite.png") no-repeat -30px -25px;
$status_icons_red:            image-url("embed/icons/status_icons_sprite.png") no-repeat -25px 0;
$status_icons_red_small:      image-url("embed/icons/status_icons_sprite.png") no-repeat -15px -25px;
$icon_menu_arrow:             image-url("embed/icons/icon_menu_arrow.gif") no-repeat 0 0;

//Images
$spinner_img:                 image-url("alchemy/icons/spinner.gif") no-repeat 0 0 transparent;

$arrow_min_img_small:         image-url("alchemy/icons/action-icons.png")  -544px -16px no-repeat;
$arrow_max_img_small:         image-url("alchemy/icons/action-icons.png")  -528px -16px no-repeat;
$x_icon_grey:                 image-url("alchemy/icons/action-icons.png")  -32px 0px no-repeat;
$x_icon_black:                image-url("alchemy/icons/action-icons.png")  -32px -16px no-repeat;
$add_icon_black:              image-url("alchemy/icons/action-icons.png")  -48px -16px no-repeat;
$edit_icon_black:             image-url("alchemy/icons/action-icons.png")  -16px -16px no-repeat;
$circle_x_icon_black:         image-url("alchemy/icons/action-icons.png")  -160px -16px no-repeat;
$circle_x_icon_grey:          image-url("alchemy/icons/action-icons.png")  -160px 0px no-repeat;
$play_icon_black:             image-url("alchemy/icons/action-icons.png")  -176px -16px no-repeat;
$play_icon_grey:              image-url("alchemy/icons/action-icons.png")  -176px 0 no-repeat;
$comp_icon_black:             image-url("alchemy/icons/action-icons.png")  -320px -16px no-repeat;
$search_icon_white:           image-url("alchemy/icons/action-icons.png") no-repeat 0 0;
$base_product_icon:           image-url("alchemy/icons/objects.png") no-repeat 0 0;
$custom_product_icon:         image-url("alchemy/icons/objects.png") no-repeat -16px 0;
$rh_product_icon:             image-url("alchemy/icons/objects.png") no-repeat -48px 0;
$arrow_icon_menu:             image-url("alchemy/icons/arrow_icon.png") no-repeat -26px 0;
$arrow_icon_menu_hover:       image-url("alchemy/icons/arrow_icon.png") no-repeat -13px 0;
$gears_icon_black:            image-url("alchemy/icons/action-icons.png") -64px -16px no-repeat;
$gears_icon_grey:             image-url("alchemy/icons/action-icons.png") -64px 0px no-repeat;
$warning_icon_triangle:       image-url("alchemy/icons/action-icons.png") -384px -16px no-repeat;
$warning_icon_black:          image-url("alchemy/icons/action-icons.png") -432px -16px no-repeat;
$error_icon_black:            image-url("alchemy/icons/action-icons.png") -384px -16px no-repeat;
$check_icon_black:            image-url("alchemy/icons/action-icons.png") -448px -16px no-repeat;
$clock_icon_black:            image-url("alchemy/icons/action-icons.png") -464px -16px no-repeat;
$gear_icon:                   image-url("alchemy/icons/action-icons.png") -480px 0px no-repeat;
$gear_icon_dark:              image-url("alchemy/icons/action-icons.png") -480px -16px no-repeat;
$plus_icon_black:             image-url("alchemy/icons/action-icons.png") -400px -16px no-repeat;
$bug_icon_black:              image-url("alchemy/icons/action-icons.png") -416px -16px no-repeat;
$shield_icon_black:           image-url("alchemy/icons/action-icons.png") -432px -16px no-repeat;
$download_icon_black:         image-url("alchemy/icons/action-icons.png") -513px 0px no-repeat;
$download_icon_grey:          image-url("alchemy/icons/action-icons.png") -513px -16px no-repeat;
$details_icon_grey:           image-url("alchemy/icons/action-icons.png") -257px 0px no-repeat;
$details_icon_black:          image-url("alchemy/icons/action-icons.png") -257px -16px no-repeat;
$package_icon_grey:           image-url("alchemy/icons/action-icons.png") -560px 0px no-repeat;
$package_icon_black:          image-url("alchemy/icons/action-icons.png") -560px -16px no-repeat;
$erratum_icon_grey:           image-url("alchemy/icons/action-icons.png") -576px 0px no-repeat;
$erratum_icon_black:          image-url("alchemy/icons/action-icons.png") -576px -16px no-repeat;
$system_group_icon_grey:      image-url("alchemy/icons/action-icons.png") -590px 0px no-repeat;
$system_group_icon_black:     image-url("alchemy/icons/action-icons.png") -590px -16px no-repeat;

@mixin action-icon($icon) {
    background: $icon;
    margin-left: 6px;
    margin-top: -1px;
    &:hover {

    }
}

