<span page-title ng-model="environment">{{ 'Lifecycle Environment:' | translate }} {{ environment.name }}</span>

<div data-block="left-column">
  <h4 translate>Basic Information</h4>

  <dl class="dl-horizontal dl-horizontal-left">
    <dt translate>Name</dt>
    <dd bst-edit-text="environment.name"
        on-save="save(environment)"
        readonly="denied('edit_lifecycle_environments', environment) || environment.library">
    </dd>

    <dt translate>Label</dt>
    <dd>{{ environment.label }}</dd>

    <dt translate>Description</dt>
    <dd bst-edit-textarea="environment.description"
        on-save="save(environment)"
        readonly="denied('edit_lifecycle_environments', environment) || environment.library">
    </dd>
  </dl>

  <h4 translate>Container Image Registry</h4>

  <dl class="dl-horizontal dl-horizontal-left">
    <dt translate>Unauthenticated Pull</dt>
    <dd bst-edit-checkbox="environment.registry_unauthenticated_pull"
        formatter="booleanToYesNo"
        on-save="save(environment)"
        readonly="denied('edit_lifecycle_environments', environment)">
    </dd>
    <dt translate>Registry Name Pattern</dt>
    <dd>
      <div bst-edit-textarea="environment.registry_name_pattern"
           on-save="save(environment)"
           readonly="denied('edit_lifecycle_environments', environment)">
      </div>
      <div bst-alert='info'>
        <span translate>
          Registry Name Pattern Examples:<i>
          <br>&lt;%= organization.label %&gt;-&lt;%= lifecycle_environment.label %&gt;-&lt;%= content_view.label %&gt;-&lt;%= product.label %&gt;-&lt;%= repository.label %&gt;
          <br>&lt;%= organization.label %&gt;/&lt;%= repository.docker_upstream_name %&gt;
          </i>
        </span>
      </div>
    </dd>
  </dl>
</div>
