<div data-extend-template="layouts/partials/table.html">
  <div data-block="search-filter">
    <select class="form-control" ng-model="contentView" ng-change="contentViewSelected(contentView)" ng-options="contentView.name for (id, contentView) in contentViews"></select>
    <select class="form-control" ng-model="repository" ng-change="repositorySelected(repository)" ng-options="repository.name for (id, repository) in repositories"></select>
  </div>

  <span data-block="no-rows-message" ng-bind="getNoRowsMessage()"></span>
  <span data-block="no-search-results-message" ng-bind="getZeroResultsMessage()"></span>

  <table data-block="table" class="table table-striped table-bordered">
    <thead>
      <tr bst-table-head>
        <th bst-table-column translate>Name</th>
        <th bst-table-column translate>Product</th>
        <th bst-table-column translate>Repository</th>
      </tr>
    </thead>

    <tbody>
      <tr bst-table-row ng-repeat="dockerTag in table.rows">
        <td bst-table-cell>
          <a ng-href="/docker_tags/{{ dockerTag.id }}">{{ dockerTag.name }}</a>
        </td>
        <td bst-table-cell>
          <a ng-href="/products/{{ dockerTag.product.id }}/repositories/{{ dockerTag.repository.id }}">{{ dockerTag.product.name }}</a>
        </td>
        <td bst-table-cell>{{ dockerTag.repository.full_path }}</td>
      </tr>
    </tbody>
  </table>
</div>
