<section class="details-page">

  <ol class="breadcrumb">
    <li>
      <a ui-sref="environments.index" translate>Environments List</a>
    </li>
    
    <li class="active">
      <a translate>
        {{ environment.name }} Environment
      </a>
    </li>
  </ol>

  <div class="row">
    <h1 class="col-sm-12">
      <span translate>Environment: {{ environment.name }}</span>
      <button ng-show="!environment.library && !environment.successor"
              ng-click="remove(environment)"
              class="btn btn-default fr">
        <i class="fa fa-trash-o inline-icon"></i>
        Remove Environment
      </button>
    </h1>
  </div>

  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <nav>
    <ul class="nav nav-tabs">

      <li ng-repeat="type in contentTypes" ng-class="{active: isState('environments.environment.' + type.state)}">
        <a ng-href="{{ $state.href('environments.environment.' + type.state, {environmentId: environment.id}) }}">
          <span translate>{{ type.display }}</span>
        </a>
      </li>

      <li ng-class="{active: isState('environments.environment.details')}">
        <a ui-sref="environments.environment.details({environmentId: environment.id})">
          <span translate>Details</span>
        </a>
      </li>

    </ul>
  </nav>

  <div ui-view></div>

</section>
