<span page-title ng-model="environment">{{ 'Lifecycle Environment:' | translate }} {{ environment.name }}</span>

<div data-extend-template="layouts/details-page-with-breadcrumbs.html">
  <header data-block="header">
    {{ environment.name }}
  </header>

  <div data-block="item-actions">
    <button ng-show="!environment.library && !environment.successor"
            ng-click="remove(environment)"
            type="button"
            class="btn btn-default">
      <span translate>Remove Environment</span>
    </button>
  </div>

  <nav data-block="navigation">
    <ul class="nav nav-tabs details-nav">
      <li ng-class="{active: isState('environment.details')}">
        <a ui-sref="environment.details({environmentId: environment.id})">
          <span translate>Details</span>
        </a>
      </li>

      <li ng-repeat="type in contentTypes" ng-class="{active: isState('environment.' + type.state)}"
          ng-if="type.display !== false"
          ng-show="type.repositoryType == undefined || repositoryTypeEnabled(type.repositoryType)">
        <a ng-href="{{ $state.href('environment.' + type.state, {environmentId: environment.id}) }}">
          <span translate>{{ type.display }}</span>
        </a>
      </li>

      <li uib-dropdown
          ng-class="{active: stateIncludes('environment.docker.tags') || stateIncludes('environment.docker.audits')}"
          ng-show="repositoryTypeEnabled('docker')">
        <a uib-dropdown-toggle>
          <span translate>Container Images</span>
          <i class="fa fa-chevron-down"></i>
        </a>
        <ul uib-dropdown-menu>
          <li>
            <a ui-sref="environment.docker.tags">
              <span translate>Tags</span>
            </a>
          </li>
          <li>
            <a ui-sref="environment.docker.audits">
              <span translate>Audits</span>
            </a>
        </ul>
      </li>
    </ul>
  </nav>

  <section data-block="content">
    <div ui-view></div>
  </section>
</div>
