.alch-confirm-modal {
  .alch-dialog {
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    width: 400px;
    z-index: 105;
  }

  .modal-mask {
    position: fixed;
    z-index: 104;
  }
}
