div.alch-dialog.open.info-value {
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: #999 0 2px 2px;
  position: absolute;
  padding: 10px;
  z-index: 2;
  width: 400px;

  .form input[type="text"] {
    width: 150px;
  }
}

.alch-multiselect {
  ul {
    list-style: none;
    max-height: 100px;
    overflow-y: auto;
    padding: 15px
  }
}
