<span>
  <form class="form add-item">
    <h5>{{ "Add New Item" | i18n}}</h5>
    <input type="text" ng-model="newKey" type="text" placeholder="{{ 'Key' | i18n }}">
    <input type="text" ng-model="newValue" type="text" placeholder="{{ 'Value'| i18n }}">

      <span ng-show="workingMode">
        <i class="icon-spinner inline-icon icon-spin"></i>
        <span>{{ "Working" | i18n }}</span>
      </span>
    <button class="btn primary small"
            ng-click="add({value: {keyname: newKey, value: newValue}})"
            ng-hide="workingMode">
      {{ "Add" | i18n }}
    </button>
  </form>
</span>