<div class="alch-confirm-modal" ng-show="showConfirm">
  <div class="modal-mask"></div>
  <div class="alch-dialog" ng-class="{open: showConfirm}" >
    <i class="icon-remove clickable fr" ng-click="showConfirm = false"></i>
    <span ng-transclude></span>
    <div class="alch-button-container">
      <button translate class="btn btn-primary" ng-click="action(value)">Yes</button>
      <button translate class="btn btn-default" ng-click="showConfirm = false">No</button>
    </div>
  </div>
</div>
