<div>
  <div class="value" ng-class="{ 'editable clickable' : !readonly }" ng-click="edit()" ng-hide="editMode || savingMode">
    <span class="editable-value">{{ model }}</span>
    <i class="icon-edit inline-icon fr" ng-hide="editMode || readonly"></i>
  </div>
  <div ng-show="savingMode"><i class="icon-spinner inline-icon icon-spin"></i><span>Saving...</span></div>
  <button class="btn primary small fl"
          ng-click="save()" 
          ng-disabled="disableSave" 
          ng-show="editMode">
    {{ "Save" | i18n }}
  </button>
  <button class="btn small fl"
          ng-click="cancel()"
          ng-show="editMode"
          ng-disabled="disableCancel">
    {{ "Cancel" | i18n }}
  </button>
</div>
