<div class="alch-confirm-modal" ng-show="showConfirm">
  <div class="modal-mask"></div>
  <div class="alch-dialog" ng-class="{open: showConfirm}" >
    <i class="icon-remove clickable fr" ng-click="showConfirm = false"></i>
    <span ng-transclude></span>
    <div class="alch-button-container">
      <button class="btn primary small" ng-click="action(value)">{{ "Yes" | i18n }}</button>
      <button class="btn secondary small" ng-click="showConfirm = false">{{ "No" | i18n }}</button>
    </div>
  </div>
</div>
