<span page-title>{{ 'Repository Discovery' | translate }}</span>

<div class="row">
  <form ng-submit="discover()" role="form" class="col-sm-6">
    <div class="input-group">

      <input type="url"
             class="form-control input-lg"
             placeholder="{{ 'URL to discover' | translate }}"
             ng-model="discovery.url"
             ng-disabled="discovery.pending"/>

      <span class="input-group-btn input-group-lg">
        <button ng-show="!discovery.pending && permitted('edit_products')"
               ng-disabled="!discovery.url"
               translate
               type="submit"
               class="btn btn-primary btn-lg">
          Discover
        </button>

        <button type="button"
                ng-disabled="discovery.working"
                ng-show="discovery.pending && permitted('edit_products')"
                ng-click="cancelDiscovery()"
                class="btn btn-primary btn-lg">
          <i class="fa fa-spinner fa-spin" ng-show="discovery.pending"></i>
          {{ 'Cancel' | translate }}
        </button>
      </span>

    </div>
  </form>
</div>

<section class="nutupane-sub-section row">
  <div class="row">
    
    <h3 class="col-sm-12" translate>Results</h3>

    <div class="col-sm-4">
      <input type="text"
             class="form-control"
             placeholder="{{ 'Filter' | translate }}"
             ng-model="discoveryTable.filterTerm"/>
    </div>

    <div class="fr">
      <div class="fl nutupane-info">
        <span translate>{{ discoveryTable.numSelected }} Selected</span>
      </div>   

      <div ng-hide="system.readonly" class="nutupane-actions fr">
        <button class="btn btn-primary"
                translate
                ng-hide="denied('create_products')"
                ng-disabled="discoveryTable.getSelected().length == 0"
                ng-click="setupSelected()">
            Create Selected
        </button>
      </div>      
    </div>

  </div>

  <div class="col-sm-12">
    <table bst-table="discoveryTable" class="table table-striped">
      <thead>
        <tr bst-table-head row-select>
          <th bst-table-column translate>Discovered URLs</th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row
            row-select="urlRow"
            ng-repeat="urlRow in discoveryTable.rows | filter:discoveryTable.filterTerm">
          <td bst-table-cell>{{ urlRow.path }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
