<span page-title>{{ 'Create Repositories' | translate }}</span>

<form name="productForm" class="col-sm-5" ng-disabled="creating()" novalidate role="form">

  <section>
    <div bst-alerts error-messages="productErrorMessages"></div>

    <h4 translate>Create Repositories Within:</h4>

    <div bst-form-group>
      <label class="checkbox-inline">
        <input type="radio"
        name="newProduct"
        value="false"
        ng-model="createRepoChoices.newProduct"
        ng-disabled="creating()"/>
        <span translate>Existing Product</span>
      </label>

      <label class="checkbox-inline">
        <input type="radio"
        name="newProduct"
        value="true"
        ng-model="createRepoChoices.newProduct"
        ng-disabled="creating()"/>
        <span translate>New Product</span>
      </label>
    </div>


    <div ng-hide="createRepoChoices.newProduct === 'true'">
      <div bst-form-group label="{{ 'Product' | translate }}">
        <select class="form-control" ng-disabled="creating()"
          ng-model="createRepoChoices.existingProductId"
          ng-options="product.id as product.name for product in products">
        </select>
      </div>
    </div>

    <div ng-show="createRepoChoices.newProduct === 'true'">
      <div bst-form-group label="{{ 'Name' | translate }}">
        <input ng-model="createRepoChoices.product.name"
        id="name"
        name="name"
        type="text"
        class="form-control"
        tabindex=1
        ng-required="createRepoChoices.newProduct === 'true'"/>
      </div>

      <div bst-form-group label="{{ 'Label' | translate }}">
        <input ng-model="createRepoChoices.product.label"
        id="label"
        name="label"
        type="text"
        class="form-control"
        tabindex=2
        ng-required="createRepoChoices.newProduct === 'true'"/>
      </div>

      <div bst-form-group label="{{ 'GPG Key' | translate }}">
        <select class="form-control" ng-model="createRepoChoices.product.gpg_key_id"
          ng-options="gpg_key.id as gpg_key.name for gpg_key in gpgKeys">
        </select>
      </div>
    </div>
  </section>

  <section>
    <div bst-form-group label="{{ 'Options' | translate }}">
      <input type="checkbox"
      id="unprotected"
      ng-model="createRepoChoices.unprotected"
      ng-disabled="creating()"/>
      <span translate>Serve via HTTP.</span>
    </div>
  </section>

  <section>
    <h4 ng-show="discovery.selected.length > 0" translate>Selected URLs:</h4>

    <div ng-repeat="repo in discovery.selected">

      <div class="col-sm-offset-0 bottom-padding">
        <i class="fa fa-angle-right"></i>
        <span>{{  repo.url }}</span>
        <i class="fa fa-check" ng-show="repo.created"></i>
      </div>

      <div bst-form-group label="{{ 'Name' | translate }}">
        <input ng-model="repo.name"
        ng-disabled="creating() || repo.created"
        name="repo_name"
        type="text"
        class="form-control"
        required/>
      </div>

      <div bst-form-group label="{{ 'Label' | translate }}">
        <input ng-model="repo.label"
        ng-disabled="creating() || repo.created"
        name="repo_label"
        type="text"
        class="form-control"
        required/>
      </div>
    </div>
    <button ng-click="createRepos()"
      ng-disabled="creating() || !requiredFieldsEnabled()"
      translate
      class="btn btn-primary">
      <i class="pficon-add-circle-o inline-icon"></i>	Create
      <i class="fa fa-spinner fa-spin" ng-show="creating()"></i>
    </button>
  </section>
</form>
