%nav#orgSwitcherNav.nav.left{"ng-class" => "{'active-item': orgSwitcherVisible}"}
  %ul#organizationSwitcher.menu-container{"ng-click" => "toggleOrgSwitcher()", "ng-cloak" => ''}
    %li.menu-item
      - if current_organization && !current_organization.name.nil?
        %a.menu-item-link.organization-name.clickable{:title=>"#{current_organization.name}", "ng-class" => "{'active-item': orgSwitcherVisible}"}
          = current_organization.name
          %i.down_arrow_icon-white
      - elsif user.allowed_organizations.length == 0
        %a.menu-item-link.organization-name{"ng-class" => "{'active-item': orgSwitcherVisible}"}
          = _("No Organization")
      - else
        %a.menu-item-link.organization-name.clickable{:title=>""}
          = _("Select an Organization")
          %i.down_arrow_icon-white
      %ul.dropdown{"ng-show" => "orgSwitcherVisible", "ng-class" => "{'dropdown-active': true}"}
        %li
          %ul#allowed-orgs