/* Override this file with custom rules */

.docstring code, .docstring .object_link a {
    padding: 1px 3px;
    border: 1px solid #eef;
    background: #f5f5ff;
}

#filecontents pre.code, .docstring pre.code, .tags pre.example, .docstring code, .docstring .object_link a {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
