<a href="" ng-click="transitionBack()">
  <i class="icon-backward"></i>
  {{ "Back" | i18n }}
</a>

<h3>
  {{ "Event Details" | i18n }}
</h3>

<div class="nutupane-sub-section">
  <div class="details">
    <section>
      <div class="detail">
        <span class="info-label">{{ "Summary" | i18n }}</span>
        <span class="info-value">{{ event.human_readable_message }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "State" | i18n }}</span>
        <i class="icon-spinner icon-spin" ng-show="event.pending"></i>
        <span class="info-value">{{ event.state }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Started At" | i18n }}</span>
        <span class="info-value">{{ event.start_time | date:"short"  }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Request" | i18n }}</span>
        <span class="info-value">{{ event.message | date:"short"  }}</span>
      </div>

      <div class="detail">
          <span class="info-label">{{ "Parameters" | i18n }}</span>
          <span class="info-value">{{ event.human_readable_parameters }}</span>
      </div>
    </section>
    <div class="divider"></div>
    <section>

      <div class="detail">
          <span class="info-label">{{ "Result" | i18n }}</span>
          <span class="info-value">
            <div ng-repeat="item in event.human_readable_result">
              {{ item }}
            </div>
          </span>
      </div>
    </section>
  </div>
</div>
