<section class="nutupane-sub-section">
  <div class="nutupane-titlebar">
    <h1 class="nutupane-title">{{ "Current Subscription(s)" | i18n }}</h1>
  </div>
  <div class="nutupane-actionbar">
    <div class="form">
      <input type="text"
             class="input input-search"
             placeholder="{{ 'Filter' | i18n }}"
             ng-model="currentSubscriptionsTable.filter">
      <span class="result-count">Showing {{ currentSubscriptionsTable.rows.length }} of {{ currentSubscriptionsTable.resource.subtotal }} ({{ currentSubscriptionsTable.resource.total }} Total) Subscriptions</span>
    </div>
    <div class="fr select-action">
      <span>{{ currentSubscriptionsTable.numSelected }} Selected</span>
      <span>|</span>
      <a class="deselect-action"
         ng-class="{ 'disabled-link' : currentSubscriptionsTable.numSelected == 0 }"
         ng-click="currentSubscriptionsTable.selectAll(false)">
        Deselect All
      </a>
    </div>
  </div>

  <div alch-table="currentSubscriptionsTable">
    <div alch-container-scroll control-width="table" alch-infinite-scroll="table.nextPage()">
      <table ng-class="{'table-mask': table.working}" class="table table-full table-striped">
        <thead>
        <tr alch-table-head row-select>
          <th alch-table-column="name">{{ "Name" | i18n }}</th>
          <th alch-table-column="sla">{{ "SLA" | i18n }}</th>
          <th alch-table-column="contract">{{ "Contract" | i18n }}</th>
          <th alch-table-column="quantity">{{ "Quantity" | i18n }}</th>
          <th alch-table-column="startDate">{{ "Start Date" | i18n }}</th>
          <th alch-table-column="endDate">{{ "End Date" | i18n }}</th>
        </tr>
        </thead>

        <tbody>
          <tr alch-table-row ng-repeat="subscription in table.rows | filter:table.filter" row-select>
            <td alch-table-cell>{{ subscription.poolName }}</td>
            <td alch-table-cell>{{ subscription.sla }}</td>
            <td alch-table-cell>{{ subscription.contractNumber }}</td>
            <td alch-table-cell>{{ subscription.quantity }}</td>
            <td alch-table-cell>{{ subscription.startDate | date:"short" }}</td>
            <td alch-table-cell>{{ subscription.endDate | date:"short"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="nutupane-sub-section">
  <div class="nutupane-titlebar">
    <h1 class="nutupane-title">{{ "Available Subscription(s)" | i18n }}</h1>
  </div>
  <div class="nutupane-actionbar">
    <div class="form">
      <input type="text"
             class="input input-search"
             placeholder="{{ 'Filter' | i18n }}"
             ng-model="availableSubscriptionsTable.filter">
      <span class="result-count">Showing {{ availableSubscriptionsTable.rows.length }} of {{ availableSubscriptionsTable.resource.subtotal }} ({{ availableSubscriptionsTable.resource.total }} Total) Subscriptions</span>
    </div>
    <div class="fr select-action">
      <span>{{ availableSubscriptionsTable.numSelected }} Selected</span>
      <span>|</span>
      <a class="deselect-action"
         ng-class="{ 'disabled-link' : availableSubscriptionsTable.numSelected == 0 }"
         ng-click="availableSubscriptionsTable.selectAll(false)">
        Deselect All
      </a>
    </div>
  </div>

  <div alch-table="availableSubscriptionsTable">
    <div alch-container-scroll control-width="table" alch-infinite-scroll="table.nextPage()">
      <table ng-class="{'table-mask': table.working}" class="table table-full table-striped">
        <thead>
          <tr alch-table-head row-select>
            <th alch-table-column="name">{{ "Name" | i18n }}</th>
            <th alch-table-column="sla">{{ "SLA" | i18n }}</th>
            <th alch-table-column="contract">{{ "Contract" | i18n }}</th>
            <th alch-table-column="quantity">{{ "Quantity" | i18n }}</th>
            <th alch-table-column="startDate">{{ "Start Date" | i18n }}</th>
            <th alch-table-column="endDate">{{ "End Date" | i18n }}</th>
          </tr>
        </thead>

        <tbody>
          <tr alch-table-row ng-repeat="subscription in table.rows | filter:table.filter" row-select>
            <td alch-table-cell>{{ subscription.name }}</td>
            <td alch-table-cell>{{ subscription.sla }}</td>
            <td alch-table-cell>{{ subscription.contractNumber }}</td>
            <td alch-table-cell>{{ subscription.quantity }}</td>
            <td alch-table-cell>{{ subscription.startDate | date:"short" }}</td>
            <td alch-table-cell>{{ subscription.endDate | date:"short"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
