<div class="loading-mask loading-mask-panel" ng-show="panel.loading">
  <i class="icon-spinner icon-spin"></i>
  {{ "Loading..." | translate }}
</div>

<section class="nutupane-details" ng-cloak alch-container-scroll>

  <header class="details-header">
    <h2 class="fl" translate>System {{ system.name }}</h2>

    <div class="fr">

      <div alch-modal="removeSystem(system)" model="system"
           modal-header='Remove System "{{system.name}}"?'
           modal-body='Are you sure you want to remove system "{{ system.name }}"?'></div>

      <button class="btn btn-danger" ng-disabled="system.readonly" ng-click="openModal()" translate>Remove System</button>
      <button class="btn btn-default" ui-sref="systems.index">
        <i class="icon-remove"></i>
        {{ "Close" | translate }}
      </button>
    </div>
  </header>

  <nav>
    <ul class="nav nav-tabs">
      <li ng-class="{active: isState('systems.details.info')}">
        <a translate
           ui-sref="systems.details.info">
          Details
        </a>
      </li>
      <li ng-class="{active: isState('systems.details.subscriptions')}">
        <a translate
           ui-sref="systems.details.subscriptions">
          Subscriptions
        </a>
      </li>
      <li ng-class="{active: $state.includes('systems.details.system-groups')}">
        <a translate
           ui-sref="systems.details.system-groups.list">
          System Groups
        </a>
      </li>
      <li ng-class="{active: stateIncludes('systems.details.tasks')}">
        <a translate
           ui-sref="systems.details.tasks.index">
          Tasks
        </a>
      </li>
      <li ng-class="{active: stateIncludes('systems.details.events')}">
        <a class="clickable" translate
           ui-sref="systems.details.events.index">
          Events
        </a>
      </li>
      <li ng-class="{active: isState('systems.details.packages')}">
        <a translate
           ui-sref="systems.details.packages">
          Packages
        </a>
      </li>
      <li ng-class="{active: isState('systems.details.errata.index')}">
        <a translate
           ui-sref="systems.details.errata.index">
          Errata
        </a>
      </li>
      <li ng-repeat="menuItem in menuExpander.getMenu('system')">
        <a href="{{ menuItem.url }}">
          {{ menuItem.label }}
        </a>
      </li>
    </ul>
  </nav>

  <div alch-alert success-messages="successMessages" error-messages="errorMessages"></div>

  <section class="nutupane-sub-section" ui-view></section>
</section>
