<div class="nutupane-sub-section">

  <div class="flash_hud" ng-show="saveSuccess">
    <a class="control" title="Close" ng-click="saveSuccess = false"></a>
    <ul class="flash_messages success">
      <li>
        {{ "Save successful" | i18n }}
      </li>
    </ul>
  </div>

  <div class="flash_hud" ng-show="saveError">
    <a class="control" title="Close" ng-click="saveError = false"></a>
    <ul class="flash_messages error">
      <li>
        {{ "Error occurred saving:" | i18n }}
      </li>
      <ul>
        <li ng-repeat="error in errors">{{ error }}</li>
      </ul>
    </ul>
  </div>

  <div class="details fl">
    <section>
      <h4>{{ "Basic Information" | i18n }}</h4>

      <div class="detail">
        <span class="info-label">{{ "Name" | i18n }}</span>
        <span class="info-value"
              alch-edit-text="system.name"
              readonly="system.readonly"
              on-save="save(system)">
        </span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "UUID" | i18n }}</span>
        <span class="info-value">{{ system.uuid }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Description" | i18n }}</span>
        <span class="info-value"
              alch-edit-textarea="system.description"
              readonly="system.readonly"
              on-save="save(system)">
        </span>
      </div>

      <div class="divider"></div>
    </section>

    <section>
      <h4>{{ "Subscription Status Details" | i18n }}</h4>

      <div class="detail">
        <span class="info-label">{{ "Subscription Status" | i18n }}</span>
        <span class="info-value">
          <span class="status_icon" ng-class="getStatusColor(system.compliance.status)"></span>
            {{ system.compliance.status }}
        </span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Autoheal" | i18n }}</span>
        <span class="info-value">{{ system.autoheal }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Service Level" | i18n }}</span>
        <span class="info-value">{{ system.serviceLevel }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Details" | i18n }}</span>
        <div class="info-value">
          <ul>
            <li ng-repeat="reason in system.compliance.reasons">{{ reason }}</li>
          </ul>
        </div>
      </div>

      <div class="divider"></div>
    </section>

    <section>
      <h4>{{ "System Properties" | i18n }}</h4>

      <div class="detail">
        <span class="info-label">{{ "OS" | i18n }} </span>
        <span class="info-value">{{ system.distribution_name }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Release" | i18n }}</span>
        <span class="info-value">{{ system.kernel  }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "System Groups" | i18n }}</span>
        <span class="info-value" alch-edit-multiselect="system.systemGroups"
              options="systemGroups()" on-save="updateSystemGroups(value)"></span>
      </div>
      
      <div class="detail">
        <span class="info-label">{{ "Arch" | i18n }}</span>
        <span class="info-value">{{ system.arch }}</span>
      </div>     
      
      <div class="detail">
        <span class="info-label">{{ "Number of CPUs" | i18n }}</span>
        <span class="info-value">{{ systemFacts.cpu["cpu(s)"] }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Sockets" | i18n }}</span>
        <span class="info-value">{{ systemFacts.cpu["cpu_socket(s)"] }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Cores per Socket" | i18n }}</span>
        <span class="info-value">{{ systemFacts.cpu["core(s)_per_socket"] }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "RAM" | i18n }}</span>
        <span class="info-value">{{ system.memory }}</span>
      </div>

      <div class="divider"></div>
    </section>
  </div>

  <div class="fr details">
    <section>
      <h4>{{ "System Content" | i18n }}</h4>

      <div class="detail">
        <span class="info-label">{{ "Release Version" | i18n }}</span>
        <span class="info-value"
              alch-edit-select="system.releaseVer.releaseVer"
              readonly="system.readonly"
              selector="system.releaseVer.releaseVer"
              options="releaseVersions()"
              on-save="save(system)">
        </span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Content View" | i18n }}</span>
        <span class="info-value"
              alch-edit-select="system.content_view.name"
              readonly="system.readonly"
              selector="system.content_view.id"
              options="contentViews()"
              on-cancel="cancelContentViewUpdate()"
              on-save="save(system)"
              edit-trigger="editContentView">
        </span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Environment" | i18n }}</span>
        <span id="environment_path_selector" 
              readonly="system.readonly"
              path-selector="system.environment.id"
              organization="system.environment.organization_name"
              on-change="setEnvironment(environment_id)">
        </span>
      </div>

      <div class="divider"></div>
    </section>

    <section>
      <h4>{{ "System Status" | i18n }}</h4>

      <div class="detail">
        <span class="info-label">{{ "Registered" | i18n }}</span>
        <span class="info-value">{{ system.registered | date:'short' }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Checkin" | i18n }}</span>
        <span class="info-value">{{ (system.checkin_time | date:'short') || ("Never checked in" | i18n) }}</span>
      </div>

      <div class="divider"></div>
    </section>

    <section>
      <h4>{{ "Networking" | i18n }}</h4>

      <div class="detail">
        <span class="info-label">{{ "Hostname" | i18n }}</span>
        <span class="info-value">{{ systemFacts.network.hostname }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "IPv4 Address" | i18n }}</span>
        <span class="info-value">{{ systemFacts.network.ipv4_address }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "IPv6 Address" | i18n }}</span>
        <span class="info-value">{{ systemFacts.network.ipv6_address }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Interfaces" | i18n }}</span>
        <div class="info-value">
          <div ng-repeat="(interfaceName, interface) in systemFacts.net.interface" >
            <i ng-class="{'icon-plus': !expanded, 'icon-minus': expanded}" class="expand-icon clickable"
               ng-hide="editMode" ng-click="expanded = !expanded"></i>
            {{ interfaceName }}
            <div class="sub-detail" ng-show="expanded">
              <div ng-repeat="(key, value) in interface">
                <span class="info-sub-label">{{ key.replace("_", " ") }}:</span>
                <span class="info-sub-value">{{ value }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="advanced-info" ng-show="hasAdvancedInfo">
    <header class="details-sub-header advanced-header">
      <i class="expand-icon clickable" ng-class="{'icon-plus': !showAdvanced, 'icon-minus': showAdvanced}"
         ng-click="showAdvanced = !showAdvanced"></i>
      <h3>{{ "Advanced Information" | i18n }}</h3>
    </header>
    <div ng-show="showAdvanced" class="details fl">
      <section ng-show="showAdvanced" ng-repeat="(sectionName, subSection) in advancedInfoLeft">
        <h4>{{ sectionName }}</h4>
        <div ng-repeat="(key, value) in subSection" >
          <div ng-include="getTemplateForType(value)"></div>
        </div>
        <div class="divider" ng-show="!$last"></div>
      </section>
    </div>
    <div ng-show="showAdvanced" class="details fr">
      <section ng-show="showAdvanced" ng-repeat="(sectionName, subSection) in advancedInfoRight">
        <h4>{{ sectionName }}</h4>
        <div ng-repeat="(key, value) in subSection" >
          <div ng-include="getTemplateForType(value)"></div>
        </div>
        <div class="divider" ng-show="!$last"></div>
      </section>
    </div>
  </div>
</div>
