<div class="flash_hud" ng-show="saveSuccess">
  <a class="control" title="Close" ng-click="saveSuccess = false"></a>
  <ul class="flash_messages success">
    <li translate>Update successful</li>
  </ul>
</div>

<div class="flash_hud" ng-show="saveError">
  <a class="control" title="Close" ng-click="saveError = false"></a>
  <ul class="flash_messages error">
    <li translate>Error occurred saving:</li>
    <ul>
      <li ng-repeat="error in errors">{{ error }}</li>
    </ul>
  </ul>
</div>

<button class="fr btn btn-primary" ng-click="autoAttach()" translate>Run Auto-Attach</button>
<div class="details">
  <section>
    <h4 translate>Subscription Status Details</h4>

    <div class="detail">
      <span class="info-label" translate>Subscription Status</span>
        <span class="info-value">
          <i class="icon-circle" ng-class="getStatusColor(system.compliance.status)"></i>
          {{ system.compliance.status }}
        </span>
    </div>

    <div ng-show="system.compliance.reasons.length > 0" class="detail">
      <span class="info-label" translate>Details</span>
      <div class="info-value">
        <ul class="compliance-reasons">
          <li ng-repeat="reason in system.compliance.reasons">{{ reason.attributes.name}} - {{ reason.message }}</li>
        </ul>
      </div>
    </div>

    <div class="detail">
      <span class="info-label" translate>Auto-Attach</span>
      <span class="info-value"
            alch-edit-checkbox="system.autoheal"
            on-save="save(system)">
      </span>
    </div>
    <div class="detail">
      <span class="info-label" translate>Service Level</span>
          <span class="info-value"
                alch-edit-select="system.serviceLevel"
                readonly="system.readonly"
                selector="system.serviceLevel"
                options="serviceLevels()"
                options-format="option for option in options"
                on-save="save(system)">
          </span>
    </div>
  </section>
</div>

<section class="system-subscriptions">

  <div class="nutupane-titlebar">
    <h1 class="nutupane-title" translate>Current Subscription(s)</h1>
  </div>
  <div class="nutupane-actionbar">
    <div class="form">
      <input type="text"
             class="input input-search"
             placeholder="{{ 'Filter' | translate }}"
             ng-model="currentSubscriptionsTable.filter">
    </div>

    <div class="fr select-action">
      <button class="btn-mini" translate
              ng-disabled="currentSubscriptionsTable.numSelected == 0"
              ng-click="removeSubscriptions()">
        Remove Subscriptions
      </button>
      <span translate>{{ currentSubscriptionsTable.numSelected }} Selected</span>
      <span>|</span>
      <a class="deselect-action"
         translate
         ng-class="{ 'disabled-link' : currentSubscriptionsTable.numSelected == 0 }"
         ng-click="currentSubscriptionsTable.selectAll(false)">
        Deselect All
      </a>
    </div>
  </div>

  <div alch-table="currentSubscriptionsTable">
    <p ng-show="table.rows.length == 0" translate>
      This system does not have any current subscriptions
    </p>
    <div ng-show="table.rows.length > 0">
      <table ng-class="{'table-mask': table.working}" class="table table-full table-striped">
        <thead>
          <tr alch-table-head row-select>
            <th alch-table-column="name" translate>Name</th>
            <th alch-table-column="sla" translate>SLA</th>
            <th alch-table-column="contract" translate>Contract</th>
            <th alch-table-column="quantity" translate>Quantity</th>
            <th alch-table-column="startDate" translate>Start Date</th>
            <th alch-table-column="endDate" translate>End Date</th>
          </tr>
        </thead>

        <tbody>
          <tr alch-table-row ng-repeat="subscription in table.rows | filter:table.filter" row-select="subscription">
            <td alch-table-cell>{{ subscription.poolName }}</td>
            <td alch-table-cell>{{ subscription.sla }}</td>
            <td alch-table-cell>{{ subscription.contractNumber }}</td>
            <td alch-table-cell>{{ subscription.quantity }}</td>
            <td alch-table-cell>{{ subscription.startDate | date:"short" }}</td>
            <td alch-table-cell>{{ subscription.endDate | date:"short"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="system-subscriptions">
  <div class="nutupane-titlebar">
    <h1 class="nutupane-title" translate>Available Subscription(s)</h1>
  </div>
  <div class="nutupane-actionbar">
    <div class="form">
      <input type="text"
             class="input input-search"
             placeholder="{{ 'Filter' | translate }}"
             ng-model="availableSubscriptionsTable.filter">
    </div>
    <div class="fr select-action">
      <button class="btn-mini"
              translate
              ng-disabled="availableSubscriptionsTable.numSelected == 0"
              ng-click="attachSubscriptions()">
        Attach Subscriptions
      </button>
      <span translate>{{ availableSubscriptionsTable.numSelected }} Selected</span>
      <span>|</span>
      <a class="deselect-action"
         translate
         ng-class="{ 'disabled-link' : availableSubscriptionsTable.numSelected == 0 }"
         ng-click="availableSubscriptionsTable.selectAll(false)">
        Deselect All
      </a>
    </div>
    <div class="filter-options">
      <span class="filter-option">
        <input type="checkbox"
               id="subscriptions-match"
               class="input"
               ng-model="availableSubscriptionsTable.matchSystem"
               ng-change="availableSubscriptionsTable.filterSubscriptions()"/>
        <label for="subscriptions-match" translate>Subscriptions match system</label>
      </span>
      <span class="filter-option">
        <input type="checkbox"
               id="subscriptions-match-installed"
               class="input"
               ng-model="availableSubscriptionsTable.matchInstalled"
               ng-change="availableSubscriptionsTable.filterSubscriptions()"/>
        <label for="subscriptions-match-installed" translate>Subscriptions match installed software</label>
      </span>

      <span class="filter-option">
        <input type="checkbox"
               id="subscriptions-no-overlap"
               class="input"
               ng-model="availableSubscriptionsTable.noOverlap"
               ng-change="availableSubscriptionsTable.filterSubscriptions()"/>
        <label for="subscriptions-no-overlap" translate>No overlap with current</label>
        </span>
    </div>
  </div>

  <div alch-table="availableSubscriptionsTable">
    <p ng-show="table.rows.length == 0" translate>
      There are no available subscriptions
    </p>
    <div ng-show="table.rows.length > 0">
      <table ng-class="{'table-mask': table.working}" class="table table-full table-striped">
        <thead>
          <tr alch-table-head row-select>
            <th alch-table-column="name" translate>Name</th>
            <th alch-table-column="sla" translate>SLA</th>
            <th alch-table-column="contract" translate>Contract</th>
            <th alch-table-column="quantity" translate>Available</th>
            <th alch-table-column="startDate" translate>Start Date</th>
            <th alch-table-column="endDate" translate>End Date</th>
          </tr>
        </thead>

        <tbody>
          <tr alch-table-row row-select="subscription"
              ng-repeat="subscription in table.rows | filter:table.formatAvailableDisplay | filter:table.filter">
            <td alch-table-cell>{{ subscription.product_name }}</td>
            <td alch-table-cell>{{ subscription.support_level }}</td>
            <td alch-table-cell>{{ subscription.contract_number }}</td>
            <td alch-table-cell>
              <span ng-show="table.showSelector(subscription)">
                <select ng-show="subscription.selected" ng-model="subscription.amount"
                        ng-options="value for value in table.range(1, subscription.available + 1)">
                </select>
              </span>
              <span ng-hide="table.showSelector(subscription)">
                {{ subscription.availableDisplay }}
              </span>
            </td>
            <td alch-table-cell>{{ subscription.start_date | date:"short" }}</td>
            <td alch-table-cell>{{ subscription.end_date | date:"short"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
