<div class="details pull-left">
  <section>
    <h4 translate>Content Hosts</h4>

    <div class="detail" ng-show="subscription.systems.length < 1" translate>
      None
    </div>

    <div class="detail" ng-repeat="content_host in subscription.systems">
      {{ content_host.name }}
    </div>
  </section>
</div>

<div class="details pull-left">
  <section>
    <h4 translate>Activation Keys</h4>

    <div class="detail" ng-show="subscription.activation_keys.length < 1" translate>
      None
    </div>

    <div class="detail" ng-repeat="key in subscription.activation_keys">
      {{ key.name }}
    </div>
  </section>
</div>

<div class="details pull-left">
  <section>
    <h4 translate>Subscription Management Applications</h4>

    <div class="detail" ng-show="subscription.distributors.length < 1" translate>
      None
    </div>

    <div class="detail" ng-repeat="distributor in subscription.distributors">
      {{ distributor.name }}
    </div>
  </section>
</div>
