-# This view contains several lines that are commented (i.e. -#) out on purpose... They may be uncommented when package
-# updates are supported.

-packages.each do |p|
  - cssclass = cycle("alt", "")

  %tr{:class => cssclass + ' package'}
    %td.package_select
      = check_box_tag "package[#{p.name}]"
    -#%td.package_status.packages_icon
    %td.package_name
      #{p.nvrea}
    %td.package_action_status
    -#%td
      -#TODO: installed date