-packages.each do |p|
  - cssclass = cycle("alt", "")

  %tr{:class => cssclass + ' package'}
    %td.package_select
      = check_box_tag "package[#{p.name}]"
    %td.package_status.packages_icon
    %td
      #{p.nvrea}
    %td
      TODO: installed date