.host-collection-card-body {
  .pf-v5-l-bullseye {
    position: relative;
    top: -20px;
  }
  .pf-v5-c-empty-state__icon {
    font-size: 2em;
  }
  .pf-m-lg {
    margin: -20px;
  }
  .pf-v5-c-empty-state__body {
    font-size: smaller;
    margin-top: 1.4em;
    margin-bottom: 1em;
  }
  .pf-m-secondary {
    margin-top: 5px;
  }
}
.host-collection-card-body.empty {
  padding-bottom: 0;
}
