{
  "env": {
    "browser": true,
  },
  "globals": {
    "__": true,
    "angular": true,
  },
  "parserOptions": {
    "ecmaVersion": 5,
  },
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "func-names": "off",
    "no-param-reassign": "off",
    "prefer-const": "off",
    "prefer-arrow-callback": "off",
    "quote-props": "off",
    "comma-dangle": "off",
    "no-var": "off",
    "prefer-destructuring": "off",
    "dot-notation": "off",
    "no-mixed-operators": "off",
    "consistent-return": "off",
    "one-var": "off",
    "one-var-declaration-per-line": "off",
    "object-shorthand": "off",
    "operator-assignment": "off",
    "prefer-template": "off",
    "no-multi-assign": "off",
    "global-require": "off",
    "no-prototype-builtins": "off",
    "max-len": ["error", { "code": 120 }],
  }
}
