{
  "env": {
    "browser": true,
  },
  "extends": [
    "eslint-config-es5",
  ],
  "globals": {
    "__": true,
    "angular": true,
  },
  "plugins": [
    "babel"
  ],
  "parserOptions": {
    "ecmaVersion": 5,
  },
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "func-names": "off",
    "no-param-reassign": "off",
    "prefer-const": "off"
  }
}
