<span page-title ng-model="activationKey">{{ 'Add Subscriptions for Activation Key:' | translate }} {{ activationKey.name }}</span>

<section class="nutupane-sub-section">

  <div class="row">

    <div class="col-sm-3">
      <div class="input-group input-group">
        <input type="text"
               class="form-control"
               placeholder="{{ 'Search...' | translate }}"
               ng-model="addSubscriptionsTable.searchTerm"
               bst-on-enter="addSubscriptionsTable.search(addSubscriptionsTable.searchTerm)"/>
        <span class="input-group-btn">
          <button ng-click="addSubscriptionsTable.search(addSubscriptionsTable.searchTerm)" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>

    <div class="col-sm-3 nutupane-info">
      <span translate>Showing {{ addSubscriptionsTable.rows.length }} of {{ addSubscriptionsTable.resource.subtotal }} ({{ addSubscriptionsTable.resource.total }} Total) Subscriptions</span>
    </div>

    <div class="pull-right">
      <div class="pull-left nutupane-info">
        <span translate>{{ addSubscriptionsTable.numSelected }} Selected</span>
      </div>

      <div ng-hide="denied('edit_activation_keys', activationKey)" class="nutupane-actions pull-right">
         <button class="btn btn-primary"
                 translate
                 ng-disabled="disableAddButton()"
                 ng-click="addSelected()">
           Add Selected
         </button>
      </div>

    </div>
  </div>

  <div bst-table="addSubscriptionsTable" class="nutupane">
    <div bst-container-scroll bst-infinite-scroll="addSubscriptionsTable.nextPage()">

      <div class="loading-mask fa-3x" ng-show="addSubscriptionsTable.working && addSubscriptionsTable.rows.length == 0">
        <i class="fa fa-spinner fa-spin"></i>
        {{ "Loading..." | translate }}
      </div>

      <table ng-class="{'table-mask': subscriptionsTable.working}" class="table table-full table-striped">
        <thead>
          <tr bst-table-head row-select>
            <th bst-table-column="quantity" sortable class="align-center"><span translate>Quantity</span></th>
            <th bst-table-column="attached" sortable><span translate>Attached</span></th>
            <th bst-table-column="type"><span translate>Type</span></th>
            <th bst-table-column="startDate" sortable><span translate>Starts</span></th>
            <th bst-table-column="endDate" sortable><span translate>Expires</span></th>
            <th bst-table-column="supportLevel"><span translate>Support Level</span></th>
            <th bst-table-column="contractNumber" sortable><span translate>Contract</span></th>
            <th bst-table-column="accountNumber" sortable><span translate>Account</span></th>
          </tr>
        </thead>

        <tbody>
          <tr bst-table-row ng-repeat-start="(name, subscriptions) in groupedSubscriptions">
            <td bst-table-cell colspan="8">
              <a href='/subscriptions?search=product_name:"{{ name }}"'>
                {{ name }}
              </a>
            </td>
          </tr>
          <tr bst-table-row ng-repeat-end ng-repeat="subscription in subscriptions" row-select="subscription">
            <td bst-table-cell>
              <span ng-hide="subscription.multi_entitlement">
                1
              </span>
              <select ng-hide="!subscription.multi_entitlement"
                      ng-model="subscription.amount"
                      ng-options="amount for amount in amountSelectorValues(subscription)"
                      >
                <option value="">{{ "Automatic" | translate }}</option>
              </select>
            </td>
            <td bst-table-cell>{{ subscription | subscriptionConsumedFilter }}</td>
            <td bst-table-cell><div subscription-type="subscription"></div></td>
            <td bst-table-cell>{{ subscription.start_date | date:"shortDate" }}</td>
            <td bst-table-cell>{{ subscription.end_date | date:"shortDate" }}</td>
            <td bst-table-cell>{{ subscription.support_level }}</td>
            <td bst-table-cell>{{ subscription.contract_number }}</td>
            <td bst-table-cell>{{ subscription.account_number }}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</section>
