<span page-title ng-model="activationKey">{{ 'Content Hosts for Activation Key:' | translate }} {{ activationKey.name }}</span>

<div class="details details-full">

  <h3 translate>
    Attached to Content Hosts
  </h3>

  <table class="table table-striped" bst-table="table" ng-class="{'table-mask': table.working}">
    <thead>
      <tr bst-table-head>
        <th bst-table-column="name" sortable><span translate>Name</span></th>
        <th bst-table-column="status">
          {{ "Subscription Status" | translate }}
        </th>
        <th bst-table-column="environment" sortable><span translate>Environment</span></th>
        <th bst-table-column="contentView"><span translate>Content View</span></th>
        <th bst-table-column="serviceLevel"><span translate>Service Level</span></th>
        <th bst-table-column="releaseVersion"><span translate>Release Version</span></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-show="!table.working && contentHosts.length === 0">
        <td colspan="6" translate>This activation key is not associated with any content hosts.</td>
      </tr>

      <tr bst-table-row ng-repeat="contentHost in contentHosts"
          ng-controller="ContentHostStatusController">
        <td bst-table-cell>
          <a ui-sref="content-hosts.details.info({contentHostId: contentHost.uuid})">
            {{ contentHost.name }}
          </a>
        </td>
        <td bst-table-cell>
          <span class="fa fa-circle" ng-class="getStatusColor(contentHost.entitlementStatus)">
          </span>
        </td>
        <td bst-table-cell>{{ contentHost.environment.name }}</td>
        <td bst-table-cell>{{ contentHost.content_view.name || "" }}</td>
        <td bst-table-cell>{{ contentHost.service_level }}</td>
        <td bst-table-cell>{{ contentHost.release_ver }}</td>
      </tr>
    </tbody>
  </table>

</div>
