<span page-title ng-model="activationKey">{{ 'Current Subscriptions for Activation Key:' | translate }} {{ activationKey.name }}</span>

<section class="nutupane-sub-section" >

  <div class="nutupane-bar">

    <div class="col-sm-3">
      <div class="input-group input-group">
        <input type="text"
               class="form-control"
               placeholder="{{ 'Search...' | translate }}"
               ng-model="subscriptionsTable.searchTerm"
               on-enter="subscriptionsTable.search(subscriptionsTable.searchTerm)"/>
        <span class="input-group-btn">
          <button ng-click="subscriptionsTable.search(subscriptionsTable.searchTerm)" class="btn btn-default" type="button"><i class="icon-search"></i></button>
        </span>
      </div>
    </div>

    <div class="col-sm-3 nutupane-info">
      <span translate>Showing {{ subscriptionsTable.rows.length }} of {{ subscriptionsTable.resource.subtotal }} ({{ subscriptionsTable.resource.total }} Total) Subscriptions</span>
    </div>

    <div class="pull-right">
      <div class="pull-left nutupane-info">
        <span translate>{{ subscriptionsTable.numSelected }} Selected</span>
      </div>

      <div class="nutupane-actions pull-right">
         <button class="btn btn-primary"
                 translate
                 ng-hide="denied('edit_activation_keys', activationKey)"
                 ng-disabled="disableRemoveButton()"
                 ng-click="removeSelected()">
           Remove Selected
         </button>
      </div>
    </div>
  </div>

  <div alch-table="subscriptionsTable" class="nutupane">
    <div alch-container-scroll alch-infinite-scroll="subscriptionsTable.nextPage()">

      <div class="loading-mask icon-3x" ng-show="subscriptionsTable.working && subscriptionsTable.rows.length == 0">
        <i class="icon-spinner icon-spin"></i>
        {{ "Loading..." | translate }}
      </div>

      <table ng-class="{'table-mask': subscriptionsTable.working}" class="table table-full table-striped">
        <thead>
          <tr alch-table-head row-select>
            <th alch-table-column="quantity" sortable class="align-center"><span translate>Quantity</span></th>
            <th alch-table-column="attached" sortable><span translate>Attached</span></th>
            <th alch-table-column="startDate" sortable><span translate>Starts</span></th>
            <th alch-table-column="endDate" sortable><span translate>Expires</span></th>
            <th alch-table-column="supportLevel"><span translate>Support Level</span></th>
            <th alch-table-column="contractNumber" sortable><span translate>Contract</span></th>
            <th alch-table-column="accountNumber" sortable><span translate>Account</span></th>
          </tr>
        </thead>

        <tbody>
          <tr alch-table-row  ng-repeat-start="(name, subscriptions) in groupedSubscriptions">
            <td alch-table-cell colspan="8">
              <a href='/subscriptions?search=product_name:"{{ name }}"'>
                {{ name }}
              </a>
            </td>
          </tr>
          <tr alch-table-row ng-repeat-end ng-repeat="subscription in subscriptions" row-select="subscription">
            <td alch-table-cell>{{ subscription | subscriptionAttachAmountFilter }}</td>
            <td alch-table-cell>{{ subscription | subscriptionConsumedFilter }}</td>
            <td alch-table-cell>{{ subscription.start_date | date:"shortDate" }}</td>
            <td alch-table-cell>{{ subscription.end_date | date:"shortDate" }}</td>
            <td alch-table-cell>{{ subscription.service_level }}</td>
            <td alch-table-cell>{{ subscription.contract_number }}</td>
            <td alch-table-cell>{{ subscription.account_number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
