<section class="nutupane-sub-section">
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <div class="row">

    <div class="col-sm-3">
      <div class="input-group">
        <input type="text"
               class="form-control"
               placeholder="{{ 'Filter' | translate }}"
               ng-model="hostCollectionFilter"/>
      </div>
    </div>

    <div class="fr select-action">
      <span class="nutupane-info">
        <span translate>{{ hostCollectionsTable.numSelected }} Selected</span>
      </span>

      <button ng-if="isState('activation-keys.details.host-collections.list')"
              class="btn btn-default"
              ng-hide="denied('edit_activation_key', activationKey)"
              ng-disabled="hostCollectionsTable.numSelected == 0 || hostCollectionsTable.working"
              ng-click="removeHostCollections()">
        {{ 'Remove Selected' | translate }}
      </button>
      <button ng-if="isState('activation-keys.details.host-collections.add')"
              class="btn btn-default"
              ng-hide="denied('edit_activation_key', activationKey)"
              ng-disabled="hostCollectionsTable.numSelected == 0 || hostCollectionsTable.working"
              ng-click="addHostCollections()">
        {{ 'Add Selected' | translate }}
      </button>

    </div>
  </div>

  <div bst-table="hostCollectionsTable" class="nutupane">
    <div bst-container-scroll bst-infinite-scroll="hostCollectionsTable.nextPage()">

      <div ng-show="hostCollectionsTable.rows.length == 0">
        <div class="loading-mask" ng-show="hostCollectionsTable.working">
          <i class="fa fa-spinner fa-spin"></i>
          {{ "Loading..." | translate }}
        </div>

        <p ng-hide="hostCollectionsTable.working" translate>No host collections</p>
      </div>

      <table ng-show="hostCollectionsTable.rows.length > 0"
             ng-class="{'table-mask': hostCollectionsTable.working}" class="table table-full table-striped">
        <thead>
          <tr bst-table-head row-select="hostCollection">
            <th bst-table-column="name" translate>Name</th>
            <th bst-table-column="description" translate>Description</th>
            <th bst-table-column="capacity" translate>Capacity</th>
          </tr>
        </thead>

        <tbody>
          <tr bst-table-row ng-repeat="hostCollection in hostCollectionsTable.rows | filter:hostCollectionFilter" row-select="hostCollection">
            <td bst-table-cell>
              <a ui-sref="host-collections.details.info({hostCollectionId: hostCollection.id})">
                {{ hostCollection.name }}
              </a>
            </td>
            <td bst-table-cell>{{ hostCollection.description }}</td>
            <td bst-table-cell>{{ hostCollection.total_content_hosts }} / {{ hostCollection.max_content_hosts | unlimitedFilter:hostCollection.unlimited_content_hosts }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
