<span page-title ng-model="activationKey">{{ 'Host Collections for:' | translate }} {{ activationKey.name }}</span>

<nav>
  <ul class="nav nav-tabs nav-tabs-pf" ng-show="permitted('edit_activation_keys', activationKey)">
    <li ng-class="{active: isState('activation-key.host-collections.list')}">
      <a ui-sref="activation-key.host-collections.list">
        <span translate>List/Remove</span>
      </a>
    </li>

    <li ng-class="{active: isState('activation-key.host-collections.add')}">
      <a ui-sref="activation-key.host-collections.add">
        <span translate>Add</span>
      </a>
    </li>
  </ul>
</nav>

<div ui-view></div>
