<span page-title ng-model="activationKey">{{ 'Current Subscriptions for Activation Key:' | translate }} {{ activationKey.name }}</span>

<div data-extend-template="layouts/partials/table.html">
  <div data-block="list-actions">
    <button class="btn btn-primary" type="button"
            translate
           ng-hide="denied('edit_activation_keys', activationKey)"
           ng-disabled="disableRemoveButton()"
           ng-click="removeSelected()">
     Remove Selected
    </button>
  </div>

  <span data-block="no-rows-message" translate>
       You currently don't have any Subscriptions associated with this Activation Key, you can add Subscriptions after selecting the 'Add' tab.
  </span>

  <span data-block="no-search-results-message" translate>
       Your search returned zero Subscriptions.
  </span>

  <div data-block="table">
    <div data-extend-template="common/views/subscription-add-or-remove.html"></div>
  </div>
</div>
