/**
 * Image Variables
 */

$katello_logo_img:  url("../katello-logo.png");
$headpin_logo_img:  url("../headpin-logo.png");


$status_icons_green:          url("../icons/status_icons_sprite.png") no-repeat 0 0;
$status_icons_green_small:    url("../icons/status_icons_sprite.png") no-repeat 1px -26px;
$status_icons_yellow:         url("../icons/status_icons_sprite.png") no-repeat -53px 0;
$status_icons_yellow_small:   url("../icons/status_icons_sprite.png") no-repeat -30px -25px;
$status_icons_red:            url("../icons/status_icons_sprite.png") no-repeat -25px 0;
$status_icons_red_small:      url("../icons/status_icons_sprite.png") no-repeat -15px -25px;
