@import "compass";
@import "alchemy/components/normalize";

* {
  @include box-sizing(border-box);
}

@import "vars";
@import "katello_colors";

$font_path: "../alchemy/";
$FontAwesomePath: "../font-awesome/font";
$spritePath: url("../alchemy/icons/action-icons.png");

@import "font-awesome/font-awesome";

@import "alchemy-forms/forms";
@import "alchemy-buttons/buttons";
@import "alchemy/components/sprites/sprites";
@import "alchemy/components/flash_messages/flash_messages";
@import "alchemy/components/text/text";
@import "alchemy/components/flash_messages/flash_messages";

@import "helpers";
@import "header";
@import "nutupane";
@import "systems";
@import "widgets/path_selector";

@import "widgets/tipsy_custom";
@import "jquery.tipsy";

@import "overrides";

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#experimental_indicator {
  position: absolute;
  color: rgb(255, 196, 90);
  top: 6px;
  left: 132px;
  font-family: Overpass;
}

.logo {
  text-indent: -5555px;
  width: 100px;
  height: 15px;
  display: block;
  margin-top: 5px;
}

.katello-logo {
  background: $katello_logo_img;
}

.headpin-logo {
  background: $headpin_logo_img;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.status_icon {
  height: 15px;
  width: 15px;
  background: $status_icons_green_small;
  //margin: 2px 1px 1px 1px;

  &.green {
    background: $status_icons_green_small;
  }
  &.yellow {
    background: $status_icons_yellow_small;
  }
  &.red {
    background: $status_icons_red_small;
  }
}

[class*=" icon-"] {
  font-size:  15px;
  &.green {
    color: $green2;
  }
  &.yellow {
    color: $o2;
  }
  &.red {
    color: $rh-red2;
  }
}
