@import "alchemy/components/normalize";
@import "alchemy-forms/forms";
@import "alchemy-buttons/buttons";

@import "nutupane";

.maincontent {
  margin-top: 0;
  padding: 20px 20px 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#experimental_indicator {
  position: absolute;
  color: rgb(255, 196, 90);
  top: 0;
  left: 132px;
  font-family: Overpass;
}

.fl { float: left; }
.fr { float: right; }
