@import "katello_colors";
@import "bastion/incubator/stylesheets/tables";

.table .active-column {
  background: rgb(216, 216, 216) !important
}

.search-input-container {
  input {
    width: 400px;
  }

  .result-count {
    font-size: 110%;
  }
}

table.details-visible {
  display: block;
  width: 20%;
  float: left;
}

.table {
  font-size: 110%;

  tr:hover td,
  tr.focus td {
    background-color: $listhover_color;
    color: #FFF;
  }

  th.row-select,
  td.row-select {
    width: 3%;
    max-width: 3%;
  }

  tr.active, tbody tr:hover, .active-row {
    background-color: $listhover_color;
    color:#FFF;

    a {
      color: #FFF;
      text-decoration: underline;
    }

    th:hover {
      background: white;
    }
  }

  th {
    border-right: none;
    color: rgb(92, 92, 92);
    background: white;
    line-height: 1;
    vertical-align: bottom;
  }
}

.spinner {
  display: inline-block;
  margin: 0 4px;
}

.modal-mask {
  background: black;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}

.no-scroll  {
  overflow: hidden;
}

.table-mask {
  opacity: 0.4;
}

.nutupane-pane {
  display: none;
  background: white;
  border: 1px solid #CCC;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  @include box-sizing(border-box);

  header {
    height: 50px;
    overflow: auto;
    background-color: rgb(209, 209, 209);
  }
}

.nutupane-details-open {
  @include transition(background-color 1.25s ease-in-out);
  display: block;
  float: left;
  width: 80%;
  opacity: 1;
  border-radius: 0;
}

.nutupane-details-open.scrolling{
  margin-left: 8px;
  position: fixed;
  width: 78%;
  top: 5%;
}

#nutupane-new-item {
  display: block;
  left: 20%;
  padding: 20px;
  position: absolute;
  right: 20%;
  top: 30%;
  z-index: 100;

  .button {
    color: $text_color;
  }
}

.nutupane-titlebar {
  width: 100%;
  background: rgb(250, 250, 250);
  overflow: auto;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(230, 230, 230);

  .nutupane-title {
    margin: 0;
  }
}

.nutupane-actionbar {
  width: 100%;
  background: rgb(250, 250, 250);
  overflow: auto;
  padding: 10px 10px;
  border-bottom: 1px solid rgb(230, 230, 230);

  .form {
    width: auto;
    float: left;

    input {
      margin-bottom: 0;
    }
  }
}

.selected-action-container {
  vertical-align: middle;
}

.table-selection-row {
  display: none;
}

.action-panel {
  height:500px;
  left: 20%;
  min-width: 30%;
  padding: 5px 0 20px 20px;
  position: absolute;
  width: 80%;

  .table-toolbar {
    background: transparent;
    border: none;
    padding: 10px 0;
  }

  h2 {
    margin: 0;
  }

  ul {
    border-bottom: 1px solid #d3d3d3;
    list-style: none;
    margin-right: 22px;
    padding: 0 5px;

    li {
      display: inline;
      margin-right: 20px;
    }
  }

  nav.actions {
    display: inline-block;
    padding-right: 15px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .details {
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    width: 40%;

    .info-label {
      display: inline-block;
      line-height: 1.75em;
      width: 50%;
    }
  }
}

.table-reduced {
  width: 20%;
}

.table-full {
  width: 100% !important;
}

