.custom-information {
  .form input {
    width: 200px;
  }

  button {
    vertical-align: middle;
  }

  .existing-items {
    margin-top: 25px;
  }

  .details-container {
    max-height: 250px;
    overflow-y: auto;
    padding: 15px;
  }

  .info-value {
    display: inline-block;
  }
}

.details-actions .alch-confirm {
  width: 175px;
}

.system-subscriptions {
  margin-top: 35px;
}

.compliance-reasons {
  margin: 0;

  li {
    padding: 5px;
  }
}

.filter-options {
  clear: both;

  .filter-option {
    padding: 5px;
  }
}
