.custom-information {
  .form input {
    width: 200px;
  }

  button {
    vertical-align: middle;
  }

  .existing-items {
    margin-top: 25px;
  }

  .details-container {
    max-height: 250px;
    overflow-y: auto;
    padding: 15px;
  }

  .info-value {
    display: inline-block;
  }
}