  .pf-v5-c-dropdown__toggle-text {
    padding: 0 5px;

    .fa-bookmark {
      font-size: 14px;
    }
  }

  .pf-v5-c-dropdown__toggle-icon {
    margin: 0;
  }


  .pf-m-inline {
    align-content: center;

    .pf-v5-c-check {
      input {
        margin-top: 2px;
      }

      margin-right: 10px !important;
    }

    svg {
      margin-top: 2px;
    }
  }