#container-images-title-section {
  padding-block: 24px 16px;

  .pf-v5-c-title {
    margin: 0;
  }
}

#container-images-tabs-section {
  padding-block: 0;

  .pf-v5-c-tabs__list { 
    margin-bottom: 0; 
  }
}

#container-images-content-section {
  padding-top: 0;

  .table-index-page #page-layout-title-section {
    display: none;
  }

  .table-index-page #page-layout-toolbar-section,
  .table-index-page #page-layout-content-section {
    padding-left: 0;
    padding-right: 0;
  }
}
