#page-layout-title-section {
  .pf-v5-c-title {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

#page-layout-tabs-section {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

#page-layout-content-section.container-images-page {
  padding-top: 0;

  .table-index-page #page-layout-title-section {
    display: none;
  }

  .table-index-page #page-layout-toolbar-section,
  .table-index-page #page-layout-content-section {
    padding-left: 0;
    padding-right: 0;
  }
}
