table.pf-v5-c-table {
  tr.child-manifest-row {
    background-color: inherit;
    border: none;

    td {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border: none;
      background-color: inherit;
    }

    &.last-child td {
      border-bottom: 1px solid var(--pf-v5-global--BorderColor--100);
    }

    td.empty-cell {
      padding: 0;
    }
  }
}