{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": ["@theforeman/vendor-dev/babel.preset.js"]
    },
    "storybook": {
      "presets": ["@theforeman/vendor-dev/babel.preset.js"]
    }
  }
}
