.idea*
.project
.pydevproject
*.py?
reports
project.vim
katello.vim
tags
.settings
cli/po/build
cli/po/POTFILES.in
cli/po/*.mo
cli/cover
cli/doc/build
*.swp
.rbenv*
.ropeproject
.rvmrc*
.DS_Store
src/Gemfile*.lock
src/.bundle
src/.bin
src/db/*.sqlite3
src/db/*.sqlite3-journal
src/log/*.log
src/log/*.age
src/hudson
src/yard
src/tmp
src/*~
src/*.swp
src/public/stylesheets/compiled/*
src/config/katello.yml
src/.idea*
src/*.iml
src/locale/*/LC_MESSAGES
src/locale/.cache/*
src/tags
src/.yardoc
src/yardoc
src/apidoc
src/project.vim
src/routes.html
src/routes.txt
src/perm_coverage.log
src/vendor/ruby
src/coverage
src/public/assets
src/.rvmrc
src/config/katello.yml
src/.DS_Store
src/bundler.d/local*.rb
src/lib/tasks/local*.rb
katello-utils/po/*/*.mo
katello-utils/po/*/*.pox
katello-utils/po/*.mo
katello-utils/redhat-uep.pem
katello-utils/.rvmrc*
src/doc/graphs/*.svg
.ruby-version
.ruby-gemset
