.idea*
.project
reports
project.vim
katello.vim
tags
.settings
*.swp
.rbenv*
.ropeproject
.rvmrc*
.DS_Store
Gemfile*.lock
.bundle
.bin
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
log/*.age
hudson
yard
tmp
*~
config/katello.yml
*.iml
locale/*.mo
locale/*/*.edit.po
locale/*/*.po.time_stamp
locale/.cache/*
locale/*/*.pox
locale/*/LC_MESSAGES
.yardoc
yardoc
doc/apidoc*
doc/headpin-apidoc*
public/apipie-cache*
public/headpin-apipie-cache*
project.vim
routes.html
routes.txt
perm_coverage.log
vendor/ruby
coverage
public/assets
bundler.d/local*.rb
config/initializers/_local*.rb
config/initializers/local*.rb
lib/tasks/local*.rb
doc/graphs/*.svg
.ruby-version
.ruby-gemset
*.swo
*.swn
*.gem
.zanata-cache
node_modules
.vscode
npm-debug.log
/foreman/
package-lock.json
webpack/foremanReact/
