--protected
--private
--verbose
--use-cache
--plugin yard-activerecord
--output-dir=./yardoc/
--main=README.md
--title=Katello
./app/**/*.rb
./lib/**/*.rb
./db/schema.rb
-
./doc/**/*.md
./doc/RailsReadme
./LICENSE
