<span page-title ng-model="activationKey">{{ 'System Groups for:' | translate }} {{ activationKey.name }}</span>

<h4 translate>System Group Management</h4>
<nav>
  <ul class="nav nav-tabs">
    <li ng-class="{active: isState('activation-keys.details.system-groups.list')}">
      <a ui-sref="activation-keys.details.system-groups.list">
        <span translate>List/Remove</span>
      </a>
    </li>

    <li ng-class="{active: isState('activation-keys.details.system-groups.add')}">
      <a ui-sref="activation-keys.details.system-groups.add">
        <span translate>Add</span>
      </a>
    </li>
  </ul>
</nav>

<div ui-view></div>
