<span page-title ng-model="activationKey">{{ 'Current Subscriptions for Activation Key:' | translate }} {{ activationKey.name }}</span>

<section class="nutupane-sub-section" >

  <div class="row nutupane-bar">

    <div class="col-sm-3">
      <div class="input-group">
        <input type="text"
               class="form-control"
               placeholder="{{ 'Search...' | translate }}"
               ng-model="subscriptionsTable.searchTerm"
               on-enter="subscriptionsTable.search(subscriptionsTable.searchTerm)"/>
        <span class="input-group-btn">
          <button ng-click="subscriptionsTable.search(subscriptionsTable.searchTerm)" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>

    <div class="col-sm-3 nutupane-info">
      <span translate>Showing {{ subscriptionsTable.rows.length }} of {{ subscriptionsTable.resource.subtotal }} ({{ subscriptionsTable.resource.total }} Total) Subscriptions</span>
    </div>

    <div class="col-sm-6 pull-right">
      <div ng-hide="activationKey.readonly" class="nutupane-actions pull-right">
         <button class="btn btn-primary"
                 translate
                 ng-disabled="disableRemoveButton()"
                 ng-click="removeSelected()">
           Remove Selected
         </button>
      </div>

      <div class="pull-right nutupane-info">
        <span translate>{{ subscriptionsTable.numSelected }} Selected</span>
        <span>|</span>
        <a class="deselect-action"
           translate
           ng-class="{ 'disabled-link' : subscriptionsTable.numSelected == 0 }"
           ng-click="subscriptionsTable.selectAll(false)">
          Deselect All
        </a>
      </div>
    </div>
  </div>

  <div alch-table="subscriptionsTable" class="nutupane">
    <div alch-container-scroll control-width="subscriptionsTable" alch-infinite-scroll="subscriptionsTable.nextPage()">

      <div class="loading-mask fa fa-3x" ng-show="subscriptionsTable.working && subscriptionsTable.rows.length == 0">
        <i class="fa fa-spinner fa fa-spin"></i>
        {{ "Loading..." | translate }}
      </div>

      <table ng-class="{'table-mask': subscriptionsTable.working}" class="table table-full table-striped">
        <thead>
          <tr alch-table-head row-select>
            <th alch-table-column="quantity" sortable class="align-center">{{ "Quantity" | translate }}</th>
            <th alch-table-column="attached" sortable>{{ "Attached" | translate }}</th>
            <th alch-table-column="startDate" sortable>{{ "Starts" | translate }}</th>
            <th alch-table-column="endDate" sortable>{{ "Expires" | translate }}</th>
            <th alch-table-column="supportLevel">{{ "Support Level" | translate }}</th>
            <th alch-table-column="contractNumber" sortable>{{ "Contract" | translate }}</th>
            <th alch-table-column="accountNumber" sortable>{{ "Account" | translate }}</th>
          </tr>
        </thead>

        <tbody>
          <tr alch-table-row  ng-repeat-start="(name, subscriptions) in groupedSubscriptions">
            <td alch-table-cell colspan="8">
              <a href='subscriptions#/subscriptions?search=productName:"{{ name }}"'>
                {{ name }}
              </a>
            </td>
          </tr>
          <tr alch-table-row ng-repeat-end ng-repeat="subscription in subscriptions" row-select="subscription">
            <td alch-table-cell>{{ subscription | subscriptionAttachAmountFilter }}</td>
            <td alch-table-cell>{{ subscription | subscriptionConsumedFilter }}</td>
            <td alch-table-cell>{{ subscription.start_date | date:"shortDate" }}</td>
            <td alch-table-cell>{{ subscription.end_date | date:"shortDate" }}</td>
            <td alch-table-cell>{{ subscription.service_level }}</td>
            <td alch-table-cell>{{ subscription.contract_number }}</td>
            <td alch-table-cell>{{ subscription.account_number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
