<span page-title ng-model="activationKey">{{ 'Details for Activation Key:' | translate }} {{ activationKey.name }}</span>

<section>

  <div class="details pull-left">
    <section>
      <div class="detail">
        <span class="info-label" translate>Name</span>
        <span class="info-value"
              alch-edit-text="activationKey.name"
              readonly="denied('edit_activation_keys', activationKey)"
              on-save="save(activationKey)">
        </span>
      </div>

      <div class="detail">
        <span class="info-label" translate>Description</span>
        <span class="info-value"
              alch-edit-textarea="activationKey.description"
              readonly="denied('edit_activation_keys', activationKey)"
              on-save="save(activationKey)">
        </span>
        </div>

      <div class="detail">

        <span class="info-label" translate>System Limit</span>

        <span class="info-value"
              alch-edit-custom="activationKey.usage_limit"
              readonly="denied('edit_activation_keys', activationKey)"
              formatter="defaultNumberString"
              formatter-options="limitTranslations"
              on-save="save(activationKey)">

          <div class="form input">
            <div>
              <span translate>
                Unlimited Systems:
              </span>
              <input type='checkbox'
                   ng-model="unlimited"
                   ng-checked="isUnlimited(activationKey)"
                   ng-change="unlimitedChanged()"/>
            </div>
            <div ng-hide="isUnlimited(activationKey)" >
              <span translate>
                Limit:
              </span>
              <input ng-model="activationKey.usage_limit"
                     name="usage_limit"
                     type="number"
                     tabindex="2"/>
              <span class="note error" ng-show="activationKeyForm.usage_limit.$invalid">
                <ul><li ng-repeat="message in activationKeyForm.usage_limit.$error.messages">{{ message }}</li></ul>
              </span>
            </div>
          </div>

        </span>
      </div>
      <div class="detail">
        <span class="info-label" translate>Service Level</span>
        <span class="info-value"
              alch-edit-select="activationKey.service_level"
              readonly="denied('edit_activation_keys', activationKey)"
              selector="activationKey.service_level"
              options="serviceLevels()"
              options-format="option for option in options"
              deletable="true"
              on-delete="clearServiceLevel()"
              on-save="save(activationKey)">
        </span>
      </div>
    </section>
  </div>

  <div class="details pull-left">
    <section>
      <h4 translate>Activation Key Content</h4>

      <div class="detail">
        <span class="info-label" translate>Release Version</span>
        <span class="info-value"
              alch-edit-select="activationKey.release_version"
              readonly="denied('edit_activation_keys', activationKey)"
              selector="activationKey.release_version"
              options="releaseVersions()"
              options-format="option for option in options"
              deletable="true"
              on-delete="clearReleaseVersion()"
              on-save="save(activationKey)">
        </span>
      </div>

      <div class="detail">
        <div alert type="'info'" ng-show="editContentView">
          <p translate>You must select a new content view before your change of environment can be saved. Use the cancel button on content view selection to revert your environment selection.</p>
        </div>
        <span class="info-label" translate>Environment</span>
        <span path-selector="environments"
              ng-model="activationKey.environment"
              mode="singleSelect"
              disabled="denied('edit_activation_keys', activationKey)"
              disable-trigger="disableEnvironmentSelection">
        </span>
      </div>

      <div class="detail">
        <span class="info-label" translate>Content View</span>
        <span class="info-value"
              alch-edit-select="activationKey.content_view.name"
              readonly="denied('edit_activation_keys', activationKey)"
              selector="activationKey.content_view.id"
              options="contentViews()"
              on-cancel="cancelContentViewUpdate()"
              on-save="saveContentView(activationKey)"
              edit-trigger="editContentView">
        </span>
      </div>
    </section>
  </div>
</section>
