<section class="nutupane-sub-section">
  <div alch-alert success-messages="successMessages" error-messages="errorMessages"></div>

  <div class="row nutupane-bar">

    <div class="col-sm-3">
      <div class="input-group">
        <input type="text"
               class="form-control"
               placeholder="{{ 'Filter' | translate }}"
               ng-model="systemGroupFilter"/>
      </div>
    </div>

    <div class="col-sm-9">

      <div class="pull-right">
        <button ng-if="isState('activation-keys.details.system-groups.list')"
                class="btn btn-default"
                ng-disabled="systemGroupsTable.numSelected == 0 || systemGroupsTable.working"
                ng-click="removeSystemGroups()">
          {{ 'Remove Selected' | translate }}
        </button>

        <button ng-if="isState('activation-keys.details.system-groups.add')"
                class="btn btn-default"
                ng-disabled="systemGroupsTable.numSelected == 0 || systemGroupsTable.working"
                ng-click="addSystemGroups()">
          {{ 'Add Selected' | translate }}
        </button>
      </div>

      <span class="nutupane-info pull-right">
        <span translate>{{ systemGroupsTable.numSelected }} Selected</span>
        <span>|</span>
        <a class="deselect-action"
           translate
           ng-class="{ 'disabled-link' : systemGroupsTable.numSelected == 0 }"
           ng-click="systemGroupsTable.selectAll(false)">
          Deselect All
        </a>
      </span>

    </div>
  </div>

  <div alch-table="systemGroupsTable" class="nutupane">
    <div alch-container-scroll control-width="systemGroupsTable" alch-infinite-scroll="systemGroupsTable.nextPage()">

      <div ng-show="systemGroupsTable.rows.length == 0">
        <div class="loading-mask" ng-show="systemGroupsTable.working">
          <i class="fa fa-spinner fa fa-spin"></i>
          {{ "Loading..." | translate }}
        </div>

        <p ng-hide="systemGroupsTable.working" translate>No system groups</p>
      </div>

      <table ng-show="systemGroupsTable.rows.length > 0"
             ng-class="{'table-mask': systemGroupsTable.working}" class="table table-full table-striped">
        <thead>
          <tr alch-table-head row-select="systemGroup">
            <th alch-table-column="name" translate>Name</th>
            <th alch-table-column="description" translate>Description</th>
            <th alch-table-column="capacity" translate>Capacity</th>
          </tr>
        </thead>

        <tbody>
          <tr alch-table-row ng-repeat="systemGroup in systemGroupsTable.rows | filter:systemGroupFilter" row-select="systemGroup">
            <td alch-table-cell>
              <a ui-sref="system-groups.details.info({systemGroupId: systemGroup.id})">
                {{ systemGroup.name }}
              </a>
            </td>
            <td alch-table-cell>{{ systemGroup.description }}</td>
            <td alch-table-cell>{{ systemGroup.total_systems }} / {{ systemGroup.max_systems | unlimitedFilter }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
