<span page-title ng-model="repository">{{ 'Manage Puppet Modules for Repository:' | translate }} {{ repository.name }}</span>

<a ui-sref="products.details.repositories.info({productId: product.id, repositoryId: repository.id})">
  <i class="fa fa-angle-double-left"></i>
  {{ "Back to Repository Details" | translate }}
</a>

<div data-extend-template="layouts/details-nutupane.html">

  <div data-block="pane-loading"></div>

  <div data-block="messages">
    <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

    <div bst-alert="success" ng-hide="generationTaskId === undefined">
      <button type="button" class="close" ng-click="clearTaskId()">&times;</button>
      <p translate>
        Puppet module metadata generation has been initiated in the background.
        Click <a ng-href="{{ taskUrl() }}">Here</a> to monitor the progress.
      </p>
    </div>
  </div>

  <div data-block="header">
    <h3 translate>Puppet Modules in {{ repository.name }}</h3>
  </div>

  <div data-block="actions">
    <button class="btn btn-default"
            ng-click="removeContent()"
            ng-disabled="detailsTable.working || detailsTable.numSelected === 0">
      <i class="fa fa-trash-o" ng-hide="detailsTable.working"></i>
      <i class="fa fa-spinner fa-spin" ng-show="detailsTable.working"></i>
      <span translate>Remove Puppet Modules</span>
    </button>
  </div>

  <div data-block="table">
    <table class="table table-striped table-bordered" >

      <thead>
        <tr bst-table-head row-select>
          <th bst-table-column><span translate>Name</span></th>
          <th bst-table-column><span translate>Author</span></th>
          <th bst-table-column><span translate>Version</span></th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="item in detailsTable.rows" row-select="item">
          <td bst-table-cell>
            {{ item.name }}
          </td>
          <td bst-table-cell>
            {{item.author}}
          </td>
          <td bst-table-cell>
            {{ item.version }}
          </td>
        </tr>
      </tbody>

    </table>
  </div>

</div>
