<table class="table table-striped" ng-class="{'table-mask': contentHostTable.working}">
  <thead>
    <tr alch-table-head row-select>
      <th alch-table-column="name" sortable>{{ "Name" | translate }}</th>
      <th alch-table-column="status">
        {{ "Subscription Status" | translate }}
        <i class="icon-info-sign"
           tooltip="{{ 'Mouse over the red or yellow subscription status to see detailed reason' | translate }}"
           tooltip-animation=false>
        </i>
      </th>
      <th alch-table-column="os">{{ "OS" | translate }}</th>
      <th alch-table-column="environment" sortable>{{ "Environment" | translate }}</th>
      <th alch-table-column="contentView">{{ "Content View" | translate }}</th>
      <th alch-table-column="registered">{{ "Registered" | translate }}</th>
      <th alch-table-column="lastCheckin" sortable>{{ "Last Checkin" | translate }}</th>
    </tr>
  </thead>

  <div data-extend-template="layouts/select-all-results.html"></div>

  <tbody>
    <tr alch-table-row ng-repeat="contentHost in contentHostTable.rows" row-select="contentHost"
        ng-controller="ContentHostStatusController">
      <td alch-table-cell>
        <a ui-sref="content-hosts.details.info({contentHostId: contentHost.uuid})">
          {{ contentHost.name }}
        </a>
      </td>
      <td alch-table-cell>
        <span class="icon-circle" ng-class="contentHostTable.getStatusColor(contentHost.entitlementStatus)"
              tooltip-html-unsafe="{{ statusReason }}"
              tooltip-trigger=mouseenter
              tooltip-placement=right
              tooltip-append-to-body=true
              tooltip-animation=false
              ng-mouseover="getComplianceReason(contentHost.uuid)"/>
      </td>
      <td alch-table-cell>{{ contentHost.distribution }}</td>
      <td alch-table-cell>{{ contentHost.environment.name }}</td>
      <td alch-table-cell>{{ contentHost.content_view.name || "" }}</td>
      <td alch-table-cell>{{ contentHost.created | date:'short' }}</td>
      <td alch-table-cell>{{ (contentHost.checkin_time | date:'short') || ("Never checked in" | translate) }}</td>
    </tr>
  </tbody>
</table>
