.grid_16#main
  = two_panel(@view_definitions, @panel_options)

= javascript :content_view_definition, :product_repo_selector

= javascript do
  :plain
    localize({
      "environments" : function(e){ return '#{escape_javascript(_("Environment(s): %E"))}'.replace("%E", e); }
    });