.grid_16
  = help_tip_button
  = help_tip(_("Configuration Templates are bees' knees. " + |
             "You should use them!")) |

.grid_16#main
  = two_panel(nil, @panel_options)

= javascript :configuration_template, :multiselect, :edit_helpers
