<span page-title ng-model="product">{{ 'Repositories for Product:' | translate }} {{ product.name }}</span>

<div data-block="messages">
  <div bst-alert="success" ng-show="removingTasks.length > 0" close="close($index)" ng-repeat="task in removingTasks">
    <div>
      <p translate>Removal of selected repositories initiated successfully. </p>
      <div><a href="/foreman_tasks/tasks/{{task}}" translate>Click here to check the status of the task.</a></div>
    </div>
  </div>
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>
  <div bst-alert="danger" ng-show="warningMessages">
    <strong translate>There were errors while removing the following Repositories:</strong>
    <ol>
      <li data-ng-repeat="message in warningMessages">
        {{ message }}
      </li>
    </ol>
    <a ui-sref="product.tasks.details({taskId: warningTaskId})" translate>Click here to see the task for the successful removals.</a>
  </div>
</div>


<div data-extend-template="layouts/partials/table.html">
  <div data-block="list-actions">
    <button class="btn btn-default"
            ui-sref="product.repositories.new({productId: product.id})"
            ng-hide="denied('edit_products', product) || product.redhat">
      <span translate>New Repository</span>
    </button>

    <button class="btn btn-default"
            ng-click="syncSelectedRepositories()"
            ng-hide="denied('sync_products', product)"
            ng-disabled="syncInProgress || table.numSelected == 0">
      <span translate>Sync Now</span>
    </button>

    <button class="btn btn-default"
            ng-click="openModal()"
            ng-show="canRemoveRepositories(product)"
            ng-disabled="removingRepositories || table.numSelected == 0">
      <span ng-show="removingRepositories">
        <i class="fa fa-spinner inline-icon fa-spin"></i>
        <span>{{ "Removing Repositories" | translate }}</span>
      </span>
      <span ng-hide="removingRepositories">
        {{ "Remove Repositories" | translate }}
      </span>
    </button>

    <div bst-modal="removeSelectedRepositories()" model="table">
      <div data-block="modal-header"
           translate
           translate-n="table.numSelected"
           translate-plural="Remove {{ table.numSelected }} repositories?">
        Remove repository?
      </div>
      <div data-block="modal-body"
           translate
           translate-n="table.numSelected"
           translate-plural="Remove {{ table.numSelected }} repositories?">
        Are you sure you want to remove {{ table.getSelected()[0].name }}?
      </div>
    </div>

    <span ng-switch="getRepositoriesNonDeletableReason(product)" bst-feature-flag="custom_products">
      <i class="fa fa-question-sign" ng-switch-when="permissions"
         tooltip="{{ 'You cannot remove these repositories because you do not have permission.' | translate }}"
         tooltip-animation="false"
         tooltip-placement="left"
         tooltip-append-to-body="true">
      </i>
      <i class="fa fa-question-sign" ng-switch-when="redhat"
         tooltip="{{ 'You cannot remove these repositories because they belong to a Red Hat product.' | translate }}"
         tooltip-animation="false"
         tooltip-placement="left"
         tooltip-append-to-body="true">
      </i>
    </span>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Repositories included in this Product, you can add Repositories using the button on the right.
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Repositories.
  </span>

  <div data-block="table">
    <table bst-table="table"
           class="table table-striped"
           ng-show="table.rows.length > 0 && !table.working">
      <thead>
        <tr bst-table-head row-select>
          <th bst-table-column="name" translate>Name</th>
          <th bst-table-column="type" translate>Type</th>
          <th bst-table-column="sync-status" translate>Sync Status</th>
          <th bst-table-column="content" translate>Content</th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row
            row-select="repository"
            ng-repeat="repository in table.rows | filter:repositorySearch">
          <td bst-table-cell>
            <a ui-sref="product.repository.info({productId: product.id, repositoryId: repository.id})">{{ repository.name }}</a>
          </td>
          <td bst-table-cell>{{ repository.content_type }}</td>
          <td bst-table-cell>
            <span ng-show="repository.url">
              <span ng-show="repository.last_sync == null" translate>
                Not Synced
              </span>
              <span ng-show="repository.last_sync !== null && repository.last_sync.ended_at == null" translate>
                <a href="/foreman_tasks/tasks/{{repository.last_sync.id}}">{{ repository.last_sync.result | capitalize}}</a>
              </span>
              <span ng-hide="repository.last_sync == null || repository.last_sync.ended_at == null">
                <a href="/foreman_tasks/tasks/{{repository.last_sync.id}}">{{ repository.last_sync.result | capitalize}}</a>
                <span translate>{{ repository.last_sync_words }} ago</span>
              </span>
            </span>
            <span ng-hide="repository.url" translate>N/A</span>
          </td>
          <td bst-table-cell>
            <span ng-show="repository.content_type == 'puppet'">
              <a translate ui-sref="product.repository.manage-content.puppet-modules({productId: product.id, repositoryId: repository.id})">
                {{ repository.content_counts.puppet_module || 0 }} Puppet Modules
              </a>
            </span>

            <span ng-show="repository.content_type == 'yum'">
              <div>
                <a translate ui-sref="product.repository.manage-content.packages({productId: product.id, repositoryId: repository.id})">
                  {{ repository.content_counts.rpm || 0 }} Packages
                </a>
              </div>

              <div>
                <a ui-sref="errata.index({repositoryId: repository.id})" translate>
                  {{ repository.content_counts.erratum || 0 }} Errata
                </a>
              </div>
            </span>

            <span ng-show="repository.content_type == 'docker'">
              <div>
                <a ui-sref="product.repository.manage-content.docker-manifests({productId: product.id, repositoryId: repository.id})" translate>
                  {{ repository.content_counts.docker_manifest || 0 }} Docker Manifests
                </a>
              </div>
              <div>
                <a ui-sref="product.repository.manage-content.docker-manifests({productId: product.id, repositoryId: repository.id})" translate>
                  {{ repository.content_counts.docker_tag || 0 }} Docker Tags
                </a>
              </div>
            </span>

            <span ng-show="repository.content_type == 'ostree'">
              <div>
                <span translate>
                  {{ repository.content_counts.ostree_branch || 0 }} OSTree Branches
                </span>
              </div>
            </span>

            <span ng-show="repository.content_type == 'file'">
              <div>
                <span translate>
                  {{ repository.content_counts.file || 0 }} Files
                </span>
              </div>
            </span>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

