<span page-title ng-model="errata">{{ 'Packages for Errata: ' | translate }} {{ errata.title }}</span>

<div data-extend-template="layouts/two-column-details.html">
  <div data-block="left-column">
    <h3 translate>Independent Packages</h3>
    <ul>
      <p ng-show="!(errata.packages.length || errata.deb_packages.length)" >No Packages to show</p>
      <li ng-show="errata.packages.length" ng-repeat="package in errata.packages">
        <a href="/packages?search={{package}}">
          {{ package }}
        </a>
      </li>
      <li ng-show="errata.deb_packages.length" ng-repeat="deb_package in errata.deb_packages">
        <a href="/debs?search={{ encodeURIComponent('name==' + deb_package.name + ' and version>=' + deb_package.version) }}">
          {{ deb_package.name }} {{ deb_package.version }}
        </a>
        ({{ deb_package.release }})
      </li>
    </ul>
  </div>

  <div data-block="right-column">
    <h3 translate>Module Stream Packages</h3>
    <ul class="list-unstyled">
      <p ng-show="!errata.module_streams.length" >No Packages to show</p>
      <li ng-show="errata.module_streams.length" ng-repeat="moduleStream in errata.module_streams">
        <i class="fa fa-chevron-{{ moduleStreamChevron(moduleStream.id) }} cursor-pointer selected-icon"
           ng-click="toggleModuleStreamList(moduleStream.id)"></i>
        <a href="/module_streams/{{ moduleStream.id }}">
          <b>{{ moduleStream.name + ":" + moduleStream.stream }}</b>
        </a>
        <ul ng-show="showModuleStreamList(moduleStream.id)">
          <li ng-repeat="package in  moduleStream.packages">
            <a href="/packages?search={{package}}">
              {{ package }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
