<span page-title>{{ 'Apply Errata to Content Hosts' | translate }}</span>

<div data-extend-template="layouts/details-nutupane.html">

  <div data-block="header">
    <h3 translate>Apply to Content Hosts</h3>
  </div>

  <div data-block="actions">
    <button class="btn btn-primary"
            ng-click="goToNextStep()"
            ng-hide="denied('edit_content_hosts')"
            ng-disabled="detailsTable.numSelected == 0">
      <i class="icon-plus"></i>
      <span translate>Apply to Hosts</span>
    </button>
  </div>

  <div data-block="filters">
    <form>
      <div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="errata.showAvailable" ng-change="toggleAvailable()"/>
            <span translate>Only show content hosts where {{ errata.title }} is currently available in the host's Lifecycle Environment.</span>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <select class="form-control"
                  ng-model="environmentFilter"
                  ng-options="environment.id as environment.name for environment in environments"
                  ng-change="selectEnvironment(environmentFilter)">
            <option value="" disabled selected >Filter by Environment</option>
          </select>
        </div>

        <div class="col-md-1">
          <a ng-show="environmentFilter" ng-click="selectEnvironment(null)">
            <i class="fa fa-remove"></i>
          </a>
        </div>
      </div>
    </form>
  </div>

  <div data-block="table">
    <p bst-alert="warning" data-i18n
       ng-show="detailsTable.rows.length > 0 && stateIncludes('errata.details.content-hosts.unavailable')">
      The Content View or Lifecycle Environment needs to be updated in order to make errata available to these hosts.
    </p>

    <p bst-alert="info" ng-show="detailsTable.rows.length === 0">
      <span translate>No Content Hosts match this Erratum.</span>
    </p>

    <table class="table table-striped table-bordered"
           ng-class="{'table-mask': detailsTable.working}"
           ng-show="detailsTable.rows.length > 0">
      <thead>
        <tr bst-table-head row-select>
          <th bst-table-column="name"><span translate>Name</span></th>
          <th bst-table-column="os"><span translate>OS</span></th>
          <th bst-table-column="environment"><span translate>Environment</span></th>
          <th bst-table-column="contentView"><span translate>Content View</span></th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="contentHost in detailsTable.rows" row-select="contentHost"
            ng-controller="ContentHostStatusController">
          <td bst-table-cell>
            <a ui-sref="content-hosts.details.info({contentHostId: contentHost.uuid})">
              {{ contentHost.name }}
            </a>
          </td>
          <td bst-table-cell>{{ contentHost.distribution }}</td>
          <td bst-table-cell>{{ contentHost.environment.name }}</td>
          <td bst-table-cell>{{ contentHost.content_view.name || "" }}</td>
        </tr>
      </tbody>
    </table>

    <div data-block="footer-actions" class="footer-actions"></div>
  </div>
</div>
