%table
  %thead
    %th #{_("Message")}
    %th #{_("Import Time")}
  - if @statuses
    %tbody
      - @statuses.each do |status|
        %tr{:class => cycle(nil, 'alt')}
          %td{:style => "width: 70%;"}
            %span.icon_wrap.fl
              %span.fl{:class => (status["status"] == "FAILURE" ? "failure_icon" : "success_icon")}
            = status["statusMessage"]
          %td
            = _("%s ago") % time_ago_in_words(status["created"])
