--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/f3c6b317-ade1-4584-ac8b-8c386472560c/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="zsLm9eu1RDldmjHuby9XVO2dFhhq09rHgOJgQ1mVI", oauth_signature="VyHKuqxCKwMQcSL5O7OmorJbMjU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954282", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f3c6b317-ade1-4584-ac8b-8c386472560c/\", \"task_id\": \"f3c6b317-ade1-4584-ac8b-8c386472560c\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-01-12T01:31:22Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-01-12T01:31:22Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"f3c6b317-ade1-4584-ac8b-8c386472560c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 12 Jan 2013 01:31:22 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/afc2dbec-38b1-435d-a1b8-b172ba9f1cf7/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Bnmz0ct8yBW0Y2BItAY5AzrDPqyMakPfP6yM0llC8", oauth_signature="DZ2vHmV83V6VIb4gudWgIfFNrl8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954285", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"c6f7ffaa-17cd-480e-8c13-f86d0d717307\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/afc2dbec-38b1-435d-a1b8-b172ba9f1cf7/\", \"task_id\": \"afc2dbec-38b1-435d-a1b8-b172ba9f1cf7\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-12T01:31:25Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"c6f7ffaa-17cd-480e-8c13-f86d0d717307\", \"call_request_id\": \"afc2dbec-38b1-435d-a1b8-b172ba9f1cf7\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 12 Jan 2013 01:31:25 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/afc2dbec-38b1-435d-a1b8-b172ba9f1cf7/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="fSntORF5PMlxiiKCZEoL7e7lPFthn2nnUzdRo5KnMRY", oauth_signature="YxR184C9u7KegJY6Ti9EiJvpWy0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954286", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"c6f7ffaa-17cd-480e-8c13-f86d0d717307\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/afc2dbec-38b1-435d-a1b8-b172ba9f1cf7/\", \"task_id\": \"afc2dbec-38b1-435d-a1b8-b172ba9f1cf7\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-12T01:31:25Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"c6f7ffaa-17cd-480e-8c13-f86d0d717307\", \"call_request_id\": \"afc2dbec-38b1-435d-a1b8-b172ba9f1cf7\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 12 Jan 2013 01:31:26 GMT
[...]
