--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"login\":\"batman\",\"password\":\"M5WpE7EPAQ47NuMq\",\"name\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="q0d6DkCbk4i64xLSKirVkTJkDWRn2Br97oqiUWgA0yE", oauth_signature="0GttIeZ%2Fi9Bu0DhSpgGK%2BrIz3cw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353123112", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"50a705299c60ed289c00220c\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50a705299c60ed289c00220c\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Sat, 17 Nov 2012 03:31:53 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="iMjecJFFDXpFpFujkrwVbSN2P61cqleiEUOccNHRk", oauth_signature="GUuiNc3qswGPO4UW5S48sDgaEgU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353123113", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Sat, 17 Nov 2012 03:31:54 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="In6MRSvPzt1Aalgs55ZDHEp0IbNmgz7G3aJnJpg4", oauth_signature="H1R7tNPFojU9wpc5oIQ8365Ojyk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353123115", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Sat, 17 Nov 2012 03:31:55 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="JIveTdMlcPw9QXLleGV4AEFuAQSHqTs6aLgibapJ3rw", oauth_signature="pskYf9%2FRzwUa8BvA4zTXcyd8hTc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353123115", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Sat, 17 Nov 2012 03:31:56 GMT
