--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/c0ae3d5f-b0ea-4a1c-b605-3f21b177472b/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="jjUsiadCPNMgiXPuDasNPBQGeZQsWVMAJLVVlYu0hk", oauth_signature="Jz86Pat1OaNcUIb0AAMm23IM614%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377289", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - hidden
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"6a0655f3-e012-4303-9d18-5ac0ea4fac6a\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/c0ae3d5f-b0ea-4a1c-b605-3f21b177472b/\", \"task_id\": \"c0ae3d5f-b0ea-4a1c-b605-3f21b177472b\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"reasons\": [], \"start_time\": \"2013-01-16T23:01:29Z\", \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"state\": \"finished\", \"finish_time\": \"2013-01-16T23:01:29Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"6a0655f3-e012-4303-9d18-5ac0ea4fac6a\", \"call_request_id\": \"c0ae3d5f-b0ea-4a1c-b605-3f21b177472b\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"repo_id\": \"1\", \"consumer_actions\": [], \"_ns\": \"consumer_bindings\", \"distributor_id\": \"1\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"deleted\": false, \"_id\": {\"$oid\": \"50f731499c60ed27ce00283b\"}, \"id\": \"50f731499c60ed27ce00283b\"}}"
  recorded_at: Wed, 16 Jan 2013 23:01:29 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="smwoRSX2NooAkBqsDOLQkn8vsNc1UCnDTiA00xh4Hc", oauth_signature="chCE%2Fam5qK2eBiFls3uZbQoGjDQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377430", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Wed, 16 Jan 2013 23:03:50 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/?details=true
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="76For9ceBQPAklH6YDr8noHcjuxrTTHHvyCJFKAI", oauth_signature="vOcy1zfQdNGp6yUJmoOrYkanIUU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377430", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\", \"repodata\": {}}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 14, \"_id\": {\"$oid\": \"50f731d39c60ed27ce003255\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2013-01-16T18:03:48-05:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"50f731d39c60ed27ce003256\"}, \"config\": {\"feed_url\": \"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"50f731d39c60ed27ce003257\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Wed, 16 Jan 2013 23:03:50 GMT
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/install//
    body: 
      string: "{\"options\":{},\"units\":[{\"unit_key\":{\"name\":\"cheetah\"},\"type_id\":\"rpm\"}]}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="PFRA2fFWtl1H9szRhf843SctblIjDmjFDLxA8h5m0", oauth_signature="9ymmsvSKjjCTEG1wWz50VyeVKHE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377431", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/edf30ddc-859d-4ab6-ac78-03a2c392d16a/\", \"task_id\": \"edf30ddc-859d-4ab6-ac78-03a2c392d16a\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"edf30ddc-859d-4ab6-ac78-03a2c392d16a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 16 Jan 2013 23:03:51 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/uninstall//
    body: 
      string: "{\"options\":{},\"units\":[{\"unit_key\":{\"name\":\"cheetah\"},\"type_id\":\"rpm\"}]}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="58xJMmfI2RS9aXWosGkjXJvN2169fFBpJwiewPAw0c", oauth_signature="HajyYNBygCqFKvIoTz[...]
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/update//
    body: 
      string: "{\"options\":{},\"units\":[{\"unit_key\":{\"name\":\"cheetah\"},\"type_id\":\"rpm\"}]}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="8EYm98Eb2JhMEDKXrLelnTxzaf4Yo9GtQsHEW9RIpKE", oauth_signature="W8QKBSnqT%2F%2F%2BzJ[...]
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"]}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="PRvrt9NmAdVvLhq75v1h6f4VlZfuwjzD7BJKtIUNm8", oauth_signature="Y7g%2B19%2FTAwBk5h8qHjbEfzprak0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377437", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2013-01-17T04:03:48Z\", \"repo_id\": \"1\", \"created\": \"2013-01-17T04:03:48Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"3818c7fe-98da-4fbe-8ce7-e35219ffc6b8\", \"unit_type_id\": \"erratum\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"50f731d49c60ed27ce003271\"}, \"id\": \"50f731d49c60ed27ce003271\", \"owner_id\": \"yum_importer\", \"metadata\": {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"_ns\": \"units_erratum\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"3818c7fe-98da-4fbe-8ce7-e35219ffc6b8\"}}, {\"updated\": \"2013-01-17T04:03:48Z\", \"repo_id\": \"1\", \"created\": \"2013-01-17T04:03:48Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"773117c8-8410-438a-b4e3-bf8b81b494ff\", \"unit_type_id\": \"erratum\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"50f731d49c60ed27ce003273\"}, \"id\": \"50f731d49c60ed27ce003273\", \"owner_id\": \"yum_importer\", \"metadata\": {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"_ns\": \"units_erratum\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"773117c8-8410-438a-b4e3-bf8b81b494ff\"}}]"
  recorded_at: Wed, 16 Jan 2013 23:03:57 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"include_repos\":true,\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"3818c7fe-98da-4fbe-8ce7-e35219ffc6b8\",\"773117c8-8410-438a-b4e3-bf8b81b494ff\"]}}}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="XjQTd6AcVOZjVQBGNUas3KvsGlDePXp6AJTfYvFlY", oauth_signature="tIKqnE0ZyOr%2F0Q%2FACPgsFd7xUc8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377437", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"3818c7fe-98da-4fbe-8ce7-e35219ffc6b8\", \"_href\": \"/pulp/api/v2/content/units/erratum/3818c7fe-98da-4fbe-8ce7-e35219ffc6b8/\", \"children\": {}, \"repository_memberships\": [\"1\", \"ACME_Corporation-TestProduct-Zoo5\", \"ACME_Corporation-TestProduct-ZooRepo\"]}, {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"773117c8-8410-438a-b4e3-bf8b81b494ff\", \"_href\": \"/pulp/api/v2/content/units/erratum/773117c8-8410-438a-b4e3-bf8b81b494ff/\", \"children\": {}, \"repository_memberships\": [\"1\", \"ACME_Corporation-TestProduct-Zoo5\", \"ACME_Corporation-TestProduct-ZooRepo\"]}]"
  recorded_at: Wed, 16 Jan 2013 23:03:57 GMT
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/
    body: 
      string: "{\"display_name\":\"Simple Server\",\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="hZZ9JfklvqKvANgOI1DGI3AZ8Eim3UqZFMLrWUr9n9c", oauth_signature="%2FS2yQZL87471X7rz3tnitjuYY00%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377442", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "{'_href': u'/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/'}"
      Content-Type: 
      - application/json
    body: 
      string: "{\"display_name\": \"Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXAIBAAKBgQDBiNxOVn3bVbwkARBHTfoGAnHQg823pIv72HDQJBmpmtgZhsmk\\n32zNOxLZY2Py1B92jzs2Z4V26ddvFdHWyV52wnWk4cpw7hqAv15NWrskDZjJCEf7\\nteEhvc5X05qfSpfnn4Nai8vfiOcwQo7Fae5dznwkcbS0wm++zGtbn6SKBQIDAQAB\\nAoGAe8A5rtXbcE6oGRWdBRs1TnZttHkzJ8RNxmIl8NHEnxDmMZxgf85l0e1+JgdJ\\nt9IvtC3uHOGhE+J+4QdAwGjOv18GMf9z+pV2lKNvmhVWU98ha/OZCah1AVNRboHm\\nVc9GtwYQETrtnGqDjBLbqzmR5hRm10aYXRNHDtVMok+AwgECQQD6SK/fssps9IiB\\niUQQTihLSd8MJHnQWDR13uz4+5AB0LGZELtlO9C0cOeFP6S8sL56thLkKvFkX[...]
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="j7KyICXvN1UHs6suN4grOQibm0cnpzwKpGpuFPRRRcM", oauth_signature="oqD4cILb67iPk9cmYlXpAyDA3s8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377452", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 16 Jan 2013 23:04:12 GMT
[...]
- request: 
    method: put
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      string: "{\"delta\":{\"display_name\":\"Not So Simple Server\"}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="PyA9TCmkz95BGiGYHua0cVfZodTvF5enBOzTP6tGxE", oauth_signature="dH3C0YzaIGLEg2jZgZn3nOZfRWI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377453", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      [...]
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles//
    body: 
      string: "{\"profile\":[{\"release\":\"0.8\",\"name\":\"elephant\",\"vendor\":\"FedoraHosted\",\"version\":\"0.3\",\"arch\":\"noarch\"}],\"content_type\":\"rpm\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Dl7Wv7bGGXIJ79tAOUjV4YbWJtHeLGrrxp1TnZexLNU", oauth_signature="LOkju6Ow0LEe62Iyrd1oC1Oe%2Feg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377454", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/
      Content-Type: 
      - application/json
    body: 
      string: "{\"profile\": [{\"release\": \"0.8\", \"vendor\": \"FedoraHosted\", \"version\": \"0.3\", \"arch\": \"noarch\", \"name\": \"elephant\"}], \"_ns\": \"consumer_unit_profiles\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"content_type\": \"rpm\", \"_id\": {\"$oid\": \"50f7316c9c60ed27ce002ac8\"}, \"id\": \"50f7316c9c60ed27ce002ac8\", \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/\"}"
  recorded_at: Wed, 16 Jan 2013 23:04:15 GMT
