--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/9edd34a0-53c0-4d5e-ba74-d32e3e76c52b/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="aYmug0wGfP9AWJmmWijIrnAV4qDD0xJe1zi3kFaOA", oauth_signature="%2BOuuUJSkbYTc2pRP571MjP%2FRnQo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158338", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/9edd34a0-53c0-4d5e-ba74-d32e3e76c52b/\", \"task_id\": \"9edd34a0-53c0-4d5e-ba74-d32e3e76c52b\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-06-13T21:18:57Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-06-13T21:18:57Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"9edd34a0-53c0-4d5e-ba74-d32e3e76c52b\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 13 Jun 2013 21:18:58 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/2de7005f-3df9-4344-a185-e6623a674b63/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="bgML3vro6gGll3Lgd4Fuvpbwntfj3SArOXyvLvlcEsQ", oauth_signature="OqnAg%2B1aBp24BWVUfdele%2BjuE0w%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158341", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"b7752d06-5fc8-49ee-b745-c4ba1da675b9\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/2de7005f-3df9-4344-a185-e6623a674b63/\", \"task_id\": \"2de7005f-3df9-4344-a185-e6623a674b63\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-06-13T21:19:01Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"b7752d06-5fc8-49ee-b745-c4ba1da675b9\", \"call_request_id\": \"2de7005f-3df9-4344-a185-e6623a674b63\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 13 Jun 2013 21:19:01 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/2de7005f-3df9-4344-a185-e6623a674b63/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="hvAwFvAakBblexWIf2va2aepFKiocLyVkH5NRduAA", oauth_signature="L5iUDdlDB0PgNIRirpoO%2F2i1VJU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158342", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"b7752d06-5fc8-49ee-b745-c4ba1da675b9\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/2de7005f-3df9-4344-a185-e6623a674b63/\", \"task_id\": \"2de7005f-3df9-4344-a185-e6623a674b63\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-06-13T21:19:01Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"b7752d06-5fc8-49ee-b745-c4ba1da675b9\", \"call_request_id\": \"2de7005f-3df9-4344-a185-e6623a674b63\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 13 Jun 2013 21:19:02 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/bea7380e-5ee1-41e7-b811-42932ba51255/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6bUl0x65Vz2Ul3xp5B6Wqw1bMFGtvrnhKvKWYXOHyA", oauth_signature="ov%2FvNj%2Fwntdg737C0H3YudZvmow%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158355", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/bea7380e-5ee1-41e7-b811-42932ba51255/\", \"task_id\": \"bea7380e-5ee1-41e7-b811-42932ba51255\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\"}], \"start_time\": \"2013-06-13T21:19:14Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-06-13T21:19:14Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"bea7380e-5ee1-41e7-b811-42932ba51255\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Thu, 13 Jun 2013 21:19:15 GMT
[...]
