--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"iyv5S2i5QynMDvMX\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="67XnHxDGVBuv6PxkGMx82nSm5oRpt4LJ9Rzk0GW1o", oauth_signature="NZCHIsvHcniMwbssHxi27zSsEwk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158421", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51ba37955ca01344a5ca8f91\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"51ba37955ca01344a5ca8f91\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Thu, 13 Jun 2013 21:20:21 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7blsfq7lrlAX12luoGP4bEnNNpvDCEhUPqK0eQXjYDo", oauth_signature="5kyEwWhdnfhWEancGRdwANTfdAc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158421", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 13 Jun 2013 21:20:22 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="vjn5MIQISN26CF7X6GERMf16NQIlqU7ulQYq5Eneh00", oauth_signature="zt04rhIgUORlTn8NZmKULHfzT6o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158429", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 13 Jun 2013 21:20:29 GMT
recorded_with: VCR 2.4.0
