--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":\"batman\",\"login\":\"batman\",\"password\":\"Mnpv2yztAvk6IWPu\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="3Q9ad1iF9u7AtrKfdUkcaQhrz1KcbAr6SwZuqc5fIE", oauth_signature="PjcP%2FwB%2FpT%2FMXBi3WCKrCQSAAtA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769146", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - batman
    body: 
      string: "{\"_id\": {\"$oid\": \"50ede9ba9c60ed2cd300418b\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50ede9ba9c60ed2cd300418b\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Wed, 09 Jan 2013 22:05:46 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="lqCl0vKFki98mL8vQ2tcMQsGLPLTBhjNr6I2aHUFAWI", oauth_signature="lq3lifQsMRNBW4RuRon7%2B6GCfRk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769147", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:05:47 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="fKVNS3K9SefIyLg8RVp72dmehooOUzMzSV9psgf7tI", oauth_signature="QQIckwroVhV0GkcTRTRmbatn32A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769149", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:05:49 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ezEsfsDpqCFakWNQF77xWqW5T2hiOFLrGIdaWQSo", oauth_signature="YxMhddJmaUwDsc5BZV8HRNXn%2FLg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769150", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:05:50 GMT
recorded_with: VCR 2.4.0
