--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Mfju6y06Brg9wK3UwVRgGvHjb2SJIyhuxogCkKqGX3k", oauth_signature="nibx1ZklGX9tmmEU2T2bLVfWbk0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353030917", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Fri, 16 Nov 2012 01:55:17 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2013-11-15T20:55:17-05:00/P1D\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="IKGnSJXgKVJFdMyI85Wmbgvk0pwvhiZBgch0HIujnc", oauth_signature="BUpPEqoZOZCCY00gPm6zSP3h%2Fos%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353030917", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50a59d05dc7921666d000467/
    body: 
      string: "{\"next_run\": \"2013-11-16T01:55:17Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50a59d05dc7921666d000467/\", \"schedule\": \"2013-11-15T20:55:17-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-11-16T01:55:17Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50a59d05dc7921666d000467\", \"consecutive_failures\": 0}"
  recorded_at: Fri, 16 Nov 2012 01:55:17 GMT
recorded_with: VCR 2.3.0
