--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"DoJ09AHj0L4HIVdp\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="oNrxgpwv1S9oYTdcc3T70u7EyijgyeAVAJXTNRoxdAY", oauth_signature="GtsR8VuJaBjLVOk01ITA6VILMeY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071826", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51d769d25ca0130acd0c2413\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"51d769d25ca0130acd0c2413\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Sat, 06 Jul 2013 00:50:26 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="mmE5trcqjuaUIWxhqbTiodqEn3iijcMpBx5nkPeQ", oauth_signature="hzIcxVmCejHwDw8ArecCSdmGnZk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071828", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Sat, 06 Jul 2013 00:50:28 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="LHTeSTQ9y1QjnqWg8O9EyNTD7FdEumtaAGiSpwrYE", oauth_signature="NtjBIojraistSE7I8SA8GtZMNH0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071829", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Sat, 06 Jul 2013 00:50:29 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="hfbflaffnRFVq2EDhWWyMxw6zbJb0vUZQ1IxcoP0hjA", oauth_signature="YZ3UU4K4evSzi44yboLNkyFniAM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071829", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Sat, 06 Jul 2013 00:50:29 GMT
recorded_with: VCR 2.4.0
