--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"tWG9nQzwJTE8jhD8\",\"login\":\"batman\",\"name\":\"batman\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="l7lUQHFSeptXlbreJoqeNcKLTBb1Sb24iCpZifSw", oauth_signature="%2BMvpGUO%2BDegXyGQeNT2QoPgyOvo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816426", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"514a2fea9c60ed64a3001948\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"514a2fea9c60ed64a3001948\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Wed, 20 Mar 2013 21:53:46 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ChMJwSFDdItNAB51UgAO8p3GFvACSh8iCRXakBOPIA", oauth_signature="lhfAg4zLAtXcdGZR%2FuYdZfmtCc0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816428", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 20 Mar 2013 21:53:48 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="HMPCfmODDF1qH2cgTBXn7RzhFtgUa688Ztn6CM0k", oauth_signature="%2FpVgvy31niRGqEf%2BBUMQTlqzyxs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816430", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 20 Mar 2013 21:53:50 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="jpJ6ydgZSlo3SbS4trxYRczUZA1AQA32o7y1ltI20U", oauth_signature="ItNnQGHShj5%2F83GFzA5GZNvIUkA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816431", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 20 Mar 2013 21:53:51 GMT
