--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"6YDnXsAZJVYnx4xT\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="VACoXFKH130LKab46Wy3duTtWNsRZhccgiI1c8wOoA", oauth_signature="FYUhZs7ihT8p2WtGFonU3LG9S2I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053621", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"5204e9755ca0130f94743211\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"5204e9755ca0130f94743211\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Fri, 09 Aug 2013 13:07:01 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="LORZ0nSWWHQqKUmbbjX4ZJ1WToaSq4psUnsTrZtSOw", oauth_signature="hoExq1BR9fJgyywV2AqFGXTcFYo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053622", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 09 Aug 2013 13:07:02 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="xnoFzpBPANyDkyagTj6xF5S1ShyDm6o5avAlGHkjnjU", oauth_signature="ShpezHNTr9dK73WPJ%2Fx4zehYlIY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053624", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 09 Aug 2013 13:07:04 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="nYCwIbMbWVtFPTSnswz6UsM7k4lj1wMJK2JpnYWHr4", oauth_signature="WDavNc6p%2BQccVr0d%2BATDhvmaasQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053625", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 09 Aug 2013 13:07:05 GMT
recorded_with: VCR 2.5.0
