--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/d9c7accf-8790-4f3d-bc97-a18d986d93a2/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="njbczXXI8TIl7zooMRg34L0BYy8qI8yzX7bimKfI4", oauth_signature="IMfIBRsLYB8V6zwmsMW9zRfbMec%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362374", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/d9c7accf-8790-4f3d-bc97-a18d986d93a2/\", \"task_id\": \"d9c7accf-8790-4f3d-bc97-a18d986d93a2\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-08-01T13:06:14Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-08-01T13:06:14Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"d9c7accf-8790-4f3d-bc97-a18d986d93a2\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": []}"
  recorded_at: Thu, 01 Aug 2013 13:06:14 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/e3eb0404-9793-41fc-b014-c300dc8ca46c/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="9xDmXtP9x31A1NBJfCLWbZjXbzMEYNxXaaVVllg4", oauth_signature="6W9X0b7hZEqONBuY86LZ1sg7kSU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362377", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"6316419a-03d1-4533-b0ac-7f1afb569890\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/e3eb0404-9793-41fc-b014-c300dc8ca46c/\", \"task_id\": \"e3eb0404-9793-41fc-b014-c300dc8ca46c\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-08-01T13:06:17Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"size_total\": 17872, \"items_left\": 5, \"items_total\": 8, \"state\": \"IN_PROGRESS\", \"size_left\": 11172, \"details\": {\"rpm_total\": 8, \"rpm_done\": 3, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"6316419a-03d1-4533-b0ac-7f1afb569890\", \"call_request_id\": \"e3eb0404-9793-41fc-b014-c300dc8ca46c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 01 Aug 2013 13:06:17 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/87c419b3-6d9e-4f2b-9527-30be9a918736/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="q3UBZ8KpnHNQmurKenMEDBPypa45PvWTk7eFBYvhL4", oauth_signature="RhDLxY0Ruy1KBldGjwUV8SsWkgg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362388", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/87c419b3-6d9e-4f2b-9527-30be9a918736/\", \"task_id\": \"87c419b3-6d9e-4f2b-9527-30be9a918736\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-08-01T13:06:28Z\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-08-01T13:06:28Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"87c419b3-6d9e-4f2b-9527-30be9a918736\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": [{\"unit_key\": {\"name\": \"cheetah\", \"checksum\": \"422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"sha256\"}, \"type_id\": \"rpm\"}, {\"unit_key\": {\"name\": \"elephant\", \"checksum\": \"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"sha256\"}, \"type_id\": \"rpm\"}, {\"unit_key\": {\"name\": \"giraffe\", \"checksum\": \"f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/9a1b1733-5f31-45da-a659-209324e68344/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="v4aAb7Wrfds5QgYzxc3mPr9PNhhR2Wh6n9FGajEo", oauth_signature="FpZPtk1%2BEmp5Tedrahu6tbnNkgI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362389", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/9a1b1733-5f31-45da-a659-209324e68344/\", \"task_id\": \"9a1b1733-5f31-45da-a659-209324e68344\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"2\"}], \"start_time\": \"2013-08-01T13:06:28Z\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-08-01T13:06:28Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"9a1b1733-5f31-45da-a659-209324e68344\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": [{\"unit_key\": {\"arch\": \"x86_64\", \"version\": \"16\", \"variant\": \"TestVariant\", \"id\": \"ks-Test Family-TestVariant-16-x86_64\", \"family\": \"Test Family\"}, \"type_id\": \"distribution\"}]}"
  recorded_at: Thu, 01 Aug 2013 13:06:29 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/4a95c730-1c78-4014-a066-bb160bd66266/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ioR7m5IdHwEc72qCTiRfYcvsc7csC0lYhqdd5WPvw4", oauth_signature="rmpStbr36xw9a2sx7DfTG%2BK7t7I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362390", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/4a95c730-1c78-4014-a066-bb160bd66266/\", \"task_id\": \"4a95c730-1c78-4014-a066-bb160bd66266\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-08-01T13:06:28Z\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-08-01T13:06:28Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"4a95c730-1c78-4014-a066-bb160bd66266\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": [{\"unit_key\": {\"repo_id\": \"2\", \"id\": \"bird\"}, \"type_id\": \"package_group\"}, {\"unit_key\": {\"repo_id\": \"2\", \"id\": \"mammal\"}, \"type_id\": \"package_group\"}]}"
  recorded_at: Thu, 01 Aug 2013 13:06:30 GMT
[...]
