--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"8MPdtfW4DzrVxmkZ\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="2LOUOxJBbEqcAyBI0KFtSj4mF4Hpoq3jRUJBi6EZn1c", oauth_signature="RQwOZD4yDi9F8Pi7wOY%2FCKfB6Wc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373242", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51ae3c7a5ca0133c2a01e09b\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"51ae3c7a5ca0133c2a01e09b\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Tue, 04 Jun 2013 19:14:02 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="6elZzzzsiKwEdHQsALmhQmAppaoCMX0iiSFLIZpa8", oauth_signature="DjtyVO4xyWAjN54PX%2FJdH%2B9L2aI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373243", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 04 Jun 2013 19:14:04 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="x2j4DIc5gCWYJB9kteusIVNGDOY8i16BzM2npnmcEG0", oauth_signature="oQBSmt9Zrgxhx0FYhKDu24oCgY8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373244", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 04 Jun 2013 19:14:04 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="zaHyhxt8fsO99wmoNLGBLfCQVDBu0xYqDAxmAKBpvU", oauth_signature="Rc2kEeSMgi3Gv%2FX%2BduRR8a6Ff3o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373245", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 04 Jun 2013 19:14:05 GMT
recorded_with: VCR 2.4.0
