--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="2QL2yvfOrLY39ytZajSHhRscxPIoS1maj70kfznRg", oauth_signature="frwyp1dyDN29iawcRDNOeji4EK0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053619", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 09 Aug 2013 13:06:59 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2014-08-09T09:06:59-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="jkWXrcNQjMisboyU5cJDnrJePBcCjHFusc5auynvs", oauth_signature="ASOj%2B%2F114rFGFaHn0A%2FmioRjc0A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053619", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5204e9745ca0130f947431d4/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-08-09T13:06:59Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5204e9745ca0130f947431d4/\", \"schedule\": \"2014-08-09T09:06:59-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-08-09T13:06:59Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"5204e9745ca0130f947431d4\", \"consecutive_failures\": 0}"
  recorded_at: Fri, 09 Aug 2013 13:07:00 GMT
recorded_with: VCR 2.5.0
