--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/7776542f-a043-42f0-a9ef-6986474a0cae/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="F1xLZB8Q87vtNCuZW1S1RAM1RGkFGv1YQ56uIBuilM", oauth_signature="aZOMyxqf%2FKSG6%2B6aLv8%2B2qwqinc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101196", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/7776542f-a043-42f0-a9ef-6986474a0cae/\", \"task_id\": \"7776542f-a043-42f0-a9ef-6986474a0cae\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-03-01T01:26:36Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-03-01T01:26:36Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"7776542f-a043-42f0-a9ef-6986474a0cae\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 01 Mar 2013 01:26:36 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/c074184c-d4ab-49cf-a76c-c5baf86d53ec/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="JktswnHlOijLrtzfhMIOQdg36rwsiDbWSxuHA1p0w94", oauth_signature="63o8kgl4XWYI8mCKz0Df2ziPsOw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101198", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"9714c7ce-fd5d-4d88-b292-7087b3c2bedc\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/c074184c-d4ab-49cf-a76c-c5baf86d53ec/\", \"task_id\": \"c074184c-d4ab-49cf-a76c-c5baf86d53ec\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-01T01:26:38Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"9714c7ce-fd5d-4d88-b292-7087b3c2bedc\", \"call_request_id\": \"c074184c-d4ab-49cf-a76c-c5baf86d53ec\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 01 Mar 2013 01:26:38 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/c074184c-d4ab-49cf-a76c-c5baf86d53ec/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="frqa3ByDCbxtSTJzyvJDQJ4wyg2Kw3pdLnYe0OEgs", oauth_signature="x9zh4m2SR46YoMXIyOv24DffnCw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101199", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"9714c7ce-fd5d-4d88-b292-7087b3c2bedc\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/c074184c-d4ab-49cf-a76c-c5baf86d53ec/\", \"task_id\": \"c074184c-d4ab-49cf-a76c-c5baf86d53ec\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-01T01:26:38Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 5, \"size_total\": 17872, \"items_left\": 6, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 6712, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 5, \"size_total\": 17872, \"items_left\": 3, \"items_total\": 8, \"size_left\": 6712, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"9714c7ce-fd5d-4d88-b292-7087b3c2bedc\", \"call_request_id\": \"c074184c-d4ab-49cf-a76c-c5baf86d53ec\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 01 Mar 2013 01:26:39 GMT
[...]
