--- 
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="F0554JdFmSDhVudvapfUUQ4teNF3xNsj2Td3XuSzhI", oauth_signature="HiBYaexxBq4M49N%2FF0wleQ1lDa4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950448", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Sat, 12 Jan 2013 00:27:28 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2014-01-11T19:27:28-05:00/P1D\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="4nlVUPOrLigAPUpPxhbccRJ4RA3CiMmoryWrQ4RU", oauth_signature="N%2BOTrpb5vnkXmVMA8bADggPakyo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950448", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50f0adf1196cbe47d7000c79/
      Content-Type: 
      - application/json
    body: 
      string: "{\"next_run\": \"2014-01-12T00:27:28Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50f0adf1196cbe47d7000c79/\", \"schedule\": \"2014-01-11T19:27:28-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-01-12T00:27:28Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50f0adf1196cbe47d7000c79\", \"consecutive_failures\": 0}"
  recorded_at: Sat, 12 Jan 2013 00:27:29 GMT
recorded_with: VCR 2.4.0
