--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"9542PfEyWcyCIKzy\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="NXULK9ETKBvK3fGu4WRVlImjuTfHr0ZWz7RRR0", oauth_signature="z5iVD9ZRXkPpJBFFobC9oR58Ot0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376676879", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"520e6c0f5ca01325e2eb3bbb\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"520e6c0f5ca01325e2eb3bbb\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Fri, 16 Aug 2013 18:14:39 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="AO9clxSP3tzQRkUaJuBjaiuWZDhlISGUchSQzC6a7s", oauth_signature="vClcEIRnCr2Z%2BBh2%2FlnIaezD3Js%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376676879", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 16 Aug 2013 18:14:39 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="SQC1k5epC5AbL3N2z4zJ6FKUKwU5Bs7T5WuI3B4IQ", oauth_signature="%2Fp9QFYlEuEX1znSGArMO6CxFNOo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376676888", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 16 Aug 2013 18:14:48 GMT
recorded_with: VCR 2.5.0
