--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{},\"fields\":{\"unit\":[\"name\",\"epoch\",\"version\",\"release\",\"arch\",\"checksumtype\",\"checksum\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="xmS9IiVFkNNJeoF4lYPyyuCUfDdSEOLlnYwShSCZiMo", oauth_signature="GKvbiHesYIs7Um8860APyNfI0K8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053601", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/40adfa14-bf1e-4619-bcf4-a212b9a61f1c/\", \"task_id\": \"40adfa14-bf1e-4619-bcf4-a212b9a61f1c\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"40adfa14-bf1e-4619-bcf4-a212b9a61f1c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 09 Aug 2013 13:06:42 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"type_ids\":[\"distribution\"],\"filters\":{}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Yr1CcwVKtqYlJ4Ew8I4YCLEoWL16RD4RjVdanOFOU", oauth_signature="bJzMGQLmX3WZ6idPYG218LOcgX4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053602", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/8aef292b-16a1-486b-80b5-9219b9d3912f/\", \"task_id\": \"8aef292b-16a1-486b-80b5-9219b9d3912f\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\"}], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"8aef292b-16a1-486b-80b5-9219b9d3912f\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Fri, 09 Aug 2013 13:06:42 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"type_ids\":[\"erratum\"],\"filters\":{}},\"override_config\":{\"copy_children\":false}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="iYx5TdJzD2pd8HoV8nNf2FXQ5rncgZgCRIjsz72rE", oauth_signature="vEUkrIq9FcnGhPdOeI9YpqXyZ1I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053602", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      [...]
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="YjooMtzRkq01tZvKBPkE81FYrWWFEKzMeRxVEJWmu6A", oauth_signature="BXHZ2zcZe8bVAbbmyAS3dkIMXsQ%3D", oauth_signature_method=[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///home/jlsherri/git/katello/test/fixtures/zoo5\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="bRZV9VxrrChbvSh8n1GoaNO4FEfSWictkyBIkKRNY", oauth_signature="h5dzYJF5s83IUkOiFQUj3sGi1oc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053606", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5204e9665ca0130f94743056\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 09 Aug 2013 13:06:46 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="y8dUXwnEhlipQRYwHfs0wj0UtOh1Inq08Axdu1JBvA", oauth_signature="ueBBncjPJEgcIA301%2Bnb8iWEWxc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053606", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      C[...]
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="zct9L63l1eIZIA7CnjbF5uaVMdcsttXWI76UFj3doNg", oauth_signature="PK%2FHUg91Kq1idT7F06cBgTRpeAU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053620", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"eb9dae33-58e3-4727-958a-412ca7a5c1a9\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/eb9dae33-58e3-4727-958a-412ca7a5c1a9/\", \"task_id\": \"f300fbad-15a6-4c6d-8056-fb46a769890a\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"eb9dae33-58e3-4727-958a-412ca7a5c1a9\", \"call_request_id\": \"f300fbad-15a6-4c6d-8056-fb46a769890a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 09 Aug 2013 13:07:00 GMT
recorded_with: VCR 2.5.0
