--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"25953784-3d51-48f0-a634-cee4d8113ebd\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="mn3CGswp7mcqNtB3qkx6fPXmb3to8XB4lATvrekR7Ic", oauth_signature="XjwXLhzwuCzKgAUY1EU9TOX8QWg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373200", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"25953784-3d51-48f0-a634-cee4d8113ebd\", \"_href\": \"/pulp/api/v2/content/units/erratum/25953784-3d51-48f0-a634-cee4d8113ebd/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Tue, 04 Jun 2013 19:13:20 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="eKTQaD7Dp7GH2nNHEzYCzrw0TZGyDxxJ0bPVDLnsfvw", oauth_signature="EhCcA%2BpWYAPufD%2F0%2BxJdhU34cUo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373203", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_id\": {\"$oid\": \"51ae3c515ca0133c2a01dc95\"}, \"unit_id\": \"be7daa2f-dc6a-4a2b-aa60-f6a0f4dfa4eb\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"be7daa2f-dc6a-4a2b-aa60-f6a0f4dfa4eb\"}}, {\"_id\": {\"$oid\": \"51ae3c515ca0133c2a01dc97\"}, \"unit_id\": \"25953784-3d51-48f0-a634-cee4d8113ebd\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"25953784-3d51-48f0-a634-cee4d8113ebd\"}}]"
  recorded_at: Tue, 04 Jun 2013 19:13:23 GMT
[...]
