--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="vXJbX5SwhrFyBrWIClbv8lpj9pEc6uQEz8HlLDskNS0", oauth_signature="LSQarSO61TvMRefVrFPMauaGgBA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196534", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 30 Jul 2013 15:02:14 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2014-07-30T11:02:14-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="xTlsNwRXWoJAtkZHHPCraFjF4czHcy6nvvbU4V8gkQ", oauth_signature="GntDpjMaL1eKHEDg7Xl5lMdsA4Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196534", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51f7d5765ca0137fe757a0d4/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-07-30T15:02:14Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51f7d5765ca0137fe757a0d4/\", \"schedule\": \"2014-07-30T11:02:14-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-07-30T15:02:14Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"51f7d5765ca0137fe757a0d4\", \"consecutive_failures\": 0}"
  recorded_at: Tue, 30 Jul 2013 15:02:14 GMT
recorded_with: VCR 2.5.0
