--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Zi8bGOtktlBhSnqABVAvTIH9plfyMvIENcj6RIVEmI", oauth_signature="V6haUMsJHuB4%2BK94zl66koB7M5g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693187", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Thu, 20 Jun 2013 01:53:07 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2014-06-19T21:53:07-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="SQOm5kK9gkOyYLZOmDFli7BeERGp8hSI4NSHkfLhCNw", oauth_signature="B159ulVYmcSZUGEKbomo9AUzIPk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693187", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51c260835ca01342b1083c03/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-06-20T01:53:07Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51c260835ca01342b1083c03/\", \"schedule\": \"2014-06-19T21:53:07-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-06-20T01:53:07Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"51c260835ca01342b1083c03\", \"consecutive_failures\": 0}"
  recorded_at: Thu, 20 Jun 2013 01:53:07 GMT
recorded_with: VCR 2.4.0
