--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"name\":\"batman\",\"login\":\"batman\",\"password\":\"996XY5JSjdVyfBXC\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="vs70zMe71ImXr4q5X2pEGXDN9SpPpk1hZiliax84zaU", oauth_signature="tQ7G%2Bel%2FA2Ot1IFe7G8XYd%2BWh80%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920337", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"50856891dc79216add005bed\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50856891dc79216add005bed\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Mon, 22 Oct 2012 15:38:57 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users//users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="V4wNtulZtQYSt0F01vQcDlDIwTsyYPceVielSCgiaPU", oauth_signature="cXPZAtiOOF8GQ8CynMu5tIzhXJY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920339", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 22 Oct 2012 15:38:59 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="d9QpzscejotnQ1hVPc2lyldIAISPJaVmBVfy0AYFtc", oauth_signature="lYaWqgaleN5otA5Njl0ohTjR4nA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920340", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 22 Oct 2012 15:39:00 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users//users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="lzptNG8cVsZ8Q74jsWTuRR7JoppL2Zg9HhJOMcuDFY", oauth_signature="zS7TbqjC4s0XWxOVEOlgLtd9VN0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920341", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 22 Oct 2012 15:39:01 GMT
