--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/8a861402-08e4-4d4e-8fa9-1c08bf0fd4c8/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="0s2lhdKnopeefdDum2VMCeOhitfy0DYryFQFhMFM", oauth_signature="C4CbNj2z%2FPuVSiMjeqlibptehj4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351740199", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/8a861402-08e4-4d4e-8fa9-1c08bf0fd4c8/\", \"task_id\": \"8a861402-08e4-4d4e-8fa9-1c08bf0fd4c8\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-11-01T03:23:18Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-01T03:23:18Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"8a861402-08e4-4d4e-8fa9-1c08bf0fd4c8\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 01 Nov 2012 03:23:19 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/98817924-d907-4f44-ac06-5486e7775c92/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="zXVIpA5oDYvGmq7qSC58m7qsDKqMweLqdsLnmieDdc", oauth_signature="4tJt7i9NCbLbVtkFj8CLFXaqMUc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351740199", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"690247f9-afd5-4395-91fc-343333ae4832\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/98817924-d907-4f44-ac06-5486e7775c92/\", \"task_id\": \"98817924-d907-4f44-ac06-5486e7775c92\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-01T03:23:19Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"690247f9-afd5-4395-91fc-343333ae4832\", \"call_request_id\": \"98817924-d907-4f44-ac06-5486e7775c92\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 01 Nov 2012 03:23:19 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/98817924-d907-4f44-ac06-5486e7775c92/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="X937TzdeN0EuzTKX371EW8Ug0ojv5jESpyAlJab8w", oauth_signature="BVI%2FGUMKZVx%2B5CD3KtGye25C%2FMw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351740200", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"690247f9-afd5-4395-91fc-343333ae4832\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/98817924-d907-4f44-ac06-5486e7775c92/\", \"task_id\": \"98817924-d907-4f44-ac06-5486e7775c92\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-01T03:23:19Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"690247f9-afd5-4395-91fc-343333ae4832\", \"call_request_id\": \"98817924-d907-4f44-ac06-5486e7775c92\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 01 Nov 2012 03:23:20 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/138c7b3f-72d6-4e97-8485-614419670979/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="8MLbvVm8RmMYTPka45wpHvTe6PzvY1O9GPcMeR68Yfo", oauth_signature="aeV8o%2Bbwy%2BAj0nxe9O65DzYLcCA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863332", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/138c7b3f-72d6-4e97-8485-614419670979/\", \"task_id\": \"138c7b3f-72d6-4e97-8485-614419670979\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\"}], \"start_time\": \"2012-11-02T13:35:32Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-02T13:35:32Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"138c7b3f-72d6-4e97-8485-614419670979\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Fri, 02 Nov 2012 13:35:33 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}},\"type_ids\":[\"rpm\"]}}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="saTo0Dd20tD57y7U3JjQyqvMhhv2B2L3FgQ0Lwb7yo", oauth_signature="GId%2BbSLpuNAIPO7kX0WkoBgWSf4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863672", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/7581a8a1-4de2-4c1a-bddd-be9873b0536e/\", \"task_id\": \"7581a8a1-4de2-4c1a-bddd-be9873b0536e\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"7581a8a1-4de2-4c1a-bddd-be9873b0536e\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 02 Nov 2012 13:41:12 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="T7wzNmVO2BPERcvzddTOeaMVYDUhvRtjOBPwWOPqzg", oauth_signature="x5mU8yAxRxhw5dXta%2FwypGRttw8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863679", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 02 Nov 2012 13:41:20 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"importer_config\":{\"ssl_client_cert\":null,\"ssl_client_key\":null,\"ssl_ca_cert\":null,\"feed_url\":\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\"},\"display_name\":\"Fedora 17 x86_64\",\"id\":\"1\",\"distributors\":[{\"distributor_id\":\"1\",\"distributor_config\":{\"protected\":true,\"https\":true,\"http\":false,\"relative_url\":\"/test_path/\"},\"distributor_type\":\"yum_distributor\",\"auto_publish\":false}],\"importer_type_id\":\"yum_importer\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="39EvgOKPHS3FdrtxEAD6kdkhKztBYHQMTkN05rGpFng", oauth_signature="UqmEHb8TsG5tPf1mE1KJFWVM9zA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863682", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"5093cd82dc7921678f000d2c\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 02 Nov 2012 13:41:22 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="GVIVUaL3ax7sVmDsomgWq7kgwzLEJ3AMxrphj96UKs", oauth_signature="1GAb3pWTS%2FOIH6i5YXJSICrnEyc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863682", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"60124c18-f424-453b-a5d1-bef591177c2c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/60124c18-f424-453b-a5d1-bef591177c2c/\", \"task_id\": \"037d9af6-89df-4bb9-b0c9-be0e98eef0ed\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"60124c18-f424-453b-a5d1-bef591177c2c\", \"call_request_id\": \"037d9af6-89df-4bb9-b0c9-be0e98eef0ed\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 02 Nov 2012 13:41:22 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="vehPv3LzV3QpISpVNCboFNKsRAcSQlssCtR0PKaPBcM", oauth_signature="pBX%2FWwpucvZrgjEUVpyarji8W7g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863720", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 02 Nov 2012 13:42:00 GMT
recorded_with: VCR 2.3.0
