--- 
http_interactions: 
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"criteria\":{\"filters\":{},\"type_ids\":[\"rpm\"]},\"source_repo_id\":\"1\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="LBKO4B5ETTbghDwR6yaD4fVluoQpfEZZKbhMqgRzA8", oauth_signature="M98ey5P3gHXXRLtBM0Fj66NjQtU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950415", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/4753f369-48fa-49ea-bd2d-e82de2ce3ee0/\", \"task_id\": \"4753f369-48fa-49ea-bd2d-e82de2ce3ee0\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"4753f369-48fa-49ea-bd2d-e82de2ce3ee0\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 12 Jan 2013 00:26:55 GMT
[...]
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="eXZn1ZP8Rsuh7RGFnXo84meFxSquLytqyxA4BHgMA", oauth_signature="WswYD8%2FXjK0qN0p%2B3CCtOOGMXeo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950421", oauth_version="1.0"
      Con[...]
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"importer_type_id\":\"yum_importer\",\"distributors\":[{\"distributor_id\":\"1\",\"auto_publish\":false,\"distributor_config\":{\"https\":true,\"protected\":true,\"relative_url\":\"/test_path/\",\"http\":false},\"distributor_type\":\"yum_distributor\"}],\"display_name\":\"Fedora 17 x86_64\",\"id\":\"1\",\"importer_config\":{\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/paji/katello/katello/src/test/fixtures/zoo5\",\"ssl_ca_cert\":null}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="A30kBrOgdUcKBWhQc8bj8pLZzrYHQ4m9wgDhdPdQ74", oauth_signature="o3fIXRzy4TOi7aDMnKEYERZBBDE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950422", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50f0add6196cbe47d7000b21\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Sat, 12 Jan 2013 00:27:02 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="qUOPPWKjwbJNvkZgjZ6NkMqJs37xs17PXMLtdFPj9VM", oauth_signature="ZyBXnjaeegwW5%2BAHGLheo7nvQs0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950422", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"68781290-fe52-4ed8-9f6d-8cb1371aa9a4\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/68781290-fe52-4ed8-9f6d-8cb1371aa9a4/\", \"task_id\": \"fbcc724c-4991-40a2-b977-cb54df87c7a1\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"68781290-fe52-4ed8-9f6d-8cb1371aa9a4\", \"call_request_id\": \"fbcc724c-4991-40a2-b977-cb54df87c7a1\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Sat, 12 Jan 2013 00:27:02 GMT
[...]
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="sJIddRS7Yi4waKqkj5yi58OsJs6MvV5XdXs7WozawQY", oauth_signature="t6HXuk1vvwqJ%2FGisjlXqvvNw3h8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950449", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"1496a85c-b32b-4a57-87b6-1197ced1139f\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/1496a85c-b32b-4a57-87b6-1197ced1139f/\", \"task_id\": \"3edb642b-131c-4128-a756-440233e55e93\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"1496a85c-b32b-4a57-87b6-1197ced1139f\", \"call_request_id\": \"3edb642b-131c-4128-a756-440233e55e93\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Sat, 12 Jan 2013 00:27:29 GMT
recorded_with: VCR 2.4.0
