--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"2OybHL68CMnlL5p5\",\"login\":\"hidden\",\"name\":\"hidden\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="qXutoTqluG7tZU7penbEg8o8AH8o6BezjZKe6nSWcA", oauth_signature="MUICh0YXwe%2BRUpP0NY%2Fb8izQGTw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816312", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"514a2f789c60ed64a3001389\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"514a2f789c60ed64a3001389\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Wed, 20 Mar 2013 21:51:52 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"hidden\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="uWbgKwTjtHWH05alC622mZiMknn1Bw90yF7OvSV4Y", oauth_signature="beORUNPXE%2Bh9Wyr0YvPfPemAQGI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816312", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 20 Mar 2013 21:51:53 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/hidden/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ifDpzIpeVqhpcJdWs5LVN2RIKba5Hy5h2vQ8piRzw", oauth_signature="TL%2FzzeCJDAraeT%2F9Fv5cFC0cw90%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816329", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 20 Mar 2013 21:52:09 GMT
