--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"EFRFm2Lvuskcvn5j\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="e7unLQizjE2yPz2Z7QEMWFXF08IzhRO5GXa7jKFw", oauth_signature="HR9%2BMT%2BQSUAT0D3bzzO0QrPQDIw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103598", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51300d2e9c60ed2a8900588e\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"51300d2e9c60ed2a8900588e\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Fri, 01 Mar 2013 02:06:38 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="60gzd4VKHhsNIwEko59st5HUReNUCxWXn2fFx4qCt0k", oauth_signature="ak%2BCz06zfN1RRXgpcPWWP%2BRfsvE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103598", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 01 Mar 2013 02:06:38 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="braoDGaJCNLzswifNhEz18Q9rl26MTJqeTxbsIJgEA", oauth_signature="17YU0OMje7OTpgdanIo%2BxOtuwzg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103605", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 01 Mar 2013 02:06:45 GMT
recorded_with: VCR 2.4.0
