--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="JiN5ZQ3gnpzHJXKirFlusdI13ZvMpZbf6OkHIbH9lM", oauth_signature="8D4K8e7XGoIw4NQ7iWnv%2BTWSDFs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428049", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Tue, 20 Nov 2012 16:14:09 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2013-11-20T11:14:09-05:00/P1D\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="2WUYV91obWhTx9jq9synakGW65HOpRrGWutMGfXFk", oauth_signature="pLy0nKyvDM%2FQyzBB8QzmmydiJHE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428049", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50abac51dc79214432002781/
    body: 
      string: "{\"next_run\": \"2013-11-20T16:14:09Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50abac51dc79214432002781/\", \"schedule\": \"2013-11-20T11:14:09-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-11-20T16:14:09Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50abac51dc79214432002781\", \"consecutive_failures\": 0}"
  recorded_at: Tue, 20 Nov 2012 16:14:09 GMT
