--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/bd6dec78-d81a-4b8d-86c5-f422923f714e/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="cZEK8Kaj37Uu8IhPlTfnHJeiQV5GdR4Vnxyxna5PE", oauth_signature="EeruFqytIeifq0lelkLgZ9RJL8Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351211391", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/bd6dec78-d81a-4b8d-86c5-f422923f714e/\", \"task_id\": \"bd6dec78-d81a-4b8d-86c5-f422923f714e\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-10-26T00:29:51Z\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-10-26T00:29:51Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"bd6dec78-d81a-4b8d-86c5-f422923f714e\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 26 Oct 2012 00:29:51 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/0b4bb636-c289-4e8c-b1c6-a2dd9692f6d6/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="rREHuiVKX33r6v14nbDRU8ZocqAngUzOgA6e3vhrU", oauth_signature="2YHcZHPPklHkUaaOATIcBWHGCCs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351211396", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/0b4bb636-c289-4e8c-b1c6-a2dd9692f6d6/\", \"task_id\": \"0b4bb636-c289-4e8c-b1c6-a2dd9692f6d6\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\"}], \"start_time\": \"2012-10-26T00:29:55Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-10-26T00:29:55Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"0b4bb636-c289-4e8c-b1c6-a2dd9692f6d6\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Fri, 26 Oct 2012 00:29:56 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/cb2f6f4b-0964-45c5-9f13-096b5b0da423/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="YWF6ED0x5fndAIzNaUP2iIETrDLaV6NySsES39Sv0", oauth_signature="ts2IaBtfBMHoEGqOb4vWgFBZsXM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351211399", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"7a62a1f0-5d6d-4a74-9dc9-9a63ac1394ff\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/cb2f6f4b-0964-45c5-9f13-096b5b0da423/\", \"task_id\": \"cb2f6f4b-0964-45c5-9f13-096b5b0da423\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-10-26T00:29:59Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"7a62a1f0-5d6d-4a74-9dc9-9a63ac1394ff\", \"call_request_id\": \"cb2f6f4b-0964-45c5-9f13-096b5b0da423\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 26 Oct 2012 00:29:59 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/cb2f6f4b-0964-45c5-9f13-096b5b0da423/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="fW5tEAxiHzdoX1OYoamISceHmkgowue20cyMBuUlg", oauth_signature="FxjNoL25gP%2Bwn%2Ba5w9Zjet1ag7Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351211400", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"7a62a1f0-5d6d-4a74-9dc9-9a63ac1394ff\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/cb2f6f4b-0964-45c5-9f13-096b5b0da423/\", \"task_id\": \"cb2f6f4b-0964-45c5-9f13-096b5b0da423\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-10-26T00:29:59Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"7a62a1f0-5d6d-4a74-9dc9-9a63ac1394ff\", \"call_request_id\": \"cb2f6f4b-0964-45c5-9f13-096b5b0da423\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 26 Oct 2012 00:30:00 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="5mGnDKwfiKjt4PlEwJK04vfNC0UJlUQ6Saedn7g", oauth_signature="cI8L33bEuQtxPAx7TA3LHT5liiQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351211401", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Fri, 26 Oct 2012 00:30:01 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2013-10-25T20:30:01-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="cSBJETdK47ddMZUKdSIfhKpbGh9QAgi77nuX1uvTQQ", oauth_signature="Mzgh5qri8XLjoN%2FMi7Ms6SRH9vk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351211401", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5089d989dc792138c9000e6f/
    body: 
      string: "{\"next_run\": \"2013-10-26T00:30:01Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5089d989dc792138c9000e6f/\", \"schedule\": \"2013-10-25T20:30:01-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-10-26T00:30:01Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"5089d989dc792138c9000e6f\", \"consecutive_failures\": 0}"
  recorded_at: Fri, 26 Oct 2012 00:30:01 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"unit\":{\"id\":{\"$in\":[\"RHEA-2010:0002\"]}}},\"type_ids\":[\"erratum\"]},\"source_repo_id\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="yNUimie49mbz5TUnj23QUTxFUbeW6iONKM7883PEBJI", oauth_signature="bQA56iGJS%2BUo46kO%2FQ%2B7YlAqHHE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212096", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/bdf2805d-4642-4f65-947c-4b58f8cbb7f6/\", \"task_id\": \"bdf2805d-4642-4f65-947c-4b58f8cbb7f6\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"bdf2805d-4642-4f65-947c-4b58f8cbb7f6\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 26 Oct 2012 00:41:36 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}},\"association\":{\"unit_id\":{\"$in\":[null]}}},\"type_ids\":[\"rpm\"]},\"source_repo_id\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="LAHc4ftUTewicyCQCDg7B7CYf2xs0cW7gzM8w2zj64", oauth_signature="38Sj%2FQtDjci3SEfWcX1qFeKRQDQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212098", oauth_version="1.0"
  response: 
    statu[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/unassociate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"unit\":{\"id\":{\"$in\":[\"ks-Test Family-TestVariant-16-x86_64\"]}}},\"type_ids\":[\"distribution\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l[...]
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"sort\":{\"unit\":[[\"name\",\"ascending\"],[\"version\",\"descending\"]]},\"type_ids\":[\"rpm\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="SADieraxQIvdebdvIJutuU7SHeQ3p9mD0jYz21Midw", oauth_signature="1IKeq81CddDzejKOKKom0SjFLCQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212111", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2012-10-26T04:41:50Z\", \"repo_id\": \"1\", \"created\": \"2012-10-26T04:41:50Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"206a71f1-73bd-4119-80cc-ebda63467ea6\", \"unit_type_id\": \"rpm\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5089dc4edc792138c9001089\"}, \"id\": \"5089dc4edc792138c9001089\", \"owner_id\": \"yum_importer\", \"metadata\": {\"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_storage_path\": \"/var/lib/pulp/content/rpm/.//cheetah/0.3/0.8/noarch/422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae/cheetah-0.3-0.8.noarch.rpm\", \"repodata\": {\"filelists\": \"\\n<package pkgid=\\\"422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae\\\" name=\\\"cheetah\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n    <file>//cheetah.txt</file>\\n</package>\\n\", \"other\": \"\\n<package pkgid=\\\"422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae\\\" name=\\\"cheetah\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n</package>\\n\", \"primary\": \"\\n<package type=\\\"rpm\\\">\\n  <name>cheetah</name>\\n  <arch>noarch</arch>\\n  <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n  <checksum type=\\\"sha256\\\" pkgid=\\\"YES\\\">422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae</checksum>\\n  <summary>A dummy package of cheetah</summary>\\n  <description>A dummy package of cheetah</description>\\n  <packager></packager>\\n  <url>http://tstrachota.fedorapeople.org</url>\\n  <time file=\\\"1321891028\\\" build=\\\"1308257472\\\"/>\\n  <size package=\\\"2232\\\" installed=\\\"2232\\\" archive=\\\"292\\\"/>\\n<location xml:base=\\\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\\\" href=\\\"cheetah-0.3-0.8.noarch.rpm\\\"/>\\n  <format>\\n    <rpm:license>GPLv2</rpm:license>\\n    <rpm:vendor/>\\n    <rpm:group>Internet/Applications</rpm:group>\\n    <rpm:buildhost>dhcp-26-118.brq.redhat.com</rpm:buildhost>\\n    <rpm:sourcerpm>cheetah-0.3-0.8.src.rpm</rpm:sourcerpm>\\n    <rpm:header-range start=\\\"280\\\" end=\\\"2016\\\"/>\\n    <rpm:provides>\\n      <rpm:entry name=\\\"cheetah\\\" flags=\\\"EQ\\\" epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n    </rpm:provides>\\n    <rpm:requires>\\n      <rpm:entry name=\\\"/bin/sh\\\" pre=\\\"1\\\"/>\\n    </rpm:requires>\\n  </format>\\n</package>\"}, \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"_ns\": \"units_rpm\", \"checksum\": \"422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae\", \"filename\": \"cheetah-0.3-0.8.noarch.rpm\", \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"epoch\": \"0\", \"version\": \"0.3\", \"relativepath\": \"cheetah-0.3-0.8.noarch.rpm\", \"provides\": [[\"cheetah\", \"EQ\", [\"0\", \"0.3\", \"0.8\"]]], \"_content_type_id\": \"rpm\", \"release\": \"0.8\", \"vendor\": \"\", \"_id\": \"206a71f1-73bd-4119-80cc-ebda63467ea6\", \"arch\": \"noarch\", \"name\": \"cheetah\", \"description\": \"A dummy package of cheetah\"}}, {\"updated\": \"2012-10-26T04:41:50Z\", \"repo_id\": \"1\", \"created\": \"2012-10-26T04:41:50Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"06457a2e-7eb9-4505-afef-0b51ba0d2da8\", \"unit_type_id\": \"rpm\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5089dc4edc792138c9001085\"}, \"id\": \"5089dc4edc792138c9001085\", \"owner_id\":[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/content/units/rpm/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"206a71f1-73bd-4119-80cc-ebda63467ea6\",\"06457a2e-7eb9-4505-afef-0b51ba0d2da8\",\"399f19bf-b199-447b-8ac6-02378e955cfd\",\"3a74f5eb-9b35-4bd5-baa1-015bce208c8d\",\"d1da86c4-adbd-4844-bb8b-d2feddeffd8e\",\"eb29ad04-b940-4e34-913b-5d94f9893eac\",\"20ec7442-c251-44c6-8320-30d54e65e5e5\",\"f1010ac1-073b-4428-8830-604ccbe3[...]
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="0C1CSyfZEte2s0cjCQFWWjvwpFnTHe4nZdBzrWKLg", oauth_signature="QNiS2%2FSOxp9c%2FXFmUY8Ptb3lbsM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212116", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Fri, 26 Oct 2012 00:41:56 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/publish/
    body: 
      string: "{\"id\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="zutuXBYEOxlIfbLxvi3UBpgoJvNl5VEs66TbfcSUpE", oauth_signature="9Wy2W28PIU5sPb3GCU6RpUQ4jro%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212117", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/bf03d7d9-00a1-45cb-9e70-3e75341156ab/\", \"task_id\": \"bf03d7d9-00a1-45cb-9e70-3e75341156ab\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"bf03d7d9-00a1-45cb-9e70-3e75341156ab\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 26 Oct 2012 00:41:57 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"distributors\":[{\"distributor_id\":\"2\",\"auto_publish\":true,\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/dev_label/\",\"http\":false,\"protected\":true,\"https\":true}}],\"importer_config\":{},\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"id\":\"2\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="lFffDHZ86tPmDydBLrVoqP5Bxu0fQMal6CDs6FcRHw", oauth_signature="95IisLsy18UD6X7a51z78vDYjhk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212121", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "2"
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"5089dc59dc792138c90010d4\"}, \"id\": \"2\", \"_href\": \"/pulp/api/v2/repositories/2/\"}"
  recorded_at: Fri, 26 Oct 2012 00:42:01 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/2/actions/associate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}},\"type_ids\":[\"rpm\"]},\"source_repo_id\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="mPXthUyYlY[...]
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/2/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6JpZN053ngI0lLOytzutyG8OYeAcsO79lNkAaYyAAcc", oauth_signature="SDUJB2YqaRgR%2FJ7eFFDuzXowtsM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212122", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 26 Oct 2012 00:42:03 GMT
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/?tag=pulp:action:sync
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="x34pWlwRaV9lnLt5pLPWco8Rm8HZdkTss91JnKKuX6s", oauth_signature="HUHbY9sWoHyyl4N1D7lPlJvEobc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212123", oauth_version="1.0"
  response:[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/?details=true
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="WU18Z9WsbcKU4IMX0gzKz4WOjmlESDN6tInFlcF0im0", oauth_signature="7brtLRJRjRQ4SkApPNfBUW5xthU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212124", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\", \"repodata\": {}}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 12, \"_id\": {\"$oid\": \"5089dc4cdc792138c9001070\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2012-10-25T20:41:50-04:00\", \"scheduled_syncs\": [], \"scratchpad\": null, \"_id\": {\"$oid\": \"5089dc4cdc792138c9001071\"}, \"config\": {\"feed_url\": \"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2012-10-25T20:42:00-04:00\", \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"scratchpad\": null, \"_id\": {\"$oid\": \"5089dc4cdc792138c9001072\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Fri, 26 Oct 2012 00:42:04 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"sort\":{\"unit\":[[\"id\",\"ascending\"]]},\"type_ids\":[\"package_category\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ezFlZtKyk4WnfCtDqhEpAmQkwZjIUe6n9TZIZDmdc", oauth_signature="KU7n0ZzNK6YzOkyn5WD2c0W%2BEDI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212125", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2012-10-26T04:41:50Z\", \"repo_id\": \"1\", \"created\": \"2012-10-26T04:41:50Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"07ccf9ed-550c-4a51-8273-df23b9762774\", \"unit_type_id\": \"package_category\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5089dc4edc792138c9001095\"}, \"id\": \"5089dc4edc792138c9001095\", \"owner_id\": \"yum_importer\", \"metadata\": {\"_storage_path\": null, \"repo_id\": \"1\", \"description\": null, \"_ns\": \"units_package_category\", \"display_order\": 99, \"translated_name\": {}, \"packagegroupids\": [\"mammal\", \"bird\"], \"translated_description\": {}, \"_content_type_id\": \"package_category\", \"_id\": \"07ccf9ed-550c-4a51-8273-df23b9762774\", \"id\": \"all\", \"name\": \"all\"}}]"
  recorded_at: Fri, 26 Oct 2012 00:42:05 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"sort\":{\"unit\":[[\"id\",\"ascending\"]]},\"type_ids\":[\"package_group\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="3D1ENpjZLcsEVhrTVCFo8HTvh9r9nGCz0iSnpDV4", oauth_signature="oNlXSs74bybAdGXDQ5zH9U4PCvg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212126", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2012-10-26T04:41:50Z\", \"repo_id\": \"1\", \"created\": \"2012-10-26T04:41:50Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"9ef0f7cf-5890-4ca5-bd52-606d33da29c6\", \"unit_type_id\": \"package_group\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5089dc4edc792138c9001094\"}, \"id\": \"5089dc4edc792138c9001094\", \"owner_id\": \"yum_importer\", \"metadata\": {\"_storage_path\": null, \"mandatory_package_names\": [\"penguin\"], \"repo_id\": \"1\", \"description\": \"\", \"user_visible\": true, \"default\": true, \"_ns\": \"units_package_group\", \"display_order\": 1024, \"optional_package_names\": [], \"translated_name\": {}, \"translated_description\": {}, \"conditional_package_names\": [], \"default_package_names\": [], \"_content_type_id\": \"package_group\", \"langonly\": null, \"_id\": \"9ef0f7cf-5890-4ca5-bd52-606d33da29c6\", \"id\": \"bird\", \"name\": \"bird\"}}, {\"updated\": \"2012-10-26T04:41:50Z\", \"repo_id\": \"1\", \"created\": \"2012-10-26T04:41:50Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"001ac778-61c5-4c6e-99c3-2f2a6e29d7fa\", \"unit_type_id\": \"package_group\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5089dc4edc792138c9001093\"}, \"id\": \"5089dc4edc792138c9001093\", \"owner_id\": \"yum_importer\", \"metadata\": {\"_storage_path\": null, \"mandatory_package_names\": [\"elephant,giraffe,cheetah,lion,monkey,penguin,squirrel,walrus\", \"penguin\"], \"repo_id\": \"1\", \"description\": \"\", \"user_visible\": true, \"default\": true, \"_ns\": \"units_package_group\", \"display_order\": 1024, \"optional_package_names\": [], \"translated_name\": {}, \"translated_description\": {}, \"conditional_package_names\": [], \"default_package_names\": [], \"_content_type_id\": \"package_group\", \"langonly\": null, \"_id\": \"001ac778-61c5-4c6e-99c3-2f2a6e29d7fa\", \"id\": \"mammal\", \"name\": \"mammal\"}}]"
  recorded_at: Fri, 26 Oct 2012 00:42:06 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="siMaPuaKRc8Bf3GkpNIkKGqTxQjyeUhRev3ZuCCo", oauth_signature="shJd7sg57GZccyGIPDMDjHu1qBA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212128", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 26 Oct 2012 00:42:09 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="nhseKb9dP5KLuy6PhcmDn3a4EidewR6sNGs8kpi1lE4", oauth_signature="NIrw2UkdMhiEucO7QE60nrlWLNw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212132", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
[...]
