--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="4XNbv9BRkWvfkmlIkm4496B2MU5pa6souDenIunE18", oauth_signature="ppAlpHi4vyuNypjQ6ad%2FcTsYwJM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101204", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/505e27a2-16d8-45cd-9c74-3cf10a04a4c4/\", \"task_id\": \"505e27a2-16d8-45cd-9c74-3cf10a04a4c4\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"505e27a2-16d8-45cd-9c74-3cf10a04a4c4\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 01 Mar 2013 01:26:44 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6ltZrUilROsNlfUVozNcGjF2dxV92LI4uyzl9Mm3ZhU", oauth_signature="P2ROv%2BoCndndMx5bzrmif8iEGDo%3D", oauth_signature_method=[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":false,\"distributor_id\":\"1\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="061TiwJjIIruk8e6YLBE4ZQED7WMmbcsoWx2QaxuTM", oauth_signature="yg1hop8IuDH%2FGN96pXb6wJJ%2FWws%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101208", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"513003d89c60ed2a89005454\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 01 Mar 2013 01:26:49 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"max_speed\":10000,\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="JyBcmchGeF0FRAp0DSvEq1ftIEz4keqbSr7DCimMw", oauth_signature="MbUMwvrXewrJcMh%2BcbTE1plPXsI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101209", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"44ae37cc-13b5-4206-b788-c952fa19643b\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/44ae37cc-13b5-4206-b788-c952fa19643b/\", \"task_id\": \"2a07a622-d0c2-4baf-85b1-34020c8a0dfd\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"44ae37cc-13b5-4206-b788-c952fa19643b\", \"call_request_id\": \"2a07a622-d0c2-4baf-85b1-34020c8a0dfd\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 01 Mar 2013 01:26:49 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="9gSmg0ouLVvwxiEXjPmB7yZ8Nb928SxntDOBecF4fc", oauth_signature="Rdcd2arLfrNi3%2FiBkl5ltvTvEos%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101226", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"f532232b-86bc-4280-afe5-4839a7dae89c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/f532232b-86bc-4280-afe5-4839a7dae89c/\", \"task_id\": \"2b0ae31f-bc70-4aef-bfee-6861a5d0c545\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"f532232b-86bc-4280-afe5-4839a7dae89c\", \"call_request_id\": \"2b0ae31f-bc70-4aef-bfee-6861a5d0c545\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 01 Mar 2013 01:27:06 GMT
recorded_with: VCR 2.4.0
