--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/?details=true
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="eMZVzyCPra0bwrA3SYAT2zowTMlkJgUhNgzLaABHek", oauth_signature="Ah8GqHVmtNHTN%2FGamGbQCELuClA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349210038", oauth_version="1.0"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"1\"}}"
  recorded_at: Tue, 02 Oct 2012 20:33:58 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"importer_type_id\":\"yum_importer\",\"distributors\":[[\"yum_distributor\",{\"http\":true,\"generate_metadata\":false,\"protected\":true,\"relative_url\":\"/test_path/\",\"https\":false},false,\"1\"]],\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///\"},\"display_name\":\"Fedora 17\",\"id\":\"1\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="D4KCXEoUw3NEEkdZNhxb6PESj1aEMUGIrjICfXZQk", oauth_signature="KEsN0bTTvy3hYqEPv0MWWLPnVDk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349271337", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"506c3f29dc792104200002a6\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 03 Oct 2012 13:35:37 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QwyEXkHTiLS2Drmecl4AhqiN4TwbiypbEknixvMD4c", oauth_signature="UvXNeitwkCJkNryql%2FVZLcLiJdA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349271337", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 03 Oct 2012 13:35:38 GMT
