--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/uninstall/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"package_group\",\"unit_key\":{\"name\":\"mammals\"}}],\"options\":{}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="W4n67w7T0lNf1ncE5pHG3oQTR5KK5JeDVsvnMUvVhZ4", oauth_signature="cTYC7weJa6RPvopDqEi8QB%2FfrE4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053454", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"824b48ca-83a4-45b0-8c86-f049bad24a36\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/824b48ca-83a4-45b0-8c86-f049bad24a36/\", \"task_id\": \"f375a545-7c1c-43e7-b96b-3a292c8b5280\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_uninstall\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_uninstall\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"824b48ca-83a4-45b0-8c86-f049bad24a36\", \"call_request_id\": \"f375a545-7c1c-43e7-b96b-3a292c8b5280\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 09 Aug 2013 13:04:14 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/install/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"package_group\",\"unit_key\":{\"name\":\"mammals\"}}],\"options\":{\"importkeys\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="MsEIjLyP3PJw3Wl0XEnlrfERydwQxqycN36EJw6fI", oauth_signature="LGyMhLidbjeERAF3dSsjPzkKUGA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053466", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"35205587-55e4-44f8-a4bf-0e6d24714e4c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/35205587-55e4-44f8-a4bf-0e6d24714e4c/\", \"task_id\": \"daf2b67f-00fa-4166-836c-10fa3af47471\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"35205587-55e4-44f8-a4bf-0e6d24714e4c\", \"call_request_id\": \"daf2b67f-00fa-4166-836c-10fa3af47471\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 09 Aug 2013 13:04:26 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/update/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{}}],\"options\":{\"importkeys\":true,\"all\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="zPY9IqwuhZYJWwFRuvx8IOkpH7Z8adacQ7aMvZb1e7s", oauth_signature="emjwbcrumw8kCD7XAPJCu%2F2%2FpBQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053478", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"ca74c44b-6bfa-498d-88ef-1c876c351207\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/ca74c44b-6bfa-498d-88ef-1c876c351207/\", \"task_id\": \"ed1701c2-2745-42a0-822f-f87dd18cb970\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_update\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_update\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"ca74c44b-6bfa-498d-88ef-1c876c351207\", \"call_request_id\": \"ed1701c2-2745-42a0-822f-f87dd18cb970\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 09 Aug 2013 13:04:38 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="elbmSFO9uWgnPNZqIe9DDR8RnnTxL90VC0W72iW0", oauth_signature="2ehPFy62Fvpbe%2BrYZg5e9TWsjgM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053502", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_id\": {\"$oid\": \"5204e8f55ca0130f947428eb\"}, \"unit_id\": \"365ad9e6-9f34-4234-a7e2-fc724c1be28b\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"365ad9e6-9f34-4234-a7e2-fc724c1be28b\"}}, {\"_id\": {\"$oid\": \"5204e8f55ca0130f947428ec\"}, \"unit_id\": \"b3a98974-b6d0-4087-9002-b4fa30aa59ab\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"b3a98974-b6d0-4087-9002-b4fa30aa59ab\"}}]"
  recorded_at: Fri, 09 Aug 2013 13:05:02 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"365ad9e6-9f34-4234-a7e2-fc724c1be28b\",\"b3a98974-b6d0-4087-9002-b4fa30aa59ab\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="tfnlCUa2VgDvUdsW8HAdVPhKY3VdhpKCnJ5fxkE8oQ", oauth_signature="KCSAB99XMKSU2d63LGGRf1q%2Fzpg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053502", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"status\": \"stable\", \"_storage_path\": null, \"from\": \"lzap+pub@redhat.com\", \"description\": \"Empty errata\", \"title\": \"Empty errata\", \"pkglist\": [], \"version\": \"1\", \"issued\": \"2010-01-01 01:01:01\", \"_content_type_id\": \"erratum\", \"references\": [], \"_id\": \"365ad9e6-9f34-4234-a7e2-fc724c1be28b\", \"type\": \"security\", \"id\": \"RHEA-2010:0001\", \"_href\": \"/pulp/api/v2/content/units/erratum/365ad9e6-9f34-4234-a7e2-fc724c1be28b/\", \"children\": {}, \"repository_memberships\": [\"1\"]}, {\"status\": \"stable\", \"_storage_path\": null, \"from\": \"lzap+pub@redhat.com\", \"description\": \"One package errata\", \"title\": \"One package errata\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"sum\": null, \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"version\": \"1\", \"issued\": \"2010-01-01 01:01:01\", \"_content_type_id\": \"erratum\", \"references\": [], \"_id\": \"b3a98974-b6d0-4087-9002-b4fa30aa59ab\", \"type\": \"security\", \"id\": \"RHEA-2010:0002\", \"_href\": \"/pulp/api/v2/content/units/erratum/b3a98974-b6d0-4087-9002-b4fa30aa59ab/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Fri, 09 Aug 2013 13:05:02 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"simple_group\",\"description\":\"Super administrator with all access.\",\"consumer_ids\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ZvOJoV10rlYlVf0Fi5b4PJbfQwkyTuc9BgrLMMW3qM", oauth_signature="ci3A2%2FGUwGHnqTJ2uX02mN9VM%2Bg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053525", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumer_groups/simple_group/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": null, \"display_name\": null, \"description\": \"Super administrator with all access.\", \"_ns\": \"consumer_groups\", \"notes\": {}, \"consumer_ids\": [\"010E99C0-3276-11E2-81C1-0800200C9A66\"], \"_id\": {\"$oid\": \"5204e9155ca0130f94742a3e\"}, \"id\": \"simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\"}"
  recorded_at: Fri, 09 Aug 2013 13:05:25 GMT
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6yrukcFTMdomyGYTCujczUuax7gzZYu5xBnFbXHTco", oauth_signature="TSho9dSfGywS7eYcpd%2BtQXHqyXI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053526", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 09 Aug 2013 13:05:27 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="InPOe12QTbN7ybf04oa1OraBWs9NAecQpo0NJDYc", oauth_signature="iYNmkpWBY5uC5WAd9mvioqyHc5M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053537", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]"
  recorded_at: Fri, 09 Aug 2013 13:05:37 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/unassociate/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="eNatDh9E9qt2LU5h0llD0yguQ2W0t09Lew2kwEWgXs", oauth_signature="G4lx4yRHZNBLfZE2LRJ4O1KbzYk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053537", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 09 Aug 2013 13:05:37 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="DzAkIXfslebfz1bS5aWPO8MXcF2oaT3IE2qUwYxZDE", oauth_signature="bnqyXF2dCPApoUGmDtPW4EBrE8s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053542", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): consumer_group=simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"consumer_group\": \"simple_group\"}}"
  recorded_at: Fri, 09 Aug 2013 13:05:42 GMT
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="nuaxGHPCL16HSP7RdhxuPeMx62aLuDhLXJFaaTZD5s", oauth_signature="AstoEr5L1LgIU4Jq2NGUzL3ncnc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053543", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 09 Aug 2013 13:05:43 GMT
recorded_with: VCR 2.5.0
