--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/d92225b0-df4e-4c75-8c06-d42e00bd5b2d/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="pQN9DtK6tOFotKVDC24wlTFUqPn7LoH86vl6ld9LT6w", oauth_signature="m%2Fy%2FMBdLifm7t0J%2BlA4KOENnPfc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103639", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/d92225b0-df4e-4c75-8c06-d42e00bd5b2d/\", \"task_id\": \"d92225b0-df4e-4c75-8c06-d42e00bd5b2d\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-03-01T02:07:19Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-03-01T02:07:19Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"d92225b0-df4e-4c75-8c06-d42e00bd5b2d\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 01 Mar 2013 02:07:19 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/52d39a54-b3d4-4ac1-88ab-9f300eb79a4d/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="TjbITPXZ9GzpluJT3fWZMOvZHgQgYq1NnFBnAVKRs", oauth_signature="mpncn8ml01EBrlUzYJLOA4txBlM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103642", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"ef79ff51-1a9b-4e84-88f1-e68206057174\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/52d39a54-b3d4-4ac1-88ab-9f300eb79a4d/\", \"task_id\": \"52d39a54-b3d4-4ac1-88ab-9f300eb79a4d\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-01T02:07:22Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"ef79ff51-1a9b-4e84-88f1-e68206057174\", \"call_request_id\": \"52d39a54-b3d4-4ac1-88ab-9f300eb79a4d\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 01 Mar 2013 02:07:22 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/52d39a54-b3d4-4ac1-88ab-9f300eb79a4d/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="r1CCIUnowI7ZFbuqdJS9CA86gEAh3wrLeSv1l0zXFg", oauth_signature="L7Lquz%2FqYGeSrHR3GVHfExvmu78%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103643", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"ef79ff51-1a9b-4e84-88f1-e68206057174\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/52d39a54-b3d4-4ac1-88ab-9f300eb79a4d/\", \"task_id\": \"52d39a54-b3d4-4ac1-88ab-9f300eb79a4d\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-01T02:07:22Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 10, \"size_total\": 17872, \"items_left\": 1, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 2244, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 7, \"size_total\": 17872, \"items_left\": 1, \"items_total\": 8, \"size_left\": 2244, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"ef79ff51-1a9b-4e84-88f1-e68206057174\", \"call_request_id\": \"52d39a54-b3d4-4ac1-88ab-9f300eb79a4d\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 01 Mar 2013 02:07:23 GMT
[...]
