--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"VzFe6PpZpzNaHWmf\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="2FdwGYepXDv9G39WE3wtipYCwUGrNNpu5Blb0jxW3XQ", oauth_signature="a3CyIQrFS7XjT6XKY48U7vMjS9k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884938", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"514b3b8a9c60ed64a300539e\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"514b3b8a9c60ed64a300539e\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Thu, 21 Mar 2013 16:55:38 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="eUCP2uab5ZwJ5jpAxwzRQpVl9Lwtwghs0VBzJzA8pw", oauth_signature="566x2xwHu18r7dFMyl2IW90RmoA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884940", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 21 Mar 2013 16:55:40 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="iiyCMK6BEqVPYCALdJtJDjPMKD942mYk1PG8Tk1KOSA", oauth_signature="f94m9XX8apqyXCb9NCGAhie8458%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884941", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 21 Mar 2013 16:55:41 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="DHdfO7oxIOAwQDFtJKAqPJUkZzmQLiAgCdz51rfsuQ", oauth_signature="xvjKz5OKz1XKj85AAfW1IdKb8JY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884942", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 21 Mar 2013 16:55:42 GMT
recorded_with: VCR 2.4.0
