--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/463d9874-8227-47d3-99a1-c779bc5e07eb/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="d7woib1zJXVI3EUsmppKGfDDXYWqMc1vhJ6yCV0", oauth_signature="oaIM5gNLARZDnQzDaB3o0fZPNkM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373030", oauth_version="1.0"
      Pulp-User: 
      - hidden
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"a1fde452-ad68-4e92-8ce3-9234dadaa503\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/463d9874-8227-47d3-99a1-c779bc5e07eb/\", \"task_id\": \"463d9874-8227-47d3-99a1-c779bc5e07eb\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"reasons\": [], \"start_time\": \"2013-06-04T19:10:30Z\", \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"state\": \"finished\", \"finish_time\": \"2013-06-04T19:10:30Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"a1fde452-ad68-4e92-8ce3-9234dadaa503\", \"call_request_id\": \"463d9874-8227-47d3-99a1-c779bc5e07eb\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"notify_agent\": false, \"repo_id\": \"1\", \"deleted\": false, \"_ns\": \"consumer_bindings\", \"distributor_id\": \"1\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"consumer_actions\": [], \"binding_config\": null, \"_id\": {\"$oid\": \"51ae3ba65ca0133c2a01cef7\"}, \"id\": \"51ae3ba65ca0133c2a01cef7\"}}"
  recorded_at: Tue, 04 Jun 2013 19:10:30 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="gF2vvlEoaAwnQSXvnb9wnAi6VXYoMpVLBL3OQahV3s", oauth_signature="bB2ZiztwnS49jAu0ykZLv4ZWVFs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373171", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 04 Jun 2013 19:12:51 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Kuq5QB8cAEfzLwH0TwKnBbsFXa6kbZcWr5dBJZook", oauth_signature="NgTQCK1OJqx4OuZdxWpZPBL%2BqK8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373171", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\", \"repodata\": {}}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_counts\": {\"package_group\": 2, \"distribution\": 1, \"package_category\": 1, \"rpm\": 8, \"erratum\": 2}, \"_id\": {\"$oid\": \"51ae3c315ca0133c2a01da19\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2013-06-04T15:12:50-04:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"51ae3c315ca0133c2a01da1a\"}, \"config\": {\"feed_url\": \"file:///home/jlsherri/git/katello/test/fixtures/zoo5\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2013-06-04T15:12:51-04:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"51ae3c315ca0133c2a01da1b\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Tue, 04 Jun 2013 19:12:51 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="zNVJQyl63eTXjyUjKxppHENGIfA1WQ2Ooztj9yw6uk", oauth_signature="1lzHHbTh585fP95KPBm9kRRU4XE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373172", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_id\": {\"$oid\": \"51ae3c325ca0133c2a01da3b\"}, \"unit_id\": \"be7daa2f-dc6a-4a2b-aa60-f6a0f4dfa4eb\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"be7daa2f-dc6a-4a2b-aa60-f6a0f4dfa4eb\"}}, {\"_id\": {\"$oid\": \"51ae3c325ca0133c2a01da3d\"}, \"unit_id\": \"25953784-3d51-48f0-a634-cee4d8113ebd\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"25953784-3d51-48f0-a634-cee4d8113ebd\"}}]"
  recorded_at: Tue, 04 Jun 2013 19:12:52 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"be7daa2f-dc6a-4a2b-aa60-f6a0f4dfa4eb\",\"25953784-3d51-48f0-a634-cee4d8113ebd\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7ejqYOpLiq0ou3aP8pMUI6ZqWOGDq2hK3n33TH7d8", oauth_signature="qz4%2BL1cXRwfPrMeERA1TTzrhMGo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373172", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"25953784-3d51-48f0-a634-cee4d8113ebd\", \"_href\": \"/pulp/api/v2/content/units/erratum/25953784-3d51-48f0-a634-cee4d8113ebd/\", \"children\": {}, \"repository_memberships\": [\"1\"]}, {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"be7daa2f-dc6a-4a2b-aa60-f6a0f4dfa4eb\", \"_href\": \"/pulp/api/v2/content/units/erratum/be7daa2f-dc6a-4a2b-aa60-f6a0f4dfa4eb/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Tue, 04 Jun 2013 19:12:52 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/install//
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"erratum\",\"unit_key\":{\"id\":\"25953784-3d51-48f0-a634-cee4d8113ebd\"}}],\"options\":{\"importkeys\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ZRJedZRiI8nSKF6PNeVg5Ulo9Hl1WYnGH0lJVQS2w", oauth_signature="wWQ7iN9AgMuorGXGaNbXNBic5Ug%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373172", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/db691dc7-a9d8-49d2-8f84-1e0056b39ae4/\", \"task_id\": \"db691dc7-a9d8-49d2-8f84-1e0056b39ae4\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"db691dc7-a9d8-49d2-8f84-1e0056b39ae4\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 04 Jun 2013 19:12:53 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/update//
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"cheetah\"}}],\"options\":{\"importkeys\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_no[...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/uninstall//
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"cheetah\"}}],\"options\":{}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="mZ4Af7XEaua[...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="h4ecfOKFT176pwNgQ0ZoaVXjyLXkkRKWe7oV7yKrA", oauth_signature="ya35eh3bFHw3fuQAiYbh4NgRW7o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373177", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "{'_href': u'/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/'}"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"display_name\": \"Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXQIBAAKBgQDA2YSwF4O2cYCyf7wnWp4XzYKoLTmGhWfT2dDm76LLxo2wxCEs\\nelTfgZ1Igy9Tyumm4QUjrFJ/vWIfhlfQ6IdiXoSMoSuvS1/XEicS9UTrNEARZo5E\\npEwV6dk+gk/RgbSzFAjprOHmbPiUrO1sfjr+SBk3mzqOiyqndUBvEqYqowIDAQAB\\nAoGARKUotgWovKhqRx9wuhFndNGSUIrIjzmtW5uM4KcsK5zhkqo9pLdmvqhEdCs+\\nDXWM9fni+m+8bfvbkZ0gZRxgE+Uh0oXsChJZVfdueBlomYaa0ibmS3Q4khrDYAng\\naOqi+9NMny5b8vgqZ/BCMu51hFfsQicUmMq1HnY7Nr4M3QECQQDwnz/aGPWz15IW\\nkelKXLCCxn4A56xhXhB1G95nY9iyoKkUysIBTXfNKaWJlSKB5CieGLs9pIOxK[...]
- request: 
    method: put
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: "{\"delta\":{\"display_name\":\"Not So Simple Server\"}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="wAzTKgQVuwPdc514ysha8iUAkrYTgCh39fvJBMcNJHU", oauth_signature="MgHCAdse0uLRgwYixF%2Fo0Omnt2g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373187", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
   [...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles//
    body: 
      encoding: US-ASCII
      string: "{\"content_type\":\"rpm\",\"profile\":[{\"vendor\":\"FedoraHosted\",\"name\":\"elephant\",\"version\":\"0.3\",\"release\":\"0.8\",\"arch\":\"noarch\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="vP6Wp8RKeLYFOUpX7mqp9SJVohHQZobZylaf31sM", oauth_signature="7VhClTZcvvfZrEdclWtzi0VX6eg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373189", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"profile\": [{\"release\": \"0.8\", \"vendor\": \"FedoraHosted\", \"version\": \"0.3\", \"arch\": \"noarch\", \"name\": \"elephant\"}], \"_ns\": \"consumer_unit_profiles\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"content_type\": \"rpm\", \"_id\": {\"$oid\": \"51ae3a125ca0133c2a01c805\"}, \"id\": \"51ae3a125ca0133c2a01c805\", \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/\"}"
  recorded_at: Tue, 04 Jun 2013 19:13:09 GMT
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RaM0jM4oZPOGzlDy4F4rY8IFBKABzBYF3P35kltLQ", oauth_signature="lo9aGJSXdwNTzrpnqSdr6XmXBwk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373190", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 04 Jun 2013 19:13:10 GMT
recorded_with: VCR 2.4.0
