--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"VpwJNgvUxb7AsnL5\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="DQjmjIqSKMgGLd24ezrgNfPvz2rW0DQjDfgVfMbGqjU", oauth_signature="LbRhbRcN0YKxGMguMac3CHdgwPI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889159", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51d4a0475ca01330ee97efe9\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"51d4a0475ca01330ee97efe9\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Wed, 03 Jul 2013 22:05:59 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="8xsvDD1uli2RwaKgmiZzn4eSf4OywJDgbrOknVFxs", oauth_signature="RFblE6GH4S3pXJqDe0S2bhN8rkM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889160", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Wed, 03 Jul 2013 22:06:01 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="sFgpe0ihgsXM3EFhJyMNQR1ROpjgxKBTpBMPMdrD8", oauth_signature="FJZAuoe0vuxuEvBxjpcXIeFPwuA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889161", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Wed, 03 Jul 2013 22:06:01 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="HCaOnADNkBtwVXmVLwof7HFCyREcPBR59g6IUZJAIc", oauth_signature="28C%2FvKi0tNP6vqQlUzYlTXA3LVI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889162", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Wed, 03 Jul 2013 22:06:02 GMT
recorded_with: VCR 2.4.0
