--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"kTIltGFFY6K9NBiA\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="CLbaDmzWVPwmFEZylIWJFdMAiHwYEsYl3Ch4eFBC2k", oauth_signature="u0eSyJBZHIYlz1%2F4mdY%2F4EhB34U%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884859", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"514b3b3b9c60ed64a3004de0\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"514b3b3b9c60ed64a3004de0\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Thu, 21 Mar 2013 16:54:20 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="sXfFdIsAuKqpF6HqZ764UzlxX99dFgAgoGmPcjnTweI", oauth_signature="krjgYSNELnVoCo8ZVV8jsmoFwXE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884860", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 21 Mar 2013 16:54:20 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="jjBMfMU7YeyyqUZ8e1NYh13LLJjKlHHPwpcqYZWLhAU", oauth_signature="NIjLd24ekjRbLHlSAuHudL2aeLI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884868", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 21 Mar 2013 16:54:28 GMT
recorded_with: VCR 2.4.0
