--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QjbTjVkm5SgcJGwHDVeFVgE150iJ3ZRrxNbYckEVXuI", oauth_signature="4pOmjR1IpEK5D9qQ4lKlacqO9Rg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829994", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Thu, 21 Mar 2013 01:39:54 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2014-03-20T21:39:54-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="rOfd9NgxBpOYQEQQsKbXxziSTpMETkT6tVcQF4aa2E", oauth_signature="mdOlzEhdOX134FrK7INTGFB451c%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829994", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/514a64ea9c60ed64a3004289/
    body: 
      string: "{\"next_run\": \"2014-03-21T01:39:54Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/514a64ea9c60ed64a3004289/\", \"schedule\": \"2014-03-20T21:39:54-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-03-21T01:39:54Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"514a64ea9c60ed64a3004289\", \"consecutive_failures\": 0}"
  recorded_at: Thu, 21 Mar 2013 01:39:54 GMT
