--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/a5612c25-5343-4c36-90e3-b1416fa923c9/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - hidden
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="3y3gLDHLMrBpge9ULfNXCygWe8YPcXqICpmTXK6tUU", oauth_signature="SrpWooMQpYNl8h4YC19nQEceVNc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829728", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"138a98fa-8f82-4816-9fab-a91267f255fb\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/a5612c25-5343-4c36-90e3-b1416fa923c9/\", \"task_id\": \"a5612c25-5343-4c36-90e3-b1416fa923c9\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"reasons\": [], \"start_time\": \"2013-03-21T01:35:28Z\", \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"state\": \"finished\", \"finish_time\": \"2013-03-21T01:35:28Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"138a98fa-8f82-4816-9fab-a91267f255fb\", \"call_request_id\": \"a5612c25-5343-4c36-90e3-b1416fa923c9\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"repo_id\": \"1\", \"consumer_actions\": [], \"_ns\": \"consumer_bindings\", \"distributor_id\": \"1\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"deleted\": false, \"_id\": {\"$oid\": \"514a63e09c60ed64a3003338\"}, \"id\": \"514a63e09c60ed64a3003338\"}}"
  recorded_at: Thu, 21 Mar 2013 01:35:28 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="j3E6bwOGeFp2ymTramyBB0Sq5MKOt8mwn9wKy1E", oauth_signature="%2B9gKxuLaq9y1hiwq0NX0Ldx1vFU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829895", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Thu, 21 Mar 2013 01:38:15 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/?details=true
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QfJAGXbDIXN6pECHmp5rnsSFCJVtm7LKw9KTlGumgU", oauth_signature="q0WPYckZeqtcFUnELRefiRzml98%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829895", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\", \"repodata\": {}}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 14, \"_id\": {\"$oid\": \"514a64849c60ed64a3003d49\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2013-03-20T21:38:13-04:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"514a64849c60ed64a3003d4a\"}, \"config\": {\"feed_url\": \"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"514a64849c60ed64a3003d4b\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Thu, 21 Mar 2013 01:38:15 GMT
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/install//
    body: 
      string: "{\"options\":{},\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"elephant\"}}]}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="6ynB2zzFMIDowfEMVwqsnbs2U5ffVtMMzoiKsAxw", oauth_signature="eYVS%2BzEq3jOl91tKVwW8SIWsKp8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829896", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/9143ec4d-ea6c-4002-aa4a-29932d968545/\", \"task_id\": \"9143ec4d-ea6c-4002-aa4a-29932d968545\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"9143ec4d-ea6c-4002-aa4a-29932d968545\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 21 Mar 2013 01:38:16 GMT
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/update//
    body: 
      string: "{\"options\":{},\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"cheetah\"}}]}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="9b4er[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="aW2ebccvUWNYMbR8QWo30K9VYwl6j7Zv611b9WiSdI", oauth_signature="HLcZjvmrjZBE6aYrYL3mw2SeD78%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829899", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2013-03-21T05:38:13Z\", \"repo_id\": \"1\", \"created\": \"2013-03-21T05:38:13Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"01a8e05e-0d02-4a61-81d5-98d582fe0c38\", \"unit_type_id\": \"erratum\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"514a64859c60ed64a3003d65\"}, \"id\": \"514a64859c60ed64a3003d65\", \"owner_id\": \"yum_importer\", \"metadata\": {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"_ns\": \"units_erratum\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"01a8e05e-0d02-4a61-81d5-98d582fe0c38\"}}, {\"updated\": \"2013-03-21T05:38:13Z\", \"repo_id\": \"1\", \"created\": \"2013-03-21T05:38:13Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"0ba6a947-aa20-49e7-8763-99fb4d4bd51b\", \"unit_type_id\": \"erratum\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"514a64859c60ed64a3003d67\"}, \"id\": \"514a64859c60ed64a3003d67\", \"owner_id\": \"yum_importer\", \"metadata\": {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"_ns\": \"units_erratum\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"0ba6a947-aa20-49e7-8763-99fb4d4bd51b\"}}]"
  recorded_at: Thu, 21 Mar 2013 01:38:19 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"01a8e05e-0d02-4a61-81d5-98d582fe0c38\",\"0ba6a947-aa20-49e7-8763-99fb4d4bd51b\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="3EfI4ASyx7OMXRmNhE7HHX1sLSc3dSFSARht69R3vNU", oauth_signature="UAKQicFFZYcoc1pqCZPUHpK9X5o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829899", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"01a8e05e-0d02-4a61-81d5-98d582fe0c38\", \"_href\": \"/pulp/api/v2/content/units/erratum/01a8e05e-0d02-4a61-81d5-98d582fe0c38/\", \"children\": {}, \"repository_memberships\": [\"1\"]}, {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"0ba6a947-aa20-49e7-8763-99fb4d4bd51b\", \"_href\": \"/pulp/api/v2/content/units/erratum/0ba6a947-aa20-49e7-8763-99fb4d4bd51b/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Thu, 21 Mar 2013 01:38:20 GMT
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/uninstall//
    body: 
      string: "{\"options\":{},\"units\":[{\"type_id\":\"package_group\",\"unit_key\":{\"name\":\"mammals\"}}]}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth[...]
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/
    body: 
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="XfEeLzRhKILeALeCFRYibWF3ROfd7hweWv5snPqNm4", oauth_signature="pyomhV45%2BXKrYwUmDO2Pa8NgXko%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829907", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "{'_href': u'/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/'}"
    body: 
      string: "{\"display_name\": \"Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXQIBAAKBgQDBCm8mRJQYVUpAq7kgzOaqZfDnDdOLPDDVe1SJtue7znpoilyX\\nGxOW0L75v7igXINNKSnPg55/tHxx29qtCE9Z5GNaf+bHybYuzjMYjtbL3d2aF200\\nm90sIR3Q6gKBcYdEXbFjWFiNCk7NKIJp4DmUqDoTfUYxepory2qLrnrorwIDAQAB\\nAoGAYgnukTzbCdCnOVj9WI83xuqnAnGfMmOLWaCdOqPN5S/kMxuyEnwJ4tp5Y1Xf\\nanIRrSputZle8fS0Dw9da+uAgH8GxlFbP3QqFsc6kIxirShcbZ5/PjN/kJgclJrw\\nRDnK3BrtmBnGOd2sIzYorqut23sZhz08j3Bnbq2iidAcakECQQD+WtCRTXWE1dvp\\n2Og5Jz6tkklHVvbI3PUiTovg+PTFMxNdA6p7DP4MaCExHwq551kSChLICIJEa[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="fRyXTL4mXs5b2LMSRI3Qv8cuXokMRtKjsmKdMgfZU", oauth_signature="5myGG6Ag9w96VGtbJ22OAg3Ds1M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829917", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Thu, 21 Mar 2013 01:38:37 GMT
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles//
    body: 
      string: "{\"content_type\":\"rpm\",\"profile\":[{\"release\":\"0.8\",\"arch\":\"noarch\",\"version\":\"0.3\",\"vendor\":\"FedoraHosted\",\"name\":\"elephant\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="JgWjr2dXBlUkM47xgzPxmpk2BDHZwydB1Bsh4tJnRg", oauth_signature="HBCDWaN4ihvTuchP4W3SOT7Nz3I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829917", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/
    body: 
      string: "{\"profile\": [{\"release\": \"0.8\", \"arch\": \"noarch\", \"version\": \"0.3\", \"vendor\": \"FedoraHosted\", \"name\": \"elephant\"}], \"_ns\": \"consumer_unit_profiles\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"content_type\": \"rpm\", \"_id\": {\"$oid\": \"514a2ef99c60ed64a3000c35\"}, \"id\": \"514a2ef99c60ed64a3000c35\", \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/\"}"
  recorded_at: Thu, 21 Mar 2013 01:38:38 GMT
[...]
- request: 
    method: put
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      string: "{\"delta\":{\"display_name\":\"Not So Simple Server\"}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ndSEBdJcFktE69Txme0VK7ZYM0RdahdkbWFZEc1tn0", oauth_signature="X9fxRTA6YE%2F5vH6tgaa1dpA2qHU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829918", oauth_version="1.0"
  response: 
    status: 
      code: 200
    [...]
[...]
