--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":\"batman\",\"password\":\"PLRy5Vf2Vw6hQmtr\",\"login\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="eDyUviMPf9CPKEEphRg7M1pTfIPLgMP2L3Mqs3l5DRY", oauth_signature="FvXdq5zsxMISLGdcj26P5luK3IE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377525", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"50f732359c60ed27ce003800\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50f732359c60ed27ce003800\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Wed, 16 Jan 2013 23:05:25 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="5SNKKGNZ3Yw2tAcwl6F0rRawgv5yTpOyUgUgKeftaQ", oauth_signature="FkwKASRN4YcJWv4tjYDuDaztnUY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377526", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 16 Jan 2013 23:05:26 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="fIn6rx8t2WFQgRT7KMUlsOUBXjJA5vDSEHJeQ9ra14o", oauth_signature="DoH7u4bYJlL5o8ho5bkpYktdFx4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377529", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 16 Jan 2013 23:05:29 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="CljypD5sX9gyWfWDkx850eJWL79vGTG3z7uxpaXSGA", oauth_signature="tbFwbhfYyuy7VxZLQ6cGm6zjGpI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377529", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 16 Jan 2013 23:05:29 GMT
