--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"gIzJqCUD0UxfYfl6\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="vCOo1lyL0bA3HfwgdQGjD7SSmWauLW6R3661zG68Uto", oauth_signature="J4agmyUdqsTn7dxTusEy39HwEhA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693190", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51c260865ca01342b1083c49\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"51c260865ca01342b1083c49\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Thu, 20 Jun 2013 01:53:10 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="SKPOJ1emRPW0PbR5EzNdELcgwiEjCJleY4AbSg4nqc", oauth_signature="HbdXbsbK%2BHo%2Bq7mElSHTHq3mvqI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693192", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 20 Jun 2013 01:53:12 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RvrwI9RXbI8fAMK0u6onht8uQ420F884yDMHvIAs", oauth_signature="lEnOpHmgBjrH0YuxfwaEJgouOcY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693192", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 20 Jun 2013 01:53:12 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="y1uIHieH4LmVZz1DFsXzUmK5OBpgcgFh1hd5wGqsoBU", oauth_signature="0WEhk7K4C41IHyjS5GmGeyyHhTc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693193", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 20 Jun 2013 01:53:13 GMT
recorded_with: VCR 2.4.0
