--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"package_group\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="T8gVtlNUC2GkOjY0go1G8WBws4t0g2JiJRAcrOcyR4", oauth_signature="%2B8KCtRkEV3mVDvDX%2BH7%2Fho%2BVS34%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889146", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"updated\": \"2013-07-04T02:05:41Z\", \"repo_id\": \"1\", \"created\": \"2013-07-04T02:05:41Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"f5dc0187-3232-4339-b866-b24667b7fcfa\", \"unit_type_id\": \"package_group\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"51d4a0355ca01330ee97ee38\"}, \"id\": \"51d4a0355ca01330ee97ee38\", \"owner_id\": \"yum_importer\", \"metadata\": {\"_storage_path\": null, \"mandatory_package_names\": [\"penguin\"], \"repo_id\": \"1\", \"description\": \"\", \"user_visible\": true, \"default\": true, \"_ns\": \"units_package_group\", \"display_order\": 1024, \"optional_package_names\": [], \"translated_name\": {}, \"translated_description\": {}, \"conditional_package_names\": [], \"default_package_names\": [], \"_content_type_id\": \"package_group\", \"langonly\": null, \"_id\": \"f5dc0187-3232-4339-b866-b24667b7fcfa\", \"id\": \"bird\", \"name\": \"bird\"}}, {\"updated\": \"2013-07-04T02:05:41Z\", \"repo_id\": \"1\", \"created\": \"2013-07-04T02:05:41Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"09bf6576-3632-4507-85b8-bd12c4976fa8\", \"unit_type_id\": \"package_group\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"51d4a0355ca01330ee97ee37\"}, \"id\": \"51d4a0355ca01330ee97ee37\", \"owner_id\": \"yum_importer\", \"metadata\": {\"_storage_path\": null, \"mandatory_package_names\": [\"elephant,giraffe,cheetah,lion,monkey,penguin,squirrel,walrus\", \"penguin\"], \"repo_id\": \"1\", \"description\": \"\", \"user_visible\": true, \"default\": true, \"_ns\": \"units_package_group\", \"display_order\": 1024, \"optional_package_names\": [], \"translated_name\": {}, \"translated_description\": {}, \"conditional_package_names\": [], \"default_package_names\": [], \"_content_type_id\": \"package_group\", \"langonly\": null, \"_id\": \"09bf6576-3632-4507-85b8-bd12c4976fa8\", \"id\": \"mammal\", \"name\": \"mammal\"}}]"
  recorded_at: Wed, 03 Jul 2013 22:05:46 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"distribution\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="8NqppjKSiiSqXYSLoapkOf7iOjfcO6XU16cbkbxFJbw", oauth_signature="4fRidKLKRxtGOCdE8fG%2BuadLmeQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889146", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"updated\": \"2013-07-04T02:05:41Z\", \"repo_id\": \"1\", \"created\": \"2013-07-04T02:05:41Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"d0539c5f-2354-4918-9350-6a1800023852\", \"unit_type_id\": \"distribution\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"51d4a0355ca01330ee97ee2d\"}, \"id\": \"51d4a0355ca01330ee97ee2d\", \"owner_id\": \"yum_importer\", \"metadata\": {\"files\": [{\"checksumtype\": \"sha256\", \"relativepath\": \"images/test2.img\", \"fileName\": \"test2.img\", \"downloadurl\": \"file:///home/jlsherri/git/katello/test/fixtures/zoo5/images/test2.img\", \"item_type\": \"tree_file\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/1/images\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"filename\": \"test2.img\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/images\", \"size\": 0}, {\"checksumtype\": \"sha256\", \"relativepath\": \"empty.iso\", \"fileName\": \"empty.iso\", \"downloadurl\": \"file:///home/jlsherri/git/katello/test/fixtures/zoo5/empty.iso\", \"item_type\": \"tree_file\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/1/\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"filename\": \"empty.iso\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64\", \"size\": 0}, {\"checksumtype\": \"sha256\", \"relativepath\": \"images/test1.img\", \"fileName\": \"test1.img\", \"downloadurl\": \"file:///home/jlsherri/git/katello/test/fixtures/zoo5/images/test1.img\", \"item_type\": \"tree_file\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/1/images\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"filename\": \"test1.img\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/images\", \"size\": 0}], \"_storage_path\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64\", \"family\": \"Test Family\", \"_ns\": \"units_distribution\", \"variant\": \"TestVariant\", \"version\": \"16\", \"_content_type_id\": \"distribution\", \"_id\": \"d0539c5f-2354-4918-9350-6a1800023852\", \"arch\": \"x86_64\", \"id\": \"ks-Test Family-TestVariant-16-x86_64\"}}]"
  recorded_at: Wed, 03 Jul 2013 22:05:46 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"package_category\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="xEBfoCdKC2UYpGUQnPbzD2xzbjODUkDHDs8j2N3I7tw", oauth_signature="dkvEIu1q%2Fb9ZS5J36%2BE03iYZpXY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889151", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"updated\": \"2013-07-04T02:05:41Z\", \"repo_id\": \"1\", \"created\": \"2013-07-04T02:05:41Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"c7ae5e7d-3e72-4838-9d0f-3bf1fad878cc\", \"unit_type_id\": \"package_category\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"51d4a0355ca01330ee97ee39\"}, \"id\": \"51d4a0355ca01330ee97ee39\", \"owner_id\": \"yum_importer\", \"metadata\": {\"_storage_path\": null, \"repo_id\": \"1\", \"description\": null, \"_ns\": \"units_package_category\", \"display_order\": 99, \"translated_name\": {}, \"packagegroupids\": [\"mammal\", \"bird\"], \"translated_description\": {}, \"_content_type_id\": \"package_category\", \"_id\": \"c7ae5e7d-3e72-4838-9d0f-3bf1fad878cc\", \"id\": \"all\", \"name\": \"all\"}}]"
  recorded_at: Wed, 03 Jul 2013 22:05:51 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="yRr2gR4cFAd1zTkO1iFJC7JftWIRAKqkDFWp6BRpjXA", oauth_signature="x5URJt3IBQKoLNXkePXqM1fQuUQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889151", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_id\": {\"$oid\": \"51d4a0355ca01330ee97ee30\"}, \"unit_id\": \"7fff868a-40bc-48fc-863a-f1cf12eecad3\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"7fff868a-40bc-48fc-863a-f1cf12eecad3\"}}, {\"_id\": {\"$oid\": \"51d4a0355ca01330ee97ee32\"}, \"unit_id\": \"ccb9b259-5dda-4d78-9193-b6fd237ad909\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"ccb9b259-5dda-4d78-9193-b6fd237ad909\"}}]"
  recorded_at: Wed, 03 Jul 2013 22:05:51 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"7fff868a-40bc-48fc-863a-f1cf12eecad3\",\"ccb9b259-5dda-4d78-9193-b6fd237ad909\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="E1MNLVGCj47KZArODR4oVm21WF7jmvi8ZxBBIv5bQ", oauth_signature="OCcrAKJ3KB1O7hyI5hSSmLmD%2FuI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889151", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"7fff868a-40bc-48fc-863a-f1cf12eecad3\", \"_href\": \"/pulp/api/v2/content/units/erratum/7fff868a-40bc-48fc-863a-f1cf12eecad3/\", \"children\": {}, \"repository_memberships\": [\"1\"]}, {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"ccb9b259-5dda-4d78-9193-b6fd237ad909\", \"_href\": \"/pulp/api/v2/content/units/erratum/ccb9b259-5dda-4d78-9193-b6fd237ad909/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Wed, 03 Jul 2013 22:05:51 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/rpm/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"56af979c-add0-449c-a421-8cda41b23a27\",\"cbb961d9-7af1-4262-bba8-3ace35e9c4ad\",\"d292638b-fedf-4646-8f55-585149943888\",\"faeeb18f-24e6-4777-8c33-15b04fb4844e\",\"948a4fc7-8f81-4e74-a764-682bae6b1067\",\"8d474d11-03cd-480e-969f-5aa662d0fb22\",\"f4bc7906-865b-46fa-a9e7-88209c16d495\",\"dc701f[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]},\"limit\":500,\"skip\":0}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="bpiMBGeM4PI3cJz7qwMcRiRbht4woXfOZQFXFNru3n4", oauth_signature="AZ6JvwCOGybS6jhG9bqc0miGRMA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889153", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-[...]
