--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/9194173c-790a-4fdf-8fbf-b35353a6c56c/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="esRi19WfK0IRuNxDxtNUsKLEhZ9Wfn3ZdpeKLFz3s", oauth_signature="9KsOHn4vXL%2Bs4ZnH5UZZJOPimgs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693158", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/9194173c-790a-4fdf-8fbf-b35353a6c56c/\", \"task_id\": \"9194173c-790a-4fdf-8fbf-b35353a6c56c\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-06-20T01:52:37Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-06-20T01:52:37Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"9194173c-790a-4fdf-8fbf-b35353a6c56c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 20 Jun 2013 01:52:38 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/cb6eef6d-5022-407e-8d34-599452ce010e/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="3VabxhpSMYlNrAE8ZAh0LS45LHbTCQh1D8juEzhs", oauth_signature="AW0IV2RcekA0XWe%2FmP73igv9%2FPA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693161", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"4fdaa00c-ddfe-412a-ad92-722e0c4ad07c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/cb6eef6d-5022-407e-8d34-599452ce010e/\", \"task_id\": \"cb6eef6d-5022-407e-8d34-599452ce010e\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-06-20T01:52:41Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"4fdaa00c-ddfe-412a-ad92-722e0c4ad07c\", \"call_request_id\": \"cb6eef6d-5022-407e-8d34-599452ce010e\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 20 Jun 2013 01:52:41 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/cb6eef6d-5022-407e-8d34-599452ce010e/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="5orT0h0IDhJ6uOKwmJNf4G8yDoBiuaN4XvL8yilszo", oauth_signature="ugwc1PfC037VdmAEQ4aqiYxzDZU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693161", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"4fdaa00c-ddfe-412a-ad92-722e0c4ad07c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/cb6eef6d-5022-407e-8d34-599452ce010e/\", \"task_id\": \"cb6eef6d-5022-407e-8d34-599452ce010e\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-06-20T01:52:41Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"4fdaa00c-ddfe-412a-ad92-722e0c4ad07c\", \"call_request_id\": \"cb6eef6d-5022-407e-8d34-599452ce010e\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 20 Jun 2013 01:52:41 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/c64e2184-cf7c-4dab-a114-a4a74ef90115/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="CheqdS2dxXHRnL6AWMrQdZrC1J2JA2SGQUxlxZAQM", oauth_signature="AmmO5dO0JdMkpopZDK0vPfxjYyo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693177", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/c64e2184-cf7c-4dab-a114-a4a74ef90115/\", \"task_id\": \"c64e2184-cf7c-4dab-a114-a4a74ef90115\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"2\"}], \"start_time\": \"2013-06-20T01:52:56Z\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-06-20T01:52:56Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"c64e2184-cf7c-4dab-a114-a4a74ef90115\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Thu, 20 Jun 2013 01:52:57 GMT
[...]
