--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="YAIWGsVu6pVi73EDoMJnpbWsmTLjUqM7SgVUrGsQVss", oauth_signature="WX9TfJfCa70GFG6tYDkNJcCYRN4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889154", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Wed, 03 Jul 2013 22:05:54 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2014-07-03T18:05:54-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="doOxSVuceDtXv9bzIcFuj3l8ZM4G1un5mUBjAeTaDk", oauth_signature="n7LMNZCWEGX%2FCfhDlagKH2u8ysA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889154", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51d4a0425ca01330ee97ef6b/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-07-03T22:05:54Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51d4a0425ca01330ee97ef6b/\", \"schedule\": \"2014-07-03T18:05:54-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-07-03T22:05:54Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"51d4a0425ca01330ee97ef6b\", \"consecutive_failures\": 0}"
  recorded_at: Wed, 03 Jul 2013 22:05:54 GMT
recorded_with: VCR 2.4.0
