--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="7J0f7MAX8cx8xXCpCJi4oZMThb4O0MQFjVzoqZMN8s", oauth_signature="h8MY31GCnAq8X6FNSADh4mZvjOo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362400", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Thu, 01 Aug 2013 13:06:40 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2014-08-01T09:06:40-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="dslGLMoY120lF3Ie353mlLTqs8I2psY7EkAzcI", oauth_signature="a1MnF7mC%2FOxtbisfJDn%2Fur0Ixhc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362400", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51fa5d605ca013687ad58fb0/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-08-01T13:06:40Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51fa5d605ca013687ad58fb0/\", \"schedule\": \"2014-08-01T09:06:40-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-08-01T13:06:40Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"51fa5d605ca013687ad58fb0\", \"consecutive_failures\": 0}"
  recorded_at: Thu, 01 Aug 2013 13:06:40 GMT
recorded_with: VCR 2.5.0
