--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="xV4vlAumGtzOPiv8qKS6fFyHRO0BFpXwuQ4F7tL4o", oauth_signature="xJ5gi4eXW%2FYJI0%2FU1WuzMsJtg4g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353123110", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Sat, 17 Nov 2012 03:31:50 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2013-11-16T22:31:50-05:00/P1D\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="iQVirZKvEsKmHOSXpgmL9LZNZzvAXh2EShszjcq4", oauth_signature="Fp9vebpObt6vIdl5VToeAY4ki3o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353123110", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50a705269c60ed289c0021d2/
      Content-Type: 
      - application/json
    body: 
      string: "{\"next_run\": \"2013-11-17T03:31:50Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50a705269c60ed289c0021d2/\", \"schedule\": \"2013-11-16T22:31:50-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-11-17T03:31:50Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50a705269c60ed289c0021d2\", \"consecutive_failures\": 0}"
  recorded_at: Sat, 17 Nov 2012 03:31:50 GMT
