--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/9c73dd6e-a2e5-4413-ab8b-5b6c36d0c590/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ccACxEuZFNphjc0la0xXlklPaNTZBfr2dNerhYgPsE", oauth_signature="nUxljX8uOsZXa1LQAbIU%2BzgjCf4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493500", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/9c73dd6e-a2e5-4413-ab8b-5b6c36d0c590/\", \"task_id\": \"9c73dd6e-a2e5-4413-ab8b-5b6c36d0c590\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-01-29T21:05:00Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-01-29T21:05:00Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"9c73dd6e-a2e5-4413-ab8b-5b6c36d0c590\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 29 Jan 2013 21:05:00 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/2480ab92-f11f-472f-94c5-2ff7ff62c09d/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="5W5yujgC15iOYYpmG9eA36QvDDZYC1sp8OD03tJfy0", oauth_signature="9FgY45DnPMViSwGD%2Fdl3H3Ogiec%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493503", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"1bd4cf0f-ca2c-466a-9f91-08275257f19f\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/2480ab92-f11f-472f-94c5-2ff7ff62c09d/\", \"task_id\": \"2480ab92-f11f-472f-94c5-2ff7ff62c09d\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-29T21:05:03Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"1bd4cf0f-ca2c-466a-9f91-08275257f19f\", \"call_request_id\": \"2480ab92-f11f-472f-94c5-2ff7ff62c09d\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 29 Jan 2013 21:05:03 GMT
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/2480ab92-f11f-472f-94c5-2ff7ff62c09d/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="dKWfVKpoVmk3WkFt9vBBkjj76bVD1tNoV18FO0QU", oauth_signature="5ySIEUxjpAxBeMw7sxTPpveFlRc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493503", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"1bd4cf0f-ca2c-466a-9f91-08275257f19f\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/2480ab92-f11f-472f-94c5-2ff7ff62c09d/\", \"task_id\": \"2480ab92-f11f-472f-94c5-2ff7ff62c09d\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-29T21:05:03Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"FINISHED\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"1bd4cf0f-ca2c-466a-9f91-08275257f19f\", \"call_request_id\": \"2480ab92-f11f-472f-94c5-2ff7ff62c09d\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 29 Jan 2013 21:05:04 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/31c33d95-9f9c-4d2a-a769-4c572cf6abff/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="fy3lMZmfkX8uDPH2oJTuNdpGFkjvljZ86mFkkL4hjw", oauth_signature="Dp2nnw%2FsH23PYUwZ46baVzTTKVE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493510", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/31c33d95-9f9c-4d2a-a769-4c572cf6abff/\", \"task_id\": \"31c33d95-9f9c-4d2a-a769-4c572cf6abff\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\"}], \"start_time\": \"2013-01-29T21:05:09Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-01-29T21:05:09Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"31c33d95-9f9c-4d2a-a769-4c572cf6abff\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Tue, 29 Jan 2013 21:05:10 GMT
[...]
