--- 
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"fefi3f4YPQUUeig0\",\"login\":\"batman\",\"name\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="KadhZbcG0xizvoce1RtGkcDIju3tU54j0kzPZI2IqY", oauth_signature="92U%2FBshUE9n8BnY%2BNTRHL%2BKLIx4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780527", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - batman
    body: 
      string: "{\"_id\": {\"$oid\": \"50ee162fdc792129cb0029d2\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50ee162fdc792129cb0029d2\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Thu, 10 Jan 2013 01:15:27 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="3dKXO76SAWFMan97WYyh22mkSx07mTTGG4zZc1GOrk", oauth_signature="LgntHvZI1zpNcnCw31Tya3dkVxw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780528", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Thu, 10 Jan 2013 01:15:28 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QQzIQ4F2wsra0kc2MS70XFIzt6cNvyU0lpl59ki90", oauth_signature="V0wHB1DhgOaX8I1HRhaF0uRjze0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780529", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Thu, 10 Jan 2013 01:15:29 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="nVjZXkwtRIVVDnLVBFf4C9YMqs4qCxMpwEbIdFy8B0", oauth_signature="l3bxyl8GZd4Elso2aQLaDl1JF8Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780530", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Thu, 10 Jan 2013 01:15:31 GMT
recorded_with: VCR 2.4.0
