--- 
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/2dfc5899-9aa0-4835-815d-e6cd6e0ccb05/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="B0zH1xw6qZNOYUsJV3tJ2mzhE4raAUx1iQJRCRXdwc", oauth_signature="u4oSYxWV%2FIjzOQ5NLvT11JeTYgA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950290", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/2dfc5899-9aa0-4835-815d-e6cd6e0ccb05/\", \"task_id\": \"2dfc5899-9aa0-4835-815d-e6cd6e0ccb05\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-01-12T00:24:49Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-01-12T00:24:49Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"2dfc5899-9aa0-4835-815d-e6cd6e0ccb05\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 12 Jan 2013 00:24:50 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/561245f8-d3c2-4a5b-bfc1-263d91bef5a0/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Wnb7y8HurjUE6FtFsJNSIXg3u1XdgfC3Mc3GEcVAA", oauth_signature="OrJG1f9OofagtccLkac0RECYEOM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950293", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"8822db96-64f9-4d64-a701-208308cb8909\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/561245f8-d3c2-4a5b-bfc1-263d91bef5a0/\", \"task_id\": \"561245f8-d3c2-4a5b-bfc1-263d91bef5a0\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-12T00:24:52Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"8822db96-64f9-4d64-a701-208308cb8909\", \"call_request_id\": \"561245f8-d3c2-4a5b-bfc1-263d91bef5a0\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 12 Jan 2013 00:24:53 GMT
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/561245f8-d3c2-4a5b-bfc1-263d91bef5a0/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="z1QuW3bXmkSmUreJgzhC4QPma9XKZiBqPAE6mc4gHLk", oauth_signature="lWje5Ae9V%2F79F8IGBe3ayLMyiYM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950293", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"8822db96-64f9-4d64-a701-208308cb8909\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/561245f8-d3c2-4a5b-bfc1-263d91bef5a0/\", \"task_id\": \"561245f8-d3c2-4a5b-bfc1-263d91bef5a0\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-12T00:24:52Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"8822db96-64f9-4d64-a701-208308cb8909\", \"call_request_id\": \"561245f8-d3c2-4a5b-bfc1-263d91bef5a0\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 12 Jan 2013 00:24:53 GMT
[...]
