--- 
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"name\":\"batman\",\"password\":\"A8eRJNtQuzGpmwYL\",\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7KoCDP8H7gefuXMZm8r1lRGU8xPLEdGAnRuuIoAQ0", oauth_signature="XGQWBRDrdtEb2soXKpmXl%2FTGfJY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212138", oauth_version="1.0"
  response: 
    status: 
      code: 409
      message: Conflict
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"POST\", \"exception\": null, \"error_message\": \"Duplicate resource: batman\", \"_href\": \"/pulp/api/v2/users/\", \"http_status\": 409, \"resource_id\": \"batman\", \"traceback\": null}"
  recorded_at: Fri, 26 Oct 2012 00:42:18 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="VuLr1ykzgX2knSrpKjXgeMnEXqji8mbi02ZR7GzO0uY", oauth_signature="kkx5TJF7jl0HnkIZObeKg8xVhwA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212139", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 26 Oct 2012 00:42:19 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RTPLltbSWRoRx9KnzsXEpY7Y0kZR4AGqVV32VptkCo", oauth_signature="X%2BngPJKOsdlnkfFgNvndKb6fiJ8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212140", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 26 Oct 2012 00:42:20 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="etSxBQii9x57tyDRiCjqYfkWVjVr5yeuf4xM52jsc", oauth_signature="eJeYhzECIwRY9GUqSZRU4unoWvo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212141", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 26 Oct 2012 00:42:22 GMT
recorded_with: VCR 2.2.5
