--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="LKaYw0pEq4ACsZRUXbKF2UWaRRNE6e96rVyxKBBrMY4", oauth_signature="HIT6Zp03O8rCkd7QAakiTJCOKFA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373240", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 04 Jun 2013 19:14:00 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2014-06-04T15:14:00-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="cTDeJTq3AvgYaYT33nLgHpxTAovKHZEP1Rg0C6lQ", oauth_signature="jcelzAcDNzn62Mvgg3pz09oO8%2BY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373240", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51ae3c785ca0133c2a01e052/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-06-04T19:14:00Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51ae3c785ca0133c2a01e052/\", \"schedule\": \"2014-06-04T15:14:00-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-06-04T19:14:00Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"51ae3c785ca0133c2a01e052\", \"consecutive_failures\": 0}"
  recorded_at: Tue, 04 Jun 2013 19:14:00 GMT
recorded_with: VCR 2.4.0
