--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"kmoVzzzmXzH7n4Kg\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="1CL9r6AbNbxVhF1nytxY9COiaxHVTuHsqR6O33A3I", oauth_signature="TwVTSBXbWZPCDayaO69f%2B8hISJs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053543", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"5204e9285ca0130f94742b8f\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"5204e9285ca0130f94742b8f\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Fri, 09 Aug 2013 13:05:44 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7trNYolxxXGKk7Mf5VyKKag5R8DfV5RVGKElFYDRf54", oauth_signature="j4J2HNRkmrxjOE4Q0iE6hlSbxfk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053544", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 09 Aug 2013 13:05:44 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="qZ30uxWcq8ZZU1mPbbFZKjunHCFwRK4lSZ3IyhAE", oauth_signature="jhsnKXrHuYCUTqr6lVcJO26L8AE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053561", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 09 Aug 2013 13:06:01 GMT
recorded_with: VCR 2.5.0
