--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"iLihvTuBAuaSwOzN\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="oxsHSv94rXWQvW533Jr9INvlqTAnUH90fnFiilIrJVA", oauth_signature="L9htAdHFJejgDUK7KWiqMjQXWwc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277439", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"515138bf5ca0133d08003209\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"515138bf5ca0133d08003209\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Tue, 26 Mar 2013 05:57:19 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="cQG6gaZ137JYtr4YxEICIxOuyh0DZcT8fsiu9RRtMhk", oauth_signature="UE17vFTXS25fjC%2BNzwVBqdg%2BNaI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277440", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 26 Mar 2013 05:57:20 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="TCAACpPmts7MIkHeljyHZdDgbGZdeATnu2o7jGJOw7E", oauth_signature="UgpKZ7hLgjNv4X5thIKGV31QzWU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277441", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 26 Mar 2013 05:57:21 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="LYBRfCc575yUjFIMYJEU8Bzu8HL1zk2wETQuyhZFkc", oauth_signature="rGEof5rmrjt%2Fe3UL6JzKzsFapG0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277441", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 26 Mar 2013 05:57:21 GMT
recorded_with: VCR 2.4.0
