--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/15e87aa5-02cb-46c7-bbb0-1dc3ba25274a/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="i7RLqOjvQyX5JpNvHW8n4Tl9E3Ome5E6RGLQDFwEBM", oauth_signature="nmNxhbIxgiHrp237EiJA57WizhI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116236", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/15e87aa5-02cb-46c7-bbb0-1dc3ba25274a/\", \"task_id\": \"15e87aa5-02cb-46c7-bbb0-1dc3ba25274a\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-12-21T18:57:16Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-12-21T18:57:16Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"15e87aa5-02cb-46c7-bbb0-1dc3ba25274a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 21 Dec 2012 18:57:16 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/3c6b36dd-91d4-45d2-ba45-49acac0a8fbc/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="bdAvOejlfpm1bWwY7A4EWHrJNqx69wXUv31U3suw", oauth_signature="8EuW4IeuVAZNYk0xEjk0gj5Wt6k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116239", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"107f328b-822b-48e6-9755-06041bc23f2b\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/3c6b36dd-91d4-45d2-ba45-49acac0a8fbc/\", \"task_id\": \"3c6b36dd-91d4-45d2-ba45-49acac0a8fbc\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-12-21T18:57:19Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"107f328b-822b-48e6-9755-06041bc23f2b\", \"call_request_id\": \"3c6b36dd-91d4-45d2-ba45-49acac0a8fbc\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 21 Dec 2012 18:57:19 GMT
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/3c6b36dd-91d4-45d2-ba45-49acac0a8fbc/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="mzc9a1BlwCnHs63oqdAJeYkCN6XSUuQ5iotWZi8g2WU", oauth_signature="01Oi2dkHooo6VpaycdleqdVGdDo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116240", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"107f328b-822b-48e6-9755-06041bc23f2b\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/3c6b36dd-91d4-45d2-ba45-49acac0a8fbc/\", \"task_id\": \"3c6b36dd-91d4-45d2-ba45-49acac0a8fbc\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-12-21T18:57:19Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 5, \"size_total\": 17872, \"items_left\": 6, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 6704, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 5, \"size_total\": 17872, \"items_left\": 3, \"items_total\": 8, \"size_left\": 6704, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"107f328b-822b-48e6-9755-06041bc23f2b\", \"call_request_id\": \"3c6b36dd-91d4-45d2-ba45-49acac0a8fbc\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 21 Dec 2012 18:57:20 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/7ee81df7-c484-4f38-8ab7-0ba560239208/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="id3w83Y9e5bnGK5auaCOcrXbg09D4UUByPtLCI6oo", oauth_signature="yukgYihI7Dd67NqIZL2yjSG46WI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116255", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/7ee81df7-c484-4f38-8ab7-0ba560239208/\", \"task_id\": \"7ee81df7-c484-4f38-8ab7-0ba560239208\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\"}], \"start_time\": \"2012-12-21T18:57:34Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-12-21T18:57:34Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"7ee81df7-c484-4f38-8ab7-0ba560239208\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Fri, 21 Dec 2012 18:57:35 GMT
[...]
