--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="UQPpk73WfQX9TF9OGu4hYOP9zn5X4cZ7cMh3TDhk", oauth_signature="X%2FysBQ9luvmgA7gL%2BKeDk9UUpUg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277417", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/87f472e1-fd63-468d-b324-ca817e382b2e/\", \"task_id\": \"87f472e1-fd63-468d-b324-ca817e382b2e\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"87f472e1-fd63-468d-b324-ca817e382b2e\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 26 Mar 2013 05:56:57 GMT
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="dEhvEmn3kVnDwojWn8vmsZHUDO7i51slm653k0IxiEs", oauth_signature="L6TzxamshwXNmeYyuZar%2FRXlRGU%3D", oauth_signature_metho[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/git/katello/src/test/fixtures/zoo5\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":false,\"distributor_id\":\"1\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="TQQ4GVLCHRuq6RcA23Byb0IoAw6aa6Jn0oUdPBdEE1Y", oauth_signature="OY%2Bi%2FAO2iU96jRdvRnPZxvuyFyc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277421", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"515138ad5ca0133d08003065\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Tue, 26 Mar 2013 05:57:01 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="P7KXUv04H2BFmfqTnoCXO6cKbPu87LPtjwfwEFqPQ", oauth_signature="1KO3PZO7pHvIVWyieP1r0x0wMRM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277421", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"3ac62c8d-4fd8-433c-9055-a1eb9bf8e61a\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/3ac62c8d-4fd8-433c-9055-a1eb9bf8e61a/\", \"task_id\": \"f236587a-2356-4ea9-86ec-8eb6494c50cf\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"3ac62c8d-4fd8-433c-9055-a1eb9bf8e61a\", \"call_request_id\": \"f236587a-2356-4ea9-86ec-8eb6494c50cf\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 26 Mar 2013 05:57:01 GMT
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RtXPdAN0uFwr9V2XfwzijibJizDQbLQ28L5Mmjzs", oauth_signature="bUFTepJmva%2B%2BPIzRtl8EoeF9ytc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277436", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"38c58669-6c63-4006-bf85-10aa02c5e71d\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/38c58669-6c63-4006-bf85-10aa02c5e71d/\", \"task_id\": \"2b2d6413-55a5-4798-a4a0-b23ec69cbf90\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"38c58669-6c63-4006-bf85-10aa02c5e71d\", \"call_request_id\": \"2b2d6413-55a5-4798-a4a0-b23ec69cbf90\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 26 Mar 2013 05:57:16 GMT
recorded_with: VCR 2.4.0
