--- 
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{}}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="mfn66icjXpVzY4DVy34artGfETcVmMe0Atcxr1WH8", oauth_signature="4V%2FsX%2FDPOJFKx4yt6jkV39BVFTY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780502", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/ad4065bb-7f9f-4b5f-94bb-1e977dc133df/\", \"task_id\": \"ad4065bb-7f9f-4b5f-94bb-1e977dc133df\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"ad4065bb-7f9f-4b5f-94bb-1e977dc133df\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 10 Jan 2013 01:15:02 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="xvkhz0zcUbJrNMmsvv2ehH8BpSXz105VJh6aSfZbL8", oauth_signature="szeqeP4MP68d3i1AYdllooNph2Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780506", oauth_version="1.0"
      Pulp-User: 
      - ad[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"display_name\":\"Fedora 17 x86_64\",\"importer_config\":{\"ssl_client_key\":null,\"feed_url\":\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\",\"ssl_client_cert\":null,\"ssl_ca_cert\":null},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_id\":\"1\",\"auto_publish\":false,\"distributor_config\":{\"http\":false,\"https\":true,\"relative_url\":\"/test_path/\",\"protected\":true}}],\"id\":\"1\",\"importer_type_id\":\"yum_importer\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="2sezPuXA418S0elmlDLsUtP5S0FCa4fXigkVt53pw", oauth_signature="lJatYRlRQY%2B92wvZOUPnlTSk5i8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780506", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "1"
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50ee161bdc792129cb002834\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 10 Jan 2013 01:15:07 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="OpXkwMVpU1oUPqf1Ni0CdStK0HNbJPpYbSzYZ4hA", oauth_signature="AxBaBUJehR5jr6%2BYRqDVR6amaa8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780507", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"d979e85c-c02e-4a3b-99ee-130a6b7e0e0e\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/d979e85c-c02e-4a3b-99ee-130a6b7e0e0e/\", \"task_id\": \"f915259c-d774-4013-8c72-549cdb713c25\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"d979e85c-c02e-4a3b-99ee-130a6b7e0e0e\", \"call_request_id\": \"f915259c-d774-4013-8c72-549cdb713c25\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 10 Jan 2013 01:15:07 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="2CFSTD9pbxDrTkaS90h7qHqYm2rwsILogXKVR6Q8", oauth_signature="Ksh1WJpD4qTGZ9q05%2BgCjx9bQB4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780525", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"82b433a9-d981-4821-8ba8-7624bcc9dff9\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/82b433a9-d981-4821-8ba8-7624bcc9dff9/\", \"task_id\": \"0c4b92c6-6b0e-4ce1-af21-1ff952f138ad\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"82b433a9-d981-4821-8ba8-7624bcc9dff9\", \"call_request_id\": \"0c4b92c6-6b0e-4ce1-af21-1ff952f138ad\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 10 Jan 2013 01:15:25 GMT
recorded_with: VCR 2.4.0
