--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="TkZUplUItkJpbJnfhHvb7HJz2oenNezh1qSXj6P4", oauth_signature="C4gnkK1rqJsbd%2B6C3mqDceVrqMI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493684", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Tue, 29 Jan 2013 21:08:04 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2014-01-29T16:08:04-05:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Xz4SOgNidusKCReWJ0lTDpwRKYGaIqQsjyefekUC7U", oauth_signature="%2Bjp938zXd04EHMvMSVID1%2FIqvFU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493684", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51083a34196cbe0570000fde/
    body: 
      string: "{\"next_run\": \"2014-01-29T21:08:04Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51083a34196cbe0570000fde/\", \"schedule\": \"2014-01-29T16:08:04-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-01-29T21:08:04Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"51083a34196cbe0570000fde\", \"consecutive_failures\": 0}"
  recorded_at: Tue, 29 Jan 2013 21:08:04 GMT
