--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":\"hidden\",\"password\":\"1XhH89x3C51N0fk8\",\"login\":\"hidden\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Hsm30nVEjytDRphEQmeKcHqsDveuy0jJfvZxcef85Y", oauth_signature="8hSn3GqRpYN49SHCyvo1guUgYss%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377425", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"50f731d29c60ed27ce00323f\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"50f731d29c60ed27ce00323f\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Wed, 16 Jan 2013 23:03:46 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"hidden\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="LgsNmmdpW4LSRPMNxMU9TGx4ApOnbJLC0L32tJowE", oauth_signature="6VqzXTWrGhaaVywW6VkHG6SsyaQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377426", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 16 Jan 2013 23:03:46 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/hidden/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="lDaplixq4MzkIe66RSAxzCEZ9dAfpINdSjhLj4tVUI", oauth_signature="IjCAkd5RZUpBwhN2nnlyxZHNWis%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377441", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 16 Jan 2013 23:04:01 GMT
