--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"include_repos\":true,\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"RHEA-2010:0002\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="62AbLHDDSDHFfaSzBWJEQp4K10A8zDDYbAygWDv4PbM", oauth_signature="7zNgPV%2FjdeYOUUUtepfnKgyhns0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353117745", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Sat, 17 Nov 2012 02:02:25 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"include_repos\":true,\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"1cffd4f3-dfba-4e06-92ff-fbc9873dd7e5\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="06juo9VjwVFm8fxue7y6DI3Wzyj1qN91CRc2nwDzF4", oauth_signature="tgFBEYZA20hLuhvGlRIFmnpDJW0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353365725", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"1cffd4f3-dfba-4e06-92ff-fbc9873dd7e5\", \"_href\": \"/pulp/api/v2/content/units/erratum/1cffd4f3-dfba-4e06-92ff-fbc9873dd7e5/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Mon, 19 Nov 2012 22:55:25 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"c68ae302-e2fb-4e94-8b12-262ecefc7950\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="1HDvSuMQArDQ6WzSLeJZFMuSF1FDyC7jt6U3OKuLo", oauth_signature="UkR0fVe3rCP6Q73Tra5HE7hnEj0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353366024", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"c68ae302-e2fb-4e94-8b12-262ecefc7950\", \"_href\": \"/pulp/api/v2/content/units/erratum/c68ae302-e2fb-4e94-8b12-262ecefc7950/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Mon, 19 Nov 2012 23:00:24 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="qC4gtyr8Sk2KYxSFczzE5tp8jnSWv81oWDt6ODmWu8", oauth_signature="op%2ByTYGFqs0JiGknH9li3%2FSBOQ8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353366029", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2012-11-20T04:00:26Z\", \"repo_id\": \"1\", \"created\": \"2012-11-20T04:00:26Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"1cffd4f3-dfba-4e06-92ff-fbc9873dd7e5\", \"unit_type_id\": \"erratum\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"50aaba0adc79214432000829\"}, \"id\": \"50aaba0adc79214432000829\", \"owner_id\": \"yum_importer\", \"metadata\": {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"_ns\": \"units_erratum\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": [...]
[...]
