--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"KQ8vCvbkWMv6wuFM\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="FghngR7Q0tsth2Q3K25mgwsYmthsewBs8sALT84Em4", oauth_signature="iPjlo2FJrxktNC2UoowbKFIJeW4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101152", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"513003a09c60ed2a89005037\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"513003a09c60ed2a89005037\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Fri, 01 Mar 2013 01:25:53 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="xyhPhBkOEReNOZ4vw2yszAFbPGnx0BcGVGTOU", oauth_signature="9HlzkKQ5PUFNw%2BTgjYc1GTToCac%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101153", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 01 Mar 2013 01:25:53 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="wno4jck6yZKBP5jPx4VQxyMUMe07lCdMWAKzueR0NH8", oauth_signature="t22vvcCdp6rdtr8Vc5ijcR22yRQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101160", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 01 Mar 2013 01:26:00 GMT
recorded_with: VCR 2.4.0
