--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"zKNk3KnzXc2Sm7iX\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="nMxXwj00axsGWrJcPhwqyDR8qdVkwoYR6bRcOy68yMg", oauth_signature="A8uJte98X9t%2BFwnFZAe%2F1t1r%2B4k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196537", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51f7d57a5ca0137fe757a14a\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"51f7d57a5ca0137fe757a14a\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Tue, 30 Jul 2013 15:02:18 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="BVTlbRFEcFdih2DPUNVItcMXZBpNFbQlsERDuU7mmYM", oauth_signature="83rS4PRiYgEAMmCm7t8tbCxxfUI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196539", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 30 Jul 2013 15:02:19 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="nP9P1GHjKgZ3B7vMIoWeuk4DkddNISKJL5HO40hWfA", oauth_signature="cHQC4GiBrSj6bxT5y6RNp5lpmTc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196539", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 30 Jul 2013 15:02:19 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="1Sa5o22lp18SbwPetTaWB0q12ThUzJXHSHpq2co4", oauth_signature="3ZnA0NT3hcBnVtd8eK8xRnVhieA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196540", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 30 Jul 2013 15:02:20 GMT
recorded_with: VCR 2.5.0
