--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/6445ae16-9fe4-4226-90c2-f49afb4744bb/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="u5An2ujQvyNLVXUmCulpH5BeaWp05Hr56CE1bAMHI", oauth_signature="a34%2FX6V%2BL7dP%2BeXRa854oXGZavM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351740214", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/6445ae16-9fe4-4226-90c2-f49afb4744bb/\", \"task_id\": \"6445ae16-9fe4-4226-90c2-f49afb4744bb\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-11-01T03:23:34Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-01T03:23:34Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"6445ae16-9fe4-4226-90c2-f49afb4744bb\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 01 Nov 2012 03:23:34 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/f0ec2181-0915-40e1-99bb-0715cc191d62/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="H18XgvXfAQS8ygpti9oDsEzwbJ522qfbodOKSSu10", oauth_signature="VP26PZnxRZ03lQh3vc%2BAhOhaBV0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351740218", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"7b555927-8e86-4d2c-a916-3cde32b5a8e2\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f0ec2181-0915-40e1-99bb-0715cc191d62/\", \"task_id\": \"f0ec2181-0915-40e1-99bb-0715cc191d62\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-01T03:23:38Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"7b555927-8e86-4d2c-a916-3cde32b5a8e2\", \"call_request_id\": \"f0ec2181-0915-40e1-99bb-0715cc191d62\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 01 Nov 2012 03:23:38 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/f0ec2181-0915-40e1-99bb-0715cc191d62/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="BX2AX4NJ2gir7esvC05bHJRGvAlo1TtQ2Gbvxi1wPY4", oauth_signature="ZLAy%2FXuT0Eo%2Fzl6sEaGxeV5pNLI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351740219", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"7b555927-8e86-4d2c-a916-3cde32b5a8e2\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f0ec2181-0915-40e1-99bb-0715cc191d62/\", \"task_id\": \"f0ec2181-0915-40e1-99bb-0715cc191d62\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-01T03:23:38Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"7b555927-8e86-4d2c-a916-3cde32b5a8e2\", \"call_request_id\": \"f0ec2181-0915-40e1-99bb-0715cc191d62\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 01 Nov 2012 03:23:39 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/2/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ojTWMbbB4Qv34XEFdAAyQx2FgCNGi2L9dp8ADA5inWw", oauth_signature="SBL%2FsLFyCmWy1hQ4OjFO5J7IUzg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863522", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 02 Nov 2012 13:38:42 GMT
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1//history/sync/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="nGGYu8IsRaEj8om5QU1FmWEN3JZQYlr8Gd9HBnGnN8", oauth_signature="kiGLYEu%2BB87S8E45ne375lvW3PQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863531", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"importer_type_id\": \"yum_importer\", \"importer_id\": \"yum_importer\", \"exception\": null, \"repo_id\": \"1\", \"removed_count\": 0, \"started\": \"2012-11-02T09:35:41-04:00\", \"_ns\": \"repo_sync_results\", \"completed\": \"2012-11-02T09:35:42-04:00\", \"traceback\": null, \"summary\": {\"comps\": {\"time_total_sec\": 0.012918949127197266, \"num_orphaned_groups\": 0, \"num_available_groups\": 2, \"num_new_groups\": 2, \"num_new_categories\": 1, \"num_orphaned_categories\": 0, \"num_available_categories\": 1}, \"packages\": {\"num_synced_new_rpms\": 8, \"num_resynced_distribution_files\": 0, \"num_not_synced_srpms\": 0, \"num_synced_new_distributions_files\": 3, \"num_rpms\": 8, \"num_resynced_srpms\": 0, \"num_resynced_rpms\": 0, \"rpm_removal_errors\": [], \"time_total_sec\": 1.0765337944030762, \"num_synced_new_drpms\": 0, \"num_synced_new_srpms\": 0, \"num_orphaned_srpms\": 0, \"num_orphaned_rpms\": 0, \"num_synced_new_distributions\": 1, \"num_resynced_drpms\": 0, \"num_resynced_distributions\": 0, \"num_orphaned_drpms\": 0, \"num_not_synced_rpms\": 0}, \"errata\": {\"errata_time_total_sec\": 0.009848833084106445, \"num_new_errata\": 0, \"num_orphaned_errata\": 0, \"num_existing_errata\": 0}}, \"added_count\": 0, \"error_message\": null, \"updated_count\": 12, \"details\": {\"comps\": {}, \"packages\": {\"time_download_sec\": 0.5107779502868652, \"not_synced\": {}, \"size_total\": 17872, \"time_metadata_sec\": 0.2996389865875244, \"sync_report\": {\"errors\": 0, \"size_total\": 17872, \"successes\": 11, \"downloads\": 0, \"items_left\": 0, \"items_total\": 11, \"error_details\": [], \"details\": {\"tree_file\": {\"num_success\": 3, \"total_count\": 3, \"items_left\": 0, \"size_left\": 0, \"total_size_bytes\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"total_count\": 8, \"items_left\": 0, \"size_left\": 0, \"total_size_bytes\": 17872, \"num_error\": 0}}, \"size_left\": 0}}, \"errata\": {\"num_bugfix_errata\": 0, \"link_report\": {\"missing_rpms\": [], \"linked_units\": []}, \"num_security_errata\": 0, \"num_enhancement_errata\": 0}}, \"_id\": {\"$oid\": \"5093cc2edc7921678f000a28\"}, \"id\": \"5093cc2edc7921678f000a28\", \"result\": \"success\"}]"
  recorded_at: Fri, 02 Nov 2012 13:38:51 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}},\"association\":{\"unit_id\":{\"$in\":[null]}}},\"type_ids\":[\"rpm\"]}}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="CONq0IMTaSRtV0MqmVKuvnlrrRRLiB1cjS4v8PtgCk4", oauth_signature="UAssrrqpUru7EY7I01GpWdVOzac%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863665", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/a6670a57-362b-4282-8b6c-01fd797fb963/\", \"task_id\": \"a6670a57-362b-4282-8b6c-01fd797fb963\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"a6670a57-362b-4282-8b6c-01fd797fb963\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 02 Nov 2012 13:41:05 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/unassociate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"association\":{\"unit_id\":{\"$in\":[null]}}},\"type_ids\":[\"rpm\"]}}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oa[...]
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"importer_config\":{},\"display_name\":\"Fedora 17 x86_64\",\"id\":\"2\",\"distributors\":[{\"distributor_id\":\"2\",\"distributor_config\":{\"protected\":true,\"https\":true,\"http\":false,\"relative_url\":\"/dev_label/\"},\"distributor_type\":\"yum_distributor\",\"auto_publish\":true}],\"importer_type_id\":\"yum_importer\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="AYwMgLkJzhCJiCVwbSuPLH4ovFXKSgWRxUOs9CTysSY", oauth_signature="yfdjWKOh2M4LDpnhORnhqrvg%2B8g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863686", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "2"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"5093cd86dc7921678f000d5c\"}, \"id\": \"2\", \"_href\": \"/pulp/api/v2/repositories/2/\"}"
  recorded_at: Fri, 02 Nov 2012 13:41:26 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/2/actions/associate/
    body: 
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}},\"type_ids\":[\"rpm\"]}}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="OQurLYCJwC[...]
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"sort\":{\"unit\":[[\"name\",\"ascending\"],[\"version\",\"descending\"]]}}}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="kVC5Q39LKbtsTPPUqHr76C5nhrx8FNkY7E6CUgapO8", oauth_signature="McPZz9jvf04hE6SrKA2Oz14aRno%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863689", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2012-11-02T17:41:24Z\", \"repo_id\": \"1\", \"created\": \"2012-11-02T17:41:24Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"206a71f1-73bd-4119-80cc-ebda63467ea6\", \"unit_type_id\": \"rpm\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5093cd84dc7921678f000d45\"}, \"id\": \"5093cd84dc7921678f000d45\", \"owner_id\": \"yum_importer\", \"metadata\": {\"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_storage_path\": \"/var/lib/pulp/content/rpm/.//cheetah/0.3/0.8/noarch/422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae/cheetah-0.3-0.8.noarch.rpm\", \"repodata\": {\"filelists\": \"\\n<package pkgid=\\\"422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae\\\" name=\\\"cheetah\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n    <file>//cheetah.txt</file>\\n</package>\\n\", \"other\": \"\\n<package pkgid=\\\"422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae\\\" name=\\\"cheetah\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n</package>\\n\", \"primary\": \"\\n<package type=\\\"rpm\\\">\\n  <name>cheetah</name>\\n  <arch>noarch</arch>\\n  <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n  <checksum type=\\\"sha256\\\" pkgid=\\\"YES\\\">422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae</checksum>\\n  <summary>A dummy package of cheetah</summary>\\n  <description>A dummy package of cheetah</description>\\n  <packager></packager>\\n  <url>http://tstrachota.fedorapeople.org</url>\\n  <time file=\\\"1321891028\\\" build=\\\"1308257472\\\"/>\\n  <size package=\\\"2232\\\" installed=\\\"2232\\\" archive=\\\"292\\\"/>\\n<location xml:base=\\\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\\\" href=\\\"cheetah-0.3-0.8.noarch.rpm\\\"/>\\n  <format>\\n    <rpm:license>GPLv2</rpm:license>\\n    <rpm:vendor/>\\n    <rpm:group>Internet/Applications</rpm:group>\\n    <rpm:buildhost>dhcp-26-118.brq.redhat.com</rpm:buildhost>\\n    <rpm:sourcerpm>cheetah-0.3-0.8.src.rpm</rpm:sourcerpm>\\n    <rpm:header-range start=\\\"280\\\" end=\\\"2016\\\"/>\\n    <rpm:provides>\\n      <rpm:entry name=\\\"cheetah\\\" flags=\\\"EQ\\\" epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n    </rpm:provides>\\n    <rpm:requires>\\n      <rpm:entry name=\\\"/bin/sh\\\" pre=\\\"1\\\"/>\\n    </rpm:requires>\\n  </format>\\n</package>\"}, \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"_ns\": \"units_rpm\", \"checksum\": \"422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae\", \"filename\": \"cheetah-0.3-0.8.noarch.rpm\", \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"epoch\": \"0\", \"version\": \"0.3\", \"relativepath\": \"cheetah-0.3-0.8.noarch.rpm\", \"provides\": [[\"cheetah\", \"EQ\", [\"0\", \"0.3\", \"0.8\"]]], \"_content_type_id\": \"rpm\", \"release\": \"0.8\", \"vendor\": \"\", \"_id\": \"206a71f1-73bd-4119-80cc-ebda63467ea6\", \"arch\": \"noarch\", \"name\": \"cheetah\", \"description\": \"A dummy package of cheetah\"}}, {\"updated\": \"2012-11-02T17:41:24Z\", \"repo_id\": \"1\", \"created\": \"2012-11-02T17:41:24Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"06457a2e-7eb9-4505-afef-0b51ba0d2da8\", \"unit_type_id\": \"rpm\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5093cd84dc7921678f000d41\"}, \"id\": \"5093cd84dc7921678f000d41\", \"owner_id\":[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/content/units/rpm/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"206a71f1-73bd-4119-80cc-ebda63467ea6\",\"06457a2e-7eb9-4505-afef-0b51ba0d2da8\",\"399f19bf-b199-447b-8ac6-02378e955cfd\",\"3a74f5eb-9b35-4bd5-baa1-015bce208c8d\",\"d1da86c4-adbd-4844-bb8b-d2feddeffd8e\",\"eb29ad04-b940-4e34-913b-5d94f9893eac\",\"20ec7442-c251-44c6-8320-30d54e65e5e5\",\"f1010ac1-073b-4428-8830-604ccbe372b6\"]}}},\"include_repos\":true}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="XQwiVp83ud9SRegysx0FR0Uwi2vPEhSkTtTt2Ib5Mfs", oauth_signature="aw9qXdg71yYmiEfRtxZBctjHRAM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863689", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Conten[...]
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[]}}},\"include_repos\":true}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7522lzmTrGvgedCaXyta7ayppuuclJMzANGpuRrSlw", oauth_signature="Z3qXvj9HvRq%2BuGMxq9%2FqyJ2Fofk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863692", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Fri, 02 Nov 2012 13:41:32 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"package_category\"],\"sort\":{\"unit\":[[\"id\",\"ascending\"]]}}}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Pd7f9RGMdwT63gS0M0uufsO2QBPYTTLtDNHAJvb9j0", oauth_signature="9rQZ7k%2BEGGy7ay2qXkZa9JqL2Uk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863694", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2012-11-02T17:41:24Z\", \"repo_id\": \"1\", \"created\": \"2012-11-02T17:41:24Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"07ccf9ed-550c-4a51-8273-df23b9762774\", \"unit_type_id\": \"package_category\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5093cd84dc7921678f000d51\"}, \"id\": \"5093cd84dc7921678f000d51\", \"owner_id\": \"yum_importer\", \"metadata\": {\"_storage_path\": null, \"repo_id\": \"1\", \"description\": null, \"_ns\": \"units_package_category\", \"display_order\": 99, \"translated_name\": {}, \"packagegroupids\": [\"mammal\", \"bird\"], \"translated_description\": {}, \"_content_type_id\": \"package_category\", \"_id\": \"07ccf9ed-550c-4a51-8273-df23b9762774\", \"id\": \"all\", \"name\": \"all\"}}]"
  recorded_at: Fri, 02 Nov 2012 13:41:34 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"package_group\"],\"sort\":{\"unit\":[[\"id\",\"ascending\"]]}}}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="E3Gc1A86s7N3k2emfYXqHMPwRcgTDUVkWDbOBrc3hE", oauth_signature="1FIy8X5sv6OCo7o6%2F11Men%2FU7CI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863699", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2012-11-02T17:41:24Z\", \"repo_id\": \"1\", \"created\": \"2012-11-02T17:41:24Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"9ef0f7cf-5890-4ca5-bd52-606d33da29c6\", \"unit_type_id\": \"package_group\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5093cd84dc7921678f000d50\"}, \"id\": \"5093cd84dc7921678f000d50\", \"owner_id\": \"yum_importer\", \"metadata\": {\"_storage_path\": null, \"mandatory_package_names\": [\"penguin\"], \"repo_id\": \"1\", \"description\": \"\", \"user_visible\": true, \"default\": true, \"_ns\": \"units_package_group\", \"display_order\": 1024, \"optional_package_names\": [], \"translated_name\": {}, \"translated_description\": {}, \"conditional_package_names\": [], \"default_package_names\": [], \"_content_type_id\": \"package_group\", \"langonly\": null, \"_id\": \"9ef0f7cf-5890-4ca5-bd52-606d33da29c6\", \"id\": \"bird\", \"name\": \"bird\"}}, {\"updated\": \"2012-11-02T17:41:24Z\", \"repo_id\": \"1\", \"created\": \"2012-11-02T17:41:24Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"001ac778-61c5-4c6e-99c3-2f2a6e29d7fa\", \"unit_type_id\": \"package_group\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5093cd84dc7921678f000d4f\"}, \"id\": \"5093cd84dc7921678f000d4f\", \"owner_id\": \"yum_importer\", \"metadata\": {\"_storage_path\": null, \"mandatory_package_names\": [\"elephant,giraffe,cheetah,lion,monkey,penguin,squirrel,walrus\", \"penguin\"], \"repo_id\": \"1\", \"description\": \"\", \"user_visible\": true, \"default\": true, \"_ns\": \"units_package_group\", \"display_order\": 1024, \"optional_package_names\": [], \"translated_name\": {}, \"translated_description\": {}, \"conditional_package_names\": [], \"default_package_names\": [], \"_content_type_id\": \"package_group\", \"langonly\": null, \"_id\": \"001ac778-61c5-4c6e-99c3-2f2a6e29d7fa\", \"id\": \"mammal\", \"name\": \"mammal\"}}]"
  recorded_at: Fri, 02 Nov 2012 13:41:39 GMT
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/?tag=pulp:action:sync
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="zMi3NsRW6nQnXwAXkiLAV0xaAHWv3OYLwawPkXKhFg", oauth_signature="HuQyBPEc6tf1sd2PN%2BoORxV9ESE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863703", oauth_version="1.0"
  response[...]
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/?details=true
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="gjxLoXMkHHuTMvHjqGyHYovEWPkXHExjp9Yv0zGc", oauth_signature="gWh%2BQDGV6HVHqQZzZPdROrSkLhs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863708", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\", \"repodata\": {}}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 12, \"_id\": {\"$oid\": \"5093cd82dc7921678f000d2c\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2012-11-02T09:41:24-04:00\", \"scheduled_syncs\": [], \"scratchpad\": null, \"_id\": {\"$oid\": \"5093cd82dc7921678f000d2d\"}, \"config\": {\"feed_url\": \"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"scratchpad\": null, \"_id\": {\"$oid\": \"5093cd82dc7921678f000d2e\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Fri, 02 Nov 2012 13:41:48 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/publish/
    body: 
      string: "{\"id\":\"1\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="gxmAFcGgEU5lNzmJMCZiHKEyTnoaeEWIZctRV7s", oauth_signature="WhK8wZXPWkGSZs7J1HmniFwjecw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863708", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/6715d3ff-3af6-4a6a-9a64-86ce63ac50d5/\", \"task_id\": \"6715d3ff-3af6-4a6a-9a64-86ce63ac50d5\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"6715d3ff-3af6-4a6a-9a64-86ce63ac50d5\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 02 Nov 2012 13:41:48 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="81qgqA8RBjSlx1a9GfzI415MENSQ2RifP6bSOEpE", oauth_signature="y5SBjdS7vFiQcukF7VLVQb5TNeQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863710", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 02 Nov 2012 13:41:50 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="XOG8MjBC5MqBkVh6tlaMyOsWsjc2WeHyq7OC7avSD4", oauth_signature="X%2BhksoOi%2BAnAWMOcwkvdqh8Ew1c%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863717", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"0f6898e4-aa51-44c0-befa-490c4b899099\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/0f6898e4-aa51-44c0-befa-490c4b899099/\", \"task_id\": \"20be18af-ef07-4cc5-9bcd-82fb6a36a171\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"0f6898e4-aa51-44c0-befa-490c4b899099\", \"call_request_id\": \"20be18af-ef07-4cc5-9bcd-82fb6a36a171\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 02 Nov 2012 13:41:57 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
[...]
