--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/fd410b06-2f61-4da0-89e0-479e68b58f2e/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="MUruloWFG0fkv5FSAgNkZIqUd6aq2EorA6mhGKOYMBU", oauth_signature="Wd3KDHnO7zbp6wn%2FvQDHh1xoUp0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829794", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/fd410b06-2f61-4da0-89e0-479e68b58f2e/\", \"task_id\": \"fd410b06-2f61-4da0-89e0-479e68b58f2e\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-03-21T01:36:34Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-03-21T01:36:34Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"fd410b06-2f61-4da0-89e0-479e68b58f2e\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 21 Mar 2013 01:36:34 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/a015cfac-4acb-434a-94c9-590de4732c66/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="3pk6uX8TzE6p9jwsI0pg72Q1xGM7UBNS9CUrSZMLO4", oauth_signature="QGbNGmpzxoBp5hxlUYuRM51p7u8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829797", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"2be4c5f2-5f60-4e34-a32e-5cf4d6402628\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/a015cfac-4acb-434a-94c9-590de4732c66/\", \"task_id\": \"a015cfac-4acb-434a-94c9-590de4732c66\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-21T01:36:37Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"2be4c5f2-5f60-4e34-a32e-5cf4d6402628\", \"call_request_id\": \"a015cfac-4acb-434a-94c9-590de4732c66\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 21 Mar 2013 01:36:38 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/a015cfac-4acb-434a-94c9-590de4732c66/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="oI425I0JX0duceymRGLm9yFp0PSMYmhvZstneqvWbYw", oauth_signature="i1ClkquF%2FeC9wkyrUVKndVWPqTc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829798", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"2be4c5f2-5f60-4e34-a32e-5cf4d6402628\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/a015cfac-4acb-434a-94c9-590de4732c66/\", \"task_id\": \"a015cfac-4acb-434a-94c9-590de4732c66\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-21T01:36:37Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"FINISHED\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"2be4c5f2-5f60-4e34-a32e-5cf4d6402628\", \"call_request_id\": \"a015cfac-4acb-434a-94c9-590de4732c66\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 21 Mar 2013 01:36:38 GMT
[...]
