--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Uu7RnE9pOQc3aRx6op12JJ1D81Rd2Esz2rkfaOLHxcA", oauth_signature="OlECDuxY%2B%2FfygK91KddaZGHv%2FrY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277434", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 26 Mar 2013 05:57:14 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2014-03-26T01:57:14-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="AFJuhUdzLQayUc973YHlnJ30e3NGIJs8KxApB7xu68", oauth_signature="XKzU%2BOTGWc%2BWCdFNYk%2BR%2BHLQxYk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277434", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/515138ba5ca0133d0800319e/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-03-26T05:57:14Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/515138ba5ca0133d0800319e/\", \"schedule\": \"2014-03-26T01:57:14-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-03-26T05:57:14Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"515138ba5ca0133d0800319e\", \"consecutive_failures\": 0}"
  recorded_at: Tue, 26 Mar 2013 05:57:14 GMT
recorded_with: VCR 2.4.0
