--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"a7oiWnGUNo8TAPZN\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="FDbhCE6tvR3RWXAAfDOeCBwyxcUaxEWvvqBG4go6Tp0", oauth_signature="DSCw9KZyy4GWxhhU%2FrEDvuHiy2M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362325", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51fa5d165ca013687ad5898e\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"51fa5d165ca013687ad5898e\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Thu, 01 Aug 2013 13:05:26 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="p4CBQKHA7uL257XoVDu4pakmSTSVmrkStxCZaOEvkc", oauth_signature="P0j594jt%2Bq2D62UnK1VNqcrlT8s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362326", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 01 Aug 2013 13:05:26 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="j9hPBEd4cUoRdMEAoOOvinLbfuEgncxpshSQ57v72g", oauth_signature="Ae5RtOkTnT5JMAEg6p521shE01E%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362342", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 01 Aug 2013 13:05:42 GMT
recorded_with: VCR 2.5.0
