--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/a69424a5-e646-49a6-b00a-e87e8f6aaca9/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="JVBuyIOTEOFkShhExtaF7VsyqomAkjMxvaW2c93W1A", oauth_signature="ufey2obvQrOpSzYhfyzZN%2FkL3T4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053594", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/a69424a5-e646-49a6-b00a-e87e8f6aaca9/\", \"task_id\": \"a69424a5-e646-49a6-b00a-e87e8f6aaca9\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-08-09T13:06:34Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-08-09T13:06:34Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"a69424a5-e646-49a6-b00a-e87e8f6aaca9\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": []}"
  recorded_at: Fri, 09 Aug 2013 13:06:34 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/fe153fa5-50f4-4732-ac4b-9c93d76a6f87/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Hj52xGXfrXB636oL3ImpOw0VKfdT8ydJuLN1t8F9io", oauth_signature="ViErdAcmvU0C%2FMHTHc2Gq2sqCZ4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053597", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"5ad9e859-ac2c-4f9d-b36a-99f9cf487e62\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/fe153fa5-50f4-4732-ac4b-9c93d76a6f87/\", \"task_id\": \"fe153fa5-50f4-4732-ac4b-9c93d76a6f87\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-08-09T13:06:37Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"5ad9e859-ac2c-4f9d-b36a-99f9cf487e62\", \"call_request_id\": \"fe153fa5-50f4-4732-ac4b-9c93d76a6f87\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 09 Aug 2013 13:06:37 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/8aef292b-16a1-486b-80b5-9219b9d3912f/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="cugYZBt0UXPRTWIYdpog67dKgur3oXflDh5JZX4k", oauth_signature="uHk6gA8f%2BU5wWYsveZjQccHleKo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053602", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/8aef292b-16a1-486b-80b5-9219b9d3912f/\", \"task_id\": \"8aef292b-16a1-486b-80b5-9219b9d3912f\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\"}], \"start_time\": \"2013-08-09T13:06:42Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-08-09T13:06:42Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"8aef292b-16a1-486b-80b5-9219b9d3912f\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": [{\"unit_key\": {\"arch\": \"x86_64\", \"version\": \"16\", \"variant\": \"TestVariant\", \"id\": \"ks-Test Family-TestVariant-16-x86_64\", \"family\": \"Test Family\"}, \"type_id\": \"distribution\"}]}"
  recorded_at: Fri, 09 Aug 2013 13:06:43 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/1f26a649-ad05-4ed2-9bf4-9f4a30ccc052/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Y2oBUXsh5YXPN0OjeLJ3zvkiWhVQjlzk5UbGnzPUIXw", oauth_signature="trYF6Ms3jq%2BN%2FtDYQbJRI2%2BoDuI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053608", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/1f26a649-ad05-4ed2-9bf4-9f4a30ccc052/\", \"task_id\": \"1f26a649-ad05-4ed2-9bf4-9f4a30ccc052\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-08-09T13:06:48Z\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-08-09T13:06:48Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"1f26a649-ad05-4ed2-9bf4-9f4a30ccc052\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": [{\"unit_key\": {\"name\": \"cheetah\", \"checksum\": \"422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"sha256\"}, \"type_id\": \"rpm\"}, {\"unit_key\": {\"name\": \"elephant\", \"checksum\": \"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"sha256\"}, \"type_id\": \"rpm\"}, {\"unit_key\": {\"name\": \"giraffe\", \"checksum\": \"f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noar[...]
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/0dc85d04-da9a-4219-a2fa-c2ab1afdaa67/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="HGeZsPto9hIvXawwLMwMRFJs73ApV9NiT9vomk20", oauth_signature="HbiG2z24M5tlhDr%2B7L1xTCwxImo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053610", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/0dc85d04-da9a-4219-a2fa-c2ab1afdaa67/\", \"task_id\": \"0dc85d04-da9a-4219-a2fa-c2ab1afdaa67\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-08-09T13:06:48Z\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-08-09T13:06:48Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"0dc85d04-da9a-4219-a2fa-c2ab1afdaa67\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": [{\"unit_key\": {\"repo_id\": \"2\", \"id\": \"bird\"}, \"type_id\": \"package_group\"}, {\"unit_key\": {\"repo_id\": \"2\", \"id\": \"mammal\"}, \"type_id\": \"package_group\"}]}"
  recorded_at: Fri, 09 Aug 2013 13:06:50 GMT
[...]
- request: 
    method: get
    uri: https://localhost/pulp/api/v2/tasks/735c61da-bcdc-4356-9684-9cdcb7deadc3/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="TMnhkNsfEs4asOIMwT3Mm6fCfair0Mc8QzQwjLc1vs", oauth_signature="aSade0SvFd2kUNcP%2FuDSdJ38vy0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376426111", oauth_version="1.0"
      Pulp-Use[...]
[...]
