--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"oGwzlZnhkOV74Pk3\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="tpd8rIJOyVpFYIAfiOUVWaUL1Ynn6T7xLadSbaLM", oauth_signature="ba7gc%2BruRVhHK3zNpx19PxDjcGk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071753", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51d769895ca0130acd0c1d57\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"51d769895ca0130acd0c1d57\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Sat, 06 Jul 2013 00:49:13 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="l7vaX5y8ppmNPhmqzuGQM6TBMQO9PMoIAdNhr6PaLg", oauth_signature="THD8LyW%2BBYmmOLMTf7LxuXIB8Fw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071753", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Sat, 06 Jul 2013 00:49:13 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="geH8L7mop4qR8gyE2aXXPK66zkI12REtJiB4A5ukw", oauth_signature="iNnSglHD64TP8%2BJMtHOplFXcZj4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071762", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Sat, 06 Jul 2013 00:49:22 GMT
recorded_with: VCR 2.4.0
