--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="i2gfsy4N6GfqaaqkZ3N0R9wi4jFewT7BhuWfsUw", oauth_signature="oWd6CPPxnxei9IizWHddYv3QxjU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863717", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Fri, 02 Nov 2012 13:41:57 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2013-11-02T09:41:57-04:00/P1D\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="0CvBkiGtCN6pfDZokLf75xYs6g4lJyQMuvgKgKAoa0Q", oauth_signature="Bby1okM4IXkP9QTTb2Nfa6XbyM0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863717", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5093cda5dc7921678f000e34/
      Content-Type: 
      - application/json
    body: 
      string: "{\"next_run\": \"2013-11-02T13:41:57Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5093cda5dc7921678f000e34/\", \"schedule\": \"2013-11-02T09:41:57-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-11-02T13:41:57Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"5093cda5dc7921678f000e34\", \"consecutive_failures\": 0}"
  recorded_at: Fri, 02 Nov 2012 13:41:57 GMT
recorded_with: VCR 2.3.0
