--- 
http_interactions: 
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"filters\":{},\"type_ids\":[\"rpm\"]}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="z5xZv7ZVIvLqEUtX3m7CfPcaG6jaVsHv6nsLbLmlxME", oauth_signature="qUv8aLViO5t3Bf65dIvxE40vJco%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179694", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/75bf658a-a795-4243-9889-241aa3c22e58/\", \"task_id\": \"75bf658a-a795-4243-9889-241aa3c22e58\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"75bf658a-a795-4243-9889-241aa3c22e58\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 16:08:14 GMT
[...]
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="IM5dMIDG8Wc6t2110cCcNcuI4SoSYxjUyGoDxdc", oauth_signature="d1XIHqAOuRmuSxHU1lFJvDvcAbs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179700", oau[...]
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"distributors\":[{\"distributor_id\":\"1\",\"auto_publish\":false,\"distributor_config\":{\"protected\":true,\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true},\"distributor_type\":\"yum_distributor\"}],\"importer_type_id\":\"yum_importer\",\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_config\":{\"ssl_client_key\":null,\"ssl_ca_cert\":null,\"feed_url\":\"file:///home/paji/katello/katello/src/test/fixtures/zoo5\",\"ssl_client_cert\":null}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="sTTtllTHbBHHyUHSpiw3W6lnJdHq7Z2EA8A1blxw4ic", oauth_signature="9%2Fzf1pH3BpHOli8lKXzdKogzyb8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179701", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50f42d75196cbe47d7001819\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 14 Jan 2013 16:08:21 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="I7o4aBtRjiEq7FwgNg6jifgbncJeCj1T59Lk5uEenu0", oauth_signature="UEbonlLLSysuI0cCTD0oFRv6kSk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179701", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"4443bfcb-ca04-4c34-abdf-553275f5fa0f\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/4443bfcb-ca04-4c34-abdf-553275f5fa0f/\", \"task_id\": \"9a341f5f-bfd1-4369-80df-20de6fa68e9d\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"4443bfcb-ca04-4c34-abdf-553275f5fa0f\", \"call_request_id\": \"9a341f5f-bfd1-4369-80df-20de6fa68e9d\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 14 Jan 2013 16:08:21 GMT
[...]
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RpnMsD1HL4AtWMPIkMTJZQoeL8d1ToTIzOLiX0fLkA", oauth_signature="uC1lyetIufYcz57diUJsyk282us%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179727", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"7788f841-2f3d-4469-aa64-1da7ec9cc9bb\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/7788f841-2f3d-4469-aa64-1da7ec9cc9bb/\", \"task_id\": \"000df475-9dc3-48a9-ad49-276423ccb842\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"7788f841-2f3d-4469-aa64-1da7ec9cc9bb\", \"call_request_id\": \"000df475-9dc3-48a9-ad49-276423ccb842\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 14 Jan 2013 16:08:47 GMT
recorded_with: VCR 2.4.0
