--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="FOl0l4xo8HzC5LF5KGIdFgH64j2s5tJRE6VowqMRsw", oauth_signature="IRF2tvxNy8lJ11dROWK4AUdkaw0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362235", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_id\": {\"$oid\": \"51fa5cb85ca013687ad584b2\"}, \"unit_id\": \"33cf1d32-bbf4-4dc7-8394-b7ead9d6c36c\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"33cf1d32-bbf4-4dc7-8394-b7ead9d6c36c\"}}, {\"_id\": {\"$oid\": \"51fa5cb85ca013687ad584b3\"}, \"unit_id\": \"8e0a5cb0-f804-4778-b34c-88085f594aae\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"8e0a5cb0-f804-4778-b34c-88085f594aae\"}}]"
  recorded_at: Thu, 01 Aug 2013 13:03:55 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"33cf1d32-bbf4-4dc7-8394-b7ead9d6c36c\",\"8e0a5cb0-f804-4778-b34c-88085f594aae\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="gSTX95mNdy1vdLr4gs9oNvOOhLMlkD0BW35yI3McXx4", oauth_signature="l%2BbgWGu%2F5UN8ZHeoj5Fqhn2PUVY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362235", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"status\": \"stable\", \"_storage_path\": null, \"from\": \"lzap+pub@redhat.com\", \"description\": \"Empty errata\", \"title\": \"Empty errata\", \"pkglist\": [], \"version\": \"1\", \"issued\": \"2010-01-01 01:01:01\", \"_content_type_id\": \"erratum\", \"references\": [], \"_id\": \"33cf1d32-bbf4-4dc7-8394-b7ead9d6c36c\", \"type\": \"security\", \"id\": \"RHEA-2010:0001\", \"_href\": \"/pulp/api/v2/content/units/erratum/33cf1d32-bbf4-4dc7-8394-b7ead9d6c36c/\", \"children\": {}, \"repository_memberships\": [\"1\"]}, {\"status\": \"stable\", \"_storage_path\": null, \"from\": \"lzap+pub@redhat.com\", \"description\": \"One package errata\", \"title\": \"One package errata\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"sum\": null, \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"version\": \"1\", \"issued\": \"2010-01-01 01:01:01\", \"_content_type_id\": \"erratum\", \"references\": [], \"_id\": \"8e0a5cb0-f804-4778-b34c-88085f594aae\", \"type\": \"security\", \"id\": \"RHEA-2010:0002\", \"_href\": \"/pulp/api/v2/content/units/erratum/8e0a5cb0-f804-4778-b34c-88085f594aae/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Thu, 01 Aug 2013 13:03:55 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/install/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"erratum\",\"unit_key\":{\"id\":\"8e0a5cb0-f804-4778-b34c-88085f594aae\"}}],\"options\":{\"importkeys\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="9KL2h2ueAPn0NEJxzwImyfdHIRttqgleH6LC67WyKk", oauth_signature="NWeZ5qhz39aSpUxtm4Li1vYEedI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362235", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"22648372-099c-4c65-b2c8-a0be390c9fff\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/22648372-099c-4c65-b2c8-a0be390c9fff/\", \"task_id\": \"4f4bf303-f51d-482e-8a02-a4a03258ab26\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"22648372-099c-4c65-b2c8-a0be390c9fff\", \"call_request_id\": \"4f4bf303-f51d-482e-8a02-a4a03258ab26\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 01 Aug 2013 13:03:55 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/uninstall/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"cheetah\"}}],\"options\":{}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="LcO04b4etLBOOb8sq67Jn8OfKjs4lJ[...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/update/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{}}],\"options\":{\"importkeys\":true,\"all\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="2Po2dEtgNmhl76h08gr6PEjKjZmklQ14ZuSIRogPDwM", oauth_signature="kL4mXWc0yRAcDtrzXYJDYrbgtZk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362295", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"3b2ddf48-3272-4aff-b114-62329d29fe7a\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/3b2ddf48-3272-4aff-b114-62329d29fe7a/\", \"task_id\": \"fd9787cd-9545-4122-be90-cccd809a2064\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_update\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_update\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"3b2ddf48-3272-4aff-b114-62329d29fe7a\", \"call_request_id\": \"fd9787cd-9545-4122-be90-cccd809a2064\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 01 Aug 2013 13:04:55 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"simple_group\",\"description\":\"Super administrator with all access.\",\"consumer_ids\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7SFZQV43svxHwLTlYkE2EKMWTwfGVRRPqbYd27bWMcc", oauth_signature="6HyDTLcsGEwE%2BJZTHxbrsePxlEc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362307", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumer_groups/simple_group/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": null, \"display_name\": null, \"description\": \"Super administrator with all access.\", \"_ns\": \"consumer_groups\", \"notes\": {}, \"consumer_ids\": [\"010E99C0-3276-11E2-81C1-0800200C9A66\"], \"_id\": {\"$oid\": \"51fa5d035ca013687ad5883d\"}, \"id\": \"simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\"}"
  recorded_at: Thu, 01 Aug 2013 13:05:07 GMT
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="iCCBWAGv8sJgwcZxknknTh9gFUfkh5UjgX7JdHQQ", oauth_signature="6reaQfLBZKQzxkU9H6JXzDdXyb8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362308", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 01 Aug 2013 13:05:08 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="mSrQfK2NI2PgmzBpMhXYFeHGVcXFvE2Xh1VGOsU075s", oauth_signature="VONKT9ibq2E1St0pqiBUJt2VOIo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362319", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): consumer_group=simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"consumer_group\": \"simple_group\"}}"
  recorded_at: Thu, 01 Aug 2013 13:05:19 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ZaglfGuNOQxopbUwfvoKfW9NIVfPHo8YiE6K1yrAPs", oauth_signature="wsagOPpK4leX4Q2Ap04Y5ryGx2M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362320", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]"
  recorded_at: Thu, 01 Aug 2013 13:05:20 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/unassociate/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="1us8MQMpjbJKI4OmU1DhP89wkf407OFx2fV9p5LVQHk", oauth_signature="YdbtCMB0dKNMnyjCQbhD6Rx1BIw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362321", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Thu, 01 Aug 2013 13:05:21 GMT
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="5mW7F8gJj9v7FHgACJpLd5uGYMuZAgrEg3TY1dXc", oauth_signature="Z46UgGZhfb1ClF45%2BIG34hHvZiU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362325", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 01 Aug 2013 13:05:25 GMT
recorded_with: VCR 2.5.0
