--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/df487e79-1f20-4fdf-b41d-9eac9b781962/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="2NnKxB8bAH8H1skPjndc25OnRlizd9Slpx95x88k5x8", oauth_signature="QIryHXjRd%2FQo3g%2F7sTzk9RACk8c%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081747", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"c76ec029-30ec-478f-bc0f-0040878f5bd7\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/df487e79-1f20-4fdf-b41d-9eac9b781962/\", \"task_id\": \"df487e79-1f20-4fdf-b41d-9eac9b781962\", \"call_request_tags\": [\"pulp:repository:4\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-09-13T14:15:47Z\", \"tags\": [\"pulp:repository:4\", \"pulp:action:sync\"], \"state\": \"finished\", \"finish_time\": \"2013-09-13T14:15:47Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"puppet_importer\": {\"modules\": {\"finished_count\": 4, \"state\": \"success\", \"traceback\": null, \"error_count\": 0, \"error\": \"None\", \"execution_time\": 0, \"total_count\": 4, \"error_message\": null, \"individual_errors\": null}, \"metadata\": {\"query_finished_count\": 1, \"state\": \"success\", \"error_message\": null, \"error\": \"None\", \"execution_time\": 0, \"query_total_count\": 1, \"current_query\": \"http://davidd.fedorapeople.org/repos/random_puppet/modules.json\", \"traceback\": null}}}, \"call_request_group_id\": \"c76ec029-30ec-478f-bc0f-0040878f5bd7\", \"call_request_id\": \"df487e79-1f20-4fdf-b41d-9eac9b781962\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"importer_id\": \"puppet_importer\", \"exception\": null, \"repo_id\": \"4\", \"traceback\": null, \"started\": \"2013-09-13T10:15:47-04:00\", \"_ns\": \"repo_sync_results\", \"completed\": \"2013-09-13T10:15:47-04:00\", \"importer_type_id\": \"puppet_importer\", \"error_message\": null, \"summary\": {\"total_execution_time\": 0}, \"added_count\": 0, \"result\": \"success\", \"updated_count\": 4, \"details\": {\"finished_count\": 4, \"total_count\": 4, \"error_count\": 0}, \"id\": \"52331e135ca01344d0c70c6b\", \"removed_count\": 0}}"
  recorded_at: Fri, 13 Sep 2013 14:15:47 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/puppet_module/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"8a610000-dcc2-4022-8b4c-9406fe26d251\",\"beed80e1-d082-430b-aa2a-cc18a129d2ab\",\"c86a7004-2cdb-45de-b962-8a4ddc90f453\",\"7735c9c2-65df-42e4-980b-590fbd2883e8\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="IjV2qLWOn9etTM2GRweAcGgoqjPsd8VI1CfgtOK6U", oauth_signature="ojtJ599EHLG1%2BLxPpOrIdBMbUCs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081782", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_storage_path\": \"/var/lib/pulp/content/puppet_module/5UbZ3r0-samba-0.2.0.tar.gz\", \"tag_list\": [\"samba\"], \"description\": \"This puppet module manages samba configuration.\\n\\nIt has been tested only for samba managing shares, tough it does not care about the content of your config file.\\n\\nTested on CentOS 6.2, RHEL 6.2, CentOS 5.8.\", \"license\": \"GPL v3\", \"author\": \"5UbZ3r0\", \"project_page\": \"https://github.com/5Ub-Z3r0/puppet-samba\", \"summary\": \"A puppet module that manages samba\", \"source\": \"https://github.com/5Ub-Z3r0/puppet-samba\", \"dependencies\": [], \"version\": \"0.2.0\", \"_content_type_id\": \"puppet_module\", \"checksums\": [[\"manifests/service.pp\", \"192c819791e2042703891e51a61d314a\"], [\"manifests/params.pp\", \"f41d11e7dbbde67a2cf4d29cf6783a55\"], [\"spec/spec.opts\", \"a600ded995d948e393fbe2320ba8e51c\"], [\"tests/init.pp\", \"4dcc2868cb9740c32eb68f345a7b7194\"], [\"spec/spec_helper.rb\", \"ca19ec4f451ebc7fdb035b52eae6e909\"], [\"manifests/conf.pp\", \"ad4b285a6736aebebb6fa59e38ddded1\"], [\"Modulefile\", \"d309ee315176ea3f923480c286e3a55b\"], [\"manifests/install.pp\", \"c929e13f546bcdb3f02efede9db1af9b\"], [\"manifests/init.pp\", \"f658b594ac88da9026c675bfe0310d57\"], [\"README\", \"627fbb57eb8d94308f01a11430418fb6\"]], \"_id\": \"7735c9c2-65df-42e4-980b-590fbd2883e8\", \"types\": [], \"name\": \"samba\", \"_href\": \"/pulp/api/v2/content/units/puppet_module/7735c9c2-65df-42e4-980b-590fbd2883e8/\", \"children\": {}, \"repository_memberships\": [\"ACME_Corporation-Puppet-TestPuppet\", \"4\"]}, {\"_storage_path\": \"/var/lib/pulp/content/puppet_module/5UbZ3r0-cron-0.0.1.tar.gz\", \"tag_list\": [\"linux\", \"cron,\"], \"description\": \"This puppet module manages the scheduling of task trough cron.\\nIt has shortcuts  classes for hourly (/etc/cron.hourly), daily (/etc/cron.daily), weekly (/etc/cron.daily) and monthly (/etc/cron.monthly) schedulation.\\n\\nIt has been tested only ...\\n\\nTested on CentOS 6.2, RHEL 6.2, CentOS 5.8.\\n\\nRequirements:\\n\\n * [Facter](http://www.puppetlabs.com/puppet/related-projects/facter/) 1.6.1 or greater (versions that support the osfamily fact)\\n * [puppetlabs/stdlib] for the validate_absolute_path statement\\n\\nTodo:\\n- Set up and install cron in the - very unlikely - case that it's not installed;\\n- Make cron::task work with windows.\", \"license\": \"GPL v3\", \"author\": \"5UbZ3r0\", \"project_page\": \"https://github.com/5Ub-Z3r0/puppet-cron\", \"summary\": \"Puppet module that manages scheduling of task trough cron\", \"source\": \"https://github.com/5Ub-Z3r0/puppet-cron.git\", \"dependencies\": [{\"name\": \"puppetlabs/stdlib\", \"version_requirement\": \">=3.0.0\"}], \"version\": \"0.0.1\", \"_content_type_id\": \"puppet_module\", \"checksums\": [[\"manifests/daily.pp\", \"96ffd0e592de3f5dd054de3755a8bcff\"], [\"spec/spec.opts\", \"a600ded995d948e393fbe2320ba8e51c\"], [\"manifests/monthly.pp\", \"b9900f6e2db0854f34c66930287db700\"], [\"manifests/task.pp\", \"4cb4aa49df8c90619d9039992a516c07\"], [\"spec/spec_helper.rb\", \"ca19ec4f451ebc7fdb035b52eae6e909\"], [\"tests/init.pp\", \"4bcb7e03aced8bb468351a45e8e9bc76\"], [\"manifests/params.pp\", [...]
- request: 
    method: get
    uri: https://localhost/pulp/api/v2/tasks/2f9d58f4-0af7-4831-a6c0-36d99109100a/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="aunJOocNBHvbLjYKJ5u6gvYjJtPP0aINk4YBBqvutA", oauth_signature="I8N8%2Bh6%2BuBNtzDEaBW80l99n%2BNo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379703275", oauth_version="1.0"
      Pulp[...]
[...]
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/content/units/puppet_module/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"d6271cc0-e493-478e-b360-f0d84c8baa41\",\"bc64cd62-f2c5-4715-827e-acbda94f1951\",\"c558cc96-ef3a-4b35-8f95-f03cbc3094c4\",\"2c949428-70f7-4535-9df1-adea64aa9697\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="US2drSOsKgWLPGqNyRq3bsbPooPf6gbV4o7HB6yfgA8", oauth_signature="Bz6Wu6VlV4J1ej5w0zRz%2Bq7Yeug%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379703326", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_storage_path\": \"/var/lib/pulp/content/puppet_module/5UbZ3r0-samba-0.2.0.tar.gz\", \"tag_list\": [\"samba\"], \"description\": \"This puppet module manages samba configuration.\\n\\nIt has been tested only for samba managing shares, tough it does not care about the content of your config file.\\n\\nTested on CentOS 6.2, RHEL 6.2, CentOS 5.8.\", \"license\": \"GPL v3\", \"author\": \"5UbZ3r0\", \"_last_updated\": \"2013-09-20T18:55:09Z\", \"project_page\": \"https://github.com/5Ub-Z3r0/puppet-samba\", \"summary\": \"A puppet module that manages samba\", \"source\": \"https://github.com/5Ub-Z3r0/puppet-samba\", \"dependencies\": [], \"version\": \"0.2.0\", \"_content_type_id\": \"puppet_module\", \"checksums\": [[\"manifests/service.pp\", \"192c819791e2042703891e51a61d314a\"], [\"manifests/params.pp\", \"f41d11e7dbbde67a2cf4d29cf6783a55\"], [\"spec/spec.opts\", \"a600ded995d948e393fbe2320ba8e51c\"], [\"t[...]
[...]
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"5\",\"display_name\":\"P Forge\",\"importer_type_id\":\"puppet_importer\",\"importer_config\":{},\"notes\":{\"_repo-type\":\"puppet-repo\"},\"distributors\":[{\"distributor_type\":\"puppet_distributor\",\"distributor_config\":{\"absolute_path\":\"/test_path/\",\"serve_http\":false,\"serve_https\":true},\"auto_publish\":true,\"distributor_id\":\"5\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="NWII5bP3Zq8KUuWhtu7eFABC1JFL5H42rPDE8LavRA", oauth_signature="741WisKSZtYqVCeE3v%2B%2BSBSIugE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379710744", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "5"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"P Forge\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"puppet-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"523cb718d60ea34df4d655e3\"}, \"id\": \"5\", \"_href\": \"/pulp/api/v2/repositories/5/\"}"
  recorded_at: Fri, 20 Sep 2013 20:59:04 GMT
[...]
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"4\",\"display_name\":\"P Forge\",\"importer_type_id\":\"puppet_importer\",\"importer_config\":{\"feed\":\"http://davidd.fedorapeople.org/repos/random_puppet/\"},\"notes\":{\"_repo-type\":\"puppet-repo\"},\"distributors\":[{\"distributor_type\":\"puppet_distributor\",\"distributor_config\":{\"absolute_path\":\"/test_path/\",\"serve_http\":false,\"serve_https\":true},\"auto_publish\":true,\"distributor_id\":\"4\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="8P1UQVLxHGpFQ1oEHLIoYOumPHLJ8GHowQVzDKbbAI", oauth_signature="Vrk0SDzJ4AErTaeh3cjlFbxaKMM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379710762", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "4"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"P Forge\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"puppet-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"523cb72ad60ea34df4d65635\"}, \"id\": \"4\", \"_href\": \"/pulp/api/v2/repositories/4/\"}"
  recorded_at: Fri, 20 Sep 2013 20:59:22 GMT
[...]
- request: 
    method: get
    uri: https://kona.pdx.redhat.com/pulp/api/v2/tasks/02fdb5dd-d3cf-4a1a-aa3f-e090bb5d2f3b/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="8HpyaT1XR0D3pj9gAT5sIdTxo9pJzbCJGapu2zRzs", oauth_signature="FpmldRh%2Bu2JkAMAb3eavtDW6ZIg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380663456", oauth_version="1.0"
     [...]
[...]
- request: 
    method: post
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"5\",\"display_name\":\"P Forge\",\"importer_type_id\":\"puppet_importer\",\"importer_config\":{},\"notes\":{\"_repo-type\":\"puppet-repo\"},\"distributors\":[{\"distributor_type\":\"puppet_install_distributor\",\"distributor_config\":{\"install_path\":\"/etc/puppet/environments/KT_acme_corporation_label_dev_label_org_default_label_30237652\",\"auto_publish\":true},\"auto_publish\":true,\"distributor_id\":\"5\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"5_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="9SnG5Lvi3jag8kvDx450sXV4c3gRd4VvAx3zqRo", oauth_signature="nNhW6csXphma78KITI8OlWIlz9Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380663472", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "5"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"P Forge\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"puppet-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"524b40b1ac2664d717001262\"}, \"id\": \"5\", \"_href\": \"/pulp/api/v2/repositories/5/\"}"
  recorded_at: Tue, 01 Oct 2013 21:37:53 GMT
[...]
- request: 
    method: delete
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/5/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="pEiAGvkVPUbDuGXttP5ARAhMN2ppFqbd3dLgks7RGYI", oauth_signature="2ISGJVTLYCo5vSI14euptp1ZKfM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380753915", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"efdc4bfa-a69a-4b6c-99f2-5628e1929fa2\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/efdc4bfa-a69a-4b6c-99f2-5628e1929fa2/\", \"task_id\": \"5bae24b9-5709-404c-8d60-ee712adb1f5c\", \"call_request_tags\": [\"pulp:repository:5\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:5\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"efdc4bfa-a69a-4b6c-99f2-5628e1929fa2\", \"call_request_id\": \"5bae24b9-5709-404c-8d60-ee712adb1f5c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 02 Oct 2013 22:45:15 GMT
[...]
- request: 
    method: post
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/4/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="oHRWzRKkc9MSCYWK43ESZ0nlASqECdREc6dHYWBzk", oauth_signature="IaPi0MFzc3B7MNvlQd2tLL2wGEc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380753933", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Cont[...]
[...]
- request: 
    method: post
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/4/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"puppet_module\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="OhZPL0hXZBa1LG5gKeMlm2oVjYVcc0Nxxir3J6cnFqs", oauth_signature="r9cHCwMXmS0xLLJKCp%2BjDFE1vcc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380753950", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"metadata\": {\"_id\": \"44c7945e-63bb-427f-b7ed-0285abbe2b31\"}, \"_id\": {\"$oid\": \"524ca20eac2664d717002016\"}, \"unit_id\": \"44c7945e-63bb-427f-b7ed-0285abbe2b31\", \"unit_type_id\": \"puppet_module\"}, {\"metadata\": {\"_id\": \"7c8aab98-1b6d-490f-ad5f-559e03b18c9e\"}, \"_id\": {\"$oid\": \"524ca20eac2664d717002018\"}, \"unit_id\": \"7c8aab98-1b6d-490f-ad5f-559e03b18c9e\", \"unit_type_id\": \"puppet_module\"}, {\"metadata\": {\"_id\": \"638188ef-052d-4c76-939a-05287b5946c9\"}, \"_id\": {\"$oid\": \"524ca20eac2664d717002017\"}, \"unit_id\": \"638188ef-052d-4c76-939a-05287b5946c9\", \"unit_type_id\": \"puppet_module\"}, {\"metadata\": {\"_id\": \"5a7a5b85-e99d-4ccd-9888-5512700b8397\"}, \"_id\": {\"$oid\": \"524ca20eac2664d717002015\"}, \"unit_id\": \"5a7a5b85-e99d-4ccd-9888-5512700b8397\", \"unit_type_id\": \"puppet_module\"}]"
  recorded_at: Wed, 02 Oct 2013 22:45:50 GMT
- request: 
    method: post
    uri: https://kona.pdx.redhat.com/pulp/api/v2/content/units/puppet_module/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"44c7945e-63bb-427f-b7ed-0285abbe2b31\",\"7c8aab98-1b6d-490f-ad5f-559e03b18c9e\",\"638188ef-052d-4c76-939a-05287b5946c9\",\"5a7a5b85-e99d-4ccd-9888-5512700b8397\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth [...]
- request: 
    method: delete
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/4/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="tlJ2JRBc8I4C1p4IXoYqWNcAjwHNtQz4zykdRJow0", oauth_signature="kxPZApkQyRxyRIFn%2BO2hYXgzW1A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380753950", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"c417d895-aded-4940-93c5-56b74b44cd9e\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/c417d895-aded-4940-93c5-56b74b44cd9e/\", \"task_id\": \"7694576b-4141-428b-a9c1-9ab317ee842d\", \"call_request_tags\": [\"pulp:repository:4\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:4\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"c417d895-aded-4940-93c5-56b74b44cd9e\", \"call_request_id\": \"7694576b-4141-428b-a9c1-9ab317ee842d\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 02 Oct 2013 22:45:50 GMT
recorded_with: VCR 2.5.0
