--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/6445ae16-9fe4-4226-90c2-f49afb4744bb/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="u5An2ujQvyNLVXUmCulpH5BeaWp05Hr56CE1bAMHI", oauth_signature="a34%2FX6V%2BL7dP%2BeXRa854oXGZavM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351740214", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/6445ae16-9fe4-4226-90c2-f49afb4744bb/\", \"task_id\": \"6445ae16-9fe4-4226-90c2-f49afb4744bb\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-11-01T03:23:34Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-01T03:23:34Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"6445ae16-9fe4-4226-90c2-f49afb4744bb\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 01 Nov 2012 03:23:34 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/f0ec2181-0915-40e1-99bb-0715cc191d62/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="H18XgvXfAQS8ygpti9oDsEzwbJ522qfbodOKSSu10", oauth_signature="VP26PZnxRZ03lQh3vc%2BAhOhaBV0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351740218", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"7b555927-8e86-4d2c-a916-3cde32b5a8e2\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f0ec2181-0915-40e1-99bb-0715cc191d62/\", \"task_id\": \"f0ec2181-0915-40e1-99bb-0715cc191d62\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-01T03:23:38Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"7b555927-8e86-4d2c-a916-3cde32b5a8e2\", \"call_request_id\": \"f0ec2181-0915-40e1-99bb-0715cc191d62\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 01 Nov 2012 03:23:38 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/f0ec2181-0915-40e1-99bb-0715cc191d62/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="BX2AX4NJ2gir7esvC05bHJRGvAlo1TtQ2Gbvxi1wPY4", oauth_signature="ZLAy%2FXuT0Eo%2Fzl6sEaGxeV5pNLI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351740219", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"7b555927-8e86-4d2c-a916-3cde32b5a8e2\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f0ec2181-0915-40e1-99bb-0715cc191d62/\", \"task_id\": \"f0ec2181-0915-40e1-99bb-0715cc191d62\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-01T03:23:38Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"7b555927-8e86-4d2c-a916-3cde32b5a8e2\", \"call_request_id\": \"f0ec2181-0915-40e1-99bb-0715cc191d62\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 01 Nov 2012 03:23:39 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/2/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="wB80rpyk0QPH5yMhCTWhZ6e0zSx5wm7dp4TKXjFzI", oauth_signature="PpymYnJiw4La3W%2FrcVAtWpJmOwQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352130380", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 05 Nov 2012 15:46:20 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"filters\":{\"unit\":{\"id\":{\"$in\":[\"RHEA-2010:0002\"]}}}},\"source_repo_id\":\"1\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="vu1Gl1xPIRaM6saretVpqO4PUpcTBQxLAQMODnDJ88Q", oauth_signature="6cgTSC%2FJ2bV9rh9VyOs8u2PooWM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131693", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f7fd8c71-f2ec-496a-bafc-d5518e1a60ed/\", \"task_id\": \"f7fd8c71-f2ec-496a-bafc-d5518e1a60ed\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"f7fd8c71-f2ec-496a-bafc-d5518e1a60ed\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 05 Nov 2012 16:08:13 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"sort\":{\"unit\":[[\"name\",\"ascending\"],[\"version\",\"descending\"]]},\"type_ids\":[\"rpm\"],\"filters\":{\"unit\":{\"$and\":[{\"name\":\"elephant\"}]}}}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="KQ5WbCpqV8DZuYpjMDI8M2Q5fP7OO6vGpXRK2Aedm8", oauth_signature="H69M71sdBt8h8bjUGAk73pIoOLw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131719", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2012-11-05T21:08:19Z\", \"repo_id\": \"1\", \"created\": \"2012-11-05T21:08:19Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"06457a2e-7eb9-4505-afef-0b51ba0d2da8\", \"unit_type_id\": \"rpm\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5097e473dc792136800019b8\"}, \"id\": \"5097e473dc792136800019b8\", \"owner_id\": \"yum_importer\", \"metadata\": {\"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_storage_path\": \"/var/lib/pulp/content/rpm/.//elephant/0.3/0.8/noarch/3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3/elephant-0.3-0.8.noarch.rpm\", \"repodata\": {\"filelists\": \"\\n<package pkgid=\\\"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\\\" name=\\\"elephant\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n    <file>//elephant.txt</file>\\n</package>\\n\", \"other\": \"\\n<package pkgid=\\\"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\\\" name=\\\"elephant\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n</package>\\n\", \"primary\": \"\\n<package type=\\\"rpm\\\">\\n  <name>elephant</name>\\n  <arch>noarch</arch>\\n  <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n  <checksum type=\\\"sha256\\\" pkgid=\\\"YES\\\">3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3</checksum>\\n  <summary>A dummy package of elephant</summary>\\n  <description>A dummy package of elephant</description>\\n  <packager></packager>\\n  <url>http://tstrachota.fedorapeople.org</url>\\n  <time file=\\\"1321891027\\\" build=\\\"1308257466\\\"/>\\n  <size package=\\\"2244\\\" installed=\\\"2244\\\" archive=\\\"296\\\"/>\\n<location xml:base=\\\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\\\" href=\\\"elephant-0.3-0.8.noarch.rpm\\\"/>\\n  <format>\\n    <rpm:license>GPLv2</rpm:license>\\n    <rpm:vendor/>\\n    <rpm:group>Internet/Applications</rpm:group>\\n    <rpm:buildhost>dhcp-26-118.brq.redhat.com</rpm:buildhost>\\n    <rpm:sourcerpm>elephant-0.3-0.8.src.rpm</rpm:sourcerpm>\\n    <rpm:header-range start=\\\"280\\\" end=\\\"2028\\\"/>\\n    <rpm:provides>\\n      <rpm:entry name=\\\"elephant\\\" flags=\\\"EQ\\\" epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n    </rpm:provides>\\n    <rpm:requires>\\n      <rpm:entry name=\\\"/bin/sh\\\" pre=\\\"1\\\"/>\\n    </rpm:requires>\\n  </format>\\n</package>\"}, \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"_ns\": \"units_rpm\", \"checksum\": \"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"epoch\": \"0\", \"version\": \"0.3\", \"relativepath\": \"elephant-0.3-0.8.noarch.rpm\", \"provides\": [[\"elephant\", \"EQ\", [\"0\", \"0.3\", \"0.8\"]]], \"_content_type_id\": \"rpm\", \"release\": \"0.8\", \"vendor\": \"\", \"_id\": \"06457a2e-7eb9-4505-afef-0b51ba0d2da8\", \"arch\": \"noarch\", \"name\": \"elephant\", \"description\": \"A dummy package of elephant\"}}]"
  recorded_at: Mon, 05 Nov 2012 16:08:39 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/unassociate/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{\"association\":{\"unit_id\":{\"$in\":[null]}}}}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="kILxjSspoMvYWse1ZpRCtLVxcLqR1iTXmjjfEmQg", oauth_signature="tkun6KlGqQsN9zKVwlmbgkbrU5I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131719", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/3dd8e620-86a7-45a8-8fdf-6d2cb718b29a/\", \"task_id\": \"3dd8e620-86a7-45a8-8fdf-6d2cb718b29a\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:action:unassociate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:action:unassociate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"3dd8e620-86a7-45a8-8fdf-6d2cb718b29a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 05 Nov 2012 16:08:39 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[]}}},\"include_repos\":true}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="du6mK7iQxudVar79isKhe4Kh4ZKD4viN9c5mcBtXoQ", oauth_signature="R8ZIrec68kiO%2FP5a9Bt8lN4npBk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131753", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Mon, 05 Nov 2012 16:09:13 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/2/actions/associate/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}}},\"source_repo_id\":\"1\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="LDbUvroOAAgpoOTqx7hr1VA1qS4QOuxctP7Eioh0BQ", oauth_signa[...]
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/content/units/rpm/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"206a71f1-73bd-4119-80cc-ebda63467ea6\",\"06457a2e-7eb9-4505-afef-0b51ba0d2da8\",\"399f19bf-b199-447b-8ac6-02378e955cfd\",\"3a74f5eb-9b35-4bd5-baa1-015bce208c8d\",\"d1da86c4-adbd-4844-bb8b-d2feddeffd8e\",\"eb29ad04-b940-4e34-913b-5d94f9893eac\",\"20ec7442-c251-44c6-8320-30d54e65e5e5\",\"f1010ac1-073b-4428-8830-604ccbe3[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"distributors\":[{\"distributor_id\":\"acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\",\"auto_publish\":true,\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"protected\":true,\"http\":false,\"https\":true,\"relative_url\":\"/staging_label/\"}}],\"importer_config\":{},\"importer_type_id\":\"yum_importer\",\"display_name\":\"Fedora 17 x86_64\",\"id\":\"acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="zI4BLtMvbGujngUuxumiKVpYRIrC35tErab4eeq9uso", oauth_signature="iFtBLxjLbYYQ0Tcx%2BBhbEzQl8EY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131774", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"5097e4bedc79213680001b14\"}, \"id\": \"acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"_href\": \"/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/\"}"
  recorded_at: Mon, 05 Nov 2012 16:09:34 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6WjstFaLQ9QxEAeefgTO5RxALbXtAbBA28PX6NweJY", oauth_signature="YcBxasYnvHCcj7FlUDYMeRD0gfk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131774", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 05 Nov 2012 16:09:34 GMT
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/?tag=pulp:action:sync
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="HH1EgX97k059GvrucLfmYPbIPwBl8xAoGOyuxIZY", oauth_signature="tOw7e6A0RL79nvs6nYNlDQSqlXg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131776", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Mon, 05 Nov 2012 16:09:36 GMT
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1//history/sync/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ry5kNz34jjGi3uUDcHlueQuPPKhqvvqqRX0nRH4Ufio", oauth_signature="JSx%2B0Tqp55acjNS%2B62716W572DQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131776", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"importer_type_id\": \"yum_importer\", \"importer_id\": \"yum_importer\", \"exception\": null, \"repo_id\": \"1\", \"removed_count\": 0, \"started\": \"2012-11-05T11:08:46-05:00\", \"_ns\": \"repo_sync_results\", \"completed\": \"2012-11-05T11:08:47-05:00\", \"traceback\": null, \"summary\": {\"comps\": {\"time_total_sec\": 0.014034032821655273, \"num_orphaned_groups\": 0, \"num_available_groups\": 2, \"num_new_groups\": 2, \"num_new_categories\": 1, \"num_orphaned_categories\": 0, \"num_available_categories\": 1}, \"packages\": {\"num_synced_new_rpms\": 8, \"num_resynced_distribution_files\": 0, \"num_not_synced_srpms\": 0, \"num_synced_new_distributions_files\": 3, \"num_rpms\": 8, \"num_resynced_srpms\": 0, \"num_resynced_rpms\": 0, \"rpm_removal_errors\": [], \"time_total_sec\": 1.261193037033081, \"num_synced_new_drpms\": 0, \"num_synced_new_srpms\": 0, \"num_orphaned_srpms\": 0, \"num_orphaned_rpms\": 0, \"num_synced_new_distributions\": 1, \"num_resynced_drpms\": 0, \"num_resynced_distributions\": 0, \"num_orphaned_drpms\": 0, \"num_not_synced_rpms\": 0}, \"errata\": {\"errata_time_total_sec\": 0.015136003494262695, \"num_new_errata\": 0, \"num_orphaned_errata\": 0, \"num_existing_errata\": 0}}, \"added_count\": 0, \"error_message\": null, \"updated_count\": 12, \"details\": {\"comps\": {}, \"packages\": {\"time_download_sec\": 0.5676000118255615, \"not_synced\": {}, \"size_total\": 17872, \"time_metadata_sec\": 0.4055440425872803, \"sync_report\": {\"errors\": 0, \"size_total\": 17872, \"successes\": 11, \"downloads\": 0, \"items_left\": 0, \"items_total\": 11, \"error_details\": [], \"details\": {\"tree_file\": {\"num_success\": 3, \"total_count\": 3, \"items_left\": 0, \"size_left\": 0, \"total_size_bytes\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"total_count\": 8, \"items_left\": 0, \"size_left\": 0, \"total_size_bytes\": 17872, \"num_error\": 0}}, \"size_left\": 0}}, \"errata\": {\"num_bugfix_errata\": 0, \"link_report\": {\"missing_rpms\": [], \"linked_units\": []}, \"num_security_errata\": 0, \"num_enhancement_errata\": 0}}, \"_id\": {\"$oid\": \"5097e48fdc79213680001a66\"}, \"id\": \"5097e48fdc79213680001a66\", \"result\": \"success\"}]"
  recorded_at: Mon, 05 Nov 2012 16:09:36 GMT
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/?details=true
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="8cADxFuCMsWHoKDinbxtJn52fAvHQ2YPsT029prVus", oauth_signature="3DrCFjZx8456dqmR3e74LJYnj7Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131777", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\", \"repodata\": {}}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 12, \"_id\": {\"$oid\": \"5097e48edc79213680001a3e\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2012-11-05T11:08:47-05:00\", \"scheduled_syncs\": [], \"scratchpad\": null, \"_id\": {\"$oid\": \"5097e48edc79213680001a3f\"}, \"config\": {\"feed_url\": \"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"scratchpad\": null, \"_id\": {\"$oid\": \"5097e48edc79213680001a40\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Mon, 05 Nov 2012 16:09:37 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/publish/
    body: 
      string: "{\"id\":\"1\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="nHJXiUZjjsjGCl8kKBs6YMjSsvqGomQtk4svywlc", oauth_signature="htKQ1vFiNIsnoN0HLTejp1h8rfI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131777", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/e00cdc6c-5aee-46f5-ad85-a68174a9d91a/\", \"task_id\": \"e00cdc6c-5aee-46f5-ad85-a68174a9d91a\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"e00cdc6c-5aee-46f5-ad85-a68174a9d91a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 05 Nov 2012 16:09:37 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="q7hYzOCVF3fxqyJMgvpSSVXjfUMRQkyPCsfrJppqZEA", oauth_signature="wfIkVgBWOo8iHTTMjPr5aKPXxaw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131783", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"80203d82-2e1b-47d4-9ece-5c6731cb7a74\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/80203d82-2e1b-47d4-9ece-5c6731cb7a74/\", \"task_id\": \"5ff9cf21-5047-4204-8db1-f2f5cfbddc32\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"80203d82-2e1b-47d4-9ece-5c6731cb7a74\", \"call_request_id\": \"5ff9cf21-5047-4204-8db1-f2f5cfbddc32\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 05 Nov 2012 16:09:43 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"distributors\":[{\"distributor_id\":\"1\",\"auto_publish\":false,\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"protected\":true,\"http\":false,\"https\":true,\"relative_url\":\"/test_path/\"}}],\"importer_config\":{\"feed_url\":\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"importer_type_id\":\"yum_importer\",\"display_name\":\"Fedora 17 x86_64\",\"id\":\"1\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="aHxxlbtkNoX07ShQWUF93gW0V5JK9W3JCpbPAmUGw", oauth_signature="qAFDu2ApENr0X33O4Z2NSrXKZt8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131797", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "1"
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"5097e4d5dc79213680001b85\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 05 Nov 2012 16:09:57 GMT
[...]
