--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"filters\":{},\"type_ids\":[\"rpm\"]}}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="1Vl9dCTZHcOzmCUJCsaahcgG2xrgeUKVdE55ROCTJw", oauth_signature="21dwCMvScx9oaeqxRobxRkr7xf8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816386", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/de1cf73f-58e3-4841-87f3-36cf8abdc624/\", \"task_id\": \"de1cf73f-58e3-4841-87f3-36cf8abdc624\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"de1cf73f-58e3-4841-87f3-36cf8abdc624\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 20 Mar 2013 21:53:06 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="wqMbdkR0d6RyJwUSo7IhQslVzF8JwbffvR60dN6c8", oauth_signature="ircUhBN%2FTluiL1UNw4cCyAUkGBg%3D", oauth_signatur[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"distributors\":[{\"distributor_id\":\"1\",\"auto_publish\":false,\"distributor_config\":{\"relative_url\":\"/test_path/\",\"protected\":true,\"https\":true,\"http\":false},\"distributor_type\":\"yum_distributor\"}],\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\",\"ssl_ca_cert\":null},\"id\":\"1\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="gKIdHhkD848MGBF3IqdL52m0Ps7Hg0Lk5y20NW6Is", oauth_signature="TMcKjrqJ6Tki7cTGhl7DT7xZ3Vs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816393", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"514a2fca9c60ed64a30017a5\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 20 Mar 2013 21:53:14 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"override_config\":{\"num_threads\":4,\"max_speed\":10000}}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="z4jF6GjxMTGrxTrrJuHH1uCK6zpsOxtWyz4nenrp5h0", oauth_signature="zxsuk5k9VmXuJicUhmhoHXMFrWI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816394", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"fb16f492-ac9c-4276-92c6-52d79d16b46b\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/fb16f492-ac9c-4276-92c6-52d79d16b46b/\", \"task_id\": \"fac7675c-2065-40e6-8365-801704b7c1c2\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"fb16f492-ac9c-4276-92c6-52d79d16b46b\", \"call_request_id\": \"fac7675c-2065-40e6-8365-801704b7c1c2\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 20 Mar 2013 21:53:14 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Et1BgXKGwC2yo2vyvJwmNd3hwmFHjVRKO2vVTH5k84", oauth_signature="n1xwhL5Fz%2FpOFdmT8Yekj1e2GP4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816422", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"5e2bf09c-1aea-492e-9268-0af6f6975623\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/5e2bf09c-1aea-492e-9268-0af6f6975623/\", \"task_id\": \"0e329fdf-b58e-4069-8a04-bb713096aec2\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"5e2bf09c-1aea-492e-9268-0af6f6975623\", \"call_request_id\": \"0e329fdf-b58e-4069-8a04-bb713096aec2\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 20 Mar 2013 21:53:42 GMT
