--- 
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"name\":\"batman\",\"password\":\"ZeQST9SfXekE5qty\",\"login\":\"batman\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="q4bqjrZzNv7hP55UrsXdDpBmlFQXHBDsBY26n3BzOI", oauth_signature="tsRCfzrOo3ZwldNxdrrLW%2BnzGFc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863726", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"5093cdafdc7921678f000e94\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"5093cdafdc7921678f000e94\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Fri, 02 Nov 2012 13:42:07 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="2waLQ703f4VB5RTZiLNjX3qlVd91ItIzTpxKlO7Trk", oauth_signature="rcg5uguWOMirD2se%2BOyIRplJLjk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863728", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 02 Nov 2012 13:42:08 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="gGuYcQVUlApyU0JjB5Lw6f26967HFyzJH7rwTD7rDUo", oauth_signature="RXfIP%2Br0bwsg%2BAwUef%2FGORFnjOw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863728", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 02 Nov 2012 13:42:08 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="J1azPRwP5f4QSjpmcWZ9liPu37XweBFzcPJItXjHc", oauth_signature="6Q7I%2FIxpsg08XcFysqQovjdmMtY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351863729", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 02 Nov 2012 13:42:09 GMT
recorded_with: VCR 2.3.0
