--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}},\"type_ids\":[\"rpm\"]}}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="DbKxMVqGyYVWXhNHCnGMpwdeCMCy4XpKcqPkeWDvp4", oauth_signature="Uf%2FE87FkvMMU%2F2r28M33woPNERM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428029", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/20fc0101-dba3-4bcf-bd5a-692f3ac13f63/\", \"task_id\": \"20fc0101-dba3-4bcf-bd5a-692f3ac13f63\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"20fc0101-dba3-4bcf-bd5a-692f3ac13f63\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 16:13:50 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="xell4Mubm8kBdOMKcod9d6zLI8JQgsMpIFyyinsybk", oauth_signature="ZraUI0onWPepX7IUcNxVvTaT0do%3D", oauth_signature_method="HMAC-SHA1", [...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"importer_type_id\":\"yum_importer\",\"display_name\":\"Fedora 17 x86_64\",\"id\":\"1\",\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_id\":\"1\",\"auto_publish\":false,\"distributor_config\":{\"http\":false,\"protected\":true,\"relative_url\":\"/test_path/\",\"https\":true}}],\"importer_config\":{\"feed_url\":\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\",\"ssl_client_cert\":null,\"ssl_ca_cert\":null,\"ssl_client_key\":null}}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Zb4ID3L1kL11mmT79rqpJDbFdwkLy9IFogeieEIg", oauth_signature="SxQ9T6Nqh8wvSTq1K1svl05RyQQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428033", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "1"
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50abac41dc79214432002652\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Tue, 20 Nov 2012 16:13:53 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="AcNVnarm4H8nRPMayTxGjYg5pWHzsdOzQGvCm9xvJE", oauth_signature="C%2Fb8W7BR5T1UGz6NAjMGud608EA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428033", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"0fea1707-d5f7-47f8-bdbd-1ca13e513f6d\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/0fea1707-d5f7-47f8-bdbd-1ca13e513f6d/\", \"task_id\": \"991995c6-36ed-477f-9d7a-3c063cf6c924\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"0fea1707-d5f7-47f8-bdbd-1ca13e513f6d\", \"call_request_id\": \"991995c6-36ed-477f-9d7a-3c063cf6c924\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 20 Nov 2012 16:13:53 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="xeZU3XuTUxo26AtTzt3cMkyHXMKqVmhbw5vuQLfso", oauth_signature="wshfWG6rh89mWw3wvCOZs5CnOKQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428049", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"98f970d4-9d16-4f50-83fa-e13f36377eec\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/98f970d4-9d16-4f50-83fa-e13f36377eec/\", \"task_id\": \"f8e8a77a-1fb2-4c63-973e-74df36b33ed9\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"98f970d4-9d16-4f50-83fa-e13f36377eec\", \"call_request_id\": \"f8e8a77a-1fb2-4c63-973e-74df36b33ed9\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 20 Nov 2012 16:14:09 GMT
