--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"login\":\"batman\",\"password\":\"acP5oo6aXl1uxxJz\",\"name\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="iprSNXw0uGG35GZry8v5bjNx1GATQPP41vxzhExpef0", oauth_signature="SpPbflA8PMubeg%2FHmIpnHOyM60o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126725", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"50b655859c60ed61380029d6\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50b655859c60ed61380029d6\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Wed, 28 Nov 2012 18:18:46 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="S9aNF0aHINduhOYnsUzKlNsPePQbG4znCJvtMikMFE", oauth_signature="%2FSEvR062Zfg6lc4ztRmllf5Hxu0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126727", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 28 Nov 2012 18:18:47 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="DMRIRAIqvOFBTcxfdh7xJn4eJup8Ydm5oUD1nPfDrg", oauth_signature="VoaEsNilwchWQmw7HQ9Fp4%2FgL0g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126728", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 28 Nov 2012 18:18:48 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="0SVDZukil9pcRGXFeKf5g9wasWqnK0nl4Nide6RSRM", oauth_signature="aTr9KSw%2BzSi3q3MMOeacEAbPi%2Bw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126730", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 28 Nov 2012 18:18:50 GMT
recorded_with: VCR 2.3.0
