--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="X1kaXB6IqjPNoVZYrlgaPzc0ChkmvQ972uEMxPaadhA", oauth_signature="6II7j00t41ZlVSsqCmGmyDJV5ak%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884933", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Thu, 21 Mar 2013 16:55:33 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2014-03-21T12:55:33-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="RhtG382jzs0EqxWxDpd8DChFC6B3omkkmLYqbJ8O8", oauth_signature="GiJX9ha5bhQgNK36Ln5iYxDVQ7s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884933", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/514b3b859c60ed64a3005334/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-03-21T16:55:33Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/514b3b859c60ed64a3005334/\", \"schedule\": \"2014-03-21T12:55:33-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-03-21T16:55:33Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"514b3b859c60ed64a3005334\", \"consecutive_failures\": 0}"
  recorded_at: Thu, 21 Mar 2013 16:55:33 GMT
recorded_with: VCR 2.4.0
