--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"uwEdZiH3PdmChk9b\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="PPD61QtgWAG9mYywluGUdzhl32cpshkjDxmn6J6xY", oauth_signature="HKv5NQanqt6URxPmPZt%2B9c5g03s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376676957", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"520e6c5d5ca01325e2eb435c\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"520e6c5d5ca01325e2eb435c\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Fri, 16 Aug 2013 18:15:57 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="EAXPK17h74OwltqhYmYnkskXsPkWBOiE0dIH3Zpf1M", oauth_signature="Vw3lotvbWKcOdc09yCLSNJRqvtc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376676959", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 16 Aug 2013 18:15:59 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="d4BmlBSX7x9q0F9oo5VB5srJRDjYFJ7rGLfTBVXQFDA", oauth_signature="fghHamnLy6o8fBKXVH5ai7vFmrE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376676959", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 16 Aug 2013 18:15:59 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="HZOkjMNK6d9Axp4CTaFwPk8s6wnJ9wAVfFBGu39lBo", oauth_signature="%2B0R8HAqcNLWpTOUZU7JFLxv97Ko%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376676961", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 16 Aug 2013 18:16:01 GMT
recorded_with: VCR 2.5.0
