--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"b47f788a-8484-4d42-94d4-8f5be05104cf\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Y7gTj2KnPzxesAEnl9HTSp1jNYjqdPFW3q75fCpSk", oauth_signature="8NfOXyLQxkyK%2FOzGd9YAE7eUa6w%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158451", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"b47f788a-8484-4d42-94d4-8f5be05104cf\", \"_href\": \"/pulp/api/v2/content/units/erratum/b47f788a-8484-4d42-94d4-8f5be05104cf/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Thu, 13 Jun 2013 21:20:51 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="6lCdqmMt731sWG8JieA6WInJ3niOlst24ozWAeq0bI", oauth_signature="Aijb2Qv6v2aKHXpJKLh5kS0n9Y8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158454", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_id\": {\"$oid\": \"51ba37b55ca01344a5ca921b\"}, \"unit_id\": \"4dee489b-915d-4d48-9961-86b7efe9cc53\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"4dee489b-915d-4d48-9961-86b7efe9cc53\"}}, {\"_id\": {\"$oid\": \"51ba37b55ca01344a5ca921d\"}, \"unit_id\": \"b47f788a-8484-4d42-94d4-8f5be05104cf\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"b47f788a-8484-4d42-94d4-8f5be05104cf\"}}]"
  recorded_at: Thu, 13 Jun 2013 21:20:54 GMT
[...]
