--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"4Sh9LEf5HXV5Tolt\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="iMOfkWeU3oIl2p2nGXsZzEpl0EeB8c0hNR3CI7lCtbk", oauth_signature="oqX7J4GwXoPiBxGb4SMGOdsuMAI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362402", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51fa5d625ca013687ad58ff6\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"51fa5d625ca013687ad58ff6\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Thu, 01 Aug 2013 13:06:42 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="jKhSGjnr7gCEnOEva5P9DUoWJFl0JACHSiuGn1TB0", oauth_signature="gecKcoH6e6vNiL55md19dIkUY6M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362403", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 01 Aug 2013 13:06:43 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="HF38kLWNCxqoMzV2qukmSMesiI5O2ZMNFOD1RKI", oauth_signature="n9o7L%2BHc22tF9G7Xg8eftwP2fV4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362404", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 01 Aug 2013 13:06:44 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="NvULM3imJqcFM4hpdffovNdFAa26DKDBbgR9nrX0xOw", oauth_signature="HiKq8K65jm0rFd9sFbBE9Jvpl1E%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362405", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 01 Aug 2013 13:06:45 GMT
recorded_with: VCR 2.5.0
