--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/74e362ee-5bc2-4561-8843-ad21a232f2c9/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QRk7VSTbfYICxHV8E7gqoWpzwT9S43rFHAJALawPxg8", oauth_signature="KKregetImVSzFefxv1YC2Hwz6Nc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277409", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/74e362ee-5bc2-4561-8843-ad21a232f2c9/\", \"task_id\": \"74e362ee-5bc2-4561-8843-ad21a232f2c9\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-03-26T05:56:48Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-03-26T05:56:48Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"74e362ee-5bc2-4561-8843-ad21a232f2c9\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 26 Mar 2013 05:56:49 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/902f5d89-f257-4a9a-a041-6c40b187af31/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="c6AGnpSFewxXajHjrL8MsDg7xV4UYmX7aLgmQtCJ6HM", oauth_signature="q%2Fxt25RHvDHRUzsC5dAS8iUQunE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277411", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"9e00bcf5-ff14-426b-ae38-d4a1ed91d193\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/902f5d89-f257-4a9a-a041-6c40b187af31/\", \"task_id\": \"902f5d89-f257-4a9a-a041-6c40b187af31\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-26T05:56:51Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"9e00bcf5-ff14-426b-ae38-d4a1ed91d193\", \"call_request_id\": \"902f5d89-f257-4a9a-a041-6c40b187af31\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 26 Mar 2013 05:56:51 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/902f5d89-f257-4a9a-a041-6c40b187af31/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="MOgkapyY7cVZDyNkmzKZtskuUyq7oBJEQV9WJI5I6jg", oauth_signature="OoxdtCB8s1mEI%2FS9CORlJuzBv2o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277412", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"9e00bcf5-ff14-426b-ae38-d4a1ed91d193\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/902f5d89-f257-4a9a-a041-6c40b187af31/\", \"task_id\": \"902f5d89-f257-4a9a-a041-6c40b187af31\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-26T05:56:51Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"9e00bcf5-ff14-426b-ae38-d4a1ed91d193\", \"call_request_id\": \"902f5d89-f257-4a9a-a041-6c40b187af31\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 26 Mar 2013 05:56:52 GMT
[...]
