--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}}}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="XsSXYUKuH79wToTtFeGhSaVffDZWGNjtHABBEyRUj4", oauth_signature="wWs%2Brzm0WyqRQq5GGEC0Y%2FBFXs4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126694", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/692a5872-f644-43a7-86ea-563aa5da1f58/\", \"task_id\": \"692a5872-f644-43a7-86ea-563aa5da1f58\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"692a5872-f644-43a7-86ea-563aa5da1f58\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 28 Nov 2012 18:18:14 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="vYdhm6c8oyz3MWQPSqjaxJyKmTqs6WlkH0gqwcXGUo", oauth_signature="uLqfs6wMpz8YnTafYYPOWKjTKrI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126699", oauth_version="1.0"
      Pulp-User: 
      -[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"importer_type_id\":\"yum_importer\",\"display_name\":\"Fedora 17 x86_64\",\"distributors\":[{\"auto_publish\":false,\"distributor_config\":{\"relative_url\":\"/test_path/\",\"protected\":true,\"https\":true,\"http\":false},\"distributor_type\":\"yum_distributor\",\"distributor_id\":\"1\"}],\"id\":\"1\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_key\":null,\"ssl_client_cert\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Ab0tdYvQvmHdzRS4GYXCV1Tckv1uThw0MF912pQKg", oauth_signature="IVdipfocQAL2Xt9sMUQ%2FhBrj4VA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126699", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50b6556b9c60ed6138002842\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 28 Nov 2012 18:18:20 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="zPTzGtaSVjcFJXmtDzXMHca7FwQqXHUE2UcJk7ClY4", oauth_signature="LPzJ2EAyX6nj6rwi8bmKFzSFzbA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126700", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"5e8eb5db-7d82-4caa-b881-dfc13d80c3a8\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/5e8eb5db-7d82-4caa-b881-dfc13d80c3a8/\", \"task_id\": \"1b5821af-96f9-4f1a-9719-834a9c90d0dc\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"5e8eb5db-7d82-4caa-b881-dfc13d80c3a8\", \"call_request_id\": \"1b5821af-96f9-4f1a-9719-834a9c90d0dc\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 28 Nov 2012 18:18:20 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Cwha7PKbZJLGXc7gyPyTlWUJfebMwUk6rywgHQ8", oauth_signature="%2FvrAUwL55pSQ7133p8JKWrInNAM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126723", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"18886cff-c108-4ad4-bab8-64728e3e868e\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/18886cff-c108-4ad4-bab8-64728e3e868e/\", \"task_id\": \"42954aae-3460-482e-be11-58f84a273e98\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"18886cff-c108-4ad4-bab8-64728e3e868e\", \"call_request_id\": \"42954aae-3460-482e-be11-58f84a273e98\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 28 Nov 2012 18:18:43 GMT
recorded_with: VCR 2.3.0
