--- 
http_interactions: 
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":\"batman\",\"password\":\"Lppd4x3irO5kp64I\",\"login\":\"batman\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="NUl8231FmZhH56MfHUNnRXfToUqGGjdjnUTbrQqDzmk", oauth_signature="KYg%2F3jnI6Jda%2Bqxs3sgUDGPWVIo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179729", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"50f42d92196cbe47d70019b7\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50f42d92196cbe47d70019b7\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Mon, 14 Jan 2013 16:08:50 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="P5JdDr7Z7bwNANR4iIlKYAAKMNBH9diKEHk3m1pZpE", oauth_signature="Ru5A3YY9FrSd3Co3and9X1240v0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179730", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 14 Jan 2013 16:08:51 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="K2fzfeXr6xNlomjidbfiCKyaS4ZEQLfwWw3gxsOQPZA", oauth_signature="OSvvsWm3%2BJK8C0I0W1k9znH80E0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179732", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 14 Jan 2013 16:08:53 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="CuAFHDjvpoMArA7wnpwUj8MlfbRL8j9sVicggUixX58", oauth_signature="px4thGB4GhJ3ZI49u8BVq3Sv1ys%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179733", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 14 Jan 2013 16:08:53 GMT
recorded_with: VCR 2.4.0
