--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/4c42fa09-f381-48e5-a29a-c5dfea4cd7c1/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RZkpCYXeSpBzwR3ERECuJRAUMwjFPqW4O0G0o1kEk", oauth_signature="xeuJDWPyK2RmORegJxZkSMa60Ys%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353009105", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/4c42fa09-f381-48e5-a29a-c5dfea4cd7c1/\", \"task_id\": \"4c42fa09-f381-48e5-a29a-c5dfea4cd7c1\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-11-15T19:51:45Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-15T19:51:45Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"4c42fa09-f381-48e5-a29a-c5dfea4cd7c1\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 15 Nov 2012 19:51:45 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/63beb3ef-f82e-4740-bc1f-f079a5aec5da/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="sbsyZidPiJOtUlsBB6MejaTdgCkpr8cEe0qubyMRo", oauth_signature="SdgEG%2Bykor4r0K%2FNECSNrgiuScg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353009106", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"471970fd-9e0a-4e44-9d56-f4a152526cd5\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/63beb3ef-f82e-4740-bc1f-f079a5aec5da/\", \"task_id\": \"63beb3ef-f82e-4740-bc1f-f079a5aec5da\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-15T19:51:45Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"471970fd-9e0a-4e44-9d56-f4a152526cd5\", \"call_request_id\": \"63beb3ef-f82e-4740-bc1f-f079a5aec5da\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 15 Nov 2012 19:51:46 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/63beb3ef-f82e-4740-bc1f-f079a5aec5da/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="aq5lM9MY05bu8KQQ1zeMy8LyXqglhK3Ve67k10fJVHU", oauth_signature="9SSpD3CBd2MYWNDmOwrk44mSDt4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353009106", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"471970fd-9e0a-4e44-9d56-f4a152526cd5\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/63beb3ef-f82e-4740-bc1f-f079a5aec5da/\", \"task_id\": \"63beb3ef-f82e-4740-bc1f-f079a5aec5da\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-15T19:51:45Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 1, \"size_total\": 17872, \"items_left\": 10, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 15636, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 1, \"size_total\": 17872, \"items_left\": 7, \"items_total\": 8, \"size_left\": 15636, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"471970fd-9e0a-4e44-9d56-f4a152526cd5\", \"call_request_id\": \"63beb3ef-f82e-4740-bc1f-f079a5aec5da\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 15 Nov 2012 19:51:46 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/eccae140-2ec3-4b1f-b756-b1d47ceb1f0d/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="hrmHJYaSZRlsI8b9kJyQQDxZUM1mxPOaeyKrQoNFg", oauth_signature="ARnHvcaIsporlziwltxJpro%2BPSw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353030612", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/eccae140-2ec3-4b1f-b756-b1d47ceb1f0d/\", \"task_id\": \"eccae140-2ec3-4b1f-b756-b1d47ceb1f0d\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\"}], \"start_time\": \"2012-11-16T01:50:11Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-16T01:50:11Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"eccae140-2ec3-4b1f-b756-b1d47ceb1f0d\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Fri, 16 Nov 2012 01:50:12 GMT
[...]
