--- 
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/5f44b853-c5bf-4f0f-9fef-5396a874621a/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="3alCWnDO9uUkweg89yDgErAYqNuvehaezEMVEtMAys", oauth_signature="c%2BIt%2FnOryVxGffD2tGkPn05KujY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179566", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/5f44b853-c5bf-4f0f-9fef-5396a874621a/\", \"task_id\": \"5f44b853-c5bf-4f0f-9fef-5396a874621a\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-01-14T16:06:06Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-01-14T16:06:06Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"5f44b853-c5bf-4f0f-9fef-5396a874621a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 16:06:06 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/a6f7af4e-5ad3-4993-800a-2b67fd5a7bd2/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="P5pWY82Zvb4ExbzRmCSXnwma1t9zyTLNcajAD8lqo", oauth_signature="LrIDAQkYC9zphZGDXGm3AE6mLOE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179569", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"b9eabe2d-e9ba-4f42-ac60-9b458e7bab3c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/a6f7af4e-5ad3-4993-800a-2b67fd5a7bd2/\", \"task_id\": \"a6f7af4e-5ad3-4993-800a-2b67fd5a7bd2\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-14T16:06:09Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"b9eabe2d-e9ba-4f42-ac60-9b458e7bab3c\", \"call_request_id\": \"a6f7af4e-5ad3-4993-800a-2b67fd5a7bd2\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 16:06:09 GMT
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/a6f7af4e-5ad3-4993-800a-2b67fd5a7bd2/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="OpT1lhNoPG8aYOqM5TyV5N9PQmE2GWZmSlQ9eDx4", oauth_signature="C0MvMDGgDjy2oq%2FBz7eaPJSX4b4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179570", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"b9eabe2d-e9ba-4f42-ac60-9b458e7bab3c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/a6f7af4e-5ad3-4993-800a-2b67fd5a7bd2/\", \"task_id\": \"a6f7af4e-5ad3-4993-800a-2b67fd5a7bd2\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-14T16:06:09Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"b9eabe2d-e9ba-4f42-ac60-9b458e7bab3c\", \"call_request_id\": \"a6f7af4e-5ad3-4993-800a-2b67fd5a7bd2\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 16:06:10 GMT
[...]
