--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"oAgweAllCIrGsXDp\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="prYRxvyXjHPazNlfmF8O23PyvEP3TPwHt99rMEi69A", oauth_signature="UqqVMWUuVS5RjOwf8uc7k9%2BqVCg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889084", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51d49ffc5ca01330ee97e91e\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"51d49ffc5ca01330ee97e91e\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Wed, 03 Jul 2013 22:04:44 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="wAdRvgMthOYXotADtS95rh2f9eszPWoI8yW7Ez6I", oauth_signature="dcsNepbm1D1pVrOSYF0KF1mC70M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889084", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Wed, 03 Jul 2013 22:04:45 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="N7TjZRFBDuBsURe0KVu7kBxjuAqN0lDTvZfV3AHvMEE", oauth_signature="9FzRYfuCEbBnLvzmze2PU48ZRjA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889093", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Wed, 03 Jul 2013 22:04:53 GMT
recorded_with: VCR 2.4.0
