--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"s81SIPHKHQDOYUAB\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="f6YqWRJheb6A8IicosJoBru3AnZwYoCnIaOcvJjic", oauth_signature="zgh6J7lpgVhSGELlQzlUuBf%2FPKI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196444", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51f7d51c5ca0137fe7579ae2\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"51f7d51c5ca0137fe7579ae2\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Tue, 30 Jul 2013 15:00:44 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Euz2cmZyajvFXPn4M5949u5tIP3ew1ZTX4BH3I1458", oauth_signature="88Pi0FqgA%2Fx31LDNoA2H76v0T9A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196444", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 30 Jul 2013 15:00:44 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="skx8OCYli5ZIooyY5IsfKZYlsdttIikIsmyiZi9q0xA", oauth_signature="656jflt2vcFvPe8sSvPGFNaY%2BYk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196475", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 30 Jul 2013 15:01:15 GMT
recorded_with: VCR 2.5.0
