--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/update/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"cheetah\"}}],\"options\":{\"importkeys\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="0qqYl8o2NgmsnYyavn2IUtxu7pExCpCoadam4v1yg", oauth_signature="zItkp0svizhqvVGEZ441%2BtIMe4Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071662", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"322e8cd4-f07c-4699-8923-2539fb5e3197\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/322e8cd4-f07c-4699-8923-2539fb5e3197/\", \"task_id\": \"16197962-fb72-43d2-a17a-b02d7ce8c50e\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_update\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_update\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"322e8cd4-f07c-4699-8923-2539fb5e3197\", \"call_request_id\": \"16197962-fb72-43d2-a17a-b02d7ce8c50e\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Sat, 06 Jul 2013 00:47:42 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/install/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"elephant\"}}],\"options\":{\"importkeys\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="1nvFXTubdiYU[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/update/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{}}],\"options\":{\"importkeys\":true,\"all\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="iUYTN1KZBiFOJTuD3nDAf0y8BkmzduWBKmHxKvqGRQ", oauth_signature="AjpK1q%2BGeONYVJgNU3eMeOTbLFM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071686", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"aeff5dba-685a-4463-aab6-635642219182\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/aeff5dba-685a-4463-aab6-635642219182/\", \"task_id\": \"b2859e73-9e58-4105-8bca-2ad1bb0b75d2\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_update\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_update\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"aeff5dba-685a-4463-aab6-635642219182\", \"call_request_id\": \"b2859e73-9e58-4105-8bca-2ad1bb0b75d2\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Sat, 06 Jul 2013 00:48:06 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/uninstall/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"cheetah\"}}],\"options\":{}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="UbglP348rvgJlqlbDkVZByvuXd68qz[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="FjuLbyg2JoyLeUgf2GWvjoEvpxARvfTX7eRoP4Fd4iM", oauth_signature="0A5aY3T4IqBCj%2FYv60BlqNdl7Co%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071710", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_id\": {\"$oid\": \"51d769555ca0130acd0c1aa2\"}, \"unit_id\": \"643ccf03-9fce-4f34-b06c-9aa3c991e602\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"643ccf03-9fce-4f34-b06c-9aa3c991e602\"}}, {\"_id\": {\"$oid\": \"51d769555ca0130acd0c1aa4\"}, \"unit_id\": \"730066ad-622c-4d36-9bde-ffd5b8ca3b51\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"730066ad-622c-4d36-9bde-ffd5b8ca3b51\"}}]"
  recorded_at: Sat, 06 Jul 2013 00:48:30 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"643ccf03-9fce-4f34-b06c-9aa3c991e602\",\"730066ad-622c-4d36-9bde-ffd5b8ca3b51\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="9GClvxMG3KMAEkP0d8OvREwMlIECLk5Pd9URRbVAnE", oauth_signature="iIIvhWzEBp5YkZuFnf48h6Mx3iY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071710", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"643ccf03-9fce-4f34-b06c-9aa3c991e602\", \"_href\": \"/pulp/api/v2/content/units/erratum/643ccf03-9fce-4f34-b06c-9aa3c991e602/\", \"children\": {}, \"repository_memberships\": [\"1\"]}, {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"730066ad-622c-4d36-9bde-ffd5b8ca3b51\", \"_href\": \"/pulp/api/v2/content/units/erratum/730066ad-622c-4d36-9bde-ffd5b8ca3b51/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Sat, 06 Jul 2013 00:48:30 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"simple_group\",\"description\":\"Super administrator with all access.\",\"consumer_ids\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="gZ9ueskLRV7PYw6VfTGzE8JuVgWO0YwVyJ3ZozW6G9k", oauth_signature="h9ww0awlDv9LVsIQVZ584oj3wFk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071734", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumer_groups/simple_group/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": null, \"display_name\": null, \"description\": \"Super administrator with all access.\", \"_ns\": \"consumer_groups\", \"notes\": {}, \"consumer_ids\": [\"010E99C0-3276-11E2-81C1-0800200C9A66\"], \"_id\": {\"$oid\": \"51d769765ca0130acd0c1c06\"}, \"id\": \"simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\"}"
  recorded_at: Sat, 06 Jul 2013 00:48:54 GMT
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="D7u1SlFLHWOP94LYycE6PfvO5hWWkNDABqaAm98hek", oauth_signature="xuidIHHdl3nzZlhGviZG0MeW9L4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071735", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Sat, 06 Jul 2013 00:48:55 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="IO5iNPWR77j8CEwUpSMvcQD0SEm6d4CJL4JPxgycM", oauth_signature="n2iBg8%2F2H4SDXYlaQuMLSgX8fYk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071746", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]"
  recorded_at: Sat, 06 Jul 2013 00:49:06 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="iYCscgtAgspQfSFqQ3PfkGKF73Dsx4JWoM4ulVkGE", oauth_signature="QVJIfQLAklm9JMl%2BWJO1gvSQXHE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071748", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): consumer_group=simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"consumer_group\": \"simple_group\"}}"
  recorded_at: Sat, 06 Jul 2013 00:49:08 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/unassociate/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="mygs01qrIyuGX51zk2ytuElv5FQQbv22AUO5ZQjU", oauth_signature="ScY4H0T6jBcwuCj8GActAj4op1s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071748", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]"
  recorded_at: Sat, 06 Jul 2013 00:49:09 GMT
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ynEu6t3jHnMvylVChMGkADjMvwWYJhqzYaHxCderck", oauth_signature="37AL2yWiY7LW%2BaO9JBZXMITPEt4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071752", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Sat, 06 Jul 2013 00:49:12 GMT
recorded_with: VCR 2.4.0
