--- 
http_interactions: 
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/33d5b721-25d2-4089-afd5-563e9152dd4f/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="yaT6T2sNUuYlRc7mIi8aMRUiiskCcnbV0XecMyQPEgI", oauth_signature="i3U%2B8Vu%2F3l1SzSNxQB0Om3TWFY4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185894", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/33d5b721-25d2-4089-afd5-563e9152dd4f/\", \"task_id\": \"33d5b721-25d2-4089-afd5-563e9152dd4f\", \"tags\": [\"pulp:repository:4\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:34Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"puppet_importer\": {\"modules\": {\"error_message\": null, \"execution_time\": null, \"total_count\": null, \"traceback\": null, \"individual_errors\": [], \"state\": \"not-started\", \"error_count\": null, \"error\": \"None\", \"finished_count\": null}, \"metadata\": {\"query_finished_count\": 0, \"traceback\": null, \"execution_time\": null, \"query_total_count\": 1, \"error_message\": null, \"state\": \"running\", \"error\": \"None\", \"current_query\": null}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524263c307ec505e8613b\"}, \"id\": \"5375242686d9a9321e2b9334\"}"
  recorded_at: Thu, 15 May 2014 20:31:34 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/7c8dd4c7-f23c-449c-8668-42b5b142ffc5/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="eRHwk5GVTjOuyVCEjUWeBidCXCKSxak6rcEjeYziC4", oauth_signature="SOxjbOgodk2F9Iq%2B1%2BZ%2Fra2StcA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185904", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/7c8dd4c7-f23c-449c-8668-42b5b142ffc5/\", \"task_id\": \"7c8dd4c7-f23c-449c-8668-42b5b142ffc5\", \"tags\": [\"pulp:repository:4\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:31:42Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:42Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"4\", \"started\": \"2014-05-15T21:31:42+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-15T21:31:42+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 4}, \"distributor_id\": \"4_nodes\", \"id\": \"5375242e86d9a932edcb27b7\", \"result\": \"success\"}, \"error\": null, \"_id\": {\"$oid\": \"5375242d3c307ec505e8613c\"}, \"id\": \"5375242d86d9a932edcb27b5\"}"
  recorded_at: Thu, 15 May 2014 20:31:44 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"5\",\"display_name\":\"P Forge\",\"importer_type_id\":\"puppet_importer\",\"importer_config\":{},\"notes\":{\"_repo-type\":\"puppet-repo\"},\"distributors\":[{\"distributor_type_id\":\"puppet_install_distributor\",\"distributor_config\":{\"install_path\":\"/etc/puppet/environments/KT_dev_label_org_default_label_30237652/modules\",\"auto_publish\":true},\"auto_publish\":true,\"distributor_id\":\"5\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"5_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="NwfAViPknKSB1Ulu2N1qaXgyslwaWAKs3bPXKbXCzc", oauth_signature="UIVzgcYq1A0L7s0t3QlMdWsesgo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185904", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "5"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"P Forge\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"puppet-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5375243086d9a9321d8e0f11\"}, \"id\": \"5\", \"_href\": \"/pulp/api/v2/repositories/5/\"}"
  recorded_at: Thu, 15 May 2014 20:31:44 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"4\",\"display_name\":\"P Forge\",\"importer_type_id\":\"puppet_importer\",\"importer_config\":{\"feed\":\"http://davidd.fedorapeople.org/repos/random_puppet/\"},\"notes\":{\"_repo-type\":\"puppet-repo\"},\"distributors\":[{\"distributor_type_id\":\"puppet_install_distributor\",\"distributor_config\":{\"install_path\":\"/test_path/\",\"auto_publish\":true},\"auto_publish\":true,\"distributor_id\":\"4\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"4_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="WVJOcct6jLaoZ6wjZlrJfLau8V9EGiScOgYAizV6pk", oauth_signature="pgXbnPuEBetN8yOYkQxlYaOVtGE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185918", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "4"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"P Forge\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"puppet-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5375243e86d9a9321d8e0f26\"}, \"id\": \"4\", \"_href\": \"/pulp/api/v2/repositories/4/\"}"
  recorded_at: Thu, 15 May 2014 20:31:58 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/4/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="adld8KFNMvKSzYAEZWIam3xf2ky4QVoaRIIBNC08btY", oauth_signature="FWW%2BnD2VLitILC%2Fdke8dcD2MVUQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185918", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/2460bd46-d92d-4610-adf0-c61eb06a017b/\", \"task_id\": \"2460bd46-d92d-4610-adf0-c61eb06a017b\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:59 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/4/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"puppet_module\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="fVhWCsTsYVTuRdjOYIsmTyVYHJALLW5gIdweZwxQSw", oauth_signature="jSxywXMvKj29QknmONCjFmEkaf4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185923", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"metadata\": {\"_id\": \"ef675fc3-a8d2-469a-a39a-63c1a46eb576\", \"_content_type_id\": \"puppet_module\"}, \"_id\": {\"$oid\": \"5375244186d9a932edcb27d5\"}, \"unit_id\": \"ef675fc3-a8d2-469a-a39a-63c1a46eb576\", \"unit_type_id\": \"puppet_module\"}, {\"metadata\": {\"_id\": \"27edfbfb-4c6e-49d7-a2b6-e453881de269\", \"_content_type_id\": \"puppet_module\"}, \"_id\": {\"$oid\": \"5375244186d9a932edcb27d7\"}, \"unit_id\": \"27edfbfb-4c6e-49d7-a2b6-e453881de269\", \"unit_type_id\": \"puppet_module\"}, {\"metadata\": {\"_id\": \"3a2fb27a-4fdb-405e-8bfa-4e41a502d51d\", \"_content_type_id\": \"puppet_module\"}, \"_id\": {\"$oid\": \"5375244186d9a932edcb27d6\"}, \"unit_id\": \"3a2fb27a-4fdb-405e-8bfa-4e41a502d51d\", \"unit_type_id\": \"puppet_module\"}, {\"metadata\": {\"_id\": \"8697d769-3bb4-445a-afd0-d96d9806e9bb\", \"_content_type_id\": \"puppet_module\"}, \"_id\": {\"$oid\": \"5375244186d9a932edcb27d4\"}, \"unit_id\": \"8697d769-3bb4-445a-afd0-d96d9806e9bb\", \"unit_type_id\": \"puppet_module\"}]"
  recorded_at: Thu, 15 May 2014 20:32:03 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/puppet_module/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"ef675fc3-a8d2-469a-a39a-63c1a46eb576\",\"27edfbfb-4c6e-49d7-a2b6-e453881de269\",\"3a2fb27a-4fdb-405e-8bfa-4e41a502d51d\",\"8697d769-3bb4-445a-afd0-d96d9806e9bb\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="r93giRRTmKMLYegVyG8X8V0fbvf4klDjekMuFFcw", oauth_signature="AYTbxYNpSaCUSqLwkYomyeax%2FuU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185923", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_href\": \"/pulp/api/v2/content/units/puppet_module/27edfbfb-4c6e-49d7-a2b6-e453881de269/\", \"_content_type_id\": \"puppet_module\", \"checksums\": [[\"files/spdy/mod-spdy-beta_current_i386.rpm\", \"4abdee35392c1c6d329def2017393403\"], [\"manifests/params.pp\", \"d02eb87a3ed69ff638ca028b67001621\"], [\"manifests/ssl.pp\", \"6d8a9caf1a13132b6cd2464da606281b\"], [\"manifests/init.pp\", \"fcd8c8f976710eac6532adc2f28bfa44\"], [\"manifests/dev.pp\", \"13e0564d366f27694b115f8112406429\"], [\"manifests/vhost.pp\", \"6eac84201d239436c386fe2adf4c4252\"], [\"templates/httpd.conf.RHEL.erb\", \"4cbcc29765356aeb9a01beece6738fe8\"], [\"files/spdy/mod-sp[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/4/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="hfp9dBcSngce03VLCSOuxJfv3SfygkAeNBXgiI", oauth_signature="asqIsWKs%2FC1kRnfHrBEGIqurZhY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185923", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/f588f967-3087-4a01-85e4-3a8ff26931ef/\", \"task_id\": \"f588f967-3087-4a01-85e4-3a8ff26931ef\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:32:03 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/f588f967-3087-4a01-85e4-3a8ff26931ef/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="sCKNyrSbIh0bLr0IQMkCdAAmIuCZn7ZiWOwOkOXiA", oauth_signature="GrJFOuFPWS%2FvMVFp7TDKLGZsCVE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185924", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/f588f967-3087-4a01-85e4-3a8ff26931ef/\", \"task_id\": \"f588f967-3087-4a01-85e4-3a8ff26931ef\", \"tags\": [\"pulp:repository:4\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-15T20:32:03Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:32:03Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524433c307ec505e8614a\"}, \"id\": \"5375244386d9a9321e2b9363\"}"
  recorded_at: Thu, 15 May 2014 20:32:04 GMT
recorded_with: VCR 2.9.0
