--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/53d058b1-84f8-48e4-a271-2471891e9411/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="FnhLyDlIuQ3jPLjGDlagY5BnSHlXl6adgCRpgO7pKw", oauth_signature="cd%2BTqdFK37JRPZMDtG1Szb2vlNU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428022", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/53d058b1-84f8-48e4-a271-2471891e9411/\", \"task_id\": \"53d058b1-84f8-48e4-a271-2471891e9411\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-11-20T16:13:42Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-20T16:13:42Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"53d058b1-84f8-48e4-a271-2471891e9411\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 16:13:42 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/b7c3cf5b-64a2-40d7-b0d3-22a255c54db8/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="nq7MiFaCQrgZhA4u4cF9PTziyF1sX0O3Qmh7fUQkU", oauth_signature="tJT4oK4KQgFgQIex6bUR3f0vcyM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428024", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"579607fd-c5ed-455a-b538-a1f21a839367\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/b7c3cf5b-64a2-40d7-b0d3-22a255c54db8/\", \"task_id\": \"b7c3cf5b-64a2-40d7-b0d3-22a255c54db8\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-20T16:13:44Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"579607fd-c5ed-455a-b538-a1f21a839367\", \"call_request_id\": \"b7c3cf5b-64a2-40d7-b0d3-22a255c54db8\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 16:13:44 GMT
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/b7c3cf5b-64a2-40d7-b0d3-22a255c54db8/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ErHBuICxCAfjwi2Ovw7kvfiLAjPbyKwNFmB6A0wLMA", oauth_signature="JLCRauUAmAVS0gdbJhjxKETf30E%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428024", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"579607fd-c5ed-455a-b538-a1f21a839367\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/b7c3cf5b-64a2-40d7-b0d3-22a255c54db8/\", \"task_id\": \"b7c3cf5b-64a2-40d7-b0d3-22a255c54db8\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-20T16:13:44Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 2, \"size_total\": 17872, \"items_left\": 9, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 13428, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 2, \"size_total\": 17872, \"items_left\": 6, \"items_total\": 8, \"size_left\": 13428, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"579607fd-c5ed-455a-b538-a1f21a839367\", \"call_request_id\": \"b7c3cf5b-64a2-40d7-b0d3-22a255c54db8\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 16:13:44 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/113b710c-4f1c-4609-bbd9-4d96e2a5d64d/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="VVDJXqaT43npgwSNZHqU6YcSptO6RQMtxo5xgIJal8", oauth_signature="1RDoidZ4zL7d0%2F1MVBazi6lMLqY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428038", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/113b710c-4f1c-4609-bbd9-4d96e2a5d64d/\", \"task_id\": \"113b710c-4f1c-4609-bbd9-4d96e2a5d64d\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"2\"}], \"start_time\": \"2012-11-20T16:13:57Z\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-20T16:13:57Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"113b710c-4f1c-4609-bbd9-4d96e2a5d64d\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 16:13:58 GMT
[...]
