--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"SyyrsNW4FB2Li7Mm\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ZzmFwmGa9nZ6x89p2gb8cbLTQgXc0oISCl4RwoSsdU", oauth_signature="oM229rKtBEOA98oQi6cjKK6tnSI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158495", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51ba37df5ca01344a5ca9649\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"51ba37df5ca01344a5ca9649\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Thu, 13 Jun 2013 21:21:35 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="fFNsX57OCgF2x0m8T63sKB7K2suttfnbxfpzh3dvgI", oauth_signature="PLUjGEZavTqVs4X2eH%2BvFUZl0XY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158497", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 13 Jun 2013 21:21:37 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="dZQQ0dXhzcn7aEJHRstVZJludvjtUZ2arL7SWLqsQ0", oauth_signature="eRGXwsrF4a3ddgya1YlWgM%2FMgs4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158497", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 13 Jun 2013 21:21:37 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="vnB7vRE0DxVKhUYNRkuql9jIazPTqI5K94E5fV0s0", oauth_signature="FwfezF9KWJMh7bTmw6sNUw6HlvQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158498", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 13 Jun 2013 21:21:38 GMT
recorded_with: VCR 2.4.0
