--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{}}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="kh4ME3QRAC2kK42brA66ernDaHxt1jwqfNzkrb9aw", oauth_signature="W2%2FHjxZmPTOpqu%2BVWh2OJ%2F8VKXM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377492", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/6cf592aa-5250-4532-8c92-f566fc364417/\", \"task_id\": \"6cf592aa-5250-4532-8c92-f566fc364417\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"6cf592aa-5250-4532-8c92-f566fc364417\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 16 Jan 2013 23:04:52 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="zL1nkidi7bWRqyLVTFjdWYM7PW7qhuYt8MafNB9QM", oauth_signature="q91j23lUaIGV2ZgejmP2d9jsv2I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377497", oauth_version="1.0"
      Content-Type: 
     [...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"display_name\":\"Fedora 17 x86_64\",\"id\":\"1\",\"distributors\":[{\"auto_publish\":false,\"distributor_config\":{\"relative_url\":\"/test_path/\",\"https\":true,\"protected\":true,\"http\":false},\"distributor_id\":\"1\",\"distributor_type\":\"yum_distributor\"}],\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_key\":null,\"ssl_client_cert\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"},\"importer_type_id\":\"yum_importer\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="r2rRnM6v9Yi00M1Q2ElRWuk8pFOHqBN6DE4rSXtV0", oauth_signature="Mjz7zfxgS9kglDDym5N1a0pLygo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377498", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50f7321a9c60ed27ce00365e\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 16 Jan 2013 23:04:58 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="wG7QbLrmgjADpzOWdlKCQu4KAUOYOav3QhTSZ15Gs", oauth_signature="%2FUeggDoYsoJvf79aDhQ0g1CzmTc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377498", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"f7a327c5-781d-4b39-b6fc-80a50d1224a0\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/f7a327c5-781d-4b39-b6fc-80a50d1224a0/\", \"task_id\": \"1f3673ca-ac1b-4ed8-8fce-3521c7821318\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"f7a327c5-781d-4b39-b6fc-80a50d1224a0\", \"call_request_id\": \"1f3673ca-ac1b-4ed8-8fce-3521c7821318\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 16 Jan 2013 23:04:58 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="tTOScW0vy6Pq8Sfw6LHrV8psvVetAcrdjxgaAup7Y", oauth_signature="Zxcudyv6FFcOOaE3%2FPtdbWI79qQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377523", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"90eec849-42a4-442d-a78d-4718c04d5fe6\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/90eec849-42a4-442d-a78d-4718c04d5fe6/\", \"task_id\": \"d1689e5a-9fd5-42dd-be47-b27c687c13ef\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"90eec849-42a4-442d-a78d-4718c04d5fe6\", \"call_request_id\": \"d1689e5a-9fd5-42dd-be47-b27c687c13ef\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 16 Jan 2013 23:05:23 GMT
