--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="N6hlJ9kkqBIlDrOAFCtOJ8GFAEqG74Qlwqit9EPvg", oauth_signature="K46LfuCk7EbC3%2BuAONH9SEfWOBE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126723", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Wed, 28 Nov 2012 18:18:43 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2013-11-28T13:18:43-05:00/P1D\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="PxEfAwgkUAQap34voWu8MbALVH0PpCdjFYDmzSpcNs", oauth_signature="1zZltUrDNCkxd%2B5y7Ay1j2fvgZk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126723", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50b655839c60ed613800299e/
      Content-Type: 
      - application/json
    body: 
      string: "{\"next_run\": \"2013-11-28T18:18:43Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50b655839c60ed613800299e/\", \"schedule\": \"2013-11-28T13:18:43-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-11-28T18:18:43Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50b655839c60ed613800299e\", \"consecutive_failures\": 0}"
  recorded_at: Wed, 28 Nov 2012 18:18:43 GMT
recorded_with: VCR 2.3.0
