--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"YnL2r51Skv89IlKS\",\"login\":\"batman\",\"name\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="yF0ni6p2HSMmEPsWcWlq5hFD9tqqDNMGVatbyXY", oauth_signature="g1h8BAazkTuPVcUQAGsPJXUt6zc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350527176", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - batman
    body: 
      string: "{\"_id\": {\"$oid\": \"507f68c8dc79210e570000b8\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"507f68c8dc79210e570000b8\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Thu, 18 Oct 2012 02:26:17 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="UkwGOhf9tz5ZPmeSbvO5QssY20Quj6anInhlW1aTHpQ", oauth_signature="OrRE3x0kdDhz82anVFRYpSv19B0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350527179", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Thu, 18 Oct 2012 02:26:19 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users//users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="UEEYFMYSLXcAeSXhBqXJLSZbH7RyF9fPCEjehmMs", oauth_signature="k7vA4V7%2BQ%2Fh8XFVrHIohO8uyW0o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350527180", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Thu, 18 Oct 2012 02:26:20 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users//users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="f94xoE1HhFqWa9w36U8bNAQ640AsxIKnvw9ClK7EVRA", oauth_signature="8EjxAf5j4P7n87dhypsUVyuqXXA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350527180", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Thu, 18 Oct 2012 02:26:20 GMT
