--- 
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}},\"type_ids\":[\"rpm\"]},\"source_repo_id\":\"1\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="zHzsrbd0iWp48KDCZl4QoHaTixTYpJLVKpkEZlrQWI", oauth_signature="PAm%2B264KD4Ua3ZE%2BWS87%2FmCMw%2Fw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353030899", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/e2f524dc-4a33-4053-839b-b8a5d23dc2c4/\", \"task_id\": \"e2f524dc-4a33-4053-839b-b8a5d23dc2c4\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"e2f524dc-4a33-4053-839b-b8a5d23dc2c4\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 16 Nov 2012 01:54:59 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="KiDRYRnCorbpwdrUgfZXetrdKcK7pCLvpnuHI1PdWY", oauth_signature="4%2BXR30pjsVNRDXuwqE%2FhDhyhr%2Fk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353030903", oauth_version="1.0"
      Content-Type: 
 [...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"display_name\":\"Fedora 17 x86_64\",\"distributors\":[{\"auto_publish\":false,\"distributor_config\":{\"https\":true,\"protected\":true,\"relative_url\":\"/test_path/\",\"http\":false},\"distributor_id\":\"1\",\"distributor_type\":\"yum_distributor\"}],\"importer_config\":{\"feed_url\":\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\",\"ssl_client_key\":null,\"ssl_ca_cert\":null,\"ssl_client_cert\":null},\"id\":\"1\",\"importer_type_id\":\"yum_importer\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="YbeURViP4AMVQ0XPNNKYx6Z2jh2teRVQfEBLLzy3us", oauth_signature="SwnB6NNtilXwdLOhnFkYlZSaVwA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353030903", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "1"
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50a59cf7dc7921666d00039c\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 16 Nov 2012 01:55:03 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="zFjKfwSoMxohmHItdtPAIgbF9AXVEmV2ElfNRIWo", oauth_signature="dakuTGBI8RxkP4F6r7KUGI0DRfs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353030903", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"59245f72-b0e4-4bf7-8dd6-7a3e3dd0e547\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/59245f72-b0e4-4bf7-8dd6-7a3e3dd0e547/\", \"task_id\": \"896cb708-51af-4551-ba1b-fcb767f8b8de\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"59245f72-b0e4-4bf7-8dd6-7a3e3dd0e547\", \"call_request_id\": \"896cb708-51af-4551-ba1b-fcb767f8b8de\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 16 Nov 2012 01:55:03 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="StrfTcyx3c9OOmaWwwcO7CmP98xGNmmE7eXFd6gdvUc", oauth_signature="ZyU2I0B4tsTVRxao78fSK7AxwfQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353030920", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"354379a7-ad5d-4ee4-9aaa-f38bbe5235ae\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/354379a7-ad5d-4ee4-9aaa-f38bbe5235ae/\", \"task_id\": \"c1514860-b60a-445e-8b03-079721a85897\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"354379a7-ad5d-4ee4-9aaa-f38bbe5235ae\", \"call_request_id\": \"c1514860-b60a-445e-8b03-079721a85897\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 16 Nov 2012 01:55:20 GMT
recorded_with: VCR 2.3.0
