--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"ksWI0mi5QytqbLIc\",\"login\":\"batman\",\"name\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="NN4AZtPBqX67i3DiDSxzuzMRAR06vAcX5QY5bhZ9k", oauth_signature="tAGoC0xqWJ4y%2BB2N9H%2BEEfZCmcI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116400", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"50d4b1b1196cbe42f9000c9d\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50d4b1b1196cbe42f9000c9d\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Fri, 21 Dec 2012 19:00:01 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="fv48nZwSSUyv7M8QnlpdAWvroKaIS1M5qYBtX3fO4wQ", oauth_signature="xfkqhIhIhpkdRr0ecHByexR6fpE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116401", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 21 Dec 2012 19:00:02 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="F8ZeJCm45yh0KJhyp0ApsRm57yQDPQWgOKmRMdMCc", oauth_signature="Piv5G2F92kERMLfGw%2BlyOly%2FxHE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116402", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 21 Dec 2012 19:00:03 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="SuG4gAtSnHw41KMV5ZjNH2vZkHXXhdmcb07sjpep4", oauth_signature="ThKJGj2r%2FMyp8MkqL3%2BoLvy%2Bfz0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116405", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 21 Dec 2012 19:00:05 GMT
