--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"ypkVOBCKgDK6eAlL\",\"login\":\"hidden\",\"name\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="pHKx1LcDVgMRRpMQie61dmLoqGuWAlPRj0J6ZcfM", oauth_signature="Ei2sqApxoh1mZ1DpWhew6QOD76I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829891", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - hidden
    body: 
      string: "{\"_id\": {\"$oid\": \"514a64839c60ed64a3003d33\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"514a64839c60ed64a3003d33\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Thu, 21 Mar 2013 01:38:11 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="j9fNLR1ApI6Oelz8g0F3rRtQi63SD932vV3KMT5C4", oauth_signature="NWAS6lMSc%2FKIWoQpM%2BS%2FQULvUug%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829891", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Thu, 21 Mar 2013 01:38:11 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/hidden/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="w99KeDX25fsFiUg2oViErDDoXbDTXVdzl1nFYBYSyc", oauth_signature="yDyH1KYyWs2r3fnvC9slldA0jcU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829906", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Thu, 21 Mar 2013 01:38:26 GMT
