--- 
http_interactions: 
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/d485a8f7-1ef6-4b45-901e-eeddd24d561e/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="flTD8W0c0TnsjIRCCOyBtItGs3lZp8T3xuDQL69cZ9U", oauth_signature="A2W40FxcFhyCLHAF%2F%2BNIF5DZfdk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308556", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/d485a8f7-1ef6-4b45-901e-eeddd24d561e/\", \"task_id\": \"d485a8f7-1ef6-4b45-901e-eeddd24d561e\", \"tags\": [\"pulp:repository:4\", \"pulp:action:sync\"], \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:16Z\", \"spawned_tasks\": [], \"progress_report\": {\"puppet_importer\": {\"modules\": {\"error_message\": null, \"execution_time\": null, \"total_count\": null, \"traceback\": null, \"individual_errors\": null, \"state\": \"not-started\", \"error_count\": null, \"error\": \"None\", \"finished_count\": null}, \"metadata\": {\"query_finished_count\": 0, \"traceback\": null, \"execution_time\": null, \"query_total_count\": 1, \"error_message\": null, \"state\": \"running\", \"error\": \"None\", \"current_query\": null}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"_id\": {\"$oid\": \"5367c10cc552ed9bd4e4dac9\"}}"
  recorded_at: Mon, 05 May 2014 16:49:16 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/d485a8f7-1ef6-4b45-901e-eeddd24d561e/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="WPEdCvR0u9MJfMzFjSOs1iwmXQIKgxpW0Q2Oq3Bs", oauth_signature="NmES7vAZAED2xcZm17Jmk75LC1A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308566", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/d485a8f7-1ef6-4b45-901e-eeddd24d561e/\", \"task_id\": \"d485a8f7-1ef6-4b45-901e-eeddd24d561e\", \"tags\": [\"pulp:repository:4\", \"pulp:action:sync\"], \"finish_time\": \"2014-05-05T16:49:25Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:25Z\", \"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/a7f95e7d-72e8-46bb-9e00-ca15695297c2/\", \"task_id\": \"a7f95e7d-72e8-46bb-9e00-ca15695297c2\"}, {\"_href\": \"/pulp/api/v2/tasks/0a42f2e4-fc53-4b86-821b-f82ab710e6a0/\", \"task_id\": \"0a42f2e4-fc53-4b86-821b-f82ab710e6a0\"}], \"progress_report\": {\"puppet_importer\": {\"modules\": {\"traceback\": null, \"execution_time\": 6, \"total_count\": 4, \"error_message\": null, \"finished_count\": 4, \"state\": \"success\", \"error_count\": 0, \"error\": \"None\", \"individual_errors\": null}, \"metadata\": {\"query_finished_count\": 1, \"error_message\": null, \"execution_time\": 1, \"query_total_count\": 1, \"traceback\": null, \"state\": \"success\", \"error\": \"None\", \"current_query\": \"http://davidd.fedorapeople.org/repos/random_puppet/modules.json\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"importer_type_id\": \"puppet_importer\", \"importer_id\": \"puppet_importer\", \"exception\": null, \"repo_id\": \"4\", \"removed_count\": 0, \"started\": \"2014-05-05T17:49:16+01:00\", \"_ns\": \"repo_sync_results\", \"completed\": \"2014-05-05T17:49:24+01:00\", \"traceback\": null, \"summary\": {\"total_execution_time\": 7}, \"added_count\": 4, \"error_message\": null, \"updated_count\": 0, \"details\": {\"finished_count\": 4, \"total_count\": 4, \"error_count\": 0}, \"id\": \"5367c11486d9a910c84ab6fb\", \"result\": \"success\"}, \"_id\": {\"$oid\": \"5367c10cc552ed9bd4e4dac9\"}}"
  recorded_at: Mon, 05 May 2014 16:49:26 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/a7f95e7d-72e8-46bb-9e00-ca15695297c2/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="2IUSMnOHFiZiahYKlHGpAGCzgvINKsLpbLoaa6QY", oauth_signature="PZyKy24uXigiLS8zYRJJZZhjlPY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308566", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/a7f95e7d-72e8-46bb-9e00-ca15695297c2/\", \"task_id\": \"a7f95e7d-72e8-46bb-9e00-ca15695297c2\", \"tags\": [\"pulp:repository:4\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-05T16:49:25Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:25Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"4\", \"started\": \"2014-05-05T17:49:25+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-05T17:49:25+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 4}, \"distributor_id\": \"4_nodes\", \"id\": \"5367c11586d9a910c84ab6fc\", \"result\": \"success\"}, \"_id\": {\"$oid\": \"5367c115c552ed9bd4e4daca\"}}"
  recorded_at: Mon, 05 May 2014 16:49:26 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"5\",\"display_name\":\"P Forge\",\"importer_type_id\":\"puppet_importer\",\"importer_config\":{},\"notes\":{\"_repo-type\":\"puppet-repo\"},\"distributors\":[{\"distributor_type\":\"puppet_install_distributor\",\"distributor_config\":{\"install_path\":\"/etc/puppet/environments/KT_dev_label_org_default_label_30237652/modules\",\"auto_publish\":true},\"auto_publish\":true,\"distributor_id\":\"5\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"5_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="DMayH5XGQFMZ4YmmsMyVO9s1bOxppXGykgeLGICEU", oauth_signature="Qklv8vn2ifvvEq0vX5s7fovi4Ds%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308566", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "5"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"P Forge\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"puppet-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5367c11786d9a90f982f7ff0\"}, \"id\": \"5\", \"_href\": \"/pulp/api/v2/repositories/5/\"}"
  recorded_at: Mon, 05 May 2014 16:49:27 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"4\",\"display_name\":\"P Forge\",\"importer_type_id\":\"puppet_importer\",\"importer_config\":{\"feed\":\"http://davidd.fedorapeople.org/repos/random_puppet/\"},\"notes\":{\"_repo-type\":\"puppet-repo\"},\"distributors\":[{\"distributor_type\":\"puppet_install_distributor\",\"distributor_config\":{\"install_path\":\"/test_path/\",\"auto_publish\":true},\"auto_publish\":true,\"distributor_id\":\"4\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"4_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="4sG1Mw64irO25QvHqrzdSgsdBQp3nOtFns0lEoVVdk", oauth_signature="mXuZ5izULxh4zuGuuHFrHin3nac%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308580", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "4"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"P Forge\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"puppet-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5367c12486d9a90f99b092da\"}, \"id\": \"4\", \"_href\": \"/pulp/api/v2/repositories/4/\"}"
  recorded_at: Mon, 05 May 2014 16:49:40 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/4/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="tVnLnVVaFEyfYYC2k7l5T8Sb5hJWDmvUvswq8lSTjMs", oauth_signature="WdV02CyNzXvyN0U1mBrsW%2BThbbU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308580", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/ee33650a-187d-4018-8df3-460f59728ee3/\", \"task_id\": \"ee33650a-187d-4018-8df3-460f59728ee3\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:49:41 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/4/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"puppet_module\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="vHlwPjKWR2LSiHUImBxTCNfSkfSqkZu5HyipQ00cVEA", oauth_signature="LJ8mjqH5wycS0BLT909S90AwKxo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308585", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"metadata\": {\"_id\": \"1d1c53ce-18b6-4317-b246-f2afa7f1548a\", \"_content_type_id\": \"puppet_module\"}, \"_id\": {\"$oid\": \"5367c12786d9a910c84ab716\"}, \"unit_id\": \"1d1c53ce-18b6-4317-b246-f2afa7f1548a\", \"unit_type_id\": \"puppet_module\"}, {\"metadata\": {\"_id\": \"4e391346-f54c-41cb-aee0-476204489d21\", \"_content_type_id\": \"puppet_module\"}, \"_id\": {\"$oid\": \"5367c12786d9a910c84ab718\"}, \"unit_id\": \"4e391346-f54c-41cb-aee0-476204489d21\", \"unit_type_id\": \"puppet_module\"}, {\"metadata\": {\"_id\": \"0e45a9ef-c528-4edf-bbc4-437dcfe3a6d7\", \"_content_type_id\": \"puppet_module\"}, \"_id\": {\"$oid\": \"5367c12786d9a910c84ab717\"}, \"unit_id\": \"0e45a9ef-c528-4edf-bbc4-437dcfe3a6d7\", \"unit_type_id\": \"puppet_module\"}, {\"metadata\": {\"_id\": \"8afe1dd0-9e57-4621-9968-d224495c676d\", \"_content_type_id\": \"puppet_module\"}, \"_id\": {\"$oid\": \"5367c12786d9a910c84ab715\"}, \"unit_id\": \"8afe1dd0-9e57-4621-9968-d224495c676d\", \"unit_type_id\": \"puppet_module\"}]"
  recorded_at: Mon, 05 May 2014 16:49:45 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/puppet_module/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"1d1c53ce-18b6-4317-b246-f2afa7f1548a\",\"4e391346-f54c-41cb-aee0-476204489d21\",\"0e45a9ef-c528-4edf-bbc4-437dcfe3a6d7\",\"8afe1dd0-9e57-4621-9968-d224495c676d\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="hiobrUBStUVq4yTR7rQkNHwHSbBAY2qyBdWQpWPM4hg", oauth_signature="QMgBmAJSOekNTvgB5us%2F28g4s7Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308585", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_href\": \"/pulp/api/v2/content/units/puppet_module/0e45a9ef-c528-4edf-bbc4-437dcfe3a6d7/\", \"_content_type_id\": \"puppet_module\", \"checksums\": [[\"spec\\\\unit\\\\puppet\\\\type\\\\README.markdown\", \"de26a7643813abd6c2e7e28071b1ef94\"], [\"spec\\\\unit\\\\puppet\\\\provider\\\\README.markdown\", \"e52668944ee6af2fb5d5b9e798342645\"], [\"tests\\\\init.pp\", \"5d6e84bd06e23c4d565782db67e333ec\"], [\"files\\\\debian\\\\PAMAuthentication\", \"eb4585ad9fe0426781ed7c49252f8225\"], [\"files\\\\debian\\\\ChrootEveryone\", \"eb4585ad9fe0426781ed7c49252f8225\"], [\"manifests\\\\service.pp\", \"722d62651e6c61da4330332b6382f5a9\"], [\"spec\\\\s[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/4/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="PNv2Jx1j9fteakbiMTIMxVwtAP5o5F7NyiT3T6MoZqo", oauth_signature="TO6GeYqYXxnY8bsCiqWMewWJCwE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308585", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/b7d6437d-589d-4fa7-be8a-7f5f27a7c0e1/\", \"task_id\": \"b7d6437d-589d-4fa7-be8a-7f5f27a7c0e1\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:49:46 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/b7d6437d-589d-4fa7-be8a-7f5f27a7c0e1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="1jH0bSVaqy5BBX9S9Xkcl933Fj2QBdud0dNv8YpCQYw", oauth_signature="XEPiXriTk5sr5o8SKKlAjghbOtM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308586", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/b7d6437d-589d-4fa7-be8a-7f5f27a7c0e1/\", \"task_id\": \"b7d6437d-589d-4fa7-be8a-7f5f27a7c0e1\", \"tags\": [\"pulp:repository:4\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-05T16:49:46Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:46Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"_id\": {\"$oid\": \"5367c12ac552ed9bd4e4dad8\"}}"
  recorded_at: Mon, 05 May 2014 16:49:46 GMT
recorded_with: VCR 2.9.0
