--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/8ee90a1b-9c63-4e18-bf9b-ab979d4d7875/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="XHDpp7aOT9BKDYT9dV4MaKnSFubyDKup0bjCR0GKuaY", oauth_signature="r%2BEWEcOq87y7Sm6KwppTx6t637U%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889126", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/8ee90a1b-9c63-4e18-bf9b-ab979d4d7875/\", \"task_id\": \"8ee90a1b-9c63-4e18-bf9b-ab979d4d7875\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-07-03T22:05:26Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-07-03T22:05:26Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"8ee90a1b-9c63-4e18-bf9b-ab979d4d7875\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 03 Jul 2013 22:05:26 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/93a7706c-e192-46c5-8462-90b2988f3860/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="k9GwOT24XrqPprmC76LiaRvx0eejM4NN0plAAEjKoA", oauth_signature="w5hEBO4CogH0JdwMz7NQRos7Tuw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889129", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"a5e09f1a-05b2-422e-b8db-7649bcb702fa\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/93a7706c-e192-46c5-8462-90b2988f3860/\", \"task_id\": \"93a7706c-e192-46c5-8462-90b2988f3860\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-07-03T22:05:29Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"a5e09f1a-05b2-422e-b8db-7649bcb702fa\", \"call_request_id\": \"93a7706c-e192-46c5-8462-90b2988f3860\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 03 Jul 2013 22:05:29 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/93a7706c-e192-46c5-8462-90b2988f3860/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="VSU8YDlrTjsnlgeAgFKs9tIpRdrCUGj9gHyFuo3XP0", oauth_signature="G0WpnawHfzOIL13fi2M1RQU6jXE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889130", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"a5e09f1a-05b2-422e-b8db-7649bcb702fa\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/93a7706c-e192-46c5-8462-90b2988f3860/\", \"task_id\": \"93a7706c-e192-46c5-8462-90b2988f3860\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-07-03T22:05:29Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"a5e09f1a-05b2-422e-b8db-7649bcb702fa\", \"call_request_id\": \"93a7706c-e192-46c5-8462-90b2988f3860\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 03 Jul 2013 22:05:30 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/de92ed88-1fd1-4962-a6a2-77952e9bac8c/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QatEOTJqT5o9XDxN7itp4ln8hPrOXdy2c2fVLScrFa8", oauth_signature="7Q4LFGSFGunzDYcRR72YC5iMEm4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889136", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/de92ed88-1fd1-4962-a6a2-77952e9bac8c/\", \"task_id\": \"de92ed88-1fd1-4962-a6a2-77952e9bac8c\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\"}], \"start_time\": \"2013-07-03T22:05:35Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-07-03T22:05:35Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"de92ed88-1fd1-4962-a6a2-77952e9bac8c\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Wed, 03 Jul 2013 22:05:36 GMT
[...]
