--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="iY2UIKvdrN1wVKcg6Mvpnb6arIBIPX6mBaNa0WiQXc", oauth_signature="kK9mReiycym9%2FNms%2BuckJg9nhKo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769138", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Wed, 09 Jan 2013 22:05:38 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2014-01-09T17:05:38-05:00/P1D\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="zAERIR4Do6lSD5rjAj9lKMJifOsPFaXt135o8U1pgE", oauth_signature="8oFKBW%2FnuOIQfwpqezqv1fqFYg8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769138", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50ede9b39c60ed2cd3004120/
    body: 
      string: "{\"next_run\": \"2014-01-09T22:05:38Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50ede9b39c60ed2cd3004120/\", \"schedule\": \"2014-01-09T17:05:38-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-01-09T22:05:38Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50ede9b39c60ed2cd3004120\", \"consecutive_failures\": 0}"
  recorded_at: Wed, 09 Jan 2013 22:05:39 GMT
recorded_with: VCR 2.4.0
