--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="0cW0fAk2xLBxsB6vEeoIyHgJWity0hNsle4iQkTiFI", oauth_signature="keO2yWqtxrkikjJI60FeyFGlLN0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349271338", oauth_version="1.0"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"1\"}}"
  recorded_at: Wed, 03 Oct 2012 13:35:38 GMT
