--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/a1f7e7af-5728-419c-9b84-5f7702b7a30e/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="hwVCA3ebX3IPQRE3Do7935JDR3UmGrc1JejCGmQ", oauth_signature="82WOLC3wcVtB%2FSafxLRWd9jBT%2Bc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071590", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/a1f7e7af-5728-419c-9b84-5f7702b7a30e/\", \"task_id\": \"a1f7e7af-5728-419c-9b84-5f7702b7a30e\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-07-06T00:46:30Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-07-06T00:46:30Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"a1f7e7af-5728-419c-9b84-5f7702b7a30e\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 06 Jul 2013 00:46:30 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/7b81c4c6-f4bb-4510-9a93-a2fc8d180085/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Xm8UsjKLuS0APESnpSPpmADc2d7gbacPvHTMz34o", oauth_signature="AvgnpPkxwsQwXXBM%2Bbkmdncuq0M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071593", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"aa6fe286-31db-44ad-8101-1ed299a1104e\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/7b81c4c6-f4bb-4510-9a93-a2fc8d180085/\", \"task_id\": \"7b81c4c6-f4bb-4510-9a93-a2fc8d180085\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-07-06T00:46:33Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"aa6fe286-31db-44ad-8101-1ed299a1104e\", \"call_request_id\": \"7b81c4c6-f4bb-4510-9a93-a2fc8d180085\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 06 Jul 2013 00:46:33 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/7b81c4c6-f4bb-4510-9a93-a2fc8d180085/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="X8w8OQMbAzjcqNfYqxA0b026KwyU9IWpVyH2nWC3jg", oauth_signature="JwGB6pJCl5nEClKkLFkno7488Fw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071594", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"aa6fe286-31db-44ad-8101-1ed299a1104e\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/7b81c4c6-f4bb-4510-9a93-a2fc8d180085/\", \"task_id\": \"7b81c4c6-f4bb-4510-9a93-a2fc8d180085\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-07-06T00:46:33Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"aa6fe286-31db-44ad-8101-1ed299a1104e\", \"call_request_id\": \"7b81c4c6-f4bb-4510-9a93-a2fc8d180085\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 06 Jul 2013 00:46:34 GMT
[...]
