--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="iTCtFFXRTuTB8pTYN65fbWezs4DmwYmy64N1938g2M", oauth_signature="4JMc67cURN1kUD70r12q2ghwO3s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103591", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 01 Mar 2013 02:06:31 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/367202338/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="pfmYBVQESL06zxHrEYhPzAHp3Rap245cDrdCekQiyU0", oauth_signature="6Idqhdd1Ev3o05kKdYQkkYyoMy4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103591", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=367202338\", \"_href\": \"/pulp/api/v2/repositories/367202338/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"367202338\"}}"
  recorded_at: Fri, 01 Mar 2013 02:06:31 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="JStRRrpXsfOTd81Y5F4KVKdVjq2lEUdDYhu4AerH0", oauth_signature="HCRDRoWQXbMUY2QVy5tDzoag154%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103592", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]"
  recorded_at: Fri, 01 Mar 2013 02:06:32 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/unassociate/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="hQsdh6AG7clYqgp7YN5OrOeC7dYk7c5MObsPqOUI", oauth_signature="AgM4h07yij6u1CEup4f5ZOhMa%2Bk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103592", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]"
  recorded_at: Fri, 01 Mar 2013 02:06:32 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="T9MwghZ8JdxQBRcJ0BjlT9HMGkhcuwVkQvFxUfyt0", oauth_signature="24KROeMNKBXVz%2FpJzMDaha1llsk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103592", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": null, \"display_name\": null, \"description\": \"Super administrator with all access.\", \"_ns\": \"consumer_groups\", \"notes\": {}, \"consumer_ids\": [], \"_id\": {\"$oid\": \"51300d289c60ed2a8900577b\"}, \"id\": \"simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\"}"
  recorded_at: Fri, 01 Mar 2013 02:06:32 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumer_groups/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"simple_group\",\"description\":\"Super administrator with all access.\",\"consumer_ids\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="pAk8Sb4Eikhcmlmx5dvIMsL7BrCQ1J3ZYn5twU9buR4", oauth_signature="RElNJ8zOU%2Fv0r2yTD2HzVbHPB4E%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103593", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumer_groups/simple_group/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": null, \"display_name\": null, \"description\": \"Super administrator with all access.\", \"_ns\": \"consumer_groups\", \"notes\": {}, \"consumer_ids\": [\"010E99C0-3276-11E2-81C1-0800200C9A66\"], \"_id\": {\"$oid\": \"51300d299c60ed2a890057b4\"}, \"id\": \"simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\"}"
  recorded_at: Fri, 01 Mar 2013 02:06:33 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6pgQR5TAFDp8SXZDeR3AWcWflXDF8V6APgkorKu8U4", oauth_signature="H7A6JFccXiOko7j7xw4svRefHF0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103596", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): consumer_group=simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"consumer_group\": \"simple_group\"}}"
  recorded_at: Fri, 01 Mar 2013 02:06:36 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="1IrkGcv4XzeGsqhAw8IQZYBamEkAF1YEzTJmDsnA", oauth_signature="Iv86neuhDsjKv7khILawuQjAy9Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103598", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 01 Mar 2013 02:06:38 GMT
recorded_with: VCR 2.4.0
