--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Xz3uSbxl2eERHSGRxppoJf9wdOTxjRI2v4mhUarZ0", oauth_signature="Rd0%2FXXBHFaEZK%2BVIjFXkTky8sHw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816418", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Wed, 20 Mar 2013 21:53:38 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2014-03-20T17:53:38-04:00/P1D\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="xid7VAjq9kAUEGXA1Hihy68FYItx4UOQyfccXpB7Yg", oauth_signature="eYh4OErd%2BU6Pl%2FtEaJHJ5Qz4zA4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816418", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/514a2fe29c60ed64a30018de/
      Content-Type: 
      - application/json
    body: 
      string: "{\"next_run\": \"2014-03-20T21:53:38Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/514a2fe29c60ed64a30018de/\", \"schedule\": \"2014-03-20T17:53:38-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-03-20T21:53:38Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"514a2fe29c60ed64a30018de\", \"consecutive_failures\": 0}"
  recorded_at: Wed, 20 Mar 2013 21:53:38 GMT
