--- 
http_interactions: 
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/33d5b721-25d2-4089-afd5-563e9152dd4f/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="yaT6T2sNUuYlRc7mIi8aMRUiiskCcnbV0XecMyQPEgI", oauth_signature="i3U%2B8Vu%2F3l1SzSNxQB0Om3TWFY4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185894", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/33d5b721-25d2-4089-afd5-563e9152dd4f/\", \"task_id\": \"33d5b721-25d2-4089-afd5-563e9152dd4f\", \"tags\": [\"pulp:repository:4\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:34Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"puppet_importer\": {\"modules\": {\"error_message\": null, \"execution_time\": null, \"total_count\": null, \"traceback\": null, \"individual_errors\": [], \"state\": \"not-started\", \"error_count\": null, \"error\": \"None\", \"finished_count\": null}, \"metadata\": {\"query_finished_count\": 0, \"traceback\": null, \"execution_time\": null, \"query_total_count\": 1, \"error_message\": null, \"state\": \"running\", \"error\": \"None\", \"current_query\": null}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524263c307ec505e8613b\"}, \"id\": \"5375242686d9a9321e2b9334\"}"
  recorded_at: Thu, 15 May 2014 20:31:34 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/7c8dd4c7-f23c-449c-8668-42b5b142ffc5/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="eRHwk5GVTjOuyVCEjUWeBidCXCKSxak6rcEjeYziC4", oauth_signature="SOxjbOgodk2F9Iq%2B1%2BZ%2Fra2StcA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185904", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/7c8dd4c7-f23c-449c-8668-42b5b142ffc5/\", \"task_id\": \"7c8dd4c7-f23c-449c-8668-42b5b142ffc5\", \"tags\": [\"pulp:repository:4\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:31:42Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:42Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"4\", \"started\": \"2014-05-15T21:31:42+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-15T21:31:42+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 4}, \"distributor_id\": \"4_nodes\", \"id\": \"5375242e86d9a932edcb27b7\", \"result\": \"success\"}, \"error\": null, \"_id\": {\"$oid\": \"5375242d3c307ec505e8613c\"}, \"id\": \"5375242d86d9a932edcb27b5\"}"
  recorded_at: Thu, 15 May 2014 20:31:44 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/4/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="adld8KFNMvKSzYAEZWIam3xf2ky4QVoaRIIBNC08btY", oauth_signature="FWW%2BnD2VLitILC%2Fdke8dcD2MVUQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185918", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/2460bd46-d92d-4610-adf0-c61eb06a017b/\", \"task_id\": \"2460bd46-d92d-4610-adf0-c61eb06a017b\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:59 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/puppet_module/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"ef675fc3-a8d2-469a-a39a-63c1a46eb576\",\"27edfbfb-4c6e-49d7-a2b6-e453881de269\",\"3a2fb27a-4fdb-405e-8bfa-4e41a502d51d\",\"8697d769-3bb4-445a-afd0-d96d9806e9bb\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="r93giRRTmKMLYegVyG8X8V0fbvf4klDjekMuFFcw", oauth_signature="AYTbxYNpSaCUSqLwkYomyeax%2FuU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185923", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_href\": \"/pulp/api/v2/content/units/puppet_module/27edfbfb-4c6e-49d7-a2b6-e453881de269/\", \"_content_type_id\": \"puppet_module\", \"checksums\": [[\"files/spdy/mod-spdy-beta_current_i386.rpm\", \"4abdee35392c1c6d329def2017393403\"], [\"manifests/params.pp\", \"d02eb87a3ed69ff638ca028b67001621\"], [\"manifests/ssl.pp\", \"6d8a9caf1a13132b6cd2464da606281b\"], [\"manifests/init.pp\", \"fcd8c8f976710eac6532adc2f28bfa44\"], [\"manifests/dev.pp\", \"13e0564d366f27694b115f8112406429\"], [\"manifests/vhost.pp\", \"6eac84201d239436c386fe2adf4c4252\"], [\"templates/httpd.conf.RHEL.erb\", \"4cbcc29765356aeb9a01beece6738fe8\"], [\"files/spdy/mod-sp[...]
[...]
- request: 
    method: get
    uri: https://katello-pulp.example.com/pulp/api/v2/tasks/af7d5bd5-a769-4c9c-a6cc-4d158bc0b2c9/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="bELLi7M9cDHI0fiEsmSvNlVAitc9gaAVbEMeSCGb0g", oauth_signature="wNZ6jlSebNFzEjs7P950AyjKZoU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437422515", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.sync.sync\", \"_href\": \"/pulp/api/v2/tasks/af7d5bd5-a769-4c9c-a6cc-4d158bc0b2c9/\", \"task_id\": \"af7d5bd5-a769-4c9c-a6cc-4d158bc0b2c9\", \"tags\": [\"pulp:repository:4\", \"pulp:action:sync\"], \"finish_time\": null, \"start_time\": null, \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"None.dq\", \"state\": \"waiting\", \"worker_name\": null, \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"55ad53b38703361f3e0477de\"}, \"id\": \"55ad53b386bbe52d21e57c11\"}"
  recorded_at: Mon, 20 Jul 2015 20:01:55 GMT
[...]
- request: 
    method: post
    uri: https://katello-pulp.example.com/pulp/api/v2/content/units/puppet_module/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"fe1abc3c-cc5b-4b67-8fb3-7448878a265d\",\"eabcdd27-aac7-44c7-a331-54f5ea2db181\",\"9d7358d7-5d67-4a53-bfff-b3bf233e8c8a\",\"c6935279-1ed1-4968-95cb-f8cdb312d510\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="FXYyNMCVNX1BD7HTWTl3fcp7LkRWybPLISPCuDckWE", oauth_signature="1zk7Xt01TCrzaUDHvG9RMlb6puM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437422523", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"repository_memberships\": [\"4\"], \"_storage_path\": \"/var/lib/pulp/content/puppet_module/5UbZ3r0-pureftpd-1.0.2.tar.gz\", \"tag_list\": null, \"description\": \"Manage Pure-FTPd via Puppet\", \"license\": \"Apache License, Version 2.0\", \"author\": \"5UbZ3r0\", \"checksum\": null, \"_last_updated\": \"2015-07-20T20:02:00Z\", \"project_page\": \"https://github.com/saz/puppet-pureftpd\", \"summary\": \"\", \"_href\": \"/pulp/api/v2/content/units/puppet_module/9d7358d7-5d67-4a53-bfff-b3bf233e8c8a/\", \"source\": \"\", \"dependencies\": [], \"version\": \"1.0.2\", \"_content_type_id\": \"puppet_module\", \"checksums\": [[\"spec\\\\unit\\\\puppet\\\\type\\\\README.markdown\", \"de26a7643813abd6c2e7e28071b1ef94\"], [\"spec\\\\unit\\\\puppet\\\\provider\\\\README.markdown\", \"e52668944ee6af2fb5d5b9e798342645\"], [\"tests\\\\init.pp\", \"5d6e84bd06e23c4d565782db67e333ec\"], [\"files\\\\debian\\\\PAMAuthentication\", \"eb4585ad9fe0426781ed7c49252f8225\"], [\"files\\\\debian\\\\ChrootEveryone\", \"eb4585ad9fe0426781ed7c49252f8225\"], [\"manifests\\[...]
[...]
- request: 
    method: get
    uri: https://katello-distributions2.example.com/pulp/api/v2/tasks/ef751396-6bd0-4ba7-a0e6-226901351b37/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="R00XivaKUeoHZrWdZo69GmJLaeXzp4WlVgyOUqXJ34", oauth_signature="V18xxnDUqz9r%2FFeLpp7OI%2B0bLmw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439927389", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.sync.sync\", \"_href\": \"/pulp/api/v2/tasks/ef751396-6bd0-4ba7-a0e6-226901351b37/\", \"task_id\": \"ef751396-6bd0-4ba7-a0e6-226901351b37\", \"tags\": [\"pulp:repository:4\", \"pulp:action:sync\"], \"finish_time\": null, \"start_time\": null, \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"None.dq\", \"state\": \"waiting\", \"worker_name\": null, \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"55d38c5d8627eee487c932ee\"}, \"id\": \"55d38c5ddb0c21042893e401\"}"
  recorded_at: Tue, 18 Aug 2015 19:49:49 GMT
[...]
- request:
    method: post
    uri: https://katello-distributions2.example.com/pulp/api/v2/repositories/
    body:
      encoding: US-ASCII
      string: "{\"id\":\"5\",\"display_name\":\"P Forge\",\"importer_type_id\":\"puppet_importer\",\"importer_config\":{},\"notes\":{\"_repo-type\":\"puppet-repo\"},\"distributors\":[{\"distributor_type_id\":\"puppet_install_distributor\",\"distributor_config\":{\"install_path\":\"/etc/puppet/environments/KT_dev_label_org_default_label_30237652/modules\",\"auto_publish\":true},\"auto_publish\":true,\"distributor_id\":\"5\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"5_nodes\"}]}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="1EvR8oJjNEwN92SCw90dANaChgZrTMinmllEtW9gRI", oauth_signature="0Xee66OasnlpyO1LOCwcUqKjqtw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439927396", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "5"
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"P Forge\", \"description\": null, \"last_unit_added\": null, \"notes\": {\"_repo-type\": \"puppet-repo\"}, \"last_unit_removed\": null, \"content_unit_counts\": {}, \"_ns\": \"repos\", \"_id\": {\"$oid\": \"55d38c64db0c21042893e41a\"}, \"id\": \"5\", \"_href\": \"/pulp/api/v2/repositories/5/\"}"
  recorded_at: Tue, 18 Aug 2015 19:49:56 GMT
- request:
    method: delete
    uri: https://katello-distributions2.example.com/pulp/api/v2/repositories/5/
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="b8nvxqRy82PsWN79muEZqizssFHSUhlnjZAhT0DydNI", oauth_signature="ZnlInf9IGQowKSL6kR4Ahj%2BYwo4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439927397", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/14127bd3-ad2a-490d-808f-8441869b718c/\", \"task_id\": \"14127bd3-ad2a-490d-808f-8441869b718c\"}], \"result\": null, \"error\": null}"
  recorded_at: Tue, 18 Aug 2015 19:49:57 GMT
[...]
- request:
    method: post
    uri: https://katello-distributions2.example.com/pulp/api/v2/repositories/
    body:
      encoding: US-ASCII
      string: "{\"id\":\"4\",\"display_name\":\"P Forge\",\"importer_type_id\":\"puppet_importer\",\"importer_config\":{\"feed\":\"http://davidd.fedorapeople.org/repos/random_puppet/\"},\"notes\":{\"_repo-type\":\"puppet-repo\"},\"distributors\":[{\"distributor_type_id\":\"puppet_install_distributor\",\"distributor_config\":{\"install_path\":\"/test_path/\",\"auto_publish\":true},\"auto_publish\":true,\"distributor_id\":\"4\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"4_nodes\"}]}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="fdKM8697bcY8YxhB5uFjxTP8wiCnQlN5H8O3qpb6fts", oauth_signature="XEl1XcC69%2BqjXuxSalpf49nbcd8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439927409", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "4"
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"P Forge\", \"description\": null, \"last_unit_added\": null, \"notes\": {\"_repo-type\": \"puppet-repo\"}, \"last_unit_removed\": null, \"content_unit_counts\": {}, \"_ns\": \"repos\", \"_id\": {\"$oid\": \"55d38c71db0c21042893e469\"}, \"id\": \"4\", \"_href\": \"/pulp/api/v2/repositories/4/\"}"
  recorded_at: Tue, 18 Aug 2015 19:50:09 GMT
- request:
    method: post
    uri: https://katello-distributions2.example.com/pulp/api/v2/repositories/4/actions/sync/
    body:
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4,\"validate\":true}}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="6X3UbOterTJp1PHsZUMUAEnbtlh2fXYkskdKlibbwU", oauth_signature="uiEbSK2024mg%2Ff9CixuP522rZ1U%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439927409", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/3f0cbc55-5e1b-4a57-980f-4050fe136cc3/\", \"task_id\": \"3f0cbc55-5e1b-4a57-980f-4050fe136cc3\"}], \"result\": null, \"error\": null}"
  recorded_at: Tue, 18 Aug 2015 19:50:09 GMT
[...]
- request:
    method: post
    uri: https://katello-distributions2.example.com/pulp/api/v2/repositories/4/search/units/
    body:
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"puppet_module\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="8kmePMdiJN0TtrNgsrhYvsSck8ufx0gtmBkQMMg", oauth_signature="El3dqQawMP2NDl%2B8xcSFmLeTmLM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439927412", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "[{\"metadata\": {\"_id\": \"babe1088-a385-43a8-9a2c-1cc805999789\", \"_content_type_id\": \"puppet_module\"}, \"_id\": {\"$oid\": \"55d38c73db0c216535777a02\"}, \"unit_id\": \"babe1088-a385-43a8-9a2c-1cc805999789\", \"unit_type_id\": \"puppet_module\"}, {\"metadata\": {\"_id\": \"a1fdd4bd-72ba-4186-9289-baf434bb6196\", \"_content_type_id\": \"puppet_module\"}, \"_id\": {\"$oid\": \"55d38c74db0c216535777a04\"}, \"unit_id\": \"a1fdd4bd-72ba-4186-9289-baf434bb6196\", \"unit_type_id\": \"puppet_module\"}, {\"metadata\": {\"_id\": \"e3050ec8-d38e-4936-9a67-5afdbf38dc27\", \"_content_type_id\": \"puppet_module\"}, \"_id\": {\"$oid\": \"55d38c73db0c216535777a03\"}, \"unit_id\": \"e3050ec8-d38e-4936-9a67-5afdbf38dc27\", \"unit_type_id\": \"puppet_module\"}, {\"metadata\": {\"_id\": \"be8a575d-c40c-4e00-b5bb-70b9be9b7a27\", \"_content_type_id\": \"puppet_module\"}, \"_id\": {\"$oid\": \"55d38c73db0c216535777a01\"}, \"unit_id\": \"be8a575d-c40c-4e00-b5bb-70b9be9b7a27\", \"unit_type_id\": \"puppet_module\"}]"
  recorded_at: Tue, 18 Aug 2015 19:50:12 GMT
- request:
    method: post
    uri: https://katello-distributions2.example.com/pulp/api/v2/content/units/puppet_module/search/
    body:
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"babe1088-a385-43a8-9a2c-1cc805999789\",\"a1fdd4bd-72ba-4186-9289-baf434bb6196\",\"e3050ec8-d38e-4936-9a67-5afdbf38dc27\",\"be8a575d-c40c-4e00-b5bb-70b9be9b7a27\"]}}},\"include_repos\":true}"
    headers:
      Content-Type:
      - application/json
      Authorization:
    [...]
[...]
