--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"YZkRQkDyVY32dyFZ\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="CtCmQwvipM2xZ5ENvlpd4hvuBwOay4SS1tTHW9T5h44", oauth_signature="HuD9LAGsDbwW6oxui60KkhSmc%2Bk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693116", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51c2603d5ca01342b1083590\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"51c2603d5ca01342b1083590\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Thu, 20 Jun 2013 01:51:57 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="eUQtVdhlxmrwkM2i4e9Mqw1IczfH5X1euag0ALKI", oauth_signature="Wcsg%2FRmzqTNwcCB7q7A5mT3ERCg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693117", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 20 Jun 2013 01:51:57 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="vmH6rBWEpTWFvNNRFUtmyaA0sujCcMFZVZXfdao4", oauth_signature="esl6tgya3aFKsAhqvFClUWOi98g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693124", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 20 Jun 2013 01:52:04 GMT
recorded_with: VCR 2.4.0
