--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"dLPtnlelnjzvhsqW\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="nPKTbfSvcoYXVmaTPtJWdcCtsk2GMu1WzMhzYGl8", oauth_signature="PMwbgWf3SpnfVzpewxk%2F7BT0kZg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277370", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"5151387a5ca0133d08002c40\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"5151387a5ca0133d08002c40\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Tue, 26 Mar 2013 05:56:10 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="clk2JjA9HMFee0DyWLdSxBdumfzv8rkJ4ZtJ6gI", oauth_signature="tM8ufZJRYfjsafQ2cZJWAhtEogQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277370", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 26 Mar 2013 05:56:11 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="eYfBfe2Jr1DNP4MDdCvB4F4sIuo0seQitcLhI8dW1c", oauth_signature="zZcOvq8vmaXqSucEtAyinyZg%2Bz4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277377", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 26 Mar 2013 05:56:17 GMT
recorded_with: VCR 2.4.0
