--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="LslTzO6IgmRCRBxW5bemBweNL5opyC9NGwOoWuEaCs", oauth_signature="4NeD%2BGUdZeIe0O%2BU4T1XhGdK8lE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376676953", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 16 Aug 2013 18:15:53 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2014-08-16T14:15:53-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="LPIQ25yUisEfZPP6XsYaztQLNvdwupUVM6vuIYRGU", oauth_signature="iu1YH63LCkk98KlKLkOdsDiuFWo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376676953", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/520e6c595ca01325e2eb42d9/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-08-16T18:15:53Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/520e6c595ca01325e2eb42d9/\", \"schedule\": \"2014-08-16T14:15:53-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-08-16T18:15:53Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"520e6c595ca01325e2eb42d9\", \"consecutive_failures\": 0}"
  recorded_at: Fri, 16 Aug 2013 18:15:53 GMT
recorded_with: VCR 2.5.0
