--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/980b9d5a-0571-4a1a-8f7c-022d433d4911/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="erPmNzi3EH860LWVOLMEXWycF66HUCrjEDFScLRMWM", oauth_signature="VqfvVOVdOG9osbwYkMEWzgnxyk0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353344190", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/980b9d5a-0571-4a1a-8f7c-022d433d4911/\", \"task_id\": \"980b9d5a-0571-4a1a-8f7c-022d433d4911\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-11-19T16:56:30Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-19T16:56:30Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"980b9d5a-0571-4a1a-8f7c-022d433d4911\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 19 Nov 2012 16:56:30 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/6b2a4c5c-4168-4bbe-96e2-9b1dad7c75d3/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="LvlBsjAdQOj37g0Ln03uNkmxLwiqIPSaTLG9sJS1c", oauth_signature="OGgHRly9LX8yPYuHTmr%2BuOulA4M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353344191", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"77ab7395-75c3-45d4-aed6-d001270ab668\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/6b2a4c5c-4168-4bbe-96e2-9b1dad7c75d3/\", \"task_id\": \"6b2a4c5c-4168-4bbe-96e2-9b1dad7c75d3\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-19T16:56:31Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"77ab7395-75c3-45d4-aed6-d001270ab668\", \"call_request_id\": \"6b2a4c5c-4168-4bbe-96e2-9b1dad7c75d3\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 19 Nov 2012 16:56:31 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/6b2a4c5c-4168-4bbe-96e2-9b1dad7c75d3/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="hZx6SXLYXZkbGYpq5Z4I8I8X8sGxyiNd9OyoEYmdP0", oauth_signature="lyAdGbSq6%2FkX%2Ft2zRey2tq6ZHN4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353344192", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"77ab7395-75c3-45d4-aed6-d001270ab668\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/6b2a4c5c-4168-4bbe-96e2-9b1dad7c75d3/\", \"task_id\": \"6b2a4c5c-4168-4bbe-96e2-9b1dad7c75d3\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-19T16:56:31Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"77ab7395-75c3-45d4-aed6-d001270ab668\", \"call_request_id\": \"6b2a4c5c-4168-4bbe-96e2-9b1dad7c75d3\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 19 Nov 2012 16:56:32 GMT
[...]
