--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"4a8c6b9d-a0ff-4928-a00e-e09d8c6bf35a\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Gpr47IPNo3oXXw4to6GCkGxgl46JpQakAd3ZukU", oauth_signature="T0b%2BaS%2F0YENiAF18PI49KynGAOo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196498", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"status\": \"stable\", \"_storage_path\": null, \"from\": \"lzap+pub@redhat.com\", \"description\": \"One package errata\", \"title\": \"One package errata\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"sum\": null, \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"version\": \"1\", \"issued\": \"2010-01-01 01:01:01\", \"_content_type_id\": \"erratum\", \"references\": [], \"_id\": \"4a8c6b9d-a0ff-4928-a00e-e09d8c6bf35a\", \"type\": \"security\", \"id\": \"RHEA-2010:0002\", \"_href\": \"/pulp/api/v2/content/units/erratum/4a8c6b9d-a0ff-4928-a00e-e09d8c6bf35a/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Tue, 30 Jul 2013 15:01:38 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="x9x1x6kJ4fWrpdQV85TqoaqGGF75hOkdOXE7qXTIUPw", oauth_signature="vYrmSFIVhkkOsOP50p9EJFUHOfU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196501", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_id\": {\"$oid\": \"51f7d5535ca0137fe7579d5b\"}, \"unit_id\": \"1d6343f9-643e-49fc-94ab-f1b865b59708\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"1d6343f9-643e-49fc-94ab-f1b865b59708\"}}, {\"_id\": {\"$oid\": \"51f7d5535ca0137fe7579d5c\"}, \"unit_id\": \"4a8c6b9d-a0ff-4928-a00e-e09d8c6bf35a\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"4a8c6b9d-a0ff-4928-a00e-e09d8c6bf35a\"}}]"
  recorded_at: Tue, 30 Jul 2013 15:01:41 GMT
[...]
