--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/3e0ccc98-51e3-4d75-bcc0-45c102f5fa14/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="m2zaKPFBoNBM7rituUws1r3gJAcNGXfbDUML6GkRY", oauth_signature="zO6NpYEuKilPEE1cvmSrvsiz32w%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201081", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/3e0ccc98-51e3-4d75-bcc0-45c102f5fa14/\", \"task_id\": \"3e0ccc98-51e3-4d75-bcc0-45c102f5fa14\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-01-14T22:04:40Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-01-14T22:04:40Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"3e0ccc98-51e3-4d75-bcc0-45c102f5fa14\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 22:04:41 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/1f7a6047-11d1-46a1-a376-3775b93a08ca/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RjB5a9qx3JvHp9dq55aaCnil6a0BhPFwUZkgkVHeYU", oauth_signature="nhKMAt%2BiFEmmaAT8dmTjeJa5iSc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201084", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"5b24506a-d470-4d8d-8a80-f9a63a2f3423\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/1f7a6047-11d1-46a1-a376-3775b93a08ca/\", \"task_id\": \"1f7a6047-11d1-46a1-a376-3775b93a08ca\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-14T22:04:44Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"5b24506a-d470-4d8d-8a80-f9a63a2f3423\", \"call_request_id\": \"1f7a6047-11d1-46a1-a376-3775b93a08ca\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 22:04:44 GMT
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/1f7a6047-11d1-46a1-a376-3775b93a08ca/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="PNOieeYeg2Y3z3sachlPrx5asL8aAbBF7JoAqL5Iao", oauth_signature="Jzc%2BJiztX6sve3dyDFHiZd%2FyOyk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201084", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"5b24506a-d470-4d8d-8a80-f9a63a2f3423\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/1f7a6047-11d1-46a1-a376-3775b93a08ca/\", \"task_id\": \"1f7a6047-11d1-46a1-a376-3775b93a08ca\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-14T22:04:44Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"5b24506a-d470-4d8d-8a80-f9a63a2f3423\", \"call_request_id\": \"1f7a6047-11d1-46a1-a376-3775b93a08ca\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 22:04:44 GMT
[...]
