--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="0KgHPuDtw1vSpyPd1AWhPlUSNqF9Gsznim4kEkKXMrI", oauth_signature="obNbd7LZdGtOgS%2FNOiodOWQdS0Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071822", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Sat, 06 Jul 2013 00:50:22 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2014-07-05T20:50:22-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="hLrpNnSTBuHvizSQRQtFI7TT9O9dBh7b04umu4fxms", oauth_signature="tgMQ%2BIRgwoyZWaqxFwr3PegUsxE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071822", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51d769ce5ca0130acd0c23a3/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-07-06T00:50:22Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51d769ce5ca0130acd0c23a3/\", \"schedule\": \"2014-07-05T20:50:22-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-07-06T00:50:22Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"51d769ce5ca0130acd0c23a3\", \"consecutive_failures\": 0}"
  recorded_at: Sat, 06 Jul 2013 00:50:22 GMT
recorded_with: VCR 2.4.0
