--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":\"batman\",\"password\":\"QuJObr0iVxvs9unX\",\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="nUBL9zSIV1TC1JM5Gr6PlUfJadDSn1T1TIYQgRDhfA", oauth_signature="VhPAx1bZzi4VIU0jP3E%2BXjPZdg4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493687", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - batman
    body: 
      string: "{\"_id\": {\"$oid\": \"51083a37196cbe0570001024\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"51083a37196cbe0570001024\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Tue, 29 Jan 2013 21:08:07 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Z6WWZ2HGBNuWRgqKYFjFYefM6PbJ6tayTVNpREuIns", oauth_signature="204lDhOXNRNW6fMmtZsPZjW6Nd0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493689", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 29 Jan 2013 21:08:10 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Hx9m4BAay7vtnnU3brUTwYzQvzSqkHRJ220FfeRW9U", oauth_signature="b8G%2FJ0ACiWbwF%2BhallmSqB1KyEI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493691", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 29 Jan 2013 21:08:11 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="8ofJPp0gQGKyoTgSoFkVvAMtREQOtNy6EZHeCbFtlBU", oauth_signature="lqQTE47bVwCCR8Cjm0GWhakbwE4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493691", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 29 Jan 2013 21:08:12 GMT
