--- 
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/?details=true
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="EVABKWWsvtsmFOB4tgXaXW7aBTSvVgCd2NPWXTZWQ", oauth_signature="LYLTyt9GSv6odD7fFP8Lw5ejRqY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179630", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\", \"repodata\": {}}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 14, \"_id\": {\"$oid\": \"50f42d2a196cbe47d70013ce\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2013-01-14T11:07:08-05:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"50f42d2a196cbe47d70013cf\"}, \"config\": {\"feed_url\": \"file:///home/paji/katello/katello/src/test/fixtures/zoo5\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"50f42d2a196cbe47d70013d0\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Mon, 14 Jan 2013 16:07:10 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      string: "{\"distributor_id\":\"1\",\"repo_id\":\"1\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="lgme6qNs6BzK3TNFsQNfA5pdeGxA4CNa00iu9nagSA", oauth_signature="slQsSB6gxjaoE7JErD2PQ6FQ4Xc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179630", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"69d31296-5c23-41f0-9867-f33f5330e1a7\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/69d31296-5c23-41f0-9867-f33f5330e1a7/\", \"task_id\": \"4156a71e-357e-4492-8279-2bb0378d33ce\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"69d31296-5c23-41f0-9867-f33f5330e1a7\", \"call_request_id\": \"4156a71e-357e-4492-8279-2bb0378d33ce\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": \"69d31296-5c23-41f0-9867-f33f5330e1a7\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/69d31296-5c23-41f0-9867-f33f5330e1a7/\", \"task_id\": \"937e99e8-8885-40e9-890b-941157a42361\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:agent_bind\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:agent_bind\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"69d31296-5c23-41f0-9867-f33f5330e1a7\", \"call_request_id\": \"937e99e8-8885-40e9-890b-941157a42361\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 14 Jan 2013 16:07:10 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/367202338/?details=true
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="hv9tU5BvtFpEa1ura3mwqgTYbZcJL3mdYSpJBHMjQQ", oauth_signature="QddIc5FnSzJnWNBe1c4gx7Oh3ds%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179635", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=367202338\", \"_href\": \"/pulp/api/v2/repositories/367202338/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"367202338\"}}"
  recorded_at: Mon, 14 Jan 2013 16:07:15 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/install//
    body: 
      string: "{\"options\":{},\"units\":[{\"unit_key\":{\"name\":\"mammals\"},\"type_id\":\"package_group\"}]}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="p2bTXEXazc7x14HxH2D6MKdwBcxXJQxoeTlray8tmOU", oauth_signature="tNdbCRLUQMzuO9xrzz35XpkLnjg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179635", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/6a6ced93-d37d-48b0-bdbd-c24c9e138b12/\", \"task_id\": \"6a6ced93-d37d-48b0-bdbd-c24c9e138b12\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"6a6ced93-d37d-48b0-bdbd-c24c9e138b12\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 16:07:15 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/uninstall//
    body: 
      string: "{\"options\":{},\"units\":[{\"unit_key\":{\"name\":\"mammals\"},\"type_id\":\"package_group\"}]}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="CrO4aPRDXWSx8eb8OGcdiwAVsypHn3DQescckFv[...]
[...]
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/update//
    body: 
      string: "{\"options\":{},\"units\":[{\"unit_key\":{\"name\":\"cheetah\"},\"type_id\":\"rpm\"}]}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7fAER1VaxoKZ1O2rOAEsH9vVnfaCXcoXWspYo4TEWXQ", oauth_[...]
[...]
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"]}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="pS9VUjtWWDeSykmw9KqmR9mIoMeE38Kq28Ky5pjOBRo", oauth_signature="Eo1Ubl6SzSlu6UOHb30o7oY1B2k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179642", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2013-01-14T21:07:13Z\", \"repo_id\": \"1\", \"created\": \"2013-01-14T21:07:13Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"03fa2519-b8fe-4a95-9b34-9f5ee056a75a\", \"unit_type_id\": \"erratum\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"50f42d31196cbe47d7001460\"}, \"id\": \"50f42d31196cbe47d7001460\", \"owner_id\": \"yum_importer\", \"metadata\": {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"_ns\": \"units_erratum\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"03fa2519-b8fe-4a95-9b34-9f5ee056a75a\"}}, {\"updated\": \"2013-01-14T21:07:13Z\", \"repo_id\": \"1\", \"created\": \"2013-01-14T21:07:13Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"c8f2e8fa-9c83-472a-93e3-78261f0e7833\", \"unit_type_id\": \"erratum\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"50f42d31196cbe47d7001462\"}, \"id\": \"50f42d31196cbe47d7001462\", \"owner_id\": \"yum_importer\", \"metadata\": {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"_ns\": \"units_erratum\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"c8f2e8fa-9c83-472a-93e3-78261f0e7833\"}}]"
  recorded_at: Mon, 14 Jan 2013 16:07:22 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"03fa2519-b8fe-4a95-9b34-9f5ee056a75a\",\"c8f2e8fa-9c83-472a-93e3-78261f0e7833\"]}}}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="P5Vvo3TT8zsogEQhWo4ggEykf5Q8VVUBnG24n0dhFA", oauth_signature="3Tcst563btj2izC7j1LMRPcb%2FUE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179642", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"03fa2519-b8fe-4a95-9b34-9f5ee056a75a\", \"_href\": \"/pulp/api/v2/content/units/erratum/03fa2519-b8fe-4a95-9b34-9f5ee056a75a/\", \"children\": {}}, {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"c8f2e8fa-9c83-472a-93e3-78261f0e7833\", \"_href\": \"/pulp/api/v2/content/units/erratum/c8f2e8fa-9c83-472a-93e3-78261f0e7833/\", \"children\": {}}]"
  recorded_at: Mon, 14 Jan 2013 16:07:22 GMT
[...]
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumers/
    body: 
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="YoegB2J6MXkl7OjSZTJ85ZY5y7EsfM2AuWPjUP9TM", oauth_signature="Gi4LMc2BFKgQ7OXuPqICVLFSsco%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179644", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "{'_href': u'/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/'}"
      Content-Type: 
      - application/json
    body: 
      string: "{\"display_name\": \"Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXQIBAAKBgQCx9nxcUa/Aba5yLfR3BMhq0xEofTkfWzByox4JrB6jqH8ItTkD\\n4+rhjoB5hFdBoH4Yn+V8XOOcX+xPhUWQ3mHK7SybxMdMnxMF1/AUiRutPreLNFcm\\nrhHW+btZPxQdGK1Ej9o77TYQTR2Qwyg8F/ZbW8521z1kzISb0aix+BE9rwIDAQAB\\nAoGAWGKn7x3u4O5YdoLWaIoqk8uSOP7AcQ9UJ4tV7s3aRcP4m7WNxJ3c2PtyWWfe\\nAk0Yc1hunG5x6QdHEVOKcmHQRSmNqw0BEYSeoba45Nuexih9GiDpsR0tekQIrWRr\\nm5cRELDlpUom4tJZO0A9EV1Kwp2b+QPiI/VqNLdfjlZXA8ECQQDdlYo4Bfm9d7Aj\\nGLzVbEMUrY3tKzu/3uQ96JYcvGHOuj8KzLwGkwz07iLYIM29RAs5Lfv2MeKun[...]
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles//
    body: 
      string: "{\"content_type\":\"rpm\",\"profile\":[{\"version\":\"0.3\",\"name\":\"elephant\",\"arch\":\"noarch\",\"release\":\"0.8\",\"vendor\":\"FedoraHosted\"}]}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Bq0uSy0tEBySRArlWApg2xxw7ckfMOnR7etfpUxwm0c", oauth_signature="SDS6SVKgkDLG69qNqxotTZkvfRk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179653", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/
      Content-Type: 
      - application/json
    body: 
      string: "{\"profile\": [{\"release\": \"0.8\", \"arch\": \"noarch\", \"version\": \"0.3\", \"vendor\": \"FedoraHosted\", \"name\": \"elephant\"}], \"_ns\": \"consumer_unit_profiles\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"content_type\": \"rpm\", \"_id\": {\"$oid\": \"50f0ad39196cbe47d700018d\"}, \"id\": \"50f0ad39196cbe47d700018d\", \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/\"}"
  recorded_at: Mon, 14 Jan 2013 16:07:33 GMT
[...]
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="amxuUM30mmZWFUU0GFSM5ZuGX73uhEVg1B7v8fdeI", oauth_signature="KS0oRA1GivobkBjSR2AdIUK2z0w%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179654", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 14 Jan 2013 16:07:35 GMT
[...]
- request: 
    method: put
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      string: "{\"delta\":{\"display_name\":\"Not So Simple Server\"}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="FlxXy7UN2WZbYxPqhqxcu6JcSlraIP3LuTQjRIsomc", oauth_signature="07b%2F9DP0KgUAsW3yF4SQX84OkCM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179655", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"display_name\": \"Not So Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN CERTIFICATE-----\\nMIIB4TCCAUoCAgGHMA0GCSqGSIb3DQEBBQUAMEIxITAfBgNVBAMMGGthZmthLnVz\\nZXJzeXMucmVkaGF0LmNvbTELMAkGA1UEBhMCVVMxEDAOBgNVBAcMB1JhbGVpZ2gw\\nHhcNMTMwMTE0MTYwNzM1WhcNMjMwMTEyMTYwNzM1WjAvMS0wKwYDVQQDEyQwMTBF\\nOTlDMC0zMjc2LTExRTItODFDMS0wODAwMjAwQzlBNjYwgZ8wDQYJKoZIhvcNAQEB\\nBQADgY0AMIGJAoGBALEWzPq92LhCOf1Pwbc1zZQ/cCwl3XELEQKWoEo0umR23D8Q\\nEkE2ExCFo24VMWviiabP05GrbM6cPrFWr5tbjgAe5zSKuF5kkRsZSkipeMpVH+w3\\nyu0nbN51mwOCy24nc7YAV7zYvb/d2bU2qIHs8fuQP8T/ynXegYKDJRmu19pxAgMB\\nAAEwDQYJKoZIhvcNAQEFBQADgYEAEYxk7wUld8y0HBd+U/EcV276F9njmqrbNgQ1\\nSR4xyDI+Q2Mr4vSNzu8Qs2bVIGP+8DI9rh0Y8CI4XU/gor2m9FfBpTu2MFNPLLgj\\n1MfzZMol+R2ECWYQEjqcaXnz+o/3m1anUgXeUUqWQcYQDg0DntAkZj2SNBYnAAq6\\nOS0Wblc=\\n-----END CERTIFICATE-----\", \"_ns\": \"consumers\", \"notes\": {}, \"capabilities\": {}, \"_id\": {\"$oid\": \"50f42d47196cbe47d7001533\"}, \"id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/\"}"
  recorded_at: Mon, 14 Jan 2013 16:07:36 GMT
[...]
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="lZ96fesI2rSB1aboYqp5f7F1bugF9c4Ms482DhfVls", oauth_signature="pUcmeQtAIOtmRsxbFxZZIjPJHqw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179656", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 14 Jan 2013 16:07:36 GMT
recorded_with: VCR 2.4.0
