--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QH0muHKDhBgF0Uu22XysWpQFefxe5NSZXRStdgkA", oauth_signature="%2BPLgPYhujaH2Ca58bRLCOJ0HMgE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158493", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Thu, 13 Jun 2013 21:21:33 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2014-06-13T17:21:33-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="PKWBrLxoMsrIDkZzH1Eee3jcG3aWLu6pq5udVhbcUTM", oauth_signature="zXuCcNVEkDrB%2BuhxBwXyJLZYGV4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158493", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51ba37dd5ca01344a5ca9603/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-06-13T21:21:33Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51ba37dd5ca01344a5ca9603/\", \"schedule\": \"2014-06-13T17:21:33-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-06-13T21:21:33Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"51ba37dd5ca01344a5ca9603\", \"consecutive_failures\": 0}"
  recorded_at: Thu, 13 Jun 2013 21:21:33 GMT
recorded_with: VCR 2.4.0
