--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/9f9dead2-f4b2-4c57-a9ea-04d189a760f9/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="OqsvTj2m7P6U38IgLFrYAuds3oR0aSGGEmCwKvBeDo", oauth_signature="rd87F%2FphktOCRtiFbrPIMAFK0Kc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158286", oauth_version="1.0"
      Pulp-User: 
      - hidden
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"a44b5924-9a8e-4ee5-8db6-824110b0bb43\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/9f9dead2-f4b2-4c57-a9ea-04d189a760f9/\", \"task_id\": \"9f9dead2-f4b2-4c57-a9ea-04d189a760f9\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"reasons\": [], \"start_time\": \"2013-06-13T21:18:06Z\", \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"state\": \"finished\", \"finish_time\": \"2013-06-13T21:18:06Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"a44b5924-9a8e-4ee5-8db6-824110b0bb43\", \"call_request_id\": \"9f9dead2-f4b2-4c57-a9ea-04d189a760f9\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"notify_agent\": false, \"repo_id\": \"1\", \"deleted\": false, \"_ns\": \"consumer_bindings\", \"distributor_id\": \"1\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"consumer_actions\": [], \"binding_config\": null, \"_id\": {\"$oid\": \"51ba370e5ca01344a5ca846a\"}, \"id\": \"51ba370e5ca01344a5ca846a\"}}"
  recorded_at: Thu, 13 Jun 2013 21:18:06 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="8ei2S4kOrVKbVpfIUN0yjb3mDO7h9Q59qpZ7KpVC8", oauth_signature="TXA3jfWdjFX4gYO5UKOKZ42iRpo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158424", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Thu, 13 Jun 2013 21:20:24 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="OUZ7GP73bbMOrjodTsx1rCzs84wRCEz9diGM7c7k", oauth_signature="hcXpzdHj1BazX7civ%2F%2BNnYtIda0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158424", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\"}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_counts\": {\"package_group\": 2, \"distribution\": 1, \"package_category\": 1, \"rpm\": 8, \"erratum\": 2}, \"_id\": {\"$oid\": \"51ba37965ca01344a5ca8fa7\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2013-06-13T17:20:23-04:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"51ba37965ca01344a5ca8fa8\"}, \"config\": {\"feed_url\": \"file:///home/jlsherri/git/katello/test/fixtures/zoo5\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2013-06-13T17:20:24-04:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"51ba37965ca01344a5ca8fa9\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Thu, 13 Jun 2013 21:20:24 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="qhKHBsxXDGE4ES7JulPgKixobxrdN86q53fD8m9k08", oauth_signature="tBYI68G0i37wFiV11MQuVjBUKXk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158425", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_id\": {\"$oid\": \"51ba37975ca01344a5ca8fc9\"}, \"unit_id\": \"4dee489b-915d-4d48-9961-86b7efe9cc53\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"4dee489b-915d-4d48-9961-86b7efe9cc53\"}}, {\"_id\": {\"$oid\": \"51ba37975ca01344a5ca8fcb\"}, \"unit_id\": \"b47f788a-8484-4d42-94d4-8f5be05104cf\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"b47f788a-8484-4d42-94d4-8f5be05104cf\"}}]"
  recorded_at: Thu, 13 Jun 2013 21:20:25 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"4dee489b-915d-4d48-9961-86b7efe9cc53\",\"b47f788a-8484-4d42-94d4-8f5be05104cf\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="eqQT5OtUfMxJHeDWIxiiHDDMbG2vCYTxOaZz4hh9M", oauth_signature="FxJKrkKnrl%2F6oZbTmenUFQS%2BX%2FU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158425", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"4dee489b-915d-4d48-9961-86b7efe9cc53\", \"_href\": \"/pulp/api/v2/content/units/erratum/4dee489b-915d-4d48-9961-86b7efe9cc53/\", \"children\": {}, \"repository_memberships\": [\"1\"]}, {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"b47f788a-8484-4d42-94d4-8f5be05104cf\", \"_href\": \"/pulp/api/v2/content/units/erratum/b47f788a-8484-4d42-94d4-8f5be05104cf/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Thu, 13 Jun 2013 21:20:25 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/install//
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"erratum\",\"unit_key\":{\"id\":\"b47f788a-8484-4d42-94d4-8f5be05104cf\"}}],\"options\":{\"importkeys\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="xEkwBefUIuCqhiVSAa2Qrb4xsfESH39Eq5EnKWuP0", oauth_signature="nD2WqSLn%2B%2BmHREc63l8bETRLABw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158425", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/a31815cc-8478-4b80-9e43-09e2d45460e6/\", \"task_id\": \"a31815cc-8478-4b80-9e43-09e2d45460e6\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"a31815cc-8478-4b80-9e43-09e2d45460e6\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 13 Jun 2013 21:20:25 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/uninstall//
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"cheetah\"}}],\"options\":{}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="GkfWnPsJYGL[...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/update//
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"cheetah\"}}],\"options\":{\"importkeys\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_no[...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="VvXV8MVwRJi8YZKWLwExJCJC1qj587FmG2dwEmAfNt4", oauth_signature="%2FG%2Bvqz4L5uOVQe2AOfaMZ7McqbY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158430", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "{'_href': u'/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/'}"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"display_name\": \"Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICWwIBAAKBgQDQ7nTAHl0uzBuRyPtcXSc4Buzq9BVj9P+W6peJjqiaPoCkyouh\\nraRVWemZ3to9x+M8vgtzZY9M4gVZIICt6ePPKKnBwHaTrf1OmNl3RKpDjluVb9tX\\nsGlQSTpoVCmjsVKfwRzFCSSx6EOS8vXV4ZpK9ThOnTjJbQx1qZVx8NcDtQIDAQAB\\nAoGABPa1VV8jTZpRyVviBOa9qMoZVNeprm9Cpz45jW4TOV7kxYV+Xb/3WIPDVgGC\\nY9dc4bOOKBawmd4AzIZGKFuXKujKLjZ49k7vTyFFh+PKfFFRf5/z7f9+aCv0EZWu\\n7J7k4mZsQ9dUNoTYsYHkOopooB/Cc+nxcR4PBIia2bT7UD0CQQDoPrMVvnYwCfe3\\nDeygzaBgTv8ZXqXmtJSMDpbf0AdNN4+qStQPiqK95vSaHjNiqBoludAceQfGs[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="4CkEafE0l4h5V0OlDEkcAsvFfMUVzNNezzs2rlIso", oauth_signature="oICy3lF6GaZqSupuLymOQSJBxUw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158440", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 13 Jun 2013 21:20:40 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles//
    body: 
      encoding: US-ASCII
      string: "{\"content_type\":\"rpm\",\"profile\":[{\"vendor\":\"FedoraHosted\",\"name\":\"elephant\",\"version\":\"0.3\",\"release\":\"0.8\",\"arch\":\"noarch\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="XG1ODtNLVi3Rvm0DJnxIamgQsEKGtHsUbRJ9ZFMZE4", oauth_signature="T01NSMCMgtfiFSLeqihH0CIEt24%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158440", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"profile\": [{\"release\": \"0.8\", \"vendor\": \"FedoraHosted\", \"version\": \"0.3\", \"arch\": \"noarch\", \"name\": \"elephant\"}], \"_ns\": \"consumer_unit_profiles\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"content_type\": \"rpm\", \"_id\": {\"$oid\": \"51ba318a5ca01344a5ca63ed\"}, \"id\": \"51ba318a5ca01344a5ca63ed\", \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/\"}"
  recorded_at: Thu, 13 Jun 2013 21:20:41 GMT
[...]
- request: 
    method: put
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: "{\"delta\":{\"display_name\":\"Not So Simple Server\"}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Ytb4wNMiHz2P6wDyAee40XiZBqVXLxoFOxFvaUGs", oauth_signature="dWxujJdRvdhT%2FZJ6UDj%2BotposwY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158441", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
    [...]
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="kEWd3CMogtK9l1Xw5AuGhx8E0CCzFzfaLKOnfU3Ns", oauth_signature="1c5c8whW%2FIHILupaCZX%2Bm7Zf%2BWc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158442", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 13 Jun 2013 21:20:42 GMT
recorded_with: VCR 2.4.0
