--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"hz87VpRzhKPOD89R\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="SrB6gBgyZt6pgMkESrccfMQnYyvc6CFpd34fJZYLfjQ", oauth_signature="r2ExG%2Bv3gd6%2Bj9rgstXBx%2BTbDfI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373168", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51ae3c305ca0133c2a01da03\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"51ae3c305ca0133c2a01da03\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Tue, 04 Jun 2013 19:12:48 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="UwLM89XPf8jLUbBYcvfzezgLSNThW9qitNipjnHkQ", oauth_signature="fRlBzCtzt9V3SljmZZFFf4ac7L0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373168", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 04 Jun 2013 19:12:48 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="qHH3VMKkre6UN4606ccsu4I7Z2KCnkKXifqydWvfZ04", oauth_signature="MzG1STVtDg%2Fyk7TDOejTiLZEOSA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373176", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 04 Jun 2013 19:12:56 GMT
recorded_with: VCR 2.4.0
