--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/rpm/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"253c0c55-266e-441c-901f-64b08f0835b5\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="P1pSwiVuXloev7O7KhrJPsSW678sZoHP18Fui0TTM", oauth_signature="5LBOCgSVd6jPlr7IzqATGnGcslQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693153", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"_content_type_id\": \"rpm\", \"vendor\": \"\", \"filename\": \"monkey-0.3-0.8.noarch.rpm\", \"epoch\": \"0\", \"version\": \"0.3\", \"provides\": [[\"monkey\", \"EQ\", [\"0\", \"0.3\", \"0.8\"]]], \"files\": {\"file\": [\"//monkey.txt\"]}, \"repodata\": {\"filelists\": \"\\n<package pkgid=\\\"0e8fa50d0128fbabc7ccc5632e3fa25d39b0280169f6166cb8e2c84de8501db1\\\" name=\\\"monkey\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n    <file>//monkey.txt</file>\\n</package>\\n\", \"other\": \"\\n<package pkgid=\\\"0e8fa50d0128fbabc7ccc5632e3fa25d39b0280169f6166cb8e2c84de8501db1\\\" name=\\\"monkey\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n</package>\\n\", \"primary\": \"\\n<package type=\\\"rpm\\\">\\n  <name>monkey</name>\\n  <arch>noarch</arch>\\n  <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n  <checksum type=\\\"sha256\\\" pkgid=\\\"YES\\\">0e8fa50d0128fbabc7ccc5632e3fa25d39b0280169f6166cb8e2c84de8501db1</checksum>\\n  <summary>A dummy package of monkey</summary>\\n  <description>A dummy package of monkey</description>\\n  <packager></packager>\\n  <url>http://tstrachota.fedorapeople.org</url>\\n  <time file=\\\"1321891029\\\" build=\\\"1308257260\\\"/>\\n  <size package=\\\"2232\\\" installed=\\\"2232\\\" archive=\\\"292\\\"/>\\n<location href=\\\"monkey-0.3-0.8.noarch.rpm\\\"/>\\n  <format>\\n    <rpm:license>GPLv2</rpm:license>\\n    <rpm:vendor/>\\n    <rpm:group>Internet/Applications</rpm:group>\\n    <rpm:buildhost>dhcp-26-118.brq.redhat.com</rpm:buildhost>\\n    <rpm:sourcerpm>monkey-0.3-0.8.src.rpm</rpm:sourcerpm>\\n    <rpm:header-range start=\\\"280\\\" end=\\\"2016\\\"/>\\n    <rpm:provides>\\n      <rpm:entry name=\\\"monkey\\\" flags=\\\"EQ\\\" epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n    </rpm:provides>\\n    <rpm:requires>\\n      <rpm:entry name=\\\"/bin/sh\\\" pre=\\\"0\\\"/>\\n    </rpm:requires>\\n  </format>\\n</package>\"}, \"description\": \"A dummy package of monkey\", \"arch\": \"noarch\", \"name\": \"monkey\", \"_storage_path\": \"/var/lib/pulp/content/rpm/.//monkey/0.3/0.8/noarch/0e8fa50d0128fbabc7ccc5632e3fa25d39b0280169f6166cb8e2c84de8501db1/monkey-0.3-0.8.noarch.rpm\", \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"changelog\": [], \"checksum\": \"0e8fa50d0128fbabc7ccc5632e3fa25d39b0280169f6166cb8e2c84de8501db1\", \"filelist\": [\"//monkey.txt\"], \"relativepath\": \"monkey-0.3-0.8.noarch.rpm\", \"release\": \"0.8\", \"_id\": \"253c0c55-266e-441c-901f-64b08f0835b5\", \"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_href\": \"/pulp/api/v2/content/units/rpm/253c0c55-266e-441c-901f-64b08f0835b5/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Thu, 20 Jun 2013 01:52:33 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]},\"limit\":500,\"skip\":0}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="zzXHd47vZNror5tEIaatswVlNjEzj4jAhaOy06IhT1s", oauth_signature="4Zrc3nnuQ%2F2FTI72%2BykfGBaz6w8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693156", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_id\": {\"$oid\": \"51c260625ca01342b10838b8\"}, \"unit_id\": \"9dc65f17-c044-4a3e-a99e-8ce78786979b\", \"unit_type_id\": \"rpm\", \"metadata\": {\"_id\": \"9dc65f17-c044-4a3e-a99e-8ce78786979b\"}}, {\"_id\": {\"$oid\": \"51c260625ca01342b10838b7\"}, \"unit_id\": \"5e1e5ef8-b6b8-4410-9dc8-beace52da34a\", \"unit_type_id\": \"rpm\", \"metadata\": {\"_id\": \"5e1e5ef8-b6b8-4410-9dc8-beace52da34a\"}}, {\"_id\": {\"$oid\": \"51c260625ca01342b10838b5\"}, \"unit_id\": \"4a96d60f-4c6b-4c1b-bbd3-d26b261c9f06\", \"unit_type_id\": \"rpm\", \"metadata\": {\"_id\": \"4a96d60f-4c6b-4c1b-bbd3-d26b261c9f06\"}}, {\"_id\": {\"$oid\": \"51c260625ca01342b1[...]
[...]
