--- 
http_interactions: 
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="B13pX9UU74BDh8NFJGN1BeeQ9fLSbkCyJsuUXigTSQ", oauth_signature="d%2FmN%2BKrAX%2Bi3%2FyVU1AGKR1JvCbc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693189", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Thu, 20 Jun 2013 01:53:10 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"name\":null,\"password\":\"9H8WYrrXFFhbLgcE\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="YTfJP3TnB4aV12y2HyrfHH4KhTU1xJHO6YfXyR5rasI", oauth_signature="MdF4m5Psj4FvvkyF%2FS25ixf62gU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693190", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 500
      message: Internal Se[...]
