--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="z1XQa4LsBXF9BASk6U5j5lFZaT2SdKyeFQZ6kRtpDI", oauth_signature="sVLqQVHAeSEKJvFNrb5%2FIIrX1Tc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493686", oauth_version="1.0"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Tue, 29 Jan 2013 21:08:06 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":null,\"password\":\"mOTwrrVJetB6dAaw\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="HnPnBg9WWN4R82RGP0uIJ3blrYUKLCGoNn0vpet8", oauth_signature="7iuJJ%2F2KTHbCid%2BA0MXdizQVSpA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493690", oauth_version="1.0"
  response: 
    status: 
      code: 500
      message: Internal Ser[...]
