--- 
http_interactions: 
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="EEN3TojW7tpaNAS064mmgHtTOr8do3DLIdJ4bNVU4", oauth_signature="hd03sj73Zjrh%2Bsp3uRD0CKDtdsU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032983", oauth_version="1.0"
  response: 
    status: 
      code: 405
      message: Method Not Allowed
    headers: 
      Content-Type: 
      - text/html; charset=UTF-8
      Allow: 
      - GET, POST
    body: 
      string: None
  recorded_at: Fri, 16 Nov 2012 02:29:44 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"T1L37pmXMbG2r3iH\",\"login\":\"batman\",\"name\":\"batman\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="269xPYUKAGcWtGLgv49W2pehIdoCQW0QqvHNoPYaYqo", oauth_signature="ruACWlRvOuYoFXAOyTguYrNIxNM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032985", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"50a5a519dc7921666d0024ce\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50a5a519dc7921666d0024ce\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Fri, 16 Nov 2012 02:29:45 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="CNL3sNHUnSyXjjXBRLQHZoJd7JjC7FxswyI6GKqIYN0", oauth_signature="ZiQlFKi4%2FX6AMxUz7WpsbyETkl0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032986", oauth_version="1.0"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=/pulp/api/v2/users/batman/\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"/pulp/api/v2/users/batman/\"}}"
  recorded_at: Fri, 16 Nov 2012 02:29:46 GMT
recorded_with: VCR 2.3.0
