--- 
http_interactions: 
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="0OJNIm7HXJ6xmhh9VEp1KITQN05JjsoKbiIukoiHug", oauth_signature="ewkTUY9c8gw4%2BHbaiglqUfZmRD8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053622", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Fri, 09 Aug 2013 13:07:02 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"name\":null,\"password\":\"InbK4KwWmjjmG2V8\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="STWFlBeedBTqbc1iyNFB5oAvW7BW14U1f0lXBptMo4", oauth_signature="CalxmY8KkrAQaG00qyOIs7mrPhY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053623", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 500
      message: Internal Serve[...]
