--- 
http_interactions: 
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="XyND7Yw9oOhYLxp0YXb6YCHVllLLyjdDYThG2isaXI", oauth_signature="cF74WGTQCmuI3i7ibkKi2qlHXYE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884938", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Thu, 21 Mar 2013 16:55:38 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"name\":null,\"password\":\"BHZUwA18z9wQ1itB\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="fdwtW3LctaUWEmVMvE3KoyQLox3aBRXGlpBk2ZtMXek", oauth_signature="ryQtBchAmKATqrpWhQDfYlPcnqE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884940", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 500
      message: Internal Serv[...]
