--- 
http_interactions: 
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="NyBqs4yH0KuDNiMjBL8sb9IXk6BilMbmYGyQcDJk", oauth_signature="Y8JpUsYHl4UrytQebuQ4bZNB%2Fwg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196537", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Tue, 30 Jul 2013 15:02:17 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"name\":null,\"password\":\"ujd3XtdcT9OBkj8Y\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="OgPEhsStXJyC7fOVHR4vRX0VzHvzUmp46iKaoXKg3j4", oauth_signature="XiDH28iypSWAwiVuvobVN73cs9o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196541", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 500
      message: Internal Serv[...]
