--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="aGS7ZDgiyEd66atExqgOZA8SVqGLeC8zDSfWjtJJTfM", oauth_signature="dknUkeBHPljZlH%2Bu2HezbFwFQPA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377524", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Wed, 16 Jan 2013 23:05:25 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":null,\"password\":\"wlfPO7kdrOtSx3tY\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="mNoFFKjA3JZAcedgEZQCQiveuhIPPk4wFLXaogC69vY", oauth_signature="Bxqh9UW5fio2oliJAEry58QvctU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377528", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 500
      message: Internal Serv[...]
