--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="aGVgvZuMjHODqQCFA5uNNDyIGTfdSISVszmDeS2CZHE", oauth_signature="f9IH%2FF2hgwk963wQaRlzCy3F%2BlI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116400", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=/pulp/api/v2/users/batman/\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"/pulp/api/v2/users/batman/\"}}"
  recorded_at: Fri, 21 Dec 2012 19:00:00 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"skGIqdbQSUNdKVIv\",\"name\":null}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="VsIhQiE4n6u6MCXs6wjgHECALD2refpA20h1yNzs", oauth_signature="SbsaeJ0Om5%2FsaAe9rFJ%2FcjmPJKE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116403", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 500
      message: Internal Server Error
    he[...]
