--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6nUsCVrEVCPMl7g2E2q8niw3iOQQjzREiqW3hPQrf1c", oauth_signature="lV0jMU47OuinTFz9HzVJK6Zn1Bk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954323", oauth_version="1.0"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Sat, 12 Jan 2013 01:32:04 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":null,\"password\":\"3sSHU5clChfTUQi9\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="gHLyPgg3YVJnGtLVaOXcKOD0tCnZo9sNntvAVuXKrHg", oauth_signature="3V8vaTWwfJG49OtgZXu3bAVbMlo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954327", oauth_version="1.0"
  response: 
    status: 
      code: 500
      message: Internal Serv[...]
