--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="9lOOFODitwNBO2u3z5OwuHWrCxl3PZPqvEaf9IwSTk", oauth_signature="Q54mQqejYdHO%2FnQC9eKeeTsPVU8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428053", oauth_version="1.0"
  response: 
    status: 
      code: 405
      message: Method Not Allowed
    headers: 
      Content-Type: 
      - text/html; charset=UTF-8
      Allow: 
      - GET, POST
    body: 
      string: None
  recorded_at: Tue, 20 Nov 2012 16:14:13 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"DwsRYaWmFFOz33Wj\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="bsCYMRRuP8bcv29oYRJD1jFnSZRz8S3W0hITwReqQ0k", oauth_signature="xoR%2BHd5IdCWJbWlNhWebtCnoSHs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428053", oauth_version="1.0"
  response: 
    status: 
      code: 409
      message: Conflict
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"POST\", \"exception\": null, \"error_message\": \"Duplicate resource: batman\", \"_href\": \"/pulp/api/v2/users/\", \"http_status\": 409, \"resource_id\": \"batman\", \"traceback\": null}"
  recorded_at: Tue, 20 Nov 2012 16:14:13 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="tt7foz92EcvYtwlyf1cOjWLuh7cIaieQfU0sYITky0k", oauth_signature="R16G%2Ffg%2BCwNOgm%2BCgTGJ%2B0AgDkg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428054", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 20 Nov 2012 16:14:14 GMT
