--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="cshKPpwHkK1gAz9h65wqW4gYzwcCozaVl0d7ypfw", oauth_signature="PWrOvg%2Fc93v52THAcFJ3FMqIAYQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428051", oauth_version="1.0"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=/pulp/api/v2/users/batman/\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"/pulp/api/v2/users/batman/\"}}"
  recorded_at: Tue, 20 Nov 2012 16:14:11 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"name\":null,\"password\":\"IxGYbUGs6EsZkGUM\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="CHqtGfAEokLiFVfXVMExsyqLI8fxieEAKyq9n9E48", oauth_signature="D3QKptb5vtQQE6oxWD0Ass8YINM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428053", oauth_version="1.0"
  response: 
    status: 
      code: 500
      message: Internal Server[...]
