--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="a4jtKzWWz8PYhjWkjgitn3USuGA2svqYP3OL8guvcw", oauth_signature="YSbW9kTpaTRXCCer4YnltFJSr9w%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920337", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Mon, 22 Oct 2012 15:38:57 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"name\":null,\"password\":\"bp3VjAYeUiNppNHY\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="bf5DQ4gwLJ0nRyUUOfOR0eZc61FR4yhinACIRbs2k", oauth_signature="eBxTKjeDclnZPR93qQ%2BpGHL0qeI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920339", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 500
      message: Internal Serv[...]
