--- 
http_interactions: 
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Jf70bhGvJYRNWKXl9Y7zPCzwZWo4IinCJLwWGXTJjPg", oauth_signature="hWO0B5TB41%2BaEZxHBAgmBO3zKIk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889159", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Wed, 03 Jul 2013 22:05:59 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"name\":null,\"password\":\"bkj77pKN7EFYuoy7\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="y2dg6rR0EnU93EzqjP7keALIREonvp5mVOaE1KBf4", oauth_signature="lx%2F%2B11JWnhD4l2euTgCKmW3WAnY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889162", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 500
      message: Internal Se[...]
