--- 
http_interactions: 
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RK3Hc4AksyDGvNUtBTH8HaAvNFPiw4Aniu732snLeI", oauth_signature="y8339avKhwHLAHEzbXsy2XlawVw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126726", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=/pulp/api/v2/users/batman/\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"/pulp/api/v2/users/batman/\"}}"
  recorded_at: Wed, 28 Nov 2012 18:18:46 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"l64DNklg3HHKlOuz\",\"name\":null}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="C5YRFFuWPAJWKRe8wJjuFWDoX99zkupE4pWLZ9uXk", oauth_signature="BjPL4wAZFCPe86kDYrv9fM3Q4us%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126729", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 500
      message: Internal Server Error
    heade[...]
