--- 
http_interactions: 
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="HY1ldLGX97yly3U2C4kuvdrB67u1MCzPah1CbyUEI", oauth_signature="7cD6AAjh33ATTmeGr6TL0jK7BcE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950451", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Sat, 12 Jan 2013 00:27:32 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":null,\"password\":\"xjasUaU9FpnYWHNk\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="UlKUEBh0m1jXs1z9905M1cJQNS6yC7BHRNldBmobgTQ", oauth_signature="z6DJEJinqez0M%2B04g79c2gqAlzU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950453", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 500
      message: Internal Se[...]
