--- 
http_interactions: 
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="jXOBuf8g8XhgEVKGhAFG85LpwNBwpj3GKsu46u6k0", oauth_signature="ium9FF%2FtkdeV8l2%2B46zIWS3vLlE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032982", oauth_version="1.0"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=/pulp/api/v2/users/batman/\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"/pulp/api/v2/users/batman/\"}}"
  recorded_at: Fri, 16 Nov 2012 02:29:42 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"sOYozN8egx6GZZyV\",\"name\":null}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="yz2mVaYhZ7ttiUOPDlOjwk2EPl4tD0Dmn1ji7P7DEY", oauth_signature="imfN0A%2F%2FMOZ3%2Buzf10jxUMW5qqI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032983", oauth_version="1.0"
  response: 
    status: 
      code: 500
      message: Internal Server Error
  [...]
