--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/1c9ee245-103f-488f-a580-f0de86405d2f/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="X428caAvpuMrquGNfOtGMRQEHVrndxt1UmpgwXhs", oauth_signature="kyUDZPbTlG2EoBsSB4TE53sCyUE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493417", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"043aec5d-e8a2-4030-93dd-7c3a5bdc9298\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/1c9ee245-103f-488f-a580-f0de86405d2f/\", \"task_id\": \"1c9ee245-103f-488f-a580-f0de86405d2f\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-29T21:03:37Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"043aec5d-e8a2-4030-93dd-7c3a5bdc9298\", \"call_request_id\": \"1c9ee245-103f-488f-a580-f0de86405d2f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 29 Jan 2013 21:03:37 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/1c9ee245-103f-488f-a580-f0de86405d2f/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="mFvFQSUQLlT7Y62PljfURXjT9lJlmSho6SfEp2gYb8", oauth_signature="nEb2d0bnZJBKKgF5LjxzvjMtP7Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493418", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"043aec5d-e8a2-4030-93dd-7c3a5bdc9298\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/1c9ee245-103f-488f-a580-f0de86405d2f/\", \"task_id\": \"1c9ee245-103f-488f-a580-f0de86405d2f\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-29T21:03:37Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"FINISHED\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"043aec5d-e8a2-4030-93dd-7c3a5bdc9298\", \"call_request_id\": \"1c9ee245-103f-488f-a580-f0de86405d2f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 29 Jan 2013 21:03:38 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RbmIF2di5MhdnFv2HHLkHBN11Iq3ruqEazSk62rrik", oauth_signature="bSkVx8JsgTo9mvQRCT011YjKXeo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493596", oauth_version="1.0"
  response: 
    status: 
     [...]
[...]
