--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/e27d9aef-921e-4bc8-959d-71073f0f599f/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="83kdG8tIWPHEg4E0Hyhr0CRZzI01F6dxHMr7mQi50g", oauth_signature="8i4BmrFl3fqjwcX3mtiT9fhWnWc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116187", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"1593fb4f-5e95-449f-a6b7-dbea27e55e8f\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/e27d9aef-921e-4bc8-959d-71073f0f599f/\", \"task_id\": \"e27d9aef-921e-4bc8-959d-71073f0f599f\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-12-21T18:56:27Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"1593fb4f-5e95-449f-a6b7-dbea27e55e8f\", \"call_request_id\": \"e27d9aef-921e-4bc8-959d-71073f0f599f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 21 Dec 2012 18:56:27 GMT
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/e27d9aef-921e-4bc8-959d-71073f0f599f/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="BUbASqdC3TlPMsmWg4yo4j5L1YH7wzHG2d5SXGZmXk", oauth_signature="54K3J%2FmcYIASuADfMw%2BVSvcBus0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116188", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"1593fb4f-5e95-449f-a6b7-dbea27e55e8f\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/e27d9aef-921e-4bc8-959d-71073f0f599f/\", \"task_id\": \"e27d9aef-921e-4bc8-959d-71073f0f599f\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-12-21T18:56:27Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 2, \"size_total\": 17872, \"items_left\": 9, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 13396, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 2, \"size_total\": 17872, \"items_left\": 6, \"items_total\": 8, \"size_left\": 13396, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"1593fb4f-5e95-449f-a6b7-dbea27e55e8f\", \"call_request_id\": \"e27d9aef-921e-4bc8-959d-71073f0f599f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 21 Dec 2012 18:56:28 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="rHxsA1Vl8uHXuPMJrY76u5jlurklyjNO9HRCdmUA20", oauth_signature="dpUW9ICztpuhohXAp%2BT5I%2FDnZbA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116313", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"task_id\": \"49bd04f1-c601-4962-a574-ad62214e59da\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:create\"], \"reasons\": [], \"start_time\": \"2012-12-21T18:58:16Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:create\"], \"state\": \"finished\", \"finish_time\": \"2012-12-21T18:58:16Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"49bd04f1-c601-4962-a574-ad62214e59da\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50d4b148196cbe42f90006b3\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}}, {\"task_group_id\": \"e26d0af3-e0e0-4f14-93d2-42ba318aabd6\", \"exception\": null, \"traceback\": null, \"task_id\": \"4f457c78-9e5f-4584-872b-356ed0db19ac\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-12-21T18:58:16Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"finished\", \"finish_time\": \"2012-12-21T18:58:18Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"FINISHED\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\", \"num_errata\": 2}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"e26d0af3-e0e0-4f14-93d2-42ba318aabd6\", \"call_request_id\": \"4f457c78-9e5f-4584-872b-356ed0db19ac\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"task_id\": \"69c58b72-2868-4797-a03c-1349453e6921\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:create\"], \"reasons\": [], \"start_time\": \"2012-12-21T18:58:19Z\", \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:create\"], \"state\": \"finished\", \"finish_time\": \"2012-12-21T18:58:19Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"69c58b72-2868-4797-a03c-1349453e6921\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"display_name\": \"Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICWwIBAAKBgQC9NvsozVUWd3bB3lyIUxGML7m7+LYLVmcnboREkaCXPtGGXEVL\\n5RH/y//L+5+Myc6rUvjb8hS/g6zqNr83MEYN4w5mMAZHs4ojuuypVqdqRRPolFc0\\n0mVhLJwJqPlIi+gAQCbbAcJGbYAS6K+uW51kC1Mhvy4GCg3PgBrg8UOsoQIDAQAB\\nAoGAaMk4EoKUKpsCM583U2/dees8SvMTrfetrNKxgV+8tcXeNzCGV9+GNkj9YjP5\\nSfjA8XRDyVqpTt5XNmYXQzMCt94O7RZrG26/6/aycVOvT9diiDxgDr4JHOobsF2g\\nvX+UPvMsLUM4fqo4jqxK2ZKUpMIlFdptV7/sJPyWQjI6dgECQQDmT43inPy6nZVZ\\nGR85McHMLmXuZie56VnQA5jD3/cJeXbvoIUcFezuXR3OEKiRbNmosyfdGxp4i[...]
[...]
