--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/28bad581-3741-41d8-9232-d38fac67e861/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="lhZdLs8TpbJVVW3bxw3IAQ1SWWW4LVxX3VG650ahq8I", oauth_signature="8z%2BoDPXXmMD4dYTIYzlAqxNfOAo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357768922", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"115389f6-5d93-4177-bc2e-f338a0a05f25\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/28bad581-3741-41d8-9232-d38fac67e861/\", \"task_id\": \"28bad581-3741-41d8-9232-d38fac67e861\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-09T22:02:02Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"115389f6-5d93-4177-bc2e-f338a0a05f25\", \"call_request_id\": \"28bad581-3741-41d8-9232-d38fac67e861\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 09 Jan 2013 22:02:02 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/28bad581-3741-41d8-9232-d38fac67e861/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="WLpZUsdeOkbCZ0g5w2VKAr0WrGmEk3BYqARgXtZy9k", oauth_signature="oknJg2gK8V%2F2LsN90St7NQra5tg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357768922", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"115389f6-5d93-4177-bc2e-f338a0a05f25\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/28bad581-3741-41d8-9232-d38fac67e861/\", \"task_id\": \"28bad581-3741-41d8-9232-d38fac67e861\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-09T22:02:02Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"115389f6-5d93-4177-bc2e-f338a0a05f25\", \"call_request_id\": \"28bad581-3741-41d8-9232-d38fac67e861\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 09 Jan 2013 22:02:02 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="UQlKjfotXz8vJCE9ATKaFsaFQd1FOrT3vKPbL5WeDw", oauth_signature="P24YS5oXYK3YVmx8SbvDWLK%2B5eo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769054", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"task_id\": \"6b4818d7-8382-488f-a4c6-661e4927185e\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:create\"], \"reasons\": [], \"start_time\": \"2013-01-09T22:03:54Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:create\"], \"state\": \"finished\", \"finish_time\": \"2013-01-09T22:03:54Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"6b4818d7-8382-488f-a4c6-661e4927185e\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50ede94a9c60ed2cd3003b44\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}}, {\"task_group_id\": \"d5395a50-95d1-4218-92dd-07bb840fa798\", \"exception\": null, \"traceback\": null, \"task_id\": \"3a21b975-f46a-49e7-847f-146fc0426c2f\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-09T22:03:55Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"finished\", \"finish_time\": \"2013-01-09T22:03:56Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"FINISHED\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\", \"num_errata\": 2}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"d5395a50-95d1-4218-92dd-07bb840fa798\", \"call_request_id\": \"3a21b975-f46a-49e7-847f-146fc0426c2f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"task_id\": \"9c16a483-cbf7-44eb-8beb-a8a5ca79f456\", \"call_request_tags\": [\"pulp:user:hidden-uDBW3T-8f1d03d0\", \"pulp:action:create\"], \"reasons\": [], \"start_time\": \"2013-01-09T22:03:57Z\", \"tags\": [\"pulp:user:hidden-uDBW3T-8f1d03d0\", \"pulp:action:create\"], \"state\": \"finished\", \"finish_time\": \"2013-01-09T22:03:57Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"9c16a483-cbf7-44eb-8beb-a8a5ca79f456\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"_id\": {\"$oid\": \"50ede94d9c60ed2cd3003b73\"}, \"name\": \"hidden-uDBW3T-8f1d03d0\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden-uDBW3T-8f1d03d0\", \"id\": \"50ede94d9c60ed2cd3003b73\", \"_href\": \"/pulp/api/v2/users/hidden-uDBW3T-8f1d03d0/\"}}, {\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"task_id\": \"36022ba0-1fdc-45d9-b362-7c452f11f041\", \"call_request_tags\": [\"pulp:role:super-users\", \"pulp:action:add_user_to_role\"], \"reasons\": [], \"start_time\": \"2013-01-09T22:03:58Z\", \"tags\": [\"pulp:role:super-users\", \"pulp:action:add_user_to_role\"], \"state\": \"finished\", \"fini[...]
[...]
