--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/2996cd26-0814-4e8e-835f-2c10cceb466a/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="gZdUoMlABJ3XMVkXTGdFbQrosy93QFtTXJX30vuZl8", oauth_signature="mEMrQ42qMrSOBx2A2DXhlkWWuI0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373028", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"8ae8387f-b553-4f53-b8af-c225d352fde2\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/2996cd26-0814-4e8e-835f-2c10cceb466a/\", \"task_id\": \"2996cd26-0814-4e8e-835f-2c10cceb466a\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-06-04T19:10:28Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"8ae8387f-b553-4f53-b8af-c225d352fde2\", \"call_request_id\": \"2996cd26-0814-4e8e-835f-2c10cceb466a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 04 Jun 2013 19:10:28 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/2996cd26-0814-4e8e-835f-2c10cceb466a/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="NfsvvNhtBuED2ZGO2twMUBJkHOEpiq3WVZoCXQEUhFk", oauth_signature="apcN3fH3Y4TwKEoDRRzJ5bbI5mA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373029", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"8ae8387f-b553-4f53-b8af-c225d352fde2\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/2996cd26-0814-4e8e-835f-2c10cceb466a/\", \"task_id\": \"2996cd26-0814-4e8e-835f-2c10cceb466a\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-06-04T19:10:28Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"8ae8387f-b553-4f53-b8af-c225d352fde2\", \"call_request_id\": \"2996cd26-0814-4e8e-835f-2c10cceb466a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 04 Jun 2013 19:10:29 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="cctsXVti6M0pghwwoVHfSWBB2JaRKvpvU16EQcEQ", oauth_signature="L%2Fe3RCx9EE6KoX8Lzy8My5PLOCY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373176", oauth_version="1.0"
      Pulp-User: 
      - admin
  respo[...]
[...]
