--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/f58ac583-a4cd-41de-ada7-2764c3d11224/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="JnkqxEtOYGVojcsttA4triloDzNFlGSHCWpM2afXc", oauth_signature="7mWapwXOJ8njY3veWEpksFuHXRs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372888970", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"23b89c57-a46f-4c8c-85f4-962a49ba87af\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f58ac583-a4cd-41de-ada7-2764c3d11224/\", \"task_id\": \"f58ac583-a4cd-41de-ada7-2764c3d11224\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-07-03T22:02:50Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"23b89c57-a46f-4c8c-85f4-962a49ba87af\", \"call_request_id\": \"f58ac583-a4cd-41de-ada7-2764c3d11224\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 03 Jul 2013 22:02:50 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/f58ac583-a4cd-41de-ada7-2764c3d11224/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="w06CgGV8p9bcwvlPPmcZDuJYPkR0fY35lgOTExaHl0M", oauth_signature="Gk2oWK6DHrN%2BN%2B6JGPTwWZle2lE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372888971", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"23b89c57-a46f-4c8c-85f4-962a49ba87af\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f58ac583-a4cd-41de-ada7-2764c3d11224/\", \"task_id\": \"f58ac583-a4cd-41de-ada7-2764c3d11224\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-07-03T22:02:50Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"23b89c57-a46f-4c8c-85f4-962a49ba87af\", \"call_request_id\": \"f58ac583-a4cd-41de-ada7-2764c3d11224\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 03 Jul 2013 22:02:51 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="CF16h2gxkwCfcXGV8PQUZXrIm95aNmPWqiMfWcoaKH0", oauth_signature="R7Fb6EaLJVNbkYBJGr1PrhUyga8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889093", oauth_version="1.0"
      Pulp-User: 
      - admin
  resp[...]
[...]
