--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/2f010a0a-a774-4cd5-b346-f7509626ed76/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="BPRKlhvZtSyQVPlPBp9hdl2NGq9VIbaJTMuz9geO8", oauth_signature="rsq%2FmrUM60jV6yPV7pQKgGbH15g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829725", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"092c4d39-426b-447e-887b-75c9bb66481c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/2f010a0a-a774-4cd5-b346-f7509626ed76/\", \"task_id\": \"2f010a0a-a774-4cd5-b346-f7509626ed76\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-21T01:35:25Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"092c4d39-426b-447e-887b-75c9bb66481c\", \"call_request_id\": \"2f010a0a-a774-4cd5-b346-f7509626ed76\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 21 Mar 2013 01:35:25 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/2f010a0a-a774-4cd5-b346-f7509626ed76/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ToN57jAb4QSF2gdxS8vOK70lUpPjPLvXDI2VtkHwN8", oauth_signature="M94V9UzmJIgIQLk%2FTEX4bG6dazQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829726", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"092c4d39-426b-447e-887b-75c9bb66481c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/2f010a0a-a774-4cd5-b346-f7509626ed76/\", \"task_id\": \"2f010a0a-a774-4cd5-b346-f7509626ed76\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-21T01:35:25Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"092c4d39-426b-447e-887b-75c9bb66481c\", \"call_request_id\": \"2f010a0a-a774-4cd5-b346-f7509626ed76\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 21 Mar 2013 01:35:26 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="oBStqBsRiZgs9LWSR2uZ6CTR0L2OWRgUvoHw01hyw", oauth_signature="2IlqQNBHPQlUVkgAcZffl7jNteM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829905", oauth_version="1.0"
  response: 
    status: 
     [...]
[...]
