--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/9689245f-b141-4ee5-95df-c9cc2fe8e67f/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="r67CVFWGNxlkpmm7h32drEhYjPRG8Z75Rn55ishNM", oauth_signature="Mo1SOoan7xmmmIzpe68CI1iv4OQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158284", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"c17400b8-9e67-473a-9ec2-7501af638433\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/9689245f-b141-4ee5-95df-c9cc2fe8e67f/\", \"task_id\": \"9689245f-b141-4ee5-95df-c9cc2fe8e67f\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-06-13T21:18:04Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"c17400b8-9e67-473a-9ec2-7501af638433\", \"call_request_id\": \"9689245f-b141-4ee5-95df-c9cc2fe8e67f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 13 Jun 2013 21:18:04 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/9689245f-b141-4ee5-95df-c9cc2fe8e67f/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="M4INkDZ8bMP0Qme8hH3t86yzn6bKcoDawAIHeyEHme4", oauth_signature="fnYdWUVcjvd0c9v5QojoslcndX8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158285", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"c17400b8-9e67-473a-9ec2-7501af638433\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/9689245f-b141-4ee5-95df-c9cc2fe8e67f/\", \"task_id\": \"9689245f-b141-4ee5-95df-c9cc2fe8e67f\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-06-13T21:18:04Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"c17400b8-9e67-473a-9ec2-7501af638433\", \"call_request_id\": \"9689245f-b141-4ee5-95df-c9cc2fe8e67f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 13 Jun 2013 21:18:05 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="XUHpycxXt2MBWDpNypmkKGcdJsYEQ9A4VQcT4LgY", oauth_signature="BMccTbfB7EPA2z02KyqY4j4G3P8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371158429", oauth_version="1.0"
      Pulp-User: 
      - admin
  respons[...]
[...]
