--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/34b35dfb-ebd6-4142-ad81-1342e093b4c8/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="kIugPdKq8ApIZVTmBw63UsxFe2VUejOyGPdo6oMqk8", oauth_signature="mmJQ9ATo%2FluNNtEUtSyLTwy9z4o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353123279", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"e31a6e97-96c4-4975-94ef-7adc21755419\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/34b35dfb-ebd6-4142-ad81-1342e093b4c8/\", \"task_id\": \"34b35dfb-ebd6-4142-ad81-1342e093b4c8\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-17T03:34:39Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"e31a6e97-96c4-4975-94ef-7adc21755419\", \"call_request_id\": \"34b35dfb-ebd6-4142-ad81-1342e093b4c8\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 17 Nov 2012 03:34:39 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/63220c7e-3547-44e7-81cc-7649b13bc67a/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="qisV9kHU1futRK5dsEjf2utffl5MkC9PXUBXJXZxbTM", oauth_signature="dFNhFubvxRnfYcxo0lvnsoRgWSk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353123478", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"0b88dc51-2501-4d54-b688-7c5761aa3e75\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/63220c7e-3547-44e7-81cc-7649b13bc67a/\", \"task_id\": \"63220c7e-3547-44e7-81cc-7649b13bc67a\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-17T03:37:58Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"0b88dc51-2501-4d54-b688-7c5761aa3e75\", \"call_request_id\": \"63220c7e-3547-44e7-81cc-7649b13bc67a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 17 Nov 2012 03:37:58 GMT
[...]
