--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/1cfbd2d2-443f-4042-9554-f0b7da7f243c/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="lPoDHX8vqYiby0k7uNxYHDpXub9047lXmQRVzdffxaA", oauth_signature="6lX2jwmknsjTGbEI4tKDtJGhhUY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277356", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"0f278ead-7149-4e94-a4b9-6869cceed413\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/1cfbd2d2-443f-4042-9554-f0b7da7f243c/\", \"task_id\": \"1cfbd2d2-443f-4042-9554-f0b7da7f243c\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-26T05:55:56Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"0f278ead-7149-4e94-a4b9-6869cceed413\", \"call_request_id\": \"1cfbd2d2-443f-4042-9554-f0b7da7f243c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 26 Mar 2013 05:55:56 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/1cfbd2d2-443f-4042-9554-f0b7da7f243c/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="DZ6aPpMhVC7CnNAXVgfEiCv3ZcM9l1ya6hMQjpLcNxQ", oauth_signature="Se2zQryJOF79T7QOEfr8CNifUX0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277357", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"0f278ead-7149-4e94-a4b9-6869cceed413\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/1cfbd2d2-443f-4042-9554-f0b7da7f243c/\", \"task_id\": \"1cfbd2d2-443f-4042-9554-f0b7da7f243c\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-26T05:55:56Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"0f278ead-7149-4e94-a4b9-6869cceed413\", \"call_request_id\": \"1cfbd2d2-443f-4042-9554-f0b7da7f243c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 26 Mar 2013 05:55:57 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="8uUNKbSqZktEm6HwIk48lInnTXHa2q21nvpAY6W0g", oauth_signature="b64LUobD2rEw4krmtr%2FlYr7Aa5k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1364277376", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"task_id\": \"5c3c34be-3879-4a2a-b679-9423ef21d479\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:create\"], \"reasons\": [], \"start_time\": \"2013-03-26T05:55:56Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:create\"], \"state\": \"finished\", \"finish_time\": \"2013-03-26T05:55:56Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"5c3c34be-3879-4a2a-b679-9423ef21d479\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5151386c5ca0133d08002a55\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}}, {\"task_group_id\": \"0f278ead-7149-4e94-a4b9-6869cceed413\", \"exception\": null, \"traceback\": null, \"task_id\": \"1cfbd2d2-443f-4042-9554-f0b7da7f243c\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-26T05:55:56Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"finished\", \"finish_time\": \"2013-03-26T05:55:57Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"FINISHED\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\", \"num_errata\": 2}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"0f278ead-7149-4e94-a4b9-6869cceed413\", \"call_request_id\": \"1cfbd2d2-443f-4042-9554-f0b7da7f243c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"importer_id\": \"yum_importer\", \"exception\": null, \"repo_id\": \"1\", \"traceback\": null, \"started\": \"2013-03-26T01:55:56-04:00\", \"_ns\": \"repo_sync_results\", \"completed\": \"2013-03-26T01:55:57-04:00\", \"importer_type_id\": \"yum_importer\", \"error_message\": null, \"summary\": {\"comps\": {\"time_total_sec\": 0.013048887252807617, \"num_orphaned_groups\": 0, \"num_available_groups\": 2, \"num_new_groups\": 2, \"num_new_categories\": 1, \"num_orphaned_categories\": 0, \"num_available_categories\": 1}, \"packages\": {\"num_synced_new_rpms\": 8, \"num_resynced_distribution_files\": 0, \"num_not_synced_srpms\": 0, \"num_synced_new_distributions_files\": 3, \"num_rpms\": 8, \"time_total_sec\": 0.99983406066894531, \"rpm_removal_errors\": [], \"num_orphaned_distributions\": 0, \"num_orphaned_rpms\": 0, \"num_synced_new_srpms\": 0, \"num_synced_new_drpms\": 0, \"num_resynced_distributions\": 0, \"num_orphaned_srpms\": 0, \"num_resynced_rpms\": 0, \"num_synced_new_distributions\": 1, \"num_orphaned_drpms\": 0, \"num_resynced_srpms\": 0, \"num_resynced_drpms\": 0, \"num_not_synced_rpms\": 0}, \"errata\": {\"errata_time_total_sec\": 0.020936012268066406, \"num_existing_errata\": 0, \"num_orphaned_errata\": 0, \"num_new_errata\": 0}}, \"added_count\": 3, \"result\": \"success\", \"updated_count\": 11, \"details\": {\"comps\": {}, \"packages\": {\"time_download_sec\": 0.52105093002319336, \"not_synced\": [], \"time_metadata_sec\": 0.22024703025817871, \"size_total\": 17872, \"sync_report\": {\"errors\": 0, \"size_total\": 17872, \"successes\": 11, \"downloads\": 0, \"items_left\": 0, \"items_total\": 11, \"error_details\": [], \"details\": {\"tree_file\": {\"num_success\": 3, \"total_count\": 3, \"items_left\": 0, \"size_left\": 0, \"total_size_bytes\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"total_count\": 8, \"items_left\": 0, \"size_left\": 0, \"total_size_bytes\": 17872, \"num_error\": 0}}, \"size_left\": 0}}, \"errata\": {\"num_bugfix_errata\": 0, \"link_report\": {\"missing_rpms\": [], \"linked_units\": []}, \"num_security_errata\": 0, \"num_enhancement_errata\": 0}}, \"id\": \"5151386d5ca0133d08002a7b\", \"removed_count\": 0}}, {\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"task_id\": \"763cd313-9db2-4541-96b3-2765bcd66484\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:create\"], \"reasons\": [], \"start_time\": \"2013-03-26T05:55:58Z\", \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:create\"], \"state\": \"finished\", \"finish_time\": \"2013-03-26T05:55:58Z\", \"dependency_failures\": {}, \"schedule_id\": n[...]
[...]
