--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/de68f3e6-adbb-4515-916f-8399e1e4cbba/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="aUbgTHYZsEFIIq7srhLywca4YAPu0XWfbKz6LJog", oauth_signature="7BKRzM0I%2Ft602zjZqyCVCrsooX8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071454", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"650f0e67-b791-4217-bdc5-1cccaa320589\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/de68f3e6-adbb-4515-916f-8399e1e4cbba/\", \"task_id\": \"de68f3e6-adbb-4515-916f-8399e1e4cbba\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-07-06T00:44:14Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"650f0e67-b791-4217-bdc5-1cccaa320589\", \"call_request_id\": \"de68f3e6-adbb-4515-916f-8399e1e4cbba\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 06 Jul 2013 00:44:14 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/de68f3e6-adbb-4515-916f-8399e1e4cbba/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="9YQ8x9rqRPKaAypuKVUeF7iDYHZkFMwzFplQ1HQo7Q", oauth_signature="oFNeZRrnjPm8CBVBWMG6i0roiJE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071455", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"650f0e67-b791-4217-bdc5-1cccaa320589\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/de68f3e6-adbb-4515-916f-8399e1e4cbba/\", \"task_id\": \"de68f3e6-adbb-4515-916f-8399e1e4cbba\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-07-06T00:44:14Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"650f0e67-b791-4217-bdc5-1cccaa320589\", \"call_request_id\": \"de68f3e6-adbb-4515-916f-8399e1e4cbba\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 06 Jul 2013 00:44:15 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="bh3v08ez1wxTf81rXg19dRpmCXDHwUD9AfUZNUQBoo", oauth_signature="Su3r91A2nAhVM8Q0KsYxpl2tQnE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071761", oauth_version="1.0"
      Pulp-User: 
      - admin
  respo[...]
[...]
