--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/2fe8c313-0ad4-4235-98ee-677d1520ca6a/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="IbBNfkI8BWzjedkLi8N9WGH8NcWE2VhmF7NEygxAb4E", oauth_signature="G25Yesn9wpQ%2BgC8mRc0Z72m4b24%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693014", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"ec725e44-08da-4eb3-9955-8fb8dd34e67a\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/2fe8c313-0ad4-4235-98ee-677d1520ca6a/\", \"task_id\": \"2fe8c313-0ad4-4235-98ee-677d1520ca6a\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-06-20T01:50:14Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"ec725e44-08da-4eb3-9955-8fb8dd34e67a\", \"call_request_id\": \"2fe8c313-0ad4-4235-98ee-677d1520ca6a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 20 Jun 2013 01:50:14 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/2fe8c313-0ad4-4235-98ee-677d1520ca6a/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="lZBiTGj306xT5ffVsoKUIHf3amwnlNwrRPgnYFgmqc", oauth_signature="bE22MYx6LSZ8lUoqkHrxVEqJ72o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693015", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"ec725e44-08da-4eb3-9955-8fb8dd34e67a\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/2fe8c313-0ad4-4235-98ee-677d1520ca6a/\", \"task_id\": \"2fe8c313-0ad4-4235-98ee-677d1520ca6a\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-06-20T01:50:14Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"ec725e44-08da-4eb3-9955-8fb8dd34e67a\", \"call_request_id\": \"2fe8c313-0ad4-4235-98ee-677d1520ca6a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 20 Jun 2013 01:50:15 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="XDw3RBDi6sCnUeI5ggI3LYD7VVin5jJNAKjP1XlrImE", oauth_signature="hok6SWeEw2mWL4PtOtBLFwKbWTw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693124", oauth_version="1.0"
      Pulp-User: 
      - admin
  resp[...]
[...]
