--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/a7158f84-ad3b-45cd-ba7b-6e0cb6def8b8/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="n43nFSdG23QZ4LovIYc6WjpMQyCXD668qs0wjRsvAY", oauth_signature="9afO3hXuHAEfXLRl2yZ2lZd8cVs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954189", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"891bf1ab-2328-46ee-8eae-34d6e1bdb543\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/a7158f84-ad3b-45cd-ba7b-6e0cb6def8b8/\", \"task_id\": \"a7158f84-ad3b-45cd-ba7b-6e0cb6def8b8\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-12T01:29:49Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"891bf1ab-2328-46ee-8eae-34d6e1bdb543\", \"call_request_id\": \"a7158f84-ad3b-45cd-ba7b-6e0cb6def8b8\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 12 Jan 2013 01:29:49 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/a7158f84-ad3b-45cd-ba7b-6e0cb6def8b8/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6np9XMm76054Bl6HohTZsGN0MdKz5y3KQ9PggkwHHA", oauth_signature="N3qRCXOzW%2BEKwb7JA084TF1ecEA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954190", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"891bf1ab-2328-46ee-8eae-34d6e1bdb543\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/a7158f84-ad3b-45cd-ba7b-6e0cb6def8b8/\", \"task_id\": \"a7158f84-ad3b-45cd-ba7b-6e0cb6def8b8\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-12T01:29:49Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"891bf1ab-2328-46ee-8eae-34d6e1bdb543\", \"call_request_id\": \"a7158f84-ad3b-45cd-ba7b-6e0cb6def8b8\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 12 Jan 2013 01:29:50 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="H74M0gZpRPRKRIXUXoiGZaLu4x5xnmQqFP3jx2Qn0s", oauth_signature="W7h5IalEGtdWweuZyPx32oQKp1Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954241", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"43227e55-5c7e-459c-b832-9295a1190f1c\", \"exception\": null, \"traceback\": null, \"task_id\": \"c7759168-7fe7-468b-a9b8-9ae94d4d0415\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"reasons\": [], \"start_time\": \"2013-01-12T01:30:36Z\", \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"state\": \"finished\", \"finish_time\": \"2013-01-12T01:30:36Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"43227e55-5c7e-459c-b832-9295a1190f1c\", \"call_request_id\": \"c7759168-7fe7-468b-a9b8-9ae94d4d0415\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"repo_id\": \"1\", \"consumer_actions\": [], \"_ns\": \"consumer_bindings\", \"distributor_id\": \"1\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"deleted\": false, \"_id\": {\"$oid\": \"50f0bcbc9c60ed0921004d75\"}, \"id\": \"50f0bcbc9c60ed0921004d75\"}}, {\"task_group_id\": \"43227e55-5c7e-459c-b832-9295a1190f1c\", \"exception\": [\"RequestTimeout: ('802a9925-8b39-4052-b602-7b754a0cb7d8', 0)\\n\"], \"traceback\": \"Traceback (most recent call last):\\n\\n  File \\\"/usr/lib/python2.7/site-packages/gofer/rmi/async.py\\\", line 451, in process\\n    raise RequestTimeout(sn, je.idx)\\n\\nRequestTimeout: ('802a9925-8b39-4052-b602-7b754a0cb7d8', 0)\\n\", \"task_id\": \"a7f745d7-a87a-4f66-9271-f617ba558c18\", \"call_re[...]
[...]
