--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/23722733-5421-4721-a232-ecee1850edcf/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="8CdlkJ3mrTrYscMnK1i99UkRYvbpm6XtcYYhdZ3Cxw", oauth_signature="UnvgsJdhqJ9SQ9TsZAq8cuVVy6c%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201026", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"d08dfea8-69b2-440f-be73-bfc4a405cbf3\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/23722733-5421-4721-a232-ecee1850edcf/\", \"task_id\": \"23722733-5421-4721-a232-ecee1850edcf\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-14T22:03:46Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"d08dfea8-69b2-440f-be73-bfc4a405cbf3\", \"call_request_id\": \"23722733-5421-4721-a232-ecee1850edcf\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 22:03:46 GMT
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/23722733-5421-4721-a232-ecee1850edcf/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="rhRSfiyTZxWw3DIUz9uS7VwMwVHquCAiA3aVS6OuCJg", oauth_signature="159AB0IlDKrFF%2F9VVL5ih8p1AEk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201027", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"d08dfea8-69b2-440f-be73-bfc4a405cbf3\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/23722733-5421-4721-a232-ecee1850edcf/\", \"task_id\": \"23722733-5421-4721-a232-ecee1850edcf\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-14T22:03:46Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"d08dfea8-69b2-440f-be73-bfc4a405cbf3\", \"call_request_id\": \"23722733-5421-4721-a232-ecee1850edcf\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 22:03:47 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="b6LpgaOSWVEKGErcjRcj0pI0dDnYj1U0rvn5FKoo", oauth_signature="tRq8LyQXap9Vm74pEPa3Dj9orHQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201170", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      c[...]
[...]
