<span page-title>{{ 'GPG Keys' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="header">
    {{ 'Gpg Keys' | translate }}
  </div>

  <div data-block="actions">
    <button class="btn btn-primary" ui-sref="gpgKeys.new" ng-hide="denied('create_gpg_keys')">
      <i class="fa fa-plus"></i>
      {{ "New Gpg Key" | translate }}
    </button>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Gpg keys, you can add Gpg keys using the button on the right.
  </span>

</div>
