<table bst-table="table"
       class="table table-striped"
       ng-class="{'table-mask': table.working}"
       ng-show="table.rows.length > 0">
  <thead>
    <tr bst-table-head>
      <th bst-table-column="name" sortable><span translate>Name</span></th>
      <th bst-table-column="organization"><span translate>Organization</span></th>
      <th bst-table-column="products" class="number-cell"><span translate>Product Count</span></th>
      <th bst-table-column class="number-cell"><span translate>Repository Count</span></th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row ng-repeat="gpgKey in table.rows">
      <td bst-table-cell>
        <a class="clickable" ng-click="table.openGPGKey(gpgKey)">{{ gpgKey.name }}</a>
      </td>
      <td bst-table-cell>{{ gpgKey.organization.name }}</td>
      <td bst-table-cell class="number-cell">{{ gpgKey.products.length || 0 }}</td>
      <td bst-table-cell class="number-cell">{{ gpgKey.repositories.length || 0 }}</td>
    </tr>
  </tbody>
</table>
