<span page-title>{{ 'GPG Keys' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="header">
    {{ 'GPG Keys' | translate }}
  </div>

  <div data-block="actions">
    <button class="btn btn-primary" ui-sref="gpg-keys.new" ng-hide="denied('create_gpg_keys')">
      <i class="fa fa-plus"></i>
      {{ "New GPG Key" | translate }}
    </button>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any GPG keys, you can add GPG keys using the button on the right.
  </span>

   <span data-block="no-search-results-message" translate>
     Your search returned zero GPG keys.
   </span>
</div>
