<span page-title>{{ 'Apply Errata' | translate }}</span>

<section class="nutupane-details" ng-cloak bst-container-scroll>

  <header class="details-header">
    <h2 class="fl" translate>Apply Errata</h2>

    <div class="fr">
      <button class="btn btn-default" ui-sref="errata.index">
        <i class="icon-remove"></i>
        {{ "Close" | translate }}
      </button>
    </div>
  </header>

  <div>
    <div class="alert warning alert-warning" ng-show="errataIds.length === 0">
      <i class="icon-exclamation-sign"></i>
      {{ 'At least one Errata needs to be selected to Apply.' | translate }}
    </div>

    <div class="alert alert-info" ng-show="state.working">
      <i class="icon-spinner inline-icon icon-spin"></i>
      {{ 'Processing' | translate }}
    </div>

    <span ng-disabled="table.numSelected == 0">
      <div ui-view></div>
    </span>
  </div>

</section>
