<ol class="breadcrumb">
  <li>
    <a ui-sref="errata.index" translate>Errata List</a>
  </li>
  <li class="active" translate>Select Content Hosts</li>
</ol>

<div data-extend-template="errata/details/views/errata-details-content-hosts.html">
  <div data-block="header"></div>
  <div data-block="actions"></div>

  <div data-block="footer-actions" class="footer-actions">
    <button type="button" class="btn btn-default" ng-click="transitionTo('errata.index')" translate>Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="detailsTable.numSelected === 0"
            ng-click="goToNextStep()" translate>Next</button>
  </div>
</div>

