<table alch-table="table" class="table table-striped table-full" ng-class="{'table-mask': table.working}">
  <thead>
    <tr alch-table-head row-select>
      <th alch-table-column sortable>{{ "Errata ID" | translate }}</th>
    </tr>
  </thead>

  <tbody>
    <tr alch-table-row
        ng-repeat="errata in table.rows"
        row-select="product"
        active-row="stateIncludes('errata.details', {errataId: errata.id})">
      <td alch-table-cell>
        <a ui-sref="errata.details.info({errataId: errata.id})">
          {{ errata.errata_id }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
