<span page-title>{{ 'Errata' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="messages">
    <div bst-alert="info" ng-show="incrementalUpdateInProgress">
      <div>
        <p translate>There is currently an Incremental Update task in progress.  This update must finish before applying existing updates.</p>
        <div>
          <a href="/foreman_tasks/tasks/{{incrementalUpdates[0].id}}" translate>Click here to check the status of the task.</a>
        </div>
      </div>
    </div>
  </div>

  <div data-block="header">
    {{ 'Errata' | translate }}
  </div>

  <div data-block="actions">
    <button class="btn btn-primary"
            ng-click="goToNextStep()"
            ng-hide="denied('edit_content_hosts')"
            ng-disabled="table.numSelected == 0 || incrementalUpdateInProgress">
      <i class="icon-plus"></i>
      <span translate>Apply Errata</span>
    </button>
  </div>

  <div data-block="search-filter">
    <div class="col-sm-3">
      <select class="form-control" ng-model="repository" ng-options="repository.name for (id, repository) in repositories"></select>
    </div>

    <div class="col-sm-3">
      <label class="checkbox-inline" title="{{ 'Only show Errata that is Applicable to one or more Content Hosts' | translate }}">
        <input type="checkbox" ng-model="showApplicable" ng-change="toggleApplicable()"/>
        <span translate>Applicable</span>
      </label>

      <label class="checkbox-inline" title="{{ 'Only show Errata that is Installable on one or more Content Hosts' | translate }}">
        <input type="checkbox" ng-model="showInstallable" ng-change="toggleInstallable()"/>
        <span translate>Installable</span>
      </label>
    </div>
  </div>

  <span data-block="no-rows-message" translate>
    There are no Errata in this organization.  Create one or more Products with Errata to view Errata on this page.
  </span>

</div>
