<span>
  <span class="errata-count" ng-class="{black: !errataCounts.security, red: errataCounts.security > 0}">
    <span>
      {{ errataCounts.security || 0 }}
    </span>
    <i class="fa fa-warning inline-icon" title="{{ 'Security' | translate }}"></i>
  </span>
  <span class="errata-count" ng-class="{black: !errataCounts.bugfix, yellow: errataCounts.bugfix > 0}">
    <span>
      {{ errataCounts.bugfix || 0 }}
    </span>
    <i class="fa fa-bug inline-icon" title="{{ 'Bug Fix' | translate }}"></i>
  </span>
  <span class="errata-count" ng-class="{black: !errataCounts.enhancement, yellow: errataCounts.enhancement > 0}">
    <span>
      {{ errataCounts.enhancement || 0 }}
    </span>
    <i class="fa fa-plus-square inline-icon" title="{{ 'Enhancement' | translate }}"></i>
  </span>
</span>
