<table class="table table-striped table-full" ng-class="{'table-mask': table.working}">
  <thead>
    <tr bst-table-head row-select>
      <th bst-table-column="errata_id" sortable>{{ "Errata ID" | translate }}</th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row
        ng-repeat="errata in table.rows"
        row-select="errata"
        active-row="stateIncludes('errata.details', {errataId: errata.id})">
      <td bst-table-cell>
        <a ui-sref="errata.details.info({errataId: errata.id})">
          {{ errata.errata_id }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
