.dash
  .dashhead.ajax_widget{title: widget_drag_and_drop_text}
    %h2.fl  #{name}
    - if dropbutton
      .dropbutton.button.clickable.fr
        %span.fa.fa-gears
  .fl.clear.portal
    %div{:class=>class_wrap}
      .loading{"data-url"=>url, "data-id"=>identifier}
      .spinner
  %br.clearfloat
