.dash
  .dashhead{'data-container' => 'body', :title => widget_drag_and_drop_text}
    %h2.fl  #{name}
    - if dropbutton
      .dropbutton.button.clickable.fr
        %span.fa.fa-gear
  .fl.clear.portal
    = render :partial=>partial
  %br.clearfloat
