#dashboard_promotions.widget.scroll-pane{"data-quantity"=>quantity}
  - if (histories = content_view_history()).empty?
    #{_("No Content View history events found.")}
  -else
    %ul
      - for history in histories
        %li
          %div.row_item
            .col_1.one-line-ellipsis{:title=>history.content_view.name}
              %span.icon_wrap.fl
                %span.fl{:class=>history_class(history)}

            .col_2
              #{history_message(history)}
            .col_1.environment
              %span.icon_wrap.fl
              %h5
                #{history.environment.try(:name)}
            .col_2
              #{format_time history.updated_at}
