<form class="form" ng-submit="discover()">

  <input type="url"
         class="input input-search input-xxlarge"
         placeholder="{{ 'URL to discover' | translate }}"
         ng-model="discovery.url"
         ng-disabled="discovery.pending">

  <button ng-show="!discovery.pending"
         ng-disabled="!discovery.url"
         translate
         type="submit"
         class="btn btn-primary">
    Discover
  </button>

  <button ng-disabled="discovery.working"
          ng-show="discovery.pending"
          ng-click="cancelDiscovery()"
          class="btn btn-primary">
    <i class="icon-spinner icon-spin" ng-show="discovery.pending"></i>
    {{ 'Cancel' | translate }}
  </button>

</form>

<section class="details details-full">
  <div class="form">

    <input type="text"
           class="input input-search"
           placeholder="{{ 'Filter' | translate }}"
           ng-model="discoveryTable.filterTerm">

    <div ng-hide="system.readonly" class="fr nutupane-actions">
       <button class="btn btn-primary"
               translate
               ng-disabled="discoveryTable.getSelected().length == 0"
               ng-click="setupSelected()">
         Create Selected
       </button>
    </div>

    <div class="fr select-action">
      <span translate>{{ discoveryTable.numSelected }} Selected</span>
      <span>|</span>
      <span>
        <a class="deselect-action"
           translate
           ng-class="{ 'disabled-link' : discoveryTable.numSelected == 0 }"
           ng-click="discoveryTable.selectAll(false)">
          Deselect All
        </a>
      </span>
    </div>

  </div>

  <table alch-table="discoveryTable" class="table table-full table-striped">
    <thead>
      <tr alch-table-head row-select>
        <th alch-table-column translate>Discovered URLs</th>
      </tr>
    </thead>

    <tbody>
      <tr alch-table-row ng-repeat="urlRow in table.rows | filter:table.filterTerm" row-select="urlRow">
        <td alch-table-cell>{{ urlRow.path }}</td>
      </tr>
    </tbody>
  </table>

</section>
