
<a href="" ng-click="transitionToDiscovery()">
  <i class="icon-backward"></i>
  {{ "Back To Repository Selection" | i18n }}
</a>

<h3>{{ "Product Selection" | i18n }}</h3>

<span>
  {{ "Create Repositories within:" | i18n }}
</span>

<div class="form">
  <div class="control-group">
    <label for="existing_product_radio" >{{ "Existing Product:" | i18n }}</label>
    <input type="radio"
           id="existing_product_radio"
           ng-model="createRepoChoices.newProduct"
           value="false"
           ng-disabled="creating()" />
    <select ng-hide="createRepoChoices.newProduct"
            ng-disabled="creating()"
            ng-model="createRepoChoices.existingProductId"
            ng-options="product.id as product.name for product in products">
    </select>
  </div>

  <div class="control-group">
    <label for="new_product_radio" >{{ "New Product:" | i18n }}</label>
    <input type="radio" id="new_product_radio" ng-model="createRepoChoices.newProduct"
           value="true" ng-disabled="creating()"/>
  </div>
</div>

<form name="productForm" class="form" ng-show="createRepoChoices.newProduct" ng-disabled="creating()" novalidate>

  <div class="control-group required" ng-class="{ 'error' : productForm.name.$invalid }">
    <div class="label">
      <label for="name">{{ "Name" | i18n }}</label>
    </div>
    <div class="input">
      <input ng-model="createRepoChoices.product.name"
             name="name"
             type="text"
             tabindex=1
             required>
      <span class="note error" ng-show="productForm.name.$invalid">
        <ul><li ng-repeat="message in productForm.name.$error.messages">{{ message }}</li></ul>
      </span>
    </div>
  </div>


  <div class="control-group required" ng-class="{ 'error' : productForm.label.$invalid }">
    <div class="label">
      <label class="required" for="label">{{ "Label" | i18n }}</label>
    </div>
    <div class="input">
      <input ng-model="createRepoChoices.product.label" name="label" type="text" tabindex=2 required>
      <span class="note error" ng-show="productForm.label.$invalid">
        <ul><li ng-repeat="message in productForm.label.$error.messages">{{ message }}</li></ul>
      </span>
    </div>
  </div>


  <div class="control-group" >
    <div class="label">
      <label for="provider">{{ "Provider" | i18n }}</label>
    </div>
    <select
      ng-model="createRepoChoices.product.provider_id"
      ng-options="provider.id as provider.name for provider in providers">
    </select>
  </div>
</form>


<div class="form">
  <h3>{{ "Options" | i18n }}</h3>

  <div class="control-group" >
    <div class="label">
      <label for="unprotected">{{ "Serve via HTTP" | i18n }}</label>
    </div>
    <div class="input">
      <input type="checkbox" id="unprotected" ng-model="createRepoChoices.unprotected" ng-disabled="creating()">
    </div>
  </div>
</div>

<h3>{{ "Selected URLs" | i18n }}</h3>
  <div ng-repeat="repo in discovery.selected">
    <form class="form" novalidate>

      <i class="icon-circle"></i>
      {{  repo.url }}
      <i class="icon-check" ng-show="repo.created"></i>


      <div class="control-group error required" ng-show="repo.form.$invalid">
        <div class="label" >
           <label> {{ repo.form.messages }}</label>
        </div>
        <div class="input"></div>
      </div>

      <div class="control-group required" ng-class="{ 'error' : repo.form.$invalid }">
        <div class="label">
           <label>{{ "Name" | i18n }}</label>
        </div>

        <div class="input">
          <input ng-model="repo.name"
                 ng-disabled="creating() || repo.created"
                 name="name"
                 type="text"
                 tabindex=1
                 required />
        </div>
      </div>

      <div class="control-group required" ng-class="{ 'error' : repo.form.$invalid }">

        <div class="label">
          <label>{{ "Label" | i18n }}</label>
        </div>

        <div class="input">
          <input ng-model="repo.label" name="label" type="text"
                 ng-class="{ 'error' : repo.form.$invalid }"
                 tabindex=2 required
                 ng-disabled="creating() || repo.created"/>
        </div>

      </div>

    </form>
  </div>
<button ng-click="createRepos()" ng-disabled="creating()" class="button">{{ "Create" | i18n }}</button>
