<section class="nutupane-details" ng-cloak alch-container-scroll>

  <header class="details-header">
    <h2 class="fl" translate>Product {{ product.name }}</h2>

    <div class="details-actions fr">
      <button class="btn btn-danger"
              translate
              ng-click="removeProduct(product)"
              ng-disabled="!product.permissions.deletable">
        Remove Product
      </button>

      <button class="btn" ng-click="table.closeItem()">
        <i class="icon-remove"></i>
        {{ "Close" | translate }}
      </button>
    </div>
  </header>

  <nav class="details-navigation">
    <ul>
      <li>
        <a class="clickable"
           translate
           ng-click="transitionToInfo(product)"
           ng-class="{active: isState('products.details.info')}">
          Details
        </a>
      </li>
      <li>
        <a class="clickable"
           translate
           ng-click="transitionToRepositories(product)"
           ng-class="{active: stateIncludes('products.details.repositories')}">
          Repositories
        </a>
      </li>
    </ul>
  </nav>

  <div ui-view></div>
</section>
