<section>

  <div class="nutupane-titlebar">
    <h1 class="nutupane-title">{{ "Products" }}</h1>
  </div>

  <div class="nutupane-actionbar">
    <div class="form">
      <input type="text"
             class="input input-search"
             placeholder="{{ 'Search...' | translate }}"
             ng-model="table.searchTerm"
             on-enter="table.search(table.searchTerm)">
      <span class="result-count" translate>
        Showing {{ table.resource.offset }} of {{ table.resource.subtotal }} ({{ table.resource.total }} Total) Products
      </span>
    </div>

    <div class="nutupane-actions fr">
      <button class="btn btn-primary" ng-click="transitionToNewProduct()">
        <i class="icon-plus"></i>
        {{ "New Product" | translate }}
      </button>
    </div>

    <div class="nutupane-actions fr">
      <button class="btn btn-primary" ng-click="transitionToDiscovery()">
        <i class="icon-screenshot"></i>
        {{ "Repo Discovery" | translate }}
      </button>
    </div>

    <div class="fr select-action">
      <span translate>{{ table.numSelected }} Selected</span>
      <span>|</span>
      <a class="deselect-action"
         translate
         ng-class="{ 'disabled-link' : table.numSelected == 0 }"
         ng-click="table.selectAll(false)">
        Deselect All
      </a>
    </div>
  </div>

  <div nutupane-table ng-class="{'table-reduced': $root.$state.current.collapsed}">
    <div alch-container-scroll control-width="table" alch-infinite-scroll="table.nextPage()">
      <div ui-view="table"></div>
    </div>
  </div>

  <div class="loading-mask icon-3x" ng-show="panel.loading">
    <i class="icon-spinner icon-spin"></i>
    {{ "Loading..." | translate }}
  </div>

  <span class="action-panel" ui-view="action-panel"></span>

</section>
