{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "../node_modules/@theforeman/vendor-dev/eslint.extends.js"
  ],
  "plugins": [
    "jest",
    "react",
    "babel",
    "promise"
  ],
  "parser": "babel-eslint",
  "rules": {
    "babel/semi": 1,
    "react/jsx-filename-extension": "off",
    // Import rules off for now due to HoundCI issue
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link", "LinkContainer" ],
      "specialLink": [ "to" ]
    }],
    "promise/prefer-await-to-then": "error",
    "promise/prefer-await-to-callbacks": "error",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-param-reassign": ["error", { "props": false }]
  }
}
