--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="2Q0tumOzm8xngY4ztrknbYBtuAIPhKldRv5ikBeW3JQ", oauth_signature="ooLbwA0tiWisw40Z6jzQ43jjtoA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185676", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5375234c86d9a9321c14a5ac\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:27:56 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="EkFPo6UOVU0sDxNx5Ewc22mhZeLxlcc6PrAah92lPs", oauth_signature="Y7CW8JRsT3mSXqU%2B5h006Urakj4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185676", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/1e3834c8-6531-481e-8722-e89878c2d90e/\", \"task_id\": \"1e3834c8-6531-481e-8722-e89878c2d90e\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:27:57 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/1e3834c8-6531-481e-8722-e89878c2d90e/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ehKC72bvPN64SxXse9o9gmGBJR81t6pnm3pRs7n8SzI", oauth_signature="aoYnUJVWNW2cEb1BQeW226x7bBM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185677", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/1e3834c8-6531-481e-8722-e89878c2d90e/\", \"task_id\": \"1e3834c8-6531-481e-8722-e89878c2d90e\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:27:57Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"5375234d3c307ec505e8610f\"}, \"id\": \"5375234d86d9a9321c14a5b2\"}"
  recorded_at: Thu, 15 May 2014 20:27:57 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/8ce2ec2f-1736-42a8-9376-b1729fb4b26c/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="GMynltm8niJQm4DAu4hSzYjnNmaZi1J6feI2Hro7bYM", oauth_signature="dNNuSY2gYAv%2F37GzgZw1%2F%2F7WFYA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185679", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/8ce2ec2f-1736-42a8-9376-b1729fb4b26c/\", \"task_id\": \"8ce2ec2f-1736-42a8-9376-b1729fb4b26c\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:27:58Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:27:58Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-15T21:27:58+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-15T21:27:58+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"5375234e86d9a932edcb26a5\", \"result\": \"success\"}, \"error\": null, \"_id\": {\"$oid\": \"5375234e3c307ec505e86110\"}, \"id\": \"5375234e86d9a932edcb26a3\"}"
  recorded_at: Thu, 15 May 2014 20:27:59 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/9d958bce-ada2-4f27-9f99-2ad907dfb3a0/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="8iSDGlJLdhII9LyjNPzw8phzsE0wAjHlYfFijEDSTkU", oauth_signature="uL8K6atrofWmGjxOq17e2qIa8NQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185679", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/9d958bce-ada2-4f27-9f99-2ad907dfb3a0/\", \"task_id\": \"9d958bce-ada2-4f27-9f99-2ad907dfb3a0\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:27:59Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:27:59Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 0, \"description\": \"\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"publish_repo_metadata\", \"num_processed\": 0}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"distribution\", \"num_processed\": 1}, {\"num_success\": 8, \"description\": \"Publishing RPMs\", \"items_total\": 8, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"rpms\", \"num_processed\": 8}, {\"num_success\": 0, \"description\": \"Publishing Delta RPMs\", \"items_total\": 0, [...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="TVElRe73weOfdZT09QTaRP3GFnV9GIgG2FEQl3BYE", oauth_signature="o5C3hlEuqBJ%2BZCQBlUu3tzlBcJU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185679", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"metadata\": {\"_id\": \"9ffa825d-0d37-4766-a0c1-ae9ff4bc95a0\", \"_content_type_id\": \"rpm\"}, \"_id\": {\"$oid\": \"5375234d86d9a932edcb2697\"}, \"unit_id\": \"9ffa825d-0d37-4766-a0c1-ae9ff4bc95a0\", \"unit_type_id\": \"rpm\"}, {\"metadata\": {\"_id\": \"59938619-d877-44a3-8ecf-614d7c91b1c0\", \"_content_type_id\": \"rpm\"}, \"_id\": {\"$oid\": \"5375234d86d9a932edcb2698\"}, \"unit_id\": \"59938619-d877-44a3-8ecf-614d7c91b1c0\", \"unit_type_id\": \"rpm\"}, {\"metadata\": {\"_id\": \"119020da-c758-4ebb-850a-efa5a7ec41ae\", \"_content_type_id\": \"rpm\"}, \"_id\": {\"$oid\": \"5375234d86d9a932edcb269a\"}, \"unit_id\": \"119020da-c758-4ebb-850a-efa5a7ec41ae\", \"unit_type_id\": \"rpm\"}, {\"metadata\": {\"_id\"[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/rpm/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"9ffa825d-0d37-4766-a0c1-ae9ff4bc95a0\",\"59938619-d877-44a3-8ecf-614d7c91b1c0\",\"119020da-c758-4ebb-850a-efa5a7ec41ae\",\"a755f0c5-7624-48ab-bda5-6e37833f5491\",\"1f9699da-7f53-4311-ab8a-ba24e8c55151\",\"f48465d4-d284-4284-9ff8-705a79ef12b4\",\"ce5a19a3-b0a1-4b6a-be89-4fe02ac7b167\",\"152f0897-43e0-468a-b63a-ec8a51b6b0ac\"]}},\"fields\":[\"name\",\"version\",\"release\",\"arch\",\"suffix\",\"epoch\",\"download_url\",\"checksum\",\"checksumtype\",\"license\",\"group\",\"children\",\"vendor\",\"filename\",\"relativepath\",\"description\",\"size\",\"buildhost\",\"_id\",\"_content_type_id\",\"_href\",\"_storage_path\",\"_type\",\"_last_updated\"]},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ZWDHjZkkX5GSGEnskhpc5xyH2mrjvlD06jKLkTr1nhg", oauth_signature="395ZbZk1SAjtIE6dEy%2BELXOWWdE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185679", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_href\": \"/pulp/api/v2/content/units/rpm/119020da-c758-4ebb-850a-efa5a7ec41ae/\", \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"_content_type_id\": \"rpm\", \"children\": {}, \"size\": 2236, \"group\": \"Internet/Applications\", \"filename\": \"giraffe-0.3-0.8.noarch.rpm\", \"epoch\": \"0\", \"version\": \"0.3\", \"repository_memberships\": [\"1\"], \"vendor\": null, \"description\": \"A dummy package of giraffe\", \"_last_updated\": \"2014-05-15T20:27:57Z\", \"arch\": \"noarch\", \"name\": \"giraffe\", \"_storage_path\": \"/var/lib/pulp/content/rpm/giraffe/0.3/0.8/noarch/f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14/giraffe-0.3-0.8.noarch.rpm\", \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"checksum\": \"f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14\", \"relativepath\": \"giraffe-0.3-0.8.noarch.rpm\", \"release\": \"0.8\", \"_id\": \"119020da-c758-4ebb-850a-efa5a7ec41ae\"}, {\"_href\": \"/pulp/api/v2/content/units/rpm/152f0897-43e0-468a-b63a-ec8a51b6b0ac/\", \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"_content_type_id\": \"rpm\", \"children\": {}, \"size\": 2236, \"group\": \"Internet/Applications\", \"filename\": \"walrus-0.3-0.8.noarch.rpm\", \"epoch\": \"0\", \"version\": \"0.3\", \"repository_memberships\": [\"1\"], \"vendor\": null, \"description\": \"A dummy package of walrus\", \"_last_update[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="9XeIsH23CxAjRULKeVmEcRCzRnAabWEUy5UI1wSpoVY", oauth_signature="ujBaX9R52SlIhKSvFfwIlPRpTaw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185679", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/09101951-a3ea-422b-b35c-e92f09e6d88e/\", \"task_id\": \"09101951-a3ea-422b-b35c-e92f09e6d88e\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:28:00 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/09101951-a3ea-422b-b35c-e92f09e6d88e/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="xRoSS4uQz9tHPXlvSLdau3H4pvCZxPM5MajT4q5yTw", oauth_signature="amu%2B5PJc5YohNJvumE%2FVJPZXbrU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185680", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/09101951-a3ea-422b-b35c-e92f09e6d88e/\", \"task_id\": \"09101951-a3ea-422b-b35c-e92f09e6d88e\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-15T20:28:00Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:28:00Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"5375234f3c307ec505e86112\"}, \"id\": \"5375234f86d9a9321c14a5bb\"}"
  recorded_at: Thu, 15 May 2014 20:28:00 GMT
recorded_with: VCR 2.9.0
