<span page-title ng-model="subscription">{{ 'Activation Keys for Subscription:' | translate }} {{ subscription.product_name }}</span>

<div class="details details-full">

  <h3 translate>
    Included in Activation Keys
  </h3>

  <table class="table table-striped" bst-table="table" ng-class="{'table-mask': working}">
    <thead>
      <tr bst-table-head>
        <th bst-table-column="name" sortable><span translate>Name</span></th>
        <th bst-table-column="environment"><span translate>Environment</span></th>
        <th bst-table-column="contentView"><span translate>Content View</span></th>
        <th bst-table-column="contentView"><span translate>Service Level</span></th>
        <th bst-table-column="contentView"><span translate>Release Version</span></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-show="!working && activationKeys.length === 0">
        <td colspan="5" translate>This subscription is not associated with any activation keys.</td>
      </tr>

      <tr ng-show="working">
        <td colspan="5" translate>
          <div class="loading-mask fa-3x" ng-show="working">
            <i class="fa fa-spinner fa-spin"></i>
            {{ "Loading..." | translate }}
          </div>
        </td>
      </tr>

      <tr bst-table-row ng-repeat="activationKey in activationKeys">
        <td bst-table-cell>
          <a ui-sref="activation-keys.details.info({activationKeyId: activationKey.id})">
            {{ activationKey.name }}
          </a>
        </td>
        <td bst-table-cell>{{ activationKey.environment.name || "" }}</td>
        <td bst-table-cell>{{ activationKey.content_view.name || "" }}</td>
        <td bst-table-cell>{{ activationKey.service_level || "" }}</td>
        <td bst-table-cell>{{ activationKey.release_version || "" }}</td>
      </tr>
    </tbody>
  </table>

</div>
