<span page-title ng-model="subscription">{{ 'Content Hosts for Subscription:' | translate }} {{ subscription.name }}</span>

<div class="nutupane">

  <h3 translate>
    Attached to Content Hosts
  </h3>

  <div bst-alert="info" ng-show="!working && contentHosts.length === 0">
    <span translate>This subscription is not attached to any content hosts.</span>
  </div>

  <table class="table table-bordered table-striped" bst-table="table" ng-show="contentHosts.length > 0" ng-class="{'table-mask': working}">
    <thead>
      <tr bst-table-head>
        <th bst-table-column="name" sortable><span translate>Name</span></th>
        <th bst-table-column="status">
          {{ "Subscription Status" | translate }}
        </th>
        <th bst-table-column="virtual"><span translate>Virtual</span></th>
        <th bst-table-column="environment" sortable><span translate>Environment</span></th>
        <th bst-table-column="contentView"><span translate>Content View</span></th>
        <th bst-table-column="serviceLevel"><span translate>Service Level</span></th>
        <th bst-table-column="sockets"><span translate>Sockets</span></th>
        <th bst-table-column="cores"><span translate>Cores per Socket</span></th>
        <th bst-table-column="memory"><span translate>RAM (GB)</span></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-show="working">
        <td colspan="9">
          <div class="loading-mask fa-3x" ng-show="working">
            <i class="fa fa-spinner fa-spin"></i>
            {{ "Loading..." | translate }}
          </div>
        </td>
      </tr>

      <tr bst-table-row ng-repeat="contentHost in contentHosts"
          ng-controller="ContentHostStatusController">
        <td bst-table-cell>
          <a ui-sref="content-hosts.details.info({hostId: contentHost.host_id})">
            {{ contentHost.name }}
          </a>
        </td>
        <td bst-table-cell>
          <span class="fa fa-circle" ng-class="getSubscriptionStatusColor(contentHost['entitlement_status'])">
          </span>
        </td>
        <td bst-table-cell>{{ virtual(contentHost.facts) | booleanToYesNo }}</td>
        <td bst-table-cell>{{ contentHost.environment.name }}</td>
        <td bst-table-cell>{{ contentHost.content_view.name || "" }}</td>
        <td bst-table-cell>{{ contentHost.service_level }}</td>
        <td bst-table-cell>{{ contentHost.facts.cpu['cpu_socket(s)'] }}</td>
        <td bst-table-cell>{{ contentHost.facts.cpu['core(s)_per_socket'] }}</td>
        <td bst-table-cell>{{ host.facts["dmi::memory::size"]) }}</td>
      </tr>
    </tbody>
  </table>

</div>
