<div data-extend-template="layouts/details-page-with-breadcrumbs.html">
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <header data-block="header">
    <h2>{{ subscription.name }}</h2>
  </header>

  <nav data-block="navigation">
    <div content-access-mode-banner></div>
    <ul class="nav nav-tabs details-nav">
      <li ng-class="{active: isState('subscription.info')}">
        <a translate ui-sref="subscription.info({subscriptionId: subscription.id})">
          Details
        </a>
      </li>
      <li ng-class="{active: stateIncludes('subscription.products')}">
        <a translate ui-sref="subscription.products({subscriptionId: subscription.id})">
          Product Content
        </a>
      </li>
      <li class="dropdown" uib-dropdown
          ng-class="{active: stateIncludes('subscription.activation-keys') || stateIncludes('subscriptions.details.associations-content-hosts')}">
        <a uib-dropdown-toggle>
          <span translate>Associations</span>
          <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li>
            <a ui-sref="subscription.activation-keys({subscriptionId: subscription.id})" translate>
              Activation Keys
            </a>
          </li>
          <li>
            <a ui-sref="subscription.content-hosts({subscriptionId: subscription.id})" translate>
              Hosts
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div data-block="content">
    <section ui-view></section>
  </div>
</div>
