<div data-extend-template="layouts/details-page-with-breadcrumbs.html">
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <header data-block="header">
    <h2>{{ subscription.name }}</h2>
  </header>

  <nav data-block="navigation">
    <div content-access-mode-banner></div>
    <ul class="nav nav-tabs details-nav">
      <li ng-class="{active: isState('subscription.info')}">
        <a translate ui-sref="subscription.info({subscriptionId: subscription.id})">
          Details
        </a>
      </li>
      <li ng-class="{active: stateIncludes('subscription.products')}">
        <a translate ui-sref="subscription.products({subscriptionId: subscription.id})">
          Product Content
        </a>
      </li>
    </ul>
  </nav>

  <div data-block="content">
    <section ui-view></section>
  </div>
</div>
