<div alert type="'info'">
  {{ "Below are the product's repository content sets currently available for this subscription. For Red Hat subscriptions, additional content can be made available through the" | translate}}
  <a ng-href="/katello/providers/redhat_provider" translate>Red Hat Repositories page</a>.
</div>

<div class="loading-mask loading-mask-panel" ng-show="displayArea.working">
  <i class="fa fa-spinner fa-spin"></i>
  {{ "Loading..." | translate }}
</div>

<div class="details details-full pull-left">
  <section>
    <div ng-show="products.length < 1" translate>
      No repository content provided through this subscription.
    </div>

    <div ng-repeat="product in products" ng-hide="product.available_content.length < 1"
         ng-controller="SubscriptionProductDetailsController">
      <i ng-class="{'fa fa-plus': !expanded, fa fa--minus': expanded}"
         class="expand-icon" ng-click="expanded = !expanded"></i>
      <b>{{ product.name }}</b>

      <div ng-show="expanded">
        <div ng-show="details.available_content.length < 1" translate>
          No repository content.
        </div>

        <div ng-repeat="content in product.available_content">
          <h4><u>{{ content.content.name }}</u></h4>

          <div class="detail">
            <span class="info-label" translate>Content Download URL</span>
            <span class="info-value">{{ content.content.contentUrl }}</span>
          </div>

          <div class="detail">
            <span class="info-label" translate>GPG Key URL</span>
            <span class="info-value">{{ content.content.gpgUrl }}</span>
          </div>

          <div class="detail">
            <span class="info-label" translate>Repo Type</span>
            <span class="info-value">{{ content.content.type }}</span>
          </div>

          <div class="detail">
            <span class="info-label" translate>Enabled?</span>
            <span class="info-value">{{ content.enabled | booleanToYesNo }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
