<div data-extend-template="layouts/two-column-details.html">
  <div data-block="left-column">
    <h4 translate>Subscription Info</h4>

    <dl class="dl-horizontal dl-horizontal-left">
      <dt translate>Name</dt>
      <dd>{{ subscription.name }}</dd>

      <dt translate>Description</dt>
      <dd>{{ subscription.description }}</dd>
      
      <dt>
        <span translate>Virt-Who Usage Required</span>
        <i class="pf pficon-info"
          tooltip-html-unsafe="{{ virtWhoToolTip }}"
           tooltip-trigger="click"
           tooltip-animation="false"
           tooltip-placement="right"
           tooltip-close-popup-delay="5"
           tooltip-append-to-body="true">
        </i>
      </dt>
      <dd>{{ subscription.virt_who | booleanToYesNo }}</dd>

      <dt translate>Consumed</dt>
      <dd>{{ subscription | subscriptionConsumedFilter }}</dd>

      <dt translate>Starts</dt>
      <dd>{{ subscription.start_date | date:"short" }}</dd>

      <dt translate>Ends</dt>
      <dd>{{ subscription.end_date | date:"short" }}</dd>

      <dt translate>Product ID</dt>
      <dd>{{ subscription.product_id }}</dd>

      <dt translate>Contract Number</dt>
      <dd>{{ subscription.contract_number }}</dd>

      <dt translate>Account Number</dt>
      <dd>{{ subscription.account_number }}</dd>

      <dt translate>Support Level</dt>
      <dd>{{ subscription.support_level }}</dd>

      <dt translate>Support Type</dt>
      <dd>{{ subscription.support_type }}</dd>

      <dt translate>Architecture(s)</dt>
      <dd>{{ subscription.arch }}</dd>

      <dt translate>Type</dt>
      <dd>{{ subscription.type }}</dd>

      <dt translate>Limits</dt>
      <dd>{{ subscriptionLimits(subscription) }}</dd>

      <dt translate>Multi-entitlement</dt>
      <dd>{{ subscription.multi_entitlement | booleanToYesNo }}</dd>

      <dt translate>Instance-based</dt>
      <dd>{{ formatInstanceBased(subscription) }}</dd>

      <dt ng-hide="subscription.stacking_id == ''" translate>Stacking ID</dt>
      <dd ng-hide="subscription.stacking_id == ''">{{ subscription.stacking_id }}</dd>

      <dt ng-hide="subscription.source_pool_id == undefined || subscription.source_pool_id == ''" translate>Virtual Guest From</dt>
      <dd ng-hide="subscription.source_pool_id == undefined || subscription.source_pool_id == ''">{{ subscription.name }}</dd>

      <dt ng-hide="subscription.host_id == undefined || subscription.host_id == ''" translate>Required Host</dt>
      <dd ng-hide="subscription.host_id == undefined || subscription.host_id == ''">{{ subscription.host.name }}</dd>
    </dl>
  </div>

  <div data-block="right-column">
    <h4 translate>Associations</h4>
    <section>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th translate>Resource</th>
            <th translate>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Content Hosts</td>
            <td>
              <a ui-sref="content-hosts({search: searchQuery(subscription)})" translate>
                {{ subscription.host_count }}
              </a>
            </td>
          </tr>
          <tr>
            <td>Activation Keys</td>
            <td>
              <a ui-sref="activation-keys({search: searchQuery(subscription)})" translate>
                {{ subscription.activation_keys.length }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <h4 translate>Provided Products</h4>

    <ul>
      <li ng-repeat="product in subscription.provided_products">
        {{ product.name }}
      </li>
    </ul>

    <p ng-show="subscription.provided_products.length === 0" translate>
      No Products are provided by this Subscription.
    </p>

  </div>
</div>

