#panel-frame
  #panel.closed.panel
    .data
      .spinner
        = image_tag ("spinner.gif")
      .panel-content

  #subpanel.panel.subpanel.closed
    .data
      .spinner
        = image_tag ("spinner.gif")
      .panel-content