<span page-title>{{ 'Activation Keys' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="header">
    {{ 'Activation Keys' | translate }}
  </div>

  <div data-block="actions">
    <button class="btn btn-primary" ui-sref="activation-keys.new" ng-hide="denied('create_activation_keys')">
      <i class="fa fa-plus"></i>
      {{ "New Activation Key" | translate }}
    </button>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Activation Keys, you can add Activation Keys using the button on the right.
  </span>
</div>
