<table class="table table-striped" ng-class="{'table-mask': table.working}">
  <thead>
    <tr bst-table-head>
      <th bst-table-column="name" sortable><span translate>Name</span></th>
      <th bst-table-column="consumed"><span translate>Consumed</span></th>
      <th bst-table-column="environment"><span translate>Environment</span></th>
      <th bst-table-column="contentView"><span translate>Content View</span></th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row ng-repeat="activationKey in table.rows">
      <td bst-table-cell>
        <a ui-sref="activation-keys.details.info({activationKeyId: activationKey.id})">
          {{ activationKey.name }}
        </a>
        <i class="fa fa-chevron-right selected-icon" ng-show="activationKey.selected"></i>
      </td>
      <td bst-table-cell>{{ activationKey | activationKeyConsumedFilter }}</td>
      <td bst-table-cell>{{ activationKey.environment.name || "" }}</td>
      <td bst-table-cell>{{ activationKey.content_view.name || "" }}</td>
    </tr>
  </tbody>
</table>
