<p class="alert alert-info" ng-show="table.rows.length === 0" translate>
  You currently don't have any Activation Keys, you can add Activation Keys using the button on the right.
</p>

<table class="table table-striped" ng-class="{'table-mask': table.working}" ng-show="table.rows.length > 0">
  <thead>
    <tr bst-table-head>
      <th bst-table-column="name" sortable><span translate>Name</span></th>
      <th bst-table-column="consumed"><span translate>Consumed</span></th>
      <th bst-table-column="environment" bst-feature-flag="lifecycle_environments"><span translate>Environment</span></th>
      <th bst-table-column="contentView" bst-feature-flag="lifecycle_environments"><span translate>Content View</span></th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row ng-repeat="activationKey in table.rows">
      <td bst-table-cell>
        <a ui-sref="activation-keys.details.info({activationKeyId: activationKey.id})">
          {{ activationKey.name }}
        </a>
        <i class="icon-chevron-right selected-icon" ng-show="activationKey.selected"></i>
      </td>
      <td bst-table-cell>{{ activationKey | activationKeyConsumedFilter }}</td>
      <td bst-table-cell bst-feature-flag="lifecycle_environments">{{ activationKey.environment.name || "" }}</td>
      <td bst-table-cell bst-feature-flag="lifecycle_environments">{{ activationKey.content_view.name || "" }}</td>
    </tr>
  </tbody>
</table>
