<span page-title>{{ 'Content Host Bulk Subscriptions' | translate }}</span>

<div class="details">
  <section>
    <h4 translate>Content Host Subscriptions</h4>
    <button class="btn btn-primary"
            translate
            ng-hide="denied('edit_content_hosts', contentHost)"
            ng-click="subscription.confirm = true"
            ng-disabled="! subscription.taskRunnable">
      Auto-attach available subscriptions to all content hosts
    </button>

    <span ng-show="subscription.runningTask">
      <span ng-show="subscription.runningTask.state === 'starting'">
        <i class="fa fa-spinner inline-icon fa-spin"></i>
        <span translate>Starting</span>
      </span>
      <span ng-show="subscription.runningTask.state === 'running'">
        <i class="fa fa-spinner inline-icon fa-spin"></i>
        <span translate>Working</span>
      </span>
      <span ng-show="subscription.runningTask.state === 'paused'">
        <i class="fa fa-warning inline-icon"></i>
        <span translate>Paused</span>
      </span>
      <span translate ng-show="subscription.runningTask.state != 'starting'">
        (<a href="/foreman_tasks/tasks/{{ subscription.runningTask.task.id }}">{{ "task details" | translate }}</a>)
      </span>
    </span>
`
    <div class="inline-confirmation" ng-show="subscription.confirm">
      <div class="confirmation_text" translate>
        Are you sure you want to auto-attach available subscriptions to all {{ contentHostTable.resource.total }} content hosts?
      </div>
      <button class="btn btn-default" ng-click="performAutoAttachSubscriptions()" translate>Yes</button>
      <button class="btn btn-default" ng-click="subscription.confirm = false" translate>No</button>
    </div>
  </section>
</div>
