<span page-title>{{ 'Content Host Bulk Errata' | translate }}</span>

<section>

  <div bst-alert="info" ng-show="showConfirm">
    <p translate>
      Are you sure you want to apply the {{ detailsTable.numSelected }} selected errata to the content hosts chosen?
    </p>
    <button class="btn btn-default" ng-click="hideConfirmDialog(); detailsTable.working = false" translate>No</button>
    <button class="btn btn-default" ng-click="hideConfirmDialog(); installErrata()" translate>Yes</button>
  </div>

  <div bst-alert="warning" ng-show="outOfDate && table.numSelected > 0">
    <i class="inline-icon fa fa-exclamation"></i>
    <span translate>
      Your selected content hosts have changed, it is highly recommended to refresh the calculated list of errata using the 'Refresh Errata' button below.
    </span>
    <a ng-click="fetchErrata()" translate>
      Click here to refresh.
    </a>
  </div>

  <div data-extend-template="layouts/details-nutupane.html">

    <div data-block="header" translate>Content Host Errata Management</div>

    <div data-block="actions">
      <button class="btn btn-default"
              ng-disabled="table.numSelected === 0 || detailsTable.working"
              ng-click="fetchErrata()">
        <i class="fa fa-refresh"></i>
        {{ "Refresh Table" | translate }}
      </button>

      <button class="btn btn-primary"
              ng-disabled="table.numSelected === 0 || detailsTable.working || detailsTable.numSelected === 0"
              ng-click="showConfirmDialog()">
        <i class="fa fa-plus"></i>
        {{ "Install Selected" | translate }}
      </button>
    </div>

    <span data-block="no-rows-message" translate>
      There are no Errata associated with this Content Host to display.
    </span>

    <div data-block="table">
      <table class="table table-striped"
             ng-class="{'table-mask': detailsTable.working}"
             ng-show="detailsTable.rows.length > 0">
       <thead>
         <tr bst-table-head row-select>
           <th class="small" bst-table-column="type" translate>Type</th>
           <th class="small" bst-table-column="errata_id" translate>Id</th>
           <th bst-table-column="title" translate>Title</th>
           <th class="small" bst-table-column="issued" translate>Issued</th>
           <th class="small" bst-table-column="content_host_affected" translate>Affected Content Hosts</th>
         </tr>
       </thead>

       <tbody>
         <tr bst-table-row ng-repeat="erratum in detailsTable.rows" row-select="erratum">
           <td class="small" bst-table-cell>
               {{ erratum.type }}
           </td>
           <td class="small" bst-table-cell>
             <a ng-click="transitionToErrata(erratum)">
               {{ erratum.errata_id }}
             </a>
           </td>

           <td bst-table-cell>{{ erratum.title }}</td>
           <td class="small" bst-table-cell>{{ erratum.issued }}</td>
           <td class="small" bst-table-cell class="number-cell">
             <a ng-click="transitionToErrataContentHosts(erratum)">
              {{ erratum.applicable_consumers.length }}
             </a>
           </td>
         </tr>
       </tbody>
      </table>
    </div>

  </div>  
</section>


