<span page-title>{{ 'Content Host Bulk Actions' | translate }}</span>

<section class="nutupane-details" ng-cloak bst-container-scroll>
  <header class="details-header">
    <h2 class="fl" translate>Bulk Actions</h2>

    <div class="fr">
      <button class="btn btn-default"
              translate
              ng-hide="denied('destroy_content_hosts')"
              ng-disabled="removingContentHosts"
              ng-click="openModal()">
        Unregister Content Hosts
      </button>

      <span ng-show="removingContentHosts">
        <i class="icon-spinner inline-icon icon-spin"></i>
        <span>{{ "Removing Content Hosts" | translate }}</span>
      </span>

      <button class="btn btn-default" ui-sref="content-hosts.index">
        <i class="icon-remove"></i>
        {{ "Close" | translate }}
      </button>

      <div bst-modal="performUnregisterContentHosts()" model="table"
           modal-header='Unregister {{ contentHostTable.numSelected  }} Content Hosts?'
           modal-body='Are you sure you want to unregister the {{ contentHostTable.numSelected }} content host(s) selected?'></div>

    </div>
  </header>

  <nav class="details-navigation">
    <ul>
      <li ng-class="{active: isState('content-hosts.bulk-actions.packages')}"
          bst-feature-flag="remote_actions">
        <a translate
           ui-sref="content-hosts.bulk-actions.packages">
          Packages
        </a>
      </li>

      <li ng-class="{active: stateIncludes('content-hosts.bulk-actions.errata')}"
          bst-feature-flag="remote_actions">
        <a translate
           ui-sref="content-hosts.bulk-actions.errata.list">
          Errata
        </a>
      </li>

      <li ng-class="{active: isState('content-hosts.bulk-actions.host-collections')}">
        <a translate
           ui-sref="content-hosts.bulk-actions.host-collections">
          Host Collections
        </a>
      </li>

      <li ng-class="{active: isState('content-hosts.bulk-actions.environment')}">
        <a translate
           ui-sref="content-hosts.bulk-actions.environment">
          Content Host Content
        </a>
      </li>

      <li ng-class="{active: isState('content-hosts.bulk-actions.subscriptions')}">
        <a translate
           ui-sref="content-hosts.bulk-actions.subscriptions">
          Subscriptions
        </a>
      </li>
    </ul>
  </nav>

  <div>

    <div class="alert warning alert-warning" ng-show="table.numSelected == 0 && !isState('content-hosts.bulk-actions.subscriptions')">
      <i class="icon-exclamation-sign"></i>
      {{ 'At least one content host needs to be selected in order to perform a bulk action.' | translate }}
    </div>

    <div bst-alert success-messages="state.successMessages" error-messages="state.errorMessages"></div>

    <div class="alert alert-info" ng-show="state.working">
      <i class="icon-spinner inline-icon icon-spin"></i>
      {{ 'Processing' | translate }}
    </div>

    <span ng-disabled="table.numSelected == 0">
      <div ui-view></div>
    </span>
  </div>

</section>
