<span page-title>{{ 'Content Host Bulk Host Collections' | translate }}</span>

<div bst-alert="info" ng-show="hostCollections.action == 'add'">
  <div translate>
    Are you sure you want to add the {{ table.numSelected }} content host(s) selected to the host collection(s) chosen?
  </div>
  <button class="btn btn-default" ng-click="hostCollections.action = null; hostCollections.working = false" translate>No</button>
  <button class="btn btn-default" ng-click="performHostCollectionAction()" translate>Yes</button>
</div>

<div bst-alert="info" ng-show="hostCollections.action == 'remove'">
  <div translate>
    Are you sure you want to remove the {{ table.numSelected }} content host(s) selected from the host collection(s) chosen?
  </div>
  <button class="btn btn-default" ng-click="hostCollections.action = null; hostCollections.working = false" translate>No</button>
  <button class="btn btn-default" ng-click="performHostCollectionAction()" translate>Yes</button>
</div>

<section>
  <div data-extend-template="layouts/details-nutupane.html">

    <div data-block="header" translate>
      Host Collection Membership Management
    </div>

    <div data-block="actions">
      <button class="btn btn-default"
              ng-hide="denied('edit_content_hosts', contentHost)"
              ng-disabled="table.numSelected == 0 || detailsTable.numSelected == 0"
              ng-click="hostCollections.action = 'add'; hostCollections.working = true">
        <i class="fa fa-plus"></i>
        {{ "Add To" | translate }}
      </button>

      <button class="btn btn-default"
              ng-hide="denied('edit_content_hosts', contentHost)"
              ng-disabled="table.numSelected == 0 || detailsTable.numSelected == 0"
              ng-click="hostCollections.action = 'remove'; hostCollections.working = true">
        <i class="fa fa-minus"></i>
        {{ "Remove From" | translate }}
      </button>
    </div>

    <span data-block="no-rows-message" translate>
      There are no Host Collections available. You can create new Host Collections after selecting 'Host Collections' under 'Hosts' in main menu.
    </span>

    <div data-block="table">
      <table data-block="table"  class="table table-striped" ng-class="{'table-mask': state.working}">
        <thead>
          <tr bst-table-head row-select>
            <th bst-table-column="name"><span translate>Name</span></th>
            <th bst-table-column="content_hosts"><span translate>Content Hosts</span></th>
            <th bst-table-column="limit"><span translate>Limit</span></th>
          </tr>
        </thead>      

        <tbody>
          <tr bst-table-row ng-repeat="hostCollection in detailsTable.rows" row-select="hostCollection">
            <td bst-table-cell>
              <a class="clickable" ui-sref="host-collections.details.info({hostCollectionId: hostCollection.id})">
                {{ hostCollection.name }}
              </a>
            </td>
            <td bst-table-cell>
              <a class="clickable" ui-sref="host-collections.details.content-hosts({hostCollectionId: hostCollection.id})">
                {{ hostCollection.total_content_hosts }}
              </a>
            </td>
            <td bst-table-cell>{{ hostCollection.max_content_hosts | unlimitedFilter:hostCollection.unlimited_content_hosts }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>
