<span page-title>{{ 'Applicable Content Hosts for Errata' | translate }}</span>

<a ui-sref="content-hosts.bulk-actions.errata.list">
  <i class="fa fa-double-angle-left"></i>
  {{ "Back To Errata List" | translate }}
</a>

<h3 translate>Applicable hosts for {{ erratum.errata_id }} </h3>

<div class="details details-full">
  <section>
    <table class="table">
      <thead>
        <tr>
          <th translate>
            Name
          </th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="contentHost in erratum.applicable_consumers">
          <td>{{ contentHost.name }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
