<span page-title ng-model="version">{{ 'Version:' | translate }} {{ version.version }}</span>

<nav role="navigation">
  <ul class="nav nav-tabs nav-tabs-pf">
    <li ng-show="contentView.composite" ng-class="{active: isState('content-view.version.components')}">
      <a ui-sref="content-view.version.components({versionId: version.id})">
        <span translate>Components</span>
      </a>
    </li>

    <li ng-class="{active: isState('content-view.version.yum')}"
        ng-show="hasRepositories(version, 'yum')">
      <a ui-sref="content-view.version.yum({versionId: version.id})">
        <span translate>Yum Repositories</span>
      </a>
    </li>

    <li ng-class="{active: isState('content-view.version.packages')}"
        ng-show="version.package_count !== 0">
      <a ui-sref="content-view.version.packages({versionId: version.id})">
        <span translate>rpm Packages</span>
      </a>
    </li>

    <li ng-class="{active: isState('content-view.version.package-groups')}"
        ng-show="version.package_group_count !== 0">
      <a ui-sref="content-view.version.package-groups({versionId: version.id})">
        <span translate>rpm Package Groups</span>
      </a>
    </li>

    <li ng-class="{active: isState('content-view.version.module-streams')}"
        ng-show="version.module_stream_count !== 0">
      <a ui-sref="content-view.version.module-streams({versionId: version.id})">
        <span translate>Module Streams</span>
      </a>
    </li>

    <li ng-class="{active: isState('content-view.version.errata')}"
        ng-show="hasErrata(version)">
      <a ui-sref="content-view.version.errata({versionId: version.id})">
        <span translate>Errata</span>
      </a>
    </li>

    <li ng-class="{active: isState('content-view.version.apt')}"
        ng-show="version.deb_count !== 0">
      <a ui-sref="content-view.version.apt({versionId: version.id})">
        <span translate>Apt Repositories</span>
      </a>
    </li>

    <li ng-class="{active: isState('content-view.version.deb')}"
        ng-show="version.deb_count !== 0">
      <a ui-sref="content-view.version.deb({versionId: version.id})">
        <span translate>Deb Packages</span>
      </a>
    </li>

    <li ng-class="{active: isState('content-view.version.puppet-modules')}"
        ng-show="version.puppet_module_count !== 0">
      <a ui-sref="content-view.version.puppet-modules({versionId: version.id})">
        <span translate>Puppet Modules</span>
      </a>
    </li>

    <li ng-class="{active: isState('content-view.version.docker')}"
        ng-show="version.docker_tag_count !== 0 || version.docker_manifest_count !== 0">
      <a ui-sref="content-view.version.docker({versionId: version.id})">
        <span translate>Docker Repositories</span>
      </a>
    </li>

    <li ng-class="{active: isState('content-view.version.file')}"
        ng-show="version.file_count !== 0">
      <a ui-sref="content-view.version.file({versionId: version.id})">
        <span translate>File Repositories</span>
      </a>
    </li>

    <li ng-class="{active: isState('content-view.version.ostree-branches')}"
        ng-show="version.ostree_branch_count !== 0">
      <a ui-sref="content-view.version.ostree-branches({versionId: version.id})">
        <span translate>OSTree Branches</span>
      </a>
    </li>

    <li ng-class="{active: isState('content-view.version.details')}">
      <a ui-sref="content-view.version.details({versionId: version.id})">
        <span translate>Details</span>
      </a>
    </li>

  </ul>
</nav>

<div ui-view></div>
