<div data-extend-template="layouts/details-nutupane.html">

  <div data-block="header"></div>
  <div data-block="selection-summary"></div>

    <div data-block="filters">
      <div class="row">
        <div class="form-group col-sm-4">
          <select class="form-control" ng-model="repository" ng-options="repository.name for (id, repository) in repositories">
          </select>
        </div>
      </div>
    </div>

  <table data-block="table" class="table table-striped table-bordered">
    <thead>
      <tr bst-table-head>
        <th bst-table-column translate>Name</th>
        <th bst-table-column translate>Repository</th>
      </tr>
    </thead>

    <tbody>
      <tr bst-table-row ng-repeat="packageGroup in detailsTable.rows">
        <td bst-table-cell>{{ packageGroup.name }}</td>
        <td bst-table-cell>{{ packageGroup.repository.name }}</td>
      </tr>
    </tbody>
  </table>

</div>
