#modal-progress-bar {
  min-height: 100px;
}

// Needed to display modal within a container
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.modal-container.modal-open {
  z-index: 0;
}
