.disabled-menu-item-span {
  width: 25em;
  display: flex;
  flex-direction: row;
}

.disabled-menu-item-p {
  margin-left: 0.6em;
  word-break: normal;
}

.disabled-menu-item-icon {
  font-size: small;
}