<span page-title ng-model="branch">{{ 'OSTree Branch: ' | translate }} {{ branch.name }}</span>

<div class="loading-mask loading-mask-panel" ng-show="panel.loading">
  <i class="fa fa-spinner fa-spin"></i>
  {{ "Loading..." | translate }}
</div>

<section class="nutupane-details" ng-cloak bst-container-scroll>

  <header class="details-header">
    <h2 class="fl">{{ branch.name }}</h2>

    <div class="details-actions fr">
      <button class="btn btn-default" ui-sref="ostree-branches.index">
        <i class="fa fa-remove"></i>
        {{ "Close" | translate }}
      </button>
    </div>
  </header>

  <nav class="details-navigation">
    <ul>
      <li ng-class="{active: isState('ostree-branches.details.info')}">
        <a ui-sref="ostree-branches.details.info">
          <span translate>
            Details
          </span>
        </a>
      </li>
      <li ng-class="{active: isState('ostree-branches.details.repositories')}">
        <a ui-sref="ostree-branches.details.repositories">
          <span translate>
            Repositories
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <section ui-view></section>
</section>
