<span page-title ng-model="branch">{{ 'OSTree Branch: ' | translate }} {{ branch.name }}</span>

<div data-extend-template="layouts/details-page-with-breadcrumbs.html">
  <div data-block="header">
    {{ branch.name }}
  </div>

  <nav data-block="navigation">
    <ul class="nav nav-tabs">
      <li ng-class="{active: isState('ostree-branch.info')}">
        <a ui-sref="ostree-branch.info">
          <span translate>
            Details
          </span>
        </a>
      </li>
      <li ng-class="{active: isState('ostree-branch.repositories')}">
        <a ui-sref="ostree-branch.repositories">
          <span translate>
            Repositories
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <div data-block="content">
    <section ui-view></section>
  </div>
</div>
