--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"distributors\":[{\"distributor_id\":\"1\",\"auto_publish\":false,\"distributor_config\":{\"relative_url\":\"/test_path/\",\"protected\":true,\"https\":true,\"http\":false},\"distributor_type\":\"yum_distributor\"}],\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\",\"ssl_ca_cert\":null},\"id\":\"1\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="nQAB0uMMnAMoMTR9pZU2Ko75mou3PZW9jsnI8kTSUM", oauth_signature="bWhjNM4%2F66APa94SwcJY%2BGfvODs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816366", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"514a2faf9c60ed64a3001625\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 20 Mar 2013 21:52:47 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"override_config\":{\"num_threads\":4,\"max_speed\":10000}}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="6QejTWXowYFFWNBlgviUCpNp2U1TH3kvw1FjKA5Y", oauth_signature="7MkhqdSEZDHWIidS240OSQc347w%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816367", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"42c16303-8aeb-495d-ade6-45d04f650187\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/42c16303-8aeb-495d-ade6-45d04f650187/\", \"task_id\": \"0cc5055d-c649-4214-bddc-8a12beb291e5\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"42c16303-8aeb-495d-ade6-45d04f650187\", \"call_request_id\": \"0cc5055d-c649-4214-bddc-8a12beb291e5\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 20 Mar 2013 21:52:47 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="lPx7O2q7XRxiYBNCswDoQMZwjVZ55xaKN4KMQG4HE", oauth_signature="O2EUCwPszzwaNVa46GBQusdPYsY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816371", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"de4bdcb2-14dc-4b21-93c5-f0df23802ef1\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/de4bdcb2-14dc-4b21-93c5-f0df23802ef1/\", \"task_id\": \"294bd779-aaab-437b-8b64-8042e580dfa6\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"de4bdcb2-14dc-4b21-93c5-f0df23802ef1\", \"call_request_id\": \"294bd779-aaab-437b-8b64-8042e580dfa6\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 20 Mar 2013 21:52:51 GMT
