--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/git/katello/test/fixtures/zoo5\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="WnYxQYwflpOQSOugQJScbvNIHf1obWkQBpTruCzOKY", oauth_signature="uJfFAr8qrwnjyum1V0El62YuWvI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071791", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"51d769af5ca0130acd0c2077\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Sat, 06 Jul 2013 00:49:51 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="BzR1hwjmxCGFxty9n969IjnuB8yPXa3necRstJO1Vc", oauth_signature="uA5vnGQ7IFh3HhNCBuohvUqBWtE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071791", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"5b8a8eae-cbd2-4369-a139-30f23b59a47d\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/5b8a8eae-cbd2-4369-a139-30f23b59a47d/\", \"task_id\": \"3251ac85-4e97-4d9d-aa3f-a2e30719ca80\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"5b8a8eae-cbd2-4369-a139-30f23b59a47d\", \"call_request_id\": \"3251ac85-4e97-4d9d-aa3f-a2e30719ca80\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": \"5b8a8eae-cbd2-4369-a139-30f23b59a47d\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/5b8a8eae-cbd2-4369-a139-30f23b59a47d/\", \"task_id\": \"2acff477-c5ce-42d8-b4ae-32d032e57882\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"5b8a8eae-cbd2-4369-a139-30f23b59a47d\", \"call_request_id\": \"2acff477-c5ce-42d8-b4ae-32d032e57882\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Sat, 06 Jul 2013 00:49:51 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ezbofTzegZw62Ru0LWZ6PjI7flg4sthpAQOXQxNXU", oauth_signature="CBdIWDDg6AzWp9XJ6vIZ%2BwCus4I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071793", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"545cbf65-6874-4dea-8439-cf40f45549bc\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/545cbf65-6874-4dea-8439-cf40f45549bc/\", \"task_id\": \"b1760106-36c7-40dc-a50f-2791c6517712\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"545cbf65-6874-4dea-8439-cf40f45549bc\", \"call_request_id\": \"b1760106-36c7-40dc-a50f-2791c6517712\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Sat, 06 Jul 2013 00:49:53 GMT
recorded_with: VCR 2.4.0
