--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"importer_config\":{\"ssl_client_cert\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\",\"ssl_client_key\":null,\"ssl_ca_cert\":null},\"distributors\":[{\"auto_publish\":false,\"distributor_type\":\"yum_distributor\",\"distributor_id\":\"1\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"https\":true,\"http\":false,\"protected\":true}}],\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="OTtxUYXadryDLULWd04e7yTR7oSLiF3L3pNmAlsr8", oauth_signature="r2a7YA34HvbYNHA0aDrKYbPsQ1A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829943", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "1"
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"514a64b79c60ed64a3003fd0\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 21 Mar 2013 01:39:03 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"override_config\":{\"max_speed\":10000,\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="DhTXJb01cj4TK4nVJFnnSS1YiXBdEomXaScNk6Mjs", oauth_signature="9muAM%2BQyoiU2MBeZ%2BziEoF1y74o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829943", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"ba01b0eb-209f-45c4-a00b-1856f5de9575\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/ba01b0eb-209f-45c4-a00b-1856f5de9575/\", \"task_id\": \"7e5ac9b9-8629-4753-952e-5ed83196fad8\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"ba01b0eb-209f-45c4-a00b-1856f5de9575\", \"call_request_id\": \"7e5ac9b9-8629-4753-952e-5ed83196fad8\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 21 Mar 2013 01:39:04 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="r16IdFiG4nmEz7ibVvsF6yMyRroQNq1rKpemOZnpS6c", oauth_signature="o%2FehUVbCEiPPb%2FO7m0igNDwmsbU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363829947", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"066448d2-8c38-4c15-9f08-f3d3bd435fdf\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/066448d2-8c38-4c15-9f08-f3d3bd435fdf/\", \"task_id\": \"53fe4bd0-ef8c-4c9f-99c4-061d2bdc0fff\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"066448d2-8c38-4c15-9f08-f3d3bd435fdf\", \"call_request_id\": \"53fe4bd0-ef8c-4c9f-99c4-061d2bdc0fff\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 21 Mar 2013 01:39:07 GMT
