--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/git/katello/test/fixtures/zoo5\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="fec4WPASoMfvJwegRsDl7tF5NK4JPgALCQdwJPo6NQ", oauth_signature="N%2FhwJu4QinBy9ErhLxPbiOvhbEA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373206", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"51ae3c565ca0133c2a01dd1b\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Tue, 04 Jun 2013 19:13:27 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="LZbiDTsaUpU8gNZ0W3CzQG8mtrov9lJn933CXxWcw", oauth_signature="L3E6W00GDiduCD2fcz3FtFOKXgQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373207", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"404befae-3232-4019-8b80-4a40c1f39777\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/404befae-3232-4019-8b80-4a40c1f39777/\", \"task_id\": \"7f6176e4-53b8-41e2-ab06-0065f5bcbd00\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"404befae-3232-4019-8b80-4a40c1f39777\", \"call_request_id\": \"7f6176e4-53b8-41e2-ab06-0065f5bcbd00\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": \"404befae-3232-4019-8b80-4a40c1f39777\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/404befae-3232-4019-8b80-4a40c1f39777/\", \"task_id\": \"143a7ff4-58c8-4a1c-93d5-69649c109927\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"404befae-3232-4019-8b80-4a40c1f39777\", \"call_request_id\": \"143a7ff4-58c8-4a1c-93d5-69649c109927\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 04 Jun 2013 19:13:27 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="sarlyIgu4qpfAGYiFXZLDcIiFuygW9Sif3uYAbs", oauth_signature="8Hpao6vDniXWwoY50poCw8yiCAU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1370373209", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"8b535e3b-1580-43fb-b2e4-d3c3ca11da22\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/8b535e3b-1580-43fb-b2e4-d3c3ca11da22/\", \"task_id\": \"dbd505a9-4aea-4e93-be86-c30298f684ca\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"8b535e3b-1580-43fb-b2e4-d3c3ca11da22\", \"call_request_id\": \"dbd505a9-4aea-4e93-be86-c30298f684ca\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 04 Jun 2013 19:13:29 GMT
recorded_with: VCR 2.4.0
