--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///home/jlsherri/git/katello/test/fixtures/zoo5\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="AnYY8pTZ2Qm89uHp48PBZkLIoGh3WCUYR088o0DE", oauth_signature="hF5Ocv92zDBXQeJTYd8JAuBdDOE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196504", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"51f7d5585ca0137fe7579dd4\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Tue, 30 Jul 2013 15:01:45 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ZHRx4a91XXopJoTP6hf9T6JjWsCRzZTDIKbkQgUEMNA", oauth_signature="4tY0p%2FQRKYYH4mNc5%2FUAmaDzl9w%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196505", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"f855fedf-ad2d-4992-81db-dd1494b58e95\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/f855fedf-ad2d-4992-81db-dd1494b58e95/\", \"task_id\": \"0703f432-51e4-48c0-9216-885f6d7c5ec1\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"f855fedf-ad2d-4992-81db-dd1494b58e95\", \"call_request_id\": \"0703f432-51e4-48c0-9216-885f6d7c5ec1\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": \"f855fedf-ad2d-4992-81db-dd1494b58e95\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/f855fedf-ad2d-4992-81db-dd1494b58e95/\", \"task_id\": \"fd60732a-7a32-493e-af62-c0e1d9ee97f4\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"f855fedf-ad2d-4992-81db-dd1494b58e95\", \"call_request_id\": \"fd60732a-7a32-493e-af62-c0e1d9ee97f4\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 30 Jul 2013 15:01:45 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="YCK6oJ9W1z2bKR5867RwOl4U40znO0sJGSgItADx58", oauth_signature="0DpglsdU3rnmQkNv3HbQRFbMaJ4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375196507", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"aaab0391-d56f-45b1-978c-6a76696420f9\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/aaab0391-d56f-45b1-978c-6a76696420f9/\", \"task_id\": \"869f3fa1-0a8d-47ed-84cf-a643b41fedb4\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"aaab0391-d56f-45b1-978c-6a76696420f9\", \"call_request_id\": \"869f3fa1-0a8d-47ed-84cf-a643b41fedb4\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 30 Jul 2013 15:01:47 GMT
recorded_with: VCR 2.5.0
