--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/git/katello/test/fixtures/zoo5\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="qATCj6MQ2LaQdHhO3IKxjtxRLH8uxtLrDGGLJQ3un94", oauth_signature="YnBXOVti1PlRRcEZFY34n%2FUZobc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889122", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"51d4a0225ca01330ee97ec3f\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 03 Jul 2013 22:05:22 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="hdjdfJs89W3rEwbWYtZSof5zqWxngzLFIYNYyYLi4", oauth_signature="M97b61GoJrvEWMo6K9txeFrqbTQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889122", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"d767e447-bc27-47ed-b064-1bfd3c7fa819\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/d767e447-bc27-47ed-b064-1bfd3c7fa819/\", \"task_id\": \"57c35bab-9ff7-44ce-9b59-80d022dddf72\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"d767e447-bc27-47ed-b064-1bfd3c7fa819\", \"call_request_id\": \"57c35bab-9ff7-44ce-9b59-80d022dddf72\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": \"d767e447-bc27-47ed-b064-1bfd3c7fa819\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/d767e447-bc27-47ed-b064-1bfd3c7fa819/\", \"task_id\": \"643cde7f-31f2-4d01-b4e9-b5889d4dab65\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"d767e447-bc27-47ed-b064-1bfd3c7fa819\", \"call_request_id\": \"643cde7f-31f2-4d01-b4e9-b5889d4dab65\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 03 Jul 2013 22:05:22 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="FzFmqqjuC0Rj0SgGsulXdEDpOaiRJkTCHo8zzzmq50M", oauth_signature="iJz%2F3Ic8Xkj57HswbJXTWAYlgQw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1372889125", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"3f6b3fbe-2669-4e92-8a1f-a1609504825f\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/3f6b3fbe-2669-4e92-8a1f-a1609504825f/\", \"task_id\": \"6e6b14c3-b7a5-4e43-a1a3-2efb151a7f4d\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"3f6b3fbe-2669-4e92-8a1f-a1609504825f\", \"call_request_id\": \"6e6b14c3-b7a5-4e43-a1a3-2efb151a7f4d\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 03 Jul 2013 22:05:25 GMT
recorded_with: VCR 2.4.0
