--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="jmetbco9XCeeHHqwlfl600aZEj0R7hQS1VlvF3sWE", oauth_signature="SsNR0V1gWy%2F5ydwAjWGHbVWdNv0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362371", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"26dc8557-c530-4967-bccf-5ac488c3c3b5\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/26dc8557-c530-4967-bccf-5ac488c3c3b5/\", \"task_id\": \"73ee3acb-efb5-4511-a496-7f5af0c4a1ec\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"26dc8557-c530-4967-bccf-5ac488c3c3b5\", \"call_request_id\": \"73ee3acb-efb5-4511-a496-7f5af0c4a1ec\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": \"26dc8557-c530-4967-bccf-5ac488c3c3b5\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/26dc8557-c530-4967-bccf-5ac488c3c3b5/\", \"task_id\": \"1d3c77f2-4ab5-43dd-906f-5d8efdd7701f\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"26dc8557-c530-4967-bccf-5ac488c3c3b5\", \"call_request_id\": \"1d3c77f2-4ab5-43dd-906f-5d8efdd7701f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 01 Aug 2013 13:06:11 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="JQQThhtYfDvsxk6ecX3crczrfrwztQ2Q9C8rXw7PY", oauth_signature="hEouyzA9Q3NZv%2B%2FBt8VnZor3toE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375362373", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"696fb313-33f3-4d6f-9fff-60fe84964b6f\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/696fb313-33f3-4d6f-9fff-60fe84964b6f/\", \"task_id\": \"8764b587-13d4-4752-83ec-10c99e3ab748\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"696fb313-33f3-4d6f-9fff-60fe84964b6f\", \"call_request_id\": \"8764b587-13d4-4752-83ec-10c99e3ab748\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 01 Aug 2013 13:06:13 GMT
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"4\",\"display_name\":\"P Forge\",\"importer_type_id\":\"puppet_importer\",\"importer_config\":{\"feed\":\"http://davidd.fedorapeople.org/repos/random_puppet/\"},\"distributors\":[{\"distributor_type\":\"puppet_distributor\",\"distributor_config\":{\"absolute_path\":\"/test_path/\",\"serve_http\":false,\"serve_https\":true},\"auto_publish\":true,\"distributor_id\":\"4\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="RdoVIlaLAjQPty2m9PMX5shUFVRHmqJ0ekRfjeH0jc", oauth_signature="D9Z4o%2BiXIzJfgIX9cNMcHE3vUmY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376428603", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "4"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"P Forge\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"520aa23bd60ea3084673e074\"}, \"id\": \"4\", \"_href\": \"/pulp/api/v2/repositories/4/\"}"
  recorded_at: Tue, 13 Aug 2013 21:16:43 GMT
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/4/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="zwgjfrvc5XuMVgTx2ab2N4fUSldfr1vPsozxq8hk", oauth_signature="Km0IVAZme8lMZkZYGS%2FCMTzbFQY%3D", oauth_signature_metho[...]
- request: 
    method: delete
    uri: https://localhost/pulp/api/v2/repositories/4/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="wARuaB5QlsovmoBmpniFVdSLNoxl9E2ba84wuc0C24", oauth_signature="vPCkHofrA3tNJ%2F6edLBP0MfIgLY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376428606", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"30349722-048b-420f-a4e3-daecba1a40f5\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/30349722-048b-420f-a4e3-daecba1a40f5/\", \"task_id\": \"15533b14-9230-489d-b010-95afa9ba6f63\", \"call_request_tags\": [\"pulp:repository:4\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:4\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"30349722-048b-420f-a4e3-daecba1a40f5\", \"call_request_id\": \"15533b14-9230-489d-b010-95afa9ba6f63\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 13 Aug 2013 21:16:47 GMT
recorded_with: VCR 2.5.0
