--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":false,\"distributor_id\":\"1\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="CcZhtIK5NfEwUiaaH5YtESTi273IkC83GFpvHkxo", oauth_signature="%2By5ULqJQ4iA91FhThJg5d4x%2F2jk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101192", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"513003c89c60ed2a890052d3\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 01 Mar 2013 01:26:32 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"max_speed\":10000,\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="3x6zQusgaCLz1kN6iBWFS4rditjV53Dy4RcnAA7Ch0", oauth_signature="191eIqVeCDiAx5Bqu8uXhy8xbdk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101192", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"87239258-6b5c-41d7-9273-2d307a335a1c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/87239258-6b5c-41d7-9273-2d307a335a1c/\", \"task_id\": \"13bb2c42-edb2-4931-8390-12ebf82183ef\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"87239258-6b5c-41d7-9273-2d307a335a1c\", \"call_request_id\": \"13bb2c42-edb2-4931-8390-12ebf82183ef\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 01 Mar 2013 01:26:32 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="9nJHCcOUZZeSOdWdRPB75dH3QJBBPXnvbtgZ5QM", oauth_signature="8NgazWEfEKS8us3Q2%2FOjKIZd7VA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101195", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"1d0bcd6a-be1f-4656-a60d-ec21e149d903\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/1d0bcd6a-be1f-4656-a60d-ec21e149d903/\", \"task_id\": \"bd98bdb2-8380-43a9-b546-2f341fc0fbff\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"1d0bcd6a-be1f-4656-a60d-ec21e149d903\", \"call_request_id\": \"bd98bdb2-8380-43a9-b546-2f341fc0fbff\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 01 Mar 2013 01:26:35 GMT
recorded_with: VCR 2.4.0
