--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":false,\"distributor_id\":\"1\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="h7UxNzp6MNNr34uIbeCQy36DLLzTGqSswoDoEFpcgP8", oauth_signature="jzSEXf4oFL0A%2FxxQn6sL9OHQC%2BI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884899", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"514b3b639c60ed64a300507c\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 21 Mar 2013 16:54:59 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"max_speed\":10000,\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="oSQgf0g1Z1sXlDmgiFr7VoUivNh0FmePOXxCVxD9m0", oauth_signature="tmh7NdHdN3ZUbJWcVahAf1HVuqs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884899", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"28ea10be-7739-4df0-9b05-2f52645318c1\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/28ea10be-7739-4df0-9b05-2f52645318c1/\", \"task_id\": \"ad5b518a-1486-4ae6-8e74-94b9bc4c80c0\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"28ea10be-7739-4df0-9b05-2f52645318c1\", \"call_request_id\": \"ad5b518a-1486-4ae6-8e74-94b9bc4c80c0\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 21 Mar 2013 16:54:59 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="dLEv9sRo5ufDePScvD173TvbfLN8Z9DCRthgABBWwVE", oauth_signature="UJP%2F8Bzq0g8bVzar2MSRaAOH9m0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884902", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"a5d4d465-eab9-47ee-bad8-ef2463a2013c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/a5d4d465-eab9-47ee-bad8-ef2463a2013c/\", \"task_id\": \"0cdc91f7-f5f8-4e88-949b-451eb69bd308\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"a5d4d465-eab9-47ee-bad8-ef2463a2013c\", \"call_request_id\": \"0cdc91f7-f5f8-4e88-949b-451eb69bd308\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 21 Mar 2013 16:55:02 GMT
recorded_with: VCR 2.4.0
