--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///home/jlsherri/git/katello/test/fixtures/zoo5\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="1UNArLPtnzWIsasj5NPPTMSVE1kvR5wH95Guv5pQnqk", oauth_signature="lSoKFbzdB%2BQf4P7kLNeU7%2BbEWmo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053590", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5204e9565ca0130f94742e9e\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 09 Aug 2013 13:06:30 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="HVEGvrmWLYwBeyFymVJqk1Xd3zkb9nB5j65fj40ZI", oauth_signature="EXxcM81ZrtvvUF%2FEzCT%2BcS8G1sA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053590", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"d6f6cc96-7bfb-416c-a9b0-bde97b85eb36\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/d6f6cc96-7bfb-416c-a9b0-bde97b85eb36/\", \"task_id\": \"eecea622-5a5b-461d-befa-b4ba729837c4\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"d6f6cc96-7bfb-416c-a9b0-bde97b85eb36\", \"call_request_id\": \"eecea622-5a5b-461d-befa-b4ba729837c4\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": \"d6f6cc96-7bfb-416c-a9b0-bde97b85eb36\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/d6f6cc96-7bfb-416c-a9b0-bde97b85eb36/\", \"task_id\": \"475b3f2b-d266-478a-9b6a-a1076e9a446b\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"d6f6cc96-7bfb-416c-a9b0-bde97b85eb36\", \"call_request_id\": \"475b3f2b-d266-478a-9b6a-a1076e9a446b\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 09 Aug 2013 13:06:30 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RtDesVwSpkAPjXuO0GIdJr5JBI16lNJ68i9arUaiM4", oauth_signature="%2F3Um8zGeicjKvTCl%2FAdpVBe3W7A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376053593", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"d17978ed-2fd5-46e5-a536-8286f44908bb\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/d17978ed-2fd5-46e5-a536-8286f44908bb/\", \"task_id\": \"4cf59ff7-6bf2-4626-8448-a098af049b8e\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"d17978ed-2fd5-46e5-a536-8286f44908bb\", \"call_request_id\": \"4cf59ff7-6bf2-4626-8448-a098af049b8e\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 09 Aug 2013 13:06:33 GMT
recorded_with: VCR 2.5.0
