--- 
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"display_name\":\"Fedora 17 x86_64\",\"importer_config\":{\"ssl_client_key\":null,\"feed_url\":\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\",\"ssl_client_cert\":null,\"ssl_ca_cert\":null},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_id\":\"1\",\"auto_publish\":false,\"distributor_config\":{\"http\":false,\"https\":true,\"relative_url\":\"/test_path/\",\"protected\":true}}],\"id\":\"1\",\"importer_type_id\":\"yum_importer\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="vYoCJQBcVepRIWbNWa3o7bL79qTqAxNABOhPk9vRk4", oauth_signature="xPcxaFCRYKvzZeNSpieVumZZizI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780490", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "1"
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50ee160adc792129cb0026b2\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 10 Jan 2013 01:14:50 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="b8WqpHqmLDlV8bz7YnqO05cmU4m2PjpFmQ8R10rds", oauth_signature="Hx1j%2B6F1KKL8vnOPgNwwECC45QA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780490", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"cd40df8c-8583-466e-a04f-38eebd06c868\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/cd40df8c-8583-466e-a04f-38eebd06c868/\", \"task_id\": \"8cd421a7-e27d-4fc3-98dd-df936baac921\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"cd40df8c-8583-466e-a04f-38eebd06c868\", \"call_request_id\": \"8cd421a7-e27d-4fc3-98dd-df936baac921\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 10 Jan 2013 01:14:50 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="q8r4OOVO8LGuMnDdzjUmjyhWfoitH8Vz9wTq47Eeh8I", oauth_signature="XfpqpQPESO1FtkPJ5uSrwkdXZpE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780493", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"3426b6a2-9e4e-422c-a1c5-5a6c7198615b\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/3426b6a2-9e4e-422c-a1c5-5a6c7198615b/\", \"task_id\": \"0e73a126-ce34-42be-838f-b74aaea4491a\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"3426b6a2-9e4e-422c-a1c5-5a6c7198615b\", \"call_request_id\": \"0e73a126-ce34-42be-838f-b74aaea4491a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 10 Jan 2013 01:14:53 GMT
recorded_with: VCR 2.4.0
