--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/git/katello/test/fixtures/zoo5\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="U6XmvEBIsHFEQU20u60lg7a0KJ4U44O9u8B9EL8l0", oauth_signature="XmELaclb2D9e2ff9RIrSFXwIGCA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693153", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"51c260615ca01342b108389f\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 20 Jun 2013 01:52:33 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="5yCD5hRdwYbVKFBD2TwDlNmbuCeFuBFOcxcp9IctJU", oauth_signature="Ew8g4xXSWPrfhH0Z1K43asiUsao%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693153", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"980fe2ab-7730-45a4-a810-9ecdf824ac24\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/980fe2ab-7730-45a4-a810-9ecdf824ac24/\", \"task_id\": \"31e39f8f-bc36-4f6a-8f30-d5a53cf3cb83\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"980fe2ab-7730-45a4-a810-9ecdf824ac24\", \"call_request_id\": \"31e39f8f-bc36-4f6a-8f30-d5a53cf3cb83\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": \"980fe2ab-7730-45a4-a810-9ecdf824ac24\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/980fe2ab-7730-45a4-a810-9ecdf824ac24/\", \"task_id\": \"f3fde1b8-8613-4462-a734-1c36e3666830\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"980fe2ab-7730-45a4-a810-9ecdf824ac24\", \"call_request_id\": \"f3fde1b8-8613-4462-a734-1c36e3666830\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 20 Jun 2013 01:52:34 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="xVPP5YT2pTHfRgiJ8fdg0p7ZfPYEAfxVGd5J3tF4k8", oauth_signature="vVBrzX%2FQnYTQSS%2Bjaq1wHCw02mM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1371693156", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"94f546c5-47a4-4cf6-a3ed-ad3705a01c07\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/94f546c5-47a4-4cf6-a3ed-ad3705a01c07/\", \"task_id\": \"d3158504-5ea6-44a2-bdf4-97b08d9a585f\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"94f546c5-47a4-4cf6-a3ed-ad3705a01c07\", \"call_request_id\": \"d3158504-5ea6-44a2-bdf4-97b08d9a585f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Thu, 20 Jun 2013 01:52:36 GMT
recorded_with: VCR 2.4.0
