--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ZSztwkosIZVnvVCx8Y0lZF5YgUCJNC5IFyFAwjCkFM", oauth_signature="72GfcAsvIZo24pFTVFKA50jIWF0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376676914", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"9155e6f5-d12a-43cd-b335-ee4631817a02\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/9155e6f5-d12a-43cd-b335-ee4631817a02/\", \"task_id\": \"f21d0f91-099b-4b7f-ab8e-7a47f6e0c6cf\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"9155e6f5-d12a-43cd-b335-ee4631817a02\", \"call_request_id\": \"f21d0f91-099b-4b7f-ab8e-7a47f6e0c6cf\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": \"9155e6f5-d12a-43cd-b335-ee4631817a02\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/9155e6f5-d12a-43cd-b335-ee4631817a02/\", \"task_id\": \"1f5658a0-9109-4a4f-bc09-b09ea1a1174c\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"state\": \"waiting\"[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Pho7zJINSll4yTepBrb5En8S7zu1xmk21seY9dPXZpA", oauth_signature="mN5p8Zzx2bnA5TfEA27lWiMVN9o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376676916", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): repo_id=1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"repo_id\": \"1\"}}"
  recorded_at: Fri, 16 Aug 2013 18:15:17 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"4\",\"display_name\":\"P Forge\",\"importer_type_id\":\"puppet_importer\",\"importer_config\":{\"feed\":\"http://davidd.fedorapeople.org/repos/random_puppet/\"},\"notes\":{\"_repo-type\":\"puppet-repo\"},\"distributors\":[{\"distributor_type\":\"puppet_distributor\",\"distributor_config\":{\"absolute_path\":\"/test_path/\",\"serve_http\":false,\"serve_https\":true},\"auto_publish\":true,\"distributor_id\":\"4\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="8zOGJpndK1cU9xTtCsSn3qzFfwzABPfRVfd0A8pcI", oauth_signature="JZDB5Gs8jchPZZUdQAM9SXJgCbc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376676921", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "4"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"P Forge\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"puppet-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"520e6c395ca01325e2eb3fa7\"}, \"id\": \"4\", \"_href\": \"/pulp/api/v2/repositories/4/\"}"
  recorded_at: Fri, 16 Aug 2013 18:15:21 GMT
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/4/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="09AtbetUMVPgEp9n3ao1ztPffMDun9Pnj7o6XxHxUF4", oauth_signature="8trjUayrT8BZbIlNoru2X9d2GPE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376676924", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"bce7beec-97b8-4114-979f-23f9ee7b8fae\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/bce7beec-97b8-4114-979f-23f9ee7b8fae/\", \"task_id\": \"704df028-c5b5-4496-b018-d540f1968ab2\", \"call_request_tags\": [\"pulp:repository:4\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:4\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"bce7beec-97b8-4114-979f-23f9ee7b8fae\", \"call_request_id\": \"704df028-c5b5-4496-b018-d540f1968ab2\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 16 Aug 2013 18:15:24 GMT
recorded_with: VCR 2.5.0
