--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"include_repos\":true,\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"773117c8-8410-438a-b4e3-bf8b81b494ff\"]}}}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="VbcO5aMP7elJpmM2TFgGoZEOcTFCGzaZ1cegYC2BaA", oauth_signature="xqz71YV8Xnh9dkIsIDokkmN2PTY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377466", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"773117c8-8410-438a-b4e3-bf8b81b494ff\", \"_href\": \"/pulp/api/v2/content/units/erratum/773117c8-8410-438a-b4e3-bf8b81b494ff/\", \"children\": {}, \"repository_memberships\": [\"1\", \"ACME_Corporation-TestProduct-Zoo5\", \"ACME_Corporation-TestProduct-ZooRepo\"]}]"
  recorded_at: Wed, 16 Jan 2013 23:04:26 GMT
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"]}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="xwJOlmZwKxBOd8oBKcpPLr5MY9VBzoJPJwvBI2T9lw", oauth_signature="FGVKrqmd0judLxwDgoHcVlb6ysA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377470", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2013-01-17T04:04:28Z\", \"repo_id\": \"1\", \"created\": \"2013-01-17T04:04:28Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"3818c7fe-98da-4fbe-8ce7-e35219ffc6b8\", \"unit_type_id\": \"erratum\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"50f731fc9c60ed27ce003478\"}, \"id\": \"50f731fc9c60ed27ce003478\", \"owner_id\": \"yum_importer\", \"metadata\": {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"_ns\": \"units_erratum\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": [...]
[...]
