--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="rZocEp6WcgKQME1JnrUQTwdbrVIaPEYeP80sK00O8HI", oauth_signature="MKJTjjP7UympPHWRaLJ9ZeB%2FOKc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032978", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Fri, 16 Nov 2012 02:29:38 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2013-11-15T21:29:38-05:00/P1D\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="wY0gFk15okjZB8WW22NlwE07DvwdCsrO5NYTbZWI2M", oauth_signature="96CLKpPNZhNyZuttOS%2FhyyDj6lo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032978", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50a5a512dc7921666d0023f8/
      Content-Type: 
      - application/json
    body: 
      string: "{\"next_run\": \"2013-11-16T02:29:38Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50a5a512dc7921666d0023f8/\", \"schedule\": \"2013-11-15T21:29:38-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-11-16T02:29:38Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50a5a512dc7921666d0023f8\", \"consecutive_failures\": 0}"
  recorded_at: Fri, 16 Nov 2012 02:29:38 GMT
recorded_with: VCR 2.3.0
