--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="h4PVjZ4EpTXOgnKj4lMHhEZYruLA3aZkAuouFkjVks", oauth_signature="cifZpHv0nfuHXUVJ0UXtC76sfgk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131794", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Mon, 05 Nov 2012 16:09:54 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2013-11-05T11:09:54-05:00/P1D\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="xJ7tP9DmSEn4e4Hh6Fwqkjk8SGERTSJA8iWwCcrCf4", oauth_signature="%2BXYZ0fFI2sDxzqVBQzUjnvLeFBs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131794", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5097e4d2dc79213680001b72/
    body: 
      string: "{\"next_run\": \"2013-11-05T16:09:54Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5097e4d2dc79213680001b72/\", \"schedule\": \"2013-11-05T11:09:54-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-11-05T16:09:54Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"5097e4d2dc79213680001b72\", \"consecutive_failures\": 0}"
  recorded_at: Mon, 05 Nov 2012 16:09:54 GMT
