--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/unassociate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"association\":{\"unit_id\":{\"$in\":[null]}}},\"type_ids\":[\"rpm\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Tsz8pcUNEvBGlSveZmPS2zo9zkC55CWcb0Vi4JWZRE", oauth_signature="OGLxGMvXnG26Vol9xnwNi66Z%2Fd8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453698", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/e6731226-b6a6-4aa1-9f07-d348f00b4511/\", \"task_id\": \"e6731226-b6a6-4aa1-9f07-d348f00b4511\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:action:unassociate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:action:unassociate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"e6731226-b6a6-4aa1-9f07-d348f00b4511\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 23:21:39 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/publish/
    body: 
      string: "{\"id\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="MZmfO1y6ceEXxuWk6j0iXDFUOZuH9MW8Z2DVEprjs", oauth_signature="hQlqOEM8jhE68PBaQ8v7xJ05iIc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453704", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/373c95f2-f21c-4bc3-849b-6d86e9ab84b3/\", \"task_id\": \"373c95f2-f21c-4bc3-849b-6d86e9ab84b3\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"373c95f2-f21c-4bc3-849b-6d86e9ab84b3\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 23:21:44 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/content/units/rpm/search/
    body: 
      string: "{\"include_repos\":true,\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"bb3d6e55-1a0c-4441-84f7-bf86a327d5ab\",\"53455ae9-fdd8-42f1-842e-649956689c48\",\"59a6ab2a-e645-4fb5-a189-04101ea3620b\",\"c82f7cec-52c8-4fc1-a48d-3f1c76d89b44\",\"8f138a8c-046b-4dc2-9464-94738acd0481\",\"a6a2b8f9-9f09-4fb3-b706-a5685065de24\",\"5d2d21a7-0a29-4652-af6c-2f537098b7aa\",\"b7195f08-828a-44e8-993e-e5f2ef8467a8\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="lH3bJ9omR16ivFnpgO4K042ik3qQiah5vdtna8z4", oauth_signature="xM8W5RwbFUldC9DD8rAdH%2FSv95Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453705", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_storage_path\": \"/var/lib/pulp/content/rpm/.//elephant/0.3/0.8/noarch/3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3/elephant-0.3-0.8.noarch.rpm\", \"repodata\": {\"filelists\": \"\\n<package pkgid=\\\"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\\\" name=\\\"elephant\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n    <file>//elephant.txt</file>\\n</package>\\n\", \"other\": \"\\n<package pkgid=\\\"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\\\" name=\\\"elephant\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n</package>\\n\", \"primary\": \"\\n<package type=\\\"rpm\\\">\\n  <name>elephant</name>\\n  <arch>noarch</arch>\\n  <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n  <checksum type=\\\"sha256\\\" pkgid=\\\"YES\\\">3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3</checksum>\\n  <summary>A dummy package of elephant</summary>\\n  <description>A dummy package of elephant</description>\\n  <packager></packager>\\n  <url>http://tstrachota.fedorapeople.org</url>\\n  <time file=\\\"1321891027\\\" build=\\\"1308257466\\\"/>\\n  <size package=\\\"2244\\\" installed=\\\"42\\\" archive=\\\"296\\\"/>\\n<location xml:base=\\\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\\\" href=\\\"elephant-0.3-0.8.noarch.rpm\\\"/>\\n  <format>\\n    <rpm:license>GPLv2</rpm:license>\\n    <rpm:vendor/>\\n    <rpm:group>Internet/Applications</rpm:group>\\n    <rpm:buildhost>dhcp-26-118.brq.redhat.com</rpm:buildhost>\\n    <rpm:sourcerpm>elephant-0.3-0.8.src.rpm</rpm:sourcerpm>\\n    <rpm:header-range start=\\\"280\\\" end=\\\"2028\\\"/>\\n    <rpm:provides>\\n      <rpm:entry name=\\\"elephant\\\" flags=\\\"EQ\\\" epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n    </rpm:provides>\\n    <rpm:requires>\\n      <rpm:entry name=\\\"/bin/sh\\\" pre=\\\"1\\\"/>\\n    </rpm:requires>\\n  </format>\\n</package>\"}, \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"checksum\": \"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"epoch\": \"0\", \"version\": \"0.3\", \"relativepath\": \"elephant-0.3-0.8.noarch.rpm\", \"provides\": [[\"elephant\", \"EQ\", [\"0\", \"0.3\", \"0.8\"]]], \"_content_type_id\": \"rpm\", \"release\": \"0.8\", \"vendor\": \"\", \"_id\": \"53455ae9-fdd8-42f1-842e-649956689c48\", \"arch\": \"noarch\", \"name\": \"elephant\", \"description\": \"A dummy package of elephant\", \"_href\": \"/pulp/api/v2/content/units/rpm/53455ae9-fdd8-42f1-842e-649956689c48/\", \"children\": {}, \"repository_memberships\": [\"1\"]}, {\"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_storage_path\": \"/var/lib/pulp/content/rpm/.//giraffe/0.3/0.8/noarch/f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14/giraffe-0.3-0.8.noarch.rpm\", \"repodata\": {\"filelists\": \"\\n<package pkgid=\\\"f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14\\\" name=\\\"giraffe\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n    <file>//giraffe.txt</fil[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/2/actions/associate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}},\"type_ids\":[\"rpm\"]},\"source_repo_id\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="NQTOySlzrLXbJ3AqpOYGrIdUGuLrJzY2UtNoPemlP0I", oauth_signature="ZXtlRUumDZNUx%2FoS5u%2B8PvLkumM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453706", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/fa96d970-7cdb-4ff6-b928-c6b90821b90c/\", \"task_id\": \"fa96d970-7cdb-4ff6-b928-c6b90821b90c\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"fa96d970-7cdb-4ff6-b928-c6b90821b90c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 23:21:46 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/2/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="u3a9X7U3GwAVe7KyHW8ilT4W3gYTkuaTCvbcLJAKM", oauth_signature="ABtdpeeXVEBhi%2FYObUgAtXpoOXE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453709", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"bfe5102e-a397-414c-a49d-670ff9692e2b\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/bfe5102e-a397-414c-a49d-670ff9692e2b/\", \"task_id\": \"71a21884-39b3-4108-96ba-9cd5017c3d40\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:2\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"bfe5102e-a397-414c-a49d-670ff9692e2b\", \"call_request_id\": \"71a21884-39b3-4108-96ba-9cd5017c3d40\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 20 Nov 2012 23:21:49 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"filters\":{\"unit\":{\"$and\":[{\"name\":\"elephant\"}]}},\"sort\":{\"unit\":[[\"name\",\"ascending\"],[\"version\",\"descending\"]]},\"type_ids\":[\"rpm\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="bgDpdbbt83WZ0wti4nOPuMRhpmRbbKV3DWWhqAwUo", oauth_signature="prC5RlRvZCmGRr1xVeM12eb0oyM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453710", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2012-11-21T04:21:41Z\", \"repo_id\": \"1\", \"created\": \"2012-11-21T04:21:41Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"53455ae9-fdd8-42f1-842e-649956689c48\", \"unit_type_id\": \"rpm\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"50ac10859c60ed50b900049c\"}, \"id\": \"50ac10859c60ed50b900049c\", \"owner_id\": \"yum_importer\", \"metadata\": {\"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_storage_path\": \"/var/lib/pulp/content/rpm/.//elephant/0.3/0.8/noarch/3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3/elephant-0.3-0.8.noarch.rpm\", \"repodata\": {\"filelists\": \"\\n<package pkgid=\\\"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\\\" name=\\\"elephant\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n    <file>//elephant.txt</file>\\n<[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/?details=true
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="EXIP2hpBZUQulIHUAuKTs2v1W7VtVOzLysYdq7dqxs", oauth_signature="q%2FlTIf5XtL9%2FYohaNRu9ES%2B7mjc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453711", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\", \"repodata\": {}}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 14, \"_id\": {\"$oid\": \"50ac10839c60ed50b900048b\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2012-11-20T18:21:41-05:00\", \"scheduled_syncs\": [], \"scratchpad\": null, \"_id\": {\"$oid\": \"50ac10839c60ed50b900048c\"}, \"config\": {\"feed_url\": \"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2012-11-20T18:21:46-05:00\", \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"scratchpad\": null, \"_id\": {\"$oid\": \"50ac10839c60ed50b900048d\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Tue, 20 Nov 2012 23:21:51 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/?tag=pulp:action:sync
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="T0ZG7gBBCXCBjDeYizqiw9bAE6ldul3PorUG0ghWf28", oauth_signature="gYh%2FmfBoD%2B0uR4SSkXO8RiY7Hls%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453711", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"a0d6239f-6387-4ed1-9908-1d0f1fd89e46\", \"exception\": null, \"traceback\": null, \"task_id\": \"bb91ccac-0923-4b24-a4f2-c6e0d22397de\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-20T23:21:32Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"finished\", \"finish_time\": \"2012-11-20T23:21:34Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"FINISHED\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\", \"num_errata\": 2}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"a0d6239f-6387-4ed1-9908-1d0f1fd89e46\", \"call_request_id\": \"bb91ccac-0923-4b24-a4f2-c6e0d22397de\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": \"c8f5d0ff-4603-41b9-ab42-3297196a98b2\", \"exception\": null, \"traceback\": null, \"task_id\": \"05cf1fda-c7e5-4b87-b17a-8c59392f04bd\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\":[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}},\"type_ids\":[\"rpm\"]},\"source_repo_id\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2j[...]
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="0GMiXOujxEl2J9ll9bYHmvwT1oewrcm8oaRRgSCje4", oauth_signature="eUhpmt4HsDqIQj3XDCXC1vGwiAk%3D", oauth_signature_met[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="nARQnmnFspXuk2MXPbABfXQjs5kJzRuqc8gIZpgjI", oauth_signature="VsicmAzHPFLbZdXaVUFXIx8PHI8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453716", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"c64e80c8-7722-4a62-a292-36b3e99e8d5f\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/c64e80c8-7722-4a62-a292-36b3e99e8d5f/\", \"task_id\": \"b576e71d-9f1c-4c36-9fde-9e8cd6dbbb5a\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"c64e80c8-7722-4a62-a292-36b3e99e8d5f\", \"call_request_id\": \"b576e71d-9f1c-4c36-9fde-9e8cd6dbbb5a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 20 Nov 2012 23:21:56 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"},\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"distributors\":[{\"auto_publish\":false,\"distributor_id\":\"1\",\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"https\":true,\"protected\":true,\"http\":false,\"relative_url\":\"/test_path/\"}}]}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="A5JCRD0oJMuvNxT4GD99RFUp7NU0Oix7YehEF60NgTU", oauth_signature="0Jjz5NhyChlSUfGrm78NDX97D4k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453721", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50ac10999c60ed50b90005de\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Tue, 20 Nov 2012 23:22:01 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="SDwhNkTfmxPoRYJe8wiLVSMCi5E5WXXOFAzXtvsQ8", oauth_signature="FacD4SVdagXV15tZzz5Fgro5yTg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453721", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"fe45dd91-b23e-4f0f-88b9-1edf8320032f\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/fe45dd91-b23e-4f0f-88b9-1edf8320032f/\", \"task_id\": \"9348aa0f-680f-48a5-97b8-ede4a2678db6\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"fe45dd91-b23e-4f0f-88b9-1edf8320032f\", \"call_request_id\": \"9348aa0f-680f-48a5-97b8-ede4a2678db6\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 20 Nov 2012 23:22:01 GMT
recorded_with: VCR 2.2.5
