--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"f613d134-94b5-49ae-9bda-1d0944be5109\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7tB79lcW7oqZZNw0Q1TLxmK3Ba1Acz9bmOD6rswfc", oauth_signature="zXspwGKMNJ9XQtugKYP5odycTAg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493624", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"f613d134-94b5-49ae-9bda-1d0944be5109\", \"_href\": \"/pulp/api/v2/content/units/erratum/f613d134-94b5-49ae-9bda-1d0944be5109/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Tue, 29 Jan 2013 21:07:04 GMT
[...]
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="vConi3nzAkUgTuIbtZTpuKX9rMt4vv9Q55JHKhoH0", oauth_signature="xIhtsezgaiHpLGmMO%2BeRj0FlyfA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493628", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2013-01-30T02:07:06Z\", \"repo_id\": \"1\", \"created\": \"2013-01-30T02:07:06Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"073098d9-b54a-4c83-bc69-159ab230f020\", \"unit_type_id\": \"erratum\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"510839fa196cbe0570000c9c\"}, \"id\": \"510839fa196cbe0570000c9c\", \"owner_id\": \"yum_importer\", \"metadata\": {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"_ns\": \"units_erratum\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": [...]
[...]
