--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Pgy2b4c1Nn0BaFRFyxXCq6WQF4s68kIlcp21q1s", oauth_signature="n%2BkNlNJFIWd8hqYIvL584F7QzvQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493570", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Tue, 29 Jan 2013 21:06:10 GMT
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/367202338/?details=true
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="fYQIoYsUoGBnrkPE5HOt38Xua3cIQSHrgwCq81zh0k", oauth_signature="SAsa3BDAOMXkN5A8QMblWS%2F91n8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493570", oauth_version="1.0"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=367202338\", \"_href\": \"/pulp/api/v2/repositories/367202338/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"367202338\"}}"
  recorded_at: Tue, 29 Jan 2013 21:06:10 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/associate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="g0ifAA2ZvN6OzptJCceAd1jU66S0LfxpKDRcn9a8o", oauth_signature="Or9Gz%2FhAqDoz1YNmdx0xPTHBLEw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493572", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]"
  recorded_at: Tue, 29 Jan 2013 21:06:12 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/unassociate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="PIRjH3HqbvOUXV0EcTBiHm8hZkC0cAp1GSX6cVH9HbU", oauth_signature="Swe1GsORK2xsc%2FIk90DVnrN0RHY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493572", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]"
  recorded_at: Tue, 29 Jan 2013 21:06:12 GMT
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="TGJu95LkLnZkl13Nym6t2cGAKvu7duspuMEpcWX0A", oauth_signature="8nZusan3PsXKdjlRItOeS4Zi0Ik%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493573", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": null, \"display_name\": null, \"description\": \"Super administrator with all access.\", \"_ns\": \"consumer_groups\", \"notes\": {}, \"consumer_ids\": [], \"_id\": {\"$oid\": \"510839c4196cbe057000094d\"}, \"id\": \"simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\"}"
  recorded_at: Tue, 29 Jan 2013 21:06:13 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumer_groups/
    body: 
      string: "{\"description\":\"Super administrator with all access.\",\"consumer_ids\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"],\"id\":\"simple_group\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="aJpHZAuF863quL0KFVOCU2FpaXrMPWP9ZexTtaEM", oauth_signature="fHbG6i%2FwqEseEi1gITWaLa4Qevo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493573", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/consumer_groups/simple_group/
    body: 
      string: "{\"scratchpad\": null, \"display_name\": null, \"description\": \"Super administrator with all access.\", \"_ns\": \"consumer_groups\", \"notes\": {}, \"consumer_ids\": [\"010E99C0-3276-11E2-81C1-0800200C9A66\"], \"_id\": {\"$oid\": \"510839c5196cbe0570000986\"}, \"id\": \"simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\"}"
  recorded_at: Tue, 29 Jan 2013 21:06:13 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="YDAIvbN0AdN7uQPJjuDn5edpX77ONITfIr08bIIpiE", oauth_signature="vIsrbixVCednnFziKlLME17moOA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493576", oauth_version="1.0"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): consumer_group=simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"consumer_group\": \"simple_group\"}}"
  recorded_at: Tue, 29 Jan 2013 21:06:16 GMT
[...]
