--- 
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"U3zrxfY3kvbeMDYd\",\"login\":\"batman\",\"name\":\"batman\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="UXhpuBP8MFzXWTPsQ3Jdon0sFe0qKICJa3dM0S9Y", oauth_signature="zBCfkwg7nbGfsGYf80tM6iJIO0A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032982", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"50a5a516dc7921666d002453\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50a5a516dc7921666d002453\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Fri, 16 Nov 2012 02:29:42 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7TYzYXAKVPNikX6o9kzfmhMmwHhygFlp59rCRGU2eU", oauth_signature="xszTAHGqtiqnlvYHyW1B%2Fz7pMDk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032984", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 16 Nov 2012 02:29:44 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="O7zMUGuXNbDRw9Vh6eFviocvvpDUUlQ23kuiufk4cIw", oauth_signature="HKIShyWiALAJr3Ahj%2FcDATY9Cqs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032984", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 16 Nov 2012 02:29:44 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="NKr9Ey8LN4MIQL09gXG5LqIjrrPhcEnsBOonHJcrZVc", oauth_signature="CJjWXqIboS%2BTiORdX%2FYCoCV1TXg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032985", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 16 Nov 2012 02:29:46 GMT
recorded_with: VCR 2.3.0
