--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/dc432944-396d-4bb8-a45d-5556b1693bbd/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="vWulWRQchITExlF3tNBjygK6axEI9kr6135WnxLy8s", oauth_signature="H4zyx883paV3NQAwWL9F%2FCcOhCg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357768974", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/dc432944-396d-4bb8-a45d-5556b1693bbd/\", \"task_id\": \"dc432944-396d-4bb8-a45d-5556b1693bbd\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-01-09T22:02:54Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-01-09T22:02:54Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"dc432944-396d-4bb8-a45d-5556b1693bbd\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 09 Jan 2013 22:02:54 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/74dea679-5b6c-427b-a091-f30aa0687bd5/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="cmUaGDsDl87WFcDFe75qjdXjaD7KCJklfPxElP81KA", oauth_signature="kqA6%2BAerQqGVD3QC7LxV%2FwtI2rg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357768977", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"9fda161b-494c-48d3-a89c-5808de11f712\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/74dea679-5b6c-427b-a091-f30aa0687bd5/\", \"task_id\": \"74dea679-5b6c-427b-a091-f30aa0687bd5\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-09T22:02:57Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"9fda161b-494c-48d3-a89c-5808de11f712\", \"call_request_id\": \"74dea679-5b6c-427b-a091-f30aa0687bd5\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 09 Jan 2013 22:02:57 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/74dea679-5b6c-427b-a091-f30aa0687bd5/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="rPueHqEbl26vFs6UsUO4uZ4JSDpUfyigB66feNn10", oauth_signature="WGAfFOcdxc%2B4Tyx%2FsibC65VicBE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357768978", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"9fda161b-494c-48d3-a89c-5808de11f712\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/74dea679-5b6c-427b-a091-f30aa0687bd5/\", \"task_id\": \"74dea679-5b6c-427b-a091-f30aa0687bd5\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-09T22:02:57Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"9fda161b-494c-48d3-a89c-5808de11f712\", \"call_request_id\": \"74dea679-5b6c-427b-a091-f30aa0687bd5\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 09 Jan 2013 22:02:58 GMT
[...]
