--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":\"batman\",\"login\":\"batman\",\"password\":\"dkFZnwowXNl9oOOQ\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="mzGdCDV1I9bHclFYYDZtozNK4IdmyUfLblGKsEb9PE", oauth_signature="w8msWkK6BZqQ6od7w8fk%2FPj3rY8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954323", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"50f0bd139c60ed09210052c1\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50f0bd139c60ed09210052c1\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Sat, 12 Jan 2013 01:32:03 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="eHpZCoVzCnb5y7DocMp0hSpVs7keYhVsEBIu5DGo", oauth_signature="o3x7x0ERhRcbhOwuGp49B4eWDAA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954325", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Sat, 12 Jan 2013 01:32:05 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6bmKUXFfVNmGhYt8EZMHjfZOuEgmtqDN5tLRXggJ08", oauth_signature="8JlvoNWJenzvzSfg398IuAfV%2BKI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954325", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Sat, 12 Jan 2013 01:32:06 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="UuqKk11el2gVKRAwEBCDwl2JGnWcgiUdVOibdCLb6c", oauth_signature="EjCoL%2Bn2ZP5ojKGrMTXiFd7Z%2Fsw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954327", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Sat, 12 Jan 2013 01:32:07 GMT
