--- 
http_interactions: 
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/unassociate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"unit\":{\"id\":{\"$in\":[\"ks-Test Family-TestVariant-16-x86_64\"]}}},\"type_ids\":[\"distribution\"]}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="3APzh0n4UKEQ8kkp4K3QOfqSy6kdeM6R8xjCC30WsE", oauth_signature="EFadKXoX6faHW2bdc1lU5yhL8eU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179700", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f348a25f-4545-473b-a8f0-c68c326fdecb/\", \"task_id\": \"f348a25f-4545-473b-a8f0-c68c326fdecb\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:action:unassociate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:action:unassociate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"f348a25f-4545-473b-a8f0-c68c326fdecb\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 16:08:20 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/actions/publish/
    body: 
      string: "{\"id\":\"1\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="u32qccj6Npy46hUtL6CLEjgZyIzWONL9sIfhJnU", oauth_signature="y9T6eNHilDCsHkSGlIkn5BJ6sNc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179705", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/cd75f18c-d706-49a2-8d68-61a657304fc2/\", \"task_id\": \"cd75f18c-d706-49a2-8d68-61a657304fc2\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"cd75f18c-d706-49a2-8d68-61a657304fc2\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 16:08:25 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/2/actions/associate/
    body: 
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"filters\":{},\"type_ids\":[\"rpm\"]}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Ymj0jXknI8M4GnsdWFVC8Zze3DFosKqe0tKBir1khfA", oauth_signature="qlcqq4uEL5ZnfXC09W%2Fwt9O6u7w%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179707", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/7d04e4ca-5c47-4bad-b92e-769fb59487f3/\", \"task_id\": \"7d04e4ca-5c47-4bad-b92e-769fb59487f3\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"7d04e4ca-5c47-4bad-b92e-769fb59487f3\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 16:08:28 GMT
[...]
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/2/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="O72SGZPf8HOsvqh7jFdpq8G8c6RsJka3Q61dKBQt8", oauth_signature="tiKu3wUtN7t%2FW7c4iz5toyut%2B9U%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179712", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"568c1f23-27de-4d8b-b8be-9ae32ca575f6\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/568c1f23-27de-4d8b-b8be-9ae32ca575f6/\", \"task_id\": \"bf87c889-320a-44a8-84f2-7f44a34d9850\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:2\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"568c1f23-27de-4d8b-b8be-9ae32ca575f6\", \"call_request_id\": \"bf87c889-320a-44a8-84f2-7f44a34d9850\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 14 Jan 2013 16:08:32 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/content/units/rpm/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"69e46e24-dc70-4257-b939-60b7ca4c534c\",\"4a2ca5c5-b06c-459b-a22a-98c315d7468b\",\"665e77f8-b114-4430-ba2d-dc2954328540\",\"a792a69d-9ff5-4970-8576-850f9d968fd5\",\"d026d73a-de03-4d40-8847-f11145ab5d32\",\"20a92e6e-8a7b-47bd-9e53-a56a5954a826\",\"7f006cd7-9a74-4fb5-938b-26c7d69ac45b\",\"24b891dc-1401-42d1-b816-1272f39b1b47\"]}}}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="blkAcRl6w1SuAHn2AVKDLpmClWFjbCxX5BL9AiUVBGY", oauth_signature="Qw02IUEX8aXn6Jk%2FX6rWjxu8h%2FY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179712", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_storage_path\": \"/var/lib/pulp/content/rpm/.//penguin/0.3/0.8/noarch/3fcb2c927de9e13bf68469032a28b139d3e5ad2e58564fc210fd6e48635be694/penguin-0.3-0.8.noarch.rpm\", \"repodata\": {\"filelists\": \"\\n<package pkgid=\\\"3fcb2c927de9e13bf68469032a28b139d3e5ad2e58564fc210fd6e48635be694\\\" name=\\\"penguin\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n    <file>//penguin.txt</file>\\n</package>\\n\", \"other\": \"\\n<package pkgid=\\\"3fcb2c927de9e13bf68469032a28b139d3e5ad2e58564fc210fd6e48635be694\\\" name=\\\"penguin\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n</package>\\n\", \"primary\": \"\\n<package type=\\\"rpm\\\">\\n  <name>penguin</name>\\n  <arch>noarch</arch>\\n  <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n  <checksum type=\\\"sha256\\\" pkgid=\\\"YES\\\">3fcb2c927de9e13bf68469032a28b139d3e5ad2e58564fc210fd6e48635be694</checksum>\\n  <summary>A dummy package of penguin</summary>\\n  <description>A dummy package of penguin</description>\\n  <packager></packager>\\n  <url>http://tstrachota.fedorapeople.org</url>\\n  <time file=\\\"1321891029\\\" build=\\\"1308257460\\\"/>\\n  <size package=\\\"2232\\\" installed=\\\"42\\\" archive=\\\"292\\\"/>\\n<location href=\\\"penguin-0.3-0.8.noarch.rpm\\\"/>\\n  <format>\\n    <rpm:license>GPLv2</rpm:license>\\n    <rpm:vendor/>\\n    <rpm:group>Internet/Applications</rpm:group>\\n    <rpm:buildhost>dhcp-26-118.brq.redhat.com</rpm:buildhost>\\n    <rpm:sourcerpm>penguin-0.3-0.8.src.rpm</rpm:sourcerpm>\\n    <rpm:header-range start=\\\"280\\\" end=\\\"2016\\\"/>\\n    <rpm:provides>\\n      <rpm:entry name=\\\"penguin\\\" flags=\\\"EQ\\\" epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n    </rpm:provides>\\n    <rpm:requires>\\n      <rpm:entry name=\\\"/bin/sh\\\" pre=\\\"1\\\"/>\\n    </rpm:requires>\\n  </format>\\n</package>\"}, \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"checksum\": \"3fcb2c927de9e13bf68469032a28b139d3e5ad2e58564fc210fd6e48635be694\", \"filename\": \"penguin-0.3-0.8.noarch.rpm\", \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"epoch\": \"0\", \"version\": \"0.3\", \"relativepath\": \"penguin-0.3-0.8.noarch.rpm\", \"provides\": [[\"penguin\", \"EQ\", [\"0\", \"0.3\", \"0.8\"]]], \"_content_type_id\": \"rpm\", \"release\": \"0.8\", \"vendor\": \"\", \"_id\": \"20a92e6e-8a7b-47bd-9e53-a56a5954a826\", \"arch\": \"noarch\", \"name\": \"penguin\", \"description\": \"A dummy package of penguin\", \"_href\": \"/pulp/api/v2/content/units/rpm/20a92e6e-8a7b-47bd-9e53-a56a5954a826/\", \"children\": {}}, {\"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_storage_path\": \"/var/lib/pulp/content/rpm/.//walrus/0.3/0.8/noarch/6e8d6dc057e3e2c9819f0dc7e6c7b7f86bf2e8571bba414adec7fb621a461dfd/walrus-0.3-0.8.noarch.rpm\", \"repodata\": {\"filelists\": \"\\n<package pkgid=\\\"6e8d6dc057e3e2c9819f0dc7e6c7b7f86bf2e8571bba414adec7fb621a461dfd\\\" name=\\\"walrus\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n    <file>//walrus.txt</file>\\n</pa[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/?details=true
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="G6I6rj8PmogChCWMfgKmRw6IdSFYJqlXX0FPh28dAvs", oauth_signature="E4I7AWZvDp1Raxae0cTpDUZhIqY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179713", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\", \"repodata\": {}}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 14, \"_id\": {\"$oid\": \"50f42d75196cbe47d7001819\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2013-01-14T11:08:22-05:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"50f42d75196cbe47d700181a\"}, \"config\": {\"feed_url\": \"file:///home/paji/katello/katello/src/test/fixtures/zoo5\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2013-01-14T11:08:27-05:00\", \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"50f42d75196cbe47d700181b\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Mon, 14 Jan 2013 16:08:33 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"filters\":{},\"type_ids\":[\"rpm\"]}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="76NPGsk1B5nJ[...]
[...]
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="pBqILiukcA1yGLnlbMIXpHKv3sNhxCwtR69hadm68", oauth_signature="3qzsIL21MDtQqO4c5gh3MIWrrkM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179720", o[...]
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"filters\":{\"unit\":{\"$and\":[{\"name\":\"elephant\"},{\"version\":\"0.3\"},{\"release\":\"0.8\"},{\"epoch\":\"0\"}]}},\"sort\":{\"unit\":[[\"name\",\"ascending\"],[\"version\",\"descending\"]]},\"type_ids\":[\"rpm\"]}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="byrpLV4b0idY6NcozQP4Y2npmUt9VmABaPBpyMT7JbM", oauth_signature="kaEsgQ67vZ5Fwb8g1xOKxApZUQs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179721", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2013-01-14T21:08:22Z\", \"repo_id\": \"1\", \"created\": \"2013-01-14T21:08:22Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"4a2ca5c5-b06c-459b-a22a-98c315d7468b\", \"unit_type_id\": \"rpm\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"50f42d76196cbe47d700182b\"}, \"id\": \"50f42d76196cbe47d700182b\", \"owner_id\": \"yum_importer\", \"metadata\": {\"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_storage_path\": \"/var/lib/pulp/content/rpm/.//elephant/0.3/0.8/noarch/3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3/elephant-0.3-0.8.noarch.rpm\", \"repodata\": {\"filelists\": \"\\n<package pkgid=\\\"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\\\" name=\\\"elephant\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n    <file>//elephant.txt</file>\\n<[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/?tag=pulp:action:sync
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="xFPMn9RpMPQAXrpFRQ6a5UlXtP5xF4RObPve5kvY", oauth_signature="QfDbB01IjaqSVN%2FQWdPLiEAhbWg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179722", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"4443bfcb-ca04-4c34-abdf-553275f5fa0f\", \"exception\": null, \"traceback\": null, \"task_id\": \"9a341f5f-bfd1-4369-80df-20de6fa68e9d\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-14T16:08:21Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"finished\", \"finish_time\": \"2013-01-14T16:08:22Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"FINISHED\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\", \"num_errata\": 2}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"4443bfcb-ca04-4c34-abdf-553275f5fa0f\", \"call_request_id\": \"9a341f5f-bfd1-4369-80df-20de6fa68e9d\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 14 Jan 2013 16:08:42 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7lhrL4tRz421YLw3mZvKV5NA0RRImXwrNbevMtNTlrY", oauth_signature="3vtc8Rqmw%2FOCihl5LfsCp0wLX7I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179723", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"18cb2dd8-2397-44d2-a465-f0ec52ba080b\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/18cb2dd8-2397-44d2-a465-f0ec52ba080b/\", \"task_id\": \"2e321e50-339b-417d-895d-9c5d27532379\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"18cb2dd8-2397-44d2-a465-f0ec52ba080b\", \"call_request_id\": \"2e321e50-339b-417d-895d-9c5d27532379\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 14 Jan 2013 16:08:44 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"distributors\":[{\"distributor_id\":\"1\",\"auto_publish\":false,\"distributor_config\":{\"protected\":true,\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true},\"distributor_type\":\"yum_distributor\"}],\"importer_type_id\":\"yum_importer\",\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_config\":{\"ssl_client_key\":null,\"ssl_ca_cert\":null,\"feed_url\":\"file:///home/paji/katello/katello/src/test/fixtures/zoo5\",\"ssl_client_cert\":null}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="k65uQnu9t5CRZO8ydESVbGPUW8x77uB64YuZaG7QQM", oauth_signature="73AoIUnlasfURCf5vMe0wBd67PU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179728", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50f42d90196cbe47d7001996\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 14 Jan 2013 16:08:48 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Q4HQlruLiRX8RJqMDLGH7ykjyaNyFUIl1JhHMiq64", oauth_signature="qo2R3t03Iw5WGTINa77hx7f0ufk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179728", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"6e933355-0bfe-4cb8-bf9b-6a6ad583ca57\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/6e933355-0bfe-4cb8-bf9b-6a6ad583ca57/\", \"task_id\": \"02c097b1-5ec5-4b5a-bceb-b5daa629e7e4\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"6e933355-0bfe-4cb8-bf9b-6a6ad583ca57\", \"call_request_id\": \"02c097b1-5ec5-4b5a-bceb-b5daa629e7e4\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 14 Jan 2013 16:08:48 GMT
recorded_with: VCR 2.4.0
