--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"0Rtp6zzFKEaet1sB\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="6meOWgfWkkQSrhJxK32P5wnXPDBb0uQamnDkeFDI2c", oauth_signature="5VrKZvLTPTSG%2B4VIng6xayUfjOk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101228", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"513003ed9c60ed2a890055f9\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"513003ed9c60ed2a890055f9\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Fri, 01 Mar 2013 01:27:09 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="1VPxlMUNe33JL68PeM8arGDGAMjVf9WisyWJeOiEmE", oauth_signature="dtwQw8wXe4eV67J1YcpzeUIu9Wo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101230", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 01 Mar 2013 01:27:10 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="EfJEp5eqJFh4Kc3J5ge1dgLQ7I1ELtekdKOAx9W6AW4", oauth_signature="y1%2FTG%2FgnMxULUOcRIq0EdNrFRQo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101230", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 01 Mar 2013 01:27:11 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="1C1PknSOMYaiFvdWDJim9V9JRZrxFPpkrqn0X37jS4I", oauth_signature="lBc2MOT7TDzJ4ynX9J7Duc4Dmu8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101232", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 01 Mar 2013 01:27:12 GMT
recorded_with: VCR 2.4.0
