--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="cEkXIk7l9aEFzHXZwVOkIpBfIroWz0rVCshDxtHY", oauth_signature="XOhBdJxOtSjHVlezlXZ2kpbuIR8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212131", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Fri, 26 Oct 2012 00:42:12 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2013-10-25T20:42:11-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="v5V10BBMNrLUxOQTJ8jo0F6AXPSObkGPNiMDO57Acas", oauth_signature="wtH%2F8GrzBRonZPcPPQgTNC21mwY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212132", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5089dc64dc792138c9001177/
    body: 
      string: "{\"next_run\": \"2013-10-26T00:42:11Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5089dc64dc792138c9001177/\", \"schedule\": \"2013-10-25T20:42:11-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-10-26T00:42:11Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"5089dc64dc792138c9001177\", \"consecutive_failures\": 0}"
  recorded_at: Fri, 26 Oct 2012 00:42:12 GMT
recorded_with: VCR 2.2.5
