--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="TZvTJTgsGQiFJqx6uJF6cNsvDvkssOWm0jmYvzRerjo", oauth_signature="myqpshs%2BA8qHklKIDu0lvbv6Vu0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453719", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Tue, 20 Nov 2012 23:21:59 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2013-11-20T18:21:59-05:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="jBLEEAEyqsnsekOU8QkAoT3YtAgmnzrBycIijRfk4nM", oauth_signature="agpdQ%2FucRQoCu63hLAwDwbI0OaE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453719", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50ac10989c60ed50b90005b9/
      Content-Type: 
      - application/json
    body: 
      string: "{\"next_run\": \"2013-11-20T23:21:59Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50ac10989c60ed50b90005b9/\", \"schedule\": \"2013-11-20T18:21:59-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-11-20T23:21:59Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50ac10989c60ed50b90005b9\", \"consecutive_failures\": 0}"
  recorded_at: Tue, 20 Nov 2012 23:22:00 GMT
recorded_with: VCR 2.2.5
