--- 
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="xcMKaQbG9KH4UO0ld2ry0a7dkGkOOLxxmgvwD9TUKU", oauth_signature="IhS7hg9afJWR%2F8z0vs1pXmxaDpI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179723", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Mon, 14 Jan 2013 16:08:43 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2014-01-14T11:08:43-05:00/P1D\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="pTxpPUKJPskUmffDjF4uyWBOlkCkkMRQ6msH1EG5Xw", oauth_signature="bkCpPuvs1EwML2WYukjV6zjCcrI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179723", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50f42d8b196cbe47d700194d/
      Content-Type: 
      - application/json
    body: 
      string: "{\"next_run\": \"2014-01-14T16:08:43Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50f42d8b196cbe47d700194d/\", \"schedule\": \"2014-01-14T11:08:43-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-01-14T16:08:43Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50f42d8b196cbe47d700194d\", \"consecutive_failures\": 0}"
  recorded_at: Mon, 14 Jan 2013 16:08:43 GMT
recorded_with: VCR 2.4.0
