--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="92r37BCB9W7C6iYr2OYIlYoparQFIDTpoNtSFxwHOo", oauth_signature="Msl9YQh8EEN%2BNT%2FeEpHewEU7a2I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116394", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Fri, 21 Dec 2012 18:59:54 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2013-12-21T13:59:54-05:00/P1D\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="jjKTOvByhfaTlUrhyoRBuMabtOYSntYn6RyntYqU", oauth_signature="3QGeacGGlIr2gBELBkPrpGOko%2FM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1356116394", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50d4b1aa196cbe42f9000c3f/
      Content-Type: 
      - application/json
    body: 
      string: "{\"next_run\": \"2013-12-21T18:59:54Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50d4b1aa196cbe42f9000c3f/\", \"schedule\": \"2013-12-21T13:59:54-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-12-21T18:59:54Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50d4b1aa196cbe42f9000c3f\", \"consecutive_failures\": 0}"
  recorded_at: Fri, 21 Dec 2012 18:59:55 GMT
