--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="fEtGmnTtBEsoFhshuzIhEyRN7QKCfVV3s61WQnTnEws", oauth_signature="bWpPSfK7pYAfRoER1DyCbM6EjuM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353344276", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Mon, 19 Nov 2012 16:57:57 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2013-11-19T11:57:56-05:00/P1D\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="iRVBZOWM58EjKq1R7QUGvFi6uKnKtCSCuZzy2IcnZg", oauth_signature="wGY%2BYERGV5gE1AbNlBGQBzZSZKw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353344277", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50aa65159c60ed4cf0001707/
      Content-Type: 
      - application/json
    body: 
      string: "{\"next_run\": \"2013-11-19T16:57:56Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50aa65159c60ed4cf0001707/\", \"schedule\": \"2013-11-19T11:57:56-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-11-19T16:57:56Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50aa65159c60ed4cf0001707\", \"consecutive_failures\": 0}"
  recorded_at: Mon, 19 Nov 2012 16:57:57 GMT
