--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="PI3OI1OelQdQ7F0Z85eCMMry7o3IcOrZWDHCOYH6Y", oauth_signature="ojImKoA%2BukMSSj372Olj6e5H9do%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377415", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Wed, 16 Jan 2013 23:03:36 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/367202338/?details=true
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="kfMxwD8nB29r8tY99cEoWmJTA4K035P33yFIzKW3lk", oauth_signature="UM1XazBlUVIX%2Bcdw2rayTnwbXWs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377416", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=367202338\", \"_href\": \"/pulp/api/v2/repositories/367202338/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"367202338\"}}"
  recorded_at: Wed, 16 Jan 2013 23:03:36 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="BmkcBurJ76m5kFSI7naoujkQjyJQtWIsLfkxPBsNE", oauth_signature="DPEF0EDJGOHlWy5rPxxTsFN711o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377418", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): consumer_group=simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"consumer_group\": \"simple_group\"}}"
  recorded_at: Wed, 16 Jan 2013 23:03:38 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumer_groups/
    body: 
      string: "{\"consumer_ids\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"],\"description\":\"Super administrator with all access.\",\"id\":\"simple_group\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="AlO96A2xvJwWSU3SmXPaRNPlMGpB5FkZCoowLBkTapA", oauth_signature="dTlh6Kg7soqLTdvj0FDXELS6X%2Bo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377418", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumer_groups/simple_group/
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": null, \"display_name\": null, \"description\": \"Super administrator with all access.\", \"_ns\": \"consumer_groups\", \"notes\": {}, \"consumer_ids\": [\"010E99C0-3276-11E2-81C1-0800200C9A66\"], \"_id\": {\"$oid\": \"50f731ca9c60ed27ce003156\"}, \"id\": \"simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\"}"
  recorded_at: Wed, 16 Jan 2013 23:03:38 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/associate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="nElBFFlNqknV5luvqkXjyxYVdfvURxNZoDdRmFp5YU", oauth_signature="uw8EgIwLl5rz%2FGZhb5UUXSdxDxo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377418", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]"
  recorded_at: Wed, 16 Jan 2013 23:03:39 GMT
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/unassociate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Ag6QIqV7gD8jqikX943kelEhyTMbVBCaO2pWi53xzw", oauth_signature="F6NRGEbu9BZjq3nWyGiqZCy4yW8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377420", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]"
  recorded_at: Wed, 16 Jan 2013 23:03:40 GMT
[...]
