--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="nR6d0vZifGHYsswUYSFjWEl8J8OPwbwSqlZu4MKQQ", oauth_signature="8sjeMJ81wITmsWE8ZJDoiBB4qRE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884920", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"updated\": \"2013-03-21T20:55:19Z\", \"repo_id\": \"1\", \"created\": \"2013-03-21T20:55:19Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"70713906-e457-445a-ae7f-795f238c66a8\", \"unit_type_id\": \"rpm\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"514b3b779c60ed64a3005212\"}, \"id\": \"514b3b779c60ed64a3005212\", \"owner_id\": \"yum_importer\", \"metadata\": {\"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_storage_path\": \"/var/lib/pulp/content/rpm/.//cheetah/0.3/0.8/noarch/422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae/cheetah-0.3-0.8.noarch.rpm\", \"repodata\": {\"filelists\": \"\\n<package pkgid=\\\"422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae\\\" name=\\\"cheetah\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n    <file>//cheetah.txt</file>\\n</package>\\n\", \"other\": \"\\n<package pkgid=\\\"422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae\\\" name=\\\"cheetah\\\" arch=\\\"noarch\\\">\\n    <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n\\n</package>\\n\", \"primary\": \"\\n<package type=\\\"rpm\\\">\\n  <name>cheetah</name>\\n  <arch>noarch</arch>\\n  <version epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n  <checksum type=\\\"sha256\\\" pkgid=\\\"YES\\\">422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae</checksum>\\n  <summary>A dummy package of cheetah</summary>\\n  <description>A dummy package of cheetah</description>\\n  <packager></packager>\\n  <url>http://tstrachota.fedorapeople.org</url>\\n  <time file=\\\"1321891028\\\" build=\\\"1308257472\\\"/>\\n  <size package=\\\"2232\\\" installed=\\\"42\\\" archive=\\\"292\\\"/>\\n<location href=\\\"cheetah-0.3-0.8.noarch.rpm\\\"/>\\n  <format>\\n    <rpm:license>GPLv2</rpm:license>\\n    <rpm:vendor/>\\n    <rpm:group>Internet/Applications</rpm:group>\\n    <rpm:buildhost>dhcp-26-118.brq.redhat.com</rpm:buildhost>\\n    <rpm:sourcerpm>cheetah-0.3-0.8.src.rpm</rpm:sourcerpm>\\n    <rpm:header-range start=\\\"280\\\" end=\\\"2016\\\"/>\\n    <rpm:provides>\\n      <rpm:entry name=\\\"cheetah\\\" flags=\\\"EQ\\\" epoch=\\\"0\\\" ver=\\\"0.3\\\" rel=\\\"0.8\\\"/>\\n    </rpm:provides>\\n    <rpm:requires>\\n      <rpm:entry name=\\\"/bin/sh\\\" pre=\\\"1\\\"/>\\n    </rpm:requires>\\n  </format>\\n</package>\"}, \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"_ns\": \"units_rpm\", \"checksum\": \"422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae\", \"filename\": \"cheetah-0.3-0.8.noarch.rpm\", \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"epoch\": \"0\", \"version\": \"0.3\", \"relativepath\": \"cheetah-0.3-0.8.noarch.rpm\", \"provides\": [[\"cheetah\", \"EQ\", [\"0\", \"0.3\", \"0.8\"]]], \"_content_type_id\": \"rpm\", \"release\": \"0.8\", \"vendor\": \"\", \"_id\": \"70713906-e457-445a-ae7f-795f238c66a8\", \"arch\": \"noarch\", \"name\": \"cheetah\", \"description\": \"A dummy package of cheetah\"}}, {\"updated\": \"2013-03-21T20:55:19Z\", \"repo_id\": \"1\", \"created\": \"2013-03-21T20:55:19Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"3f301265-fdf3-44e1-922c-4a5e62199445\", \"unit_type_id\": \"rpm\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"514b3b779c60ed64a300520e\"}, \"id\": \"514b3b779c60ed64a300520e\", \"owner_id\":[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/content/units/rpm/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"70713906-e457-445a-ae7f-795f238c66a8\",\"3f301265-fdf3-44e1-922c-4a5e62199445\",\"9f7ba07d-0941-45ab-b13f-a00e6b17cdc6\",\"d9b00464-4e18-449c-8f16-f1503afcbb98\",\"e49f4141-8fd6-4229-8305-06b97773db2e\",\"0d80f785-c9ab-476a-92c8-a90b87dccb89\",\"9671016e-487d-49b9-b85a-d26f9c8216dd\",\"4b5f0211-4f50-4a66-b89c-f5dfa7ebc29a\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="LVbrguMCNMUNPDw4ezyogkNN7drZhjrrmtYSBy7pinU", oauth_signature="%2FV3ZRO5rXTg66HBtUpgqYMRAV88%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884920", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Cont[...]
[...]
