--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/ec467c24-ecae-4809-8486-4ca3474aafad/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="qzfVnauCBmdLT7oayJaFe1OYedlF73ewpIrvxGXQM", oauth_signature="AQIBOl3pOB3GCRccBITkrNO9mnY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816214", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/ec467c24-ecae-4809-8486-4ca3474aafad/\", \"task_id\": \"ec467c24-ecae-4809-8486-4ca3474aafad\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-03-20T21:50:13Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-03-20T21:50:13Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"ec467c24-ecae-4809-8486-4ca3474aafad\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 20 Mar 2013 21:50:14 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/0fcc70d5-c0c1-4e71-b948-1d984893ac02/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="P2uWnS4RGsYNvekB94ZaXk0hDrdDE7IaDufQvnbGMg", oauth_signature="R0b3nR74GO84TjI%2BKe54%2FZmKLzM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816217", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"12a43466-337e-418c-88a0-feea03bcad53\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/0fcc70d5-c0c1-4e71-b948-1d984893ac02/\", \"task_id\": \"0fcc70d5-c0c1-4e71-b948-1d984893ac02\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-20T21:50:17Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"12a43466-337e-418c-88a0-feea03bcad53\", \"call_request_id\": \"0fcc70d5-c0c1-4e71-b948-1d984893ac02\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 20 Mar 2013 21:50:17 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/0fcc70d5-c0c1-4e71-b948-1d984893ac02/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="zDFYOy8qofqi3SgFXmRodnmrCRjA1lQU99fROD45ks", oauth_signature="izdXuIsCnJ7Wt2RQXouwEhNN9zM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816217", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"12a43466-337e-418c-88a0-feea03bcad53\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/0fcc70d5-c0c1-4e71-b948-1d984893ac02/\", \"task_id\": \"0fcc70d5-c0c1-4e71-b948-1d984893ac02\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-20T21:50:17Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"12a43466-337e-418c-88a0-feea03bcad53\", \"call_request_id\": \"0fcc70d5-c0c1-4e71-b948-1d984893ac02\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 20 Mar 2013 21:50:17 GMT
[...]
