--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"OmeSritnwUdAW9rq\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="rnYVjaQSa2cE2APzlPonyB9EwhvymcKgNX7RcfW6bI", oauth_signature="1pPvCwjA1LEC7%2FVeTHTBkN9GTQc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428050", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - batman
    body: 
      string: "{\"_id\": {\"$oid\": \"50abac52dc792144320027b9\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50abac52dc792144320027b9\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Tue, 20 Nov 2012 16:14:10 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="95tWouOOe0aeAApWuP2vxPnX0BKbELkuAI03Q4N8M", oauth_signature="v3u%2Bxk%2FcAgVseMGY%2BUDHQS%2BgIIk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428051", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 20 Nov 2012 16:14:12 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="dzyr9oJFpsBSFeoGErinQOZRFzg2GBBoPHHbRWR2Q", oauth_signature="Opv0MTa6R%2Bg9Cf6%2B2M%2FsACTlAhU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428053", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 20 Nov 2012 16:14:13 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="jzJCw4l5HA3SGSArDGiG7UnUPs5zNR64t5f3qFgI3g", oauth_signature="3sHsxVDOMZ3jF65QzKyGrj1oTLg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353428053", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 20 Nov 2012 16:14:14 GMT
