--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/9739bcf2-bc6a-4c8b-ad31-f5e1a42ddf0c/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="bTaWBwdv8ZWu7nsgd1N4BsKqT9hwNYspd5IoKn1Pjs", oauth_signature="g0bK1EpY36c9Up0RvVitYPUDb7U%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780494", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/9739bcf2-bc6a-4c8b-ad31-f5e1a42ddf0c/\", \"task_id\": \"9739bcf2-bc6a-4c8b-ad31-f5e1a42ddf0c\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-01-10T01:14:54Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-01-10T01:14:54Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"9739bcf2-bc6a-4c8b-ad31-f5e1a42ddf0c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 10 Jan 2013 01:14:54 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/3b3116d7-27c4-4e14-b9c7-4e4aaccdb745/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="dSbBUWaW26uBybFJfnxs6h7A3fEt386CXrwtLHnsPY", oauth_signature="E84bgfSCRODBob3ErxFRBBdPrF4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780497", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"69f6204f-8a79-4a8d-bd7b-064c7c6b3208\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/3b3116d7-27c4-4e14-b9c7-4e4aaccdb745/\", \"task_id\": \"3b3116d7-27c4-4e14-b9c7-4e4aaccdb745\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-10T01:14:57Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"69f6204f-8a79-4a8d-bd7b-064c7c6b3208\", \"call_request_id\": \"3b3116d7-27c4-4e14-b9c7-4e4aaccdb745\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 10 Jan 2013 01:14:57 GMT
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/3b3116d7-27c4-4e14-b9c7-4e4aaccdb745/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="8cM6pWmPGxinMm0coEvFSHJwGfoeib66jSvRXtRsfi4", oauth_signature="nXVKBBdjSW3K6OyaQVwV9see92k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780498", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"69f6204f-8a79-4a8d-bd7b-064c7c6b3208\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/3b3116d7-27c4-4e14-b9c7-4e4aaccdb745/\", \"task_id\": \"3b3116d7-27c4-4e14-b9c7-4e4aaccdb745\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-10T01:14:57Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"69f6204f-8a79-4a8d-bd7b-064c7c6b3208\", \"call_request_id\": \"3b3116d7-27c4-4e14-b9c7-4e4aaccdb745\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 10 Jan 2013 01:14:58 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/6ed65d98-1527-421a-9d8e-7d20d456ce75/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="tMjdNFEv6MC9yNM0u2nZmZUz7zCxpVXbipbMLkWmM", oauth_signature="uYaLHGUI5E%2FA9jbgVe4zcUDCCI4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780512", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/6ed65d98-1527-421a-9d8e-7d20d456ce75/\", \"task_id\": \"6ed65d98-1527-421a-9d8e-7d20d456ce75\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"2\"}], \"start_time\": \"2013-01-10T01:15:12Z\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-01-10T01:15:12Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"6ed65d98-1527-421a-9d8e-7d20d456ce75\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Thu, 10 Jan 2013 01:15:13 GMT
[...]
