--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"GdcmvXz2aQ2f8RAr\",\"login\":\"hidden-OWOalZ-e218a0eb\",\"name\":\"hidden-OWOalZ-e218a0eb\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="dZDXsfTIpqC7naXZarm1zCu3G6cR0MFsQzng64IJA", oauth_signature="aETv%2FpOHXv6wApFLM5pbkVFR9S4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357768924", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - hidden-OWOalZ-e218a0eb
    body: 
      string: "{\"_id\": {\"$oid\": \"50ede8dc9c60ed2cd3003497\"}, \"name\": \"hidden-OWOalZ-e218a0eb\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden-OWOalZ-e218a0eb\", \"id\": \"50ede8dc9c60ed2cd3003497\", \"_href\": \"/pulp/api/v2/users/hidden-OWOalZ-e218a0eb/\"}"
  recorded_at: Wed, 09 Jan 2013 22:02:04 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"hidden-OWOalZ-e218a0eb\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="kxuOSK99bbGRhxHCMeKJXX3hfy3iVsyIo1IhhP9j0", oauth_signature="7lZNdk6%2B%2BuOtTRigQGlT9idahPI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357768924", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:02:04 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/95802d5c-3ec3-461e-9580-dfd881801f8b/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="xkUSGWhH73lgjVWzcjNUYR5JO7SsxVWo7nL8FOaeU", oauth_signature="%2BK8ECdEM8yk0RJ0cGFLzD2x3Xlw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357768925", oauth_version="1.0"
      Pulp-User: 
      - hidden-OWOalZ-e218a0eb
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"9e845bd5-ce41-4966-809e-fa685006faae\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/95802d5c-3ec3-461e-9580-dfd881801f8b/\", \"task_id\": \"95802d5c-3ec3-461e-9580-dfd881801f8b\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"reasons\": [], \"start_time\": \"2013-01-09T22:02:05Z\", \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"state\": \"finished\", \"finish_time\": \"2013-01-09T22:02:05Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"9e845bd5-ce41-4966-809e-fa685006faae\", \"call_request_id\": \"95802d5c-3ec3-461e-9580-dfd881801f8b\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"repo_id\": \"1\", \"consumer_actions\": [], \"_ns\": \"consumer_bindings\", \"distributor_id\": \"1\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"deleted\": false, \"_id\": {\"$oid\": \"50ede8dd9c60ed2cd30034c0\"}, \"id\": \"50ede8dd9c60ed2cd30034c0\"}}"
  recorded_at: Wed, 09 Jan 2013 22:02:05 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/hidden-OWOalZ-e218a0eb/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="TcLjIl0uhZ7vwhUT5pW8gBIIQt676RajWnpbeJF5fQ", oauth_signature="OdKxiOwCyIP%2FcPiDCTywHW4sXcI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357768926", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:02:06 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/hidden-OWOalZ-e218a0eb/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="C9fILm4YIVuOe8sQXfNUb86fPkcCmlZY5oc8pEZwPE", oauth_signature="CZRZnVI%2BHeABrYPesOjUbkFJpqA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357768926", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:02:06 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/hidden-WBhPM8-0b9776c3/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="PUPNG5B16KE5TYZWpH2jdnrFtX2BFBwkF0KSRMCNc", oauth_signature="%2BWthaAfU6jYd4bzDV2Wxj9hbwx4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357768935", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:02:15 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/hidden-WBhPM8-0b9776c3/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="UrwxbOLdv0m5WzGsQprBIbIhcgTZ5aRrgtH21L0NKM8", oauth_signature="Z0ncQa9fnjfIduUq1ao1xBTOzCc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357768935", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:02:15 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/?details=true
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="FgXQEp3MakoZ3SWIf55dCX9smNLiXV2xBuUUBsO5lc", oauth_signature="5vd8uBhq0zqskzFodmgfHn9RPjM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769038", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\", \"repodata\": {}}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 14, \"_id\": {\"$oid\": \"50ede94a9c60ed2cd3003b44\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2013-01-09T17:03:56-05:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"50ede94a9c60ed2cd3003b45\"}, \"config\": {\"feed_url\": \"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"50ede94a9c60ed2cd3003b46\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Wed, 09 Jan 2013 22:03:59 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      string: "{\"repo_id\":\"1\",\"distributor_id\":\"1\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="K8fNi5LD7mlWUIeNQRuKm6KiPOCUTyBt8xbfvrhvw", oauth_signature="ZBKU1zesQOm%2B%2FnFMfhJz%2F%2F8Y4Bk%3D", oauth_signature_method="HMAC-SHA1", o[...]
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/hidden-uDBW3T-8f1d03d0/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QwPhsdEKdQ6iXYKv4vie02sjQIlGNeByRIRoKP1Lw", oauth_signature="KcWFhrkozC4icMg673bISI3CnUs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769040", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:04:00 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/hidden-uDBW3T-8f1d03d0/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="7acSVyUHvYMX7HH42Seujic3twePaWT8vm4QywCwZg", oauth_signature="%2FaL1qLCu6D100L4KlTSIraz4BIk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769040", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:04:00 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/367202338/?details=true
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="NJQvTCoS9nlFsS1v7McZye8bRoemnU0ujfsVigXI", oauth_signature="6Pqp9Jl%2FyUopuZEHz2q2eX5GsIQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769046", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=367202338\", \"_href\": \"/pulp/api/v2/repositories/367202338/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"367202338\"}}"
  recorded_at: Wed, 09 Jan 2013 22:04:06 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/install//
    body: 
      string: "{\"options\":{},\"units\":[{\"unit_key\":{\"name\":\"cheetah\"},\"type_id\":\"rpm\"}]}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="jLyeq67dPuoxgTur841n1tWNnkKXihdcyIEV0GGE8", oauth_signature="hFWeOWA9E7RaDWAf6H8TmtfQYjw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769046", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/623a194f-08c3-4c6a-a645-3ba15afb2d72/\", \"task_id\": \"623a194f-08c3-4c6a-a645-3ba15afb2d72\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"623a194f-08c3-4c6a-a645-3ba15afb2d72\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 09 Jan 2013 22:04:06 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/uninstall//
    body: 
      string: "{\"options\":{},\"units\":[{\"unit_key\":{\"name\":\"cheetah\"},\"type_id\":\"rpm\"}]}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="YX3gvFzlaeGx0wZs7yJnIMbacMqB7B50heSxdhFYI", oauth_signature="40%2F2kToHe5MjaH75Q[...]
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/update//
    body: 
      string: "{\"options\":{},\"units\":[{\"unit_key\":{\"name\":\"cheetah\"},\"type_id\":\"rpm\"}]}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="QcoOEKgojZDGHCKIva4LdTkpgaWeBkxu4Bu59Ba75tA", oauth_signature="Yj4UMPJeFiwlCEs7A7fb[...]
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"]}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="pwtGtCbLpWqlBzOpzOE4bvAEMST221nNP9bLexVNRSI", oauth_signature="N3ZqRsd33EQRgDqVVgtjzQZr68A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769053", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2013-01-10T03:04:03Z\", \"repo_id\": \"1\", \"created\": \"2013-01-10T03:04:03Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"ee16e3ac-5172-498b-93df-c1c31dc816fc\", \"unit_type_id\": \"erratum\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"50ede9539c60ed2cd3003bff\"}, \"id\": \"50ede9539c60ed2cd3003bff\", \"owner_id\": \"yum_importer\", \"metadata\": {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"_ns\": \"units_erratum\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"ee16e3ac-5172-498b-93df-c1c31dc816fc\"}}, {\"updated\": \"2013-01-10T03:04:03Z\", \"repo_id\": \"1\", \"created\": \"2013-01-10T03:04:03Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"0805e846-e713-4976-a493-586792f16ecd\", \"unit_type_id\": \"erratum\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"50ede9539c60ed2cd3003c01\"}, \"id\": \"50ede9539c60ed2cd3003c01\", \"owner_id\": \"yum_importer\", \"metadata\": {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"_ns\": \"units_erratum\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"0805e846-e713-4976-a493-586792f16ecd\"}}]"
  recorded_at: Wed, 09 Jan 2013 22:04:13 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"ee16e3ac-5172-498b-93df-c1c31dc816fc\",\"0805e846-e713-4976-a493-586792f16ecd\"]}}},\"include_repos\":true}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="89xSTMs327shVHWaf3y9ChOG5NF41i3RQ9rQQLVb7qM", oauth_signature="P%2F8TRYrOpjMydhdIHWVWhg7aAf4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769053", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"0805e846-e713-4976-a493-586792f16ecd\", \"_href\": \"/pulp/api/v2/content/units/erratum/0805e846-e713-4976-a493-586792f16ecd/\", \"children\": {}, \"repository_memberships\": [\"1\"]}, {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"ee16e3ac-5172-498b-93df-c1c31dc816fc\", \"_href\": \"/pulp/api/v2/content/units/erratum/ee16e3ac-5172-498b-93df-c1c31dc816fc/\", \"children\": {}, \"repository_memberships\": [\"1\"]}]"
  recorded_at: Wed, 09 Jan 2013 22:04:14 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/hidden-sDFYml-74a13424/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="5acuZ417Y5DJbWBoeugR9IaA99dkEaXw7toUynDHg4", oauth_signature="4IUIyU0sMfQhgK4xa9NGjTSW%2BD4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769055", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:04:15 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/hidden-sDFYml-74a13424/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="puuzw76yomPRNRZT2Xqz1ubla8jGkEkM1iQIA1a3I", oauth_signature="VMmE1OXMOT3%2B%2Bed30ZbkvYj7J%2F8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769055", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:04:15 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/
    body: 
      string: "{\"display_name\":\"Simple Server\",\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="SueP4bvIJwWz2uDmZb5ZL1TmlRKM5txt4VqOMF5j5Zo", oauth_signature="LdxjFh1Rjt2gGo0egGppXokLF5s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769056", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "{'_href': u'/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/'}"
    body: 
      string: "{\"display_name\": \"Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXgIBAAKBgQDNuIxfFyrK0PTh7cD36OMYcFwapOsaE3J31vS4MS9YP/B8Adzh\\nlQ8TBxgQzZcdXra2lwWFuxcTdNkl9nIWyHuLEJNQoWGd6yltfe0NNH30MssnToxl\\nyfW2eXXw3XQN1aXRyZOBStl51FYMXsVpm9ERTZMyQeTQeLK0wgdygdAizwIDAQAB\\nAoGAH/VMcTVDI5DEihiKQrj+FnzWAhmeoEVnIfDVwYt6hGYicNFFRBII7nbKqUmW\\n8SwWjFT3uaev1Qjw9vHLFXj9n/w5mZJKEpnn2/HfT9xdv59an2b9i7Zxjpi47BDV\\nbRAmbtI5+MnL8jSDL7uXt0oCacH6cellr3xKsPWzy+VoSRECQQD+t7CynfLxgYcq\\nCgMVAITwLZfAM7G5HFuDyEFIRGEJqIXeivVRxIsll3Gn6ED7HTnLy3BEAscqH[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles//
    body: 
      string: "{\"profile\":[{\"name\":\"elephant\",\"release\":\"0.8\",\"arch\":\"noarch\",\"version\":\"0.3\",\"vendor\":\"FedoraHosted\"}],\"content_type\":\"rpm\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="JSyIvhgWeLHPen2QiKlLVGGnKKZ6ZyGBkGSxfKmbU", oauth_signature="iMFNt%2FiqoZZI2VOIET%2FT65rW71c%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769065", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/
    body: 
      string: "{\"profile\": [{\"release\": \"0.8\", \"arch\": \"noarch\", \"version\": \"0.3\", \"vendor\": \"FedoraHosted\", \"name\": \"elephant\"}], \"_ns\": \"consumer_unit_profiles\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"content_type\": \"rpm\", \"_id\": {\"$oid\": \"50edd99b9c60ed2cd3001de1\"}, \"id\": \"50edd99b9c60ed2cd3001de1\", \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/\"}"
  recorded_at: Wed, 09 Jan 2013 22:04:25 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="HASq4HNQ3Rw4zzK1XSXujfevRaD5UI35XCSLaXUdCw", oauth_signature="UycYiJr2aDwfiyTrvrXNGHCmdz4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769065", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:04:25 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="rGhc6o9KWYwhohw7yjfMM75DBY2Nywc8AxLAIp7Y", oauth_signature="%2BybPcfuA5QiE4IgtTGJxBVmyxYc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769066", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): consumer=010E99C0-3276-11E2-81C1-0800200C9A66\", \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"consumer\": \"010E99C0-3276-11E2-81C1-0800200C9A66\"}}"
  recorded_at: Wed, 09 Jan 2013 22:04:26 GMT
[...]
- request: 
    method: put
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      string: "{\"delta\":{\"display_name\":\"Not So Simple Server\"}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="g4V6rVlBrpsKcghWbHv8T10DltVxkQr1FCchfS7neWI", oauth_signature="KMhOufxyzvtN2R3D%2FZ8y1cVjJ0U%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769068", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
   [...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="5Xof6kbrecKRDlBYtpqKF2sgTJ4pKkjpLyYuFc0A5A", oauth_signature="vngszZ2OknI06ulACBRVEEbTL2c%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769068", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Wed, 09 Jan 2013 22:04:28 GMT
recorded_with: VCR 2.4.0
