--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"login\":\"batman\",\"password\":\"5SLBoDmHPSBaNfa8\",\"name\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="HxdGwVJApbulfFFY0U391TDPEv28ncWEYn4NgTLEsps", oauth_signature="NDWzZzX9k%2FrabSQVev3nW5UYudM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201269", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - batman
    body: 
      string: "{\"_id\": {\"$oid\": \"50f481b5196cbe557b000d2a\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50f481b5196cbe557b000d2a\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Mon, 14 Jan 2013 22:07:49 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="dKPKr5U968k6hNk5tnQSSTDciZsVp63cLwGUEhUKxo", oauth_signature="Mhq4roSs1TSr%2FhIDGpJAxjQBQ%2Bg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201271", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 14 Jan 2013 22:07:52 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Hzo1Yak4qdnlcZlo0zXYLhlbwy3TgIfzgixjkvGZB4", oauth_signature="3iFbSvH9qOj%2FzkorNRUiVlF61fM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201272", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 14 Jan 2013 22:07:52 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="U3JyNAIw0CPohvewkqRh3z06xgnUrG3vys3owizZc", oauth_signature="R%2FkdOwYzQgokU1SHO5TLbVPX2iU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201274", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 14 Jan 2013 22:07:54 GMT
