--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/723549d3-bc3f-4514-9ff3-96b8a74e32f3/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - hidden
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6wJW4aiVoTdMyDJNKbU8tdJfJS0jI4qhk3bxrc0", oauth_signature="7%2BMbDJCkpRixxXjaIgD8ntcBy3s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954197", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"a19a0bb3-2abf-4776-be4e-10c3c9ae173c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/723549d3-bc3f-4514-9ff3-96b8a74e32f3/\", \"task_id\": \"723549d3-bc3f-4514-9ff3-96b8a74e32f3\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"reasons\": [], \"start_time\": \"2013-01-12T01:29:57Z\", \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:bind\"], \"state\": \"finished\", \"finish_time\": \"2013-01-12T01:29:57Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"a19a0bb3-2abf-4776-be4e-10c3c9ae173c\", \"call_request_id\": \"723549d3-bc3f-4514-9ff3-96b8a74e32f3\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"repo_id\": \"1\", \"consumer_actions\": [], \"_ns\": \"consumer_bindings\", \"distributor_id\": \"1\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"deleted\": false, \"_id\": {\"$oid\": \"50f0bc959c60ed0921004ce0\"}, \"id\": \"50f0bc959c60ed0921004ce0\"}}"
  recorded_at: Sat, 12 Jan 2013 01:29:57 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ZMbLQjwSJ0LBnyKfrm0jWxrUsr4zvWeCrz1eb1Uso", oauth_signature="o9rHgPUXp9%2BliY421fsOwoJe458%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954203", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Sat, 12 Jan 2013 01:30:03 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/?details=true
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="P0t7yBgTlCOqKGLne91WRCytGkJNIZaHhjxYYgV6nM", oauth_signature="DizmL6aMDmWpwV8iErjKLC6rOlw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954236", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\", \"repodata\": {}}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 14, \"_id\": {\"$oid\": \"50f0bc989c60ed0921004d2e\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2013-01-11T20:30:02-05:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"50f0bc989c60ed0921004d2f\"}, \"config\": {\"feed_url\": \"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"50f0bc989c60ed0921004d30\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Sat, 12 Jan 2013 01:30:36 GMT
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/install//
    body: 
      string: "{\"options\":{},\"units\":[{\"unit_key\":{\"name\":\"cheetah\"},\"type_id\":\"rpm\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="gYCSue2Yn4S54PH8tj1ummdeWPdnqGg2uUjhS70Fuo", oauth_signature="Qinx4NUbXF1ZvLgfksuQrMHYE6I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954237", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/48c8cf76-6338-4090-a6aa-6db07c12e2eb/\", \"task_id\": \"48c8cf76-6338-4090-a6aa-6db07c12e2eb\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"48c8cf76-6338-4090-a6aa-6db07c12e2eb\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 12 Jan 2013 01:30:37 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/update//
    body: 
      string: "{\"options\":{},\"units\":[{\"unit_key\":{\"name\":\"cheetah\"},\"type_id\":\"rpm\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="odoZm[...]
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/uninstall//
    body: 
      string: "{\"options\":{},\"units\":[{\"unit_key\":{\"name\":\"mammals\"},\"type_id\":\"package_group\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth[...]
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="qanaDDjZtrkQGtdcGjec3xqWRxUiBL0rjvDTvqtHXE", oauth_signature="arBSO0U48C7A752i4GbVIn6R50Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954240", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2013-01-12T06:30:02Z\", \"repo_id\": \"1\", \"created\": \"2013-01-12T06:30:02Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"ee16e3ac-5172-498b-93df-c1c31dc816fc\", \"unit_type_id\": \"erratum\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"50f0bc9a9c60ed0921004d4f\"}, \"id\": \"50f0bc9a9c60ed0921004d4f\", \"owner_id\": \"yum_importer\", \"metadata\": {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"_ns\": \"units_erratum\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"ee16e3ac-5172-498b-93df-c1c31dc816fc\"}}, {\"updated\": \"2013-01-12T06:30:02Z\", \"repo_id\": \"1\", \"created\": \"2013-01-12T06:30:02Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"0805e846-e713-4976-a493-586792f16ecd\", \"unit_type_id\": \"erratum\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"50f0bc9a9c60ed0921004d51\"}, \"id\": \"50f0bc9a9c60ed0921004d51\", \"owner_id\": \"yum_importer\", \"metadata\": {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"_ns\": \"units_erratum\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"0805e846-e713-4976-a493-586792f16ecd\"}}]"
  recorded_at: Sat, 12 Jan 2013 01:30:40 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"ee16e3ac-5172-498b-93df-c1c31dc816fc\",\"0805e846-e713-4976-a493-586792f16ecd\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="5wZiB8IMWgIS2VFkQVzXlHn2g6e83UIH024qpqyuQ", oauth_signature="qr2sVpRxLt2HwKvXLaKwLwiebrA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954240", oauth_ve[...]
[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/
    body: 
      string: "{\"display_name\":\"Simple Server\",\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="256nhn0W2NgXlNha1EPDkDz7Fy6nfNZgbYYvdZehgvA", oauth_signature="V%2B81T07tnsTlcYTkzYuzg90E164%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954242", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "{'_href': u'/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/'}"
      Content-Type: 
      - application/json
    body: 
      string: "{\"display_name\": \"Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXQIBAAKBgQC4XwAoqADkmQVOY66Ksb7l/f5/xinYEz5Ou2zGI1Wh23sZ17Jg\\nq61c8IFk8zeMPiK3fVZtS4evGYfu0+KiN/cDmfM7xehEfsmnYC2xHzUi8cqhRpix\\nvXqL4dZdDb+RIGvm2IGWdRDc82QcEVleqeSUUJV9OUPSvxfG6kOVi/1AmQIDAQAB\\nAoGACYdHX9KG8UmDP7DhJWPYRNSioYHhSbx83N7M2VScKVhJfWVrX5mfxQzc8xWq\\nykGv06HTpKRhp8f/AXXL4axYxK1rda+PSOPaRysil4G0c3j9tfGvAuBPAAlHFYas\\nf19yFx5OViT6DX8Pfda0khtioJkp/PhfFZrmjZ/cnwItA4ECQQDdR3CTs3OMxHAl\\n5QbPUls8pI1wZj7JWn9428LBP/n6E16hWe/3q7wevawG4oHVahvpeUwQy/IKm[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles//
    body: 
      string: "{\"content_type\":\"rpm\",\"profile\":[{\"name\":\"elephant\",\"arch\":\"noarch\",\"version\":\"0.3\",\"vendor\":\"FedoraHosted\",\"release\":\"0.8\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="3tDf484QwA2kOlxpxBKoE2LKVp3lAPwfPUDt7zXULc", oauth_signature="ZutD0dKHrtwHktJU80%2BuD22blPI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954252", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/
      Content-Type: 
      - application/json
    body: 
      string: "{\"profile\": [{\"release\": \"0.8\", \"arch\": \"noarch\", \"version\": \"0.3\", \"vendor\": \"FedoraHosted\", \"name\": \"elephant\"}], \"_ns\": \"consumer_unit_profiles\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"content_type\": \"rpm\", \"_id\": {\"$oid\": \"50edd99b9c60ed2cd3001de1\"}, \"id\": \"50edd99b9c60ed2cd3001de1\", \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/\"}"
  recorded_at: Sat, 12 Jan 2013 01:30:52 GMT
[...]
- request: 
    method: put
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      string: "{\"delta\":{\"display_name\":\"Not So Simple Server\"}}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="R1nrkEqdWSlplGP2XlEix4toBijC9sreHA1dhIMqEI", oauth_signature="S281JCuBST9TIYtrF1wC7F9dV0Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954253", oauth_version="1.0"
  response: 
    status: 
      code: 200
      [...]
[...]
