--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{}},\"source_repo_id\":\"1\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="e5LwyxvOESuxrs2WCO5UG5LigRgtPPssDit376SlKk", oauth_signature="tDpzbwDZ80uwxX3wyq2KjHC00Mc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769109", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/3839e5d4-ce5e-49d5-8178-97a214492944/\", \"task_id\": \"3839e5d4-ce5e-49d5-8178-97a214492944\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"3839e5d4-ce5e-49d5-8178-97a214492944\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 09 Jan 2013 22:05:09 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="orDqVOfhB5wjvFlc3NMAkHQVm1d9vRF64FaQfReZxs", oauth_signature="O4yq7YTNgGOiXANEtAqMKxn0XqY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769115", oauth_version="1.0"
      Content-Type: 
    [...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"distributors\":[{\"distributor_config\":{\"protected\":true,\"relative_url\":\"/test_path/\",\"https\":true,\"http\":false},\"distributor_type\":\"yum_distributor\",\"auto_publish\":false,\"distributor_id\":\"1\"}],\"display_name\":\"Fedora 17 x86_64\",\"id\":\"1\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\",\"ssl_ca_cert\":null}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Vmor2cO2QFfZTiKEZxMQY90gb2uYbk76qZpKzd75o", oauth_signature="UmWW7MyuPTJWqOXAQzFUwzeb2D4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769115", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "1"
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50ede99b9c60ed2cd3003fea\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 09 Jan 2013 22:05:15 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="nLqunSbXoBhDhFYvAPu3Y8ZblC5KZCi7skVRWjLpM", oauth_signature="v3QD2HtuIMfkdX60k9gFtmV1GLc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769115", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"2d0b3816-b5db-475e-b3ea-1b3644a7ef2a\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/2d0b3816-b5db-475e-b3ea-1b3644a7ef2a/\", \"task_id\": \"029b7623-d930-4114-85b8-96db1f26e043\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"2d0b3816-b5db-475e-b3ea-1b3644a7ef2a\", \"call_request_id\": \"029b7623-d930-4114-85b8-96db1f26e043\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 09 Jan 2013 22:05:16 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="x1yeMX44w3OPoZrWE0AURVtYH63UGoTOdO0x2oykVfU", oauth_signature="8%2FoZakitsnkvBpOGcxUaLxTwQfE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769143", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"d2caf9ed-228b-4989-baf1-670fa3f781e2\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/d2caf9ed-228b-4989-baf1-670fa3f781e2/\", \"task_id\": \"0f5ad9cf-d362-4490-9b28-6bbc4f731a95\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"d2caf9ed-228b-4989-baf1-670fa3f781e2\", \"call_request_id\": \"0f5ad9cf-d362-4490-9b28-6bbc4f731a95\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 09 Jan 2013 22:05:43 GMT
recorded_with: VCR 2.4.0
