--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":\"batman\",\"password\":\"55BHI9S8iGw2PrD7\",\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="5CfvpI9iMMRz2VMaQTldypO56AM3yiY2IZ56ffs2SI", oauth_signature="FW07DBVZ57lR7x5p2kmF06jj4UA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453722", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"50ac109a9c60ed50b90005f1\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50ac109a9c60ed50b90005f1\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Tue, 20 Nov 2012 23:22:02 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="JtHZtFMtBYdiEsWa4AW0S3oD4C5l5eXZYt5C1LSGXtY", oauth_signature="25sQEv%2F4yGmw6RKcY%2BSqBuOOZvQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453723", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 20 Nov 2012 23:22:03 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="IsQoKnz7T4eVuUUiyiXClVivHa4ueIxCgF7NDQnE", oauth_signature="WhZqsOWxOiiQXu4%2FEmIx6m8j54s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453725", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 20 Nov 2012 23:22:06 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="gMSNu0wijGGSbIO6FeDjPSJofdqtMK6LHKdpUnnH8", oauth_signature="IyJsWWciaji3w45MWpwQ6vnJHE4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453726", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 20 Nov 2012 23:22:06 GMT
recorded_with: VCR 2.2.5
