--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/consumer_groups/simple_group/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Lt8Iu8Bv3sZc1YD8wNAvOdLmJJ9gxP1Gnhah59VtU", oauth_signature="39njiq4ynA8MtvtiWRvEK%2BBO6H8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358111185", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): consumer_group=simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"consumer_group\": \"simple_group\"}}"
  recorded_at: Sun, 13 Jan 2013 21:06:25 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/consumer_groups/simple_group/actions/unassociate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[{\"id\":215379861,\"created_at\":\"2013-01-13T22:32:48Z\",\"activation_key\":[],\"system_template_id\":null,\"environment_id\":292811013,\"updated_at\":\"2013-01-13T22:32:48Z\",\"location\":null,\"description\":\"Super administrator with all access.\",\"uuid\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"environment\":{\"created_at\":\"2013-01-13T22:32:48Z\",\"id\":292811013,\"organization_id\":560516342,\"prior_id\":562075838,\"description\":\"Dev environment.\",\"updated_at\":\"2013-01-13T22:32:48Z\",\"label\":\"dev_label\",\"organization\":\"ACME_Corporation\",\"library\":false,\"name\":\"Dev\",\"prior\":\"Library\"},\"name\":\"Simple Server\"}]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="AhHhAKgf8nMIfX1NHtLxFgi15TrSWsaJ3F5FQXnPk", oauth_signature="pm8bppJi0F4K3ij0BguRRX41jm8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358116370", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Sun, 13 Jan 2013 22:32:50 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/consumer_groups/simple_group/actions/associate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[{\"id\":215379861,\"created_at\":\"2013-01-13T22:32:48Z\",\"activation_key\":[],\"system_template_id\":null,\"environment_id\":292811013,\"updated_at\":\"2013-01-13T22:32:48Z\",\"location\":null,\"description\":\"Super administrator with all access.\",\"uuid\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"environment\":{\"created_at\":\"2013-01-13T22:32:48Z\",\"id\":292811013,\"organization_id\":560516342,\"prior_id\":562075838,\"description\":\"Dev environment.\",\"updated_at\":\"2013-01-13T22:32:48Z\",\"label\":\"dev_label\",\"organization\":\"ACME_Corporation\",\"library\":false,\"name\":\"Dev\",\"prior\":\"Library\"},\"name\":\"Simple Server\"}]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="JeLmpX4yFccg6MrjhOGO1VX4xUIZPb9y5zaosw4lBY", oauth_signature="xOavOmiHD06Cxei%2BRQquZxQqSWI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358116372", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Sun, 13 Jan 2013 22:32:52 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ZqViXIORcNtiWA65sAUrUnTfbw6FNc5HJLyCHuQMQ5I", oauth_signature="4EwMaz80x4oqHa38EodkG9HK%2FMc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358119279", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Sun, 13 Jan 2013 23:21:19 GMT
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/367202338/?details=true
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Kr73pHjH4XWMaJ6LKgfroq9I9C6BZ0c4U9NeckgJDo", oauth_signature="i%2FXYKJMUcnQjWXIE%2FHi3qu%2Bkx2c%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358119279", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=367202338\", \"_href\": \"/pulp/api/v2/repositories/367202338/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"367202338\"}}"
  recorded_at: Sun, 13 Jan 2013 23:21:19 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/consumer_groups/
    body: 
      string: "{\"description\":\"Super administrator with all access.\",\"consumer_ids\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"],\"id\":\"simple_group\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="qy5LpSMYe95AMGegYcZ4IBbrfacXojFoCYuXxX3ww", oauth_signature="koii%2F9EvjoqMyblgzgVhJCQI%2FEw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358119281", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/consumer_groups/simple_group/
    body: 
      string: "{\"scratchpad\": null, \"display_name\": null, \"description\": \"Super administrator with all access.\", \"_ns\": \"consumer_groups\", \"notes\": {}, \"consumer_ids\": [\"010E99C0-3276-11E2-81C1-0800200C9A66\"], \"_id\": {\"$oid\": \"50f34171dc792131600017fe\"}, \"id\": \"simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\"}"
  recorded_at: Sun, 13 Jan 2013 23:21:21 GMT
[...]
