--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/96eb2b24-b8d7-4435-8299-9ee3b26c05d6/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="VQWpxTHgXtbSA8d1Z456lTeR2yLo6TFdJPAySm4Syg", oauth_signature="VM5MxMYNc%2Fp8zRbgQ%2BtzgIikrjg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126684", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/96eb2b24-b8d7-4435-8299-9ee3b26c05d6/\", \"task_id\": \"96eb2b24-b8d7-4435-8299-9ee3b26c05d6\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-11-28T18:18:04Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-28T18:18:04Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"96eb2b24-b8d7-4435-8299-9ee3b26c05d6\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 28 Nov 2012 18:18:04 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/797ed4fc-dee9-4996-9a53-e15f0f0ac668/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="hEUC8DqJIWGX6O6pJ27CdOgjPw8kmOHpllmdhqiO97U", oauth_signature="CqP7HmjFjYMWlV33AsGoc%2BZdKMs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126687", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"12bc037a-fb8c-4339-80b5-bf0a792c35a6\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/797ed4fc-dee9-4996-9a53-e15f0f0ac668/\", \"task_id\": \"797ed4fc-dee9-4996-9a53-e15f0f0ac668\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-28T18:18:07Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"12bc037a-fb8c-4339-80b5-bf0a792c35a6\", \"call_request_id\": \"797ed4fc-dee9-4996-9a53-e15f0f0ac668\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 28 Nov 2012 18:18:07 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/797ed4fc-dee9-4996-9a53-e15f0f0ac668/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="HngqeyKz3Xe1Ovj1ZUiyBxrokp1RzwCIUWf40Z8m8M", oauth_signature="gdQPmlVOIliGoocWjAZ4zvIWQRk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1354126688", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"12bc037a-fb8c-4339-80b5-bf0a792c35a6\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/797ed4fc-dee9-4996-9a53-e15f0f0ac668/\", \"task_id\": \"797ed4fc-dee9-4996-9a53-e15f0f0ac668\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-28T18:18:07Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"12bc037a-fb8c-4339-80b5-bf0a792c35a6\", \"call_request_id\": \"797ed4fc-dee9-4996-9a53-e15f0f0ac668\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 28 Nov 2012 18:18:08 GMT
[...]
