--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="YG2sB9ulKcf7653kloqIgy2tYGCYYer1MKHnvGGc", oauth_signature="HyFXDcQLnNrs8gURZzSYbx5y1%2Bk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780522", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Thu, 10 Jan 2013 01:15:22 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2014-01-09T20:15:22-05:00/P1D\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="0BYFBfrWOgA3SLpahkurBSH39Y1eLJEA6nEXfTv0", oauth_signature="BBMH4EPTZKCqCHDIcX621lBy7ug%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780522", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50ee162adc792129cb002968/
    body: 
      string: "{\"next_run\": \"2014-01-10T01:15:22Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50ee162adc792129cb002968/\", \"schedule\": \"2014-01-09T20:15:22-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-01-10T01:15:22Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50ee162adc792129cb002968\", \"consecutive_failures\": 0}"
  recorded_at: Thu, 10 Jan 2013 01:15:22 GMT
recorded_with: VCR 2.4.0
