--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/d8de6480-11e6-4965-b14d-13322cd9c23f/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="1DxEzpONjrasRoI8qTc6A16x6H025IPIe9cpHil1Lw", oauth_signature="d0%2FU03mC4IKV5K2GWPvmq9JVzJU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377350", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/d8de6480-11e6-4965-b14d-13322cd9c23f/\", \"task_id\": \"d8de6480-11e6-4965-b14d-13322cd9c23f\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-01-16T23:02:29Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-01-16T23:02:29Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"d8de6480-11e6-4965-b14d-13322cd9c23f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 16 Jan 2013 23:02:30 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/e9ee617a-3692-4eb4-b35c-6f710f10f20c/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="OQ4ePtCvvq3v7QdwNS7VsRlZY0v1cUQ629JiMwukLM", oauth_signature="alY7pbVMq6lnz7EFwjvAhnsWc6E%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377352", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"5c914dcc-bf89-4e90-8b3f-41dc74ce014e\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/e9ee617a-3692-4eb4-b35c-6f710f10f20c/\", \"task_id\": \"e9ee617a-3692-4eb4-b35c-6f710f10f20c\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-16T23:02:32Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"5c914dcc-bf89-4e90-8b3f-41dc74ce014e\", \"call_request_id\": \"e9ee617a-3692-4eb4-b35c-6f710f10f20c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 16 Jan 2013 23:02:33 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/e9ee617a-3692-4eb4-b35c-6f710f10f20c/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="4AZHrkbxkZE1AyDlqrAmLpUTOlQLX5fgCYLQjW4m4", oauth_signature="UTyaQrin4o%2Bv1ZDsWw4mhaICPeE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377353", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"5c914dcc-bf89-4e90-8b3f-41dc74ce014e\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/e9ee617a-3692-4eb4-b35c-6f710f10f20c/\", \"task_id\": \"e9ee617a-3692-4eb4-b35c-6f710f10f20c\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-16T23:02:32Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 10, \"size_total\": 17872, \"items_left\": 1, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 2, \"size_total\": 0, \"items_left\": 1, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"5c914dcc-bf89-4e90-8b3f-41dc74ce014e\", \"call_request_id\": \"e9ee617a-3692-4eb4-b35c-6f710f10f20c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 16 Jan 2013 23:02:33 GMT
[...]
