--- 
http_interactions: 
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":\"batman\",\"login\":\"batman\",\"password\":\"P3Gx5EDPiiu3VCNc\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="B7jFGcZbc9HWhDzupG5ecRNV4Pk6CFJIkqpM2EQ5CJQ", oauth_signature="ZAq35hWtWv8a3YcOeFoIEhBtEWo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950451", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 409
      message: Conflict
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"POST\", \"exception\": null, \"error_message\": \"Duplicate resource: batman\", \"_href\": \"/pulp/api/v2/users/\", \"http_status\": 409, \"resource_id\": \"batman\", \"traceback\": null}"
  recorded_at: Sat, 12 Jan 2013 00:27:31 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="sXVQiuDIzZRPzvXWSCSWrFeE5FBWyagvTfgfU7Xop8k", oauth_signature="uF6Kl6Jmw%2FHh5WEqpgMyJrGRj4Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950455", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Sat, 12 Jan 2013 00:27:35 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="vUCRZ0HZtBiLj0h3fPiBceX2biNCK18RiUvV2spNw", oauth_signature="AVv3eJdwB8%2B8Aorwge1N1d6UKmU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950455", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Sat, 12 Jan 2013 00:27:35 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="pmakzGEQ7zKM0rxxsEZibnPeLHIMxIogGJqIkDgGMyU", oauth_signature="TWgsEuAhxmMSHpSpit5v84PLBFw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950456", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Sat, 12 Jan 2013 00:27:36 GMT
recorded_with: VCR 2.4.0
