--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":\"hidden\",\"password\":\"284TqpptEC5TVq0E\",\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="NggKNlRt0VeZGH0aT9dYpVVq4ao0t8V8sVgHlxjLWg", oauth_signature="QmUm6%2B89M%2B3tbHVrRqqUO%2BQVAA4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493581", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - hidden
    body: 
      string: "{\"_id\": {\"$oid\": \"510839cd196cbe0570000a60\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"510839cd196cbe0570000a60\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Tue, 29 Jan 2013 21:06:21 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="x4RNGqX1j4gDEUrpJ5dXaK2z8WU3zI8U10cPTgVDc4", oauth_signature="BNQ10zK6%2FASNE%2B8uRjQE2Nbqv%2FY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493581", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 29 Jan 2013 21:06:21 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/hidden/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="dnpFAlGRdNCcG2vXxyFfcBaU5WD1xjJbbpCwJFoPGPw", oauth_signature="8X2QLRoC6VmgqqrpG63h8DFGftI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493596", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 29 Jan 2013 21:06:37 GMT
