--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="vM7jAUsoMDdVPzRn8ZPsWqAbgHNzAQ6ilAWEtDlOSZw", oauth_signature="ISAizFw7JPMUmiYUGCO70XhZQg8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353009124", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Thu, 15 Nov 2012 19:52:05 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2013-11-15T14:52:04-05:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="n3m5MKgPKqYLQm7SDYbsySSeZipUm626eFTBhXj8", oauth_signature="tJ3sSS2IdV36WWBxASVRAOUdiF0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353009125", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50a547e5dc792152bc0029df/
    body: 
      string: "{\"next_run\": \"2013-11-15T19:52:04Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50a547e5dc792152bc0029df/\", \"schedule\": \"2013-11-15T14:52:04-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-11-15T19:52:04Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50a547e5dc792152bc0029df\", \"consecutive_failures\": 0}"
  recorded_at: Thu, 15 Nov 2012 19:52:05 GMT
