--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/6e0cc673-1c5e-11e2-a649-525400c5df07/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="g2ZTRVCfeOtg5VbQuxC4mGhskVlZ14b1qusIKLdL0", oauth_signature="wj2C6PJf%2FwGKjvgyM5LFuNwl9%2Fo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920267", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/6e0cc673-1c5e-11e2-a649-525400c5df07/\", \"task_id\": \"6e0cc673-1c5e-11e2-a649-525400c5df07\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-10-22T15:37:47Z\", \"traceback\": null, \"schedule_id\": null, \"finish_time\": \"2012-10-22T15:37:47Z\", \"state\": \"finished\", \"result\": null, \"progress\": {}, \"principal_login\": \"admin\", \"response\": \"accepted\"}"
  recorded_at: Mon, 22 Oct 2012 15:37:47 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/73b1762e-1c5e-11e2-8b44-525400c5df07/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="jL7ksXiIQz8JLWgnkSYKGcKhiZEA18pvC0Sm1WGJkU", oauth_signature="enM4d6BA8KGcX5ifS8eia7UU3mY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920276", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"328e4026-c9f2-4cde-892f-5a8772b556df\", \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/73b1762e-1c5e-11e2-8b44-525400c5df07/\", \"task_id\": \"73b1762e-1c5e-11e2-8b44-525400c5df07\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-10-22T15:37:56Z\", \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"running\", \"result\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"principal_login\": \"admin\", \"response\": \"accepted\"}"
  recorded_at: Mon, 22 Oct 2012 15:37:57 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/73b1762e-1c5e-11e2-8b44-525400c5df07/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="hdkZUTwA2KKKZbb8vxNEnBKfYsMHF85mQSI5JbCNYg", oauth_signature="IOShcP4JX9HYIMx1%2BTnAzYunPxA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920277", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"328e4026-c9f2-4cde-892f-5a8772b556df\", \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/73b1762e-1c5e-11e2-8b44-525400c5df07/\", \"task_id\": \"73b1762e-1c5e-11e2-8b44-525400c5df07\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-10-22T15:37:56Z\", \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"running\", \"result\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"principal_login\": \"admin\", \"response\": \"accepted\"}"
  recorded_at: Mon, 22 Oct 2012 15:37:57 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/unassociate/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{\"association\":{\"unit_id\":{\"$in\":[null]}}}}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="NwapjQI7peFqQKBkQ7Jf47bmD8zQOL5a1dD1mxux0o", oauth_signature="5jcuaR%2FA9Tm%2FpMYZyaegWDKQm%2BA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920310", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/87e5d5ae-1c5e-11e2-8fae-525400c5df07/\", \"task_id\": \"87e5d5ae-1c5e-11e2-8fae-525400c5df07\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:action:unassociate\"], \"reasons\": [], \"start_time\": null, \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"waiting\", \"result\": null, \"progress\": {}, \"principal_login\": \"admin\", \"response\": \"accepted\"}"
  recorded_at: Mon, 22 Oct 2012 15:38:30 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/content/units/erratum/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"96569818-adc3-4afb-a415-20e6374681f6\",\"048a9199-6462-40dc-a61f-c9a4f55fd56a\"]}}}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="jdnIHibW6Mg3B1zj943mNoa5x1gnFmVyUhKz4N7WFyY", oauth_signature="kFqjc4QIqmDWHP3vf7kfXeo3J30%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920315", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"048a9199-6462-40dc-a61f-c9a4f55fd56a\", \"_href\": \"/pulp/api/v2/content/units/erratum/048a9199-6462-40dc-a61f-c9a4f55fd56a/\", \"children\": {}}, {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"severity\": \"\", \"title\": \"Empty errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": 1, \"from_str\": \"lzap+pub@redhat.com\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"96569818-adc3-4afb-a415-20e6374681f6\", \"_href\": \"/pulp/api/v2/content/units/erratum/96569818-adc3-4afb-a415-20e6374681f6/\", \"children\": {}}]"
  recorded_at: Mon, 22 Oct 2012 15:38:35 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/2/actions/associate/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}}},\"source_repo_id\":\"1\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="DyAujQmDcdDmIT98LO7qZ90bEmPjC9YmJ4xcuWyI", oauth_signature="0NpmkgJQCF4Q0c4WQA3S0KCfGic%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920318", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/8cd53a3a-1c5e-11e2-b006-525400c5df07/\", \"task_id\": \"8cd53a3a-1c5e-11e2-b006-525400c5df07\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"waiting\", \"result\": null, \"progress\": {}, \"principal_login\": \"admin\", \"response\": \"accepted\"}"
  recorded_at: Mon, 22 Oct 2012 15:38:38 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/2/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="8KI1yY0pcelU2V7gQb6OuqMzcmdgDu28HVFudQUQyY", oauth_signature="qCEgGb6PLPPHFxCuXYaxURSwrj4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920319", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 22 Oct 2012 15:38:39 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/content/units/rpm/search/
    body: 
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"206a71f1-73bd-4119-80cc-ebda63467ea6\",\"06457a2e-7eb9-4505-afef-0b51ba0d2da8\",\"399f19bf-b199-447b-8ac6-02378e955cfd\",\"3a74f5eb-9b35-4bd5-baa1-015bce208c8d\",\"d1da86c4-adbd-4844-bb8b-d2feddeffd8e\",\"eb29ad04-b940-4e34-913b-5d94f9893eac\",\"20ec7442-c251-44c6-8320-30d54e65e5e5\",\"f1010ac1-073b-4428-8830-604ccbe372b6\"]}}}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="YPs5ySe1XZw7SysSMgjMg9sQqC4ZrOyV6EYryjvnVIA", oauth_signature="V6tF1mmyuX1yGPXto7xM6vIzfys%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920321", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_storage_path\": \"/var/lib/pulp/content/rpm/.//elephant/0.3/0.8/noarch/3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3/elephant-0.3-0.8.noarch.rpm\", \"vendor\": \"\", \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"checksum\": \"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"epoch\": \"0\", \"version\": \"0.3\", \"relativepath\": \"elephant-0.3-0.8.noarch.rpm\", \"provides\": [[\"elephant\", \"EQ\", [\"0\", \"0.3\", \"0.8\"]]], \"_content_type_id\": \"rpm\", \"release\": \"0.8\", \"_id\": \"06457a2e-7eb9-4505-afef-0b51ba0d2da8\", \"arch\": \"noarch\", \"name\": \"elephant\", \"description\": \"A dummy package of elephant\", \"_href\": \"/pulp/api/v2/content/units/rpm/06457a2e-7eb9-4505-afef-0b51ba0d2da8/\", \"children\": {}}, {\"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_storage_path\": \"/var/lib/pulp/content/rpm/.//cheetah/0.3/0.8/noarch/422d0baa0cd[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/?details=true
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Hu003utlAi8uK5sGKPk6BnhXG18KVASiIorlrZOtJ4o", oauth_signature="VMzBYlbHkkIzLY%2BLvkx5ElrtJWI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920321", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\", \"importer_working_dir\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/1\"}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 14, \"_id\": {\"$oid\": \"50856878dc79216add005a7b\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2012-10-22T11:38:34-04:00\", \"scheduled_syncs\": [], \"scratchpad\": null, \"_id\": {\"$oid\": \"50856878dc79216add005a7c\"}, \"config\": {\"feed_url\": \"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"scratchpad\": null, \"_id\": {\"$oid\": \"50856878dc79216add005a7d\"}, \"config\": {\"https\": true, \"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"generate_metadata\": true}, \"id\": \"1\"}]}"
  recorded_at: Mon, 22 Oct 2012 15:38:41 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/publish/
    body: 
      string: "{\"id\":\"1\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="OnQ7HycfO015xrUqcDQ5zz8JICF9SttYXjw27j6w", oauth_signature="FWi%2BEfTVFURNXOebHqjdOzYkLVk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920321", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/8e85b56e-1c5e-11e2-bb18-525400c5df07/\", \"task_id\": \"8e85b56e-1c5e-11e2-bb18-525400c5df07\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"waiting\", \"result\": null, \"progress\": {}, \"principal_login\": \"admin\", \"response\": \"accepted\"}"
  recorded_at: Mon, 22 Oct 2012 15:38:41 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/content/units/package_category/search/
    body: 
      string: "{\"criteria\":{}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="HKMwV6fKUZZJEyC683PYdSEdsDLaHkP78LcIVgLSCo", oauth_signature="ls50W6VChjvX%2Bhu4i%2B0xHfMXxTw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920322", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"_storage_path\": null, \"repo_id\": \"1\", \"description\": null, \"display_order\": 99, \"translated_name\": {}, \"packagegroupids\": [\"mammal\", \"bird\"], \"translated_description\": {}, \"_content_type_id\": \"package_category\", \"_id\": \"07ccf9ed-550c-4a51-8273-df23b9762774\", \"id\": \"all\", \"name\": \"all\", \"_href\": \"/pulp/api/v2/content/units/package_category/07ccf9ed-550c-4a51-8273-df23b9762774/\", \"children\": {}}, {\"_storage_path\": null, \"repo_id\": \"integration_test_id\", \"description\": null, \"display_order\": 99, \"translated_name\": {}, \"packagegroupids\": [\"mammal\", \"bird\"], \"translated_description\": {}, \"_content_type_id\": \"package_category\", \"_id\": \"0c748e40-e9ec-479d-8d08-b608b8cffe66\", \"id\": \"all\", \"name\": \"all\", \"_href\": \"/pulp/api/v2/content/units/package_category/0c748e40-e9ec-479d-8d08-b608b8cffe66/\", \"children\": {}}, {\"_storage_path\": null, \"repo_id\": \"Fedora_17_x86_64\", \"description\": null, \"display_order\": 99, \"translated_name\": {}, \"packagegroupids\": [\"mammal\", \"bird\"], \"translated_description\": {}, \"_content_type_id\": \"package_category\", \"_id\": \"89e78bf9-3888-4cdb-b581-ccc573f51466\", \"id\": \"all\", \"name\": \"all\", \"_href\": \"/pulp/api/v2/content/units/package_category/89e78bf9-3888-4cdb-b581-ccc573f51466/\", \"children\": {}}]"
  recorded_at: Mon, 22 Oct 2012 15:38:42 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}}},\"source_repo_id\":\"1\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="464g8UXpcBeq7DjhdnEF3hh0lbnjrqj0Bln6VJrmNg", oauth_signature="2H5PJQ9BUDu2iSFCDDIazsPquQk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920323", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/8fb5fd40-1c5e-11e2-82e2-525400c5df07/\", \"task_id\": \"8fb5fd40-1c5e-11e2-82e2-525400c5df07\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"waiting\", \"result\": null, \"progress\": {}, \"principal_login\": \"admin\", \"response\": \"accepted\"}"
  recorded_at: Mon, 22 Oct 2012 15:38:43 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="mHaeWg22HVbUDUJrQaytFp5rBkQOp9DKWXuVsjR4Ug", oauth_signature="YacNTWQdzKA7u0lSa3psgiYBEZA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920326", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 22 Oct 2012 15:38:46 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/search/units/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"sort\":{\"unit\":[[\"name\",\"ascending\"],[\"version\",\"descending\"]]},\"filters\":{\"unit\":{\"$and\":[{\"name\":\"elephant\"}]}}}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ngses6K9Nqkuw16nu5I7jo2IYh2g0iu8XFplzRbI", oauth_signature="OSdttDdcGyrCodHhIgKbQaMNAOQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920326", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"updated\": \"2012-10-22T11:38:34\", \"repo_id\": \"1\", \"created\": \"2012-10-22T11:38:34\", \"_ns\": \"repo_content_units\", \"unit_id\": \"06457a2e-7eb9-4505-afef-0b51ba0d2da8\", \"unit_type_id\": \"rpm\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5085687adc79216add005a92\"}, \"id\": \"5085687adc79216add005a92\", \"owner_id\": \"yum_importer\", \"metadata\": {\"requires\": [[\"/bin/sh\", null, [null, null, null]]], \"_storage_path\": \"/var/lib/pulp/content/rpm/.//elephant/0.3/0.8/noarch/3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3/elephant-0.3-0.8.noarch.rpm\", \"vendor\": \"\", \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"_ns\": \"units_rpm\", \"checksum\": \"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\", \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"epoch\": \"0\", \"version\": \"0.3\", \"relativepath\": \"elephant-0.3-0.8.noarch.rpm\", \"provides\": [[\"elephant\", \"EQ\", [\"0\", \"0.3\", \"0.8\"]]], \"_content_type_id\": \"rpm\", \"release\": \"0.8\", \"_id\": \"06457a2e-7eb9-4505-afef-0b51ba0d2da8\", \"arch\": \"noarch\", \"name\": \"elephant\", \"description\": \"A dummy package of elephant\"}}]"
  recorded_at: Mon, 22 Oct 2012 15:38:47 GMT
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/?tag=pulp:action:sync
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="DuQhyZMJ8jCe1n9huuEeRis1AzjVkUxfzNGMjkthlVo", oauth_signature="jY9T6qERpSQwwo10nV1Ai%2ByUKwY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920327", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  respons[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/content/units/package_group/search/
    body: 
      string: "{\"criteria\":{}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="rBDjJgo8TNO1keEEAPSyPzAkEjzzORQMKltc84Nk", oauth_signature="4JKREltiBuE9cI0Ka9c455I%2Bj28%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920327", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"_storage_path\": null, \"mandatory_package_names\": [], \"repo_id\": \"ACME_Corporation-Katello-Katello_Fedora_17\", \"description\": \"Katello Server Development Packages\", \"user_visible\": true, \"default\": false, \"display_order\": 1024, \"optional_package_names\": [], \"translated_name\": {}, \"translated_description\": {}, \"conditional_package_names\": [], \"default_package_names\": [\"python-inflector\", \"katello-devel\", \"rubygem-ci_reporter\", \"katello-devel-jshintrb\", \"katello-cli-unit-tests\", \"katello-devel-profiling\", \"katello-devel-all\", \"katello-devel-test\"], \"_content_type_id\": \"package_group\", \"langonly\": null, \"_id\": \"0660e906-3e5d-48e6-ad9a-efba28410b32\", \"id\": \"katello-server-devel\", \"name\": \"Katello Server Development\", \"_href\": \"/pulp/api/v2/content/units/package_group/0660e906-3e5d-48e6-ad9a-efba28410b32/\", \"children\": {}}, {\"_storage_path\": null, \"mandatory_package_names\": [], \"repo_id\": \"ACME_Corporation-Katello-Katello_Fedora_17\", \"description\": \"Katello Server Documentation Packages\", \"user_visible\": true, \"default\": false, \"display_order\": 1024, \"o[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/sync_schedules/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QAJTrOti1o37ex1BCQEesfzWjDHzsGY4s22fS1HnM4", oauth_signature="xUzrXJogObKBrneOPNfeNJ1eVY4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920330", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Mon, 22 Oct 2012 15:38:50 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/sync_schedules/
    body: 
      string: "{\"schedule\":\"2013-10-22T11:38:50-04:00/P1D\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="mObghru5OUlkCMwG6JTdkbI2wudXUrUb5wjnSuDgSo", oauth_signature="aJ%2BX3nBOPEBqo1gq6FR8ywHlGKE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920330", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/sync_schedules/5085688adc79216add005b7f/
      Content-Type: 
      - application/json
    body: 
      string: "{\"next_run\": \"2013-10-22T15:38:50Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/sync_schedules/5085688adc79216add005b7f/\", \"schedule\": \"2013-10-22T11:38:50-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-10-22T15:38:50Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"5085688adc79216add005b7f\", \"consecutive_failures\": 0}"
  recorded_at: Mon, 22 Oct 2012 15:38:51 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="zjdEqCSv2xp4wIm0gaWRz7kucyJd8UCKbPvUpfYg4c", oauth_signature="whB6eiy9aSLNgQ0RbO2YTmpvBSs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920331", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"322d897d-d070-45df-86c0-8dd4943fb298\", \"exception\": null, \"_href\": \"/pulp/api/v2/task_groups/322d897d-d070-45df-86c0-8dd4943fb298/\", \"task_id\": \"944eb807-1c5e-11e2-a102-525400c5df07\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"waiting\", \"result\": null, \"progress\": {}, \"principal_login\": \"admin\", \"response\": \"accepted\"}]"
  recorded_at: Mon, 22 Oct 2012 15:38:51 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"importer_config\":{\"ssl_client_cert\":null,\"feed_url\":\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\",\"ssl_ca_cert\":null,\"ssl_client_key\":null},\"distributors\":[[\"yum_distributor\",{\"protected\":true,\"generate_metadata\":true,\"http\":false,\"relative_url\":\"/test_path/\",\"https\":true},false,\"1\"]],\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"id\":\"1\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="tItuxRrbg4CcCfDDdiQiV1tx0CfHOW4l0y9WRbpH9to", oauth_signature="NUoPQ%2BPYZWos%2FB%2Fltk4izUj4HqM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920335", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50856890dc79216add005bcb\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 22 Oct 2012 15:38:56 GMT
[...]
