--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/2ad9a3b9-4e2f-4610-85a4-33adb34e6845/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="59KA9c0CIGr7C81iIqnEbBpRcfxZ8JPkEeGCP5KnahM", oauth_signature="gxjrMljcJAeaI9hTk7CRWPd2ixE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032954", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/2ad9a3b9-4e2f-4610-85a4-33adb34e6845/\", \"task_id\": \"2ad9a3b9-4e2f-4610-85a4-33adb34e6845\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-11-16T02:29:13Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-16T02:29:13Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"2ad9a3b9-4e2f-4610-85a4-33adb34e6845\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 16 Nov 2012 02:29:14 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/049f2d6b-17f7-4e2e-8427-88b19e6d0c7b/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="8Q571Ou5D5aJQkrLVoNfKh78HsLHTFJujW47zjVw", oauth_signature="cREz8ck8Z%2B4RC3bmzV3D%2Bl6X6Z8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032955", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"1af01442-4ddf-46a2-8266-fbce6c289e40\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/049f2d6b-17f7-4e2e-8427-88b19e6d0c7b/\", \"task_id\": \"049f2d6b-17f7-4e2e-8427-88b19e6d0c7b\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-16T02:29:15Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"1af01442-4ddf-46a2-8266-fbce6c289e40\", \"call_request_id\": \"049f2d6b-17f7-4e2e-8427-88b19e6d0c7b\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 16 Nov 2012 02:29:15 GMT
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/049f2d6b-17f7-4e2e-8427-88b19e6d0c7b/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="99pWXo1WOzMCoNrWuzEI7VM5zBDa4JYLgstyQAUYwg", oauth_signature="mHw1EiOYVmxQgay37auzfrK5Gp8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032956", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"1af01442-4ddf-46a2-8266-fbce6c289e40\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/049f2d6b-17f7-4e2e-8427-88b19e6d0c7b/\", \"task_id\": \"049f2d6b-17f7-4e2e-8427-88b19e6d0c7b\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-16T02:29:15Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"1af01442-4ddf-46a2-8266-fbce6c289e40\", \"call_request_id\": \"049f2d6b-17f7-4e2e-8427-88b19e6d0c7b\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 16 Nov 2012 02:29:16 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/108abf94-7c89-4049-95f0-382e5ab0bd3f/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="YTnJh2RNm2xP0ryFyuFXlbp6NV01RTWgGXvBb3xvjE", oauth_signature="NNd2g4me1yNlXXYQFFnJ7Hy%2Fbgg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353032962", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/108abf94-7c89-4049-95f0-382e5ab0bd3f/\", \"task_id\": \"108abf94-7c89-4049-95f0-382e5ab0bd3f\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\"}], \"start_time\": \"2012-11-16T02:29:21Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-16T02:29:22Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"108abf94-7c89-4049-95f0-382e5ab0bd3f\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Fri, 16 Nov 2012 02:29:22 GMT
[...]
