--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{}}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="oFVDGML87qGXleCOapdbDRM5ahNMoVYk5btXq0JlceE", oauth_signature="Lkc4QWDSWZHIuR9wpa2vXYQpSJc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201226", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/271ecc8e-43f4-4066-bb74-45cf51a2cc8c/\", \"task_id\": \"271ecc8e-43f4-4066-bb74-45cf51a2cc8c\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"271ecc8e-43f4-4066-bb74-45cf51a2cc8c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 14 Jan 2013 22:07:07 GMT
[...]
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="vN9r0uvbRCxfozoXoAqS2mKDI7U9SVh0YhStUgOc", oauth_signature="uhY7MaBn%2BWyLshBNn3b31TAh35A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201233", oauth_version="1.0"
      Pulp-U[...]
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"id\":\"1\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_key\":null,\"ssl_client_cert\":null,\"feed_url\":\"file:///home/paji/katello/katello/src/test/fixtures/zoo5\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"http\":false,\"relative_url\":\"/test_path/\",\"protected\":true,\"https\":true},\"distributor_id\":\"1\",\"auto_publish\":false}]}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="jwm4xngZRiweStmFH1pz45t0TG28uFJv9wcZSZC6Lx8", oauth_signature="vAn67%2FCufrGCc4xI2xT0hrhVCwE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201233", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "1"
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50f48192196cbe557b000b8c\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 14 Jan 2013 22:07:14 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="9tsxMAxHsA8cn3C6r4uIqwKWRRA7FBVN8iVvUOYIMc", oauth_signature="jJmIEgVy08J1lV%2Fyj35HGO3z9zg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201234", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"3be62e11-82ce-438f-afb5-b687ad0efaf6\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/3be62e11-82ce-438f-afb5-b687ad0efaf6/\", \"task_id\": \"0991fa89-e2c5-40cc-bd3a-ac2903b51714\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"3be62e11-82ce-438f-afb5-b687ad0efaf6\", \"call_request_id\": \"0991fa89-e2c5-40cc-bd3a-ac2903b51714\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 14 Jan 2013 22:07:14 GMT
[...]
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="e1Hwx0144e4aTo3uBOdsdu8DwM3KAHbNS4umDp6L1ec", oauth_signature="jqN3JrqyC%2BW9eDZ%2BPBUsBwJbwIk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201262", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"8ee50beb-00fc-4ac7-b63a-f5398d46c0c6\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/8ee50beb-00fc-4ac7-b63a-f5398d46c0c6/\", \"task_id\": \"2371bf60-199e-4cc1-8a0e-38b60de7c9b5\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"8ee50beb-00fc-4ac7-b63a-f5398d46c0c6\", \"call_request_id\": \"2371bf60-199e-4cc1-8a0e-38b60de7c9b5\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 14 Jan 2013 22:07:42 GMT
