--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/666e773d-1c5e-11e2-b45b-525400c5df07/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="7pbuBwd9jcra6m7MDkpvnZ3uDyYops9PEiW0QNRXCs", oauth_signature="05qhaT5Ex0mMHU4xDz2jew8nFFk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920254", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/666e773d-1c5e-11e2-b45b-525400c5df07/\", \"task_id\": \"666e773d-1c5e-11e2-b45b-525400c5df07\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-10-22T15:37:34Z\", \"traceback\": null, \"schedule_id\": null, \"finish_time\": \"2012-10-22T15:37:34Z\", \"state\": \"finished\", \"result\": null, \"progress\": {}, \"principal_login\": \"admin\", \"response\": \"accepted\"}"
  recorded_at: Mon, 22 Oct 2012 15:37:34 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/67152fc7-1c5e-11e2-b8a0-525400c5df07/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QSlUoFtJBSQ3tfezdAW17hUMhAcRPpoouVj25amKQY", oauth_signature="VLOGeBd1RfDyqAbGFJeC%2BW1N8PQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920255", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"5b9f2342-bb5b-465d-80ec-588c528b7d5b\", \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/67152fc7-1c5e-11e2-b8a0-525400c5df07/\", \"task_id\": \"67152fc7-1c5e-11e2-b8a0-525400c5df07\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-10-22T15:37:35Z\", \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"running\", \"result\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"principal_login\": \"admin\", \"response\": \"accepted\"}"
  recorded_at: Mon, 22 Oct 2012 15:37:35 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/67152fc7-1c5e-11e2-b8a0-525400c5df07/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="EzCOIgXzaITc1yp07C7qRM4RhxKQKgCUDwHDU40xBr4", oauth_signature="UDxQ5jqxLzxlHXoO9svYJdpMlUI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920256", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"5b9f2342-bb5b-465d-80ec-588c528b7d5b\", \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/67152fc7-1c5e-11e2-b8a0-525400c5df07/\", \"task_id\": \"67152fc7-1c5e-11e2-b8a0-525400c5df07\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-10-22T15:37:35Z\", \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"running\", \"result\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"principal_login\": \"admin\", \"response\": \"accepted\"}"
  recorded_at: Mon, 22 Oct 2012 15:37:36 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}}},\"source_repo_id\":\"1\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="QkTkdKJcUQSkPxBC9uBkmTkhlHHMxi4jyhinOul2Kn8", oauth_signature="VXyO8vB0zVzvP8qyWZ6AEYhdhaQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920307", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/8627533d-1c5e-11e2-8440-525400c5df07/\", \"task_id\": \"8627533d-1c5e-11e2-8440-525400c5df07\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"waiting\", \"result\": null, \"progress\": {}, \"principal_login\": \"admin\", \"response\": \"accepted\"}"
  recorded_at: Mon, 22 Oct 2012 15:38:27 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="iE1XMQBovTnjIISd19NK79gHOUsE906V3p0vCPtKlY", oauth_signature="Lj2vupem8nIsVZhSNFNNmYkXbow%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920311", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 22 Oct 2012 15:38:31 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"importer_config\":{\"ssl_client_cert\":null,\"feed_url\":\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\",\"ssl_ca_cert\":null,\"ssl_client_key\":null},\"distributors\":[[\"yum_distributor\",{\"protected\":true,\"generate_metadata\":true,\"http\":false,\"relative_url\":\"/test_path/\",\"https\":true},false,\"1\"]],\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"id\":\"1\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ZbIi4UnJLAbBgUNAzKMPRD8SFKawetU9rgcSDlBIwJo", oauth_signature="JFmSWtYNVsrp%2F1EAoD0ycelMQdM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920312", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50856878dc79216add005a7b\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 22 Oct 2012 15:38:32 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="r3ABkaazy5Mstntd8Mu7mECiVOaFmBlMpKtChIIwM", oauth_signature="jfX%2BBiclf4zwqMmyalqo5uhzk20%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920312", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"e9ae9f24-5cb9-48f2-8816-e276d9cf48d3\", \"exception\": null, \"_href\": \"/pulp/api/v2/task_groups/e9ae9f24-5cb9-48f2-8816-e276d9cf48d3/\", \"task_id\": \"89088cae-1c5e-11e2-971f-525400c5df07\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"waiting\", \"result\": null, \"progress\": {}, \"principal_login\": \"admin\", \"response\": \"accepted\"}]"
  recorded_at: Mon, 22 Oct 2012 15:38:32 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="l2wgvmP2vEbrm9P5q8L6LSoD4xDCjO8AFPAhCpo5I", oauth_signature="hErOlCFFLhoEzJns817afXsSmT4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350920333", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 22 Oct 2012 15:38:53 GMT
