--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/7b610c8f-32d8-46cd-8879-5f56f90a6521/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="FE8mQH8iyUj7ab0GXLVDCG1HzVWTzyl4S5PFQQpGl5g", oauth_signature="mZ8qY1ntA907DQ7fdkbOT0svI9s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351211376", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/7b610c8f-32d8-46cd-8879-5f56f90a6521/\", \"task_id\": \"7b610c8f-32d8-46cd-8879-5f56f90a6521\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-10-26T00:29:36Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-10-26T00:29:36Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"7b610c8f-32d8-46cd-8879-5f56f90a6521\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 26 Oct 2012 00:29:36 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/74ffa6a9-5269-4720-a6c2-cd834208e5f0/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="L54NMs5V9Jh73JafoeiWSwbM8wqz117ZmWwg1kqQZs", oauth_signature="oFq1wrH6180HpbKAW0MFpXPHGr8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351211377", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"8b498ab6-7c69-4059-8a33-1f145fe32e2c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/74ffa6a9-5269-4720-a6c2-cd834208e5f0/\", \"task_id\": \"74ffa6a9-5269-4720-a6c2-cd834208e5f0\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-10-26T00:29:37Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"8b498ab6-7c69-4059-8a33-1f145fe32e2c\", \"call_request_id\": \"74ffa6a9-5269-4720-a6c2-cd834208e5f0\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 26 Oct 2012 00:29:37 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/74ffa6a9-5269-4720-a6c2-cd834208e5f0/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ThJORBMYa55mY1t58nAa6rf0Tc2xh6xb2NunFdlic", oauth_signature="FxaBbn1bfTwlMM%2BEMlsAymcA5Kc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351211377", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"8b498ab6-7c69-4059-8a33-1f145fe32e2c\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/74ffa6a9-5269-4720-a6c2-cd834208e5f0/\", \"task_id\": \"74ffa6a9-5269-4720-a6c2-cd834208e5f0\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-10-26T00:29:37Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"8b498ab6-7c69-4059-8a33-1f145fe32e2c\", \"call_request_id\": \"74ffa6a9-5269-4720-a6c2-cd834208e5f0\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 26 Oct 2012 00:29:37 GMT
[...]
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}},\"type_ids\":[\"rpm\"]},\"source_repo_id\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="pVpdkxX8ejnXeYGY6bVVl2MI8dDn8O92xfIy9FWk", oauth_signature="iIoj2j0GL4QHh2lfdcxEz%2F8GS30%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212102", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/5b0dd901-ef86-4b44-9af7-a46d62bdb6f9/\", \"task_id\": \"5b0dd901-ef86-4b44-9af7-a46d62bdb6f9\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"5b0dd901-ef86-4b44-9af7-a46d62bdb6f9\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 26 Oct 2012 00:41:42 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="4f9Nnj3ZGr2LZEhoGFPtNYaW8wpRdo0jH20zZc1o", oauth_signature="sDeUAtEiZOhDi3lPDPtvI4%2BzOwA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212106", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 26 Oct 2012 00:41:47 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"distributors\":[{\"distributor_id\":\"1\",\"auto_publish\":false,\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"protected\":true,\"https\":true}}],\"importer_config\":{\"ssl_client_cert\":null,\"ssl_ca_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\"},\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"id\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="lou6p0193RedxAQ7fDE2WjcWoTT7LWw7PgsfloEak", oauth_signature="Hibqr1CjgqwkEbskLii76BurCK8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212108", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "1"
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"5089dc4cdc792138c9001070\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 26 Oct 2012 00:41:48 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="MNIdydkMn2vY12ylsxdq1cn2eubeU7eIFZrJUiN1U", oauth_signature="GVdEY7%2FkanKjCWk7lb9E8GdV89Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212108", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"6fabf116-6d5b-43a7-8f72-97c908e40d1e\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/6fabf116-6d5b-43a7-8f72-97c908e40d1e/\", \"task_id\": \"5822af30-59ae-4955-b647-1b3157f38d30\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"6fabf116-6d5b-43a7-8f72-97c908e40d1e\", \"call_request_id\": \"5822af30-59ae-4955-b647-1b3157f38d30\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 26 Oct 2012 00:41:48 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="4XXwn9kKs4SBlYTXwv1kJ38PoBiSsN2vymBmDfSYg", oauth_signature="G3fmG6fWI%2FR20u4OaPiCcZgW97s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1351212135", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Fri, 26 Oct 2012 00:42:15 GMT
recorded_with: VCR 2.2.5
