--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ymDvY369cSibCM2IWB6FENGCSO9ebfWzkfQdl27w8", oauth_signature="hCbi1i35RRyfPyl6y%2FkjjBArFYs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201257", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Mon, 14 Jan 2013 22:07:37 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2014-01-14T17:07:37-05:00/P1D\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="YW0IVlFPlwXNPy2Dvf6NrjBPyOPrwVe2WYRvKUfg", oauth_signature="1BlT%2FMkAs%2BNqYMOsmy17HrXK1N0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358201257", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50f481a9196cbe557b000cc0/
    body: 
      string: "{\"next_run\": \"2014-01-14T22:07:37Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50f481a9196cbe557b000cc0/\", \"schedule\": \"2014-01-14T17:07:37-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-01-14T22:07:37Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50f481a9196cbe557b000cc0\", \"consecutive_failures\": 0}"
  recorded_at: Mon, 14 Jan 2013 22:07:38 GMT
