--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/f3f7159c-7951-48ec-a37a-4659e617f90f/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="tQpardQpKXug2sYUM0SHp2LBEKvQyYD8G0JKyZ2EVw", oauth_signature="pS21chXt2s5rYUDfobizA5TBGyc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453686", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f3f7159c-7951-48ec-a37a-4659e617f90f/\", \"task_id\": \"f3f7159c-7951-48ec-a37a-4659e617f90f\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-11-20T23:21:26Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-20T23:21:26Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"f3f7159c-7951-48ec-a37a-4659e617f90f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 23:21:26 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/be71f52a-25e7-489c-a984-cdc9354c2f6d/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="EcJhigaAX6YzuBUZJobYkmR05FfLjibC7l9Jr7k3s", oauth_signature="JeM56enN2ShcGFNxFSRo%2FOir8Hw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453688", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"e6b1db48-1c9a-449c-a768-4d85a36da195\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/be71f52a-25e7-489c-a984-cdc9354c2f6d/\", \"task_id\": \"be71f52a-25e7-489c-a984-cdc9354c2f6d\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-20T23:21:28Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"e6b1db48-1c9a-449c-a768-4d85a36da195\", \"call_request_id\": \"be71f52a-25e7-489c-a984-cdc9354c2f6d\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 23:21:28 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/be71f52a-25e7-489c-a984-cdc9354c2f6d/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="eUlUjWAfygjN7vSGBe7VVIEZQK3ukEYsQLgzwPBykOs", oauth_signature="yNs8R1hcMJo5mcg4TbtaW%2BSW6jA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453689", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"e6b1db48-1c9a-449c-a768-4d85a36da195\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/be71f52a-25e7-489c-a984-cdc9354c2f6d/\", \"task_id\": \"be71f52a-25e7-489c-a984-cdc9354c2f6d\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-20T23:21:28Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 4, \"size_total\": 17872, \"items_left\": 7, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 8960, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 4, \"size_total\": 17872, \"items_left\": 4, \"items_total\": 8, \"size_left\": 8960, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"e6b1db48-1c9a-449c-a768-4d85a36da195\", \"call_request_id\": \"be71f52a-25e7-489c-a984-cdc9354c2f6d\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 23:21:29 GMT
[...]
