--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"3drCkIx4CA5Rwgln\",\"login\":\"batman\",\"name\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="hllnPWkGQyNwbrwLQvuB3sWJADXsPNMnnCJJgJB3I", oauth_signature="OD8iMRfACMf7bGjL29nQZZoc1HU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363830001", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - batman
    body: 
      string: "{\"_id\": {\"$oid\": \"514a64f19c60ed64a30042f3\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"514a64f19c60ed64a30042f3\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Thu, 21 Mar 2013 01:40:01 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7xxDHlasH04SqtRZCJhJOdQBShp63ohmFH4TGDf7M0", oauth_signature="p890ox2laziHTyYAYFj2X5Nxurg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363830004", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Thu, 21 Mar 2013 01:40:05 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="MpLw55unjgzXqGsjI5eaOQidgGG9G7EipWYy3nFrho", oauth_signature="BP5wVEuaCKcUFc3Bk5sKWQ0eRgY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363830005", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Thu, 21 Mar 2013 01:40:05 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="9GlQNLvIDL9XD1bEUYtcUtcWBWYYrzU6dudIIFrUfE", oauth_signature="79BZlhjv5JFEfGT0O3aptqCBIVc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363830006", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Thu, 21 Mar 2013 01:40:06 GMT
