--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":\"hidden\",\"login\":\"hidden\",\"password\":\"l1duWA5LJ1jGX4hK\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="2dpE29Kt9PxbSkFVdyTs3KOKgjvm00rvtEH7I", oauth_signature="nJwkIgmttBN2BvFBP%2F8pPC2j3LU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954199", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"50f0bc979c60ed0921004d16\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"50f0bc979c60ed0921004d16\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Sat, 12 Jan 2013 01:29:59 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="FKbLaPM6rqb5XmVK3lJy9yOT1LsWgAl1N1Uo5Sf0", oauth_signature="tDYvVaxbK0uczwwRQcfotpNKp%2Fk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954199", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Sat, 12 Jan 2013 01:29:59 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/hidden/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="nzlLTqzTp27rGFe2JBYNo1zIyHz6GfkI5javs540b0w", oauth_signature="U%2F5%2F7Wene2PNnO%2B4cBM2ghgOvjM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954241", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Sat, 12 Jan 2013 01:30:41 GMT
