--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Hd4bZsOZAcJhLMXqh756wbF9w1ud5qKWd6UINDLGCk", oauth_signature="J3ptEoVhdFmLACNyRiCPdMVZtFM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377522", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Wed, 16 Jan 2013 23:05:22 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      string: "{\"schedule\":\"2014-01-16T18:05:22-05:00/P1D\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="CpOALnuUOd4dYixYx5mwzNrIXCCw1vsT5IWFiap0", oauth_signature="4fhezf5tXf1jFQJQBbNjBxAI4zo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377522", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50f732339c60ed27ce0037ba/
      Content-Type: 
      - application/json
    body: 
      string: "{\"next_run\": \"2014-01-16T23:05:22Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/50f732339c60ed27ce0037ba/\", \"schedule\": \"2014-01-16T18:05:22-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-01-16T23:05:22Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"50f732339c60ed27ce0037ba\", \"consecutive_failures\": 0}"
  recorded_at: Wed, 16 Jan 2013 23:05:23 GMT
