--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"tkZuSy6IdVtClrBE\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="GyaJ8pMpVxo8e7ks7gUp1GPfQp97Ms8XUtPEeXF8M", oauth_signature="70KIhYljYr1YK3RHEorHSaq6wXs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103671", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51300d779c60ed2a89005e51\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"51300d779c60ed2a89005e51\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Fri, 01 Mar 2013 02:07:52 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="pNnN9vbgy9X6KLSsrsyqe6ZkNT5pDeHQqRkqt4lCv2E", oauth_signature="HMjAcMkKaWIvmgF05Q%2BySLldA1M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103673", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 01 Mar 2013 02:07:53 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="LJ2SQTzrr6x1WpzCHieVw3b1HXHinzfYzfFtQj617o", oauth_signature="lgcw7dWAkfXpmNZ8Yw%2FC83c4lZw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103674", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 01 Mar 2013 02:07:54 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="9QvI3qBpF1HFMWKzoea685WIfe7cki2Bz2eoDZTFo", oauth_signature="uaWiv6HF92jwmQqOeyV0CJEn5k8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103675", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 01 Mar 2013 02:07:55 GMT
recorded_with: VCR 2.4.0
