--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"criteria\":{\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}},\"type_ids\":[\"rpm\"]},\"source_repo_id\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="JKboiMymsZBRrQpuRx6O3Ms390dvw23EIyeYM2wdBH0", oauth_signature="OXQXfsjB1naYxnn57C%2FbWp5qDdo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453695", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/1e5e4aec-71d0-48ea-b293-c0cc38de8fa9/\", \"task_id\": \"1e5e4aec-71d0-48ea-b293-c0cc38de8fa9\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"1e5e4aec-71d0-48ea-b293-c0cc38de8fa9\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 23:21:35 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="hqE21CWg7OCdzc7ikkihA0iWw9g6MDzw90evLK6Rxc", oauth_signature="Z3yFLpqRY2jlMi1Mzx8Jd95LDcM%3D", oauth_signature_met[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"},\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"distributors\":[{\"auto_publish\":false,\"distributor_id\":\"1\",\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"https\":true,\"protected\":true,\"http\":false,\"relative_url\":\"/test_path/\"}}]}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="wNUjldVVcGRe36UPrqB4fBpdwwo05yDOnao4HwX3Pw0", oauth_signature="OxothOVgkhUn8XOYXffHBnzNw%2Bg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453699", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50ac10839c60ed50b900048b\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Tue, 20 Nov 2012 23:21:39 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="1ALQ7kLUCkxEKp4tlAbeB5pph3G3a2HJPqeGIEqVw", oauth_signature="672Xs0SxzIVgABh3zT4%2BI9InmDc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453699", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"c8f5d0ff-4603-41b9-ab42-3297196a98b2\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/c8f5d0ff-4603-41b9-ab42-3297196a98b2/\", \"task_id\": \"05cf1fda-c7e5-4b87-b17a-8c59392f04bd\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"c8f5d0ff-4603-41b9-ab42-3297196a98b2\", \"call_request_id\": \"05cf1fda-c7e5-4b87-b17a-8c59392f04bd\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 20 Nov 2012 23:21:39 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="HoLEssh3woJMTdXRgh7n1iE65eTSiLNlICSJKT17cM", oauth_signature="voQj9pxqxuy%2F8ciIzY6h%2BUhXwVw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453720", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"e55abdd5-fb77-4f48-8417-613a94367f8d\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/e55abdd5-fb77-4f48-8417-613a94367f8d/\", \"task_id\": \"de6af8e9-236a-44cf-95af-7ea541e425dc\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"e55abdd5-fb77-4f48-8417-613a94367f8d\", \"call_request_id\": \"de6af8e9-236a-44cf-95af-7ea541e425dc\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 20 Nov 2012 23:22:00 GMT
recorded_with: VCR 2.2.5
