--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/17ebcaee-0d9d-11e2-bf59-525400c5df07/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="wCKc8hh42fRfuHOrYEpioXv8Cnnvi1Qmfmzlug0ojxk", oauth_signature="7%2FF%2BojPVQL0wiSP%2FbdkUpp0plaE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349297913", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"d366c89e-a9bb-4c67-a00f-53e564161829\", \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/17ebcaee-0d9d-11e2-bf59-525400c5df07/\", \"task_id\": \"17ebcaee-0d9d-11e2-bf59-525400c5df07\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-10-03T20:58:33Z\", \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"running\", \"result\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"response\": \"accepted\"}"
  recorded_at: Wed, 03 Oct 2012 20:58:33 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/c3786cc5-0e35-11e2-894c-525400c5df07/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="7hnZ8v76cLUoxxkPYDFGJsB8wZG8z6nDXFxQAtHKdFw", oauth_signature="4e1UkG8ked91e8xPKmnxNABHroY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349363485", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"e7beabe2-b5e5-4609-bfa6-06305700f8d0\", \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/c3786cc5-0e35-11e2-894c-525400c5df07/\", \"task_id\": \"c3786cc5-0e35-11e2-894c-525400c5df07\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-10-04T15:11:25Z\", \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"running\", \"result\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"response\": \"accepted\"}"
  recorded_at: Thu, 04 Oct 2012 15:11:26 GMT
[...]
