--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="yiM6cXl2p41SkzoOTeQIBNi7QzWX9DQxKX0YY774", oauth_signature="5RM3V0Vpwt8rMkmt6bJpHDxoG5E%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103667", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 01 Mar 2013 02:07:47 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2014-02-28T21:07:47-05:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="VxqapxUxzgKyxISUtetw7FA2mi5JASuU6wirtVYk", oauth_signature="nuHlg7fBKDxncloIrtsrkjxlWbg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103667", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51300d739c60ed2a89005de7/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-03-01T02:07:47Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/51300d739c60ed2a89005de7/\", \"schedule\": \"2014-02-28T21:07:47-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-03-01T02:07:47Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"51300d739c60ed2a89005de7\", \"consecutive_failures\": 0}"
  recorded_at: Fri, 01 Mar 2013 02:07:47 GMT
recorded_with: VCR 2.4.0
