--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{\"unit\":{\"name\":{\"$not\":{\"$in\":[]}}}}},\"source_repo_id\":\"1\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="261NGQCx2CAUF3TjWFhu2YNIlEyBiN1bIgeplu0A3g", oauth_signature="3r2s7QMz5oI5L4LHDGjpC8un0vA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353344250", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f07d593d-cbde-45b0-938f-346fbc7d4b3b/\", \"task_id\": \"f07d593d-cbde-45b0-938f-346fbc7d4b3b\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"f07d593d-cbde-45b0-938f-346fbc7d4b3b\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Mon, 19 Nov 2012 16:57:31 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/acme_corporation_label-staging_label-staging_label-fedora_label-fedora_17_x86_64_label/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6oyWDbFiLm7hExTuTJGuz55ifGAZEzVeNGLAomb76hQ", oauth_signature="yrfoHBJ02jiz4r%2Bc0aWZ6i71BIE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353344255", oauth_version="1.0"
      Pu[...]
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"display_name\":\"Fedora 17 x86_64\",\"distributors\":[{\"auto_publish\":false,\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"protected\":true,\"https\":true,\"http\":false},\"distributor_id\":\"1\"}],\"importer_config\":{\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\",\"ssl_client_cert\":null,\"ssl_ca_cert\":null,\"ssl_client_key\":null},\"id\":\"1\",\"importer_type_id\":\"yum_importer\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="MzNuHLwQS1uWihr3XyCofydfekF2pI5kMgOTJIaxFs", oauth_signature="Kg16S7tuywbpvx4NevrOIyhqJF4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353344255", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50aa64ff9c60ed4cf00015d7\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 19 Nov 2012 16:57:35 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="DulAihOrh3Y9U4xq19wtriBftVxHmc9g0qtLnK3DWg", oauth_signature="NCZ29E5C5GP6HjhSHddoASBNrjo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353344255", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"eb795b09-acf6-4cbe-8a43-94cbe2741073\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/eb795b09-acf6-4cbe-8a43-94cbe2741073/\", \"task_id\": \"bf904e97-f04a-4e01-ae69-ac2ac263d3f2\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"eb795b09-acf6-4cbe-8a43-94cbe2741073\", \"call_request_id\": \"bf904e97-f04a-4e01-ae69-ac2ac263d3f2\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 19 Nov 2012 16:57:35 GMT
[...]
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="wYfTRCl9u4QQ2ASmzsDi8A5IlS8WMEcCfttX1MBRXc", oauth_signature="iIu%2FWXUVh%2Bv1Rfvez77sWYs3RH8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353344277", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"2ca5d786-86ea-4ba3-a28c-912db51cfdfe\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/2ca5d786-86ea-4ba3-a28c-912db51cfdfe/\", \"task_id\": \"ec43ef04-8731-4e58-8343-10d295ffb1aa\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"2ca5d786-86ea-4ba3-a28c-912db51cfdfe\", \"call_request_id\": \"ec43ef04-8731-4e58-8343-10d295ffb1aa\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 19 Nov 2012 16:57:57 GMT
