--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/a09fb81f-437e-4cf6-8fe8-4b77f6f98c0f/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="vmGbBdoP3DnxvGDjBKhtpZocfGala1oWZfth6RYCUo", oauth_signature="b%2FuENli4hhXTQtwi9M9HlOdSQxA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353123015", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/a09fb81f-437e-4cf6-8fe8-4b77f6f98c0f/\", \"task_id\": \"a09fb81f-437e-4cf6-8fe8-4b77f6f98c0f\", \"call_request_tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2012-11-17T03:30:15Z\", \"tags\": [\"pulp:repository:acme_corporation_label-staging_label-fedora_label-fedora_17_x86_64_label\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2012-11-17T03:30:15Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"a09fb81f-437e-4cf6-8fe8-4b77f6f98c0f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 17 Nov 2012 03:30:15 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/981ef17c-832f-4d40-b628-85b741ee1583/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="fnVQmoaGp9SAIBrc9RYn0wZNyHj22RbldxOKiVuaZU", oauth_signature="lcWQ9%2Bt0YH3jg9buj%2BUjSVvS%2BRA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353123017", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"3634ba2e-6984-4de4-a4c5-310a519da1ea\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/981ef17c-832f-4d40-b628-85b741ee1583/\", \"task_id\": \"981ef17c-832f-4d40-b628-85b741ee1583\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-17T03:30:17Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"3634ba2e-6984-4de4-a4c5-310a519da1ea\", \"call_request_id\": \"981ef17c-832f-4d40-b628-85b741ee1583\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 17 Nov 2012 03:30:17 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/981ef17c-832f-4d40-b628-85b741ee1583/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="9MFbeLmAv7FLmWq5Jce6Vw2O2VPEsUAaTX9GxRB4", oauth_signature="EscTAfpAHgEeftSsx01u7BeY8JA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353123018", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"3634ba2e-6984-4de4-a4c5-310a519da1ea\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/981ef17c-832f-4d40-b628-85b741ee1583/\", \"task_id\": \"981ef17c-832f-4d40-b628-85b741ee1583\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-17T03:30:17Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 7, \"size_total\": 17872, \"items_left\": 4, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 4444, \"details\": {\"tree_file\": {\"num_success\": 1, \"size_total\": 0, \"items_left\": 2, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 6, \"size_total\": 17872, \"items_left\": 2, \"items_total\": 8, \"size_left\": 4444, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"3634ba2e-6984-4de4-a4c5-310a519da1ea\", \"call_request_id\": \"981ef17c-832f-4d40-b628-85b741ee1583\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 17 Nov 2012 03:30:18 GMT
[...]
