--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="5dGdMuCQ4F9eYW34Lw6OuSvBbasI51DWiw3Qr6mWM", oauth_signature="It03VslptMvyGO0%2FbBkWYhVJZbY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101224", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 01 Mar 2013 01:27:04 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2014-02-28T20:27:04-05:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="h2IPyhm2HOXDep44jRrUm5mz232HutrWza97FFqsgI", oauth_signature="MDS2z%2Bv0%2F1N7utsXwgWuLqUC81Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101224", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/513003e89c60ed2a8900558f/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-03-01T01:27:04Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/513003e89c60ed2a8900558f/\", \"schedule\": \"2014-02-28T20:27:04-05:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2014-03-01T01:27:04Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"513003e89c60ed2a8900558f\", \"consecutive_failures\": 0}"
  recorded_at: Fri, 01 Mar 2013 01:27:04 GMT
recorded_with: VCR 2.4.0
