--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ng2GLBIMTEJdCFFS0BrXDVqWEVjgCt1FIUHWEzlYq4", oauth_signature="vaeUD5yUGoBxchM41G1ZqfgwoVI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353009126", oauth_version="1.0"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=/pulp/api/v2/users/batman/\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"/pulp/api/v2/users/batman/\"}}"
  recorded_at: Thu, 15 Nov 2012 19:52:06 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"name\":null,\"password\":\"05uUcLo3FqXUG32b\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="qilJNtGmNp9qNnVuLo6hMIyKzM0ss2yKo5aZcbuM", oauth_signature="ozxyYZa%2BE7oMAdLokfb1xy7A0pQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353009128", oauth_version="1.0"
  response: 
    status: 
      code: 500
      message: Internal Serve[...]
