--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="9GQURCDqzMnwZM20oQy395RZMM65b1LIC9JsrHY8d4", oauth_signature="TbCqualzNFEm%2F4gbuES%2FRrLnTFQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816425", oauth_version="1.0"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Wed, 20 Mar 2013 21:53:45 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"nOPCA7CQvUsmYzgf\",\"name\":null}"
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="wpgeyzCrzji98ynT294oOQdtW5APPVh7C0HrRYYKFqw", oauth_signature="3%2FDtwXF2mAxJrRW3naipW%2BnI8gM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816427", oauth_version="1.0"
  response: 
    status: 
      code: 500
      message: Internal Server Error
   [...]
