--- 
http_interactions: 
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="4caoHbYVo25efgje2yyWkbIsttg7nXzZzROMYdIISI", oauth_signature="fO5eut3T1gwL7E2k5nziRB%2Bn%2BNc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780526", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Thu, 10 Jan 2013 01:15:27 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"BTOG8WUwnBsKBWLK\",\"name\":null}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="tVcaqQK70pFWJqJHF6vgYj5rr9wnEGmqfwWcywMIGs", oauth_signature="nZvnteB0ozsfzdjSAHc4CIUPaaA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780528", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 500
      message: Internal Server Error
    head[...]
