--- 
http_interactions: 
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="8Wmq7da0Kjma9bPSl70ymRxILVKolwjOw3t9reDvsY", oauth_signature="hEf3QFCPs%2FT7KWPSohs%2B6d7is5I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453722", oauth_version="1.0"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=/pulp/api/v2/users/batman/\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"/pulp/api/v2/users/batman/\"}}"
  recorded_at: Tue, 20 Nov 2012 23:22:02 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":null,\"password\":\"wWk4lGm1zF0Kyobz\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="gGZWBkRjxGAB11FAetX8eamuqha8eMG6dBNMzPSt3EY", oauth_signature="bbHWZIL9BbItJbqUlHAn2LZTp8o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353453725", oauth_version="1.0"
  response: 
    status: 
      code: 500
      message: Internal Serv[...]
