--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="pjNdMLlFrNAgJH2T0xYp3JPEBMYP3efXIR8Bw0f7ts", oauth_signature="FLJpOMIABTnhp0TOhemonOA6hO8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131800", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=/pulp/api/v2/users/batman/\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"/pulp/api/v2/users/batman/\"}}"
  recorded_at: Mon, 05 Nov 2012 16:10:00 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"name\":null,\"password\":\"jwknWAbrHrDmzdw3\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="U6YLNgBi5bCPJgG4WpHBnemRAIvRLIovDQWPxZoSk", oauth_signature="J%2BR%2BCgKkkdbIKJRt0Myc6hIYhCw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1352131802", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 500
      message: Internal Se[...]
