--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="3jrj2HXgGyK61T5kvN4UL579cBGe5W5GnZPsvzFUog", oauth_signature="bQxncaJQWKsVdQtg9Mp%2BGjmItk0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350527175", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Thu, 18 Oct 2012 02:26:16 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"LKcxBBKYDN8qcccy\",\"name\":null}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="CQd3qUX3M4s7lfX1GdfNCAyObm6A2tVZHLoZZxQ", oauth_signature="F0aZX8Ux%2BlLM1VOj4XeafkL5fVQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1350527179", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 500
      message: Internal Server Error
    heade[...]
