--- 
http_interactions: 
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="MKsurkNWCwJbwzxtC9b8Wdfncx9TlRnyQlzYkWqP1cQ", oauth_signature="pi1LlbxCp5mljKWs3GlKfdkQnWA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179729", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Mon, 14 Jan 2013 16:08:49 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":null,\"password\":\"LfqmB3bkyMVWufAb\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="0JFwxOz1YxZt4pYncO6tqpSG4d5Qjew7oR680BdR9U", oauth_signature="2AEoAueQ5fEcbGBjtaDMeJVpKqU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179734", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 500
      message: Internal Serve[...]
