--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RbW567jUmVu8h3LSWPSLRnBlVdCTkKfEIAAEEFtC38", oauth_signature="UtCPDh%2FFHA4gDFa%2FImY3K4xVt2o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363830000", oauth_version="1.0"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=batman\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"batman\"}}"
  recorded_at: Thu, 21 Mar 2013 01:40:01 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"qmgLbDjDjmlGtbEk\",\"name\":null}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7zgnoH6Q94Hc0k6z2pPuCTsoDzbqnB9pAswDPx71WgA", oauth_signature="%2FPyx6naqjxzQHgWXgm%2BvGesgQHQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363830003", oauth_version="1.0"
  response: 
    status: 
      code: 500
      message: Internal Server Error
   [...]
