--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="jt00GllGLdT8dR1zR2eTQy7bxp4hi5VR1NBCoUZLNwk", oauth_signature="KhBczbR3jMOi%2FCrycc7g3dZD8LY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353344279", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=/pulp/api/v2/users/batman/\", \"_href\": \"/pulp/api/v2/users/batman/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"/pulp/api/v2/users/batman/\"}}"
  recorded_at: Mon, 19 Nov 2012 16:57:59 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/users/
    body: 
      string: "{\"name\":null,\"password\":\"pdEIddrjuqHwLt2o\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="pf4NalQxvklRrxY5zthr2QUeIO3wIbFPobd1lSQeg8", oauth_signature="D%2B74%2Fo36XocMYRkOtUwrDtCxbLo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353344282", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 500
      message: Internal S[...]
