--- 
http_interactions: 
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="P4ptLTFTpQBr7aedzTohjp9FY0EjoOpHn3BH2twtezM", oauth_signature="ZAY61wY5L1zdObFR37YUs4Q8kEY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780529", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 405
      message: Method Not Allowed
    headers: 
      Allow: 
      - GET, POST
      Content-Type: 
      - text/html; charset=UTF-8
    body: 
      string: None
  recorded_at: Thu, 10 Jan 2013 01:15:29 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"GwHc3fnF17tKcshj\",\"login\":\"batman\",\"name\":\"batman\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="NIqX6EGrKYFpUv1Rrt2t4fqeE26M72evZi6JqURIgU", oauth_signature="MnwcLnEqjDoYSsM%2FSKkjpAbrikM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780530", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - batman
    body: 
      string: "{\"_id\": {\"$oid\": \"50ee1632dc792129cb002a4a\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"50ee1632dc792129cb002a4a\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Thu, 10 Jan 2013 01:15:30 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/batman/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="kPTishWkRO4L6LsQt0lsaDgxW43YRryFLFWirAkbow", oauth_signature="rDhUzVoQaIXOSJzF5qt%2Bbsb8Gyg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780531", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Thu, 10 Jan 2013 01:15:31 GMT
recorded_with: VCR 2.4.0
