--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/22a56909-3ffe-478b-802a-2fefbe00e8e7/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="N3n9MGdl4K4lN0NwNJLFK4uOl3c3XAL0Xg6fUf9z4LI", oauth_signature="WptgBg1K68fM%2BTl8afF9DXtEhoM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103584", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"16cd0a9a-324d-4d63-8bef-1721678ab48e\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/22a56909-3ffe-478b-802a-2fefbe00e8e7/\", \"task_id\": \"22a56909-3ffe-478b-802a-2fefbe00e8e7\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-01T02:06:24Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"16cd0a9a-324d-4d63-8bef-1721678ab48e\", \"call_request_id\": \"22a56909-3ffe-478b-802a-2fefbe00e8e7\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 01 Mar 2013 02:06:24 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/22a56909-3ffe-478b-802a-2fefbe00e8e7/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="I2h8rEhqgIt51ADgbYgOTdmSqp74I6NSEyTpzUUU", oauth_signature="mlX%2BUg1mdeKGiF3zRG4u7qhfrY4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103585", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"16cd0a9a-324d-4d63-8bef-1721678ab48e\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/22a56909-3ffe-478b-802a-2fefbe00e8e7/\", \"task_id\": \"22a56909-3ffe-478b-802a-2fefbe00e8e7\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-01T02:06:24Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"16cd0a9a-324d-4d63-8bef-1721678ab48e\", \"call_request_id\": \"22a56909-3ffe-478b-802a-2fefbe00e8e7\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 01 Mar 2013 02:06:25 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="81ksBmmybVFIE5R9lL5oKHGGFtqrKZZG5gHsDyq3pU", oauth_signature="tk%2BTnBRYsCA13l%2B0Y6eGogw9FKE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103605", oauth_version="1.0"
      Pulp-User: 
      - admin
 [...]
[...]
