--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/9ea2b34c-2894-41ba-8466-1a50f03bb126/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RGqoOHD33uXGEv2c26dxGUPK1i47BemoRLfH6pfRc", oauth_signature="5NZdXwhskyG8tKnG8apLOyIw2I4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353427989", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"dac0d756-84a4-41ad-898c-3bee756174a0\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/9ea2b34c-2894-41ba-8466-1a50f03bb126/\", \"task_id\": \"9ea2b34c-2894-41ba-8466-1a50f03bb126\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-20T16:13:09Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"dac0d756-84a4-41ad-898c-3bee756174a0\", \"call_request_id\": \"9ea2b34c-2894-41ba-8466-1a50f03bb126\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 16:13:09 GMT
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/9ea2b34c-2894-41ba-8466-1a50f03bb126/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="PIt7PF38lGkSgigyhgCY5lsDc1GN3Tmiaf6iPpw", oauth_signature="2IShVa0xMFBrL80fYaWsW1o1ZLw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353427990", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"dac0d756-84a4-41ad-898c-3bee756174a0\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/9ea2b34c-2894-41ba-8466-1a50f03bb126/\", \"task_id\": \"9ea2b34c-2894-41ba-8466-1a50f03bb126\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-20T16:13:09Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 2, \"size_total\": 17872, \"items_left\": 9, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 13404, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 2, \"size_total\": 17872, \"items_left\": 6, \"items_total\": 8, \"size_left\": 13404, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"dac0d756-84a4-41ad-898c-3bee756174a0\", \"call_request_id\": \"9ea2b34c-2894-41ba-8466-1a50f03bb126\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Tue, 20 Nov 2012 16:13:10 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="06NRm92NETbIEExyrcMHYia5pBbHtzY2eXBjuvOKvM", oauth_signature="p%2FyqWvA29XRwm9V3o1gwdnHtirQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1353427998", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"task_id\": \"d0b5fee8-2a4a-4940-8c90-4242503ad86e\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:create\"], \"reasons\": [], \"start_time\": \"2012-11-20T16:13:09Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:create\"], \"state\": \"finished\", \"finish_time\": \"2012-11-20T16:13:09Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"d0b5fee8-2a4a-4940-8c90-4242503ad86e\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50abac15dc7921443200221f\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}}, {\"task_group_id\": \"dac0d756-84a4-41ad-898c-3bee756174a0\", \"exception\": null, \"traceback\": null, \"task_id\": \"9ea2b34c-2894-41ba-8466-1a50f03bb126\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-11-20T16:13:09Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"finished\", \"finish_time\": \"2012-11-20T16:13:10Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"FINISHED\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\", \"num_errata\": 2}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"dac0d756-84a4-41ad-898c-3bee756174a0\", \"call_request_id\": \"9ea2b34c-2894-41ba-8466-1a50f03bb126\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"task_id\": \"363c82f7-7e37-4d6f-a1b8-f4601bdc4570\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:create\"], \"reasons\": [], \"start_time\": \"2012-11-20T16:13:12Z\", \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:create\"], \"state\": \"finished\", \"finish_time\": \"2012-11-20T16:13:12Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"363c82f7-7e37-4d6f-a1b8-f4601bdc4570\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"display_name\": \"Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXAIBAAKBgQCV0F8l/2BkrJtiG/5s1kU6VmnNnZS5SxqeiNM/JdjbD2TZK0l7\\nZS5dcGLu3kzscFcryVOxAwigfw/q1IXqNjxAGl7J5zJH8WKI6Qq8XkO5XJdj408X\\n+2KT9RmOBRNS9HFxL41wLvIEG9kP7TLJh6TCwrcO3Xiq/wdUTFvoa9mXoQIDAQAB\\nAoGAMTf6+oXTCmA20F24EdO3fLoFGptJ0DJfdXQoStfJTfbZwAtboeGVAPe6WRXJ\\nmegyi10iVMZVYD0+Yn0d3duhoUEZRiaPIs3ieFDGZWaP36ho3QfSCbjk8xM24zgE\\noMjRxdIE06RUkd3IirvjeJRgxFTXOIKYGTP7l8t1s3LGcAECQQDFml/ojHQZsyZM\\np/L+3VzjI/1bT+2QMkqfkTX7ag4mq6Zy4k8ZL++zEcXe7/KJm8FzvuivsYgp2[...]
[...]
