--- 
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/09f43cbb-1d98-45dd-bfe0-0f0ec1a5d6e3/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="sYlbT7TY5wUysZ70dulFmccNoJ96lqITjqRC2tgKA8", oauth_signature="ti2MZU%2BnYIpPcBJp2gRZav3bFxU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780462", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"8310f58b-b3b2-4745-a877-550730fc6179\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/09f43cbb-1d98-45dd-bfe0-0f0ec1a5d6e3/\", \"task_id\": \"09f43cbb-1d98-45dd-bfe0-0f0ec1a5d6e3\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-10T01:14:22Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"8310f58b-b3b2-4745-a877-550730fc6179\", \"call_request_id\": \"09f43cbb-1d98-45dd-bfe0-0f0ec1a5d6e3\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 10 Jan 2013 01:14:22 GMT
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/09f43cbb-1d98-45dd-bfe0-0f0ec1a5d6e3/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="IjQNXRZjnIbmP2MTL1GzqRZqSEFlH5C9y1YxySqZ0zw", oauth_signature="O7hhs%2FRJWlmLmylEY3BtZWn0c%2FY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780462", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"8310f58b-b3b2-4745-a877-550730fc6179\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/09f43cbb-1d98-45dd-bfe0-0f0ec1a5d6e3/\", \"task_id\": \"09f43cbb-1d98-45dd-bfe0-0f0ec1a5d6e3\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-10T01:14:22Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"8310f58b-b3b2-4745-a877-550730fc6179\", \"call_request_id\": \"09f43cbb-1d98-45dd-bfe0-0f0ec1a5d6e3\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 10 Jan 2013 01:14:22 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="3HyzhhNab0pZIS4GtZTY7qsQq8ivySpl2qRbngqY", oauth_signature="6tOOsY6DmWoyXFa5pkd34ANiRqc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357780470", oauth_version="1.0"
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"task_id\": \"6e711c19-b24a-44d3-90a4-d64cdc729ede\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:create\"], \"reasons\": [], \"start_time\": \"2013-01-10T01:14:21Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:create\"], \"state\": \"finished\", \"finish_time\": \"2013-01-10T01:14:21Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"6e711c19-b24a-44d3-90a4-d64cdc729ede\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50ee15eddc792129cb0023e7\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}}, {\"task_group_id\": \"8310f58b-b3b2-4745-a877-550730fc6179\", \"exception\": null, \"traceback\": null, \"task_id\": \"09f43cbb-1d98-45dd-bfe0-0f0ec1a5d6e3\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-10T01:14:22Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"finished\", \"finish_time\": \"2013-01-10T01:14:23Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"FINISHED\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\", \"num_errata\": 2}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"8310f58b-b3b2-4745-a877-550730fc6179\", \"call_request_id\": \"09f43cbb-1d98-45dd-bfe0-0f0ec1a5d6e3\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"task_id\": \"84301ca1-fc30-4984-bf8f-a6944781e1dd\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:create\"], \"reasons\": [...]
[...]
