--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/e358b3be-2c4b-4bff-a2bb-d6737d5d4bf7/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="JLChO33DU0Zj2tMCGSJOnRFrOsye69Q6NP68RL8Ao", oauth_signature="EqRIXm%2F00%2FwFyq9Sr95bY0YkMDE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816140", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"bb898898-f301-49ec-acd7-326f75dab7fc\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/e358b3be-2c4b-4bff-a2bb-d6737d5d4bf7/\", \"task_id\": \"e358b3be-2c4b-4bff-a2bb-d6737d5d4bf7\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-20T21:49:00Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"bb898898-f301-49ec-acd7-326f75dab7fc\", \"call_request_id\": \"e358b3be-2c4b-4bff-a2bb-d6737d5d4bf7\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 20 Mar 2013 21:49:00 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/e358b3be-2c4b-4bff-a2bb-d6737d5d4bf7/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6X7U0DJGh8YYKmutofOIK9mlI8oe7u6K7cwCJ02VJw", oauth_signature="0Xh%2FSx2pYwhe8gQYr3XFCM%2F674o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816142", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"bb898898-f301-49ec-acd7-326f75dab7fc\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/e358b3be-2c4b-4bff-a2bb-d6737d5d4bf7/\", \"task_id\": \"e358b3be-2c4b-4bff-a2bb-d6737d5d4bf7\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-20T21:49:00Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"bb898898-f301-49ec-acd7-326f75dab7fc\", \"call_request_id\": \"e358b3be-2c4b-4bff-a2bb-d6737d5d4bf7\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 20 Mar 2013 21:49:02 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="H5dQqQqBhXxlYGB89Xc4iDwQ2lZKrd2bRLgvrsqS0Q", oauth_signature="K3X0n%2Bu2b0ZO6EDfnQe29K5gBDI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363816328", oauth_version="1.0"
  response: 
    status: 
  [...]
[...]
