--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/cb14a999-6885-485e-bdbb-5e14ab2bbbbc/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="XnUlkVYC1AiOeerxFZfPzB9NgEgrakX0Im9EanfKSss", oauth_signature="A%2Fd8RT0p95DFnsMqDcUEIKUC2E8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884709", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"50dcbff9-49b7-4355-bd00-5e5cf2944540\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/cb14a999-6885-485e-bdbb-5e14ab2bbbbc/\", \"task_id\": \"cb14a999-6885-485e-bdbb-5e14ab2bbbbc\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-21T16:51:49Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"50dcbff9-49b7-4355-bd00-5e5cf2944540\", \"call_request_id\": \"cb14a999-6885-485e-bdbb-5e14ab2bbbbc\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 21 Mar 2013 16:51:50 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/cb14a999-6885-485e-bdbb-5e14ab2bbbbc/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="2Bg1ZAjOgaWW7MrCTjPhgGjZ9jGYmqwR5wcrea5EL7s", oauth_signature="d9%2FGQk%2FTZZ2hgMiKxdo5lf7CP1Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884711", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"50dcbff9-49b7-4355-bd00-5e5cf2944540\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/cb14a999-6885-485e-bdbb-5e14ab2bbbbc/\", \"task_id\": \"cb14a999-6885-485e-bdbb-5e14ab2bbbbc\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-21T16:51:49Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 4, \"size_total\": 17872, \"items_left\": 7, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 8928, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 4, \"size_total\": 17872, \"items_left\": 4, \"items_total\": 8, \"size_left\": 8928, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"50dcbff9-49b7-4355-bd00-5e5cf2944540\", \"call_request_id\": \"cb14a999-6885-485e-bdbb-5e14ab2bbbbc\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Thu, 21 Mar 2013 16:51:51 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="pXF4xGbqI7xVwosi92DBjMrUsYlHW1JjXOTG5Ivlp8", oauth_signature="cRUWpNV6%2BkGKMxNbhki1mN2Opqs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1363884868", oauth_version="1.0"
      Pulp-User: 
      - admin
  r[...]
[...]
