--- 
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/750210f0-e626-4888-9e31-775f45f01de1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="uybzg7u3FR7DtsgK5rkD6OKOSk1rWodgcKsjwD77k", oauth_signature="M8WKBRwfRt%2BIFPlbHIoV4aiJ3d8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101137", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"76433f99-a1d4-4e4c-a4a7-e5afe634d7fd\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/750210f0-e626-4888-9e31-775f45f01de1/\", \"task_id\": \"750210f0-e626-4888-9e31-775f45f01de1\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-01T01:25:37Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"76433f99-a1d4-4e4c-a4a7-e5afe634d7fd\", \"call_request_id\": \"750210f0-e626-4888-9e31-775f45f01de1\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 01 Mar 2013 01:25:37 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/750210f0-e626-4888-9e31-775f45f01de1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="iuLC3QJ8q3tVULP3U0hNRAbxMXcFazAUrBYxmaU", oauth_signature="6siXA%2BaaNqAPcLeyO9rHXVzEbZg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101137", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"76433f99-a1d4-4e4c-a4a7-e5afe634d7fd\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/750210f0-e626-4888-9e31-775f45f01de1/\", \"task_id\": \"750210f0-e626-4888-9e31-775f45f01de1\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-03-01T01:25:37Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 7, \"size_total\": 17872, \"items_left\": 4, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 2232, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 7, \"size_total\": 17872, \"items_left\": 1, \"items_total\": 8, \"size_left\": 2232, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"76433f99-a1d4-4e4c-a4a7-e5afe634d7fd\", \"call_request_id\": \"750210f0-e626-4888-9e31-775f45f01de1\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 01 Mar 2013 01:25:37 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="HdHZqrEt6SUZi6OEcsnBOGRGzCrBfRuW96VjAhayA", oauth_signature="7zEM14I1HLjK695gDSQS5Tq8Nc8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362101160", oauth_version="1.0"
      Pulp-User: 
      - admin
  resp[...]
[...]
