--- 
http_interactions: 
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/e62e21d7-7fc4-4479-8ffb-508681589ffa/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="yQEeEXFSjjDz82LiCZj80LQhEQBCpVEBmjkUYLIzL0", oauth_signature="X%2FrnUdiS2LT4rVflUL%2Ba0V1AZns%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950241", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"7b0280bb-d212-4364-93ae-29cec99df3df\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/e62e21d7-7fc4-4479-8ffb-508681589ffa/\", \"task_id\": \"e62e21d7-7fc4-4479-8ffb-508681589ffa\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-12T00:24:01Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"7b0280bb-d212-4364-93ae-29cec99df3df\", \"call_request_id\": \"e62e21d7-7fc4-4479-8ffb-508681589ffa\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 12 Jan 2013 00:24:01 GMT
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/e62e21d7-7fc4-4479-8ffb-508681589ffa/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="2rPQHNrVq97bDTWBZ7cqNidls2x1KAFVVCzqNrMTnc", oauth_signature="mUChePYFVsLVX1rpXN70UrwwyLk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950242", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"7b0280bb-d212-4364-93ae-29cec99df3df\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/e62e21d7-7fc4-4479-8ffb-508681589ffa/\", \"task_id\": \"e62e21d7-7fc4-4479-8ffb-508681589ffa\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-12T00:24:01Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 6, \"size_total\": 17872, \"items_left\": 5, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 4484, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 6, \"size_total\": 17872, \"items_left\": 2, \"items_total\": 8, \"size_left\": 4484, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"7b0280bb-d212-4364-93ae-29cec99df3df\", \"call_request_id\": \"e62e21d7-7fc4-4479-8ffb-508681589ffa\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Sat, 12 Jan 2013 00:24:02 GMT
[...]
- request: 
    method: get
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/tasks/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="33gIzcHWDuhIcILTFurSISIgAJ6hEEhfjgexkdvDRg", oauth_signature="3dAVuJaqp7jwwD9v93l8zI%2BvNQc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357950365", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"task_id\": \"dcf58285-a1ad-4504-8f62-f66b80be8716\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:create\"], \"reasons\": [], \"start_time\": \"2013-01-12T00:25:49Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:create\"], \"state\": \"finished\", \"finish_time\": \"2013-01-12T00:25:49Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"dcf58285-a1ad-4504-8f62-f66b80be8716\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": {\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50f0ad8d196cbe47d70006d6\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}}, {\"task_group_id\": \"abc15655-b5b7-401a-8879-07dbb83274d2\", \"exception\": null, \"traceback\": null, \"task_id\": \"d203f342-1332-4e6d-9446-9b54e945bfe5\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-12T00:25:49Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"finished\", \"finish_time\": \"2013-01-12T00:25:50Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"FINISHED\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\", \"num_errata\": 2}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"abc15655-b5b7-401a-8879-07dbb83274d2\", \"call_request_id\": \"d203f342-1332-4e6d-9446-9b54e945bfe5\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"task_id\": \"746f2885-0ef1-43e6-86fe-8cf5f299b702\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:create\"], \"reasons\": [...]
[...]
