--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/7296aae0-329b-44eb-8430-d06a3d65b35c/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="lzgFqEcRtOJN6aNYuRvewwg78AKuKvLymO9yp2w5pJQ", oauth_signature="5xOUq7l17D5DNxHrSaeidITf%2Bbc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377287", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"ae567809-2715-4dbc-990b-ce8deb946f4f\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/7296aae0-329b-44eb-8430-d06a3d65b35c/\", \"task_id\": \"7296aae0-329b-44eb-8430-d06a3d65b35c\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-16T23:01:26Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"call_request_group_id\": \"ae567809-2715-4dbc-990b-ce8deb946f4f\", \"call_request_id\": \"7296aae0-329b-44eb-8430-d06a3d65b35c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 16 Jan 2013 23:01:27 GMT
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/7296aae0-329b-44eb-8430-d06a3d65b35c/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="KIyJryFBmkCkkDeiD75Hnh64ZPxgmEUsZkNx6zYN2s", oauth_signature="prKteuKU5r2ovDrvBLNlq5y0zMY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377287", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"ae567809-2715-4dbc-990b-ce8deb946f4f\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/7296aae0-329b-44eb-8430-d06a3d65b35c/\", \"task_id\": \"7296aae0-329b-44eb-8430-d06a3d65b35c\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-01-16T23:01:26Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 11, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"tree_file\": {\"num_success\": 3, \"size_total\": 0, \"items_left\": 0, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 8, \"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"size_left\": 0, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"ae567809-2715-4dbc-990b-ce8deb946f4f\", \"call_request_id\": \"7296aae0-329b-44eb-8430-d06a3d65b35c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 16 Jan 2013 23:01:27 GMT
[...]
- request: 
    method: get
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/tasks/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6RImkcpIUhY4rVh0VLrZiHQknST0ThEErNCCLK5FE", oauth_signature="vM5vFv2MBb7dunB473eCerhKNIw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377440", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
     [...]
[...]
