<div class="row">
  <form name="productForm" class="col-sm-5" novalidate role="form">

    <div bst-form-group label="{{ 'Name' | translate }}">
      <input id="name"
             name="name"
             ng-model="product.name"
             type="text"
             autofocus
             required/>
    </div>

    <div bst-form-group label="{{ 'Label' | translate }}">
      <input id="label"
             name="label"
             ng-model="product.label"
             type="text"
             required/>
    </div>

    <div bst-form-group label="{{ 'GPG Key' | translate }}">
      <select id="gpg_key_id"
              name="gpg_key_id"
              ng-model="product.gpg_key_id"
              ng-options="content_credential.id as content_credential.name for content_credential in contentCredentials | filter: { 'content_type': 'gpg_key' }">
        <option value=""></option>
      </select>
    </div>

    <div bst-form-group label="{{ 'SSL CA Cert' | translate }}">
      <select id="ssl_ca_cert_id"
              name="ssl_ca_cert_id"
              ng-model="product.ssl_ca_cert_id"
              ng-options="content_credential.id as content_credential.name for content_credential in contentCredentials | filter: { 'content_type': 'cert' }">
        <option value=""></option>
      </select>
    </div>

    <div bst-form-group label="{{ 'SSL Client Cert' | translate }}">
      <select id="ssl_client_cert_id"
              name="ssl_client_cert_id"
              ng-model="product.ssl_client_cert_id"
              ng-options="content_credential.id as content_credential.name for content_credential in contentCredentials | filter: { 'content_type': 'cert' }">
        <option value=""></option>
      </select>
    </div>

    <div bst-form-group label="{{ 'SSL Client Key' | translate }}">
      <select id="ssl_client_key_id"
              name="ssl_client_key_id"
              ng-model="product.ssl_client_key_id"
              ng-options="content_credential.id as content_credential.name for content_credential in contentCredentials | filter: { 'content_type': 'cert' }">
        <option value=""></option>
      </select>
    </div>

  <div bst-form-group label="{{ 'Sync Plan' | translate }}">
    <select id="sync_plan_id"
            name="sync_plan_id"
            ng-model="product.sync_plan_id"
            ng-options="syncPlan.id as syncPlan.name for syncPlan in syncPlans">
      <option value=""></option>
    </select>
    <a ng-click="openSyncPlanModal()">
      <i class="pficon pficon-add-circle-o"></i>
      <span translate>Create Sync Plan</span>
    </a>
  </div>

    <div bst-form-group label="{{ 'Description' | translate }}">
      <textarea id="description"
                name="description"
                ng-model="product.description">
      </textarea>
    </div>

    <div bst-form-buttons
         on-cancel="transitionTo('products')"
         on-save="save(product)"
         working="working">
    </div>

  </form>
</div>
