<span page-title ng-model="contentView">{{ 'Details for Content View:' | translate }} {{ contentView.name }}</span>

<h3 translate>Details for {{ contentView.name }}</h3>

<div class="row">
  <div class="col-sm-6">
    <dl class="dl-horizontal dl-horizontal-left">
      <dt translate>Name</dt>
      <dd bst-edit-text="contentView.name"
          on-save="save(contentView)"
          readonly="denied('edit_content_views', contentView)">
      </dd>

      <dt translate>Label</dt>
      <dd>{{ contentView.label }}</dd>

      <dt translate>Description</dt>
      <dd bst-edit-textarea="contentView.description"
          on-save="save(contentView)"
          readonly="denied('edit_content_views', contentView)">
      </dd>

      <dt translate>Composite</dt>
      <dd ng-show="contentView.composite" translate>Yes</dd>
      <dd ng-hide="contentView.composite" translate>No</dd>

      <dt translate>Force Puppet Environment</dt>
      <dd>
        <div bst-edit-checkbox="contentView.force_puppet_environment"
             formatter="booleanToYesNo"
             on-save="save(contentView)"
             readonly="denied('edit_content_views', contentView)">
        </div>
        <p class="help-text" translate>
          With this option selected, a puppet environment will be created during publish and promote even if no puppet modules have been added to the Content View
        </p>
      </dd>

      <div ng-if="contentView.composite">
        <dt translate>Auto Publish</dt>
        <dd>
          <div bst-edit-checkbox="contentView.auto_publish"
               formatter="booleanToYesNo"
               on-save="save(contentView)"
               readonly="denied('edit_content_views', contentView)">
          </div>
          <p class="help-text" translate>
            Applicable only for composite views. Auto publish composite view when a new version of a component content view is created. Also note auto publish will only happen when the component is marked "latest".
          </p>
        </dd>
      </div>

      <div>
        <dt translate>Solve Dependencies</dt>
        <dd>
          <div bst-edit-checkbox="contentView.solve_dependencies"
               formatter="booleanToYesNo"
               on-save="save(contentView)"
               readonly="denied('edit_content_views', contentView)">
          </div>
          <p class="help-text" translate>
            This will solve RPM and Module Stream dependencies on every publish of this Content View. Dependency solving significantly increases publish time (publishes can take over three times as long) and filters will be ignored when adding packages to solve
            dependencies. Also, certain scenarios involving errata may still cause dependency errors.
          </p>
        </dd>
      </div>
    </dl>
  </div>
</div>
