<span page-title ng-model="contentView">{{ 'Promote Content View:' | translate }} {{ contentView.name }}</span>

<div>

  <a ui-sref="content-views.details.versions({contentViewId: contentView.id})" >
    <i class="fa fa-double-angle-left"></i>
    {{ "Back to Version List" | translate }}
  </a>

  <h3 translate>Promote Version {{ version.version }}</h3>

  <p class="details" translate>
    Choose a lifecycle environment from the available promotion paths.
  </p>

  <p ng-hide="working">
    <i class="fa fa-spinner fa-spin"></i>
    <span translate>Loading Environment Paths...</span>
  </p>
  <div path-selector="availableEnvironments"
       ng-model="selectedEnvironment"
       mode="singleSelect"
       selection-required="false"
       path-attribute="environments"
       disabled="denied('promote_or_remove_content_views', contentView)"
       ng-show="working">
  </div>

  <div>
    <button class="btn btn-primary btn-lg" ng-disabled="promoting || !selectedEnvironment" ng-click="promote()" translate>
      Promote Version
    </button>

    <a ui-sref="content-views.details.versions" class="btn btn-default btn-lg"  translate role="button">
      Cancel
    </a>
  </div>

</div>
