<span page-title ng-model="contentView">{{ 'Details for Content View:' | translate }} {{ contentView.name }}</span>

<div class="details">

  <div class="detail">
    <span class="info-label" translate>Name</span>
    <span class="info-value"
          bst-edit-text="contentView.name"
          on-save="save(contentView)"
          readonly="denied('edit_content_views', contentView)">
    </span>
  </div>

  <div class="detail">
    <span class="info-label" translate>Label</span>
    <span class="info-value">{{ contentView.label }}</span>
  </div>

  <div class="detail">
    <span class="info-label" translate>Description</span>
    <span class="info-value"
          bst-edit-textarea="contentView.description"
          on-save="save(contentView)"
          readonly="denied('edit_content_views', contentView)">
    </span>
  </div>

  <div class="detail">
    <span class="info-label" translate>Composite?</span>
    <span class="info-value" ng-show="contentView.composite" translate>Yes</span>
    <span class="info-value" ng-hide="contentView.composite" translate>No</span>
  </div>

</div>
