<span page-title ng-model="contentView">{{ 'Content Views for Composite Content View:' | translate }} {{ contentView.name }}</span>

<div data-extend-template="layouts/details-nutupane.html">
  <div data-block="messages"></div>

  <div data-block="actions">
    <button class="btn btn-primary fr"
            ng-hide="denied('edit_content_views', contentView)"
            ng-disabled="detailsTable.numSelected === 0"
            ng-click="removeContentViews()">
      <i class="fa fa-trash-o"></i>
      <span translate>Remove Content Views</span>
    </button>
  </div>

  <div data-block="search">
    <input type="text"
           class="form-control"
           placeholder="{{ 'Filter...' | translate }}"
           ng-model="contentViewVersionFilter"/>
  </div>

  <span data-block="result-count"></span>

  <div data-block="table">
    <table class="table table-bordered table-striped">
      <thead>
      <tr bst-table-head row-select>
        <th bst-table-column translate>Name</th>
        <th bst-table-column translate>Version</th>
        <th bst-table-column translate>Environment</th>
        <th bst-table-column translate>Description</th>
        <th bst-table-column translate>Content</th>
      </tr>
      </thead>

      <tbody>
      <tr bst-table-row ng-repeat="contentViewVersion in detailsTable.rows | filter:contentViewVersionFilter | orderBy:'name'"
          row-select="contentViewVersion">
        <td bst-table-cell>{{ contentViewVersion.content_view.name }}</td>
        <td bst-table-cell>
          <span bst-edit-select="contentViewVersion.id"
                display-value="getVersionString(contentViewVersion)"
                display-value-default="getVersionString(contentViewVersion)"
                readonly="denied('edit_content_views', contentView)"
                selector="contentViewVersion.id"
                options="getContentViewForVersion(contentViewVersion)"
                options-format="option.id as option.version for option in options"
                on-save="saveContentViewVersion(contentViewVersion)">
          </span>
        </td>
        <td bst-table-cell>
        <span ng-show="contentViewVersions.environments.length !== 0"
              ng-repeat="environment in contentViewVersion.environments">
          {{ environment.name }}<span ng-if="!$last">, </span>
        </span>
        <span ng-show="contentViewVersion.environments.length === 0" translate>
          Not yet published
        </span>
        </td>
        <td bst-table-cell>{{ contentViewVersion.content_view.description }}</td>
        <td bst-table-cell>
          <div>
            <a ui-sref="content-views.details.repositories.yum.list({contentViewId: contentViewVersion.content_view.id})" translate>
              {{ contentViewVersion.repositories.length || 0 }} Repositories
            </a>
          </div>
          <div>
            <a ui-sref="content-views.details.puppet-modules.list({contentViewId: contentViewVersion.content_view.id})" translate>
              {{ contentViewVersion.puppet_module_count || 0 }} Puppet Modules
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

