.animate-show {
  -webkit-transition: all linear 0.075s;
  transition: all linear 0.075s;
  opacity: 1;
}
 
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block !important;
}
 
.animate-show.ng-hide {
  opacity:0;
  padding:0 10px;
}

.alert.ng-leave {
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
  opacity: 1;
}

.alert.ng-leave.ng-leave-active {
  opacity: 0;
}
