<span page-title ng-model="contentView">{{ 'History for Content View:' | translate }} {{ contentView.name }}</span>

<h3 translate>Promotion History</h3>

<div data-extend-template="layouts/partials/table.html">
  <span data-block="no-rows-message" translate>
     There is currently no history associated with this Content View.
  </span>


  <div data-block="table">
    <table class="table table-striped table-bordered" ng-class="{'table-mask': table.working}">
      <thead>
        <tr bst-table-head>
          <th translate>Date</th>
          <th translate>Version</th>
          <th translate>Description</th>
          <th translate>Action</th>
          <th translate>User</th>
          <th translate>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="history in table.rows">
          <td bst-table-cell><short-date-time date="history.created_at" /></td>
           <td bst-table-cell>{{ history.version }} </td>
           <td bst-table-cell class="preserve-newlines">{{ history.description }}</td>
          <td bst-table-cell>{{ actionText(history) }}</td>
          <td bst-table-cell>{{ history.user }}</td>
          <td bst-table-cell>{{ history.task.result }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
