<span page-title ng-model="deb">{{ 'Deb: ' | translate }} {{ deb.nva }}</span>

<div data-extend-template="layouts/full-page-details.html">
  <div data-block="content">
    <h4 translate>Basic Information</h4>

    <dl class="dl-horizontal dl-horizontal-left">
      <dt translate>Installed On</dt>
      <dd>
        <i class="fa fa-spinner fa-spin" ng-show="installedDebCount === undefined"></i>
        <span ng-show="installedDebCount !== undefined">
          <a ng-if="newHostDetailsUI" href="{{ '/hosts?search=' + createSearchString('installed_deb') }}" target="_blank" rel="noreferrer noopener" translate>
            {{ installedDebCount }} Host(s)
          </a>
          <a ng-if="!newHostDetailsUI" href="{{ '/content_hosts?search=' + createSearchString('installed_deb') }}" target="_blank" rel="noreferrer noopener" translate>
            {{ installedDebCount }} Host(s)
          </a>
        </span>
      </dd>

      <dt translate>Applicable To</dt>
      <dd>
        <a ng-if="newHostDetailsUI" href="{{ '/hosts?search=' + createSearchString('applicable_debs') }}" target="_blank" rel="noreferrer noopener" translate>
          {{ deb.hosts_applicable_count }} Host(s)
        </a>
        <a ng-if="!newHostDetailsUI" href="{{ '/content_hosts?search=' + createSearchString('applicable_debs') }}" target="_blank" rel="noreferrer noopener" translate>
          {{ deb.hosts_applicable_count }} Host(s)
        </a>
      </dd>

      <dt translate>Upgradable For</dt>
      <dd>
        <a ng-if="newHostDetailsUI" href="{{ '/hosts?search=' + createSearchString('upgradable_debs') }}" target="_blank" rel="noreferrer noopener" translate>
          {{ deb.hosts_available_count }} Host(s)
        </a>
        <a ng-if="!newHostDetailsUI" href="{{ '/content_hosts?search=' + createSearchString('upgradable_debs') }}" target="_blank" rel="noreferrer noopener" translate>
          {{ deb.hosts_available_count }} Host(s)
        </a>
      </dd>

      <dt translate>Version</dt>
      <dd>{{ deb.version }}</dd>

      <dt translate>Architecture</dt>
      <dd>{{ deb.architecture }}</dd>

      <dt translate>Description</dt>
      <dd>{{ deb.description }}</dd>
    </dl>
    <div class="divider"></div>

    <h4 translate>File Information</h4>

    <dl class="dl-horizontal dl-horizontal-left">
      <dt translate>Filename</dt>
      <dd>{{ deb.filename}}</dd>

      <dt translate>Checksum</dt>
      <dd>{{ deb.checksum }}</dd>
    </dl>
  </div>
</div>
