<span page-title ng-model="deb">{{ 'Deb: ' | translate }} {{ deb.nva }}</span>

<div data-extend-template="layouts/details-page-with-breadcrumbs.html">
  <header data-block="header">
    <h2>{{ deb.nva }}</h2>
  </header>

  <nav data-block="navigation">
    <ul class="nav nav-tabs">
      <li ng-class="{active: isState('deb.info')}">
        <a ui-sref="deb.info">
          <span translate>
            Details
          </span>
        </a>
      </li>
      <li ng-class="{active: isState('deb.dependencies')}">
        <a ui-sref="deb.dependencies">
          <span translate>
            Dependencies
          </span>
        </a>
      </li>
      <li ng-show="permitted('view_products')" ng-class="{active: isState('deb.repositories')}">
        <a ui-sref="deb.repositories">
          <span translate>
            Library Repositories
          </span>
        </a>
      </li>
      <li ng-show="permitted('view_content_views')" ng-class="{active: isState('deb.content-views')}">
        <a ui-sref="deb.content-views">
          <span translate>
            Content Views
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <div data-block="content">
    <section ui-view></section>
  </div>
</div>