.content-view-header-content {
  padding-top: 24px;

  .pf-v5-c-content {
    dl {
      margin: 0;
    }
  }

  .pf-v5-l-flex {
    padding-top: 24px;
  }
}

.grid-with-top-border {
  border-top: 1px solid #d2d2d2;
  margin-top: 24px;
  display: flex;

  .pf-v5-c-tabs.pf-m-vertical {
    max-width: 230px;
    border-right: 1px solid #d2d2d2;

    .pf-v5-c-tabs__item {
      margin-top: 0;

      button {
        align-items: center;

        .pf-v5-c-label__content {
          &::before {
            border: none;
          }
        }
      }

      &.pf-m-current .pf-v5-c-label__content {
        font-weight: bold;
      }
    }
  }

  .pf-v5-l-grid.pf-m-gutter {
    display: initial;
    width: 100%;
  }
}