@import '~@theforeman/vendor/scss/variables';

#subscriptions-page {
  .editable {
    &.changed {
      font-weight: bold;
    }
  }

  .pf-table-inline-edit {
    tbody {
      .form-group {
        margin-bottom: 0;
      }

      tr.open-grouped-row {
        background-color: $table-bg-hover;
        td {
          border-bottom-color: $table-border-hover;
        }
      }
    }

    .table-view-pf-select {
      width: 50px;

      .collapse-subscription-group-button {
        margin-top: 4px;
        cursor: pointer;
        float: left;
        font-weight: bold;
      }

      input[type='checkbox'] {
        float: right;
      }
    }
  }

  .option-tooltip-container {
    display: inline-block;
    margin-left: 10px;
    margin-top: 3px;
    width: 10px;
  }

  span.fa.fa-minus::before {
    content: '\2014';
    color: gray;
    font-size: 1em;
  }
}
