@import 'foremanReact/common/variables';

h1[data-ouia-component-id="subscriptions-title"] {
  margin: 0;
  display: flex;
  align-items: flex-start;

  [data-ouia-component-id="subscriptions-help-button"] {
    padding-top: var(--pf-v5-global--spacer--xs);
  }
}

#subscriptions-toolbar {
  .subscriptions-filter-group {
    flex-grow: 0;
  }

  [data-ouia-component-id="subscriptions-kebab-dropdown"] {
    padding: var(--pf-v5-global--spacer--xs) 0;

    > button svg {
      font-size: var(--pf-v5-global--FontSize--xl);
    }

    li svg {
      fill: currentcolor;
      margin-left: var(--pf-v5-global--spacer--sm);
      font-size: var(--pf-v5-global--FontSize--sm);
    }
  }

  .subscriptions-column-selector {
    margin: 0;

    #column-selector {
      button {
        padding-left: var(--pf-v5-global--spacer--md);
        padding-right: var(--pf-v5-global--spacer--md);
        color: var(--pf-v5-global--Color--200);

        .columns-selector-text {
          display: none;
        }

        svg {
          font-size: var(--pf-v5-global--FontSize--xl);
        }

        &:hover {
          color: var(--pf-v5-global--Color--100);
        }
      }
    }
  }
}

#subscriptions-table {
  .editable {
    &.changed {
      font-weight: bold;
    }
  }

  .pf-table-inline-edit {
    tbody {
      .form-group {
        margin-bottom: 0;
      }

      tr.open-grouped-row {
        background-color: $table-bg-hover;

        td {
          border-bottom-color: $table-border-hover;
        }
      }
    }

    .table-view-pf-select {
      width: 50px;

      .collapse-subscription-group-button {
        margin-top: 4px;
        cursor: pointer;
        float: left;
        font-weight: bold;
      }

      input[type='checkbox'] {
        float: right;
      }
    }
  }
}
