<span page-title>{{ 'Subscriptions' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="header">
    {{ 'Subscriptions' | translate }}
  </div>

  <div data-block="actions">
    <button class="btn btn-primary" ui-sref="subscriptions.manifest.import()"
            ng-hide="denied('import_manifest') && denied('delete_manifest')">
      {{ "Manage Manifest" | translate }}
    </button>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Subscriptions, you can add Subscriptions by importing a manifest using the button on the right labeled 'Manage Manifest'.
  </span>
</div>
