<p class="alert alert-info" ng-show="table.rows.length === 0" translate>
  You currently don't have any Subscriptions, you can add Subscriptions by importing a manifest using the button on the right labeled 'Manage Manifest'.
</p>
<table class="table table-striped" ng-class="{'table-mask': table.working}" ng-show="table.rows.length > 0">
  <thead>
    <tr alch-table-head>
      <th alch-table-column="consumed" class="align-center"><span translate>Consumed</span></th>
      <th alch-table-column="type"><span translate>Type</span></th>
      <th alch-table-column="startDate"><span translate>Starts</span></th>
      <th alch-table-column="endDate"><span translate>Expires</span></th>
      <th alch-table-column="supportLevel"><span translate>Support Level</span></th>
      <th alch-table-column="contractNumber"><span translate>Contract</span></th>
      <th alch-table-column="accountNumber"><span translate>Account</span></th>
    </tr>
  </thead>

  <tbody>
    <tr alch-table-row ng-repeat-start="(name, subscriptions) in groupedSubscriptions">
      <td alch-table-cell colspan="7">
        <b>{{ name }}</b>
      </td>
    </tr>
    <tr alch-table-row ng-repeat-end ng-repeat="subscription in subscriptions">
      <td alch-table-cell>
        <a ui-sref="subscriptions.details.info({subscriptionId: subscription.id})">
          {{ subscription | subscriptionConsumedFilter }}
        </a>
      </td>
      <td alch-table-cell>{{ subscriptionType(subscription) }}</td>
      <td alch-table-cell>{{ subscription.start_date | date:"shortDate" }}</td>
      <td alch-table-cell>{{ subscription.end_date | date:"shortDate" }}</td>
      <td alch-table-cell>{{ subscription.support_level }}</td>
      <td alch-table-cell>{{ subscription.contract_number }}</td>
      <td alch-table-cell>{{ subscription.account_number }}</td>
    </tr>
  </tbody>
</table>
