<table class="table table-striped" ng-class="{'table-mask': table.working}" ng-show="table.rows.length > 0">
  <thead>
    <tr bst-table-head>
      <th bst-table-column="consumed" class="align-center"><span translate>Consumed</span></th>
      <th bst-table-column="type"><span translate>Type</span></th>
      <th bst-table-column="startDate"><span translate>Starts</span></th>
      <th bst-table-column="endDate"><span translate>Expires</span></th>
      <th bst-table-column="supportLevel"><span translate>Support Level</span></th>
      <th bst-table-column="contractNumber"><span translate>Contract</span></th>
      <th bst-table-column="accountNumber"><span translate>Account</span></th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row ng-repeat-start="(name, subscriptions) in groupedSubscriptions">
      <td bst-table-cell colspan="7">
        <b>{{ name }}</b>
      </td>
    </tr>
    <tr bst-table-row ng-repeat-end ng-repeat="subscription in subscriptions">
      <td bst-table-cell>
        <a ui-sref="subscriptions.details.info({subscriptionId: subscription.id})">
          {{ subscription | subscriptionConsumedFilter }}
        </a>
      </td>
      <td bst-table-cell><div subscription-type="subscription"></div></td>
      <td bst-table-cell>{{ subscription.start_date | date:"shortDate" }}</td>
      <td bst-table-cell>{{ subscription.end_date | date:"shortDate" }}</td>
      <td bst-table-cell>{{ subscription.support_level }}</td>
      <td bst-table-cell>{{ subscription.contract_number }}</td>
      <td bst-table-cell>{{ subscription.account_number }}</td>
    </tr>
  </tbody>
</table>
