
<div ng-if="subscription.virt_only === false">
  {{ 'Physical' | translate }}
</div>
<div ng-if="subscription.virt_only === true && !subscription.host">
  <div ng-if="subscription.unmapped_guest !== true">
    {{ 'Virtual' | translate }}
  </div>
  <div ng-if="subscription.unmapped_guest === true">
    {{ 'Temporary' | translate }}
  </div>
</div>
<div ng-if="subscription.virt_only === true && subscription.host">
  <span translate> Guests of </span>
  <a ui-sref="content-hosts.details.info({hostId: subscription.host.id })">
    {{ subscription.host.name }}
  </a>
</div>
