<table class="table table-full" ng-class="{'table-mask': table.working}">
  <thead>
    <tr bst-table-head>
      <th bst-table-column="consumed" sortable><span translate>Consumed</span></th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row ng-repeat-start="(name, subscriptions) in groupedSubscriptions">
      <td bst-table-cell>
        <b>{{ name }}</b>
      </td>
    </tr>
    <tr bst-table-row
        class="grey-table-row"
        ng-repeat-end
        ng-repeat="subscription in subscriptions"
        active-row="stateIncludes('subscriptions.details', {subscriptionId: subscription.id})">
      <td bst-table-cell>
        <a ui-sref="subscriptions.details.info({subscriptionId: subscription.id})">
          {{ formatConsumed(subscription) }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
