<span page-title ng-model="host">{{ 'Add Subscriptions for Content Host:' | translate }} {{ host.name }}</span>

<div data-extend-template="layouts/partials/table.html">
  <div data-block="list-actions">
     <button class="btn btn-default" type="button"
             translate
             ng-hide="denied('edit_hosts', host)"
             ng-disabled="disableAddButton()"
             ng-click="addSelected()">
       Add Selected
     </button>
  </div>

  <div data-block="filters">
    <label class="checkbox-inline" title="{{ 'Only show Subscriptions which can be attached to this Host' | translate }}">
      <input type="checkbox" ng-model="showMatchHost" ng-change="toggleFilters()"/>
      <span translate>Applicable to Host</span>
    </label>

    <label class="checkbox-inline" title="{{ 'Only show Subscriptions which can be applied to products installed on this Host' | translate }}">
      <input type="checkbox" ng-model="showMatchInstalled" ng-change="toggleFilters()"/>
      <span translate>Installed Products</span>
    </label>

    <label class="checkbox-inline" title="{{ 'Only show Subscriptions for products not already covered by a Subscription' | translate }}">
      <input type="checkbox" ng-model="showNoOverlap" ng-change="toggleFilters()"/>
      <span translate>Products not covered</span>
    </label>
  </div>

  <span data-block="no-rows-message" translate>
      You currently don't have any Products to subscribe to, you can add Products after selecting 'Products' under 'Content' in the main menu
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Products.
  </span>

  <div data-block="table">
    <div data-extend-template="common/views/subscription-add-or-remove.html"></div>
  </div>
</div>
