<span page-title ng-model="host">{{ 'Host Collections for:' | translate }} {{ host.name }}</span>

<h4 translate>Host Collection Management</h4>
<nav>
  <ul class="nav nav-tabs nav-tabs-pf" ng-show="permitted('edit_hosts', host)">
    <li ng-class="{active: isState('content-host.host-collections.list')}">
      <a ui-sref="content-host.host-collections.list">
        <span translate>List/Remove</span>
      </a>
    </li>

    <li ng-class="{active: isState('content-host.host-collections.add')}">
      <a ui-sref="content-host.host-collections.add">
        <span translate>Add</span>
      </a>
    </li>
  </ul>
</nav>

<div ui-view></div>
