<span page-title>{{ 'Lifecycle Environment Paths' | translate }}</span>

<section ng-cloak bst-container-scroll class="row">

  <h2 class="col-sm-12">
    <span data-block="header" translate>
      Lifecycle Environment Paths
    </span>

    <a class="fr btn btn-default"
        ui-sref="environments.new({priorId: library.id})"
        ng-hide="denied('create_lifecycle_environments')">
      <i class="fa fa-plus"></i>
      {{ "New Environment Path" | translate }}
    </a>
  </h2>

  <section class="row nutupane-sub-section">

    <div class="col-sm-12">

      <div class="col-sm-12">
        <table class="table table-bordered info-blocks">
          <tbody>
            <tr>
              <td class="info-block-head"><a ui-sref="environments.environment.details({environmentId: library.id})" translate>Library</a></td>
              <td class="info-block" translate>Content Views <div>{{ library.counts.content_views || 0 }}</div></td>
              <td class="info-block" translate>Products <div>{{ library.counts.products || 0 }}</div></td>
              <td class="info-block" translate>Yum Repositories <div>{{ library.counts.yum_repositories || 0 }}</div></td>
              <td class="info-block" translate>Docker Repositories <div>{{ library.counts.docker_repositories || 0 }}</div></td>
              <td class="info-block" translate>Packages <div>{{ library.counts.packages || 0 }}</div></td>
              <td class="info-block" translate>Errata <div>{{ library.counts.errata.total || 0 }}</div></td>
              <td class="info-block" translate>Puppet Modules <div>{{ library.counts.puppet_modules || 0 }}</div></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm-12 environment" ng-repeat="path in paths">
        <div class="row">
          <div class="col-sm-12">
            <a ui-sref="environments.new({priorId: lastEnvironment(path).id})" class="btn btn-default fr">
              <i class="fa fa-plus inline-icon"></i>
              <span translate>Add New Environment</span>
            </a>
          </div>
        </div>

        <table class="table table-bordered environment-table">
          <thead>
            <tr>
              <th></th>
              <th ng-repeat="environment in path.environments">
                <a ui-sref="environments.environment.details({environmentId: environment.id})"
                   ng-hide="denied('create_lifecycle_environments')">
                  {{ environment.name }}
                </a>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td translate>Content Views</td>
              <td ng-repeat="environment in path.environments">{{ environment.counts.content_views || 0 }}</td>
            </tr>
            <tr>
              <td translate>Content Hosts</td>
              <td ng-repeat="environment in path.environments">{{ environment.counts.content_hosts || 0 }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </section>

</section>
