.content-view-header-content {
  padding-top: 24px;

  .pf-c-content {
    dl {
      margin: 0;
    }
  }

  .pf-l-flex {
    padding-top: 24px;
  }
}

.grid-with-top-border {
  border-top: 1px solid #d2d2d2;
  margin-top: 24px;
  display: flex;

  .compare-table-container {
    flex-grow: 4;
  }
  .pf-c-tabs.pf-m-vertical {
    max-width: 230px;
    border-right: 1px solid #d2d2d2;
    height: unset;

    .pf-c-tabs__item {
      margin-top: 0;

      button {
        align-items: center;

        .pf-c-label__content {
          &::before {
            border: none;
          }
        }
      }

      &.pf-m-current .pf-c-label__content {
        font-weight: bold;
      }
    }
  }

  .pf-l-grid.pf-m-gutter {
    display: initial;
    width: 100%;
  }
}

.cvv-spaced-tooltip {
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.cvv-compare-bordered-table-header {
  th:nth-last-child(-n+2) {
    padding-left: 2rem;
  }

  th:nth-last-child(3) {
    margin-left: 2rem;
    border-right:  var(--pf-global--BorderWidth--sm);
    border-right-color: var(--pf-c-table--BorderColor);
    border-right-style: inset;
  }
}

.cvv-compare-bordered-table-rows {
  td:nth-last-child(3) {
    border-right:  var(--pf-global--BorderWidth--sm);
    border-right-color: var(--pf-c-table--BorderColor);
    border-right-style: inset;
  }

  td:nth-last-child(-n+2) {
    padding-left: 4rem;
  }
}