--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"2\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"2\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"2\"},\"auto_publish\":false,\"distributor_id\":\"2_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"2_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="TbAuY19pgajjGLCjmeepPSvJ0l3esHo3tnWuM7gYQU", oauth_signature="ZGRlzAuZvW3qg%2FrzXUYlWzvcz3g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400685736", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "2"
      Content-Type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"537cc4a70f7c74131799fc3e\"}, \"id\": \"2\", \"_href\": \"/pulp/api/v2/repositories/2/\"}"
  recorded_at: Wed, 21 May 2014 15:22:16 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/repositories/2/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="WsfnAAI2B9aiOgyuKh07xdka0hG2Q1d4IQQ3rhJRY", oauth_signature="OSuAp8nHSN6SKH4i9zivsRD%2F9Ko%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400685736", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"distributors\": [{\"repo_id\": \"2\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"537cc4a70f7c74131799fc42\"}, \"config\": {}, \"id\": \"2_nodes\"}, {\"repo_id\": \"2\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"537cc4a70f7c74131799fc41\"}, \"config\": {\"destination_distributor_id\": \"2\"}, \"id\": \"2_clone\"}, {\"repo_id\": \"2\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"537cc4a70f7c74131799fc40\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"2\"}], \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"importers\": [{\"repo_id\": \"2\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": null, \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"537cc4a70f7c74131799fc3f\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"537cc4a70f7c74131799fc3e\"}, \"id\": \"2\", \"_href\": \"/pulp/api/v2/repositories/2/\"}"
  recorded_at: Wed, 21 May 2014 15:22:16 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/0c05680e-b0f0-4e4a-99dc-a88ea6ae587f/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="UL64QKvU9Fc8YN047JGp394gOcekOuS6MyGHjnCjIA", oauth_signature="W2JqxeOUlIo5%2FghRtTR6wmiTcak%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400685736", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/0c05680e-b0f0-4e4a-99dc-a88ea6ae587f/\", \"task_id\": \"0c05680e-b0f0-4e4a-99dc-a88ea6ae587f\", \"tags\": [\"pulp:repository:2\", \"pulp:action:delete\"], \"finish_time\": null, \"start_time\": \"2014-05-21T15:22:15Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@ft-29.inecas.cz.dq\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537cc4a792325e4e348a1401\"}, \"id\": \"537cc4a70f7c74131799fc45\"}"
  recorded_at: Wed, 21 May 2014 15:22:16 GMT
[...]
- request: 
    method: post
    uri: https://katello-devel1.example.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"2\",\"display_name\":\"Fedora 17 x86_64 dev\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_con[...]
- request: 
    method: delete
    uri: https://katello-devel1.example.com/pulp/api/v2/repositories/2/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="BtxTNYodsj9mERytNh2JqhSMYEviZDnp", oauth_nonce="YnQJhniRiQwFl18vQc5p4NJNlcIK36CCcUHustOdOAY", oauth_signature="bom2iOBeFdNMxmwJmgNWeZGyp5g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1438866743", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/b6170eb3-5e0f-4f73-8910-e0ca5e0caa1e/\", \"task_id\": \"b6170eb3-5e0f-4f73-8910-e0ca5e0caa1e\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 06 Aug 2015 13:12:23 GMT
- request: 
    method: get
    uri: https://katello-devel1.example.com/pulp/api/v2/tasks/b6170eb3-5e0f-4f73-8910-e0ca5e0caa1e/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="BtxTNYodsj9mERytNh2JqhSMYEviZDnp", oauth_nonce="U520DyEzfx8ECVLLHIjM1bTOzFfPGrpaBAQEb1dQHk", oauth_signature="unEWrKJmmPHW8q2XX%2Br6s4NtXwE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1438866743", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/b6170eb3-5e0f-4f73-8910-e0ca5e0caa1e/\", \"task_id\": \"b6170eb3-5e0f-4f73-8910-e0ca5e0caa1e\", \"tags\": [\"pulp:repository:2\", \"pulp:action:delete\"], \"finish_time\": null, \"start_time\": null, \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"None.dq\", \"state\": \"waiting\", \"worker_name\": null, \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"55c35d377164df9aa32ab94e\"}, \"id\": \"55c35d3711513843aeb594da\"}"
  recorded_at: Thu, 06 Aug 2015 13:12:23 GMT
[...]
