<span page-title ng-model="syncPlan">{{ 'Sync Plan:' | translate }} {{ syncPlan.name }}</span>

<div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

<div class="details fl">
  <section>
    <h4 translate>Basic Information</h4>

    <div class="detail">
      <span class="info-label" translate>Name</span>
      <span class="info-value"
            bst-edit-text="syncPlan.name"
            on-save="save(syncPlan)"
            readonly="denied('edit_sync_plans', syncPlan)">
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Description</span>
      <span class="info-value"
            bst-edit-textarea="syncPlan.description"
            on-save="save(syncPlan)"
            readonly="denied('edit_sync_plans', syncPlan)">
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Start Date</span>
      <span class="info-value"
            bst-edit-custom="syncPlan.sync_date"
            formatter="date"
            formatter-options="'medium'"
            on-save="save(syncPlan)"
            readonly="denied('edit_sync_plans', syncPlan)">

           <input type="text" datepicker-popup id="syncDate" name="syncDate" ng-model="syncPlan.syncDate"
                  show-weeks="false" tabindex="4" required/>

           <timepicker type="time" show-meridian="false" id="syncTime" name="syncTime" ng-model="syncPlan.syncTime"
                       tabindex="5">
           </timepicker>
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Next Sync</span>
      <span class="info-value">{{ syncPlan.next_sync | date:'medium' }}</span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Sync Enabled</span>
      <span class="info-value"
            bst-edit-checkbox="syncPlan.enabled"
            readonly="denied('edit_sync_plans', syncPlan)"
            formatter="booleanToYesNo"
            on-save="save(syncPlan)">
      </span>
    </div> 

         
    <div class="detail" ng-show="syncPlan.enabled">
      <span class="info-label" translate>Interval</span>
      <span class="info-value"
            bst-edit-select="syncPlan.interval"
            formatter="translate"
            readonly="denied('edit_sync_plans', syncPlan)"
            selector="syncPlan.interval"
            options="intervals"
            options-format="value.id as value.value for value in options"
            on-save="save(syncPlan)">
      </span>
    </div>

    <div class="detail grey" ng-show="!syncPlan.enabled">
      <span class="info-label" translate>Interval</span>
      <span class="info-value" >{{ syncPlan.interval }}</span>
    </div>    
    
  </section>
</div>
