<section class="nutupane-sub-section">
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <div class="row">

    <div class="col-sm-3">
      <input type="text"
             class="form-control"
             placeholder="{{ 'Filter' | translate }}"
             ng-model="productFilter"/>
    </div>

    <div class="fr select-action">
      <span class="nutupane-info">
        <span translate>{{ productsTable.numSelected }} Selected</span>
      </span>

      <button ng-if="isState('sync-plans.details.products.list')"
              class="btn btn-default"
              ng-hide="denied('edit_products')"
              ng-disabled="productsTable.numSelected == 0 || productsTable.working"
              ng-click="removeProducts()">
        {{ 'Remove Selected' | translate}}
      </button>
      <button ng-if="isState('sync-plans.details.products.add')"
              class="btn btn-default"
              ng-hide="denied('edit_products')"
              ng-disabled="productsTable.numSelected == 0 || productsTable.working"
              ng-click="addProducts()">
        {{ 'Add Selected' | translate }}
      </button>

    </div>
  </div>

  <div bst-table="productsTable" class="nutupane">
    <div bst-container-scroll bst-infinite-scroll="productsTable.nextPage()">

      <div ng-show="productsTable.rows.length == 0">
        <div class="loading-mask" ng-show="productsTable.working">
          <i class="fa fa-spinner fa-spin"></i>
          {{ "Loading..." | translate }}
        </div>

        <p bst-alert="info" ng-hide="productsTable.working">
          <span translate>No Products to show.</span>
        </p>
      </div>

      <table ng-show="productsTable.rows.length > 0"
             ng-class="{'table-mask': productsTable.working}" class="table table-full table-striped">
        <thead>
        <tr bst-table-head row-select="product">
          <th bst-table-column="name" translate>Name</th>
          <th bst-table-column="description" translate>Description</th>
          <th bst-table-column="sync_status" translate>Sync Status</th>
          <th bst-table-column class="number-cell"><span translate>Repositories</span></th>
        </tr>
        </thead>

        <tbody>
        <tr bst-table-row ng-repeat="product in productsTable.rows | filter:productFilter" row-select="product">
          <td bst-table-cell>
            <a ui-sref="products.details.info({productId: product.id})">
              {{ product.name }}
            </a>
          </td>
          <td bst-table-cell>{{ product.description }}</td>
          <td bst-table-cell>
            <div ng-include="'products/views/partials/product-table-sync-status.html'"></div>
          </td>
          <td bst-table-cell class="number-cell">{{ product.repository_count }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
