<table class="table table-striped" ng-class="{'table-mask': syncPlanTable.working}">
  <thead>
    <tr bst-table-head>
      <th bst-table-column sortable><span translate>Name</span></th>
    </tr>
  </thead>

  <div data-extend-template="layouts/select-all-results.html"></div>

  <tbody>
    <tr bst-table-row
        ng-repeat="syncPlan in syncPlanTable.rows"
        active-row="stateIncludes('sync-plans.details', {syncPlanId: syncPlan.id})">
      <td bst-table-cell>
        <a ui-sref="sync-plans.details.info({syncPlanId: syncPlan.id})">
          {{ syncPlan.name }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
