<span page-title>{{ 'Sync Plans' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="header">
    {{ 'Sync Plans' | translate }}
  </div>

  <div data-block="actions">
    <button class="btn btn-primary" ui-sref="sync-plans.new" ng-hide="denied('create_sync_plans')">
      <i class="fa fa-signin leading-icon"></i>
      {{ "New Sync Plan" | translate }}
    </button>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Sync Plans.  A Sync Plan can be created by using the button on the right.
  </span>

</div>
