<ul class="list-unstyled" ng-show="product.last_sync_words">
  <p translate>
    Last synced {{ product.last_sync_words }} ago
  </p>
  <li ng-repeat="(key, value) in product.repositoriesByState">
    <a ng-href="/katello/sync_management">{{ key | capitalize }}</a>:
            <span translate
                  translate-n="value.length"
                  translate-plural="{{ value.length }} repositories">
              {{ value.length }} repository
            </span>
  </li>
</ul>
<span ng-hide="product.last_sync_words" translate>Never synced</span>
