<section ng-hide="system.readonly">
  <h4 translate>Package Actions</h4>
  <section>
    <form class="form" ng-submit="performPackageAction()">
      <select ng-model="packageAction.actionType" required>
        <option value="packageInstall" translate>Package Install</option>
        <option value="packageUpdate" translate>Package Update</option>
        <option value="packageRemove" translate>Package Remove</option>
        <option value="groupInstall" translate>Group Install</option>
        <option value="groupRemove" translate>Group Remove</option>
      </select>
      <input type="text" placeholder="{{ 'Package/Group Name' | translate}}" ng-model="packageAction.term"/>
      <button class="btn-action" ng-click="performPackageAction()" translate>Perform</button>
    </form>
  </section>
</section>

<section>
  <h4 translate>Installed Packages</h4>

  <div class="nutupane-actionbar">
    <div class="form">
      <input type="text"
             class="input input-search"
             placeholder="{{ 'Filter' | translate }}"
             ng-model="currentPackagesTable.filter">
      <span class="result-count" translate>Showing {{ currentPackagesTable.resource.total }} Packages</span>
    </div>

    <div class="nutupane-actions fr" ng-hide="system.readonly">
       <button class="btn btn-primary" translate ng-click="updateAll()">
         Update All
       </button>
    </div>
  </div>

  <div alch-table="currentPackagesTable">
    <div alch-container-scroll control-width="table" alch-infinite-scroll="table.nextPage()">
      <table ng-class="{'table-mask': table.working}" class="table table-full table-striped">
        <thead>
          <tr alch-table-head>
            <th alch-table-column="name" translate>Installed Package</th>
            <th alch-table-column="remove" translate ng-hide="table.system.readonly">Remove</th>
          </tr>
        </thead>

        <tbody>
          <tr alch-table-row ng-repeat="package in table.rows | filter:table.filter" >
            <td alch-table-cell>{{ package.nvrea }}</td>
            <td alch-table-cell ng-hide="table.system.readonly">

                <i class="clickable active icon-remove-sign" ng-hide="package.removeTask" title="{{ 'Remove' | translate }}"
                   ng-click="table.removePackage(package)"></i>

                <i class="icon-spinner icon-spin" ng-show="package.removeTask.pending"></i>
                <span ng-show="package.removeTask && !package.removeTask.pending">

                  <i ng-show="table.taskFailed(package.removeTask)" class="icon-exclamation-sign" title="{{ 'Failed' | translate }}"></i>
                  <i ng-hide="table.taskFailed(package.removeTask)" class="icon-check-sign" title="{{ 'Success' | translate }}"></i>

                  <a ng-click="table.openEventInfo(package.removeTask)" >
                    <span translate ng-show="package.removeTask.affected_units == 1">
                      {{ package.removeTask.affected_units }} package removed
                    </span>

                    <span translate ng-show="!package.removeTask.failed && package.removeTask.affected_units != 1">
                      {{ package.removeTask.affected_units }} packages removed
                    </span>

                    <span translate ng-show="package.removeTask.failed">
                        Package removal failed
                    </span>
                  </a>
                </span>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
