<div data-extend-template="layouts/details-page-with-breadcrumbs.html">
  <header data-block="header">
    <h2 translate>Subscription Manifest</h2>
  </header>

  <nav data-block="navigation">
    <div content-access-mode-banner></div>

    <ul class="nav nav-tabs details-nav" role="menu">
      <li role="menuitem" ui-sref-active="active">
        <a ui-sref="subscriptions-manifest.details">
          <span translate>Details</span>
        </a>
      </li>

      <li role="menuitem" ui-sref-active="active">
        <a ui-sref="subscriptions-manifest.import">
          <span translate>Import/Remove Manifest</span>
        </a>
      </li>

      <li role="menuitem" ui-sref-active="active">
        <a ui-sref="subscriptions-manifest.history">
          <span translate>Import History</span>
        </a>
      </li>
    </ul>
  </nav>

  <div data-block="content">
    <section ui-view></section>
  </div>
</div>
