@import "katello";

#contents {
  .sliding_container {
    overflow: hidden;
    position: relative;
    width: 448px;
    border: 1px solid #B5B5B5;

    .sliding_list {
      width: 896px;
      position: relative;
      top: 0;
      left: 0;
      border: none;
      
      .slider {
        width: 448px;
        min-height: 450px;
        float: left;
        
        h5 {
          border-bottom: solid 2px #F2F2F2;
          font-size: 120%;
          width: 90%;
          margin-top: 10px;
          margin-left: 10px;
        }
        
        .empty_list { padding: 10px 0 0 10px; }
        
        li{
          height: 34px;
          border-top: 2px solid #FFF;
          border-bottom: 2px solid #FFF;
          padding-left: 10px;
          padding-right: 10px;
        }
        
        li:hover {
          background-color: #bde4e8;
          border-top-color: #7bbcc5;
          border-bottom-color: #7bbcc5;
          color: #000;
          
          a {
            color: #356e76;
            background: inherit;
          }
        }
      }
    }
  }
  #changeset_loading {
      position: absolute;
      opacity: .8;
      background-color: white;
      z-index: -1;
      width: 440px; 
      height: 415px;
      .text {
          //vertically center
          height: 10em;
          margin-top:-5em;
          top: 50%;
          width: 50%;
          text-align: center; 
         // display:inline;
          position:relative;
          margin-left:auto;
          margin-right:auto;
      }
  }
  .tree_breadcrumb {
    font-weight: 600;
    font-size: 110%;
    color: #000;
    background-color: $tree-container_color;
    word-wrap: break-word;
    border: 1px solid $tree-border_color;
    border-bottom: none;
    padding: 10px 5px;
    overflow: auto;
    height: 20px;
    
    .currentCrumb{ color: #000; }
    .crumb { color: #356e76; }
    .slide_link { display: inline; }
    
    .home_img {
      width: 16px;
      height: 16px;
      margin: 0 2px;
      background: $home_icon_black;
      text-indent: -4000em;
      position: relative;
    }
    .home_img_inactive {
      @extend .home_img;
      background: $home_icon_green;
    }
    .locked_icon {
      width: 16px;
      height: 16px;
      margin: 2px;
      background: $locked_icon;
      text-indent: -4000em;
      position: relative;
    }
  }
  .locked_breadcrumb {
    background-color: #FEE7C6;
    color: #000;
  }
  .locked {
    outline: 2px solid gray;
  }
  #changeset_actions {
    width: 100%;
    .cs_action {
        float: left;
        
        margin-right: -1px;
        width: 24.7%; // ~1/4 of the right panel width
        height: 20px;
        padding-top: 9px;
        font-size: 90%;
        word-wrap: break-word;
        border-bottom: 1px solid #B5B5B5;
        border-right: 1px solid #B5B5B5;
        border-left: 1px solid #B5B5B5;
       
        background-color: $tree-container_color;

        .text {
            margin-left: 26px;

        }
        &:hover {
            background-color: #bde4e8; //same as li under #contents
        }
    }
    .highlighted {
         background-color: #bde4e8; //same as hover
    }
    .disabled {
        border-bottom: 1px solid #B5B5B5;
        border-right: 1px solid #B5B5B5;
        &:hover {
            background-color: $tree-container_color; 
        }
    }
    #promote_changeset {
        width: 112px; //hack to make all 4 buttons line up properly with the main panel.
                     // The issue is that the full panel is 448 pixes wide, and with 4 buttons, there are
                     //  3  vertical 1 px seperators (borders), and 448-3 isn't divisible by 4.  We come up 1 px short
    }

    #edit_changeset_icon {
        background: $edit_icon_black;
        margin-left: 6px;
        margin-top: -1px;

    }
    #review_changeset_icon {
        background: $comp_icon_black; 
        margin-left: 6px;
        margin-top: -1px;
    }
    #delete_changeset_icon {
        background: $circle_x_icon_black;
        margin-left: 6px;
        margin-top: -1px;
    }
    #promote_changeset_icon {
        background: $play_icon_black;
        margin-left: 6px;
        margin-top: -1px;
    }


  }


  

  #changeset_edit {
    position: absolute;
    display: none;
    float: left;
    bottom: 1px;
    left: 0px;
    z-index:300;
    width: 448px;
    margin-left: 1px;
    height: 250px;
    background-color: white;
    border-top: 1px solid #B5B5B5;
    
  }

  #changeset_status {
    border: 1px solid #B5B5B5;
    margin-top: -1px;
  }
  #content_tree {
    .sliding_container {
      .block {
        font-size: 100%;
        border: none;
        padding: 0;
        
        &:hover {
          background: transparent;
          color: #000;
        }
      }
      .active {
        border: none;
        background: transparent;
        color: #000;

        &:hover {
          color: #000;
        }
      }
      .activeItem {
        background-color: #bde4e8;
        border-top-color: #7bbcc5;
        border-bottom-color: #7bbcc5;
        color: #000;
        
        a {
          color: #356e76;
          background: inherit;
        }
      }
    }
  }
  #changeset_tree {
    $cs-width: 450px;
    $cs-height: 420px;
    width: $cs-width;
    position: relative;
    #changeset_status { text-align: center; }  
    #cslist {
      min-height: $cs-height;

      .slider {
        overflow: auto;
        height: $cs-height;
        min-height: $cs-height;
      }
      .locked {
        outline: 2px solid gray;
      }
    }
    .breadcrumb_search {
      font-size: 100%;
      margin: 0 0 0 0;
      display: block;
      width: 448px;
      font-weight: 200;
      color: #FFF;
      background-color: $tree-container_color;
      word-wrap: break-word;
      border: 1px solid $tree-border_color;
      border-bottom: none;
      #search_form {
          display: none;
          margin-right: 4px;
      }
      .search {
          position: relative;
          clear: both;
          display: inline-block;
          margin: 5px auto;
          input[type="search"] {
            //float: right; /* webkit adds an extra padding and makes the widget narrower */
            border: 3px solid #436fa8;
            background: #FFF;
            padding-right: 0px;
          }
          button {
            background: $search_icon_black;
            top: 15px;
          }
      }
      .search_button {
          margin-top: 12px;
          background: $search_icon_black;
      }
      .tree_breadcrumb {
          display: inline-block;
          outline: 0 none;
          width: 90%;
          border: none;
          padding: 10px 5px 6px 5px;
      }
    }
    .locked_breadcrumb_search {
      @extend breadcrumb_search;
      background-color: #FEE7C6;
      color: #000;
      border: 1px solid $tree-border_color;
      border-bottom: none;
    }
    #changeset_users { 
      background-color: $lightkprimary_color;
      margin-bottom: 5px;
      display: block;
    }
  }
  
  .right_tree {
    float: right;
    width: 450px;
    h2 {
      margin-bottom: 0;
    }
  }
  .promoted {
     font-size: 11px;           
     font-style: italic;     
     line-height: 30px;      
     text-align: center;     
     width: 71px;   
     @include opacity(.7);
  }
  .product_arch {
    font-size: 11px;
    display: inline;
  }
  .product-icon {
    padding-left: 18px;
    vertical-align:middle;
  }
  .sprite {
  background: $base_product_icon;
  height: 16px;
  width: 16px;
  position: absolute;
  margin-top: 2px;
  }
  .custom-product-sprite {
    background: $custom_product_icon;
    @extend .sprite;
  }
  .rh-product-sprite {
    background: $rh_product_icon;
    @extend .sprite;
  }
  .progress {
    position: relative;
    display: block;
    height: 16px;
    display: block !important;
  }
  .products {
    input[type="checkbox"],input[type="radio"] {
      margin: 3px;
      float: left;
    }
    ul {
      margin: 0;
      padding: 0 !important;
      li {
        margin: 0;
        padding: 0 !important;
        clear: both;
        input[type="checkbox"], .products input[type="radio"] {
          margin-right: 23px;
        }
      }
    }
    .repo div{
      padding-top: 3px;
    }
    .max_width {
      word-wrap:break-word;
      max-width: 100px;
    }
  }
  #plans {
    .block {
      @extend .block;
      padding:  6px 16px 6px 17px;
      width: 416px;
      height: 17px;
      
      &.active {
        background-color: $listhover_color;
        color: #FFF;
        
        .arrow-right {
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-right: 15px solid $listhover_color;
          border-left: none;
          height: 0;
          margin: 0;
          position: absolute;
          left: -15px;
          top: -1px;
          width: 0;
          z-index: 220;
        }
      }
    }
  }
}

.cs_content {
    ul {
        margin-left: 8px;
    }
}