@charset "UTF-8";
@import "compass";
@import "converge-ui/base";
@import "katello_base";

/* box for "errors" on the custom 500 error page */
.dash {
    $big_height: 350px;
    $big_width: 490px;
    $small_height: 153px;

    @include border-radius(3px);
    background-color: $lightergrey_color;
    border:1px solid $border_color;
    padding: 10px 10px 0 15px;
    margin-bottom: 10px;
    @include background-image(linear-gradient(#F7F7F7, #EEEEEE));
    position: relative;
    h1, h2, h3 {
        margin-top: 3px;
    }
    h1, h2, h3, h4, h5 {
      font-weight: normal;
    }
    h2 {
      font-size: 145%;
    }
    hr {
      height: 1px;
      border: 0;
      background: #c7c7c7;

    }
    .dashhead {
        position: relative;
    }

    #dashboard_subscriptions {
      height: 170px;
      color: $font_color;
      .sub_count {
        font-family: $headlinefont;
        font-size: 140%;
      }
      .sys_count {
        font-size: 220%;
        font-weight: bold;
        @include _text-shadow(#FFF,0,1px,0px);
        margin-left: 20px;
      }
      #sub_graph {
        width: 150px;
        height: 170px;
      }

      h4 {
        display: inline;
        margin-left: 10px;
        margin-top: 8px;
      }
      h5 {
        display: inline;
        font-size: 115%;
      }
      .left_side {
        width: 300px;
        display: inline-block;

        .icon {
          margin-left: 3px;
          margin-right: 10px;
          margin-top: 3px;
          width: 15px;
          height: 15px;

        }
        .red_icon {background: $status_icons_red_small;}
        .yellow_icon {background: $status_icons_yellow_small;}
        .green_icon {background: $status_icons_green_small;}
      }
      .right_side {
        width: 150px;
        display: inline-block;
        position: relative;
        margin-right: 10px;
        margin-top: -20px;
        float: right;
        #overlay {
            background: url("../../../images/chart_overlay.png") no-repeat;
            height: 130px;
            position: absolute;
            right: 15px;
            top: 28px;
            width: 118px;
            z-index: 1;
        }
      }


    }
    #dashboard_errata {
      .scroll-pane {
        height: $big_height - 26;
      }
      .list {
        height: $big_height - 10;
        min-height: inherit;
      }

      .jspPane {
        .errata {
          &:first-child {
            padding-top: 4px;
          }
        }
      }


      .block_head {
        background-color: lighten($stroke_color,8%);
        display: block;
        height: 1.3em;
        color: $lightgrey_color;

        .column_head {
          margin-left: 2px;
          float: left;
          height: inherit;
          min-height: inherit;
          text-align: left;
          font-size: 85%;
          font-family: $headlinefont;
          color: lighten($header_color,20%);
          text-transform: uppercase;
          white-space:nowrap;
          border-right: 1px dotted darken($stroke_color,20%);
          &:last-child {
            border-right: 0 none;
          }
        }
      }
      .subheader {
          font-weight: bold;
          margin-top:5px;
          font-size: 85%;
          font-family: $headlinefont;
          color: lighten($header_color,20%);
          text-transform: uppercase;
      }

      .system_list {
        display: none;
      }

      .system {
        font-size: 90%;
      }
      .col_1 {
        display: inline-block;
        width: $big_width * .07;
        padding-left: 2px;

      }
      .col_2 {
        display: inline-block;
        width: $big_width * .4;
        padding-left: 2px;
      }
      .subcol_2 {
        display: inline-block;
        width: 30%;
        padding-left: 2px;
      }
      .subcol_3 {
        display: inline-block;
        width: 50%;
        padding-left: 2px;
      }
      .col_3 {
        display: inline-block;
        width: $big_width* .40;
        padding-left: 2px;
      }
      .col_4 {
        display: inline-block;
        width: $big_width * .05;
        padding-left: 2px;
      }
      .collapsed {
        float: left;
        width: 16px;
        height: 16px;
        background: $arrow_min_img_small;
        margin-top: 2px;
        margin-right: 2px;
      }
      .expanded {
        float: left;
        width: 16px;
        height: 16px;
        background: $arrow_max_img_small;
        margin-top: 2px;
        margin-right: 2px;
      }

    }
    #dashboard_promotions {

      h5 {
        display: inline;
      }
      .promotion_entry {
        .col_1 {
          white-space: nowrap;
          width: 190px;
          padding-right: 10px;
          overflow: hidden;
          display: inline-block;
          margin-bottom: -5px;
          text-overflow: ellipsis;
        }
        .col_2 {
          display: inline-block;
          width: 115px;
          overflow: hidden;
          margin-bottom: -5px;
        }
      }
    }

    #dashboard_sync {

      h5 {
        display: inline;
      }
      .col_1 {
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        width: 150px;
      }
      .col_2 {
        display: inline-block;
        overflow: hidden;
        width: 100px;
      }
      .col_3 {
        display: inline-block;
        overflow: hidden;
        width: 115px;
      }
      .col_percent {
        display: inline-block;
        padding-left: 10px;
        font-size: 125%;
        width: 50px;
      }
      .col_progress {
        div {
          vertical-align: middle;
        }
        display: inline-block;
        width: 150px;
      }
      .progressbar {
        vertical-align: middle;
        margin-top: -5px;
        display:inline-block;
        width: 150px;
        height: 15px;
        
      }
      .check_icon {
        display: inline;
        margin-right: 2px;
      }
      .error_icon {
        display: inline;
        margin-right: 2px;
      }

    }
    #dashboard_systems {
        .icon {
          margin-left: 0px;
          width: 15px;
          height: 15px;
          margin-top: 3px;
        }
      .red_icon {background: $status_icons_red_small;}
      .yellow_icon {background: $status_icons_yellow_small;}
      .green_icon {background: $status_icons_green_small;}

      .system_entry {
        .col_0 {
          width: 5%;
          padding-right: 10px;
          display: inline-block;
        }
        .col_1 {
          width: 35%;
          padding-right: 10px;
          display: inline-block;
          vertical-align: middle;
        }
        .col_2 {
          display: inline-block;
          width: 20%;
        }

        .col_3 {
          display: inline-block;
          width: 30%;
        }

      }
    }
    .icon_wrap {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 16px;
      height: 16px;
      overflow: none;
      margin-right: 15px;

    }
    .check_icon {
      width: 16px;
      height: 16px;
      @include action-icon($check_icon_black);
      margin-left: 0px;
    }

    .error_icon {
      width: 16px;
      @include action-icon($warning_icon_black);
      margin-left: 0px;
    }

    .gears_icon {
      width: 16px;
      @include action-icon($gears_icon_black);
      margin-left: 0px;
    }

    .clock_icon {
      width: 16px;
      @include action-icon($gears_icon_black);
      margin-left: 0px;
    }

    .small_widget {
        overflow: hidden;
        height: $small_height;
        width: 375px;
        list-style: None;
        li {
          margin-bottom: 3px;
        }
        li {
          margin-bottom: 5px;
        }
        h5 {
          margin-bottom: -1px;
          margin-top: 0;
          font-size: 110%;
        }
      }

    .small_widget_headpin {
        overflow: hidden;
        height: 170px;
        width: 375px;
        list-style: None;
        li {
          margin-bottom: 3px;
        }
        li {
          margin-bottom: 5px;
        }
        h5 {
          margin-bottom: -1px;
          margin-top: 0;
          font-size: 110%;
        }
      }

    .big_widget {
        overflow: hidden;
        height: $big_height;
        width: $big_width;
        list-style: None;
        li {
          margin-bottom: 3px;
        }
        li {
          margin: 10px 0;
        }
        h5 {
          margin-bottom: -5px;
          margin-top: 0;
        }
      }
      .loading {
        position: absolute;
        width: 100%;
        height: inherit;
      }
  .spinner {
    margin-top: 15%;
  }
}
.dropbutton {
    height: 16px;
    width: 26px;
    @include border-radius(23px);
    border:1px solid $border_color;
    background: #f0f0f0;
    position: relative;
    z-index: 10;
    &:hover, &.active{
        background: #dcdcdc;
    }
    span {
        height: 16px;
        width: 32px;
        display: block;
        position: relative;
        background: $gear_icon_dark;
        margin: 0;
    }

}
.dashboard_popout {
    /*background: url("../../../images/black_arrow.png");*/
    width: 209px;
    height: 122px;
    position: absolute;
    z-index: 200;
    .dashboard_popout_child{
        height: 67px;
        left: 12px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        position: relative;
        text-align: right;
        top: 24px;
        width: 166px;
        .popout_row {
            display: block;
            width: 100%;
            padding: 7px 0 4px 0;
            label {
                color: #FFF;
            }
            select {
                width: 115px;
            }
        }
    }
}
