@charset "UTF-8";
@import "compass";

$login_base-color: #006F8F;

$login_background_top-color: darken(rgba(0, 157, 204, 1), 4%) !default;
$login_background_bottom-color: darken(rgba(0, 111, 143, 1), 4%) !default;

@import "converge-ui/colors";
@import "converge-ui/base";
@import "converge-ui/login";
@import "widgets/org_switcher";
@import "katello_base";

#switcherContainer {
  #switcherBox {
    margin-left:24px;
    top: 25px;
  }
  #orgbox {
    padding-top: 16px;
  }
}