@import "katello";

#notifications {
    #search_form {
        margin-right: 13px;
        margin-top: 25px;
    }
    .deletable {
        display: block;
        float: left;
        margin-top: 30px;
    }
}