@import "converge-ui/partials/base";


#notifications {
    #search_form {
        margin-right: 13px;
        margin-top: 25px;
        position: relative;
    }
    .deletable {
        display: block;
        float: left;
        margin-top: 30px;
    }
}
