@import "katello";

#systems .tall{
  .block{
    @extend .block;
    height: 70px;

    li {
      padding: 0;
      height: 1.2em;
    }
    .column_3 {
      height: 35px;
    }
  }

  #facts {
    table {
      td {
        padding-left: 18px;
      }
    }
  }
}