@import "katello";

#systems {
  table {
    margin-bottom: 4px;
  }
  .tall {
    .block{
      @extend .block;
      height: 70px;
  
      li {
        padding: 0;
        height: 1.2em;
      }
      .column_3 {
        height: 35px;
      }
    }
  }

  #facts {
    table {
      td {
        padding-left: 18px;
      }
    }
  }
  #subscriptions {
    .labels {
      overflow: auto;
    }
    label { display: block; }
    .needs_attention { color: red; }
    
    .lower_content {
      border: 1px solid #9C9C9C;
      background: $white_color;
      margin: 10px 20px 0 0;
      padding: 5px 5px 20px 5px;
    
      table {
        border: none !important;
        margin: 10px auto 20px auto;
        
        thead {
          height: 35px;
          border-left: 1px solid #9c9c9c;
          border-right: 1px solid #9c9c9c;
          
          th {
            border-top: 1px solid #9c9c9c;
            border-bottom: 1px solid #9c9c9c; 
            background: #A2A2A2;
            border-right: none;       
            color: #000;         
            font-weight: 600;
            text-transform: none;
            height: 25px;
            text-align: center;
            font-size: 115%;
          }
          th:first-child { text-align: left; }
          .buttonColumn { width: 65px; }
        }
        
        tbody {
          tr { height: 32px }
          tr:nth-child(even) {
            background: #f5fbfb;
            border-left: 1px solid #F5F5F5;
            border-right: 1px solid #F5F5F5;
          }
          tr:nth-child(odd) {
            background: #e8e8e8;
            border-left: 1px solid #E8E8E8;
            border-right: 1px solid #E8E8E8;
          }
          td {
            vertical-align: middle;
            text-align: center;
          }
          td:first-child { text-align: left; text-indent: 2px; }
          td:last-child {
            font-weight: 500;
            &:hover { 
              span { color: $kselected_color;}
              .remove_subscription_img { background: $circle_x_icon_black; }
              .subscribe { background: $play_icon_black; } 
            }
          }
          .remove_subscription_img { background: $circle_x_icon_grey; overflow: hidden; margin-right: 2px; margin-top: 2px; }
          .subscribe { background: $play_icon_grey; overflow: hidden; margin-right: 2px; margin-top: 2px; }
          span { margin-top: 3px; display: block; float: left; color: #888; }
          .editable { 
            @include border-radius(0); 
            background: $edit_icon; 
            background-position: 100px 7px; 
            width: 180px;
            padding: 6px 0px;
            text-align: center;
          }
        }
      }
    }
  }
  .subs {
    background-color: $white_color;
    @include border-radius(5px);
    border: 1px solid $border_color;
    font-family: $headlinefont;
    color: #747474;
    font-size: 14px;
    .subs_text {
        margin: 8px 0 2px 8px;
        padding: 0px;
        float: left;
    }
    .subs_icon {
      height: 23px;
      width: 25px;
      background: $status_icons_green;
      float: left;
      margin: 8px;
      &.green {
       background: $status_icons_green;
      }
      &.yellow {
       background: $status_icons_yellow;
      }
      &.red {
       background: $status_icons_red;
      }
    }
    .subs_top {
      width: 100%;
      height: 36px;
      font-size: 15px;
      border-bottom: 1px solid $border_color;
      @include border-radius(10px)
    }
    .subs_left {
      border-right: 1px solid $border_color;
      width: 49%;
      float: left;
      clear: left;
    }
    .subs_right {
      width: 49%;
      float: right;
    }
    .subs_num {
      font-size: 24px;
      color: #999;
    }
  }
  #list-spinner {
    display: none;
  }
}