//TODO: for some reason these are missing in our patternfly version
html .pagination-pf-pagesize.btn-group {
  display: flex;
  float: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 5px;
  width: auto;
}

// necessary because of !important table margin css from foreman
// https://github.com/theforeman/foreman/blob/develop/app/assets/stylesheets/base.scss#L242
.table + .table-view-pf-pagination {
  margin-top: -6px !important;
}

td, th {
  overflow: auto;
  word-wrap: break-word;
}

// needed because we have overflow set to auto for all td's and it affected the pf4 table
.katello-pf4-table {
  td {
    max-width: 200px;
    overflow: unset;
    word-wrap: break-word;
  }
}
// override foreman's .editable styles, that are conflicting with the patternfly ones
.pf-table-inline-edit {
  .editable {
    background: none;
  }
}

// Patternfly 4's Grid doesn't add margin at the top and bottom
.grid-with-margin {
  margin: 20px 4px;
}

// needed to ensure correct spacing between buttons and the button
// container
.toolbar-pf .form-group {
  .btn,
  .btn-group,
  .btn-container,
  .tooltip-button-helper {
    + .btn,
    + .btn-group,
    + .btn-container,
    + .tooltip-button-helper {
      margin-left: 5px;
    }
  }
}

// Override browser default outline ring on focus
*:focus {
  outline: none;
}

.tab-body-with-spacing {
  margin: 24px 0px;
}
