  <div class="radio">
    <label>
      <input type="radio" ng-model="syncType" value="standard" />
      <span translate>
        Optimized Sync
      </span>
    </label>
    <div class="help-block">
      <span translate>
        Standard sync, optimized for speed by bypassing any unneeded steps.
      </span>
    </div>
  </div>

  <div class="radio">
    <label>
      <input type="radio" ng-model="syncType" value="skipMetadataCheck" />
      <span translate>
        Complete Sync
      </span>
    </label>
    <div class="help-block">
      <span translate>
        Sync even if the upstream metadata appears to have no change. This option is only relevant for yum/deb repositories and will take longer than an optimized sync. Choose this option if:
      </span>
      <ul class="list-aligned">
        <li translate>One or more packages are not showing up in the local repository even though they exist in the upstream repository.</li>
      </ul>
    </div>
  </div>
