<span page-title ng-model="repository">{{ 'Package Groups for Repository:' | translate }} {{ repository.name }}</span>

<div data-extend-template="layouts/partials/table.html">
  <div data-block="table">
    <table class="table table-striped table-bordered">
      <thead>
        <tr bst-table-head>
          <th bst-table-column><span translate>Name</span></th>
        </tr>
      </thead>
      <tbody>
        <tr bst-table-row ng-repeat="packageGroup in table.rows">
          <td bst-table-cell>{{ packageGroup.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
