<span page-title ng-model="repository">{{ 'Details for Repository:' | translate }} {{ repository.name }}</span>

<div data-extend-template="layouts/details-page-with-breadcrumbs.html">
  <header data-block="header">
    <h2 translate>{{ repository.name }}</h2>
  </header>

  <div data-block="item-actions" bst-feature-flag="custom_products">
    <span ng-hide="hideActionsButtons(repository)" select-action-dropdown>
      <ul class="dropdown-menu-right" uib-dropdown-menu role="menu">
        <li role="menuitem" ng-hide="hideSyncButton(repository, false)" ng-class="{disabled: disableSyncLink()}">
          <a ng-click="syncRepository(repository)" disable-link="disableSyncLink()" translate>
            Sync Now
          </a>

          <span class="disabled" ng-show="syncInProgress(repository.last_sync)" translate>
            Cannot sync Repository, a sync is already in progress.
          </span>

          <span class="disabled" ng-show="!repository.url" translate>
            Cannot sync Repository without a URL.
          </span>

          <span class="disabled" ng-show="denied('sync_products', product)" translate>
            Cannot sync Repository without the proper permissions.
          </span>
        </li>

        <li role="menuitem" ng-hide="hideSyncButton(repository, true)" ng-class="{disabled: disableSyncLink()}">
          <a ui-sref="product.repository.advanced_sync({repositoryId: repository.id})" disable-link="disableSyncLink()" translate>
            Advanced Sync
          </a>
        </li>

        <li role="menuitem" ng-hide="hideSyncButton(repository, false)" ng-class="{disabled: disableSyncLink()}">
          <a ng-click="verifyChecksum(repository)" disable-link="disableSyncLink()" translate>
            Verify Content Checksum
          </a>
        </li>

        <li role="menuitem" ng-hide="hideSyncButton(repository, false)" ng-class="{disabled: disableSyncLink()}">
          <a ng-click="openReclaimSpaceModal(repository)" disable-link="disableSyncLink()" translate>
            Reclaim Space
          </a>

          <span class="disabled" ng-show="syncInProgress(repository.last_sync)" translate>
            Cannot clean Repository, a sync is already in progress.
          </span>

          <span class="disabled" ng-show="denied('sync_products', product)" translate>
            Cannot clean Repository without the proper permissions.
          </span>
        </li>
        <li role="menuitem" ng-hide="syncInProgress(repository.last_sync) || denied('edit_products', product)">
          <span class="disabled" ng-show="syncInProgress(repository.last_sync)" translate>
            Cannot republish Repository, a sync is already in progress.
          </span>

          <span class="disabled" ng-show="denied('sync_products', product)" translate>
            Cannot republish Repository without the proper permissions.
          </span>
        </li>

        <li class="divider" bst-feature-flag="custom_products"></li>
        <li role="menuitem" ng-show="canRemove(repository, product)">
          <a ng-click="openModal()" translate>
            Remove Repository
          </a>
        </li>
        <li>
          <span class="disabled" ng-hide="canRemove(repository, product)">
            <span translate>Cannot Remove</span>

            <span ng-switch="getRepoNonDeletableReason(repository, product)" model="repository">
              <i class="fa fa-question-circle" ng-switch-when="permissions"
                 uib-tooltip="{{ 'You cannot remove this repository because you do not have permission.' | translate }}"
                 tooltip-animation="false"
                 tooltip-placement="left"
                 tooltip-append-to-body="true">
              </i>
                <i class="fa fa-question-circle" ng-switch-when="setting"
                   uib-tooltip="{{ 'Turn on Setting > Content > Allow deleting repositories in published content views' | translate }}"
                   tooltip-animation="false"
                   tooltip-placement="left"
                   tooltip-append-to-body="true">
              </i>
            </span>
          </span>
        </li>
      </ul>

      <div bst-modal="removeRepository(repository)" model="repositoryWrapper">
        <div data-block="modal-header" translate>Remove Repository {{ repositoryWrapper.repository.name }}?</div>
        <div data-block="modal-body">
            <div ng-show="repositoryWrapper.repository.content_view_versions.length !== 0" style="margin-bottom: 1em">
                <span translate>Repository will also be removed from the following published content view versions!</span>
                <table class="table table-striped table-bordered" style="margin-top: 1em">
                    <thead>
                        <tr>
                            <th translate>Content View</th>
                            <th translate>Versions</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="cvs in repositoryWrapper.repositoryVersions">
                        <td class="align-center">
                            <a href="/content_views/{{cvs[0]['content_view_id']}}" target="_blank">
                                {{cvs[0]['content_view_name']}}
                            </a>
                        </td>
                        <td>
                            <div ng-repeat="cvVersions in cvs">
                                <a href="/content_views/{{cvs[0]['content_view_id']}}#/versions/{{cvVersions['id']}}" target="_blank">
                                    <span translate>Version {{ cvVersions['version'] }} </span>
                                </a>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <input type="checkbox"
                   ng-show="repositoryWrapper.repository.content_view_versions.length !== 0"
                   ng-model="repositoryWrapper.forceDelete"
                   ng-change="updateForceDelete()"/>
            <span translate> Are you sure you want to remove repository {{ repositoryWrapper.repository.name }} from all content views?</span>
        </div>
          <div data-block="modal-footer">
            <span data-block="modal-confirm-button">
              <button class="btn btn-danger" ng-disabled="repositoryWrapper.repository.content_view_versions.length !== 0 && !repositoryWrapper.forceDelete" ng-click="ok()">
                <span translate>Delete</span>
              </button>
            </span>
            <button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
          </div>
        </div>
    </span>
  </div>

  <div data-block="content">
    <section ui-view></section>
  </div>
</div>
