<span page-title ng-model="repository">{{ 'Repository:' | translate }} {{ repository.name }}</span>

<div>
  <h3 translate>Advanced Sync</h3>

  <div data-extend-template="products/details/repositories/details/views/repository-advanced-sync-options.html"></div>

  <div class="control-group buttons">
    <button class="btn btn-primary"
            ng-click="advancedSync(syncType); working = true;"
            ng-disabled="syncType === undefined || working">

      <i class="fa fa-spinner fa-spin" ng-show="working"></i>
      <span ng-show="working" translate>Starting</span>
      <span ng-hide="working" translate>Sync</span>
    </button>

    <button class="btn btn-default"
            type="button"
            ui-sref="product.repository.info"
            ng-disabled="working"
            translate>
      Cancel
    </button>
  </div>
</div>

