<div class="details">

  <ol class="breadcrumb row">
    <li><a ui-sref="content-views.index" translate>Filter List</a></li>
    <li translate>Create New Filter</li>
  </ol>

  <header class="details-header">
    <h3>Add New Filter</h3>
  </header>

  <form name="filterForm" class="form-horizontal" role="form" novalidate>
    <div alch-form-group label="{{ 'Name' | translate }}">
      <input id="name"
             name="name"
             ng-model="filter.name"
             type="text"
             tabindex="1"
             autofocus
             required/>
    </div>
    
    <div alch-form-group label="{{ 'Content Type' | translate }}">
      <select id="contentType"
              name="contentType"
              ng-model="filter.contentType"
              tabindex="2"
              required>
        <option value="packages" translate>Packages</option>
        <option value="errata" translate>Errata</option>
      </select>
    </div>

    <div alch-form-group label="{{ 'Description' | translate }}">
      <textarea id="description"
                name="description"
                ng-model="filter.description"
                tabindex="3">
      </textarea>
    </div>

    <div alch-form-buttons
         on-cancel="transitionTo('content-views-details.filters.details', {contentViewId: contentView.id})"
         on-save="save(filter)">
    </div>
  </form>

</div>
