<div>
  <div class="details-header col-sm-12">
      <input type="text"
             class="form-control filter-input"
             placeholder="{{ 'Package/Group Name' | translate }}"
             ng-model="rule.name"/>

    <div class="fl">
      <label class="radio-inline">
        <input ng-model="rule.type" type="radio" id="included" value="included" checked/>
        <span translate>Specify Included Packages</span>
      </label>
      <label class="radio-inline">
        <input ng-model="rule.type" type="radio" id="excluded" value="excluded"/>
        <span translate>Specify Excluded Packages</span>
      </label>
    </div>

    <button class="btn btn-primary fr" ng-click="addRule(rule)">
      <i class="icon-plus"></i>
      <span translate>Add Packages</span>
    </button>
  </div>

  <div class="details-header col-sm-12">
    <div class="">
      <input type="text"
             class="form-control filter-input"
             placeholder="{{ 'Filter' | translate }}"
             ng-model="repositorySearch"/>
    </div>

    <button class="btn btn-primary fr" ng-click="addPackages()">
      <i class="icon-plus"></i>
      <span translate>Remove Packages</span>
    </button>
  </div>

  <div class="col-sm-12">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="row-select"><input type="checkbox" ng-model="allSelected" ng-change="selectAll(allSelected)"/></th>
          <th translate>Package Name</th>
          <th translate>Detail</th>
          <th translate>Type</th>
          <th translate>Added</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="rule in filterRules | filter:repositoryFilter" row-select>
          <td class="row-select"><input type="checkbox" ng-model="repository.selected"/></td>
          <td>{{ rule.name }}</td>
          <td>
            <select ng-model="rule.detail" class="form-control">
              <option value="all" translate>All Versions</option>
            </select>
          </td>
          <td>{{ rule.type }}</td>
          <td>{{ rule.added | date:"short" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
