<div class="details details-full">
  <div class="row">
    <label class="col-sm-1 control-label" translate>Filter by</label>

    <div class="col-sm-3">
      <label class="radio-inline">
        <input ng-model="filterBy" type="radio" id="date" value="date" checked/>
        <span translate>Date and Type</span>
      </label>
      <label class="radio-inline">
        <input ng-model="filterBy" type="radio" id="errataId" value="errataId"/>
        <span translate>Errata ID</span>
      </label>
    </div>
  </div>

  <div ng-show="filterBy === 'date'">
    <div class="row">
      <label class="col-sm-1" translate>Range</label>
      
      <span class="col-sm-2" translate>From: {{ rule.beginDate | date:'shortDate' }} - To: {{ rule.endDate | date:'shortDate' }}</span>
    </div>

    <div class="row">
      <label class="col-sm-1" translate>Type</label>

      <div class="col-sm-2">
        <select ng-model="rule.type" class="form-control">
          <option value="security" translate>Security</option>
          <option value="bug" translate>Bug</option>
          <option value="enhancement" translate>Enhancement</option>
        </select>
      </div>

      <label class="radio-inline">
        <input ng-model="rule.type" type="radio" id="included" value="included" checked/>
        <span translate>Specify Included Errata</span>
      </label>

      <label class="radio-inline">
        <input ng-model="rule.type" type="radio" id="excluded" value="excluded"/>
        <span translate>Specify Excluded Errata</span>
      </label>

    </div>
  </div>

</div>
