.svg-centered-container {
  display: flex;
  align-items: center;
  align-content: center;

  .composite-component-count {
    min-width: 10px;
    text-align: center;
  }
}

.svg-icon-composite {
  margin: 0 6px;
  display: block;
}

.svg-icon-component {
  margin: 0 9px;
  display: block;
}

.svg-icon-rolling {
  margin: 0 9px;
  display: block;
}
