.determinate-needs-publish {
  color: var(--pf-global--primary-color--100);
  margin-left: 9px;
}

.indeterminate-needs-publish {
  color: var(--pf-global--disabled-color--200);
  margin-left: 9px;
}
