<span page-title>{{ 'Puppet Modules' | translate }}</span>

<div data-extend-template="layouts/table-with-header.html">
  <div data-block="header" translate>
    Puppet Modules
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Puppet Modules.
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Puppet Modules.
  </span>

  <div data-block="table">
    <table class="table table-striped table-bordered" ng-class="{'table-mask': table.working}">
      <thead>
        <tr bst-table-head>
          <th bst-table-column="name">{{ "Name" | translate }}</th>
          <th bst-table-column="product">{{ "Author" | translate }}</th>
          <th bst-table-column="product">{{ "Version" | translate }}</th>
          <th bst-table-column="product">{{ "Summary" | translate }}</th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="puppetModule in table.rows">
          <td bst-table-cell>
            <a ui-sref="puppet-module.info({puppetModuleId: puppetModule.id})">
              {{ puppetModule.name }}
            </a>
          </td>
          <td bst-table-cell>
            {{ puppetModule.author }}
          </td>
          <td bst-table-cell>
            {{ puppetModule.version }}
          </td>
          <td bst-table-cell>
            {{ puppetModule.summary }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
