<table class="table table-striped" ng-class="{'table-mask': table.working}">
  <thead>
    <tr bst-table-head>
      <th bst-table-column="name">{{ "Name" | translate }}</th>
      <th bst-table-column="product">{{ "Author" | translate }}</th>
      <th bst-table-column="product">{{ "Version" | translate }}</th>
      <th bst-table-column="product">{{ "Summary" | translate }}</th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row ng-repeat="puppetModule in table.rows">
      <td bst-table-cell>
        <a ui-sref="puppet-modules.details.info({puppetModuleId: puppetModule.id})">
          {{ puppetModule.name }}
        </a>
      </td>
      <td bst-table-cell>
        {{ puppetModule.author }}
      </td>
      <td bst-table-cell>
        {{ puppetModule.version }}
      </td>
      <td bst-table-cell>
        {{ puppetModule.summary }}
      </td>
    </tr>
  </tbody>
</table>
