<div data-extend-template="layouts/details-page-with-breadcrumbs.html">
  <header data-block="header">
    <h2 translate>New GPG Key</h2>
  </header>

  <div data-block="content">
    <form name="gpgKeyForm" class="form form-horizontal" novalidate role="form"
          action="{{ uploadURL }}"
          ng-upload="uploadContent(content)"
          upload-options-enable-rails-csrf>

      <div bst-form-group label="{{ 'Name' | translate }}">
        <input id="name"
               name="name"
               ng-model="gpgKey.name"
               type="text"
               tabindex="1"
               autofocus
               required/>
      </div>

      <div bst-form-group label="{{ 'GPG Key Contents' | translate }}">
        <textarea name="content"
                  ng-model="gpgKey.pastedGPG"
                  tabindex="1"
                  class="form-control"
                  rows="15"
                  placeholder="{{ 'Paste contents of GPG Key' | translate }}">
        </textarea>
      </div>

      <div class="form-group">
        <div class="col-sm-5 col-sm-offset-2">
          <input type="file" name="file_path"/>
          <p class="help-block" translate>Upload GPG Key file</p>
        </div>
      </div>

      <div bst-form-buttons upload-submit
           on-cancel="transitionTo('gpg-keys')"
           ng-disabled="gpgKey.name == undefined"
           working="progress.uploading">
      </div>
    </form>
  </div>
</div>