:plain
  KT.routes.options.prefix = "#{Katello.config.url_prefix}";
  angular.module('Katello.globals').constant("RootURL", "#{Katello.config.url_prefix}");

:plain
  angular.module('Katello.globals').value('CurrentOrganization', "#{current_organization.label if current_organization}");

:plain
  angular.module('Katello.globals').value('CurrentUser', "#{current_user.id if current_user}");
