:plain
  KT.config = {
    'root_url' : '#{Katello.config.url_prefix}'
  };
  KT.routes.options.prefix = KT.config['root_url'];

-if current_organization
  :plain
    angular.module('Katello').value('CurrentOrganization', '#{current_organization.label}');
