:plain
  angular.module('Katello.globals').constant("RootURL", "/katello");

:plain
  angular.module('Katello.globals').value('CurrentOrganization', "#{current_organization.label if current_organization}");

:plain
  angular.module('Katello.globals').value('CurrentUser', "#{current_user.id if current_user}");
