-# TODO: ENGINIFY : disable helptips... Need a property on User to support
-#%div{:id=>"helptip-closed_#{key}", :class=>"helptip-close", :style=> User.current.helptip_enabled?(key) ? "display: none;": "", 'data-url' => enable_helptip_users_path}
-#  .helptip-open-button
-#    &nbsp;
