= generate_menu

#navigation{ 'ng-controller' => 'MenuController' }
  %header.header.logo-header
    - if Katello.config.katello?
      %a.fl.katello-logo.logo{ 'href' => 'dashboard' }
    - else
      %a.fl.headpin-logo.logo{ 'href' => 'dashboard' }
    %span#experimental_indicator
      = "experimental"
    %nav{ 'alch-menu' => "user_menu" }
  %header.header.nav-header
    = render :file => 'katello/components/org_switcher'
    .nav(compact){ "alch-menu" => "menu" }
    .nav.right
      %ul.menu-container.menu-item-notices
        %li.menu-item{ "ng-mouseenter" => "handle_hover(notices, true)", "ng-mouseleave" => "handle_hover(notices, false)" }
          %a.menu-item-link{ :href => "{{ notices.url }}", "ng-class" => "{ 'active-item' : notices.active }"}
            %span#unread_notices{"ng-cloak" => true}
              %i.icon-warning-sign
              %span#unread_notices_count
                {{notices.count}}
      - if defined? KatelloForemanEngine
        %ul.menu-container
          %li.menu-item{ "ng-mouseenter" => "handle_hover(foreman, true)", "ng-mouseleave" => "handle_hover(foreman, false)" }
            %a.menu-item-link{ :href => Katello.config.foreman.url, "ng-class" => "{ 'active-item' : foreman.active }"}
              %span
                Foreman
                = image_tag("cross_link.png", :class => 'link_icon icon')
    .nav.admin_menu{ "alch-menu" => "admin_menu" }
