.env-path {
  .pf-c-form__group {
    margin: 20px 0;
  }

  .env-path__labels-with-pointer {
    &:not(:last-child):after {
      content: '>';
      margin-top: 0px;
      margin-right: 0.5rem;
    }

    display: inline-flex;
    margin: 3px 1px;
    align-items: center;

    input {
      margin-top: 0px;
    }
  }

  hr {
    margin: 0;
  }
}