<section>

  <div alch-alert success-messages="successMessages" error-messages="errorMessages"></div>

  <h4>
    <span data-block="header"></span>
  </h4>

  <div class="row nutupane-bar">
    <div class="col-sm-3">
      <div class="input-group input-group">
        <input type="text"
               class="form-control"
               placeholder="{{ 'Search...' | translate }}"
               ng-model="detailsTable.searchTerm"
               on-enter="detailsTable.search(table.searchTerm)"/>
        <span class="input-group-btn">
          <button ng-click="detailsTable.search(detailsTable.searchTerm)" class="btn btn-default" type="button"><i class="icon-search"></i></button>
        </span>
      </div>
    </div>

    <div class="col-sm-3 nutupane-info">
      <span translate>Showing {{ detailsTable.rows.length }} of {{ detailsTable.resource.subtotal }} ({{ detailsTable.resource.total }} Total)</span>
    </div>

    <div class="col-sm-6">
      <div class="fr">
        <span class="nutupane-info fl">
          <span translate>{{ detailsTable.numSelected }} Selected</span>
          <span>|</span>
          <a class="deselect-action"
             translate
             ng-class="{ 'disabled-link' : detailsTable.numSelected == 0 }"
             ng-click="detailsTable.selectAllResults(false)">
            Deselect All
          </a>
        </span>

        <span class="fl">
          <span data-block="actions"></span>
        </span>
      </div>
    </div>

  </div>

  <div class="nutupane" alch-table="detailsTable" nutupane-table>
    <div class="loading-mask" ng-show="detailsTable.refreshing">
      <i class="icon-spinner icon-spin"></i>
    </div>

    <div alch-container-scroll control-width="detailsTable" alch-infinite-scroll="detailsTable.nextPage()" 
           data="detailsTable.rows" skip-initial-load="detailsTable.initialLoad">
      <div data-block="table" ui-view="table"></div>
    </div>
  </div>

</section>
