<section>
  <div data-extend-template="layouts/partials/page-header-with-actions.html">
    <span data-block="header"></span>
    <span data-block="item-actions"></span>
  </div>

  <div data-extend-template="layouts/partials/messages-container.html">
    <span data-block="messages"></span>
  </div>

  <div data-extend-template="layouts/partials/table.html">
    <span data-block="search-filter"></span>
    <span data-block="list-actions"></span>
    <span data-block="no-rows-message"></span>
    <span data-block="no-search-results-message"></span>
    <span data-block="table"></span>
  </div>
</section>
