
<% content_for(:content) do %>
  <%= notifications %>
  <div id="content" class="article maincontent bastion" data-no-turbolink="true">
    <section class="container-fluid">
        <div ui-view></div>
    </section>
  </div>
<% end %>

<%= render file: "bastion/layouts/assets" %>
