--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/69973109-1421-4841-8078-bae367784fab/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="KIq2tCdMGQLcPongR39ANT0LA2DIZflAdI38AUDQ8", oauth_signature="XCt0W84rzjxUImpYpnmcUHFPxhk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081309", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"c1f9d509-ae2d-4322-a3fc-a6c6f12ba47a\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/69973109-1421-4841-8078-bae367784fab/\", \"task_id\": \"69973109-1421-4841-8078-bae367784fab\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-09-13T14:08:29Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"c1f9d509-ae2d-4322-a3fc-a6c6f12ba47a\", \"call_request_id\": \"69973109-1421-4841-8078-bae367784fab\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 13 Sep 2013 14:08:29 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/install/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"package_group\",\"unit_key\":{\"name\":\"mammals\"}}],\"options\":{\"importkeys\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="xxROYzaIhuZKJFjYXHeSJ0ukinGZ9TgcGLKcTLUQ", oauth_signature="EOYXgrvuVMrSGaVJGhzF5uBjaOY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081325", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"510a9c88-edff-4fa0-aef4-7fdf7e0eab40\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/510a9c88-edff-4fa0-aef4-7fdf7e0eab40/\", \"task_id\": \"7ad78d9f-56ec-497c-88ee-8832499bb047\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"510a9c88-edff-4fa0-aef4-7fdf7e0eab40\", \"call_request_id\": \"7ad78d9f-56ec-497c-88ee-8832499bb047\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 13 Sep 2013 14:08:45 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/update/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"cheetah\"}}],\"options\":{\"importkeys\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="EKUMpLj9CKWvmn[...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="LjjLdu1ZfsjrJUVF9QQLz5ZZoTsvvpf5zUBVZszXU", oauth_signature="9TRFUM%2ByK7OPQng42tooX1gdPYw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081362", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_id\": {\"$oid\": \"52331c825ca01344d0c70648\"}, \"unit_id\": \"365ad9e6-9f34-4234-a7e2-fc724c1be28b\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"365ad9e6-9f34-4234-a7e2-fc724c1be28b\"}}, {\"_id\": {\"$oid\": \"52331c825ca01344d0c70649\"}, \"unit_id\": \"b3a98974-b6d0-4087-9002-b4fa30aa59ab\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"b3a98974-b6d0-4087-9002-b4fa30aa59ab\"}}, {\"_id\": {\"$oid\": \"52331c825ca01344d0c7064a\"}, \"unit_id\": \"2a048196-da36-4fec-9d92-0051f387c006\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"2a048196-da36-4fec-9d92-0051f387c006\"}}]"
  recorded_at: Fri, 13 Sep 2013 14:09:22 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"365ad9e6-9f34-4234-a7e2-fc724c1be28b\",\"b3a98974-b6d0-4087-9002-b4fa30aa59ab\",\"2a048196-da36-4fec-9d92-0051f387c006\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7uIQ3E42bwYVEZzzxpbDJ0W1fj238G8HwBeif9HXXw", oauth_signature="v375Xr7V5P6ugzDAqhO653kdTHc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081362", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"issued\": \"2010-02-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0003\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"One monkey package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"bugfix\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"monkey\", \"sum\": null, \"filename\": \"monkey-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One monkey package errata\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"2a048196-da36-4fec-9d92-0051f387c006\", \"_href\": \"/pulp/api/v2/content/units/erratum/2a048196-da36-4fec-9d92-0051f387c006/\", \"children\": {}, \"repository_memberships\": [\"1\", \"test_scenario_org-publish_test_product-publish_test_repo\"]}, {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"Empty errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": \"\", \"_storage_path\": null, \"rights[...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/update/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{}}],\"options\":{\"importkeys\":true,\"all\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="k0KSyBg1aA35OdhtpjbJUDHvwIkPMTrCr7MZyxkpY", oauth_signature="5fq8%2BvCx1rz3GtBRYuy2QlekqMw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081380", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"7b5d77b0-31a9-4db9-9bb1-4e4f932c2936\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/7b5d77b0-31a9-4db9-9bb1-4e4f932c2936/\", \"task_id\": \"821be14e-e33d-4f87-a723-68cef914cd3f\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_update\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_update\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"7b5d77b0-31a9-4db9-9bb1-4e4f932c2936\", \"call_request_id\": \"821be14e-e33d-4f87-a723-68cef914cd3f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 13 Sep 2013 14:09:40 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/content/uninstall/
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"package_group\",\"unit_key\":{\"name\":\"mammals\"}}],\"options\":{}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="IV6FB7KuBWYoOwFnTYHw[...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="iPahjEDaxydL3nG49kr1qcjV6NLwCHjxJVKj2WEq3Y", oauth_signature="IeblvXkegLaoRwXVEUO0f0%2Bs4%2F8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081418", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"52331cca5ca01344d0c707c4\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 13 Sep 2013 14:10:18 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="bGiYxNze6zCFyFy2FjUHvbm6GVSJgAm03p95Isx7g", oauth_signature="rSdPIeM9SHC%2F%2F9T6W6QyygqH6WE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081418", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      [...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"simple_group\",\"description\":\"Super administrator with all access.\",\"consumer_ids\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="vTkLkeHtSNQNwNhc0cWleCHTAhgQeI8xXQzdhKCqCEk", oauth_signature="YwNeOVamxwYVoLu88wsQJKZ%2BOXM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081435", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumer_groups/simple_group/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": null, \"display_name\": null, \"description\": \"Super administrator with all access.\", \"_ns\": \"consumer_groups\", \"notes\": {}, \"consumer_ids\": [\"010E99C0-3276-11E2-81C1-0800200C9A66\"], \"_id\": {\"$oid\": \"52331cdb5ca01344d0c70809\"}, \"id\": \"simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\"}"
  recorded_at: Fri, 13 Sep 2013 14:10:35 GMT
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="zOO5wHJri7pMrXKHzctDb1GJYkC4nqxjSSH6OIKP3GY", oauth_signature="MZuQK5560I6uJbdoW1VTh1G0tGw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081435", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"2cdccd71-51fe-45a6-9fae-3ebedcd5ae06\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/2cdccd71-51fe-45a6-9fae-3ebedcd5ae06/\", \"task_id\": \"1d65fd65-d286-45f0-8346-d15f1831550d\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"2cdccd71-51fe-45a6-9fae-3ebedcd5ae06\", \"call_request_id\": \"1d65fd65-d286-45f0-8346-d15f1831550d\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 13 Sep 2013 14:10:35 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="4RT1tH2DG9gtuxMZZq3SY46Tf235y9W5mQLvP33m3A0", oauth_signature="xauRNYJLfDbqgLwGSSRVGdG47HU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081435", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 13 Sep 2013 14:10:36 GMT
recorded_with: VCR 2.5.0
