--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="n7J6Aeeo7NNM5HQcGpdG65MNHs8rC3jEu0PVofqbzg", oauth_signature="55Gbkia6MOH9WM%2Fx%2F%2Bqfu%2FALauQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081308", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): consumer_group=simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"consumer_group\": \"simple_group\"}}"
  recorded_at: Fri, 13 Sep 2013 14:08:28 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="IKk0ONQoReByGhThM2BCUtgrnBukvI9QR2VAfoMjBtY", oauth_signature="gH8W%2B8NSX9wQ9akDWEjPiMR1Bu8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081440", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "{'_href': u'/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/'}"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"display_name\": \"Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXQIBAAKBgQCmbwU2uetMS7ijuGvpmJWKXBdG1HyZUYruSYaZtvq8vHVyNBUV\\n6BY5EQMtPBYWooKynRQkmlY3qw9isQViQ8W2XKtsq//Ut7o1Am+3wEkB8LgJxFh5\\nUd3pKr8prmrB0k3WqAXZ7IJTNNhxmW+p+78t2J3U2JPNkbkOmMVSXvGLbwIDAQAB\\nAoGBAJVhdCaIfL6///tCnejOQPosad/y+9qIq8/wQlVZPHeGF0vnnz1IUBnsQROq\\nqJCsT+6MufWYaOYSLP8Br7lg5uSyH4021CqKqK9eLM7HrT9rOs/Df9IiYw9Okv31\\ncgnOPd1G+A2w1os8lEFtLUnqE8M7+KEvbZCxRTzGrVyVO7oBAkEA2Bcr49sZCpY+\\nKpFsmDJPArY0Ni9f2lmQE48BpZrYGWTUUF+RaGqAMlQeVtfCtmYFGGaYaI8JG[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"simple_group\",\"description\":\"Super administrator with all access.\",\"consumer_ids\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="McngLiFDzO5AHognc0bAjbtdj8lkb5iHZiPUJByZsU", oauth_signature="DXCCGbFo285Ib9xF8gpVX7aQ7nQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081440", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumer_groups/simple_group/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": null, \"display_name\": null, \"description\": \"Super administrator with all access.\", \"_ns\": \"consumer_groups\", \"notes\": {}, \"consumer_ids\": [\"010E99C0-3276-11E2-81C1-0800200C9A66\"], \"_id\": {\"$oid\": \"52331ce05ca01344d0c708cc\"}, \"id\": \"simple_group\", \"_href\": \"/pulp/api/v2/consumer_groups/simple_group/\"}"
  recorded_at: Fri, 13 Sep 2013 14:10:40 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="4MJQIu9iINhNM0BsigNuSRVcGRyjOGmYqzufeyaU1FI", oauth_signature="92oKeZHqBOXtzaQGpU0W%2BSsi3O8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081440", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]"
  recorded_at: Fri, 13 Sep 2013 14:10:40 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/actions/unassociate/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="DxHeYMCGkBzeRb4Kk063qUeIWR0S0E9ZVf7MLSCucM", oauth_signature="%2FxHowRtDhVKHSmcOncG86%2B0bHFM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081440", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 13 Sep 2013 14:10:41 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="7ndJAhxuOHwVwXFkb6phEUt2sLxRmx0uZSdcp3FwzZQ", oauth_signature="1mQSFM4ZuV4NChYVHKiEIG%2FYgpM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081441", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 13 Sep 2013 14:10:41 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumer_groups/simple_group/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="EutrIPJPSy2efZhjeEEECOcTywT2UwZqmTvbfzqAs", oauth_signature="eGATJ08SmqHzZ%2B5hgZns6QvO8Nc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081441", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 13 Sep 2013 14:10:41 GMT
recorded_with: VCR 2.5.0
