<div ng-show="workingMode">
  <i class="fa fa-spinner inline-icon fa-spin"></i>
  <span translate>Working</span>
</div>

<button class="btn btn-primary"
        translate
        ng-click="add()"
        ng-disabled="disableSave"
        ng-show="editMode && !workingMode">
  Add
</button>

<button class="btn btn-default"
        translate
        ng-click="remove()"
        ng-disabled="disableSave"
        ng-show="editMode && !workingMode">
  Remove
</button>

<button class="btn btn-default"
        translate
        ng-click="cancel()"
        ng-show="editMode && !workingMode"
        ng-disabled="disableCancel">
  Cancel
</button>
