<div class="control-group buttons">
  <button class="btn btn-primary"
          ng-click="handleSave(); working = true"
          ng-disabled="invalid || working">

    <span ng-show="working">
      <i class="fa fa-spinner fa-spin"></i>
      <span translate>Saving...</span>
    </span>
    <span ng-hide="working" translate>Save</span>
  </button>

  <button class="btn btn-default"
          type="button"
          ng-click="handleCancel()"
          ng-disabled="working"
          translate>
    Cancel
  </button>
</div>
