<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>

  <h3 data-block="modal-header"></h3>
</div>
<div class="modal-body">
  <p data-block="modal-body"></p>
</div>
<div class="modal-footer">
  <div data-block="modal-footer">
    <span data-block="modal-confirm-button">
      <button class="btn btn-danger" ng-click="ok()">
        <span translate>Delete</span>
      </button>
    </span>
    <button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
  </div>
</div>
