<form class="add-item form-inline" role="form">
  <h5 translate>Add New Item</h5>
  <div class="form-group">
    <input class="form-control" type="text" ng-model="newKey" placeholder="{{ 'Key' | translate }}" />
  </div>
  <div class="form-group">
    <input class="form-control" type="text" ng-model="newValue" placeholder="{{ 'Value' | translate }}" />
  </div>

  <span ng-show="workingMode">
    <i class="fa fa-spinner inline-icon fa-spin"></i>
    <span translate>Working</span>
  </span>

  <button class="btn btn-primary"
          translate
          ng-click="add({value: {keyname: newKey, value: newValue}})"
          ng-hide="workingMode">
    Add
  </button>
</form>
