<div ng-show="workingMode">
  <i class="fa fa-spinner inline-icon fa-spin"></i>
  <span ng-if='forcedWorkingText'>{{ forcedWorkingText }}</span>
  <span ng-if='!forcedWorkingText' translate>Working</span>
</div>

<button class="btn btn-primary"
        translate
        ng-click="save()"
        ng-disabled="disableSave || bstEditForm.$invalid"
        ng-show="editMode && !workingMode">
  Save
</button>

<button class="btn btn-default"
        translate
        ng-click="cancel()"
        ng-show="editMode && !workingMode"
        ng-disabled="disableCancel">
  Cancel
</button>
