<nav ng-class="menu.location">
  <ul class="menu-container">

    <li class="menu-item"
        ng-repeat="item in menu.items"
        ng-mouseenter="handleHover(item, true)"
        ng-mouseleave="handleHover(item, false)">

        <a href="{{ item.url }}"
           ng-class="{ 'active-item' : item.active, 'menu-anchor' : item.type }"
           class="menu-item-link"> 
          <span>{{ item.display }}</span>
         <i class="fa fa-caret-down" ng-show="item.type == 'dropdown'"></i>
        </a>
        <ul bst-dropdown="item.items"></ul>
    </li>
  </ul>
</nav>
