<nav class="nav right current-tasks-nav" ng-class="{'active-item': visible}">
  <ul class="menu-container" id="currentTasks">

    <li class="menu-item">
      <a class="menu-item-link currentTasksCount"
         ng-click="toggleVisibility()"
         ng-class="{'active-item': visible}">
        {{ count }}
        <i class="fa fa-caret-down"></i>
      </a>

      <span uib-dropdown class="current-tasks"
            ng-class="{'dropdown-active': visible}"
            ng-show="visible">
        <ul class="active-tasks">
          <div tasks-table template-url="tasks/views/user-tasks-table.html"
                       details-state="tasks.details"
                       user-id="{{ currentUser.id }}" ></div>
        </ul>
      </span>
    </li>
  </ul>
</nav>
