<div class="path-selector" ng-repeat="path in paths">
  <ul class="path-list">
    <li class="path-list-item" ng-repeat="item in path" ng-class="{ 'disabled-item': item.disabled }">
      <label class="path-list-item-label" ng-disabled="item.disabled" ng-class="{ active: item.selected }" ng-mouseenter="hover" ng-mouseleave="hover = false">
        <input type="checkbox" ng-model="item.selected" ng-change="itemChanged(item)" ng-disabled="item.disabled"/>
          <i ng-class="item.iconClass"></i>
          {{ item.name }}
      </label>
    </li>
  </ul>
</div>
