.pf-c-dropdown.pf-m-align-right {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

.pf-c-dropdown__menu {
  min-width: 0;
}

.pf-c-wizard__footer {
  z-index: 1;
}

.pf-c-table tbody tr td {
  vertical-align: inherit;
}