.katello-pf4-table {
  .pf-v5-c-dropdown.pf-m-align-right {
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }

  .pf-v5-c-dropdown__menu {
    min-width: 0;
  }
  .pf-v5-c-wizard__footer {
    z-index: 1;
  }

  .pf-v5-c-table tbody tr td {
    vertical-align: inherit;
  }

  input[type='checkbox'][disabled] {
    cursor: initial;
  }
}
