- collection.each do |repo|
  %li.no_slide.block
    - if !(@next_env_repos & repo.clone_ids).empty?
      .fr.promoted
        = _("Promoted")
    - elsif @next_environment && @next_environment.products.member?(@product)
      %a{:class => "fr content_add_remove remove_repo st_button","data-display_name"=> repo.name, "data-id" => repo.id,
                        "data-type" => "repo", "data-product_id" => [@product.id].to_json, :id => "add_remove_repo_#{repo.id}"}
    .simple_link
      - if repo.has_filters?
        %span.filter_warning_icon.fl.promotion_tipsify{"data-content_id"=> repo.id, "data-content_type" => "repo", "data-environment" => @environment.name}
          &nbsp;
      %span
        = repo.name
