.alch-dialog {
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: #999 0 2px 2px;
  z-index: 2;
}

.alch-dialog.closed {
  border: none;
  box-shadow: none;
}

.alch-dialog.open {
  position: absolute;
  padding: 10px;

  .form input[type="text"] {
    width: 150px;
  }
}

.alch-multiselect {
  ul {
    list-style: none;
    max-height: 100px;
    overflow-y: auto;
    padding: 15px
  }
}

.alch-button-container {
  padding: 10px 0 0;
}
