<table class="table table-striped" ng-class="{'table-mask': table.working}">
  <thead>
    <tr alch-table-head row-select>
      <th alch-table-column="name" sortable>{{ "Name" | translate }}</th>
      <th alch-table-column="content-hosts" sortable>{{ "Content Hosts" | translate }}</th>
      <th alch-table-column="limit" sortable>{{ "Limit" | translate }}</th>
    </tr>
  </thead>

  <tbody>
    <tr alch-table-row ng-repeat="group in table.rows" row-select="group">
      <td alch-table-cell>
        <a ui-sref="system-groups.details.info({systemGroupId: group.id})">
          {{ group.name }}
        </a>
        <i class="icon-chevron-right selected-icon" ng-show="group.selected"></i>
      </td>
      <td alch-table-cell>
        <a ui-sref="system-groups.details.content-hosts.list({systemGroupId: group.id})">
          {{ group.total_systems }}
        </a>
      </td>
      <td alch-table-cell>{{ group.max_systems | unlimitedFilter }}</td>
    </tr>
  </tbody>
</table>
