.form {
  .gpg-textarea {
    width: 560px;
    height: 300px;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,
                  Bitstream Vera Sans Mono,Courier New,monospace;
  }
}
.gpg-details.details {
    width: 82%;
}
.gpg-alch-edit {
  .editable-value {
    float: left;
  }
  .alch-edit{
    .value {
      width: 520px;
      font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,
                    Bitstream Vera Sans Mono,Courier New,monospace;
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }
  textarea {
    .form.gpg-textarea;
  }

 .value.editable {
    .fr {
       margin-top:-80px;
     }
  }

}