<table class="table table-striped table-full" ng-class="{'table-mask': table.working}">
  <thead>
    <tr bst-table-head>
      <th bst-table-column="name" sortable>{{ "Name" | translate }}</th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row
        ng-repeat="branch in table.rows"
        active-row="stateIncludes('ostree-branches.details', {branchId: branch.id})">
      <td bst-table-cell clas="ellipsis-column">
        <a ui-sref="ostree-branches.details.info({branchId: branch.id})">
          {{ branch.name }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
