<span page-title>{{ 'Ostree Branches' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="header">
    {{ 'Ostree Branches' | translate }}
  </div>

  <div data-block="search-filter">
    <div class="col-sm-3">
      <select class="form-control" ng-model="repository" ng-options="repository.name for (id, repository) in repositories"></select>
    </div>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Ostree Branches.
  </span>

</div>