= javascript 'subscriptions/subscriptions.controller', 'widgets/nutupane', 'components/scrollWithPage.directive.js', 'components/inline_edit.directive', 'components/input.directive', 'filters/array-object-value.filter'

%div{ 'ng-controller' => 'SubscriptionsController' }
  %div{'ng-class' => '{"modal-mask": table.newPaneVisible}'}
  %h1
    = _("Subscriptions")
  %div{ 'alch-table-toolbar' => 'table' }
    %button.primary{'ng-click' => 'importManifest()'}
      = _("Import Manifest")
  %table#nutupane-table.table.stable.stripe-row{ 'alch-table' => 'table', 'row-select' => 'true', 'ng-class' => '{ "table-mask" : table.working, "details-visible": table.detailsVisible}' }
  %div#nutupane-new-item.nutupane-pane{'ng-show' => 'table.newPaneVisible', 'ng-cloak' => true}
    %a.fr{ 'ng-click' => 'table.setNewItemVisibility(false)' }
      = 'x'
    %div.nutupane-pane-content
  %span.nutupane-details.panel.nutupane-pane#nutupane-details{ 'nutupane-details'=>'table.detailsVisible', 'model'=>'table', 'ng-class' => '{ "nutupane-details-open" : model.detailsVisible }' }
