$breadcrumbbg_color:        #e9e9e9;

$black_color:               #000;
$white_color:               #FFF;
$background_color:          #d9d9d9;
$lightgrey_color:           #939292;
$lightergrey_color:         lighten($lightgrey_color, 40%);
$alt_color:                 #888;

$kprimary_color:            #26B3E2;
$kselected_color:           darken($kprimary_color,15%);
$listhover_color:           lighten($kselected_color, 10%);
$text_color:                #1A1A1A;
$linkfg_color:              darken($kprimary_color,05%);
$tabon_color:               darken($kselected_color, 1%);
$taboff_color:              #747474;
$lightkprimary_color:       lighten($kprimary_color, 35%);
$headerbg_color:            $kprimary_color;
$formheadbg_color:          #eee;
$formheadfg_color:          #333;
$labelfg_color:             #888;
$orgbox_color:              #ffffff;

$panel_color:               #F5FAFA;

$input-background_color:    #f0f0f0;


$footerbg_color:            #f3f3f3;
$stroke_color:              #aaa;
$error_color:               #cb292b;
$warning_color:             #f6a20a;

$header_color:              #333;

$good_color:                #bfcc29;
$ok_color:                  orange;
$bad_color:                 red;

$tree-container_color:              #F2F2F2;
$tree-border_color:                 #B5B5B5;
$tree-breadcrumb_color:             #356e76;
$tree-current-breadcrumb_color:     #000000;
$tree-locked-breadcrumb_color:      #FEE7C6;
$tree-search-border_color:          #436fa8;
$tree-header-border_color:          #F2F2F2;
$tree-item-hover_color:             #000000;
$tree-item-border-hover_color:      #7bbcc5;
$tree-item-background-hover_color:  #bde4e8;
$tree-actionbar_color:              #bde4e8;
$tree-slideup-background_color:     #F5FAFA;
$changeset-promoting_color:         #f6891f;
$validation_error_color:            #FF4040;

$product_color:             #070;
$package_color:             #666;
$errata_color:              #700;
$repo_color:                #4A9FB1;

$global_permission_color:   #f6891f;

$helptip-background_color:  #EEE;
$helptip-border_color:      #DDD;

$path-border_color:         #d3d3d3;

$jScrollPane-bar_color:     #8B8B9F;

$border_color:              #d7d7d7;
$font_color:                #939292;

$table-border_color:        #B5B5B5;


$header_border_top-color: #01536d !default;
$header_border_bottom-color: #D9D9D9 !default;
$header_background_top-color: #009DCC;
$header_background_bottom-color: #006F8F !default;
$tab_background-color: rgba(25, 25, 30, .40);

$label_font-color: #CCC !default;
$input_font-color: #50505A !default;
$login_link-color: #0194E8 !default;
$login_base-color: #D9D9D9 !default;
$login_card_shadow-color: #D9D9D9 !default;
$login_background_top-color: #FFF !default;
$login_background_bottom-color: #FFF !default;
