@font-face {
    font-family: 'Overpass';
    src: local("Overpass"),
         url('/fonts/overpass_regular-web.woff') format('woff'),
         url('/fonts/overpass_regular-web.ttf') format('truetype'),
         url('/fonts/overpass_regular-web.svg#webfontLTZe4IYH') format('svg'),
         url('/fonts/overpass_regular-web.eot?#iefix') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: local("Overpass Bold"), local("OverpassBold"),
         url('/fonts/overpass_bold-web.woff') format('woff'),
         url('/fonts/overpass_bold-web.ttf') format('truetype'),
         url('/fonts/overpass_bold-web.svg#webfontzAU82Ltw') format('svg'),
         url('/fonts/overpass_bold-web.eot?#iefix') format('eot');
    font-weight: bold;
    font-style: normal;
}
