//Images
$body_background_img:         url("/images/outer-background.png") repeat-x 0 -7px #FFF;
$center_background_img:       url("/images/center-background.png") no-repeat center top transparent;
$third_level_background_img:  url("/images/3rd-level-bg.png") no-repeat bottom center transparent;
$subnav_shadow_img:           url("/images/subnav-shadow.png") repeat-x 0 bottom transparent;
$footer_shade_img:            url("/images/footer-shade.png") repeat-x 0 0 transparent;
$order_desc_img:              url("/images/order-desc.png") no-repeat center right;
$order_asc_img:               url("/images/order-asc.png") no-repeat center right;
$ui_totop_img:                url("/images//ui.totop.png") no-repeat left top;
$ui_totop_hover_img:          url("/images//ui.totop.png") no-repeat left -32px;
$ninesixty_img:               url("/images/960.png") repeat-y top center;
$input_background_img:        url("/images/input-bg.png") repeat-x 0 0 #f0f0f0;
$arrow_min_img:               url("/images/arrow-min.png") no-repeat top center;
$arrow_max_img:               url("/images/arrow-max.png") no-repeat top center;

//Icons
$info_icon:           url("/images/icons/info.png") no-repeat scroll 98% 6px transparent;
$info_hover_icon:     url("/images/icons/info.png") no-repeat scroll 98% 6px transparent;
$edit_icon:           url("/images/icons/edit.png") no-repeat scroll 98% 6px transparent;
$edit_hover_icon:     url("/images/icons/edit-hover.png") no-repeat scroll 98% 6px #F2F2F2;
$home_icon_black:     url("/images/icons/breadcrumb-icons.png") -16px -16px no-repeat;
$home_icon_green:     url("/images/icons/breadcrumb-icons.png") -16px 0px no-repeat;
$locked_icon:         url("/images/icons/locked.png") 0 0 no-repeat;
$dotdotdot_icon:      url("/images/icons/dotdotdot.png") no-repeat right bottom transparent;
$close_icon:          url("/images/icons/close.png") no-repeat scroll right center transparent;
$search_icon_black:   url("/images/icons/breadcrumb-icons.png") 0px -16px no-repeat;
$search_icon_white:   url("/images/icons/action-icons.png") no-repeat 0 0;
$base_product_icon:   url("/images/icons/objects.png") no-repeat 0 0;
$custom_product_icon: url("/images/icons/objects.png") no-repeat -16px 0;
$rh_product_icon:     url("/images/icons/objects.png") no-repeat -48px 0;
$grabber_icon:        url("/images/icons/grabber.png") 1px 50% no-repeat;
$status_icon_green:   url("/images/icons/status.png") no-repeat 0 0;
$status_icon_yellow:  url("/images/icons/status.png") no-repeat 0 -10px;
$status_icon_red:     url("/images/icons/status.png") no-repeat 0 -20px;