--- 
http_interactions: 
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/fe8dbf10-8367-4d30-9009-ed8fc093df81/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="7fn650dKtBQ5i4qBOo45dEzhGCEMVhdBJpwJqHHE8", oauth_signature="7B6SPET3TUroep34zwRpHRUcB%2Fc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185869", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/fe8dbf10-8367-4d30-9009-ed8fc093df81/\", \"task_id\": \"fe8dbf10-8367-4d30-9009-ed8fc093df81\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:09Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"5375240d3c307ec505e86123\"}, \"id\": \"5375240d86d9a9321d8e0ed5\"}"
  recorded_at: Thu, 15 May 2014 20:31:09 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/fa3e2827-7376-46e7-a8e2-3915a9b83b5a/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="b3t1oDL4hKEUgIaHsYcWbCt0t82jtzUrNBXNxIVG5Nw", oauth_signature="SRafMWpmv1NgXv2ZeJ%2FI5TTE%2FUc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185871", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/fa3e2827-7376-46e7-a8e2-3915a9b83b5a/\", \"task_id\": \"fa3e2827-7376-46e7-a8e2-3915a9b83b5a\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:31:11Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:11Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-15T21:31:11+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-15T21:31:11+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"5375240f86d9a932edcb270e\", \"result\": \"success\"}, \"error\": null, \"_id\": {\"$oid\": \"5375240e3c307ec505e86124\"}, \"id\": \"5375240e86d9a932edcb270c\"}"
  recorded_at: Thu, 15 May 2014 20:31:11 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/c3033312-cb61-4525-88a2-b60c68225b80/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="j5ywSYC4LbOSGaSHVol1TIsaz3NIuvw0gJvJQAP6Dg", oauth_signature="r3suHnaUOwyCO8l1J5EFtc8OnUQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185871", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/c3033312-cb61-4525-88a2-b60c68225b80/\", \"task_id\": \"c3033312-cb61-4525-88a2-b60c68225b80\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:31:11Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:11Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 0, \"description\": \"\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"publish_repo_metadata\", \"num_processed\": 0}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"distribution\", \"num_processed\": 1}, {\"num_success\": 8, \"description\": \"Publishing RPMs\", \"items_total\": 8, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"rpms\", \"num_processed\": 8}, {\"num_success\": 0, \"description\": \"Publishing Delta RPMs\", \"items_total\": 0, [...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/distribution/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"ks-Test Family-TestVariant-16-x86_64\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="j3pHJC4dr65t534zzmyTkF1lMiu17FQ9gCIsZxpIg", oauth_signature="FI0D4tRFs14h8on9TQ4diag6zRk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185871", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"files\": [{\"checksumtype\": \"sha256\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"fileName\": \"test2.img\", \"downloadurl\": \"file:///var/www/test_repos/zoo/images/test2.img\", \"item_type\": \"distribution\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/tmpmbMOAz/tmp2UcAu1/images/test2.img\", \"relativepath\": \"images/test2.img\", \"filename\": \"test2.img\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/images\", \"size\": null}, {\"checksumtype\": \"sha256\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"fileName\": \"empty.iso\", \"downloadurl\": \"file:///var/www/test_repos/zoo/empty.iso\", \"item_type\": \"distribution\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/tmpmbMOAz/tmp2UcAu1/empty.iso\", \"relativepath\": \"empty.iso\", \"filename\": \"empty.iso\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/\", \"size\": null}, {\"checksumtype\": \"sha256\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"fileName\": \"test1.img\", \"downloadurl\": \"file:///var/www/test_repos/zoo/images/test1.img\", \"item_type\": \"distribution\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/tmpmbMOAz/tmp2UcAu1/images/test1.img\", \"relativepath\": \"images/test1.img\", \"filename\": \"test1.img\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/images\", \"size\": null}], \"_storage_path\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64\", \"_href\": \"/pulp/api/v2/content/units/distribution/7016a58a-ae47-4212-9b14-d423dc0f0af8/\", \"family\": \"Test Family\", \"_last_updated\": \"2014-05-15T20:31:10Z\", \"packagedir\": \"\", \"variant\": \"TestVariant\", \"repository_memberships\": [\"1\"], \"children\": {}, \"version\": \"16\", \"version_sort_index\": \"02-16\", \"_content_type_id\": \"distribution\", \"_id\": \"7016a58a-ae47-4212-9b14-d423dc0f0af8\", \"arch\": \"x86_64\", \"id\": \"ks-Test Family-TestVariant-16-x86_64\"}]"
  recorded_at: Thu, 15 May 2014 20:31:11 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="bHvdB5yxXdpIl5f0r2ZQOZUfrponqzmxqA0MOOOYrs", oauth_signature="AsVvWHCpOAnsRgDEE9lZI4k83%2Bw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185873", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5375241186d9a9321e2b931c\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:31:13 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="sZsPAD8VUPYEiOeqsnqac2pmR4BaPizKklQuxoCKg", oauth_signature="3omd1QKLxJL9YQ2vEBAQHO5Y3MI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185873", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/4fb3e473-588c-4c7e-a3e0-387bfc8a6e9f/\", \"task_id\": \"4fb3e473-588c-4c7e-a3e0-387bfc8a6e9f\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:13 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="joQgJE4rBYSC3MoVPqNjdpXAvbsAU3kfM14kDjUWkag", oauth_signature="pl%2B3CUnonW24cNZSihD3N2cONM0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185876", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/aa870908-7716-4c05-8be9-a274c71e72a9/\", \"task_id\": \"aa870908-7716-4c05-8be9-a274c71e72a9\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:16 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/aa870908-7716-4c05-8be9-a274c71e72a9/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="H8MHfHOIrfSUEkiTEWibZWtYYVR2zCllwsCztwUE", oauth_signature="Jg20xFEU2onw%2FbiraLVljtenCA0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185876", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/aa870908-7716-4c05-8be9-a274c71e72a9/\", \"task_id\": \"aa870908-7716-4c05-8be9-a274c71e72a9\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-15T20:31:16Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:16Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524143c307ec505e8612a\"}, \"id\": \"5375241486d9a9321d8e0edb\"}"
  recorded_at: Thu, 15 May 2014 20:31:16 GMT
recorded_with: VCR 2.9.0
