--- 
http_interactions: 
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/d9df5420-8889-40d5-aa7a-efbb2106fe00/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="56wfxPwEeNfVWU30qefpzr4sak3D4WwIQeRu10g", oauth_signature="6QB0iXHNW3gdj8z8XQdBlm%2FLmQM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308532", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/d9df5420-8889-40d5-aa7a-efbb2106fe00/\", \"task_id\": \"d9df5420-8889-40d5-aa7a-efbb2106fe00\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:48:52Z\", \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"_id\": {\"$oid\": \"5367c0f4c552ed9bd4e4dab1\"}}"
  recorded_at: Mon, 05 May 2014 16:48:52 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/d9df5420-8889-40d5-aa7a-efbb2106fe00/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="SXKhR6YgW8dIH2FGQV1jF7xWZLPST9ekCTFYTZP8", oauth_signature="Rx3KZoCJL9WA%2FDcphsqpD%2FiUuRI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308534", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/d9df5420-8889-40d5-aa7a-efbb2106fe00/\", \"task_id\": \"d9df5420-8889-40d5-aa7a-efbb2106fe00\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": \"2014-05-05T16:48:53Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:48:53Z\", \"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/1c128754-713e-4bd2-92ea-aef5450ff882/\", \"task_id\": \"1c128754-713e-4bd2-92ea-aef5450ff882\"}, {\"_href\": \"/pulp/api/v2/tasks/ded9fce1-a9bc-46c7-8c95-c9813eb456f3/\", \"task_id\": \"ded9fce1-a9bc-46c7-8c95-c9813eb456f3\"}], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"importer_type_id\": \"yum_importer\", \"importer_id\": \"yum_importer\", \"exception\": null, \"repo_id\": \"1\", \"removed_count\": 0, \"started\": \"2014-05-05T17:48:52+01:00\", \"_ns\": \"repo_sync_results\", \"completed\": \"2014-05-05T17:48:52+01:00\", \"traceback\": null, \"summary\": {\"content\": {\"state\": \"FINISHED\"}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"added_count\": 0, \"error_message\": null, \"updated_count\": 14, \"details\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"id\": \"5367c0f486d9a910c84ab65e\", \"result\": \"success\"}, \"_id\": {\"$oid\": \"5367c0f4c552ed9bd4e4dab1\"}}"
  recorded_at: Mon, 05 May 2014 16:48:54 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/1c128754-713e-4bd2-92ea-aef5450ff882/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="KFJHipqtnJ4vWh3lmdDoHoPz6X0xPmCjjGR4e6dni8A", oauth_signature="UmhBn2kAaAUXGdh6VhbhM7zOdGc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308534", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/1c128754-713e-4bd2-92ea-aef5450ff882/\", \"task_id\": \"1c128754-713e-4bd2-92ea-aef5450ff882\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-05T16:48:53Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:48:53Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-05T17:48:53+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-05T17:48:53+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"5367c0f586d9a910c84ab65f\", \"result\": \"success\"}, \"_id\": {\"$oid\": \"5367c0f5c552ed9bd4e4dab2\"}}"
  recorded_at: Mon, 05 May 2014 16:48:54 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/ded9fce1-a9bc-46c7-8c95-c9813eb456f3/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="0x5Mtvd42uOn53ITgjlU23qIZfpI79C4oJtJziK0mTs", oauth_signature="0TDU26QxG%2B8pQPEaYOBUH4MIqkE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308534", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/ded9fce1-a9bc-46c7-8c95-c9813eb456f3/\", \"task_id\": \"ded9fce1-a9bc-46c7-8c95-c9813eb456f3\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-05T16:48:54Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:48:53Z\", \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 0, \"description\": \"\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"publish_repo_metadata\", \"num_processed\": 0}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"distribution\", \"num_processed\": 1}, {\"num_success\": 8, \"description\": \"Publishing RPMs\", \"items_total\": 8, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"rpms\", \"num_processed\": 8}, {\"num_success\": 0, \"description\": \"Publishing Delta RPMs\", \"items_total\": 0, [...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/distribution/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"id\":{\"$in\":[\"ks-Test Family-TestVariant-16-x86_64\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="TnRAjLoOQ3lAuBrrIztPGtJMFSM1QwD0XIwWD96oVg", oauth_signature="ILgJguWqzrDDJWuEOOphq9tyhAk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308534", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"files\": [{\"checksumtype\": \"sha256\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"fileName\": \"test2.img\", \"downloadurl\": \"file:///var/www/test_repos/zoo/images/test2.img\", \"item_type\": \"distribution\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/tmpro8dVT/tmpt8TtkL/images/test2.img\", \"relativepath\": \"images/test2.img\", \"filename\": \"test2.img\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/images\", \"size\": null}, {\"checksumtype\": \"sha256\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"fileName\": \"empty.iso\", \"downloadurl\": \"file:///var/www/test_repos/zoo/empty.iso\", \"item_type\": \"distribution\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/tmpro8dVT/tmpt8TtkL/empty.iso\", \"relativepath\": \"empty.iso\", \"filename\": \"empty.iso\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/\", \"size\": null}, {\"checksumtype\": \"sha256\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"fileName\": \"test1.img\", \"downloadurl\": \"file:///var/www/test_repos/zoo/images/test1.img\", \"item_type\": \"distribution\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/tmpro8dVT/tmpt8TtkL/images/test1.img\", \"relativepath\": \"images/test1.img\", \"filename\": \"test1.img\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/images\", \"size\": null}], \"_storage_path\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64\", \"_href\": \"/pulp/api/v2/content/units/distribution/c89d897d-9dd2-4395-9a52-5a75ec9589a8/\", \"family\": \"Test Family\", \"_last_updated\": \"2014-05-05T16:48:52Z\", \"packagedir\": \"\", \"variant\": \"TestVariant\", \"repository_memberships\": [\"1\"], \"children\": {}, \"version\": \"16\", \"version_sort_index\": \"02-16\", \"_content_type_id\": \"distribution\", \"_id\": \"c89d897d-9dd2-4395-9a52-5a75ec9589a8\", \"arch\": \"x86_64\", \"id\": \"ks-Test Family-TestVariant-16-x86_64\"}]"
  recorded_at: Mon, 05 May 2014 16:48:54 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Gh3VKyQ3et7w3Nj1FcyF16tv5qYbOURgY2VOPEqDVlg", oauth_signature="rgPKSFj8J6Mwkb0puKsqcJxGRuU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308535", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5367c0f786d9a90f982f7fa1\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 05 May 2014 16:48:55 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="JTuXiKkEkHhfOA9r1c9SUv02XUlak1m1VurHDD3Lg8", oauth_signature="BiC%2BbsbZ3XDhotZFeD0D0jo1GxU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308536", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/bd0f5834-30d7-4cfd-8a65-21f65713480c/\", \"task_id\": \"bd0f5834-30d7-4cfd-8a65-21f65713480c\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:48:56 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QDt6rbOFoot9s6Aj8IYg0MO2wQiSjGmSILWqng", oauth_signature="aCd7IK%2BoWPRXEjDcpTzyJzdGibI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308538", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/68b2899d-f345-488f-bdb5-745c73d2197c/\", \"task_id\": \"68b2899d-f345-488f-bdb5-745c73d2197c\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:48:59 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/68b2899d-f345-488f-bdb5-745c73d2197c/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="xjvM66cFoKp60i9uP2KbOaZbXvh2lvY5ehIf1HDsHw", oauth_signature="QFAoMVduRewnn1Ls1X3YLK0Y8hY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308539", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/68b2899d-f345-488f-bdb5-745c73d2197c/\", \"task_id\": \"68b2899d-f345-488f-bdb5-745c73d2197c\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-05T16:48:59Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:48:59Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"_id\": {\"$oid\": \"5367c0fbc552ed9bd4e4dab8\"}}"
  recorded_at: Mon, 05 May 2014 16:48:59 GMT
recorded_with: VCR 2.9.0
