--- 
http_interactions: 
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/034c0880-dd60-46dd-a925-fbeab6a1d643/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="s5KCKzMGY0AeGuvRHB21PhMSbKUi7tKKy8RwNVDZ9Ac", oauth_signature="EMGpRpr7nd%2BGEzQNSS7eKewI19Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308540", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/034c0880-dd60-46dd-a925-fbeab6a1d643/\", \"task_id\": \"034c0880-dd60-46dd-a925-fbeab6a1d643\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:00Z\", \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"_id\": {\"$oid\": \"5367c0fcc552ed9bd4e4dab9\"}}"
  recorded_at: Mon, 05 May 2014 16:49:00 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/034c0880-dd60-46dd-a925-fbeab6a1d643/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Ns9AW4dDez75YapfJ2pw9eMbEb1VR5wlUlGRTNs8fZM", oauth_signature="2wpytSnQKFHAKeT9jOHGecrQfK4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308542", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/034c0880-dd60-46dd-a925-fbeab6a1d643/\", \"task_id\": \"034c0880-dd60-46dd-a925-fbeab6a1d643\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": \"2014-05-05T16:49:01Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:01Z\", \"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/a86f07e1-d8f1-4214-b99e-18fcbb4d6484/\", \"task_id\": \"a86f07e1-d8f1-4214-b99e-18fcbb4d6484\"}, {\"_href\": \"/pulp/api/v2/tasks/aaa318db-ac3d-4040-bdad-40665c68b06c/\", \"task_id\": \"aaa318db-ac3d-4040-bdad-40665c68b06c\"}], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"importer_type_id\": \"yum_importer\", \"importer_id\": \"yum_importer\", \"exception\": null, \"repo_id\": \"1\", \"removed_count\": 0, \"started\": \"2014-05-05T17:49:00+01:00\", \"_ns\": \"repo_sync_results\", \"completed\": \"2014-05-05T17:49:00+01:00\", \"traceback\": null, \"summary\": {\"content\": {\"state\": \"FINISHED\"}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"added_count\": 0, \"error_message\": null, \"updated_count\": 14, \"details\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"id\": \"5367c0fc86d9a910c84ab696\", \"result\": \"success\"}, \"_id\": {\"$oid\": \"5367c0fcc552ed9bd4e4dab9\"}}"
  recorded_at: Mon, 05 May 2014 16:49:02 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/a86f07e1-d8f1-4214-b99e-18fcbb4d6484/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6sU2wzY9fG3E90gW1wN3ZoODoJTcPN0mnFlb4tXaw", oauth_signature="EKOT3%2B%2B9wGqqFNT0T6t8Ko6XK9k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308542", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/a86f07e1-d8f1-4214-b99e-18fcbb4d6484/\", \"task_id\": \"a86f07e1-d8f1-4214-b99e-18fcbb4d6484\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-05T16:49:01Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:01Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-05T17:49:01+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-05T17:49:01+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"5367c0fd86d9a910c84ab697\", \"result\": \"success\"}, \"_id\": {\"$oid\": \"5367c0fdc552ed9bd4e4daba\"}}"
  recorded_at: Mon, 05 May 2014 16:49:02 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/aaa318db-ac3d-4040-bdad-40665c68b06c/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="75TXcjPITf9XrEezuI5STCP1DHYz7NnssfdFrqd6Sk", oauth_signature="VEocnmgpNEJevTeAO6gAkiHSpwI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308542", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/aaa318db-ac3d-4040-bdad-40665c68b06c/\", \"task_id\": \"aaa318db-ac3d-4040-bdad-40665c68b06c\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-05T16:49:01Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:01Z\", \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 0, \"description\": \"\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"publish_repo_metadata\", \"num_processed\": 0}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"distribution\", \"num_processed\": 1}, {\"num_success\": 8, \"description\": \"Publishing RPMs\", \"items_total\": 8, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"rpms\", \"num_processed\": 8}, {\"num_success\": 0, \"description\": \"Publishing Delta RPMs\", \"items_total\": 0, [...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"559c0dac-18ee-4dda-aad9-81c1c7935bce\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="pWfG98HYQQKzB3uZGUxVXgmP7xJ0gi1WkTNzBCHPUr8", oauth_signature="pXqpUC%2BzZ7zVOhWk6f59P26DJ88%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308542", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"repository_memberships\": [\"1\"], \"_href\": \"/pulp/api/v2/content/units/erratum/559c0dac-18ee-4dda-aad9-81c1c7935bce/\", \"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"One package errata\", \"children\": {}, \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"sum\": null, \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"_last_updated\": \"2014-05-05T16:49:00Z\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"559c0dac-18ee-4dda-aad9-81c1c7935bce\"}]"
  recorded_at: Mon, 05 May 2014 16:49:02 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="yMgga3IQu6lqXqtzzbywlIEVwVy3YYdO1ycg0rzIXfk", oauth_signature="%2FCqFeBghMzNEy678toIFtT99BAc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308543", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5367c10086d9a90f982f7fb4\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 05 May 2014 16:49:04 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="aYMo1SquyIbP8N3KiKgg93tyA06dTIAGix7GjdtQ", oauth_signature="7fYP7aPF%2B4AuP2MIcss8RJZOk70%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308544", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/5e67a700-e247-4493-910c-68f742dc2333/\", \"task_id\": \"5e67a700-e247-4493-910c-68f742dc2333\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:49:04 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="4u39qgWDuVFsLfr0u3cdgeQHsh2e5slsyaX7RlpYo8", oauth_signature="ssQN8fr7HxyyECNWIbIvDXtQanA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308546", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"metadata\": {\"_id\": \"e0c629b9-8c5c-468f-9937-e3ca060911d2\", \"_content_type_id\": \"erratum\"}, \"_id\": {\"$oid\": \"5367c10186d9a910c84ab6ad\"}, \"unit_id\": \"e0c629b9-8c5c-468f-9937-e3ca060911d2\", \"unit_type_id\": \"erratum\"}, {\"metadata\": {\"_id\": \"559c0dac-18ee-4dda-aad9-81c1c7935bce\", \"_content_type_id\": \"erratum\"}, \"_id\": {\"$oid\": \"5367c10186d9a910c84ab6ae\"}, \"unit_id\": \"559c0dac-18ee-4dda-aad9-81c1c7935bce\", \"unit_type_id\": \"erratum\"}]"
  recorded_at: Mon, 05 May 2014 16:49:06 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="i9rv7n1qXGL5aMRtTMvMwb8eQ5YrXvH94zRkAGyDXY", oauth_signature="lTQpXg1lqfzEmmB2rP%2B%2B7UBDlSo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308546", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/212ef4dc-7ddc-4e49-ab37-4c3c25a2346a/\", \"task_id\": \"212ef4dc-7ddc-4e49-ab37-4c3c25a2346a\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:49:07 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/212ef4dc-7ddc-4e49-ab37-4c3c25a2346a/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Hj7RIPEGvwyA1KEGaYBFEL8ovGDcOQK9N39ggV8vcu0", oauth_signature="HR4UdyNve3OyRp9DnRBur4RQxMw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308547", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/212ef4dc-7ddc-4e49-ab37-4c3c25a2346a/\", \"task_id\": \"212ef4dc-7ddc-4e49-ab37-4c3c25a2346a\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-05T16:49:07Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:07Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"_id\": {\"$oid\": \"5367c103c552ed9bd4e4dac0\"}}"
  recorded_at: Mon, 05 May 2014 16:49:07 GMT
recorded_with: VCR 2.9.0
