--- 
http_interactions: 
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/4d5c3558-3c32-4626-8aa8-2147e1ad1de2/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Rzqlks0jiDZlzAl2fhi7QuathjVzU9oOgCByYbRk", oauth_signature="EoJXEMRv6dKM96BlWsZtRVz6aAs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185877", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/4d5c3558-3c32-4626-8aa8-2147e1ad1de2/\", \"task_id\": \"4d5c3558-3c32-4626-8aa8-2147e1ad1de2\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:17Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524153c307ec505e8612b\"}, \"id\": \"5375241586d9a9321c14a601\"}"
  recorded_at: Thu, 15 May 2014 20:31:17 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/a1dfc6fd-48d6-4b02-abda-71487d9282f7/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="4X3TqKRM6AYJX8HFM2eawch5Wcvy0z4WwYBOXtfcos", oauth_signature="kPrBTjvIJFLKkdP9Q9kREEomYuI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185879", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/a1dfc6fd-48d6-4b02-abda-71487d9282f7/\", \"task_id\": \"a1dfc6fd-48d6-4b02-abda-71487d9282f7\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:31:19Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:19Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-15T21:31:19+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-15T21:31:19+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"5375241786d9a932edcb274a\", \"result\": \"success\"}, \"error\": null, \"_id\": {\"$oid\": \"537524163c307ec505e8612c\"}, \"id\": \"5375241686d9a932edcb2748\"}"
  recorded_at: Thu, 15 May 2014 20:31:19 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/bb773b4b-ce59-483c-ba91-20f9da613e96/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="uvfuO8hkJDa6m3i6qMWoMpSorkfMVIxWSCrYzCdrK8", oauth_signature="qibALDLAeO9WDkPx%2B04spWUA0A4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185879", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/bb773b4b-ce59-483c-ba91-20f9da613e96/\", \"task_id\": \"bb773b4b-ce59-483c-ba91-20f9da613e96\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:31:19Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:19Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 0, \"description\": \"\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"publish_repo_metadata\", \"num_processed\": 0}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"distribution\", \"num_processed\": 1}, {\"num_success\": 8, \"description\": \"Publishing RPMs\", \"items_total\": 8, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"rpms\", \"num_processed\": 8}, {\"num_success\": 0, \"description\": \"Publishing Delta RPMs\", \"items_total\": 0, [...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"5a8d9788-6a7d-4ac7-a88e-60715b379376\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="znDcuENvpsvuiUkvk9Gz3DboNtrYYQHAiUCh3Vs6A", oauth_signature="I%2BmpSwv81vFRKJ1DkJ%2FsHnpMFMs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185880", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"repository_memberships\": [\"1\"], \"_href\": \"/pulp/api/v2/content/units/erratum/5a8d9788-6a7d-4ac7-a88e-60715b379376/\", \"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"One package errata\", \"children\": {}, \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"sum\": null, \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"_last_updated\": \"2014-05-15T20:31:18Z\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"5a8d9788-6a7d-4ac7-a88e-60715b379376\"}]"
  recorded_at: Thu, 15 May 2014 20:31:20 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="SadjGDUyUcJkkpDlu6bjFbRad4fmO0PvU0WQDlEcU", oauth_signature="sb71IOMVF7WX2meg%2BmQiNDqIA1w%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185881", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5375241986d9a9321d8e0ee3\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:31:21 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="P9RNu32uxrATDn9pJVhbb5Z832Lqki67J5zDkCRxYv0", oauth_signature="A8LeKEr7b253zZ%2FjTueKzy5aogE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185881", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/ec759810-34a7-41b5-bea6-c2a9a2a95d06/\", \"task_id\": \"ec759810-34a7-41b5-bea6-c2a9a2a95d06\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:22 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Bd6oYnWW8Neth0s8CqcY1s9rAbLuDSqBLgXtQmSiu1A", oauth_signature="cLsfymMACgdTKc%2BKuG5P3MlktUY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185884", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"metadata\": {\"_id\": \"496c2789-e10f-4c65-8cfd-dc7adcff1529\", \"_content_type_id\": \"erratum\"}, \"_id\": {\"$oid\": \"5375241a86d9a932edcb2760\"}, \"unit_id\": \"496c2789-e10f-4c65-8cfd-dc7adcff1529\", \"unit_type_id\": \"erratum\"}, {\"metadata\": {\"_id\": \"5a8d9788-6a7d-4ac7-a88e-60715b379376\", \"_content_type_id\": \"erratum\"}, \"_id\": {\"$oid\": \"5375241a86d9a932edcb2761\"}, \"unit_id\": \"5a8d9788-6a7d-4ac7-a88e-60715b379376\", \"unit_type_id\": \"erratum\"}]"
  recorded_at: Thu, 15 May 2014 20:31:24 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6OeZg9cSbWAtuEFkPE1gr9uTXSjWbnmtE8GSE2mng0", oauth_signature="qcwFbbpb0IIbCwKkHfMksE0adRs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185884", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/5797126e-a07d-4e20-b9c7-43855a5be88d/\", \"task_id\": \"5797126e-a07d-4e20-b9c7-43855a5be88d\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:25 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/5797126e-a07d-4e20-b9c7-43855a5be88d/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="mBrjfZtvKghGzE3G4Tz7kP6L9uGmY7wHVI2Q9G37R4", oauth_signature="PcXz%2BRZ%2FCQX9zX8gEYeP8V1YCu8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185885", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/5797126e-a07d-4e20-b9c7-43855a5be88d/\", \"task_id\": \"5797126e-a07d-4e20-b9c7-43855a5be88d\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-15T20:31:25Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:25Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"5375241d3c307ec505e86132\"}, \"id\": \"5375241d86d9a9321d8e0ef5\"}"
  recorded_at: Thu, 15 May 2014 20:31:25 GMT
recorded_with: VCR 2.9.0
