--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/9165c5dc-8272-48f9-8e5b-ff0cd5823d6c/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QmjmOfHqsP178v3tDHXyGZSg3UlnBQCkBYl3LQTqYE", oauth_signature="YLQyBy6b1WPa1VOZDHYEPN1DxFY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081677", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"e91b7ba6-36ff-47e8-8662-8c369471c9e2\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/9165c5dc-8272-48f9-8e5b-ff0cd5823d6c/\", \"task_id\": \"9165c5dc-8272-48f9-8e5b-ff0cd5823d6c\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-09-13T14:14:37Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"e91b7ba6-36ff-47e8-8662-8c369471c9e2\", \"call_request_id\": \"9165c5dc-8272-48f9-8e5b-ff0cd5823d6c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 13 Sep 2013 14:14:37 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"b3a98974-b6d0-4087-9002-b4fa30aa59ab\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="uJl0iRZpqP1FI6e7MJUJOF5Usjn6Emm5IS3WrbrNqo", oauth_signature="huoa2XApsTkXSLorYysic%2BEvK2k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081693", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"sum\": null, \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"b3a98974-b6d0-4087-9002-b4fa30aa59ab\", \"_href\": \"/pulp/api/v2/content/units/erratum/b3a98974-b6d0-4087-9002-b4fa30aa59ab/\", \"children\": {}, \"repository_memberships\": [\"1\", \"test_scenario_org-publish_test_product-publish_test_repo\"]}]"
  recorded_at: Fri, 13 Sep 2013 14:14:54 GMT
[...]
- request: 
    method: get
    uri: https://localhost/pulp/api/v2/tasks/d1ccb0ab-7bc2-406e-96f1-a798421271f7/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="NIzKLFNjz7jaOLs8TG1pHI88CCxxdfMq9VamfTDZjDw", oauth_signature="EWOVqHXjzriipzyl9mXrWi37vCo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379703206", oauth_version="1.0"
      Pulp-User[...]
[...]
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"447dbf11-3137-415b-bc9e-6f6155dc8b9e\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="J6f7nPQiezIUEiImp2TuHfNaqUtRcMrKyEFR4yPUk", oauth_signature="r9rxqV7ld3dpcSm2kEfJD%2B9br34%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379703223", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"One package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"sum\": null, \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"_last_updated\": \"2013-09-20T18:53:27Z\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"447dbf11-3137-415b-bc9e-6f6155dc8b9e\", \"_href\": \"/pulp/api/v2/content/units/erratum/447dbf11-3137-415b-bc9e-6f6155dc8b9e/\", \"children\": {}, \"repository_memberships\": [\"1\", \"ACME_Corporation-Zooshop-zoo\", \"ACME_Corporation-Library-RHEL7-1-Zooshop-zoo\", \"ACME_Corporation-WatsonDB-ks\", \"ACME_Corporation-Zooshop-zoo_ks2\"]}]"
  recorded_at: Fri, 20 Sep 2013 18:53:43 GMT
[...]
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="lglsB5Qp1lbRyMYQ555WgiULJPk6Wjd4mXWDFd6lWSY", oauth_signature="t0UdrxbRZMo4ozWmt8zWYI%2BKsc8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379703223", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"523c99b7d60ea336491b03a6\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 20 Sep 2013 18:53:43 GMT
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="t9yL42TD2jcyCmgwbcEwGUIw6c9dlTCYt8wKHby9QSg", oauth_signature="D7fSfiujqNaMsdO%2FAMIXuIz89AM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379703223", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      [...]
[...]
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="UWsqRkwfSq313u7HSeD2S7beGsua0ONAHtdOnVkHk", oauth_signature="JSFNxmeBHWeQaNMTvqjFy5ldv6k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379703240", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_id\": {\"$oid\": \"523c99b8d60ea336491b03cb\"}, \"unit_id\": \"3ff1c11a-edef-4952-99fe-5b01bef8c046\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"3ff1c11a-edef-4952-99fe-5b01bef8c046\"}}, {\"_id\": {\"$oid\": \"523c99b8d60ea336491b03cc\"}, \"unit_id\": \"447dbf11-3137-415b-bc9e-6f6155dc8b9e\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"447dbf11-3137-415b-bc9e-6f6155dc8b9e\"}}, {\"_id\": {\"$oid\": \"523c99b8d60ea336491b03cd\"}, \"unit_id\": \"ef681a29-7882-4e7a-9d2e-a821c1a48f51\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"ef681a29-7882-4e7a-9d2e-a821c1a48f51\"}}]"
  recorded_at: Fri, 20 Sep 2013 18:54:00 GMT
[...]
- request: 
    method: delete
    uri: https://localhost/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="2r5X6Ac0O9PBw27kUQAxBOtMUl9HFFWJ7r77bslI500", oauth_signature="TofMsVIqqjQYuU2YfQAfym3r1Mo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379703240", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"1d358e61-d45f-4331-be79-0217ac177352\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/1d358e61-d45f-4331-be79-0217ac177352/\", \"task_id\": \"7cbcba76-f011-4139-a0d7-d9f8e5bd965e\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"1d358e61-d45f-4331-be79-0217ac177352\", \"call_request_id\": \"7cbcba76-f011-4139-a0d7-d9f8e5bd965e\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 20 Sep 2013 18:54:00 GMT
recorded_with: VCR 2.5.0
