--- 
http_interactions: 
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/97652511-316c-42a7-bbbb-3a69474e5fc8/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="OkK9dnThaexQwr9KLcWYcdzQvY7Oq3RFMsCHeXVs", oauth_signature="haC176rsbG%2FKg8y1UlJB5f4aMJA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308548", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/97652511-316c-42a7-bbbb-3a69474e5fc8/\", \"task_id\": \"97652511-316c-42a7-bbbb-3a69474e5fc8\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:08Z\", \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"_id\": {\"$oid\": \"5367c104c552ed9bd4e4dac1\"}}"
  recorded_at: Mon, 05 May 2014 16:49:08 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/97652511-316c-42a7-bbbb-3a69474e5fc8/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="7LxvqdEnklzW4hIFzPuM7BoyH8HhycDT0PX3qffZ3A", oauth_signature="KsvbI7BefEsmsX4Z%2B3EK9KhKKng%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308550", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/97652511-316c-42a7-bbbb-3a69474e5fc8/\", \"task_id\": \"97652511-316c-42a7-bbbb-3a69474e5fc8\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": \"2014-05-05T16:49:09Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:09Z\", \"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/f5dd74ab-4c8e-47d8-b36b-b96b2156c2b3/\", \"task_id\": \"f5dd74ab-4c8e-47d8-b36b-b96b2156c2b3\"}, {\"_href\": \"/pulp/api/v2/tasks/40aeacd5-75e4-4ac1-a005-f1fa93ea73c0/\", \"task_id\": \"40aeacd5-75e4-4ac1-a005-f1fa93ea73c0\"}], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"importer_type_id\": \"yum_importer\", \"importer_id\": \"yum_importer\", \"exception\": null, \"repo_id\": \"1\", \"removed_count\": 0, \"started\": \"2014-05-05T17:49:08+01:00\", \"_ns\": \"repo_sync_results\", \"completed\": \"2014-05-05T17:49:08+01:00\", \"traceback\": null, \"summary\": {\"content\": {\"state\": \"FINISHED\"}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"added_count\": 0, \"error_message\": null, \"updated_count\": 14, \"details\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"id\": \"5367c10486d9a910c84ab6ce\", \"result\": \"success\"}, \"_id\": {\"$oid\": \"5367c104c552ed9bd4e4dac1\"}}"
  recorded_at: Mon, 05 May 2014 16:49:10 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/f5dd74ab-4c8e-47d8-b36b-b96b2156c2b3/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="4uPoOqKNeX57kjUKL1XukaSFy3b6Ku3kHMSNlwnck", oauth_signature="xO7WP6Rii1znlCQ7HnjFeiwqmCU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308550", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/f5dd74ab-4c8e-47d8-b36b-b96b2156c2b3/\", \"task_id\": \"f5dd74ab-4c8e-47d8-b36b-b96b2156c2b3\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-05T16:49:10Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:10Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-05T17:49:10+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-05T17:49:10+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"5367c10686d9a910c84ab6cf\", \"result\": \"success\"}, \"_id\": {\"$oid\": \"5367c105c552ed9bd4e4dac2\"}}"
  recorded_at: Mon, 05 May 2014 16:49:10 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/40aeacd5-75e4-4ac1-a005-f1fa93ea73c0/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RCooJmnyV9VZeLLdG6GSm0XwW04CjEBbbEiCBVWsXc", oauth_signature="mV2hkTH9prf0WnSXXTKOBmTRY60%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308550", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/40aeacd5-75e4-4ac1-a005-f1fa93ea73c0/\", \"task_id\": \"40aeacd5-75e4-4ac1-a005-f1fa93ea73c0\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-05T16:49:10Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:10Z\", \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 0, \"description\": \"\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"publish_repo_metadata\", \"num_processed\": 0}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"distribution\", \"num_processed\": 1}, {\"num_success\": 8, \"description\": \"Publishing RPMs\", \"items_total\": 8, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"rpms\", \"num_processed\": 8}, {\"num_success\": 0, \"description\": \"Publishing Delta RPMs\", \"items_total\": 0, [...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/rpm/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"1a905f32-bd29-4453-b57b-98d7c47a775d\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="CbzZlGl5Ne3vdaTkPNY7rqw99CsczjEcScfEPd80", oauth_signature="SSkY7cSL5yg9tC8vwzsde39Y40k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308550", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"repository_memberships\": [\"1\"], \"_href\": \"/pulp/api/v2/content/units/rpm/1a905f32-bd29-4453-b57b-98d7c47a775d/\", \"build_time\": 1308257414, \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"_content_type_id\": \"rpm\", \"vendor\": null, \"children\": {}, \"size\": 2236, \"group\": \"Internet/Applications\", \"relative_url_path\": null, \"filename\": \"giraffe-0.3-0.8.noarch.rpm\", \"epoch\": \"0\", \"version\": \"0.3\", \"version_sort_index\": \"01-0.01-3\", \"provides\": [{\"release\": \"0.8\", \"epoch\": \"0\", \"version\": \"0.3\", \"flags\": \"EQ\", \"name\": \"giraffe\"}], \"files\": [], \"repodata\": {\"filelists\": \"<package arch=\\\"noarch\\\" name=\\\"giraffe\\\" pkgid=\\\"f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14\\\">\\n    <version epoch=\\\"0\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n\\n    <file>//giraffe.txt</file>\\n</package>\\n\\n\", \"other\": \"<package arch=\\\"noarch\\\" name=\\\"giraffe\\\" pkgid=\\\"f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14\\\">\\n    <version epoch=\\\"0\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n\\n</package>\\n\\n\", \"primary\": \"<package type=\\\"rpm\\\">\\n  <name>giraffe</name>\\n  <arch>noarch</arch>\\n  <version epoch=\\\"0\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n  <checksum pkgid=\\\"YES\\\" type=\\\"sha256\\\">f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14</checksum>\\n  <summary>A dummy package of giraffe</summary>\\n  <description>A dummy package of giraffe</description>\\n  <packager />\\n  <url>http://tstrachota.fedorapeople.org</url>\\n  <time build=\\\"1308257414\\\" file=\\\"1321891027\\\" />\\n  <size archive=\\\"292\\\" installed=\\\"42\\\" package=\\\"2236\\\" />\\n<location href=\\\"giraffe-0.3-0.8.noarch.rpm\\\" />\\n  <format>\\n    <rpm:license >GPLv2</rpm:license>\\n    <rpm:vendor />\\n    <rpm:group >Internet/Applications</rpm:group>\\n    <rpm:buildhost >dhcp-26-118.brq.redhat.com</rpm:buildhost>\\n    <rpm:sourcerpm >giraffe-0.3-0.8.src.rpm</rpm:sourcerpm>\\n    <rpm:header-range end=\\\"2016\\\" start=\\\"280\\\" />\\n    <rpm:provides >\\n      <rpm:entry epoch=\\\"0\\\" flags=\\\"EQ\\\" name=\\\"giraffe\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n    </rpm:provides>\\n    <rpm:requires >\\n      <rpm:entry name=\\\"/bin/sh\\\" pre=\\\"1\\\" />\\n    </rpm:requires>\\n  </format>\\n</package>\\n\"}, \"description\": \"A dummy package of giraffe\", \"_last_updated\": \"2014-05-05T16:49:08Z\", \"time\": 1321891027, \"header_range\": {\"start\": 280, \"end\": 2016}, \"release_sort_index\": \"01-0.01-8\", \"arch\": \"noarch\", \"name\": \"giraffe\", \"_storage_path\": \"/var/lib/pulp/content/rpm/giraffe/0.3/0.8/noarch/f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14/giraffe-0.3-0.8.noarch.rpm\", \"sourcerpm\": \"giraffe-0.3-0.8.src.rpm\", \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"changelog\": null, \"url\": \"http://tstrachota.fedorapeople.org\", \"relativepath\": \"giraffe-0.3-0.8.noarch.rpm\", \"summary\": \"A dummy package of giraffe\", \"checksum\": \"f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14\", \"release\": \"0.8\", \"_id\": \"1a905f32-bd29-4453-b57b-98d7c47a775d\", \"requires\": [{\"release\": null, \"epoch\": null, \"version\": null, \"flags\": null, \"name\": \"/bin/sh\"}]}]"
  recorded_at: Mon, 05 May 2014 16:49:10 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="42EKmO1BxOrlquZ0fsvg2ojuVLgCswU7rtFeSVYHD4", oauth_signature="swS6cWh%2FGrquhVwKZnKT1XrwLII%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308552", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5367c10886d9a90f982f7fcc\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 05 May 2014 16:49:12 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="1OxapSSezryfppfEtacamxvAskEuqC8cv6U0Y4gmVYI", oauth_signature="UmkIks%2BUjjvkvPqfytDhmU9hpQY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308552", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/ad58df21-aafa-43cb-8ca6-d077b58c22bb/\", \"task_id\": \"ad58df21-aafa-43cb-8ca6-d077b58c22bb\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:49:12 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="9J11BR3Or5ym3FaouIVTifN6H73VQAkZtreNqPJBDU", oauth_signature="khbMQZTMp1AvJGC13%2B3SvdNTE7k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308554", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"metadata\": {\"_id\": \"b45dfc90-7f25-44c8-aa8c-e236cfb0b0a6\", \"_content_type_id\": \"rpm\"}, \"_id\": {\"$oid\": \"5367c10986d9a910c84ab6df\"}, \"unit_id\": \"b45dfc90-7f25-44c8-aa8c-e236cfb0b0a6\", \"unit_type_id\": \"rpm\"}, {\"metadata\": {\"_id\": \"86ecd019-1b6d-45e2-b0f4-f1c7ec99f786\", \"_content_type_id\": \"rpm\"}, \"_id\": {\"$oid\": \"5367c10986d9a910c84ab6e0\"}, \"unit_id\": \"86ecd019-1b6d-45e2-b0f4-f1c7ec99f786\", \"unit_type_id\": \"rpm\"}, {\"metadata\": {\"_id\": \"1a905f32-bd29-4453-b57b-98d7c47a775d\", \"_content_type_id\": \"rpm\"}, \"_id\": {\"$oid\": \"5367c10986d9a910c84ab6e2\"}, \"unit_id\": \"1a905f32-bd29-4453-b57b-98d7c47a775d\", \"unit_type_id\": \"rpm\"}, {\"metadata\": {\"_id\"[...]
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Xza9HVwDOicmXHTmC0cOX00a28Hzz9EQiLvcqFAko", oauth_signature="IMpuDziCiGlVXnvTbjD3a9C4dnM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308554", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/5b3bfd54-c59f-44ad-a1c3-5404f9e184fc/\", \"task_id\": \"5b3bfd54-c59f-44ad-a1c3-5404f9e184fc\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:49:15 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/5b3bfd54-c59f-44ad-a1c3-5404f9e184fc/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="B2KnZU7S1smvSA2nWLRVws7VJ0C9HssVkgnHzX6Sm0", oauth_signature="VxsetqAF8t62fcCIdmGbqi1apbE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308555", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/5b3bfd54-c59f-44ad-a1c3-5404f9e184fc/\", \"task_id\": \"5b3bfd54-c59f-44ad-a1c3-5404f9e184fc\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-05T16:49:15Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:15Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"_id\": {\"$oid\": \"5367c10bc552ed9bd4e4dac8\"}}"
  recorded_at: Mon, 05 May 2014 16:49:15 GMT
recorded_with: VCR 2.9.0
