--- 
http_interactions: 
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/922423dd-442c-4872-87ce-4f81aeb6f835/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QPVVDMPcE03rrZfRFaiJr8v0uSttu0HIt9itR2VDo", oauth_signature="6Wl0T%2B2dOhQASk9ypd%2B8fCH%2FxQ4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185886", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/922423dd-442c-4872-87ce-4f81aeb6f835/\", \"task_id\": \"922423dd-442c-4872-87ce-4f81aeb6f835\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:26Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"5375241e3c307ec505e86133\"}, \"id\": \"5375241e86d9a9321c14a61f\"}"
  recorded_at: Thu, 15 May 2014 20:31:26 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/5577701c-f05f-4d55-b989-e77d9afb2e65/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="D3er6XQheXMRtNtDgtDHzZdMlQOOJVyfb81Rf2U34", oauth_signature="fYWn8lx9uyaobTnKzWh9Wumuss0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185888", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/5577701c-f05f-4d55-b989-e77d9afb2e65/\", \"task_id\": \"5577701c-f05f-4d55-b989-e77d9afb2e65\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:31:27Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:27Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-15T21:31:27+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-15T21:31:27+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"5375241f86d9a932edcb2786\", \"result\": \"success\"}, \"error\": null, \"_id\": {\"$oid\": \"5375241f3c307ec505e86134\"}, \"id\": \"5375241f86d9a932edcb2784\"}"
  recorded_at: Thu, 15 May 2014 20:31:28 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/9e4c9abb-8ef9-44f9-9a28-24915a894e49/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="iqLrksEkt9Na3bD8tcMfcQvQWrfZgjYTIRprmb4M", oauth_signature="acgwSqV%2FKXkBaEHzp0zrfggogwE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185888", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/9e4c9abb-8ef9-44f9-9a28-24915a894e49/\", \"task_id\": \"9e4c9abb-8ef9-44f9-9a28-24915a894e49\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:31:28Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:27Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 0, \"description\": \"\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"publish_repo_metadata\", \"num_processed\": 0}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"distribution\", \"num_processed\": 1}, {\"num_success\": 8, \"description\": \"Publishing RPMs\", \"items_total\": 8, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"rpms\", \"num_processed\": 8}, {\"num_success\": 0, \"description\": \"Publishing Delta RPMs\", \"items_total\": 0, [...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/rpm/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"119020da-c758-4ebb-850a-efa5a7ec41ae\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="qiQLwT2npebFSYG37CXJb5t9IoI3MBdSWXRBXrgk", oauth_signature="yjWcRcETyy7v8YTWZswE9aG0by0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185888", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"repository_memberships\": [\"1\"], \"_href\": \"/pulp/api/v2/content/units/rpm/119020da-c758-4ebb-850a-efa5a7ec41ae/\", \"build_time\": 1308257414, \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"_content_type_id\": \"rpm\", \"vendor\": null, \"children\": {}, \"size\": 2236, \"group\": \"Internet/Applications\", \"relative_url_path\": null, \"filename\": \"giraffe-0.3-0.8.noarch.rpm\", \"epoch\": \"0\", \"version\": \"0.3\", \"version_sort_index\": \"01-0.01-3\", \"provides\": [{\"release\": \"0.8\", \"epoch\": \"0\", \"version\": \"0.3\", \"flags\": \"EQ\", \"name\": \"giraffe\"}], \"files\": [], \"repodata\": {\"filelists\": \"<package arch=\\\"noarch\\\" name=\\\"giraffe\\\" pkgid=\\\"f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14\\\">\\n    <version epoch=\\\"0\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n\\n    <file>//giraffe.txt</file>\\n</package>\\n\\n\", \"other\": \"<package arch=\\\"noarch\\\" name=\\\"giraffe\\\" pkgid=\\\"f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14\\\">\\n    <version epoch=\\\"0\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n\\n</package>\\n\\n\", \"primary\": \"<package type=\\\"rpm\\\">\\n  <name>giraffe</name>\\n  <arch>noarch</arch>\\n  <version epoch=\\\"0\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n  <checksum pkgid=\\\"YES\\\" type=\\\"sha256\\\">f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14</checksum>\\n  <summary>A dummy package of giraffe</summary>\\n  <description>A dummy package of giraffe</description>\\n  <packager />\\n  <url>http://tstrachota.fedorapeople.org</url>\\n  <time build=\\\"1308257414\\\" file=\\\"1321891027\\\" />\\n  <size archive=\\\"292\\\" installed=\\\"42\\\" package=\\\"2236\\\" />\\n<location href=\\\"giraffe-0.3-0.8.noarch.rpm\\\" />\\n  <format>\\n    <rpm:license >GPLv2</rpm:license>\\n    <rpm:vendor />\\n    <rpm:group >Internet/Applications</rpm:group>\\n    <rpm:buildhost >dhcp-26-118.brq.redhat.com</rpm:buildhost>\\n    <rpm:sourcerpm >giraffe-0.3-0.8.src.rpm</rpm:sourcerpm>\\n    <rpm:header-range end=\\\"2016\\\" start=\\\"280\\\" />\\n    <rpm:provides >\\n      <rpm:entry epoch=\\\"0\\\" flags=\\\"EQ\\\" name=\\\"giraffe\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n    </rpm:provides>\\n    <rpm:requires >\\n      <rpm:entry name=\\\"/bin/sh\\\" pre=\\\"1\\\" />\\n    </rpm:requires>\\n  </format>\\n</package>\\n\"}, \"description\": \"A dummy package of giraffe\", \"_last_updated\": \"2014-05-15T20:31:26Z\", \"time\": 1321891027, \"header_range\": {\"start\": 280, \"end\": 2016}, \"release_sort_index\": \"01-0.01-8\", \"arch\": \"noarch\", \"name\": \"giraffe\", \"_storage_path\": \"/var/lib/pulp/content/rpm/giraffe/0.3/0.8/noarch/f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14/giraffe-0.3-0.8.noarch.rpm\", \"sourcerpm\": \"giraffe-0.3-0.8.src.rpm\", \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"changelog\": null, \"url\": \"http://tstrachota.fedorapeople.org\", \"relativepath\": \"giraffe-0.3-0.8.noarch.rpm\", \"summary\": \"A dummy package of giraffe\", \"checksum\": \"f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14\", \"release\": \"0.8\", \"_id\": \"119020da-c758-4ebb-850a-efa5a7ec41ae\", \"requires\": [{\"release\": null, \"epoch\": null, \"version\": null, \"flags\": null, \"name\": \"/bin/sh\"}]}]"
  recorded_at: Thu, 15 May 2014 20:31:28 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="eynUA9tnBwacabUWltNYdKOxV6m1DZKgX2bqEX8h4", oauth_signature="KJX%2FX%2BYLOUTHpoWrADtSD1a4IfI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185890", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5375242286d9a9321e2b9325\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:31:30 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="VMLqyErZTg3vbDldjlJeKZwwYpR3owLNRlv67xNvdGc", oauth_signature="iM2wV0UUb23JK5JX48%2F6VTZdBqA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185890", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/5349c94d-c330-48f2-a30d-0d61fc488fd5/\", \"task_id\": \"5349c94d-c330-48f2-a30d-0d61fc488fd5\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:30 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ImtDbec8LkWMCEx2XiKr4rfde7nynRdqToPfZ5LFMu0", oauth_signature="q5WsK4YUumF6Zk6%2FcX2QBAlN8nI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185892", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"metadata\": {\"_id\": \"9ffa825d-0d37-4766-a0c1-ae9ff4bc95a0\", \"_content_type_id\": \"rpm\"}, \"_id\": {\"$oid\": \"5375242386d9a932edcb2796\"}, \"unit_id\": \"9ffa825d-0d37-4766-a0c1-ae9ff4bc95a0\", \"unit_type_id\": \"rpm\"}, {\"metadata\": {\"_id\": \"59938619-d877-44a3-8ecf-614d7c91b1c0\", \"_content_type_id\": \"rpm\"}, \"_id\": {\"$oid\": \"5375242386d9a932edcb2797\"}, \"unit_id\": \"59938619-d877-44a3-8ecf-614d7c91b1c0\", \"unit_type_id\": \"rpm\"}, {\"metadata\": {\"_id\": \"119020da-c758-4ebb-850a-efa5a7ec41ae\", \"_content_type_id\": \"rpm\"}, \"_id\": {\"$oid\": \"5375242386d9a932edcb2799\"}, \"unit_id\": \"119020da-c758-4ebb-850a-efa5a7ec41ae\", \"unit_type_id\": \"rpm\"}, {\"metadata\": {\"_id\"[...]
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="mSCcHnkYGY1x6HEEH9sXi9ZQR5Lic2BarDFyo250", oauth_signature="BRMTtE%2FRHM5KGeweGEzLv2xG4E0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185892", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/5d8078c7-f02e-4507-8e4c-8798a0a3549f/\", \"task_id\": \"5d8078c7-f02e-4507-8e4c-8798a0a3549f\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:33 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/5d8078c7-f02e-4507-8e4c-8798a0a3549f/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="zM2Wi59vCkbsHRvfYXX3uKKUs9hsBEYpTlmymiHk2Y", oauth_signature="UpV8NTaIdeEYxcEWouOombyJUbk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185893", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/5d8078c7-f02e-4507-8e4c-8798a0a3549f/\", \"task_id\": \"5d8078c7-f02e-4507-8e4c-8798a0a3549f\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-15T20:31:33Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:33Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524253c307ec505e8613a\"}, \"id\": \"5375242586d9a9321c14a623\"}"
  recorded_at: Thu, 15 May 2014 20:31:33 GMT
recorded_with: VCR 2.9.0
