%tr
  %td.parameter_name{:style => 'vertical-align: middle;'}
    .panel_link
      - if editable
        = check_box_tag "units[#{unit[:name]}]", unit[:name], false,
          {:class => :parameter_checkbox, 'data-id' => unit[:name]}
      %label
        = unit[:name]

  = render "content_view_definitions/filters/rules/version_selector", :unit => unit,
    :package_fields => true, :editable => editable, :rule => rule