$katello_logo_img:            image-url("katello/katello-logo.png");
$headpin_logo_img:            image-url("katello/headpin-logo.png");
$body_background_img:         image-url("katello/outer-background.png") repeat-x 0 -7px #FFF;
$center_background_img:       image-url("katello/center-background.png") no-repeat center top transparent;
$third_level_background_img:  image-url("katello/3rd-level-bg.png") no-repeat bottom center transparent;
$subnav_shadow_img:           image-url("katello/subnav-shadow.png") repeat-x 0 bottom transparent;
$footer_shade_img:            image-url("katello/footer-shade.png") repeat-x 0 0 transparent;
$order_desc_img:              image-url("katello/icons/order-desc.png") no-repeat center right;
$order_asc_img:               image-url("katello/icons/order-asc.png") no-repeat center right;
$ui_totop_img:                image-url("katello/icons/ui.totop.png") no-repeat left top;
$ui_totop_hover_img:          image-url("katello/icons/ui.totop.png") no-repeat left -32px;
$ninesixty_img:               image-url("katello/960.png") repeat-y top center;
$input_background_img:        image-url("katello/input-bg.png") repeat-x 0 0 #f0f0f0;
$info_icon:                   image-url("katello/icons/info.png") no-repeat scroll 98% 6px transparent;
$info_hover_icon:             image-url("katello/icons/info.png") no-repeat scroll 98% 6px transparent;
$edit_hover_icon:             image-url("katello/icons/edit-hover.png") no-repeat scroll 98% 6px #F2F2F2;
$home_icon_black:             image-url("katello/icons/breadcrumb-icons.png") -16px -16px no-repeat;
$home_icon_green:             image-url("katello/icons/breadcrumb-icons.png") -16px 0px no-repeat;
$locked_icon:                 image-url("katello/icons/locked.png") 0 0 no-repeat;
$dotdotdot_icon:              image-url("katello/icons/dotdotdot.png") no-repeat right bottom transparent;
$close_icon:                  image-url("katello/icons/close.png") no-repeat scroll right center transparent;
$search_icon_black:           image-url("katello/icons/breadcrumb-icons.png") 0px -16px no-repeat;
$icon_search_grey:            image-url("katello/icons/icon_search.png") no-repeat 0 0;
$grabber_icon:                image-url("katello/icons/grabber.png") 1px 50% no-repeat;
$status_icon_green:           image-url("katello/icons/status.png") no-repeat 0 0;
$status_icon_yellow:          image-url("katello/icons/status.png") no-repeat 0 -10px;
$status_icon_red:             image-url("katello/icons/status.png") no-repeat 0 -25px;
$status_exclamation_icon:     image-url("katello/icons/statusicons.png") no-repeat 0 0;
$status_confirm_icon:         image-url("katello/icons/statusicons.png") no-repeat -16px 0;
$status_alert_icon:           image-url("katello/icons/statusicons.png") no-repeat -32px 0;
$status_icons_green:          image-url("katello/icons/status_icons_sprite.png") no-repeat 0 0;
$status_icons_green_small:    image-url("katello/icons/status_icons_sprite.png") no-repeat 1px -26px;
$status_icons_yellow:         image-url("katello/icons/status_icons_sprite.png") no-repeat -53px 0;
$status_icons_yellow_small:   image-url("katello/icons/status_icons_sprite.png") no-repeat -30px -25px;
$status_icons_red:            image-url("katello/icons/status_icons_sprite.png") no-repeat -25px 0;
$status_icons_red_small:      image-url("katello/icons/status_icons_sprite.png") no-repeat -15px -25px;
$icon_menu_arrow:             image-url("katello/icons/icon_menu_arrow.gif") no-repeat 0 0;

@mixin action-icon($icon) {
    background: $icon;
    margin-left: 6px;
    margin-top: -1px;
    &:hover {

    }
}
