$katello_logo_img:            url("katello-logo.png");
$headpin_logo_img:            url("headpin-logo.png");
$body_background_img:         url("outer-background.png") repeat-x 0 -7px #FFF;
$center_background_img:       url("center-background.png") no-repeat center top transparent;
$third_level_background_img:  url("3rd-level-bg.png") no-repeat bottom center transparent;
$subnav_shadow_img:           url("subnav-shadow.png") repeat-x 0 bottom transparent;
$footer_shade_img:            url("footer-shade.png") repeat-x 0 0 transparent;
$order_desc_img:              url("icons/order-desc.png") no-repeat center right;
$order_asc_img:               url("icons/order-asc.png") no-repeat center right;
$ui_totop_img:                url("icons/ui.totop.png") no-repeat left top;
$ui_totop_hover_img:          url("icons/ui.totop.png") no-repeat left -32px;
$ninesixty_img:               url("960.png") repeat-y top center;
$input_background_img:        url("input-bg.png") repeat-x 0 0 #f0f0f0;
$arrow_min_img:               url("icons/expander-collapsed.png") no-repeat top center;
$arrow_max_img:               url("icons/expander-expanded.png") no-repeat top center;
$info_icon:                   url("icons/info.png") no-repeat scroll 98% 6px transparent;
$info_hover_icon:             url("icons/info.png") no-repeat scroll 98% 6px transparent;
$edit_icon:                   url("icons/edit.png") no-repeat scroll 98% 6px transparent;
$edit_hover_icon:             url("icons/edit-hover.png") no-repeat scroll 98% 6px #F2F2F2;
$home_icon_black:             url("icons/breadcrumb-icons.png") -16px -16px no-repeat;
$home_icon_green:             url("icons/breadcrumb-icons.png") -16px 0px no-repeat;
$locked_icon:                 url("icons/locked.png") 0 0 no-repeat;
$dotdotdot_icon:              url("icons/dotdotdot.png") no-repeat right bottom transparent;
$close_icon:                  url("icons/close.png") no-repeat scroll right center transparent;
$search_icon_black:           url("icons/breadcrumb-icons.png") 0px -16px no-repeat;
$icon_search_grey:            url("icons/icon_search.png") no-repeat 0 0;
$grabber_icon:                url("icons/grabber.png") 1px 50% no-repeat;
$status_icon_green:           url("icons/status.png") no-repeat 0 0;
$status_icon_yellow:          url("icons/status.png") no-repeat 0 -10px;
$status_icon_red:             url("icons/status.png") no-repeat 0 -25px;
$status_exclamation_icon:     url("icons/statusicons.png") no-repeat 0 0;
$status_confirm_icon:         url("icons/statusicons.png") no-repeat -16px 0;
$status_alert_icon:           url("icons/statusicons.png") no-repeat -32px 0;
$status_icons_green:          url("icons/status_icons_sprite.png") no-repeat 0 0;
$status_icons_green_small:    url("icons/status_icons_sprite.png") no-repeat 1px -26px;
$status_icons_yellow:         url("icons/status_icons_sprite.png") no-repeat -53px 0;
$status_icons_yellow_small:   url("icons/status_icons_sprite.png") no-repeat -30px -25px;
$status_icons_red:            url("icons/status_icons_sprite.png") no-repeat -25px 0;
$status_icons_red_small:      url("icons/status_icons_sprite.png") no-repeat -15px -25px;
$icon_menu_arrow:             url("icons/icon_menu_arrow.gif") no-repeat 0 0;

//Images
$spinner_img:                 url("../alchemy/icons/spinner.gif") no-repeat 0 0 transparent;

$arrow_min_img_small:         url("../alchemy/icons/action-icons.png")  -544px -16px no-repeat;
$arrow_max_img_small:         url("../alchemy/icons/action-icons.png")  -528px -16px no-repeat;
$x_icon_grey:                 url("../alchemy/icons/action-icons.png")  -32px 0px no-repeat;
$x_icon_black:                url("../alchemy/icons/action-icons.png")  -32px -16px no-repeat;
$add_icon_black:              url("../alchemy/icons/action-icons.png")  -48px -16px no-repeat;
$edit_icon_black:             url("../alchemy/icons/action-icons.png")  -16px -16px no-repeat;
$circle_x_icon_black:         url("../alchemy/icons/action-icons.png")  -160px -16px no-repeat;
$circle_x_icon_grey:          url("../alchemy/icons/action-icons.png")  -160px 0px no-repeat;
$play_icon_black:             url("../alchemy/icons/action-icons.png")  -176px -16px no-repeat;
$play_icon_grey:              url("../alchemy/icons/action-icons.png")  -176px 0 no-repeat;
$comp_icon_black:             url("../alchemy/icons/action-icons.png")  -320px -16px no-repeat;
$search_icon_white:           url("../alchemy/icons/action-icons.png") no-repeat 0 0;
$base_product_icon:           url("../alchemy/icons/objects.png") no-repeat 0 0;
$custom_product_icon:         url("../alchemy/icons/objects.png") no-repeat -16px 0;
$rh_product_icon:             url("../alchemy/icons/objects.png") no-repeat -48px 0;
$arrow_icon_menu:             url("../alchemy/icons/arrow_icon.png") no-repeat -26px 0;
$arrow_icon_menu_hover:       url("../alchemy/icons/arrow_icon.png") no-repeat -13px 0;
$gears_icon_black:            url("../alchemy/icons/action-icons.png") -64px -16px no-repeat;
$gears_icon_grey:             url("../alchemy/icons/action-icons.png") -64px 0px no-repeat;
$warning_icon_triangle:       url("../alchemy/icons/action-icons.png") -384px -16px no-repeat;
$warning_icon_black:          url("../alchemy/icons/action-icons.png") -432px -16px no-repeat;
$error_icon_black:            url("../alchemy/icons/action-icons.png") -384px -16px no-repeat;
$check_icon_black:            url("../alchemy/icons/action-icons.png") -448px -16px no-repeat;
$clock_icon_black:            url("../alchemy/icons/action-icons.png") -464px -16px no-repeat;
$gear_icon:                   url("../alchemy/icons/action-icons.png") -480px 0px no-repeat;
$gear_icon_dark:              url("../alchemy/icons/action-icons.png") -480px -16px no-repeat;
$plus_icon_black:             url("../alchemy/icons/action-icons.png") -400px -16px no-repeat;
$bug_icon_black:              url("../alchemy/icons/action-icons.png") -416px -16px no-repeat;
$shield_icon_black:           url("../alchemy/icons/action-icons.png") -432px -16px no-repeat;
$download_icon_black:         url("../alchemy/icons/action-icons.png") -513px 0px no-repeat;
$download_icon_grey:          url("../alchemy/icons/action-icons.png") -513px -16px no-repeat;
$details_icon_grey:           url("../alchemy/icons/action-icons.png") -257px 0px no-repeat;
$details_icon_black:          url("../alchemy/icons/action-icons.png") -257px -16px no-repeat;
$package_icon_grey:           url("../alchemy/icons/action-icons.png") -560px 0px no-repeat;
$package_icon_black:          url("../alchemy/icons/action-icons.png") -560px -16px no-repeat;
$erratum_icon_grey:           url("../alchemy/icons/action-icons.png") -576px 0px no-repeat;
$erratum_icon_black:          url("../alchemy/icons/action-icons.png") -576px -16px no-repeat;
$host_collection_icon_grey:      url("../alchemy/icons/action-icons.png") -590px 0px no-repeat;
$host_collection_icon_black:     url("../alchemy/icons/action-icons.png") -590px -16px no-repeat;

@mixin action-icon($icon) {
    background: $icon;
    margin-left: 6px;
    margin-top: -1px;
    &:hover {

    }
}
