/**
 Copyright 2014 Red Hat, Inc.

 This software is licensed to you under the GNU General Public
 License as published by the Free Software Foundation; either version
 2 of the License (GPLv2) or (at your option) any later version.
 There is NO WARRANTY for this software, express or implied,
 including the implied warranties of MERCHANTABILITY,
 NON-INFRINGEMENT, or FITNESS FOR A PARTICULAR PURPOSE. You should
 have received a copy of GPLv2 along with this software; if not, see
 http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt.
*/
$primary_color: rgb(0, 112, 143);
$static_width: 1152px;
$spritePath:   url("../alchemy/icons/action-icons.png");
$FontAwesomePath: "../bastion/font-awesome";
$font_path: "../alchemy/";


// Foreman Overrides
fieldset {
  margin-bottom: 15px;
}
