@import "katello/katello_base";

.list .activation_key {
  height: 60px;
  width: auto;
  li {
    height: 1.2em;
    padding: 0;
  }
}

#subscriptions {
  .subscription-info {
    margin-bottom: 10px;
  }
}
