@import "katello/katello_base";

$col_width: (($static_width) * 0.5);
.column {
  min-height: 650px;

  &.right {
    margin-left: 10px;
  }
  &.highlight {
    background: #FFFF36;
  }
}

.dashboard-container {
  .helptip-open {
    width: ($col_width * 2) - 72;
    margin: -20px 4px 15px 22px;
  }
  .helptip-close {
    margin: -20px 4px 10px 8px;
  }
}

/* box for "errors" on the custom 500 error page */
.dash {
    $height: 160px;
    $header_height: 34px;
    $width: $col_width - 85;

    @include border-radius(3px);
    height: $height + $header_height;
    overflow: hidden;
    background-color: $lightergrey_color;
    border:1px solid $border_color;
    padding: 10px 10px 0 15px;
    margin-bottom: 10px;
    @include background-image(linear-gradient(#F7F7F7, #EEEEEE));
    position: relative;
    h1, h2, h3 {
        margin-top: 3px;
    }
    h1, h2, h3, h4, h5 {
      font-weight: normal;
    }
    h2 {
      font-size: 145%;
      cursor: move;
    }
    hr {
      height: 1px;
      border: 0;
      background: #c7c7c7;
      margin: 0;
    }
    .dashhead {
        position: relative;
        height: $header_height;
    }

    #dashboard_subscriptions {
      height: $height;
      .sub_count {
        font-family: $headlinefont;
        font-size: 100%;
      }
      .sys_count {
        font-size: 100%;
        font-weight: bold;
        @include text-shadow(0 1px 0 rgba($white_color, 1));
        margin-left: 20px;
      }
      #sub_graph {
        width: 150px;
        height: 170px;
      }

      h4 {
        display: inline;
        margin-left: 10px;
        margin-top: 13px;
      }
      h5 {
        display: inline;
        font-size: 115%;
      }
      .left_side {
        width: ($width * 0.63);
        display: inline-block;

        .icon {
          margin-left: 3px;
          margin-right: 10px;
          margin-top: 3px;
          width: 15px;
          height: 15px;
          display: inline-block;
        }
        .red_icon {background: $status_icons_red_small;}
        .yellow_icon {background: $status_icons_yellow_small;}
        .green_icon {background: $status_icons_green_small;}
      }
      .right_side {
        width: 150px;
        display: inline-block;
        position: relative;
        margin-top: -20px;
        float: right;
        #overlay {
            background: url("chart_overlay.png") no-repeat;
            height: 130px;
            position: absolute;
            right: 15px;
            top: 28px;
            width: 118px;
            z-index: 1;
        }
      }
    }

    #dashboard_subscriptions_totals {
      ul {
        margin-left: 2px;
      }
      li {
        float: left;
        width: 146px;
        height: 70px;
        padding: 10px;
        margin: 0;
      }
      li span {
        display: inline-block;
        vertical-align: top;
        line-height: 1.2em;
        font-size: 95%;
      }
      li.center-col {
        @include border-radius(0);
        border-left: 1px solid #d8d8d8;
        border-right: 1px solid #d8d8d8;
      }
      li.right-col {
        padding-right: 0;
      }
      li.left-col {
        padding-left: 0;
      }
      h4 {
        display: inline;
        margin-left: 0px;
        font-size: 110%;
        font-weight: normal;
      }
      h5 {
        display: inline;
        font-size: 175%;
      }
    }

    #dashboard_errata {
      .scroll-pane {
        height: $height - 26;
      }
      .list {
        height: $height - 10;
        min-height: inherit;
      }

      .jspPane {
        .errata {
          &:first-child {
            padding-top: 4px;
          }
        }
      }

      .block_head {
        background-color: lighten($stroke_color,8%);
        display: block;
        height: 1.3em;
        color: $lightgrey_color;

        .column_head {
          margin-left: 2px;
          float: left;
          height: inherit;
          min-height: inherit;
          text-align: left;
          font-size: 85%;
          font-family: $headlinefont;
          color: lighten($header_color,20%);
          text-transform: uppercase;
          white-space:nowrap;
          border-right: 1px dotted darken($stroke_color,20%);
          &:last-child {
            border-right: 0 none;
          }
        }
      }
      .subheader {
          font-weight: bold;
          margin-top:5px;
          font-size: 85%;
          font-family: $headlinefont;
          color: lighten($header_color,20%);
          text-transform: uppercase;
      }

      .system_list {
        display: none;
      }

      .system {
        font-size: 90%;
      }
      .col_1 {
        display: inline-block;
        width: $width * .07;
        padding-left: 2px;

      }
      .col_2 {
        display: inline-block;
        width: $width * .8;
        padding-left: 2px;
      }
      .subcol_2 {
        display: inline-block;
        width: 30%;
        padding-left: 2px;
      }
      .subcol_3 {
        display: inline-block;
        width: 30%;
        padding-left: 2px;
      }
      .subcol_4 {
        display: inline-block;
        width: 30%;
        padding-left: 2px;
      }
      .col_3 {
        display: inline-block;
        width: $width * .05;
        padding-left: 2px;
      }
      .collapsed {
        float: left;
        width: 16px;
        height: 16px;
        background: $arrow_min_img_small;
        margin-top: 2px;
        margin-right: 2px;
      }
      .expanded {
        float: left;
        width: 16px;
        height: 16px;
        background: $arrow_max_img_small;
        margin-top: 2px;
        margin-right: 2px;
      }
    }

    #dashboard_content_views {
      h5 {
        display: inline;
      }
      .icon_wrap {
        padding-top: 4px;
        padding-bottom: 0;
      }
      .row_item {
        .col_1, .col_2, .col_3 {
          display: inline-block;
          overflow: hidden;
          margin-bottom:-5px;
        }
        .col_1, .col_2 {
          white-space: nowrap;
          width: 150px;
          padding-right: 10px;
          text-overflow: ellipsis;
        }
        .col_3 {
          width: 100px;
        }
      }
    }

    #dashboard_sync {
      h5 {
        display: inline;
      }
      .col_1, .col_2, .col_3 {
        vertical-align: top;
      }
      .col_1 {
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        width: 150px;
      }
      .col_2 {
        display: inline-block;
        overflow: hidden;
        width: 100px;
      }
      .col_3 {
        display: inline-block;
        overflow: hidden;
        width: 115px;
      }
      .col_percent {
        display: inline-block;
        padding-left: 10px;
        font-size: 125%;
        width: 50px;
      }
      .col_progress {
        div {
          vertical-align: middle;
        }
        display: inline-block;
        width: 150px;
      }
      .progressbar {
        vertical-align: middle;
        margin-top: -5px;
        display:inline-block;
        width: 150px;
        height: 15px;

      }
      .check_icon {
        display: inline;
        margin-right: 2px;
      }
      .error_icon {
        display: inline;
        margin-right: 2px;
      }

    }

    #dashboard_systems {
        .icon {
          margin-left: 0px;
          width: 15px;
          height: 15px;
          margin-top: 3px;
          display: inline-block;
        }
      .red_icon {background: $status_icons_red_small;}
      .yellow_icon {background: $status_icons_yellow_small;}
      .green_icon {background: $status_icons_green_small;}

      .system_entry {
        .col_0 {
          width: 5%;
          padding-right: 10px;
          display: inline-block;
        }
        .col_1 {
          width: 35%;
          padding-right: 10px;
          display: inline-block;
          vertical-align: middle;
        }
        .col_2 {
          display: inline-block;
          width: 20%;
        }

        .col_3 {
          display: inline-block;
          width: 30%;
        }

      }
    }

    #dashboard_host_collections {
      .scroll-pane {
        height: $height - 26;
      }
      .list {
        height: $height - 10;
        min-height: inherit;
      }

      .jspPane {
        .host_collections {
          &:first-child {
            padding-top: 4px;
          }
        }
      }

      .block_head {
        background-color: lighten($stroke_color,8%);
        display: block;
        height: 1.3em;
        color: $lightgrey_color;

        .column_head {
          margin-left: 2px;
          float: left;
          height: inherit;
          min-height: inherit;
          text-align: left;
          font-size: 85%;
          font-family: $headlinefont;
          color: lighten($header_color,20%);
          text-transform: uppercase;
          white-space:nowrap;
          border-right: 1px dotted darken($stroke_color,20%);
          &:last-child {
            border-right: 0 none;
          }
        }
      }
      .subheader {
          font-weight: bold;
          margin-top:5px;
          font-size: 85%;
          font-family: $headlinefont;
          color: lighten($header_color,20%);
          text-transform: uppercase;
      }
      .col_1 {
        display: inline-block;
        width: $width * .12;
        padding-left: 2px;

        .status_icon {
          height: 15px;
          width: 15px;
          margin: auto;
          background: $status_icons_green_small;
          &.green {
           background: $status_icons_green_small;
          }
          &.yellow {
           background: $status_icons_yellow_small;
          }
          &.red {
           background: $status_icons_red_small;
          }
        }
      }
      .col_2 {
        display: inline-block;
        width: $width * .5;
        padding-left: 2px;
      }
      .col_3 {
        display: inline-block;
        width: $width * .15;
        padding-left: 2px;
      }
    }

    .icon_wrap {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 16px;
      height: 16px;
      overflow: none;
      margin-right: 15px;

    }
    .check_icon {
      width: 16px;
      height: 16px;
      @include action-icon($check_icon_black);
      margin-left: 0px;
    }
    .error_icon {
      width: 16px;
      @include action-icon($warning_icon_black);
      margin-left: 0px;
    }
    .gears_icon {
      width: 16px;
      @include action-icon($gears_icon_black);
      margin-left: 0px;
    }
    .clock_icon {
      width: 16px;
      @include action-icon($clock_icon_black);
      margin-left: 0px;
    }
    .widget {
        overflow: hidden;
        height: $height;
        width: $width;
        list-style: None;
        li {
          margin-bottom: 5px;
          @include border-radius(10px);
          &:hover {
            background-color: $g1;
          }
        }
        h5 {
          margin-bottom: -1px;
          margin-top: 0;
          font-size: 110%;
        }
      }
      .loading {
        position: absolute;
        width: 100%;
        height: inherit;
      }
  .spinner {
    margin-top: 15%;
  }
}
.dropbutton {
    height: 24px;
    width: 44px;
    margin: 0;
    @include border-radius(23px);
    border:1px solid $border_color;
    background: #f0f0f0;
    position: relative;
    z-index: 0;
    &:hover, &.active{
        background: #dcdcdc;
    }
    span {
        height: 16px;
        width: 32px;
        display: block;
        position: relative;
        background: $gear_icon_dark;
        margin: 0;
    }

}
.dashboard_popout {
    /*background: url("../../../images/black_arrow.png");*/
    width: 209px;
    height: 122px;
    position: absolute;
    z-index: 200;
    .dashboard_popout_child{
        height: 67px;
        left: 12px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        position: relative;
        text-align: right;
        top: 24px;
        width: 166px;
        .popout_row {
            display: block;
            width: 100%;
            padding: 7px 0 4px 0;
            label {
                color: $white_color;
            }
            select {
                width: 115px;
            }
        }
    }
}

#dashboard .about-information {
  // about page css

  .dash {
    height: auto;
    .widget {
      height: auto;
    }
  }

  .column {
    margin-left: 10px;
  }

  h2.about-header {
    margin-left: 20px;
    font-size: 2.2em;
  }

  .about-info {
    border: 1px solid #aaa;
    border-collapse: collapse;
    margin-bottom: 2em;

    th, td {
      border: 1px solid #aaa;
      color: #000;
      padding: 3px 7px;
    }

    tr.header th {
      background: #BeBeBe;
      color: #666;
      font-family: "Liberation Sans", sans-serif;
      text-transform: uppercase;
    }
  }

  .support {
    height: 30px;
    padding-bottom: 1.5em;
  }
  .dash.packages .widget {
    height: 340px;
    padding-bottom: 1em;
  }
}

