@import "katello/katello_base";


#notifications {
  .top_bar {
    float: right;
    width: $static_width * .4;
    #search_form {
        margin-right: 13px;
        margin-top: 25px;
        position: relative;
    }
    .deletable {
        display: block;
        float: left;
        margin-top: 30px;
    }
  }
}
