%article#comparison_grid
  %header
    %aside
      "Filter goes here"
    %div#column_headers
      .grid_column
        %span#my_env_selector.path_button
          = _('Add Environment')
  %section
    #grid_items
    #grid_content
