%article#comparison_grid
  %header
    %aside
      "Filter goes here"
    %ul#column_headers
      %li.column_header#my_env_selector
        %span.path_button
          = _('Add Environment(s)')
  %section
    %ul#grid_items
    %ul#grid_content
