%article#comparison_grid
  #grid_header
    %header
      %h2.fl
        = _("Search Results")
      %div.fr
        -#%label
          -#= _("View")
        -#%select
    %div
      %aside
        -#"Filter goes here"
      %div#column_headers_container
        #left_slide_arrow.hidden
          .slide_trigger
          %span.left_arrow-icon-black
        #right_slide_arrow.hidden
          .slide_trigger
          %span.right_arrow-icon-black.disabled
        #grid_env_selector
          %span.path_button.add_env-icon-black
        #column_headers_window
          %ul#column_headers
  %section
    %ul#grid_row_headers
    #grid_content_window
      #grid_content
