%article#comparison_grid
  #grid_header
    %header
      %h2.fl
        = _("Search Results")
      %a.button.hidden#return_to_results_btn
        %i.left_arrow-icon-black
        = _("Back to Results")
      %div.fr
        -#%label
          -#= _("View")
        -#%select
    %div
      %aside
        -#"Filter goes here"
      %div#column_headers_container
        .slide_arrow.hidden{ 'data-arrow_direction' => 'left' }
          .slide_trigger
          %span.left_arrow-icon-black
        .slide_arrow.hidden{ 'data-arrow_direction' => 'right' }
          .slide_trigger
          %span.right_arrow-icon-black.disabled
        #column_selector
          %span.path_button.add_env-icon-black
        #column_headers_window
          %ul#column_headers
  %section
    %ul#grid_row_headers
    #grid_content_window
      #grid_content
    #grid_loading_screen.hidden
      .large_white_spinner
  %footer
    %div.fl
    %ul.fl
