%article#comparison_grid
  #grid_header
    %header
      %h1.fl
        = _("Search Results")
      %div.fr
        -#%label
          -#= _("View")
        -#%select
    %div
      %aside
        "Filter goes here"
      %div#column_headers_container
        #left_slide_arrow.hidden
          = "<"
        #right_slide_arrow.hidden
          = ">"
        #column_headers_window
          %ul#column_headers
        .column_header#grid_env_selector
          %span.path_button
            = _('Add Environment(s)')
  %section
    %ul#grid_items
    #grid_content
