#host-collection-details {
  .host-collection-details-header {
    padding: 1.5rem;
    margin-bottom: 1rem;

    .breadcrumb-bar-pf4 {
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0;
    }

    .host-collection-description {
      margin-top: 1rem;
    }
  }

  .host-collection-tabs-section {
    padding-top: 0;
  }
}
