<table class="table table-striped" ng-class="{'table-mask': systemTable.working}">
  <thead>
    <tr alch-table-head row-select>
      <th alch-table-column sortable>{{ "Name" | translate }}</th>
    </tr>
  </thead>

  <div data-extend-template="layouts/select-all-results.html"></div>

  <tbody>
    <tr alch-table-row
        ng-repeat="system in systemTable.rows"
        row-select="system"
        active-row="stateIncludes('systems.details', {systemId: system.uuid})">
      <td alch-table-cell>
        <a ui-sref="systems.details.info({systemId: system.uuid})">
          {{ system.name }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
