<form name="productForm" class="form-horizontal" novalidate role="form">

  <div alch-form-group label="{{ 'Name' | translate }}" required>
    <input id="name"
           name="name"
           ng-model="product.name"
           type="text"
           tabindex="1"
           autofocus
           required/>
  </div>

  <div alch-form-group label="{{ 'Label' | translate }}" required>
    <input id="label"
           name="label"
           ng-model="product.label"
           type="text"
           tabindex="2"
           required/>
  </div>

  <div alch-form-group label="{{ 'Provider' | translate }}" required>
    <select id="provider_id"
            name="provider_id"
            ng-model="product.provider_id"
            ng-options="provider.id as provider.name for provider in providers"
            tabindex="3"
            required>
    </select>
    <a ui-sref="products.new.provider" translate>+ New Provider</a>
  </div>

  <div alch-form-group label="{{ 'GPG Key' | translate }}">
    <select id="gpg_key_id"
            name="gpg_key_id"
            ng-model="product.gpg_key_id"
            ng-options="gpg_key.id as gpg_key.name for gpg_key in gpgKeys"
            tabindex="4">
    </select>
  </div>

  <div alch-form-group label="{{ 'Description' | translate }}">
    <textarea id="description"
              name="description"
              ng-model="product.description"
              tabindex="5">
    </textarea>
  </div>

  <div alch-form-buttons
       on-cancel="transitionTo('products.index')"
       on-save="save(product)"
       working="working">
  </div>

</form>
