%ul.expand_list
  -if @product.repos(current_organization).empty?
    #{_("No repositories available.")}
  - @product.repos(current_organization).each do |repo|
    %li.no_slide.block
      %a{:class => "fr repo_add_remove st_button", "data-id" => repo.id, "data-name" => repo.name,
         :id => "add_remove_repo_#{repo.name}"}= "+ #{_("Add")}"
      .simple_link
        %span{"data-name"=>repo.name}
          = repo.name