.pf-c-content {
  ul {
      margin-top: 1rem;
      li svg {
        margin-right: 0.3rem;
        margin-left: 0.3rem;
      }
      }
  #enable-tracer-modal-p {
    width: 32rem;
  }
}

#enable-repo-sets-p {
  width: 28rem;
}