<span page-title>{{ 'New Activation Key' | translate }}</span>

<div data-extend-template="layouts/details-page-with-breadcrumbs.html">
  <header data-block="header">
    <h2 translate>New Activation Key</h2>
  </header>

  <div data-block="content" class="row">
    <form name="activationKeyForm" class="col-sm-5" novalidate role="form">

      <div bst-form-group label="{{ 'Name' | translate }}">
        <input id="name"
               name="name"
               ng-model="activationKey.name"
               type="text"
               autofocus
               required/>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="limit" ng-model="activationKey.unlimited_hosts"/>
          <span translate>Unlimited Hosts</span>
        </label>
      </div>

      <div bst-form-group label="{{ 'Limit' | translate }}" field="max_hosts" ng-hide="activationKey.unlimited_hosts">
        <input id="max_hosts"
               name="max_hosts"
               class="form-control"
               ng-model="activationKey.max_hosts"
               ng-required="!activationKey.unlimited_hosts"
               type="number"
               min="1"
               max="2147483648"/>
      </div>

      <div bst-form-group label="{{ 'Description' | translate }}">
        <textarea id="description"
                  name="description"
                  ng-model="activationKey.description">
        </textarea>
      </div>

      <div class="form-group">
        <span id="ak-create-cve-data"
              data-org-id="{{ organization }}"
              class="hidden">
        </span>
        <foreman-react-component
          name="CVEDetailsCreateCard"
          data-props=""
          ng-if="organization">
        </foreman-react-component>
      </div>

      <div bst-form-buttons
           on-cancel="transitionTo('activation-keys')"
           on-save="save(activationKey)"
           working="working">
      </div>

    </form>
  </div>
</div>
