<form name="syncPlanForm" class="form-horizontal" novalidate role="form">
 <div bst-form-group label="{{ 'Name' | translate }}">
   <input id="name"
          name="name"
          ng-model="syncPlan.name"
          type="text"
          tabindex="1"
          autofocus
          required/>
 </div>

 <div bst-form-group label="{{ 'Description' | translate }}">
   <textarea id="description"
             name="description"
             ng-model="syncPlan.description"
             tabindex="2">
   </textarea>
 </div>

 <div bst-form-group label="{{ 'Interval' | translate }}">
   <select id="interval"
           name="interval"
           ng-model="syncPlan.interval"
           ng-options="interval.id as interval.value for interval in intervals"
           tabindex="3"
           required>
      <option value="" translate>-- select an interval --</option>
   </select>
 </div>

 <div bst-form-group label="{{ 'Start Date' | translate }}">
   <input type="text" datepicker-popup
          id="startDate"
          name="startDate"
          ng-model="syncPlan.startDate"
          show-weeks="false"
          tabindex="4"
          required/>
 </div>

 <div bst-form-group label="{{ 'Start Time' | translate }}">
   <timepicker type="time" show-meridian="false"
          id="startTime"
          name="startTime"
          ng-model="syncPlan.startTime"
          tabindex="5">
   </timepicker>
   <p class="help-block" translate>The time the sync should happen in your current time zone.</p>
 </div>

 <div bst-form-buttons
      on-cancel="transitionBack()"
      on-save="createSyncPlan(syncPlan)"
      working="working">
 </div>
</form>
