<form name="hostCollectionForm" class="form-horizontal" novalidate role="form">

  <div bst-form-group label="{{ 'Name' | translate }}">
    <input id="name"
           name="name"
           ng-model="hostCollection.name"
           type="text"
           tabindex="1"
           autofocus
           required/>
  </div>

  <div bst-form-group label="{{ 'Content Host Limit' | translate }}" field="max_hosts">
    <span translate>Unlimited Content Hosts:</span>
    <input type="checkbox"
           name="limit"
           ng-model="hostCollection.unlimited_hosts"/>

    <div bst-form-group label="{{ 'Limit' | translate }}" ng-hide="hostCollection.unlimited_hosts">
      <input id="max_hosts"
             name="max_hosts"
             class="form-control"
             ng-model="hostCollection.max_hosts"
             ng-required="!hostCollection.unlimited_hosts"
             type="number"
             min="1"
             tabindex="2"/>
    </div>
  </div>

  <div bst-form-group label="{{ 'Description' | translate }}">
    <textarea id="description"
              name="description"
              ng-model="hostCollection.description"
              tabindex="3">
    </textarea>
  </div>

  <div bst-form-buttons
       on-cancel="transitionTo('host-collections.index')"
       on-save="save(hostCollection)"
       working="working">
  </div>

</form>
