@import "katello";

/* box for "errors" on the custom 500 error page */
.dashboard {
    @include border-radius(3px);
    background-color: $lightergrey_color;
    border:1px solid $border_color;
    padding: 0 8px 10px 8px;
    margin-bottom: 7px;
    @include background-image(linear-gradient(#F7F7F7, #EEEEEE));
    position: relative;
    h1, h2, h3 {
        margin-top: 3px;
    }
    .dashhead {
        position: relative;
    }
}
.dropbutton {
    height: 20px;
    width: 20px;
    @include border-radius(23px);
    border:1px solid $border_color;
    background-color: #f0f0f0;
    &:hover{
        background-color: #dcdcdc;
    }

}