@import "compass";
@import "converge-ui/colors";

#loginpage {
  .modalbox {
    margin: 130px auto;
    @include box-shadow(rgba(0, 0, 0, 0.6), 0,1px,5px);
    width: 550px;
    overflow: hidden;
    h2 {
      background-color: $formheadbg_color;
      color: $formheadfg_color;
      text-transform: uppercase;
      font-size: 120%;
      padding: 10px;
    }
    h3 {
      background-color: $formheadbg_color;
      color: $formheadfg_color;
      font-size: 120%;
      padding-left: 20px;
    }
    .katello_form {
      margin: 40px;
      overflow: hidden;
    }
    .errorExplanation {
      h2 {
        text-transform: none;
      }
    }
  }
  
  #content {
    background: none;
  }
  #maincontent {
    background: 0 none;
  }
}