@import "katello";

#operations {
  .panel-custom {
    @extend .panel;
    
    border: none;
    background-color: transparent;
    
    #panel_main { margin: 0; }
  }
  #roles_tree {
    .close { right: 10px; top: 12px; }
    .search_button { right: 40px; }
    .block { width: 35px; border-bottom: none; height: 20px; &:hover { background: inherit; color: $kselected_color; }}
    #remove_role { a { color: #000; } }
    
    .sliding_container { background: #FFF; .slider { overflow-y: auto; } }
    
    .permission_detail {
      border-bottom: 2px solid #B5B5B5;
      .permission_detail_container { height: 30px; width: 100%; }
    }
    
    #roles_status {
      border: 1px solid #B5B5B5;
      margin-top: -1px;
      //height: 2em;
      padding: 0.4em 0 0 0;
      text-align: center;
    }
    #add_permission_icon {
      background: $add_icon_black;
      @include sliding-tree-actionbar-image-spacing();
    }
    #edit_role_icon {
      background: $edit_icon_black;
      @include sliding-tree-actionbar-image-spacing();
    }
    #remove_role_icon {
      background: $circle_x_icon_black;
      @include sliding-tree-actionbar-image-spacing();
    }
    #placeholder {
      width: 25.2%;
      cursor: auto;
      
      &:hover { background: $tree-container_color; }
    }
    
    .slide_up_container {
      position: absolute;
      display: none;
      //float: left;
      bottom: 33px;
      left: 0px;
      z-index: 300;
      margin-left: 1px;
      height: 250px;
      background-color:#F5FAFA;;
      border-top: 1px solid #B5B5B5;    
    }
    
    #permission_add {
      //display: block;
      height: 510px;
      .validation_error { color: red; font-weight: 500; }
      
      .permission_add_container { 
        float: none;
        width: 90%;
        margin: 10px auto; 
        
        label { 
          width: 100px; 
        }
        select, input, textarea {
          margin-left: 15px;
        }
      }
    
      span { margin-left: 85px; word-wrap: break-word; }
    
      #permission_button_bar {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
  
  #maincontent {
    min-height: 675px;
  }
}
