<span page-title>{{ 'Bulk Sync Products' | translate }}</span>

<div>
  <header translate>Press 'Sync Now' below to begin syncing the following product(s).</header>

  <table class="table table-striped">
    <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Description</th>
        <th translate>Repositories</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="product in productTable.getSelected()">
        <td>
          <a ui-sref="products.details.info({ productId: product.id })">{{ product.name }}</a>
        </td>
        <td>{{ product.description }}</td>
        <td>
          <span ng-repeat="repository in product.repositories">
            {{ repository.name }}<span ng-show="!$last">, </span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pull-left">
    <button class="btn btn-default"
            ng-hide="denied('sync_products')"
            ng-click="syncProducts()">
      <i class="fa fa-refresh"></i>
      <span translate>Sync Now</span>
    </button>
  </div>
</div>
