<span page-title>{{ 'Bulk Alter Products Sync Plan' | translate }}</span>

<section class="details details-full">

  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <input type="text"
         class="form-control filter-input"
         placeholder="{{ 'Filter' | translate }}"
         ng-model="syncPlanSearch"/>

  <span class="pull-right">

    <button class="btn btn-default"
            ng-hide="denied('create_sync_plans')"
            ui-sref="products.bulk-actions.sync-plan.new"
            translate>
      Create Sync Plan
    </button>
    <button class="btn btn-default"
            ng-hide="denied('edit_products')"
            ng-click="removeSyncPlan()">
      <i class="fa fa-spinner fa-spin" ng-show="updatingSyncPlans && !syncPlanTable.chosenRow"></i>
      <span ng-show="updatingSyncPlans && !syncPlanTable.chosenRow" translate>Unattaching...</span>
      <i ng-hide="updatingSyncPlans && !syncPlanTable.chosenRow" class="fa fa-remove"></i>
      <span ng-hide="updatingSyncPlans && !syncPlanTable.chosenRow" translate>Unattach Sync Plan</span>
    </button>
    <button class="btn btn-primary"
            ng-hide="denied('edit_products')"
            ng-click="updateSyncPlan()"
            ng-disabled="!syncPlanTable.chosenRow">
      <i class="fa fa-spinner fa-spin" ng-show="updatingSyncPlans && syncPlanTable.chosenRow"></i>
      <span ng-show="updatingSyncPlans && syncPlanTable.chosenRow" translate>Updating...</span>
      <i ng-hide="updatingSyncPlans && syncPlanTable.chosenRow" class="fa fa-refresh"></i>
      <span ng-hide="updatingSyncPlans && syncPlanTable.chosenRow" translate>Update Sync Plan</span>
    </button>
  </span>

  <div class="nutupane">
    <table bst-table="syncPlanTable"
           class="table table-striped"
           ng-class="{'table-mask': syncPlanTable.working}">
      <thead>
        <tr bst-table-head row-choice>
          <th bst-table-column="name" translate>Name</th>
          <th bst-table-column="description" translate>Description</th>
          <th bst-table-column="interval" translate>Interval</th>
          <th bst-table-column="sync-date" translate>Start Date</th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row
            row-choice="syncPlan"
            ng-repeat="syncPlan in syncPlanTable.rows | filter:syncPlanSearch">
          <td bst-table-cell>{{ syncPlan.name }}</td>
          <td bst-table-cell>{{ syncPlan.description }}</td>
          <td bst-table-cell>{{ syncPlan.interval | capitalize }}</td>
          <td bst-table-cell>{{ syncPlan.sync_date }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
