--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="AtoHTYFf8LHcSQ6NxEkGHCPWzuUfYmfWnvcok6lqIu4", oauth_signature="LOKW%2BYRhJR5sGdgpfPWWCB3QbrI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185929", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5375244986d9a9321e2b9369\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:32:09 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="AnnWCHAkoyt13VBQOwtF8aGCcqKCaae4ydieZTKM", oauth_signature="qDveT0MBV3x6eo0BWBYn8zrmSkU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185929", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/17e7dea5-1641-44bc-a7b7-fd65930d73e2/\", \"task_id\": \"17e7dea5-1641-44bc-a7b7-fd65930d73e2\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:32:09 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/17e7dea5-1641-44bc-a7b7-fd65930d73e2/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Xte6hx4uR47D388p5JQMBLzlApLOMkGvrMLBFWhhz8", oauth_signature="kj%2BF0Nb%2FcXncdo9CBpUtAcHGWOo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185929", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/17e7dea5-1641-44bc-a7b7-fd65930d73e2/\", \"task_id\": \"17e7dea5-1641-44bc-a7b7-fd65930d73e2\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:32:09Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524493c307ec505e8614d\"}, \"id\": \"5375244986d9a9321d8e0f33\"}"
  recorded_at: Thu, 15 May 2014 20:32:09 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="4GYlU2C17jTgNEN2ogp4zgBdemBrzisOt4leUJFVHHg", oauth_signature="GeQ%2BhIm9QiZZt%2FP1TU8zvgYX7pg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185933", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/b0203e56-e332-420d-bba1-14468d76653f/\", \"task_id\": \"b0203e56-e332-420d-bba1-14468d76653f\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:32:13 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/b0203e56-e332-420d-bba1-14468d76653f/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="g4GqjvQAniP7ubLQ9QV09ydQmUOzzUrIzqHGEIBGGE", oauth_signature="lCbabtNhLxvb6HbqpvTHqGghTcA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185933", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/b0203e56-e332-420d-bba1-14468d76653f/\", \"task_id\": \"b0203e56-e332-420d-bba1-14468d76653f\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-15T20:32:13Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:32:13Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"5375244d3c307ec505e86150\"}, \"id\": \"5375244d86d9a9321d8e0f39\"}"
  recorded_at: Thu, 15 May 2014 20:32:13 GMT
recorded_with: VCR 2.9.0
