--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="buhwAu6qoflbDTtT2lPhJUtYJvXkCYJ7L9IKlaJf8qM", oauth_signature="utXupkBc0ACUMxI%2FT%2BBvm6o8MKs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308589", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5367c12d86d9a90f982f7ffe\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 05 May 2014 16:49:49 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ml0bCXeVZd2Wuut5FhOeRyl81mp7oumAwd90pBT0", oauth_signature="szG%2Bs%2BdezVbLsBDkAWENqif%2FG0k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308589", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/77479105-338c-4390-be76-83023689ea95/\", \"task_id\": \"77479105-338c-4390-be76-83023689ea95\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:49:50 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/77479105-338c-4390-be76-83023689ea95/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="XBoiSpAksOlgCrNz5BxCaOHyAuTjHOv2GOkb03g", oauth_signature="pM%2BtBwq0BwlDw%2BoE4UE0qWxPWgg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308590", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/77479105-338c-4390-be76-83023689ea95/\", \"task_id\": \"77479105-338c-4390-be76-83023689ea95\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:50Z\", \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"_id\": {\"$oid\": \"5367c12ec552ed9bd4e4dadb\"}}"
  recorded_at: Mon, 05 May 2014 16:49:50 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/77479105-338c-4390-be76-83023689ea95/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="FmtnY9QMICgCRJL1iEnKdPwg7zZZinszonNj8cQc", oauth_signature="85NiKhiFQYaAY%2FguSbItEPEnMMk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308592", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/77479105-338c-4390-be76-83023689ea95/\", \"task_id\": \"77479105-338c-4390-be76-83023689ea95\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": \"2014-05-05T16:49:51Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:51Z\", \"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/62f79e1e-cbe1-4c37-9e0d-f949a6a820bf/\", \"task_id\": \"62f79e1e-cbe1-4c37-9e0d-f949a6a820bf\"}, {\"_href\": \"/pulp/api/v2/tasks/a96898ef-d8b8-4f15-9090-90cf0c7e62bf/\", \"task_id\": \"a96898ef-d8b8-4f15-9090-90cf0c7e62bf\"}], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"importer_type_id\": \"yum_importer\", \"importer_id\": \"yum_importer\", \"exception\": null, \"repo_id\": \"1\", \"removed_count\": 0, \"started\": \"2014-05-05T17:49:50+01:00\", \"_ns\": \"repo_sync_results\", \"completed\": \"2014-05-05T17:49:50+01:00\", \"traceback\": null, \"summary\": {\"content\": {\"state\": \"FINISHED\"}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"added_count\": 0, \"error_message\": null, \"updated_count\": 14, \"details\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"id\": \"5367c12e86d9a910c84ab730\", \"result\": \"success\"}, \"_id\": {\"$oid\": \"5367c12ec552ed9bd4e4dadb\"}}"
  recorded_at: Mon, 05 May 2014 16:49:52 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="5e7Wf8yqbpqBOkY6eIYrjoiqPt3oG5Zu3IcNpxOU", oauth_signature="vmp%2FZxAcmyeO%2B2%2Bgd8GcS0t3kyE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308593", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/2e0b2a14-3272-49b0-9006-8ca2fb87cb47/\", \"task_id\": \"2e0b2a14-3272-49b0-9006-8ca2fb87cb47\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:49:54 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/2e0b2a14-3272-49b0-9006-8ca2fb87cb47/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6BprE1YbKm8uYTiAn2GY0xOHO4y4eRlX9mBIPLanbkI", oauth_signature="1oTqJgYNuYDjEDOtluSy0Bobyng%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308594", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/2e0b2a14-3272-49b0-9006-8ca2fb87cb47/\", \"task_id\": \"2e0b2a14-3272-49b0-9006-8ca2fb87cb47\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-05T16:49:54Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:54Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"_id\": {\"$oid\": \"5367c132c552ed9bd4e4dade\"}}"
  recorded_at: Mon, 05 May 2014 16:49:54 GMT
recorded_with: VCR 2.9.0
