--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="pAHOZ12hRsNAAgD19OwmQSUxp1ILipPO8yqhOIst5I", oauth_signature="dyaU047aXo9zVZYgbmlv9A00dtI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185934", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5375244e86d9a9321e2b936f\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:32:14 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Y8XBKJnmECzR2cofpHWDtZicctFCUzbyKSlrrd5Rz4", oauth_signature="3BVr5VVF6BQ%2BYpc6GJbk9T1R21o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185934", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/8e11d360-54c3-409f-8062-dc189761f499/\", \"task_id\": \"8e11d360-54c3-409f-8062-dc189761f499\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:32:14 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/8e11d360-54c3-409f-8062-dc189761f499/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="p68n5Cbwu4ipeasBlURoCwWY5BLMiabx9i6FGxhK0", oauth_signature="2GwjUEHuD5PUKTh52atD3F7RcKo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185934", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/8e11d360-54c3-409f-8062-dc189761f499/\", \"task_id\": \"8e11d360-54c3-409f-8062-dc189761f499\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:32:14Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"NOT_STARTED\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"5375244e3c307ec505e86151\"}, \"id\": \"5375244e86d9a9321e2b9375\"}"
  recorded_at: Thu, 15 May 2014 20:32:14 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"distribution\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="pWc01nluGoOhfEn3oV9KUMlrw7B1Mv0gDJkHlCJg", oauth_signature="yaAfyJECeNvoUzapQ33dxYumwfo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185937", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"updated\": \"2014-05-15T19:32:15Z\", \"repo_id\": \"1\", \"created\": \"2014-05-15T19:32:15Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"7016a58a-ae47-4212-9b14-d423dc0f0af8\", \"metadata\": {\"files\": [{\"checksumtype\": \"sha256\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"fileName\": \"test2.img\", \"downloadurl\": \"file:///var/www/test_repos/zoo/images/test2.img\", \"item_type\": \"distribution\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/tmpwE9rLI/tmp7trG5P/images/test2.img\", \"relativepath\": \"images/test2.img\", \"filename\": \"test2.img\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/images\", \"size\": null}, {\"checksumtype\": \"sha256\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"fileName\": \"empty.iso\", \"downloadurl\": \"file:///var/www/test_repos/zoo/empty.iso\", \"item_type\": \"distribution\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/tmpwE9rLI/tmp7trG5P/empty.iso\", \"relativepath\": \"empty.iso\", \"filename\": \"empty.iso\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/\", \"size\": null}, {\"checksumtype\": \"sha256\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"fileName\": \"test1.img\", \"downloadurl\": \"file:///var/www/test_repos/zoo/images/test1.img\", \"item_type\": \"distribution\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/tmpwE9rLI/tmp7trG5P/images/test1.img\", \"relativepath\": \"images/test1.img\", \"filename\": \"test1.img\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/images\", \"size\": null}], \"_storage_path\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64\", \"family\": \"Test Family\", \"_ns\": \"units_distribution\", \"_last_updated\": 1400185935, \"packagedir\": \"\", \"variant\": \"TestVariant\", \"version\": \"16\", \"version_sort_index\": \"02-16\", \"_content_type_id\": \"distribution\", \"_id\": \"7016a58a-ae47-4212-9b14-d423dc0f0af8\", \"arch\": \"x86_64\", \"id\": \"ks-Test Family-TestVariant-16-x86_64\"}, \"unit_type_id\": \"distribution\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5375244f86d9a932edcb2808\"}, \"id\": \"5375244f86d9a932edcb2808\", \"owner_id\": \"yum_importer\"}]"
  recorded_at: Thu, 15 May 2014 20:32:17 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/distribution/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"7016a58a-ae47-4212-9b14-d423dc0f0af8\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="CeGMgVEJFyNMWWWzlJuS15NfFxZv9DNonFExEBTwls", oauth_signature="A5HgMiV9vrkz0%2FYdiRtCigRHlh8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185937", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Conte[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="IW5EGAl6k7KUwDZEn8vAq2bandCWhVyynL5aXpwCY", oauth_signature="263u4eJWIOIaJ46Baend04VTmMQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185937", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"metadata\": {\"_id\": \"496c2789-e10f-4c65-8cfd-dc7adcff1529\", \"_content_type_id\": \"erratum\"}, \"_id\": {\"$oid\": \"5375244f86d9a932edcb280a\"}, \"unit_id\": \"496c2789-e10f-4c65-8cfd-dc7adcff1529\", \"unit_type_id\": \"erratum\"}, {\"metadata\": {\"_id\": \"5a8d9788-6a7d-4ac7-a88e-60715b379376\", \"_content_type_id\": \"erratum\"}, \"_id\": {\"$oid\": \"5375244f86d9a932edcb280b\"}, \"unit_id\": \"5a8d9788-6a7d-4ac7-a88e-60715b379376\", \"unit_type_id\": \"erratum\"}]"
  recorded_at: Thu, 15 May 2014 20:32:18 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"496c2789-e10f-4c65-8cfd-dc7adcff1529\",\"5a8d9788-6a7d-4ac7-a88e-60715b379376\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ygFmQxNamaQUSXZFdfZbIUeq4dugUCFRSJ50Gq7f9Q", oauth_signature="3t1XNJflXek%2BUinW50jh4BiqgZE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185938", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"repository_memberships\": [\"1\"], \"_href\": \"/pulp/api/v2/content/units/erratum/496c2789-e10f-4c65-8cfd-dc7adcff1529/\", \"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"Empty errata\", \"children\": {}, \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"_last_updated\": \"2014-05-15T20:32:15Z\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"496c2789-e10f-4c65-8cfd-dc7adcff1529\"}, {\"repository_memberships\": [\"1\"], \"_href\": \"/pulp/api/v2/content/units/erratum/5a8d9788-6a7d-4ac7-a88e-60715b379376/\", \"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"One package errata\", \"children\": {}, \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"sum\": null, \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"_last_updated\": \"2014-05-15T20:32:15Z\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"5a8d9788-6a7d-4ac7-a88e-60715b379376\"}]"
  recorded_at: Thu, 15 May 2014 20:32:18 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{\"unit\":{\"$and\":[{\"name\":\"elephant\"}]}},\"sort\":{\"unit\":[[\"name\",\"ascending\"],[\"version\",\"descending\"]]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="o8dTZRHOmBVKsS0oAj0EQLt6PFhfPg6icvw3SnyEHI", oauth_signature="uC0jJ9XkMDgO4aw5P0MofplOuoc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185938", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"updated\": \"2014-05-15T19:32:14Z\", \"repo_id\": \"1\", \"created\": \"2014-05-15T19:32:14Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"59938619-d877-44a3-8ecf-614d7c91b1c0\", \"metadata\": {\"build_time\": 1308257466, \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"_content_type_id\": \"rpm\", \"vendor\": null, \"size\": 2244, \"group\": \"Internet/Applications\", \"_ns\": \"units_rpm\", \"relative_url_path\": null, \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": \"0\", \"version\": \"0.3\", \"version_sort_index\": \"01-0.01-3\", \"provides\": [{\"release\": \"0.8\", \"epoch\": \"0\", \"version\": \"0.3\", \"flags\": \"EQ\", \"name\": \"elephant\"}], \"files\": [], \"repodata\": {\"filelists\": \"<package arch=\\\"noarch\\\" name=\\\"elephant\\\" pkgid=\\\"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\\\">\\n    <version epoch=\\\"0\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n\\n    <file>//elephant.txt</file>\\n</package>\\n\\n\", \"other\": \"<package arch=\\\"noarch\\\" name=\\\"elephant\\\" pkgid=\\\"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\\\">\\n    <version epoch=\\\"0\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n\\n</package>\\n\\n\", \"primary\": \"<package type=\\\"rpm\\\">\\n  <name>elephant</name>\\n  <arch>noarch</arch>\\n  <version epoch=\\\"0\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n  <checksum pkgid=\\\"YES\\\" type=\\\"sha256\\\">3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3</checksum>\\n  <summary>A dummy package of elephant</summary>\\n  <description>A dummy package of elephant</description>\\n  <packager />\\n  <url>http://tstrachota.fedorapeople.org</url>\\n  <time build=\\\"1308257466\\\" file=\\\"1321891027\\\" />\\n  <size archive=\\\"296\\\" installed=\\\"42\\\" package=\\\"2244\\\" />\\n<location href=\\\"elephant-0.3-0.8.noarch.rpm\\\" />\\n  <format>\\n    <rpm:license >GPLv2</rpm:license>\\n    <rpm:vendor />\\n    <rpm:group >Internet/Applications</rpm:group>\\n    <rpm:buildhost >dhcp-26-118.brq.redhat.com</rpm:buildhost>\\n    <rpm:sourcerpm >elephant-0.3-0.8.src.rpm</rpm:sourcerpm>\\n    <rpm:header-range end=\\\"2028\\\" start=\\\"280\\\" />\\n    <rpm:provides >\\n      <rpm:entry epoch=\\\"0\\\" flags=\\\"EQ\\\" name=\\\"elephant\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n    </rpm:provides>\\n    <rpm:requires >\\n      <rpm:entry name=\\\"/bin/sh\\\" pre=\\\"1\\\" />\\n    </rpm:requires>\\n  </format>\\n</package>\\n\"}, \"description\": \"A dummy package of elephant\", \"_last_updated\": 1400185934, \"time\": 1321891027, \"header_range\": {\"start\": 280, \"end\": 2028}, \"release_sort_index\": \"01-0.01-8\", \"arch\": \"noarch\", \"name\": \"elephant\", \"_storage_path\": \"/var/lib/pulp/content/rpm/elephant/0.3/0.8/noarch/3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3/elephant-0.3-0.8.noarch.rpm\", \"sourcerpm\": \"elephant-0.3-0.8.src.rpm\", \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"changelog\": null, \"url\": \"http://tstrachota.fedorapeople.org\", \"relativepath\": \"elephant-0.3-0.8.noarch.rpm\", \"summary\": \"A dummy package of elephant\", \"checksum\": \"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\", \"release\": \"0.8\", \"_id\": \"59938619-d877-44a3-8ecf-614d7c91b1c0\", \"requires\": [{\"release\": null, \"epoch\": null, \"version\": null, \"flags\": null, \"name\": \"/bin/sh\"}]}, \"unit_type_id\": \"rpm\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5375244e86d9a932edcb2805\"}, \"id\": \"5375244e86d9a932edcb2805\", \"owner_id\": \"yum_importer\"}]"
  recorded_at: Thu, 15 May 2014 20:32:18 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="FnzyXajlzIldXtlibMx876UmL0jwMbO3VTUcoO7Hc", oauth_signature="dNAGv5sAOg0qjf33pX2WwPnXio4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185938", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\"}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2014-05-15T21:32:16+01:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"5375244e86d9a9321e2b9373\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"5375244e86d9a9321e2b9372\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2014-05-15T21:32:16+01:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"5375244e86d9a9321e2b9371\"}, \"config\": {\"checksum_type\": \"sha256\", \"protected\": true, \"http\": false, \"https\": true, \"relative_url\": \"/test_path/\"}, \"id\": \"1\"}], \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {\"package_group\": 2, \"distribution\": 1, \"package_category\": 1, \"rpm\": 8, \"erratum\": 2}, \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2014-05-15T21:32:15+01:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"5375244e86d9a9321e2b9370\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"5375244e86d9a9321e2b936f\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:32:18 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/publish/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="zg0RH054ucXx0FJnI5r3MGIsUV5v12YPmkBjfaVSU", oauth_signature="ykAQM4FRC%2BnJzWRR%2BbBd6%2FqnD7Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185938", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/92c2ff95-5bfb-4476-9233-2d287347e6d2/\", \"task_id\": \"92c2ff95-5bfb-4476-9233-2d287347e6d2\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:32:18 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/7ed7b991-eff7-43f1-8b07-a283b26fa2fb/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="mhmubG0sEduzfm6JufbMaoqrr5VJeUQHlHmajDdMI", oauth_signature="8ACQlX7e%2FVytdHi7vkigy1obYis%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185939", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/7ed7b991-eff7-43f1-8b07-a283b26fa2fb/\", \"task_id\": \"7ed7b991-eff7-43f1-8b07-a283b26fa2fb\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:32:19Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:32:19Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-15T21:32:19+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-15T21:32:19+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"5375245386d9a932edcb2828\", \"result\": \"success\"}, \"error\": null, \"_id\": {\"$oid\": \"537524533c307ec505e86155\"}, \"id\": \"5375245386d9a9321e2b9379\"}"
  recorded_at: Thu, 15 May 2014 20:32:19 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/rpm/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"9ffa825d-0d37-4766-a0c1-ae9ff4bc95a0\",\"59938619-d877-44a3-8ecf-614d7c91b1c0\",\"119020da-c758-4ebb-850a-efa5a7ec41ae\",\"a755f0c5-7624-48ab-bda5-6e37833f5491\",\"1f9699da-7f53-4311-ab8a-ba24e8c55151\",\"f48465d4-d284-4284-9ff8-705a79ef12b4\",\"ce5a19a3-b0a1-4b6a-be89-4fe02ac7b167\",\"152f0897-43e0[...]
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"package_category\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="gv76rlKZuzzagBW0vjNjfNAuP1v0FBgS73L9DJrRYl4", oauth_signature="2QI%2BiXnVfRpXisvAulHE%2BAaLOVQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185940", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"updated\": \"2014-05-15T19:32:15Z\", \"repo_id\": \"1\", \"created\": \"2014-05-15T19:32:15Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"0c097d98-0e3b-4971-8f3d-76fa5c993ce6\", \"metadata\": {\"_storage_path\": null, \"repo_id\": \"1\", \"description\": null, \"_ns\": \"units_package_category\", \"_last_updated\": 1400185935, \"id\": \"all\", \"packagegroupids\": [\"mammal\", \"bird\"], \"translated_description\": {}, \"translated_name\": {}, \"_content_type_id\": \"package_category\", \"_id\": \"0c097d98-0e3b-4971-8f3d-76fa5c993ce6\", \"display_order\": 99, \"name\": \"all\"}, \"unit_type_id\": \"package_category\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5375244f86d9a932edcb280e\"}, \"id\": \"5375244f86d9a932edcb280e\", \"owner_id\": \"yum_importer\"}]"
  recorded_at: Thu, 15 May 2014 20:32:20 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"package_group\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="oQ3E0Ju0cr59UHwaSIpzfuqAik32y4RFp4qAJFQNpc", oauth_signature="uPa7zMDdKdqEr%2FIDUCq8egy5fTA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185940", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"updated\": \"2014-05-15T19:32:15Z\", \"repo_id\": \"1\", \"created\": \"2014-05-15T19:32:15Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"52c3ce36-75cb-4ad5-863c-8bc652121fc4\", \"metadata\": {\"_storage_path\": null, \"mandatory_package_names\": [\"penguin\"], \"repo_id\": \"1\", \"translated_name\": {}, \"description\": null, \"user_visible\": true, \"default\": true, \"_ns\": \"units_package_group\", \"_last_updated\": 1400185935, \"optional_package_names\": [], \"id\": \"bird\", \"translated_description\": {}, \"conditional_package_names\": [], \"default_package_names\": [], \"_content_type_id\": \"package_group\", \"langonly\": null, \"_id\": \"52c3ce36-75cb-4ad5-863c-8bc652121fc4\", \"display_order\": 1024, \"name\": \"bird\"}, \"unit_type_id\": \"package_group\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5375244f86d9a932edcb280c\"}, \"id\": \"5375244f86d9a932edcb280c\", \"owner_id\": \"yum_importer\"}, {\"updated\": \"2014-05-15T19:32:15Z\", \"repo_id\": \"1\", \"created\": \"2014-05-15T19:32:15Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"9ca35526-0529-46ca-b277-0c90267de39d\", \"metadata\": {\"_storage_path\": null, \"mandatory_package_names\": [\"elephant,giraffe,cheetah,lion,monkey,penguin,squirrel,walrus\", \"penguin\"], \"repo_id\": \"1\", \"translated_name\": {}, \"description\": null, \"user_visible\": true, \"default\": true, \"_ns\": \"units_package_group\", \"_last_updated\": 1400185935, \"optional_package_names\": [], \"id\": \"mammal\", \"translated_description\": {}, \"conditional_package_names\": [], \"default_package_names\": [], \"_content_type_id\": \"package_group\", \"langonly\": null, \"_id\": \"9ca35526-0529-46ca-b277-0c90267de39d\", \"display_order\": 1024, \"name\": \"mammal\"}, \"unit_type_id\": \"package_group\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5375244f86d9a932edcb280d\"}, \"id\": \"5375244f86d9a932edcb280d\", \"owner_id\": \"yum_importer\"}]"
  recorded_at: Thu, 15 May 2014 20:32:20 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/?tag=pulp:action:sync
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="uREyBwi6JyzuOdprDVRiksYA33TumvVSKxwoav4U", oauth_signature="OPwJo%2FSZyBE5Io1p8xYy%2BcZSh6A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185940", oauth_version="1.0"
      Pulp-User: 
     [...]
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/actions/content/regenerate_applicability//
    body: 
      encoding: US-ASCII
      string: "{\"repo_criteria\":{\"filters\":{\"id\":{\"$in\":[\"1\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="5rAyYEycztgnIcVnXC5gik5NBam9ZV7oFBdUsj4wDo", oauth_signature="zi%2BDU69p71APtDysxaeINFlSC8E%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185941", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/925c7f83-4097-479b-b007-69cfd6ffb1d5/\", \"task_id\": \"925c7f83-4097-479b-b007-69cfd6ffb1d5\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:32:21 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Mo9bsTjZxnZyEjVmzifazcUEqCHNnHOVN2DXLyF4qs", oauth_signature="ojp9eZRDhQ%2Bft6NCjXGhYK%2FbtEE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185942", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
[...]
