--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="OO3F02ivtrfLtyb74qJOGosPZQjCOxOSsAM4aIkZCwE", oauth_signature="pGneCz0VE2pi21%2BSFKnIHqCSAOw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308594", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5367c13286d9a90f982f800a\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 05 May 2014 16:49:54 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="4VHwe267ecIwyUzwgionUg6SxpkF7dvEy28xjAlpbOI", oauth_signature="mVRWnevCRWu2Ujb36xP%2BkissQlU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308594", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/f140081d-242f-4793-a38a-8bb9d7ae774f/\", \"task_id\": \"f140081d-242f-4793-a38a-8bb9d7ae774f\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:49:54 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/f140081d-242f-4793-a38a-8bb9d7ae774f/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ilTbLzjSq44kaij0bbuT6RrtZQJw5OwWqDhFDR4D7h0", oauth_signature="PTr%2BvtJ9dt2xpC3R8m99ZfVat7A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308594", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/f140081d-242f-4793-a38a-8bb9d7ae774f/\", \"task_id\": \"f140081d-242f-4793-a38a-8bb9d7ae774f\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:54Z\", \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"_id\": {\"$oid\": \"5367c132c552ed9bd4e4dadf\"}}"
  recorded_at: Mon, 05 May 2014 16:49:55 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/f140081d-242f-4793-a38a-8bb9d7ae774f/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="BDHX7G5HBsVXGZIiQSN7eACPRLoC8G76GpIn2yRs", oauth_signature="MjUUM0ukaQ%2F65BGG%2FuaZvBi0Fmk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308597", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/f140081d-242f-4793-a38a-8bb9d7ae774f/\", \"task_id\": \"f140081d-242f-4793-a38a-8bb9d7ae774f\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": \"2014-05-05T16:49:56Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:55Z\", \"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/526cdec3-51eb-4264-86a3-afbc0a9471d6/\", \"task_id\": \"526cdec3-51eb-4264-86a3-afbc0a9471d6\"}, {\"_href\": \"/pulp/api/v2/tasks/2b1bcd55-c8aa-49e8-a0df-d2730ef5dd5e/\", \"task_id\": \"2b1bcd55-c8aa-49e8-a0df-d2730ef5dd5e\"}], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"importer_type_id\": \"yum_importer\", \"importer_id\": \"yum_importer\", \"exception\": null, \"repo_id\": \"1\", \"removed_count\": 0, \"started\": \"2014-05-05T17:49:55+01:00\", \"_ns\": \"repo_sync_results\", \"completed\": \"2014-05-05T17:49:55+01:00\", \"traceback\": null, \"summary\": {\"content\": {\"state\": \"FINISHED\"}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"added_count\": 0, \"error_message\": null, \"updated_count\": 14, \"details\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"id\": \"5367c13386d9a910c84ab74c\", \"result\": \"success\"}, \"_id\": {\"$oid\": \"5367c132c552ed9bd4e4dadf\"}}"
  recorded_at: Mon, 05 May 2014 16:49:57 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"distribution\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="SNgMAghGaRPofIzJjUqLmr8KDNPre4Y1F1I6aQSjw", oauth_signature="ATqdi7YyUhigp0nj6oyIf7R062k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308597", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"updated\": \"2014-05-05T15:49:55Z\", \"repo_id\": \"1\", \"created\": \"2014-05-05T15:49:55Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"c89d897d-9dd2-4395-9a52-5a75ec9589a8\", \"metadata\": {\"files\": [{\"checksumtype\": \"sha256\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"fileName\": \"test2.img\", \"downloadurl\": \"file:///var/www/test_repos/zoo/images/test2.img\", \"item_type\": \"distribution\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/tmpIcum0I/tmp4mwi7z/images/test2.img\", \"relativepath\": \"images/test2.img\", \"filename\": \"test2.img\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/images\", \"size\": null}, {\"checksumtype\": \"sha256\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"fileName\": \"empty.iso\", \"downloadurl\": \"file:///var/www/test_repos/zoo/empty.iso\", \"item_type\": \"distribution\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/tmpIcum0I/tmp4mwi7z/empty.iso\", \"relativepath\": \"empty.iso\", \"filename\": \"empty.iso\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/\", \"size\": null}, {\"checksumtype\": \"sha256\", \"checksum\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\", \"fileName\": \"test1.img\", \"downloadurl\": \"file:///var/www/test_repos/zoo/images/test1.img\", \"item_type\": \"distribution\", \"savepath\": \"/var/lib/pulp/working/repos/1/importers/yum_importer/tmpIcum0I/tmp4mwi7z/images/test1.img\", \"relativepath\": \"images/test1.img\", \"filename\": \"test1.img\", \"pkgpath\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64/images\", \"size\": null}], \"_storage_path\": \"/var/lib/pulp/content/distribution/ks-Test Family-TestVariant-16-x86_64\", \"family\": \"Test Family\", \"_ns\": \"units_distribution\", \"_last_updated\": 1399308595, \"packagedir\": \"\", \"variant\": \"TestVariant\", \"version\": \"16\", \"version_sort_index\": \"02-16\", \"_content_type_id\": \"distribution\", \"_id\": \"c89d897d-9dd2-4395-9a52-5a75ec9589a8\", \"arch\": \"x86_64\", \"id\": \"ks-Test Family-TestVariant-16-x86_64\"}, \"unit_type_id\": \"distribution\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5367c13386d9a910c84ab745\"}, \"id\": \"5367c13386d9a910c84ab745\", \"owner_id\": \"yum_importer\"}]"
  recorded_at: Mon, 05 May 2014 16:49:57 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="PowVIBWbCkvUihhp9rPyCZw0VNFwUwIzQsdpSQMU", oauth_signature="cxFFOwK%2FeQ5RAsE07Fgw3U1Tx6A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308598", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"metadata\": {\"_id\": \"e0c629b9-8c5c-468f-9937-e3ca060911d2\", \"_content_type_id\": \"erratum\"}, \"_id\": {\"$oid\": \"5367c13386d9a910c84ab747\"}, \"unit_id\": \"e0c629b9-8c5c-468f-9937-e3ca060911d2\", \"unit_type_id\": \"erratum\"}, {\"metadata\": {\"_id\": \"559c0dac-18ee-4dda-aad9-81c1c7935bce\", \"_content_type_id\": \"erratum\"}, \"_id\": {\"$oid\": \"5367c13386d9a910c84ab748\"}, \"unit_id\": \"559c0dac-18ee-4dda-aad9-81c1c7935bce\", \"unit_type_id\": \"erratum\"}]"
  recorded_at: Mon, 05 May 2014 16:49:58 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"e0c629b9-8c5c-468f-9937-e3ca060911d2\",\"559c0dac-18ee-4dda-aad9-81c1c7935bce\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="f4zNhkqQeWeuNwzjuUZoO0EKxT7ynavGOIrd0HhDi7Q", oauth_signature="vmd%2F9OfYXctsI%2Fb6w31Z4rMj2FE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308598", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"repository_memberships\": [\"1\"], \"_href\": \"/pulp/api/v2/content/units/erratum/559c0dac-18ee-4dda-aad9-81c1c7935bce/\", \"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"One package errata\", \"children\": {}, \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"sum\": null, \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"_last_updated\": \"2014-05-05T16:49:55Z\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"559c0dac-18ee-4dda-aad9-81c1c7935bce\"}, {\"repository_memberships\": [\"1\"], \"_href\": \"/pulp/api/v2/content/units/erratum/e0c629b9-8c5c-468f-9937-e3ca060911d2/\", \"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"Empty errata\", \"children\": {}, \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"_last_updated\": \"2014-05-05T16:49:55Z\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"e0c629b9-8c5c-468f-9937-e3ca060911d2\"}]"
  recorded_at: Mon, 05 May 2014 16:49:58 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{\"unit\":{\"$and\":[{\"name\":\"elephant\"}]}},\"sort\":{\"unit\":[[\"name\",\"ascending\"],[\"version\",\"descending\"]]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="hEFIsqeKNk4yVSDElbIAevRjJseV4dO6tRtnkpLrZQ", oauth_signature="DqBJ1RbLj3Gw%2FpVe6%2Bwm813EuXk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308598", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"updated\": \"2014-05-05T15:49:55Z\", \"repo_id\": \"1\", \"created\": \"2014-05-05T15:49:55Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"86ecd019-1b6d-45e2-b0f4-f1c7ec99f786\", \"metadata\": {\"build_time\": 1308257466, \"buildhost\": \"dhcp-26-118.brq.redhat.com\", \"_content_type_id\": \"rpm\", \"vendor\": null, \"size\": 2244, \"group\": \"Internet/Applications\", \"_ns\": \"units_rpm\", \"relative_url_path\": null, \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": \"0\", \"version\": \"0.3\", \"version_sort_index\": \"01-0.01-3\", \"provides\": [{\"release\": \"0.8\", \"epoch\": \"0\", \"version\": \"0.3\", \"flags\": \"EQ\", \"name\": \"elephant\"}], \"files\": [], \"repodata\": {\"filelists\": \"<package arch=\\\"noarch\\\" name=\\\"elephant\\\" pkgid=\\\"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\\\">\\n    <version epoch=\\\"0\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n\\n    <file>//elephant.txt</file>\\n</package>\\n\\n\", \"other\": \"<package arch=\\\"noarch\\\" name=\\\"elephant\\\" pkgid=\\\"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\\\">\\n    <version epoch=\\\"0\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n\\n</package>\\n\\n\", \"primary\": \"<package type=\\\"rpm\\\">\\n  <name>elephant</name>\\n  <arch>noarch</arch>\\n  <version epoch=\\\"0\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n  <checksum pkgid=\\\"YES\\\" type=\\\"sha256\\\">3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3</checksum>\\n  <summary>A dummy package of elephant</summary>\\n  <description>A dummy package of elephant</description>\\n  <packager />\\n  <url>http://tstrachota.fedorapeople.org</url>\\n  <time build=\\\"1308257466\\\" file=\\\"1321891027\\\" />\\n  <size archive=\\\"296\\\" installed=\\\"42\\\" package=\\\"2244\\\" />\\n<location href=\\\"elephant-0.3-0.8.noarch.rpm\\\" />\\n  <format>\\n    <rpm:license >GPLv2</rpm:license>\\n    <rpm:vendor />\\n    <rpm:group >Internet/Applications</rpm:group>\\n    <rpm:buildhost >dhcp-26-118.brq.redhat.com</rpm:buildhost>\\n    <rpm:sourcerpm >elephant-0.3-0.8.src.rpm</rpm:sourcerpm>\\n    <rpm:header-range end=\\\"2028\\\" start=\\\"280\\\" />\\n    <rpm:provides >\\n      <rpm:entry epoch=\\\"0\\\" flags=\\\"EQ\\\" name=\\\"elephant\\\" rel=\\\"0.8\\\" ver=\\\"0.3\\\" />\\n    </rpm:provides>\\n    <rpm:requires >\\n      <rpm:entry name=\\\"/bin/sh\\\" pre=\\\"1\\\" />\\n    </rpm:requires>\\n  </format>\\n</package>\\n\"}, \"description\": \"A dummy package of elephant\", \"_last_updated\": 1399308595, \"time\": 1321891027, \"header_range\": {\"start\": 280, \"end\": 2028}, \"release_sort_index\": \"01-0.01-8\", \"arch\": \"noarch\", \"name\": \"elephant\", \"_storage_path\": \"/var/lib/pulp/content/rpm/elephant/0.3/0.8/noarch/3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3/elephant-0.3-0.8.noarch.rpm\", \"sourcerpm\": \"elephant-0.3-0.8.src.rpm\", \"checksumtype\": \"sha256\", \"license\": \"GPLv2\", \"changelog\": null, \"url\": \"http://tstrachota.fedorapeople.org\", \"relativepath\": \"elephant-0.3-0.8.noarch.rpm\", \"summary\": \"A dummy package of elephant\", \"checksum\": \"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\", \"release\": \"0.8\", \"_id\": \"86ecd019-1b6d-45e2-b0f4-f1c7ec99f786\", \"requires\": [{\"release\": null, \"epoch\": null, \"version\": null, \"flags\": null, \"name\": \"/bin/sh\"}]}, \"unit_type_id\": \"rpm\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5367c13386d9a910c84ab742\"}, \"id\": \"5367c13386d9a910c84ab742\", \"owner_id\": \"yum_importer\"}]"
  recorded_at: Mon, 05 May 2014 16:49:58 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="3xzWWFdaimJV3ReKBL9zB85bP8MrZNZ8EAVoXfTIk", oauth_signature="gx2DEj60wGevRVnmHyjy2116%2Brg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308598", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\"}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2014-05-05T17:49:56+01:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"5367c13286d9a90f982f800e\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"5367c13286d9a90f982f800d\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2014-05-05T17:49:56+01:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"5367c13286d9a90f982f800c\"}, \"config\": {\"checksum_type\": \"sha256\", \"protected\": true, \"http\": false, \"https\": true, \"relative_url\": \"/test_path/\"}, \"id\": \"1\"}], \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {\"package_group\": 2, \"distribution\": 1, \"package_category\": 1, \"rpm\": 8, \"erratum\": 2}, \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2014-05-05T17:49:55+01:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"5367c13286d9a90f982f800b\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"5367c13286d9a90f982f800a\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 05 May 2014 16:49:58 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/publish/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="twTLsbqpeJaCw1vn7SJ8vUHWS1WMe2y6DK0VU0XsWLo", oauth_signature="%2FgL%2FysHGvyz89my9zzwB%2Bc1gfKA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308598", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/bfec0f37-d9c8-4128-90d9-93d4ac438a9c/\", \"task_id\": \"bfec0f37-d9c8-4128-90d9-93d4ac438a9c\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:49:58 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/e0095813-1360-45c3-a5dd-60f44424fb77/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="P8eiL5OTFPBJV76KBakVBGtcKou0jF7dW6oejiAw1N4", oauth_signature="V4o%2FQCr454MZ2onF2Nw1XhAfQP8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308600", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/e0095813-1360-45c3-a5dd-60f44424fb77/\", \"task_id\": \"e0095813-1360-45c3-a5dd-60f44424fb77\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-05T16:49:59Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:49:59Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-05T17:49:59+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-05T17:49:59+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"5367c13786d9a910c84ab760\", \"result\": \"success\"}, \"_id\": {\"$oid\": \"5367c137c552ed9bd4e4dae3\"}}"
  recorded_at: Mon, 05 May 2014 16:50:00 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/rpm/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"b45dfc90-7f25-44c8-aa8c-e236cfb0b0a6\",\"86ecd019-1b6d-45e2-b0f4-f1c7ec99f786\",\"1a905f32-bd29-4453-b57b-98d7c47a775d\",\"892da8cf-4d5f-4496-9372-bb5af538c536\",\"5f5ff6e5-3b07-4e5b-8921-1ce13d17f81b\",\"673f8196-a643-4ab0-94cc-9e0e38dc10ca\",\"3cab7828-1098-4ffb-8df6-ea1396cd71cc\",\"e696ab20-dafc[...]
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"package_category\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="hxlOVWq3W0QolnNTy18xWi4WGFwms3G4A21QYFc8", oauth_signature="GXeY8hIu2vfVV9msPJ3O9OtI1tY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308601", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"updated\": \"2014-05-05T15:49:55Z\", \"repo_id\": \"1\", \"created\": \"2014-05-05T15:49:55Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"f9e517fb-64e5-4b21-9cc2-79845ad20306\", \"metadata\": {\"_storage_path\": null, \"repo_id\": \"1\", \"description\": null, \"_ns\": \"units_package_category\", \"_last_updated\": 1399308595, \"id\": \"all\", \"packagegroupids\": [\"mammal\", \"bird\"], \"translated_description\": {}, \"translated_name\": {}, \"_content_type_id\": \"package_category\", \"_id\": \"f9e517fb-64e5-4b21-9cc2-79845ad20306\", \"display_order\": 99, \"name\": \"all\"}, \"unit_type_id\": \"package_category\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5367c13386d9a910c84ab74b\"}, \"id\": \"5367c13386d9a910c84ab74b\", \"owner_id\": \"yum_importer\"}]"
  recorded_at: Mon, 05 May 2014 16:50:01 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"package_group\"]}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="v3Xdkv1IWhrgROhY4Qb6tA6e3vXUbWDZfAKOnyICQ", oauth_signature="XF%2FXAOCRchmTJG%2BaAmIlj7VXhL8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308601", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"updated\": \"2014-05-05T15:49:55Z\", \"repo_id\": \"1\", \"created\": \"2014-05-05T15:49:55Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"f810b8d4-af06-4342-a92c-6de56f87b80b\", \"metadata\": {\"_storage_path\": null, \"mandatory_package_names\": [\"penguin\"], \"repo_id\": \"1\", \"translated_name\": {}, \"description\": null, \"user_visible\": true, \"default\": true, \"_ns\": \"units_package_group\", \"_last_updated\": 1399308595, \"optional_package_names\": [], \"id\": \"bird\", \"translated_description\": {}, \"conditional_package_names\": [], \"default_package_names\": [], \"_content_type_id\": \"package_group\", \"langonly\": null, \"_id\": \"f810b8d4-af06-4342-a92c-6de56f87b80b\", \"display_order\": 1024, \"name\": \"bird\"}, \"unit_type_id\": \"package_group\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5367c13386d9a910c84ab749\"}, \"id\": \"5367c13386d9a910c84ab749\", \"owner_id\": \"yum_importer\"}, {\"updated\": \"2014-05-05T15:49:55Z\", \"repo_id\": \"1\", \"created\": \"2014-05-05T15:49:55Z\", \"_ns\": \"repo_content_units\", \"unit_id\": \"650932af-8d00-4876-bda3-f0dfb1785c4b\", \"metadata\": {\"_storage_path\": null, \"mandatory_package_names\": [\"elephant,giraffe,cheetah,lion,monkey,penguin,squirrel,walrus\", \"penguin\"], \"repo_id\": \"1\", \"translated_name\": {}, \"description\": null, \"user_visible\": true, \"default\": true, \"_ns\": \"units_package_group\", \"_last_updated\": 1399308595, \"optional_package_names\": [], \"id\": \"mammal\", \"translated_description\": {}, \"conditional_package_names\": [], \"default_package_names\": [], \"_content_type_id\": \"package_group\", \"langonly\": null, \"_id\": \"650932af-8d00-4876-bda3-f0dfb1785c4b\", \"display_order\": 1024, \"name\": \"mammal\"}, \"unit_type_id\": \"package_group\", \"owner_type\": \"importer\", \"_id\": {\"$oid\": \"5367c13386d9a910c84ab74a\"}, \"id\": \"5367c13386d9a910c84ab74a\", \"owner_id\": \"yum_importer\"}]"
  recorded_at: Mon, 05 May 2014 16:50:01 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/?tag=pulp:action:sync
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
[...]
