--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="LDrnkL57pwwGpXJQNDMxDC1RvTVUjDBb32JKmR1tmeU", oauth_signature="Ak1WnaJ0nnxpdp0PWjPj1y1wobY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185960", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5375246886d9a9321c14a654\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:32:40 GMT
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="FjDZa6hLxO9uL2BuVMIjV2vjEIF60mTQz0vsnyWHE", oauth_signature="u%2B33uvMbwml3dPrAZke4PKF2pBE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185960", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/7aa4e256-9729-4e82-8321-d9f939e919b9/\", \"task_id\": \"7aa4e256-9729-4e82-8321-d9f939e919b9\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:32:41 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/7aa4e256-9729-4e82-8321-d9f939e919b9/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="z2pmT55gevhLewUWEWjn7gtVdKAZrX0ZwySXcx2apA", oauth_signature="2NIihYg%2FveLa0PlVw6FWEnHUIBU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185961", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/7aa4e256-9729-4e82-8321-d9f939e919b9/\", \"task_id\": \"7aa4e256-9729-4e82-8321-d9f939e919b9\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-15T20:32:41Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:32:41Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524693c307ec505e86167\"}, \"id\": \"5375246986d9a9321c14a65a\"}"
  recorded_at: Thu, 15 May 2014 20:32:41 GMT
recorded_with: VCR 2.9.0
