--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="q8QlHfcOmOlMPcsRWbuqHU1AvUoDRRyGN78ej61TtQ", oauth_signature="EuRXy85t2dXYKXgX%2FLgzAkiiPY4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308621", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5367c14d86d9a90f982f805f\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 05 May 2014 16:50:21 GMT
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="fqhe6Y09gKhYagAPDqmUoOsaWhrbAOcXxiGeOEe7Jfo", oauth_signature="ha8zIjUz%2BRxM5NLxYLxjj%2FdMvtA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308621", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/c9341ea5-785b-4b1b-bf18-98e7cd84df5d/\", \"task_id\": \"c9341ea5-785b-4b1b-bf18-98e7cd84df5d\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:50:21 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/c9341ea5-785b-4b1b-bf18-98e7cd84df5d/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="kiWzsseJBEiangOye7p4yIuZQ58koQDqolfYdEtuy4", oauth_signature="hvTJRmnXU8dbmgcH3QipNjMsqOg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308621", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/c9341ea5-785b-4b1b-bf18-98e7cd84df5d/\", \"task_id\": \"c9341ea5-785b-4b1b-bf18-98e7cd84df5d\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-05T16:50:21Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:50:21Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"_id\": {\"$oid\": \"5367c14dc552ed9bd4e4daf5\"}}"
  recorded_at: Mon, 05 May 2014 16:50:21 GMT
recorded_with: VCR 2.9.0
