--- 
http_interactions: 
- request: 
    method: post
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="JNKzhJtpoLleLNYhocQDJiKCYsOqUsFNVehrY2aTfAw", oauth_signature="wx7LRgrOKRcHe%2BnGcV3p3l%2FzFVw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380677885", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"524b78fdac2664d717001b33\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 02 Oct 2013 01:38:06 GMT
- request: 
    method: delete
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="mr8SjxtspGn0661LBGQNo2fsX4eGn5HXDECnWwN0E", oauth_signature="IFo0aDUNH1J5RRXzWNCtEk%2FZHKE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380677886", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"2d8ec1e3-f1be-4a6a-8672-b4dd3709f6a9\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/2d8ec1e3-f1be-4a6a-8672-b4dd3709f6a9/\", \"task_id\": \"ecc4aad9-ad6f-4824-b32a-203ff8221949\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"2d8ec1e3-f1be-4a6a-8672-b4dd3709f6a9\", \"call_request_id\": \"ecc4aad9-ad6f-4824-b32a-203ff8221949\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 02 Oct 2013 01:38:06 GMT
recorded_with: VCR 2.5.0
