--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="KLygNdLq8CLCziDtheCnicKM0LDdk6Dn0br1VUZ7w", oauth_signature="vxZFqZN04ERKxfhH7gll4fLzw18%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185848", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"537523f886d9a9321c14a5d7\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:30:48 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="PUZ0IhtGbmvednw7PqJcJU62Zs5Y0xEUZqKKlIiwaMU", oauth_signature="Qh9ULXYmdKIEZdySpD2X8MwdxY0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185848", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"537523f886d9a9321c14a5db\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"537523f886d9a9321c14a5da\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"537523f886d9a9321c14a5d9\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}], \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": null, \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"537523f886d9a9321c14a5d8\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"537523f886d9a9321c14a5d7\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:30:48 GMT
- request: 
    method: put
    uri: https://centos.installer/pulp/api/v2/repositories/1/importers/yum_importer//
    body: 
      encoding: US-ASCII
      string: "{\"importer_config\":{\"feed\":\"http://foo.com/foo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Mce5a0V1EbV4SJx8djg9bKovEDLtEOQYfItCIyql4", oauth_signature="o%2Bd6mmAXQb3heVoQVz1AlOLe6kQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185848", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/d4584dff-665b-47cb-a410-d5943aa8a96f/\", \"task_id\": \"d4584dff-665b-47cb-a410-d5943aa8a96f\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:30:49 GMT
- request: 
    method: put
    uri: https://centos.installer/pulp/api/v2/repositories/1/distributors/1//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ZbsCC5MYiS0WGPa1oeY1k2Gk3DTU30DtSKboOarXGCo", oauth_signature="UdbLT8q%2B%2FcdFsde1moUg1%2F71Mws%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185849", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/7a8173f4-af79-4a30-bbf6-34a945056f67/\", \"task_id\": \"7a8173f4-af79-4a30-bbf6-34a945056f67\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:30:50 GMT
- request: 
    method: put
    uri: https://centos.installer/pulp/api/v2/repositories/1/distributors/1_clone//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{\"destination_distributor_id\":\"1\"}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="fMT8uD0hRRQ8f5mYbEpnbkb8qIqAjEdxDwox3reHE", oauth_signature="dE7QBn3eyAo7u0gwcU3z1oAIQuk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185850", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/b4503756-1b25-4297-b7e6-fa1d303a4fe3/\", \"task_id\": \"b4503756-1b25-4297-b7e6-fa1d303a4fe3\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:30:50 GMT
- request: 
    method: put
    uri: https://centos.installer/pulp/api/v2/repositories/1/distributors/1_nodes//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="MLlRSk1KYwgq5ZqcQIayius0mfTLhNUiYX7h5AwPGg", oauth_signature="9%2FQ9Z4LuxHxel%2FNnX87PKuhBVy0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185850", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/d25be3db-80c3-40a6-9ce9-1e25b61ec456/\", \"task_id\": \"d25be3db-80c3-40a6-9ce9-1e25b61ec456\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:30:51 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ymbu9Gx2s4aRmvfiOF3mBweTQcH8SJTEfxB3DOmDic", oauth_signature="yn%2B4Cf8VcPsiGy3xR77f4BxQSs0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185851", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/4554cf54-f369-4d6a-b90e-37dbdd709511/\", \"task_id\": \"4554cf54-f369-4d6a-b90e-37dbdd709511\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:30:52 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/4554cf54-f369-4d6a-b90e-37dbdd709511/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Ci3Y1MKDs9NhOJ52ETrsxnT2SExcqiZjGbw3r4YObU", oauth_signature="BfiBTB4NU3F7YKb%2Fst9KoIYIA9A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185852", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/4554cf54-f369-4d6a-b90e-37dbdd709511/\", \"task_id\": \"4554cf54-f369-4d6a-b90e-37dbdd709511\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-15T20:30:52Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:30:52Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537523fc3c307ec505e86117\"}, \"id\": \"537523fc86d9a9321c14a5e2\"}"
  recorded_at: Thu, 15 May 2014 20:30:52 GMT
recorded_with: VCR 2.9.0
