--- 
http_interactions: 
- request: 
    method: post
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="r94umAi3uvLQCEEuwUNtkhlQFvJdqsyNSPTHrOTX5WE", oauth_signature="FYJc%2FqF0nTswJubVgmlSwqYkFNc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380748781", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"524c8dedac2664d717001b48\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 02 Oct 2013 21:19:41 GMT
- request: 
    method: get
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="4vdzANUlSaKO87B3NpV5wSBR2F0CxcmUD2ITu5o55gQ", oauth_signature="yZickjB60MsDkzi3P2VK3fmCN5o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380748782", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"524c8dedac2664d717001b4c\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"524c8dedac2664d717001b4b\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"524c8dedac2664d717001b4a\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}], \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": null, \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"524c8dedac2664d717001b49\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"524c8dedac2664d717001b48\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 02 Oct 2013 21:19:42 GMT
- request: 
    method: put
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer//
    body: 
      encoding: US-ASCII
      string: "{\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"http://foo.com/foo\"}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Ne62vDHGeRaVk503WgMiz93FvJchN55DzngqzMFkwg", oauth_signature="k6oTMdmN36eNo4AKKq4iJNJTjq4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380748782", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": null, \"scratchpad\": null, \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"524c8dedac2664d717001b49\"}, \"config\": {\"feed\": \"http://foo.com/foo\"}, \"id\": \"yum_importer\"}"
  recorded_at: Wed, 02 Oct 2013 21:19:42 GMT
- request: 
    method: put
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/distributors/1//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="SHmRx3bVszpZrf4ClttVPrdesWF6ijBS9P7IyaaClw", oauth_signature="F7%2Fy95QStZoz9PSpxI%2FubmZ%2BncQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380748782", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"6104d830-a8f6-466a-a144-77fd5900664d\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/6104d830-a8f6-466a-a144-77fd5900664d/\", \"task_id\": \"097ddec3-c9d8-4b3d-8b79-9707ab4fb920\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:update_distributor\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:update_distributor\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"6104d830-a8f6-466a-a144-77fd5900664d\", \"call_request_id\": \"097ddec3-c9d8-4b3d-8b79-9707ab4fb920\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 02 Oct 2013 21:19:42 GMT
- request: 
    method: put
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/distributors/1_clone//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{\"destination_distributor_id\":\"1\"}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="fyfomwSA4HJT28PvTUcd4zLqkIU1S0C4igguuZUsUg", oauth_signature="5IAr9tAnZJDkIZ[...]
- request: 
    method: put
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/distributors/1_nodes//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="hPDOKxlqYskBdjgVvmiYiySAqYiotGNIPlbokzaLqM", oauth_signature="v3noBBDkvLZT5HYjmpp2%2B73dsXU%3D", oauth_signature[...]
[...]
- request: 
    method: delete
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="qGuDQgbb3pazNivEbXIinK1TsOvfT6bpir9L6qA389c", oauth_signature="%2B7aF8lf2wCAv9rQksn703tc3%2Baw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380748783", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"214cc6b5-77f8-4d68-b66a-b7125595ee6b\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/214cc6b5-77f8-4d68-b66a-b7125595ee6b/\", \"task_id\": \"26590eab-d855-4163-bcb5-5b0a2737345a\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"214cc6b5-77f8-4d68-b66a-b7125595ee6b\", \"call_request_id\": \"26590eab-d855-4163-bcb5-5b0a2737345a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 02 Oct 2013 21:19:43 GMT
recorded_with: VCR 2.5.0
