--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="AZOSxPUpbOASqluehVLvm7QJeH7xpxdZiFtiH6MHrVc", oauth_signature="YFJMF%2FrhOXScNHUF5htR7Et9Su4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308527", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5367c0ef86d9a90f982f7f9b\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 05 May 2014 16:48:47 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="iFv21GbkfIeS7TEusRicNcg0qgRsknePbBOFDTzcJY", oauth_signature="oMsbQ4G2RPL8m5pQ8HSBubzQ0xg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308527", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"5367c0ef86d9a90f982f7f9f\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"5367c0ef86d9a90f982f7f9e\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"5367c0ef86d9a90f982f7f9d\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}], \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": null, \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"5367c0ef86d9a90f982f7f9c\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"5367c0ef86d9a90f982f7f9b\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 05 May 2014 16:48:47 GMT
- request: 
    method: put
    uri: https://centos.installer/pulp/api/v2/repositories/1/importers/yum_importer//
    body: 
      encoding: US-ASCII
      string: "{\"importer_config\":{\"feed\":\"http://foo.com/foo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="xqlAah5RZpJaKvRZLMZ4liT29ljKBh8Qd3lh3bXdGY", oauth_signature="EfRZE9s1BWC8mLr0vfRVd%2F0Vm%2BA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308527", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/59c5ca5e-c469-4b3c-abf8-2ad85968b422/\", \"task_id\": \"59c5ca5e-c469-4b3c-abf8-2ad85968b422\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:48:48 GMT
- request: 
    method: put
    uri: https://centos.installer/pulp/api/v2/repositories/1/distributors/1//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="JUg2LgrXWdF9P7H6UFAc0OaeInYFraSMsan38o6FBM", oauth_signature="kkM2vWjfPWELTzNNuYGvDAPFeS8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308528", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/e1dde55d-9bed-4db9-9539-f22df1b60cc6/\", \"task_id\": \"e1dde55d-9bed-4db9-9539-f22df1b60cc6\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:48:49 GMT
- request: 
    method: put
    uri: https://centos.installer/pulp/api/v2/repositories/1/distributors/1_clone//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{\"destination_distributor_id\":\"1\"}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="WoXbhUvYKKAcnv1SVP8xOKuqix4Yh5zTkHjapdkauRs", oauth_signature="gdSxWv4gOfSax%2Bn4Ld5zg4gUV3o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308529", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/a2a5ca9f-eaf6-456e-8b1c-16c42d0e0b4a/\", \"task_id\": \"a2a5ca9f-eaf6-456e-8b1c-16c42d0e0b4a\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:48:49 GMT
- request: 
    method: put
    uri: https://centos.installer/pulp/api/v2/repositories/1/distributors/1_nodes//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="iCH6z7HgqFE1Ht85zDEjF4N3J0jhIJ5G3VHq9b3Tuc", oauth_signature="ImrL696axr5M7ja2Mc%2Fs7kU1Bzw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308529", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/a8cb4b2b-7f36-49c6-acf2-6fa9a6d4506f/\", \"task_id\": \"a8cb4b2b-7f36-49c6-acf2-6fa9a6d4506f\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:48:50 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="BZP3SwNGOvJbV7aBpLrr3U9VuLEg2X9YEaSTy4n434", oauth_signature="ta9BAgPGdxyWMvS1fVRqFLHhALI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308530", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/025d992e-d9b3-449d-9133-9439878f92e1/\", \"task_id\": \"025d992e-d9b3-449d-9133-9439878f92e1\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:48:51 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/025d992e-d9b3-449d-9133-9439878f92e1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="zFdHLUefUQEliaY8iD03XvWeHTSTiC17IK0Wabxd7D8", oauth_signature="LZbuB5f%2F2%2FnrcWi2PCB7fddY1nY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308531", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/025d992e-d9b3-449d-9133-9439878f92e1/\", \"task_id\": \"025d992e-d9b3-449d-9133-9439878f92e1\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-05T16:48:51Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:48:51Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"_id\": {\"$oid\": \"5367c0f3c552ed9bd4e4dab0\"}}"
  recorded_at: Mon, 05 May 2014 16:48:51 GMT
recorded_with: VCR 2.9.0
