--- 
http_interactions: 
- request: 
    method: post
    uri: https://katello18.devel/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Bip7gNRXbMBNFVznSdgFxDBJhLj3d8sU5Riu3yJkU", oauth_signature="zgZ%2BPn%2FYy7cjAzAIrUPNPU14NuU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379445781", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5238ac16288e06059fe9cacf\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Tue, 17 Sep 2013 19:23:02 GMT
- request: 
    method: get
    uri: https://katello18.devel/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="hHbdk5qkSRjLVIggCMCABD77A03Knx26wkxObj9R50Y", oauth_signature="WulHcsewrOu3SqApLzyQcZT1ZRc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379445782", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5238ac16288e06059fe9cacf\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": null, \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"5238ac16288e06059fe9cad0\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"5238ac16288e06059fe9cad3\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"5238ac16288e06059fe9cad2\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"5238ac16288e06059fe9cad1\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Tue, 17 Sep 2013 19:23:02 GMT
- request: 
    method: put
    uri: https://katello18.devel/pulp/api/v2/repositories/1/importers/yum_importer//
    body: 
      encoding: US-ASCII
      string: "{\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"http://foo.com/foo\"}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="APLuUFNqMw35EFkKaxvFWITaU2JLoKLBD9bX9bhF84", oauth_signature="32rGMHuXRdWChuFkZRuO1vc74r4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379445782", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": null, \"scratchpad\": null, \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"5238ac16288e06059fe9cad0\"}, \"config\": {\"feed\": \"http://foo.com/foo\"}, \"id\": \"yum_importer\"}"
  recorded_at: Tue, 17 Sep 2013 19:23:02 GMT
- request: 
    method: put
    uri: https://katello18.devel/pulp/api/v2/repositories/1/distributors/1//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="tkdy8FU8Nj8haeYV0pUmnH1qhDcBeBAmjcF1LN2p4", oauth_signature="Y66SO2n67j8hasifIHRLcgb%2Fw60%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379445782", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"71069da1-5012-498f-b87a-14af03645619\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/71069da1-5012-498f-b87a-14af03645619/\", \"task_id\": \"162758a8-0083-4147-9ef0-32a56d9a570b\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:update_distributor\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:update_distributor\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"71069da1-5012-498f-b87a-14af03645619\", \"call_request_id\": \"162758a8-0083-4147-9ef0-32a56d9a570b\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 17 Sep 2013 19:23:02 GMT
- request: 
    method: put
    uri: https://katello18.devel/pulp/api/v2/repositories/1/distributors/1_clone//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{\"destination_distributor_id\":\"1\"}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="XN0Zp766DTvWtTi3D0miMbePFPw3e59dzqRhXJj1ETU", oauth_signature="emHB%2BpAxF7WA8Hu[...]
- request: 
    method: put
    uri: https://katello18.devel/pulp/api/v2/repositories/1/distributors/1_nodes//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="RjkZUpc3vao9IzaDdsLzpg82H8sa63DwQ7S4ZokQ4", oauth_signature="41xKAoTQbeWKAMZLIA6xHzIayIY%3D", oauth_signature_method[...]
[...]
