--- 
http_interactions: 
- request: 
    method: post
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="bjCmkHU9HC4WTv88rqkWtu225bBieNi1V2O5zpgvq0M", oauth_signature="2TP9YAjBu0bGnxO7vDiOLlU%2FQUA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380677767", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"524b7887ac2664d717001721\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 02 Oct 2013 01:36:07 GMT
- request: 
    method: get
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="jnOoMYHLe5Xs2YGaNcudrmYujkkrcG6o62TphCVbtw", oauth_signature="MxWdWcaFw%2Bf2A%2BH8%2FBdqarLaz3o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380677768", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"524b7887ac2664d717001725\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"524b7887ac2664d717001724\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"524b7887ac2664d717001723\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}], \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": null, \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"524b7887ac2664d717001722\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"524b7887ac2664d717001721\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 02 Oct 2013 01:36:08 GMT
- request: 
    method: put
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer//
    body: 
      encoding: US-ASCII
      string: "{\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"http://foo.com/foo\"}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="yhomoem41XhutmzI8tU2qOaIZcYDUIHRNwo3OBzbVdY", oauth_signature="F%2F0MAlmjQkfMCuGcz1LdBuKPooI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380677768", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": null, \"scratchpad\": null, \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"524b7887ac2664d717001722\"}, \"config\": {\"feed\": \"http://foo.com/foo\"}, \"id\": \"yum_importer\"}"
  recorded_at: Wed, 02 Oct 2013 01:36:08 GMT
- request: 
    method: put
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/distributors/1//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="J9EEduilfIKs7HnxSGwvGWwigKAEmld5NYoGjhmk", oauth_signature="IS9LQBswaCbot6xeFw%2FW8rsw3Iw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380677768", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"2cb8e4ac-bfe8-41a7-b5f9-4c32488705dc\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/2cb8e4ac-bfe8-41a7-b5f9-4c32488705dc/\", \"task_id\": \"10c04f86-7a01-44f2-a9d6-55468c43eb58\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:update_distributor\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:repository_distributor:1\", \"pulp:action:update_distributor\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"2cb8e4ac-bfe8-41a7-b5f9-4c32488705dc\", \"call_request_id\": \"10c04f86-7a01-44f2-a9d6-55468c43eb58\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 02 Oct 2013 01:36:08 GMT
- request: 
    method: put
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/distributors/1_clone//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{\"destination_distributor_id\":\"1\"}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="m4sb60X5b0p7VUO8seeOBXLqOSghnatkU2jeKwvLB9o", oauth_signature="dWsQKcvRW6ypb[...]
- request: 
    method: put
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/distributors/1_nodes//
    body: 
      encoding: US-ASCII
      string: "{\"distributor_config\":{}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="JWbRdWgSPJMylgtRhcAJ1w7A6ZnxXwnfiYpaK75oWA", oauth_signature="nR%2FlYz0r7kax3Ew7shpBeXW4kKU%3D", oauth_signature[...]
[...]
- request: 
    method: delete
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="egu9WK5SjoCMkWKAFiMqi1ncaG1flPDppcGH6MIK4", oauth_signature="NieneuSmvU4uKrHM8ji1cMluNyY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380677769", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"2932bdb0-03d2-48ae-a317-0fe9625782f3\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/2932bdb0-03d2-48ae-a317-0fe9625782f3/\", \"task_id\": \"1b944eff-e792-47ab-a5df-03de1f076ca6\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"2932bdb0-03d2-48ae-a317-0fe9625782f3\", \"call_request_id\": \"1b944eff-e792-47ab-a5df-03de1f076ca6\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 02 Oct 2013 01:36:09 GMT
recorded_with: VCR 2.5.0
