--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/6acde52d-db30-4632-8e48-11b0af36e507/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="x3pX0luzWuZGoZD8DQ6wJgUJVjSQn9yP9AFfCfc", oauth_signature="vJk7DUcmkhMnjO%2Bt4J%2Fsrc3h8Ro%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081805", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"2af81a0a-dd7e-40d6-a94e-a77932fae36a\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/6acde52d-db30-4632-8e48-11b0af36e507/\", \"task_id\": \"6acde52d-db30-4632-8e48-11b0af36e507\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-09-13T14:16:45Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"2af81a0a-dd7e-40d6-a94e-a77932fae36a\", \"call_request_id\": \"6acde52d-db30-4632-8e48-11b0af36e507\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 13 Sep 2013 14:16:45 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/51473b8d-3d12-4434-954a-ef57de287d70/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="E6rbc6M7p900W196my9sDFXP51ZHJX0sACNPjMuTj8", oauth_signature="v%2FH3x%2F4lXtp7SyspaXQ%2F4EErkFk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081823", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/51473b8d-3d12-4434-954a-ef57de287d70/\", \"task_id\": \"51473b8d-3d12-4434-954a-ef57de287d70\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-09-13T14:17:03Z\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-09-13T14:17:03Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"51473b8d-3d12-4434-954a-ef57de287d70\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": [{\"unit_key\": {\"name\": \"cheetah\", \"checksum\": \"422d0baa0cd9d7713ae796e886a23e17f578f924f74880debdbb7d65fb368dae\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"sha256\"}, \"type_id\": \"rpm\"}, {\"unit_key\": {\"name\": \"elephant\", \"checksum\": \"3e1c70cd1b421328acaf6397cb3d16145306bb95f65d1b095fc31372a0a701f3\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"sha256\"}, \"type_id\": \"rpm\"}, {\"unit_key\": {\"name\": \"giraffe\", \"checksum\": \"f25d67d1d9da04f12e57ca323247b43891ac46533e355b82de6d1922009f9f14\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/0906d80d-c4b8-46a7-ab50-5fc7ddd8edd1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="okeUDi6Xo0O1CpLHJypAXu7NUazOQjXkEmjf4NTPXk", oauth_signature="TT8bQziFsfjO1MFmyA2ooISST9A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081824", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/0906d80d-c4b8-46a7-ab50-5fc7ddd8edd1/\", \"task_id\": \"0906d80d-c4b8-46a7-ab50-5fc7ddd8edd1\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [{\"operation\": \"update\", \"resource_type\": \"repository\", \"resource_id\": \"2\"}], \"start_time\": \"2013-09-13T14:17:03Z\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-09-13T14:17:03Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"0906d80d-c4b8-46a7-ab50-5fc7ddd8edd1\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": [{\"unit_key\": {\"arch\": \"x86_64\", \"version\": \"16\", \"variant\": \"TestVariant\", \"id\": \"ks-Test Family-TestVariant-16-x86_64\", \"family\": \"Test Family\"}, \"type_id\": \"distribution\"}]}"
  recorded_at: Fri, 13 Sep 2013 14:17:04 GMT
[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/8be096b5-b888-4b94-aa19-2b7334ea1858/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="0HoTAP7TxKmR8gzGbs2aSD2rMRkLp1dXLo5TFsu2zN8", oauth_signature="R3DuFEjnqR1R8iGAb7YHIVmoiUk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081825", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/8be096b5-b888-4b94-aa19-2b7334ea1858/\", \"task_id\": \"8be096b5-b888-4b94-aa19-2b7334ea1858\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"reasons\": [], \"start_time\": \"2013-09-13T14:17:03Z\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"state\": \"finished\", \"finish_time\": \"2013-09-13T14:17:03Z\", \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"8be096b5-b888-4b94-aa19-2b7334ea1858\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": [{\"unit_key\": {\"repo_id\": \"2\", \"id\": \"bird\"}, \"type_id\": \"package_group\"}, {\"unit_key\": {\"repo_id\": \"2\", \"id\": \"mammal\"}, \"type_id\": \"package_group\"}]}"
  recorded_at: Fri, 13 Sep 2013 14:17:05 GMT
[...]
- request: 
    method: get
    uri: https://localhost/pulp/api/v2/tasks/d5791039-7ef7-4a21-bb49-a272a9a033fc/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="z4ClRYllL9EOuxMgNy4AQ4DXL79Cn4sAFFD3qMuzo", oauth_signature="OnJAimpiUfoKxtJWe7HupKAqDaw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379703350", oauth_version="1.0"
      Pulp-User: [...]
[...]
- request: 
    method: get
    uri: https://kona.pdx.redhat.com/pulp/api/v2/tasks/8b4dd25f-eeec-42c6-a07f-dc3f2ddaab0a/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="yr6KmNVDFuGk4ru7KZzs4ogNhTi6fFmkHP5HjCttnA", oauth_signature="JzwnAsweLp6m6bTlav06NLc3eKw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380665772", oauth_version="1.0"
      [...]
[...]
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="6k0IGohBblKxc5wu66loai4cIhYfSs6LQIVMtPP6M", oauth_signature="EG7E%2BnRHe%2BFzuOy3AkVI%2FY8PFdc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380912703", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"524f0e3fd60ea3242aee70cb\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 04 Oct 2013 18:51:43 GMT
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="zQQLv6lgpbIpTiqbSZ6Tby6GL9YIUvcE54VqCQxDQXg", oauth_signature="Cxj6ImdVfH0zYGVf3coTMuLymRM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380912703", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Co[...]
[...]
- request: 
    method: delete
    uri: https://localhost/pulp/api/v2/repositories/acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="8pXKfJ3Kbt2YRp1Hom4qPBjCb6Ys3cHcYKdGvrlee14", oauth_signature="nxKyEesQQO4Adm7LqamMx6sQzW8%3D", oauth_signature_method="HMAC-SHA1", o[...]
[...]
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/acme_corporation_label-staging_label-org_default_label-fedora_label-fedora_17_x86_64_label/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{},\"fields\":{\"unit\":[\"name\",\"epoch\",\"version\",\"release\",\"arch\",\"checksumtype\",\"checksum\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="dHOLev9PoyMhVsNSzukCsEluPIgsj9kXHZWog8OIW8", oauth_signature="HmzgWvXI1cgPQ3EAjgFQRzXVTOQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380912720", oauth_version="1.0"
      Pulp-User: 
      - admin
  resp[...]
[...]
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/2/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{},\"fields\":{\"unit\":[\"name\",\"epoch\",\"version\",\"release\",\"arch\",\"checksumtype\",\"checksum\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_cons[...]
[...]
- request: 
    method: delete
    uri: https://localhost/pulp/api/v2/repositories/2/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="4GergN27LK8EfJxxES7GgFBmvQkdhuc1nkFGBwdfUQw", oauth_signature="0sOZk8JBDZhtBExuqLEd0FJ7XgA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380912727", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"beb59c6d-d1cd-4bf0-a025-8bc5438e84ae\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/beb59c6d-d1cd-4bf0-a025-8bc5438e84ae/\", \"task_id\": \"043e8dd9-6d19-4e64-9970-3e4ee8ddc1fa\", \"call_request_tags\": [\"pulp:repository:2\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:2\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"beb59c6d-d1cd-4bf0-a025-8bc5438e84ae\", \"call_request_id\": \"043e8dd9-6d19-4e64-9970-3e4ee8ddc1fa\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 04 Oct 2013 18:52:07 GMT
- request: 
    method: delete
    uri: https://localhost/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="EXNEhLUI3l1wiCc93TtsESPoPphld6E4T0ka5Ac", oauth_signature="UNQsLmZzBf1HzkwbWBceMoqU2jM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380912727", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"fa57e268-16a2-46e2-b176-60ae08664f74\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/fa57e268-16a2-46e2-b176-60ae08664f74/\", \"task_id\": \"58bb8098-8310-4a8b-93b6-266274f42b00\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"fa57e268-16a2-46e2-b176-60ae08664f74\", \"call_request_id\": \"58bb8098-8310-4a8b-93b6-266274f42b00\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 04 Oct 2013 18:52:07 GMT
recorded_with: VCR 2.5.0
