--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="WBvK3AoDJntcX1YYy20MQ515edbKq2JHe6cVI866fg", oauth_signature="jbF8hWPiFQumrMpx9bD54%2FJWjK0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308604", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5367c13c86d9a90f982f8043\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 05 May 2014 16:50:04 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="PY16F0EcqF9Slh11UiDQwihHyw5f69Tsl44EodWAyI", oauth_signature="iU9PzTFUWyTntFw43Bioqgkd6jE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308604", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/31a5c74a-e601-4bc5-8a2a-d41e0400929a/\", \"task_id\": \"31a5c74a-e601-4bc5-8a2a-d41e0400929a\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:50:04 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/31a5c74a-e601-4bc5-8a2a-d41e0400929a/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="NyUjLKHKefbGvmgwsDk3r3nSUz4godXc3RNaxhk", oauth_signature="SKWX41OvYG525isjj2risl8KJsU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308604", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/31a5c74a-e601-4bc5-8a2a-d41e0400929a/\", \"task_id\": \"31a5c74a-e601-4bc5-8a2a-d41e0400929a\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:50:04Z\", \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"_id\": {\"$oid\": \"5367c13cc552ed9bd4e4dae6\"}}"
  recorded_at: Mon, 05 May 2014 16:50:04 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/31a5c74a-e601-4bc5-8a2a-d41e0400929a/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="eOejE3AKghXrUu1fCflzLaGXKu5MKkLvn976GMzROEc", oauth_signature="Pyz6qVYDh9atmwfB0Lq2Sf1AJvc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308606", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/31a5c74a-e601-4bc5-8a2a-d41e0400929a/\", \"task_id\": \"31a5c74a-e601-4bc5-8a2a-d41e0400929a\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": \"2014-05-05T16:50:06Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:50:05Z\", \"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/4d2ab22d-0add-4599-8867-ea7d7853bffb/\", \"task_id\": \"4d2ab22d-0add-4599-8867-ea7d7853bffb\"}, {\"_href\": \"/pulp/api/v2/tasks/3f654354-37bd-40e1-8239-069668f6463a/\", \"task_id\": \"3f654354-37bd-40e1-8239-069668f6463a\"}], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"importer_type_id\": \"yum_importer\", \"importer_id\": \"yum_importer\", \"exception\": null, \"repo_id\": \"1\", \"removed_count\": 0, \"started\": \"2014-05-05T17:50:04+01:00\", \"_ns\": \"repo_sync_results\", \"completed\": \"2014-05-05T17:50:05+01:00\", \"traceback\": null, \"summary\": {\"content\": {\"state\": \"FINISHED\"}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"added_count\": 0, \"error_message\": null, \"updated_count\": 14, \"details\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"id\": \"5367c13d86d9a910c84ab773\", \"result\": \"success\"}, \"_id\": {\"$oid\": \"5367c13cc552ed9bd4e4dae6\"}}"
  recorded_at: Mon, 05 May 2014 16:50:06 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/2/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{},\"fields\":{\"unit\":[\"name\",\"epoch\",\"version\",\"release\",\"arch\",\"checksumtype\",\"checksum\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="wzpc556wFVrOqzsohz2MLxiIL0gGUHeJzKxlvaknfLY", oauth_signature="%2FzLS64fYRR%2FUpRwtljgjj7D0Nro%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308607", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/47be2cfe-9840-427b-861d-10321cdc3b15/\", \"task_id\": \"47be2cfe-9840-427b-861d-10321cdc3b15\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:50:08 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/47be2cfe-9840-427b-861d-10321cdc3b15/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="0vPB3ZT8bQqiNVzmgAMMohZoSrzZOPRIwwDKspOauQ", oauth_signature="6m5t4UwAzGCtTeuKF%2Bs9WgO1I9M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308610", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.managers.repo.unit_association.associate_from_repo\", \"_href\": \"/pulp/api/v2/tasks/47be2cfe-9840-427b-861d-10321cdc3b15/\", \"task_id\": \"47be2cfe-9840-427b-861d-10321cdc3b15\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"finish_time\": \"2014-05-05T16:50:08Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:50:08Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"units_successful\": [{\"unit_key\": {\"name\": \"penguin\", \"checksum\": \"3fcb2c927de9e13bf68469032a28b139d3e5ad2e58564fc210fd6e48635be694\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"sha256\"}, \"type_id\": \"rpm\"}, {\"unit_key\": {\"name\": \"walrus\", \"checksum\": \"6e8d6dc057e3e2c9819f0dc7e6c7b7f86bf2e8571bba414adec7fb621a461dfd\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"sha256\"}, \"type_id\": \"rpm\"}, {\"unit_key\": {\"name\": \"squirrel\", \"checksum\": \"251768bdd15f13d78487c27638aa6aecd01551e253756093cde1c0ae878a17d2\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"s[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/ecbb34b3-4b63-4cfb-830a-162b669ba368/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="XqPOnjN37adXHWeTurwjm7tVBFm4ZXavAw8syCY", oauth_signature="zy3i4XhgxqnEHhZEuj%2B%2BcsiZRsY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308610", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.managers.repo.unit_association.associate_from_repo\", \"_href\": \"/pulp/api/v2/tasks/ecbb34b3-4b63-4cfb-830a-162b669ba368/\", \"task_id\": \"ecbb34b3-4b63-4cfb-830a-162b669ba368\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"finish_time\": \"2014-05-05T16:50:08Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:50:08Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"units_successful\": [{\"unit_key\": {\"variant\": \"TestVariant\", \"version\": \"16\", \"arch\": \"x86_64\", \"id\": \"ks-Test Family-TestVariant-16-x86_64\", \"family\": \"Test Family\"}, \"type_id\": \"distribution\"}]}, \"_id\": {\"$oid\": \"5367c140c552ed9bd4e4daea\"}}"
  recorded_at: Mon, 05 May 2014 16:50:10 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/2/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="TRm4Hyx7VgsmgMJWtLxJsyp1OGyQSFMhlvV3qwIQRwU", oauth_signature="qARwrVRWf3zrbFIHu6dT5QshILI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308613", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/a4cef329-667b-4b91-8606-fc1c6fa0c368/\", \"task_id\": \"a4cef329-667b-4b91-8606-fc1c6fa0c368\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:50:13 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/89fb61f8-d0f6-4e76-96d2-1cf08a80b1c4/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="OKmblOP8dJ5mmMjKE5KDmkP5NMDHYTSFWXuZ3UIl4", oauth_signature="fT1R7FaY0b6mEQblUnzEGbmY6HA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308614", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/89fb61f8-d0f6-4e76-96d2-1cf08a80b1c4/\", \"task_id\": \"89fb61f8-d0f6-4e76-96d2-1cf08a80b1c4\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-05T16:50:14Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:50:14Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"_id\": {\"$oid\": \"5367c146c552ed9bd4e4daef\"}}"
  recorded_at: Mon, 05 May 2014 16:50:14 GMT
recorded_with: VCR 2.9.0
