--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="qmB3ZLZhJ8ZskG1xRRpBbxGVsiansMWIdJgTNVbT00", oauth_signature="4u76rlBGoZUDtypIlZrRoR%2FVF18%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185943", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5375245786d9a9321c14a64a\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:32:23 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="0pupRL6kG6wdU8YjI5XZDtgg7Jv35tR7OnA8vWVXqNA", oauth_signature="9O3g9tPtp9dJr6NxjAzUD4lc%2Btg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185943", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/9afb64a0-9a2b-47c0-b40a-103be9345ebb/\", \"task_id\": \"9afb64a0-9a2b-47c0-b40a-103be9345ebb\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:32:23 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/9afb64a0-9a2b-47c0-b40a-103be9345ebb/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="PGHnhwNHzxS2KYAZrew1T98auJdnb7MVzD0ER4srU", oauth_signature="HtcQnxtpdeJrfksGfosUGPU1fIg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185943", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/9afb64a0-9a2b-47c0-b40a-103be9345ebb/\", \"task_id\": \"9afb64a0-9a2b-47c0-b40a-103be9345ebb\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:32:23Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524573c307ec505e86158\"}, \"id\": \"5375245786d9a9321e2b9382\"}"
  recorded_at: Thu, 15 May 2014 20:32:23 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/2/actions/associate/
    body: 
      encoding: US-ASCII
      string: "{\"source_repo_id\":\"1\",\"criteria\":{\"type_ids\":[\"rpm\"],\"filters\":{},\"fields\":{\"unit\":[\"name\",\"epoch\",\"version\",\"release\",\"arch\",\"checksumtype\",\"checksum\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="HtkhDrwi91NvHP54ivmFBUKUjNVjFhDevB3H2tZNjJk", oauth_signature="W%2FQCL91Eg%2BP49oC%2B9M2J5jYlhjI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185946", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/c0135d09-2a3c-4d00-b3b9-56244ae5d3e9/\", \"task_id\": \"c0135d09-2a3c-4d00-b3b9-56244ae5d3e9\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:32:27 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/c0135d09-2a3c-4d00-b3b9-56244ae5d3e9/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="mGh9LnmmUFx6Uw1l2T0OLEjQpE2K3oeWzwbYYHp4dA", oauth_signature="RYUnSy720ho9ZJLsUeXRzivxWHE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185949", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.unit_association.associate_from_repo\", \"_href\": \"/pulp/api/v2/tasks/c0135d09-2a3c-4d00-b3b9-56244ae5d3e9/\", \"task_id\": \"c0135d09-2a3c-4d00-b3b9-56244ae5d3e9\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"finish_time\": \"2014-05-15T20:32:27Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:32:27Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"units_successful\": [{\"unit_key\": {\"name\": \"penguin\", \"checksum\": \"3fcb2c927de9e13bf68469032a28b139d3e5ad2e58564fc210fd6e48635be694\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"sha256\"}, \"type_id\": \"rpm\"}, {\"unit_key\": {\"name\": \"walrus\", \"checksum\": \"6e8d6dc057e3e2c9819f0dc7e6c7b7f86bf2e8571bba414adec7fb621a461dfd\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"sha256\"}, \"type_id\": \"rpm\"}, {\"unit_key\": {\"name\": \"squirrel\", \"checksum\": \"251768bdd15f13d78487c27638aa6aecd01551e253756093cde1c0ae878a17d2\", \"epoch\": \"0\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\", \"checksumtype\": \"s[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/d1f24944-d0eb-424c-9cae-d60e6eb2a73f/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="oYfE4zQ9heUd8aGSzHYBp3tTCXjKvAqiYoTHZCfk", oauth_signature="WIWSugD28l9zTo58xNi5vDplA8o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185949", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.unit_association.associate_from_repo\", \"_href\": \"/pulp/api/v2/tasks/d1f24944-d0eb-424c-9cae-d60e6eb2a73f/\", \"task_id\": \"d1f24944-d0eb-424c-9cae-d60e6eb2a73f\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"finish_time\": \"2014-05-15T20:32:27Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:32:27Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"units_successful\": [{\"unit_key\": {\"variant\": \"TestVariant\", \"version\": \"16\", \"arch\": \"x86_64\", \"id\": \"ks-Test Family-TestVariant-16-x86_64\", \"family\": \"Test Family\"}, \"type_id\": \"distribution\"}]}, \"error\": null, \"_id\": {\"$oid\": \"5375245b3c307ec505e8615c\"}, \"id\": \"5375245b86d9a9321d8e0f64\"}"
  recorded_at: Thu, 15 May 2014 20:32:29 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/3cfc1d5b-4342-47e7-9caf-4fc222e3ba27/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="K4hv7ZMSmaVmLE7n7XMvFZiEpTKZW9geOOQg5Vmfw", oauth_signature="B%2BXwqbzYiDBXXtDsVELhxhJYXpg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185949", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.unit_association.associate_from_repo\", \"_href\": \"/pulp/api/v2/tasks/3cfc1d5b-4342-47e7-9caf-4fc222e3ba27/\", \"task_id\": \"3cfc1d5b-4342-47e7-9caf-4fc222e3ba27\", \"tags\": [\"pulp:repository:2\", \"pulp:repository:1\", \"pulp:action:associate\"], \"finish_time\": \"2014-05-15T20:32:28Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:32:28Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"units_successful\": [{\"unit_key\": {\"repo_id\": \"2\", \"id\": \"bird\"}, \"type_id\": \"package_group\"}, {\"unit_key\": {\"repo_id\": \"2\", \"id\": \"mammal\"}, \"type_id\": \"package_group\"}]}, \"error\": null, \"_id\": {\"$oid\": \"5375245c3c307ec505e8615e\"}, \"id\": \"5375245c86d9a9321c14a651\"}"
  recorded_at: Thu, 15 May 2014 20:32:29 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/2/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Mtr9GwDapQh4zlqrOpQCXlWUM7wvQjIHizY45XYI4", oauth_signature="Q%2BZJ%2FLiOsatJm8Plwx2g7eGbyYc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185952", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/d8018f05-f760-4c50-b5be-bfd58b6ed670/\", \"task_id\": \"d8018f05-f760-4c50-b5be-bfd58b6ed670\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:32:32 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/7ee0663e-5b3b-49d5-ab6d-27e6df038ba6/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="tTM2cge4tzBNmDFCTeoOg72P0GI8TxeMFIXu7fqcZw", oauth_signature="qhwsFUm7N%2B4wzWprayCYrlN0j8w%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185954", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/7ee0663e-5b3b-49d5-ab6d-27e6df038ba6/\", \"task_id\": \"7ee0663e-5b3b-49d5-ab6d-27e6df038ba6\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-15T20:32:34Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:32:34Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524623c307ec505e86161\"}, \"id\": \"5375246286d9a9321d8e0f69\"}"
  recorded_at: Thu, 15 May 2014 20:32:34 GMT
recorded_with: VCR 2.9.0
