--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/f8cb71d5-f0aa-4bba-8703-d8638ae56f91/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="EvxrSKYOoJGceAZaf0REiirbV6XA26RypZFIucTkWI", oauth_signature="x3PCgLKSPotK7r1uL8YL267eRLE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081877", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"277bf648-dd7a-4db3-9b4f-6e71735287f6\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f8cb71d5-f0aa-4bba-8703-d8638ae56f91/\", \"task_id\": \"f8cb71d5-f0aa-4bba-8703-d8638ae56f91\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-09-13T14:17:57Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"277bf648-dd7a-4db3-9b4f-6e71735287f6\", \"call_request_id\": \"f8cb71d5-f0aa-4bba-8703-d8638ae56f91\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 13 Sep 2013 14:17:57 GMT
[...]
- request: 
    method: get
    uri: https://localhost/pulp/api/v2/tasks/52b8daf4-ca13-4a12-a2c4-d5e047ed9e16/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="iVq4qApauuhcstfwdkbxEWLNpP2B3K0EtTKuLqYvgAU", oauth_signature="1X4spBeImlI%2F5pZMQfBLtBlDWFI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379703419", oauth_version="1.0"
      Pulp-Us[...]
[...]
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="7Y0HZuc4wdSjg1hfLSJYCwifEDzSagnY3yKqWT1mvnM", oauth_signature="MhFnl2j6chnqm5z%2BNIxil3OB9%2Bk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379710877", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: &id001 !str 
        str: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"523cb79dd60ea34df4d659c7\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
        :@args: 
          :timeout: 30
          :open_timeout: 30
          :method: :post
          :url: https://katello18.devel/pulp/api/v2/repositories/
          :payload: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
          :headers: 
            content_type: application/json
            accept: application/json
            Authorization: OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="P84Oj1iRZV6REAru3p9aGHeMkWzAjTFZxrrZFGGkeE", oauth_signature="0yNRXlff6vKeRG0gamCu%2Fz3Udc8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380118767", oauth_version="1.0"
            pulp-user: admin
        :@code: 201
        :@net_http_res: !ruby/object:Net::HTTPCreated 
          __read_body_previously_called: true
          body: *id001
          code: "201"
          header: 
            date: 
            - Fri, 20 Sep 2013 21:01:17 GMT
            server: 
            - Apache/2.4.4 (Fedora) OpenSSL/1.0.1e-fips mod_wsgi/3.4 Python/2.7.3
            location: 
            - "1"
            content-length: 
            - "252"
            content-type: 
            - application/json
          message: Created
          read: true
  recorded_at: Fri, 20 Sep 2013 21:01:17 GMT
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="OuMri6F6IWvFVeylnSNtohxdV6IiM6bCGN7WZnJ2U", oauth_signature="%2FslwYrH8utAIl9XCD4rumuS8Xj8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379710877", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Co[...]
[...]
- request: 
    method: get
    uri: https://localhost/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="WToE8RAEaInQo9Og9uSW6O7WUGsBgcA5imPZ3Ng", oauth_signature="Z3oiNip6TbQJBlM89BcaX%2FwRK3g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379710893", oauth_version="1.0"
      P[...]
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2013-08-01T00:00:00-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="F58yRd9heM23E1kD5cp64UZ5dx2S5Buu9N5jATcLw", oauth_signature="vW4mnJ%2BSlM%2BKxM7wsBT385FkYuA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379710893", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/523cb7add60ea34df4d65a0e/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: &id006 !str 
        str: "{\"next_run\": \"2013-09-21T04:00:00Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/523cb7add60ea34df4d65a0e/\", \"schedule\": \"2013-08-01T00:00:00-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-09-21T04:00:00Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"523cb7add60ea34df4d65a0e\", \"consecutive_failures\": 0}"
        :@args: 
          :timeout: 30
          :open_timeout: 30
          :method: :post
          :url: https://katello18.devel/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
          :payload: "{\"schedule\":\"2013-08-01T00:00:00-04:00/P1D\"}"
          :headers: 
            content_type: application/json
            accept: application/json
            Authorization: OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="VJCVZEnRb175iWofryYT2mYVWTEi3zrKWMBV9IkU", oauth_signature="1dfXwp5P96PaxsdIf8xSdkg7FyU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380118783", oauth_version="1.0"
            pulp-user: admin
        :@code: 201
        :@net_http_res: !ruby/object:Net::HTTPCreated 
          __read_body_previously_called: true
          body: *id006
          code: "201"
          header: 
            date: 
            - Fri, 20 Sep 2013 21:01:33 GMT
            server: 
            - Apache/2.4.4 (Fedora) OpenSSL/1.0.1e-fips mod_wsgi/3.4 Python/2.7.3
            location: 
            - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/523cb7add60ea34df4d65a0e/
            content-length: 
            - "393"
            content-type: 
            - application/json
          message: Created
          read: true
  recorded_at: Fri, 20 Sep 2013 21:01:33 GMT
- request: 
    method: delete
    uri: https://localhost/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6Zu0awXeZgg6ZVjJ2gpyyLNwLHzJfyV4GIBaaZa3HY", oauth_signature="tgUk6kcVZlIELcAqiOgTkyTP5gc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379710893", oauth_version="1.0"
      Pulp-User: 
      - admin
  respons[...]
- request: 
    method: delete
    uri: https://katello18.devel/pulp/api/v2/content/orphans/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="NYVbo7v6kfIIJ2evuAqxyf9YFQceRNMs8lB9Kv8", oauth_signature="%2FEdcWypXFaLyWwdi4zQx6DP7rWs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380118783", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/de1914b0-0d35-4d42-970a-a86172a7dd96/\", \"task_id\": \"de1914b0-0d35-4d42-970a-a86172a7dd96\", \"call_request_tags\": [\"pulp:content_unit:orphans\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:content_unit:orphans\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"de1914b0-0d35-4d42-970a-a86172a7dd96\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 25 Sep 2013 14:19:43 GMT
recorded_with: VCR 2.5.0
