--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="t17VPWxa7FnzZFW61XlDAg8NKngnY1XTFMFj8RIn0", oauth_signature="NQ0qB66wZTWAzg9fwZyNkZWCI5g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185954", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5375246286d9a9321d8e0f6b\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:32:34 GMT
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/content/orphans/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="76uhiKyhhIcOdsguGZliwiE2M59XrTx16ATWLYCvA", oauth_signature="zBE8AZDaUtdmrAgauvXeP9%2FjiYk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185954", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/0e440bf3-c048-46ce-947c-42fda6f2dee6/\", \"task_id\": \"0e440bf3-c048-46ce-947c-42fda6f2dee6\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:32:35 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="FPgkTpd02EJOL6QNnDR3O7oh7sy0Bbnw3JP7FG59qY", oauth_signature="IiRlV9nezVjU8r11jNWK1vBZy9g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185955", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Thu, 15 May 2014 20:32:35 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2013-08-01T00:00:00-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="he6BpUs9giTX1XmilAbhE36nhQLMxvVtWUXiYDUHIk", oauth_signature="9%2BEGUuU8oNYNq%2BAOnYrMnjheFE4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185955", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5375246386d9a9321d8e0f74/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-05-15T20:32:35Z\", \"remaining_runs\": null, \"last_updated\": 1400185955.5815189, \"first_run\": \"2013-08-01T00:00:00-04:00\", \"total_run_count\": 0, \"schedule\": \"2013-08-01T00:00:00-04:00/P1D\", \"kwargs\": {\"overrides\": {}}, \"args\": [\"1\"], \"enabled\": true, \"last_run_at\": null, \"task\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"failure_threshold\": null, \"resource\": \"pulp:importer:1:yum_importer\", \"_id\": \"5375246386d9a9321d8e0f74\", \"consecutive_failures\": 0, \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5375246386d9a9321d8e0f74/\"}"
  recorded_at: Thu, 15 May 2014 20:32:35 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="2iUO6ocYAYh47Tcmt9XNCzKHnjkoLoB9FpTmJjWAyk", oauth_signature="lwU4eUK%2B%2F2E3Ejy2Erfz8%2FLCibQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185955", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/b63a732e-950a-429c-ba61-c1125f3ea729/\", \"task_id\": \"b63a732e-950a-429c-ba61-c1125f3ea729\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:32:36 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/b63a732e-950a-429c-ba61-c1125f3ea729/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="dpBQqxhCwlX6ASuWNOnbaN8vGUt2FUbT73LdIKy6dk", oauth_signature="YuTNyPzPEvbA3c%2BDcb7%2B2JOi8C0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185956", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/b63a732e-950a-429c-ba61-c1125f3ea729/\", \"task_id\": \"b63a732e-950a-429c-ba61-c1125f3ea729\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:32:36Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524643c307ec505e86163\"}, \"id\": \"5375246486d9a9321d8e0f77\"}"
  recorded_at: Thu, 15 May 2014 20:32:36 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="YVBgaDndJzbtXLxdEMUxezev51NEc7pY6MrB5fTulnQ", oauth_signature="K7hdnu06H38p5BGHTvYsoqOlHMo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185959", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/abaf66bf-7762-41c0-8f48-246ec024fd08/\", \"task_id\": \"abaf66bf-7762-41c0-8f48-246ec024fd08\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:32:40 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/abaf66bf-7762-41c0-8f48-246ec024fd08/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QTvhO3gZWaZVfm00Dx7DdHkzI4No7lio06UVKJQJQ", oauth_signature="b%2FiooIuet09eFyektaJwFI0O9U8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185960", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/abaf66bf-7762-41c0-8f48-246ec024fd08/\", \"task_id\": \"abaf66bf-7762-41c0-8f48-246ec024fd08\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-15T20:32:40Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:32:40Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524673c307ec505e86166\"}, \"id\": \"5375246786d9a9321d8e0f7a\"}"
  recorded_at: Thu, 15 May 2014 20:32:40 GMT
recorded_with: VCR 2.9.0
