--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="lNLUYbp9PZhogBzaalhzgUf7FWaOV60lG0VdlycN2k", oauth_signature="qIr3D8GpZqNGA0ll%2FamC%2FN0XyVM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308615", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5367c14786d9a90f9a41ab97\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 05 May 2014 16:50:15 GMT
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/content/orphans/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="rRCsNvK5KSasWN0dO4g52LvmIX9eDWSo9cxty7F5Q", oauth_signature="4kFgOzIyocXBFmzFJ5zO2V9Ox0Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308615", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/682bbee9-b60d-4569-a13c-933a0f4f1bbb/\", \"task_id\": \"682bbee9-b60d-4569-a13c-933a0f4f1bbb\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:50:15 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="hgUwxtwTDZ1Thu8NT5aYYQLB6bksuInFpJrfVsk44", oauth_signature="IN1Z6gPezBqyBAjlAFhZnoF1QZo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308616", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Mon, 05 May 2014 16:50:16 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2013-08-01T00:00:00-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Jur6wfFjdUR9NaLsCZMXJAhxWcHQ2HpyQ6xJ302nI", oauth_signature="FaPd2xKPsYxafXcvzDfKD8wBbMY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308616", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5367c14886d9a90f9a41ab9f/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2014-05-05T16:50:16Z\", \"remaining_runs\": null, \"last_updated\": 1399308616.0839, \"first_run\": \"2013-08-01T00:00:00-04:00\", \"total_run_count\": 0, \"schedule\": \"2013-08-01T00:00:00-04:00/P1D\", \"kwargs\": {\"overrides\": {}}, \"args\": [\"1\"], \"enabled\": true, \"last_run_at\": null, \"task\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"failure_threshold\": null, \"resource\": \"pulp:importer:1:yum_importer\", \"_id\": \"5367c14886d9a90f9a41ab9f\", \"consecutive_failures\": 0, \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/5367c14886d9a90f9a41ab9f/\"}"
  recorded_at: Mon, 05 May 2014 16:50:16 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="imPAkrsijleX1S05nkT4EyYvefwdXr0pZmHliYWkoq0", oauth_signature="%2BvnVrpJwqOdwr%2Fss4Mo%2FvJBxCS4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308616", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/2f01115d-47fd-4dac-a752-14befba2b160/\", \"task_id\": \"2f01115d-47fd-4dac-a752-14befba2b160\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:50:16 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/2f01115d-47fd-4dac-a752-14befba2b160/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="RU4VreXzvUCAx0wKliuHkOW0BIE9w9l704Z5z30", oauth_signature="e1XgZjhS%2FCyTWwg%2FnqkD0Erg1nA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308616", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/2f01115d-47fd-4dac-a752-14befba2b160/\", \"task_id\": \"2f01115d-47fd-4dac-a752-14befba2b160\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:50:16Z\", \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"_id\": {\"$oid\": \"5367c148c552ed9bd4e4daf1\"}}"
  recorded_at: Mon, 05 May 2014 16:50:16 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/2f01115d-47fd-4dac-a752-14befba2b160/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="qvYomGpBbALveinnxglFhNfsUajuT5W4pcSAb1hSs", oauth_signature="Wgr7SshDd%2Bf1gYi%2Bf2MWJLQexfA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308618", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/2f01115d-47fd-4dac-a752-14befba2b160/\", \"task_id\": \"2f01115d-47fd-4dac-a752-14befba2b160\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": \"2014-05-05T16:50:18Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:50:17Z\", \"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/f8a63f88-9265-456e-8d20-afe3693f45a4/\", \"task_id\": \"f8a63f88-9265-456e-8d20-afe3693f45a4\"}, {\"_href\": \"/pulp/api/v2/tasks/22db6b67-3dc7-4b58-a876-eedb9e51d9da/\", \"task_id\": \"22db6b67-3dc7-4b58-a876-eedb9e51d9da\"}], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 0, \"details\": {\"rpm_total\": 8, \"rpm_done\": 8, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"importer_type_id\": \"yum_importer\", \"importer_id\": \"yum_importer\", \"exception\": null, \"repo_id\": \"1\", \"removed_count\": 0, \"started\": \"2014-05-05T17:50:16+01:00\", \"_ns\": \"repo_sync_results\", \"completed\": \"2014-05-05T17:50:17+01:00\", \"traceback\": null, \"summary\": {\"content\": {\"state\": \"FINISHED\"}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"state\": \"FINISHED\"}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"added_count\": 14, \"error_message\": null, \"updated_count\": 0, \"details\": {\"content\": {\"size_total\": 17872, \"items_left\": 0, \"items_total\": 8, \"state\": \"FINISHED\", \"size_left\": 0, \"details\": {\"rpm_total\": 8, \"rpm_done\": 8, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"FINISHED\"}, \"distribution\": {\"items_total\": 3, \"state\": \"FINISHED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"FINISHED\"}, \"metadata\": {\"state\": \"FINISHED\"}}, \"id\": \"5367c14986d9a910c84ab7a0\", \"result\": \"success\"}, \"_id\": {\"$oid\": \"5367c148c552ed9bd4e4daf1\"}}"
  recorded_at: Mon, 05 May 2014 16:50:18 GMT
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="cjYhhAAEtBTY9fXWSnSw5AV5Nj81MkT7FPEQoNvi8", oauth_signature="9VbYhPawNCRK13omTz1WCz6S9qw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308619", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/298262fb-e3ae-40a4-8f1a-da8e4b807502/\", \"task_id\": \"298262fb-e3ae-40a4-8f1a-da8e4b807502\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 05 May 2014 16:50:20 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/298262fb-e3ae-40a4-8f1a-da8e4b807502/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="MeTOtI2feOHEbEAK0Lf9ODwrSXM668aFPQDKMcP9Q", oauth_signature="%2BOFz3Z1ALmAJSBL77TC%2FJyCbDRI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399308620", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/298262fb-e3ae-40a4-8f1a-da8e4b807502/\", \"task_id\": \"298262fb-e3ae-40a4-8f1a-da8e4b807502\", \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"finish_time\": \"2014-05-05T16:50:20Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-05T16:50:20Z\", \"spawned_tasks\": [], \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"_id\": {\"$oid\": \"5367c14cc552ed9bd4e4daf4\"}}"
  recorded_at: Mon, 05 May 2014 16:50:20 GMT
recorded_with: VCR 2.9.0
