--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/f8cb71d5-f0aa-4bba-8703-d8638ae56f91/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="EvxrSKYOoJGceAZaf0REiirbV6XA26RypZFIucTkWI", oauth_signature="x3PCgLKSPotK7r1uL8YL267eRLE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081877", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"277bf648-dd7a-4db3-9b4f-6e71735287f6\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f8cb71d5-f0aa-4bba-8703-d8638ae56f91/\", \"task_id\": \"f8cb71d5-f0aa-4bba-8703-d8638ae56f91\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-09-13T14:17:57Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"277bf648-dd7a-4db3-9b4f-6e71735287f6\", \"call_request_id\": \"f8cb71d5-f0aa-4bba-8703-d8638ae56f91\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 13 Sep 2013 14:17:57 GMT
[...]
- request: 
    method: get
    uri: https://localhost/pulp/api/v2/tasks/52b8daf4-ca13-4a12-a2c4-d5e047ed9e16/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="iVq4qApauuhcstfwdkbxEWLNpP2B3K0EtTKuLqYvgAU", oauth_signature="1X4spBeImlI%2F5pZMQfBLtBlDWFI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379703419", oauth_version="1.0"
      Pulp-Us[...]
[...]
- request: 
    method: get
    uri: https://kona.pdx.redhat.com/pulp/api/v2/tasks/c0b157e8-bdde-4544-ae23-06f7cb6069f3/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="7CvpoT26RiDhDsTJH6U1HXLnx6Jn33RpdprwD1QyQ3c", oauth_signature="%2FzL0XH3zl6omm2emTgnjzHdQBwE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380665845", oauth_version="1.0"
   [...]
[...]
- request: 
    method: post
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ztdNCE26epxR4FLiTsZzmoI3xyKnHcreOrWJxfXRX8", oauth_signature="TB36uJTY9vTPUsswPUxDlDvUW8s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380748881", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"524c8e52ac2664d717001ee5\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 02 Oct 2013 21:21:22 GMT
- request: 
    method: get
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="aUSfGrvhnGoQ9S67Z7tLMwslA2u7q4sMw49DAKwCiU", oauth_signature="YcN58zbXDjCAU37YChRhphUpnSw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380748882", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Wed, 02 Oct 2013 21:21:22 GMT
- request: 
    method: post
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2013-08-01T00:00:00-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Eyfex5i1gILCJhcaXaOCAThiiAqZOkbd8Gr9ChTMaA", oauth_signature="NsgnOaHKuEgrndhosS0b9UPiNOg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380748882", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/524c8e52ac2664d717001ef5/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2013-10-03T04:00:00Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/524c8e52ac2664d717001ef5/\", \"schedule\": \"2013-08-01T00:00:00-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-10-03T04:00:00Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"524c8e52ac2664d717001ef5\", \"consecutive_failures\": 0}"
  recorded_at: Wed, 02 Oct 2013 21:21:22 GMT
- request: 
    method: post
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="lcoY6sBuVZayOSSLmt48kygChdBjHUxG37yovbFKWyA", oauth_signature="bbEMc8PhVX2c4CmJzZ%2F58QgJJ6Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380748882", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      [...]
[...]
- request: 
    method: delete
    uri: https://kona.pdx.redhat.com/pulp/api/v2/content/orphans/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="CeGsR4gqTXjKmLJZOFlarIeMgEtjfO0WFx51QIGSI", oauth_signature="QuG97vG6jEYrq%2Fszp0EUOJCknRs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380748898", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/469da12a-cfbd-4b1d-8451-68ec3f15623c/\", \"task_id\": \"469da12a-cfbd-4b1d-8451-68ec3f15623c\", \"call_request_tags\": [\"pulp:content_unit:orphans\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:content_unit:orphans\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"469da12a-cfbd-4b1d-8451-68ec3f15623c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Wed, 02 Oct 2013 21:21:38 GMT
- request: 
    method: delete
    uri: https://kona.pdx.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="I43099wPqA7J6yayMESC88j34odE2doWk3042bqjIFU", oauth_signature="PbVOCsmKbyAYLZudqSgZMC0zsSM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1380748898", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"798ced0a-ddf4-4577-9d8e-e15f80c1305a\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/798ced0a-ddf4-4577-9d8e-e15f80c1305a/\", \"task_id\": \"0cae21f8-676a-432a-8328-62d90197d173\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"798ced0a-ddf4-4577-9d8e-e15f80c1305a\", \"call_request_id\": \"0cae21f8-676a-432a-8328-62d90197d173\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 02 Oct 2013 21:21:39 GMT
recorded_with: VCR 2.5.0
