--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="BFSoDefpySQpIYqvUmQLcuO2mndfKG16uvR4Ky3hxE", oauth_signature="Da4nC15Z4Z92U6dlk8ZWjOPObwE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081876", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"52331e945ca01344d0c71065\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 13 Sep 2013 14:17:56 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="azzMztbeqXWiNfX7m87OIHmwzVmzBFYJ0MaS6avMiQw", oauth_signature="TuSUOE2GRiHVTPdh7JTd4hPL8Mc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081876", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 13 Sep 2013 14:17:56 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/
    body: 
      encoding: US-ASCII
      string: "{\"schedule\":\"2013-08-01T00:00:00-04:00/P1D\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="UdJoktFoeX0QR98olz1BY6h4TSjxzimE68RYsyw", oauth_signature="ca79RJxxCZFr2Dx0Drpe9nCWtps%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081876", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/52331e955ca01344d0c71075/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"next_run\": \"2013-09-14T04:00:00Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/schedules/sync/52331e955ca01344d0c71075/\", \"schedule\": \"2013-08-01T00:00:00-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-09-14T04:00:00Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"52331e955ca01344d0c71075\", \"consecutive_failures\": 0}"
  recorded_at: Fri, 13 Sep 2013 14:17:57 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="1g3J6owMBJpkYIwYKnHeiv5zf9vjhF9P7JAcLSnq8", oauth_signature="%2FOJjlWoMbsZK2LVgv5vxZIJyMqU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081877", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"277bf648-dd7a-4db3-9b4f-6e71735287f6\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/277bf648-dd7a-4db3-9b4f-6e71735287f6/\", \"task_id\": \"f8cb71d5-f0aa-4bba-8703-d8638ae56f91\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"277bf648-dd7a-4db3-9b4f-6e71735287f6\", \"call_request_id\": \"f8cb71d5-f0aa-4bba-8703-d8638ae56f91\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": \"277bf648-dd7a-4db3-9b4f-6e71735287f6\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/277bf648-dd7a-4db3-9b4f-6e71735287f6/\", \"task_id\": \"7e11d3ff-4483-4bd4-9bd2-0f60b5c72a4b\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"state\": \"waiting\"[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/f8cb71d5-f0aa-4bba-8703-d8638ae56f91/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="EvxrSKYOoJGceAZaf0REiirbV6XA26RypZFIucTkWI", oauth_signature="x3PCgLKSPotK7r1uL8YL267eRLE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081877", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"277bf648-dd7a-4db3-9b4f-6e71735287f6\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/f8cb71d5-f0aa-4bba-8703-d8638ae56f91/\", \"task_id\": \"f8cb71d5-f0aa-4bba-8703-d8638ae56f91\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-09-13T14:17:57Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"IN_PROGRESS\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"277bf648-dd7a-4db3-9b4f-6e71735287f6\", \"call_request_id\": \"f8cb71d5-f0aa-4bba-8703-d8638ae56f91\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 13 Sep 2013 14:17:57 GMT
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="pknC9CabhpMv7llvzBvsMB6ms86waqr9SwOkVKSLa0", oauth_signature="CwLxnyV%2FO2xbOG1hYXj%2B%2FOpYSRw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081893", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"5e547fb0-66f6-42e1-b699-6e30b390e9f5\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/5e547fb0-66f6-42e1-b699-6e30b390e9f5/\", \"task_id\": \"2f3ffefc-df01-4a40-9f37-1893e7c6f9d8\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"5e547fb0-66f6-42e1-b699-6e30b390e9f5\", \"call_request_id\": \"2f3ffefc-df01-4a40-9f37-1893e7c6f9d8\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 13 Sep 2013 14:18:13 GMT
recorded_with: VCR 2.5.0
