<span page-title>{{ 'Files' | translate }}</span>

<div data-extend-template="layouts/table-with-header.html">
  <div data-block="header" translate>
    Files
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Files.
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Files.
  </span>

  <div data-block="table">
    <table class="table table-striped table-bordered" ng-class="{'table-mask': table.working}">
      <thead>
        <tr bst-table-head>
          <th bst-table-column="name"><span translate>Name</span></th>
          <th bst-table-column="path"><span translate>Path</span></th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="file in table.rows">
          <td bst-table-cell>
            <a ui-sref="file.info({fileId: file.id})">
              {{ file.name }}
            </a>
          </td>
          <td bst-table-cell>
            {{ file.path }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
