:katello:
  :rest_client_timeout: 30
  :gpg_strict_validation: false

  :redhat_repository_url: https://cdn.redhat.com

  :consumer_cert_rpm: 'katello-ca-consumer-latest.noarch.rpm'
  :consumer_cert_sh:  'katello-rhsm-consumer'

  # Setup your candlepin environment here
  :candlepin:
    # refers to the url of the candlepin
    # example https://localhost:8443/candlepin
    :url: https://localhost:8443/candlepin

    # Specify your oauth key and secret used to authenticate between Katello and Candlepin
    :oauth_key: katello
    :oauth_secret: katello

    # Optional CA file to user to verify HTTPS connections to Candlepin. If not
    # specified, Foreman's ssl_ca_file setting is used.
    :ca_cert_file:
    # :bulk_load_size: 1000
  # Setup your pulp environment here
  :pulp:
    :sync_threads: 4
    # refers to the apache certificate
    # Optional CA file to user to verify HTTPS connections to Candlepin. If not
    # specified, Foreman's ssl_ca_file setting is used.
    :ca_cert_file:
    :default_login: admin
    :sync_KBlimit:
    :upload_chunk_size: 1048575 # upload size in bytes to pulp. see SSLRenegBufferSize in apache
    :skip_checksum_validation: false

# Logging configuration can be changed by uncommenting the loggers
# section and the logger configuration desired.
#
#  :loggers:
#    :glue:
#      :enabled: true
#    :pulp_rest:
#      :enabled: true
#    :cp_rest:
#      :enabled: true
#    :cp_proxy:
#      :enabled: true
#    :action:
#      :enabled: true
#    :manifest_import_logger:
#      :enabled: true
