<div class="alch-edit">
  <div class="value" ng-class="{ 'editable' : !readonly }" ng-click="edit()" ng-hide="editMode || workingMode">
    <span class="editable-value" ng-bind-html="displayValue | linebreaks"></span>
    <span class="fr">
      <i class="fa fa fa-edit inline-icon" ng-hide="editMode || readonly"></i>
      <i class="fa fa fa-remove inline-icon" ng-click="delete($event)" ng-show="deletable && !editMode"></i>
    </span>
  </div>

  <span ng-switch on="buttonConfig">
    <div ng-switch-when="addRemove">
      <div ng-include="'incubator/views/alch-edit-add-remove-cancel.html'"></div>
    </div>
    <div ng-switch-default>
      <div ng-include="'incubator/views/alch-edit-save-cancel.html'"></div>
    </div>
  </span>
</div>
