<div class="alch-dialog alch-multiselect" ng-class="{open: editMode, closed: !editMode}">
  <i class="fa fa-remove fr" ng-click="editMode = false" ng-show="editMode"></i>
  <form ng-show="editMode" role="form">
    <h5 translate>Existing Items</h5>
    <input class="form-control"
           ng-model="searchTerm"
           type="text"
           placeholder="{{ 'Filter' | translate }}"/>
    <ul>
      <li ng-repeat="option in options | filter:searchTerm">
        <input type="checkbox" ng-model="option.selected" ng-change="toggleOption(option)"/>
        <span ng-click="toggleOption(option)">{{ option.name }}</span>
      </li>
    </ul>
  </form>
  <div alch-edit></div>
</div>
