%article#comparison_grid
  #grid_header
    %header
      %h2.fl
        = _("Search Results")
      %div.fr
        -#%label
          -#= _("View")
        -#%select
    %div
      %aside
        -#"Filter goes here"
      %div#column_headers_container
        #left_slide_arrow.hidden
          %span.left_arrow-icon-grey
        #right_slide_arrow.hidden
          %span.right_arrow-icon-grey
        #column_headers_window
          %ul#column_headers
        .column_header#grid_env_selector
          %span.path_button
            = _('Add Env(s)')
  %section
    %ul#grid_items
    #grid_content_window
      #grid_content
