-# may want to not store this as a partial for performance reasons
- product ||=  nil
- env ||= nil

= _("Packages (#{product.total_package_count(env)})")
= _("Errata (#{product.total_errata_count(env)})")