<div alert type="'info'">
  {{ 'All dates and times below are relative to this server.' | translate }}
</div>

<div class="detail">
  <span class="info-label" translate>Sync Interval</span>
  <span class="info-value" ng-if="product.sync_plan.interval == 'hourly'" translate>
    Hourly at {{ product.sync_plan.sync_date | date:'m' }} minutes and {{ product.sync_plan.sync_date | date:'s' }} seconds
  </span>
  <span class="info-value" ng-if="product.sync_plan.interval == 'daily'" translate>
    Daily at {{ product.sync_plan.sync_date | date:'mediumTime' }}
  </span>
  <span class="info-value" ng-if="product.sync_plan.interval == 'weekly'" translate>
    Weekly on {{ product.sync_plan.sync_date | date:'EEEE' }} at {{ product.sync_plan.sync_date | date:'mediumTime' }}
  </span>
  <span class="info-value" ng-hide="product.sync_plan.next_sync" translate>
    Synced manually, no interval set.
  </span>
</div>
