<span page-title ng-model="repository">{{ 'Repository:' | translate }} {{ repository.name }}</span>
<div>
  <a ui-sref="products.details.repositories.index({productId: product.id})">
    <i class="icon-double-angle-left"></i>
    {{ "Back to Repository List" | translate }}
  </a>

  <div class="fr">

    <button class="btn btn-default"
            ui-sref="products.details.repositories.manage-packages({productId: product.id, repositoryId: repository.id})"
            ng-hide="repository.content_type !== 'yum' || product.readonly">
      <span translate>Manage Packages</span>
    </button>

    <button class="btn btn-default"
            ng-click="syncRepository(repository); working = true"
            ng-hide="!repository.url || denied('sync_products', product)"
            ng-disabled="syncInProgress(repository.sync_state)">
      <i class="icon-refresh"></i>
      <span translate>Sync Now</span>
    </button>

    <div alch-modal="removeRepository(repository)" model="repository"
         modal-header='Remove Repository "{{repository.name}}"?'
         modal-body='Are you sure you want to remove repository "{{ repository.name }}"?'></div>

    <button class="btn btn-default"
            ng-click="openModal()"
            ng-hide="denied('delete_products', product)">
      {{ "Remove Repository" | translate }}
    </button>
  </div>
</div>

<div class="details fl">
  <section>

    <h4 translate>Basic Information</h4>

    <div class="detail">
      <span class="info-label" translate>Name</span>
      <span class="info-value"
            alch-edit-text="repository.name"
            on-save="save(repository)"
            readonly="product.readonly || denied('edit_products', product)">
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Label</span>
      <span class="info-value">{{ repository.label }}</span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Type</span>
      <span class="info-value">{{ repository.content_type }}</span>
    </div>

    <div class="detail">
      <span class="info-label" translate>URL</span>
      <span class="info-value"
            alch-edit-text="repository.url"
            on-save="save(repository)"
            readonly="product.readonly || denied('edit_products', product)">
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Publish via HTTPS</span>
      <span class="info-value" translate> true </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Publish via HTTP</span>
      <span class="info-value"
            alch-edit-checkbox="repository.unprotected"
            formatter="booleanToYesNo"
            on-save="save(repository)"
            readonly="product.readonly || denied('edit_products', product)">
      </span>

    </div>

    <div class="detail">
      <span class="info-label" translate>Published At</span>
      <span class="info-value">
        <a ng-href="{{ repository.full_path }}">{{ repository.full_path }}</a>
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>GPG Key</span>
      <span class="info-value"
            alch-edit-select="repository.gpg_key.name"
            readonly="product.readonly || denied('edit_products', product)"
            selector="repository.gpg_key_id"
            options="gpgKeys()"
            on-save="save(repository)">
      </span>
    </div>

    <div class="divider"></div>
  </section>

  <section>
    <h4 translate>Sync Status</h4>

    <div ng-include="'products/details/partials/sync-status.html'"></div>

    <div class="detail">
      <span class="info-label" translate>Last Sync</span>
      <span class="info-value" translate>
        {{ repository.last_sync_words }} Ago ({{ repository.last_sync | date:'medium' }} Local Time)
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Next Sync</span>
      <span class="info-value" ng-show="repository.product.sync_plan.next_sync" translate>
        {{ repository.product.sync_plan.next_sync | date:'medium' }} (Server Time)
      </span>
      <span class="info-value" ng-hide="repository.product.sync_plan.next_sync" translate>
        Synced manually, no interval set.
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Sync State</span>
      <span class="info-value">
        <a href="sync_management">{{ repository.sync_state }}</a>
      </span>
    </div>
  </section>

</div>

<div class="details fl">

  <section>
    <h4 translate>Content Counts</h4>

    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2" translate>Content Type</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-show="repository.content_type == 'yum'">
          <td translate>Packages</td>
          <td class="align-center">
            <a ng-href="{{ RootURL }}/content_search#/!=&search[subgrid][repo_id]={{ repository.id }}&search[subgrid][type]=repo_packages">
              {{ repository.content_counts.rpm || 0 }}
            </a>
          </td>
        </tr>
        <tr ng-show="repository.content_type == 'yum'">
          <td translate>Errata</td>
          <td class="align-center">
            <a ng-href="{{ RootURL }}/content_search#/!=&search[subgrid][repo_id]={{ repository.id }}&search[subgrid][type]=repo_errata">
            {{ repository.content_counts.erratum || 0 }}
            </a>
          </td>
        </tr>
        <tr ng-show="repository.content_type == 'yum'">
          <td translate>Package Groups</td>
          <td class="align-center">{{ repository.content_counts.package_group || 0 }}</td>
        </tr>
        <tr ng-show="repository.content_type == 'puppet'">
          <td translate>Puppet Modules</td>
          <td class="align-center">
            <a ng-href="{{ RootURL }}/content_search#/!=&search[subgrid][repo_id]={{ repository.id }}&search[subgrid][type]=repo_puppet_modules">
            {{ repository.content_counts.puppet_module || 0 }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="well" ng-show="permitted('edit_products', product)">
    <h5 translate ng-show="repository.content_type == 'puppet'">Upload Puppet Module</h5>
    <h5 translate ng-show="repository.content_type == 'yum'">Upload Package</h5>

    <div alch-alert success-messages="uploadSuccessMessages" error-messages="uploadErrorMessages"></div>

    <form role="form"
          action="{{ uploadURL }}"
          ng-upload="uploadContent(content)"
          upload-options-enable-controls
          upload-options-enable-rails-csrf>

      <div class="control-group">
        <div class="input">
          <input type="file" name="content[]" ng-hide="denied('edit_products', product)" multiple/>
        </div>
      </div>

      <div class="control-group">
        <div class="control-button">
          <button class="primary"
		        ng-hide="denied('edit_products', product)"
	          upload-submit ng-click="progress.uploading = true">
            <i class="icon-spinner icon-spin" ng-show="progress.uploading"></i>
            <span ng-show="progress.uploading" translate>Uploading...</span>
            <span ng-hide="progress.uploading" translate>Upload</span>
          </button>
        </div>
      </div>

    </form>
  </section>

</div>
