/* Primary Katello ID */
/* all selected items */
/* default links */
/* unfocused tabs */
/* list items prelight state */
/*multi select*/
/* line 5, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect {
  border: solid 1px #B5B5B5;
  font-size: 0.8em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* line 6, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect ul {
  -moz-user-select: none;
}

/* line 7, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect li {
  margin: 0;
  padding: 0;
  cursor: default;
  line-height: 20px;
  height: 20px;
  font-size: 11px;
  list-style: none;
}

/* line 8, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect li a {
  color: #999;
  text-decoration: none;
  padding: 0;
  display: block;
  float: left;
  cursor: pointer;
}

/* line 9, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect li.ui-draggable-dragging {
  padding-left: 10px;
}

/* line 11, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect div.selected {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  border-left: 1px solid;
}

/* line 12, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect ul.selected {
  position: relative;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  background: white;
  margin: 0;
  list-style: none;
  border: 0;
  position: relative;
  width: 100%;
}

/* line 15, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect div.available {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}

/* line 16, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect ul.available {
  position: relative;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  background: white;
  margin: 0;
  list-style: none;
  border: 0;
  width: 100%;
}

/* line 17, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect ul.available li {
  padding-left: 10px;
}

/* line 19, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect .ui-state-default {
  border: none;
  margin-bottom: 1px;
  position: relative;
  padding-left: 20px;
}

/* line 20, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect .ui-state-hover {
  border: none;
}

/* line 21, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect .ui-widget-header {
  border: none;
  font-size: 11px;
  margin-bottom: 1px;
}

/* line 23, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect .add-all {
  float: right;
  padding: 7px;
}

/* line 24, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect .remove-all {
  float: right;
  padding: 7px;
}

/* line 25, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect .search {
  float: left;
  padding: 4px;
}

/* line 26, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect .count {
  float: left;
  padding: 7px;
}

/* line 28, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect li span.ui-icon-arrowthick-2-n-s {
  position: absolute;
  left: 2px;
}

/* line 29, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect li a.multi-action {
  position: absolute;
  right: 2px;
  top: 2px;
}

/* line 31, ../../../../app/stylesheets/widgets/multiselect.scss */
.ui-multiselect input.search {
  height: 14px;
  padding: 1px;
  opacity: 0.5;
  margin: 4px;
  width: 100px;
}
