/* Primary Katello ID */
/* all selected items */
/* default links */
/* unfocused tabs */
/* list items prelight state */
/* line 5, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspHorizontalBar, .jspContainer .jspVerticalBar, .jspContainer .jspTrack {
  background: transparent !important;
}
/* line 9, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspDrag {
  background: #1682a5 !important;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 100)";
  /* IE 5-7 */
  filter: alpha(opacity=30);
  /* Netscape */
  -moz-opacity: 0.3;
  /* Safari 1.x */
  -khtml-opacity: 0.3;
  /* Good browsers */
  opacity: 0.3;
}
/* line 17, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspTrack .jspActive, .jspContainer .jspTrack .jspHover, .jspContainer .jspTrack .jspDrag:hover {
  background: #8b8b9f;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1;
}
/* line 24, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspArrow {
  background: url(../image/ui-icons_222222_256x240.png) no-repeat;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 31, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspArrow:hover {
  background-image: url("../image/ui-icons_cd0a0a_256x240.png");
}
/* line 35, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspVerticalBar, .jspContainer .jspVerticalBar .jspDrag, .jspContainer .jspVerticalBar .jspTrack {
  width: 10px;
}
/* line 38, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspVerticalBar .jspActive {
  background-image: url("../image/ui-icons_cd0a0a_256x240.png");
}
/* line 41, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspVerticalBar .jspDisabled, .jspContainer .jspVerticalBar .jspDisabled:hover {
  background-color: transparent;
  background-image: url("../image/ui-icons_888888_256x240.png");
}
/* line 45, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspVerticalBar .jspArrow {
  height: 15px;
}
/* line 48, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspHorizontalBar {
  height: auto;
}
/* line 51, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspHorizontalBar .jspDisabled, .jspContainer .jspHorizontalBar .jspDisabled:hover {
  background-color: transparent;
  background-image: url("../image/ui-icons_888888_256x240.png");
}
/* line 55, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspHorizontalBar .jspArrow {
  width: 15px;
}
/* line 56, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspHorizontalBar .jspDrag {
  height: 10px;
}
/* line 59, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspHorizontalBar .jspCorner {
  display: none;
}
/* line 62, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspArrowUp {
  background-position: 0 0;
}
/* line 63, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspArrowDown {
  background-position: -64px 0 !important;
}
/* line 64, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspArrowLeft {
  background-position: -96px 0 !important;
}
/* line 65, ../../../../app/stylesheets/widgets/scrollpane.scss */
.jspContainer .jspArrowRight {
  background-position: -32px 0 !important;
}
