/* Primary Katello ID */
/* all selected items */
/* default links */
/* unfocused tabs */
/* list items prelight state */
/* line 6, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .tree_breadcrumb {
  font-weight: 600;
  font-size: 110%;
  background-color: #f2f2f2;
  word-wrap: break-word;
  border: 1px solid #b5b5b5;
  border-bottom: none;
  padding: 10px 5px;
  overflow: auto;
}
/* line 16, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .tree_breadcrumb .currentCrumb {
  color: black;
  max-width: 350px;
}
/* line 17, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .tree_breadcrumb .crumb {
  color: #356e76;
}
/* line 18, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .tree_breadcrumb .slide_link {
  color: #356e76;
}
/* line 19, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .tree_breadcrumb span {
  display: inline-block;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 21, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .tree_breadcrumb .home_img, .sliding_tree .tree_breadcrumb .home_img_inactive {
  width: 16px;
  height: 16px;
  margin: 0 2px;
  background: url("../../../images/icons/breadcrumb-icons.png") -16px -16px no-repeat;
  text-indent: -4000em;
  position: relative;
}
/* line 29, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .tree_breadcrumb .home_img_inactive {
  background: url("../../../images/icons/breadcrumb-icons.png") -16px 0px no-repeat;
}
/* line 33, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .tree_breadcrumb .locked_icon {
  width: 16px;
  height: 16px;
  margin: 2px;
  background: url("../../../images/icons/locked.png") 0 0 no-repeat;
  text-indent: -4000em;
  position: relative;
}
/* line 42, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .slide_up_container {
  position: absolute;
  display: none;
  float: left;
  bottom: 31px;
  left: 0px;
  z-index: 10;
  margin-left: 1px;
  height: 250px;
  background-color: #f5fafa;
  border-top: 1px solid #B5B5B5;
}
/* line 54, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .breadcrumb_filter {
  font-size: 100%;
  margin: 0 0 0 0;
  display: block;
  width: 448px;
  font-weight: 200;
  color: white;
  background-color: #f2f2f2;
  word-wrap: break-word;
  border: 1px solid #b5b5b5;
  border-bottom: none;
}
/* line 66, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .breadcrumb_filter #filter_form {
  display: none;
  margin-right: 4px;
  float: left;
}
/* line 71, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .breadcrumb_filter .filter {
  position: relative;
  clear: both;
  display: inline-block;
  margin: 5px auto;
}
/* line 77, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .breadcrumb_filter .filter input[type="input"] {
  float: left;
  border: 3px solid #436fa8;
  background: white;
  padding-right: 0px;
  width: 380px;
  margin-left: 4px;
}
/* line 85, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .breadcrumb_filter .filter button {
  position: absolute;
  background: url("../../../images/icons/breadcrumb-icons.png") 0px -16px no-repeat;
  top: 15px;
  right: 10px;
}
/* line 92, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .breadcrumb_filter .filter_button {
  margin-top: 12px;
  background: url("../../../images/icons/breadcrumb-icons.png") 0px -16px no-repeat;
  margin-right: 10px;
}
/* line 98, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .tree_breadcrumb {
  display: inline-block;
  outline: 0 none;
  width: 90%;
  border: none;
  padding: 10px 5px 6px 5px;
}
/* line 105, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .breadcrumb_search {
  font-size: 100%;
  margin: 0 0 0 0;
  display: block;
  width: 448px;
  font-weight: 200;
  color: white;
  background-color: #f2f2f2;
  word-wrap: break-word;
  border: 1px solid #b5b5b5;
  border-bottom: none;
}
/* line 117, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .breadcrumb_search #search_form {
  display: none;
  margin-right: 4px;
  margin-left: 4px;
  float: left;
  clear: none !important;
}
/* line 124, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .breadcrumb_search .search {
  position: relative;
  display: inline-block;
  margin: 5px auto;
}
/* line 129, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .breadcrumb_search .search input[type="text"] {
  width: 360px;
}
/* line 133, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .breadcrumb_search .search_button {
  margin-top: 12px;
  background: url("../../../images/icons/breadcrumb-icons.png") 0px -16px no-repeat;
  margin-right: 10px;
}
/* line 139, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container {
  overflow: hidden;
  position: relative;
  width: 448px;
  border: 1px solid #b5b5b5;
}
/* line 145, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list {
  width: 896px;
  position: relative;
  top: 0;
  left: 0;
  border: none;
}
/* line 152, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list .slider {
  width: 448px;
  min-height: 450px;
  float: left;
}
/* line 157, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list .slider h5 {
  border-bottom: solid 2px #f2f2f2;
  font-size: 120%;
  width: 90%;
  margin-top: 10px;
  margin-left: 10px;
}
/* line 165, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list .slider .empty_list {
  padding: 0px 0 0 25px;
}
/* line 166, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list .slider .simple_link {
  margin: 6px 0;
}
/* line 169, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list .slider .link_details {
  background: url("../../../images/icons/dotdotdot.png") no-repeat right bottom transparent;
  padding-right: 25px;
}
/* line 173, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list .slider .no_slide {
  cursor: default;
}
/* line 178, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list .slider .no_hover:hover {
  border-color: white;
  background: none;
}
/* line 183, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list .slider .block {
  cursor: pointer;
  font-size: 100%;
}
/* line 187, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list .slider .active {
  background-color: #bde4e8;
  border-top-color: #7bbcc5;
  border-bottom-color: #7bbcc5;
  color: black;
}
/* line 193, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list .slider .active a {
  color: #356e76;
  background: inherit;
}
/* line 199, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list .slider li {
  height: 34px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 207, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list .slider li:hover {
  background-color: #bde4e8;
  border-top-color: #7bbcc5;
  border-bottom-color: #7bbcc5;
  color: black;
}
/* line 213, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sliding_container .sliding_list .slider li:hover a {
  color: #356e76;
}
/* line 220, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .tree_loading {
  position: absolute;
  opacity: .8;
  background-color: white;
  z-index: -1;
  width: 440px;
  height: 415px;
}
/* line 227, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .tree_loading .text {
  height: 10em;
  margin-top: -5em;
  top: 50%;
  width: 50%;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/* line 240, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree #sliding_tree_actionbar {
  width: 100%;
}
/* line 243, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree #sliding_tree_actionbar .cs_action {
  float: left;
  margin-right: -1px;
  width: 24.7%;
  height: 20px;
  padding-top: 9px;
  font-size: 90%;
  word-wrap: break-word;
  border-bottom: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background-color: #f2f2f2;
}
/* line 258, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree #sliding_tree_actionbar .cs_action .text {
  margin-left: 26px;
}
/* line 262, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree #sliding_tree_actionbar .cs_action:hover {
  background-color: #bde4e8;
}
/* line 266, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree #sliding_tree_actionbar .highlighted {
  background-color: #bde4e8;
}
/* line 270, ../../../../app/stylesheets/widgets/slidingtree.scss */
.sliding_tree .sprite {
  height: 16px;
  width: 16px;
  position: absolute;
  margin-top: 2px;
}

/* line 278, ../../../../app/stylesheets/widgets/slidingtree.scss */
.right_tree .sliding_container {
  max-height: 385px;
}
