/* line 2, ../../../../app/stylesheets/widgets/tipsy_custom.scss */
.errata_tooltip .tipsy-inner {
  max-width: 800px;
  width: 440px;
  background: #F5FAFA;
  max-height: 500px;
  overflow: hidden;
  padding: 0;
}
/* line 10, ../../../../app/stylesheets/widgets/tipsy_custom.scss */
.errata_tooltip .tipsy-inner label {
  color: black;
  margin-right: 5px;
}
/* line 11, ../../../../app/stylesheets/widgets/tipsy_custom.scss */
.errata_tooltip .tipsy-inner p, .errata_tooltip .tipsy-inner li, .errata_tooltip .tipsy-inner pre {
  font-size: 110%;
  text-align: left;
  color: black;
}
/* line 12, ../../../../app/stylesheets/widgets/tipsy_custom.scss */
.errata_tooltip .tipsy-inner pre {
  text-indent: 0;
}
/* line 13, ../../../../app/stylesheets/widgets/tipsy_custom.scss */
.errata_tooltip .tipsy-inner .item-container {
  margin: 5px 10px 5px 6px;
  word-wrap: break-word;
}
/* line 14, ../../../../app/stylesheets/widgets/tipsy_custom.scss */
.errata_tooltip .tipsy-inner .jspVerticalBar {
  padding: 0 4px 0 0;
}
/* line 15, ../../../../app/stylesheets/widgets/tipsy_custom.scss */
.errata_tooltip .tipsy-inner .details_container {
  max-height: inherit;
}
