<div class="flash_hud" ng-show="status.showSuccess">
  <a class="control" title="Close" ng-click="status.showSuccess = false"></a>
  <ul class="flash_messages success">
    <li>{{ status.success }}</li>
  </ul>
</div>

<div class="flash_hud" ng-show="status.showError">
  <a class="control" title="Close" ng-click="status.showError = false"></a>
  <ul class="flash_messages error">
    <li translate>Error occurred:</li>
    <ul>
      <li ng-repeat="error in status.errors">{{ error }}</li>
    </ul>
  </ul>
</div>

<div class="details">
  <section>
    <h4 translate>System Properties</h4>

    <div class="detail">
      <span class="info-label" translate>System Groups</span>
      <span class="info-value"
            alch-edit-multiselect="systemGroups.groups"
            formatter="arrayToString"
            options="getSystemGroups()"
            button-config="addRemove"
            on-add="confirmSystemGroupAction('add')"
            on-remove="confirmSystemGroupAction('remove')"
            display-value-default='{{ "Click to select..." | translate }}'
            forced-working-mode="systemGroups.workingMode">
      </span>
    </div>

    <div class="inline-confirmation" ng-show="systemGroups.confirm">
      <div class="confirmation_text" ng-show="systemGroups.action == 'add'" translate>
        Are you sure you want to add the {{ getSelectedSystemIds().length }} systems(s) selected to the system group(s) chosen?
      </div>
      <div class="confirmation_text" ng-show="systemGroups.action == 'remove'" translate>
        Are you sure you want to remove the {{ getSelectedSystemIds().length }} systems(s) selected to the system group(s) chosen?
      </div>
      <button class="btn btn-danger" ng-click="systemGroups.confirm = false" translate>No</button>
      <button class="btn btn-primary" ng-click="performSystemGroupAction()" translate>Yes</button>
    </div>

    <div class="divider"></div>
  </section>
</div>

<div class="details">
  <section>
    <h4 translate>System Content Management</h4>

    <span ng-show="content.workingMode">
      <i class="icon-spinner inline-icon icon-spin"></i>
      <span translate>Working</span>
    </span>

    <form name="systemContentForm" class="form" ng-hide="content.workingMode">

      <div>
        <input type="radio"
               ng-model="content.contentType"
               ng-change="updatePlaceholder(content.contentType)"
               ng-disabled="content.confirm"
               value="package"/>
        <label for="package" translate>Package</label>

        <input type="radio"
               ng-model="content.contentType"
               ng-change="updatePlaceholder(content.contentType)"
               ng-disabled="content.confirm"
               value="package_group"/>
        <label for="package_group" translate>Package Group</label>

        <input type="radio"
               ng-model="content.contentType"
               ng-change="updatePlaceholder(content.contentType)"
               ng-disabled="content.confirm"
               value="errata"/>
        <label for="errata" translate>Errata</label>
      </div>

      <div>
        <input name="label"
               type="text"
               placeholder="{{ content.placeholder }}"
               ng-model="content.content"
               ng-disabled="content.confirm"
               required/>
      </div>

      <div>
        <button class="btn btn-default"
                translate
                ng-click="confirmContentAction('install', content)"
                ng-disabled="!systemContentForm.$valid || content.confirm">
          Install
        </button>

        <button class="btn btn-default"
                translate
                ng-click="confirmContentAction('update', content)"
                ng-disabled="!systemContentForm.$valid || content.confirm"
                ng-hide="content.contentType == 'errata'">
          Update
        </button>

        <button class="btn btn-default"
                translate
                ng-click="confirmContentAction('remove', content)"
                ng-disabled="!systemContentForm.$valid || content.confirm"
                ng-hide="content.contentType == 'errata'">
          Remove
        </button>
      </div>

      <div class="inline-confirmation" ng-show="content.confirm">
        <div class="confirmation_text" ng-show="content.action == 'install'" translate>
          Are you sure you want to install {{ content.content }} on the {{ getSelectedSystemIds().length }} system(s) selected?
        </div>
        <div class="confirmation_text" ng-show="content.action == 'update'" translate>
          Are you sure you want to update {{ content.content }} on the {{ getSelectedSystemIds().length }} system(s) selected?
        </div>
        <div class="confirmation_text" ng-show="content.action == 'remove'" translate>
          Are you sure you want to remove {{ content.content }} from the {{ getSelectedSystemIds().length }} system(s) selected?
        </div>

        <button class="btn btn-primary" ng-click="performContentAction()" translate>Yes</button>
        <button class="btn btn-danger" ng-click="content.confirm = false" translate>No</button>
      </div>

    </form>

    <div class="divider"></div>
  </section>
</div>

<div class="details">
  <section>
    <h4 translate>System Subscriptions</h4>
    <button class="btn btn-default"
            translate
            ng-click="subscription.confirm = true"
            ng-disabled="subscription.workingMode">
      Auto-attach available subscriptions to all systems
    </button>

    <span ng-show="subscription.workingMode">
      <i class="icon-spinner inline-icon icon-spin"></i>
      <span translate>Working</span>
    </span>

    <div class="inline-confirmation" ng-show="subscription.confirm">
      <div class="confirmation_text" translate>
        Are you sure you want to auto-attach available subscriptions to all {{ systemTable.resource.total }} systems?
      </div>
      <button class="btn btn-primary" ng-click="performAutoAttachSubscriptions()" translate>Yes</button>
      <button class="btn btn-danger" ng-click="subscription.confirm = false" translate>No</button>
    </div>
  </section>
</div>
