<section class="nutupane-details" ng-cloak alch-container-scroll>
  <header class="new-header details-header">
    <h2 class="fl" translate>Bulk Actions</h2>

    <div class="details-actions fr">
      <button class="btn-danger"
              translate
              ng-disabled="system.readonly || removeSystems.workingMode"
              ng-click="showConfirm = true; removeSystems.confirm = true"
              ng-hide="removeSystems.workingMode">
        Remove Systems
      </button>

      <span ng-show="removeSystems.workingMode">
        <i class="icon-spinner inline-icon icon-spin"></i>
        <span>{{ "Removing Systems" | translate }}</span>
      </span>

      <button class="btn-mini" ng-click="table.closeItem()">
        <i class="icon-remove"></i>
        {{ "Close" | translate }}
      </button>

      <div alch-confirm-modal="performRemoveSystems()" show-confirm="removeSystems.confirm" translate>
        Are you sure you want to remove the {{ getSelectedSystemIds().length }} systems(s) selected?
      </div>
    </div>
  </header>

  <div class="flash_hud" ng-show="status.showSuccess">
    <a class="control" title="Close" ng-click="status.showSuccess = false"></a>
    <ul class="flash_messages success">
      <li>{{ status.success }}</li>
    </ul>
  </div>

  <div class="flash_hud" ng-show="status.showError">
    <a class="control" title="Close" ng-click="status.showError = false"></a>
    <ul class="flash_messages error">
      <li translate>Error occurred:</li>
      <ul>
        <li ng-repeat="error in status.errors">{{ error }}</li>
      </ul>
    </ul>
  </div>

  <div ui-view></div>
</section>
