<div alch-table="table" nutupane-table class="table-reduced">
  <div alch-table-scroll class="table-reduced">
    <table class="table table-striped table-full">
      <thead>
      <tr alch-table-head row-select>
        <th alch-table-column>{{ "Name" }}</th>
      </tr>
      </thead>

      <tbody>
      <tr alch-table-row
          ng-repeat="system in table.items"
          row-select>
        <td alch-table-cell>
          <a class="clickable" ng-click="table.openDetails(system)">{{ system.name }}</a>
          <i class="icon-chevron-right selected-icon" ng-show="system.selected"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
