<table class="table table-striped" ng-class="{'table-mask': systemTable.working}">
  <thead>
    <tr alch-table-head row-select>
      <th alch-table-column="name" sortable>{{ "Name" | translate }}</th>
      <th alch-table-column="status" sortable class="number-cell">{{ "Subscription Status" | translate }}</th>
      <th alch-table-column="os" sortable>{{ "OS" | translate }}</th>
      <th alch-table-column="environment" sortable>{{ "Environment" | translate }}</th>
      <th alch-table-column="contentView" sortable>{{ "Content View" | translate }}</th>
      <th alch-table-column="registered" sortable>{{ "Registered" | translate }}</th>
      <th alch-table-column="lastCheckin" sortable>{{ "Last Checkin" | translate }}</th>
    </tr>
  </thead>

  <div data-extend-template="layouts/select-all-results.html"></div>

  <tbody>
    <tr alch-table-row ng-repeat="system in systemTable.rows" row-select="system">
      <td alch-table-cell>
        <a ui-sref="systems.details.info({systemId: system.uuid})">
          {{ system.name }}
        </a>
      </td>
      <td alch-table-cell class="number-cell">
        <span class="icon-circle" ng-class="systemTable.getStatusColor(system.entitlementStatus)"></span>
      </td>
      <td alch-table-cell>{{ system.distribution }}</td>
      <td alch-table-cell>{{ system.environment.name }}</td>
      <td alch-table-cell>{{ system.content_view.name || "" }}</td>
      <td alch-table-cell>{{ system.created | date:'short' }}</td>
      <td alch-table-cell>{{ (system.checkin_time | date:'short') || ("Never checked in" | translate) }}</td>
    </tr>
  </tbody>
</table>
