<section class="system-details" ng-cloak>
  <header class="details-header">
    <h2 class="fl">{{ "System \"%systemName\"" | i18n: {systemName: system.name} }}</h2>

    <div class="details-actions fr">
      <button class="btn-mini btn-danger" ng-click="removeSystem()">{{ "Remove System" | i18n }}</button>
      <button class="btn-mini" ng-click="table.closeItem()">
        <i class="icon-remove"></i>
        {{ "Close" | i18n }}
      </button>
    </div>
  </header>

  <nav class="details-navigation">
    <ul>
      <li><a class="active">{{ "Details" | i18n }}</a></li>
    </ul>
  </nav>

  <div class="details fl">
    <section>
      <h4>{{ "Basic Information" | i18n }}</h4>

      <div class="detail">
        <span class="info-label">{{ "Name" | i18n }}</span>
        <span class="info-value" alch-edit-text="system.name" on-save="system.$update()"></span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "UUID" | i18n }}</span>
        <span class="info-value">{{ system.uuid }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Description" | i18n }}</span>
        <span class="info-value" alch-edit-textarea="system.description" on-save="system.$update()"></span>
      </div>

      <div class="divider"></div>
    </section>

    <section>
      <h4>{{ "System Properties" | i18n }}</h4>

      <div class="detail">
        <span class="info-label">{{ "OS" | i18n }} </span>
        <span class="info-value">{{ system.distribution_name }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Release" | i18n }}</span>
        <span class="info-value">{{ system.kernel }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Release Version" | i18n }}</span>
        <span class="info-value" alch-edit-select="system.releaseVer.releaseVer" 
              options="releaseVersions" on-save="system.$update()"></span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Arch" | i18n }}</span>
        <span class="info-value">{{ system.arch }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "RAM (GB)" | i18n }}</span>
        <span class="info-value">{{ system.memory }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Sockets" | i18n }}</span>
        <span class="info-value">{{ system.facts["cpu.cpu_sockets"] }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Location" | i18n }}</span>
        <span class="info-value" alch-edit-text="system.location" on-save="system.$update()"></span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Environment" | i18n }}</span>
        <span class="info-value">{{ system.environment.name }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Content View" | i18n }}</span>
        <span class="info-value">{{ system.content_view_id }}</span>
      </div>

      <div class="divider"></div>
    </section>

    <section>
      <h4>{{ "Networking" | i18n }}</h4>

      <div class="detail">
        <span class="info-label">{{ "Hostname" | i18n }}</span>
        <span class="info-value">{{ system.facts["network.hostname"] }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "IP Address" | i18n }}</span>
        <span class="info-value">{{ system.ipv4_address }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Interfaces" | i18n }}</span>
        <span class="info-value"></span>
      </div>
    </section>
  </div>

  <div class="fl details">
    <section>
      <h4>{{ "Subscription Status Details" | i18n }}</h4>

      <div class="detail">
        <span class="info-label">{{ "Subscription Status" | i18n }}</span>
        <span class="info-value">
          <span class="status_icon" ng-class="getStatusColor(system.compliance.status)"></span>
            {{ system.compliance.status }}
        </span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Autoheal" | i18n }}</span>
        <span class="info-value">{{ system.autoheal }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Service Level" | i18n }}</span>
        <span class="info-value">{{ system.serviceLevel }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Details" | i18n }}</span>
        <span class="info-value">
          <ul>
            <li ng-repeat="reason in system.compliance.reasons">{{ reason }}</li>
          </ul>
        </span>
      </div>

      <div class="divider"></div>
    </section>

    <section>
      <h4>{{ "System Status" | i18n }}</h4>

      <div class="detail">
        <span class="info-label">{{ "Registered" | i18n }}</span>
        <span class="info-value">{{ system.registered | date:'short' }}</span>
      </div>

      <div class="detail">
        <span class="info-label">{{ "Checkin" | i18n }}</span>
        <span class="info-value">{{ (system.checkin_time | date:'short') || ("Never checked in" | i18n) }}</span>
      </div>
    </section>
  </div>

</section>
