<div alch-table="table" nutupane-table>
  <div alch-table-scroll>
    <table class="table table-striped">
      <thead>
      <tr alch-table-head row-select>
        <th alch-table-column>{{ "Name" }}</th>
        <th alch-table-column>{{ "Status" }}</th>
        <th alch-table-column>{{ "OS" }}</th>
        <th alch-table-column>{{ "Environment" }}</th>
        <th alch-table-column>{{ "Content View" }}</th>
        <th alch-table-column>{{ "Registered" }}</th>
        <th alch-table-column>{{ "Last Checkin" }}</th>
      </tr>
      </thead>

      <tbody>
      <tr alch-table-row
          ng-repeat="system in table.items"
          row-select>
        <td alch-table-cell>
          <a class="clickable" ng-click="table.openDetails(system)">{{ system.name }}</a>
          <i class="icon-chevron-right selected-icon" ng-show="system.selected"></i>
        </td>
        <td alch-table-cell>
          <span class="status_icon" ng-class="getStatusColor(system.compliance.status)"></span>
        </td>
        <td alch-table-cell>{{ system.distribution }}</td>
        <td alch-table-cell>{{ system.environment.name }}</td>
        <td alch-table-cell>{{ system.content_view.name || "" }}</td>
        <td alch-table-cell>{{ system.registered | date:'short' }}</td>
        <td alch-table-cell>{{ system.checkin_time || 'Never checked in' | date:'short' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
