<table class="table table-striped" ng-class="{'table-mask': systemTable.working}">
  <thead>
    <tr alch-table-head row-select>
      <th alch-table-column sortable>{{ "Name" | translate }}</th>
    </tr>
  </thead>

  <tbody>
    <tr alch-table-row ng-repeat="system in systemTable.rows" row-select="system">
      <td alch-table-cell>
        <a class="clickable" ui-sref="systems.details.info({systemId: system.uuid})">
          {{ system.name }}
        </a>
        <i class="icon-chevron-right selected-icon" ng-show="system.selected"></i>
      </td>
    </tr>
  </tbody>
</table>
