<div data-extend-template="../layouts/nutupane.html">

  <div data-block="header">
    {{ 'Systems' | translate }}
  </div>

  <div data-block="actions">
    <button class="btn btn-primary" ui-sref="systems.bulk-actions.packages">
      <i class="icon-group leading-icon"></i>
      {{ "Bulk Actions" | translate }}
    </button>

    <button class="btn btn-primary" ui-sref="systems.register">
      <i class="icon-signin leading-icon"></i>
      {{ "Register System" | translate }}
    </button>
  </div>

</div>
