= javascript 'bastion/systems/system-url-router.config.temporary.js', 'bastion/systems/systems.controller.js', 'bastion/systems/system-details.controller.js'
= javascript 'bastion/components/scrollWithPage.directive', 'bastion'

%section{ 'ng-controller' => 'SystemsController' }
  %div{'ui-view' => 'sub-header'}
  %div(ui-view)
