= javascript 'bastion/systems/system-url-router.config.temporary.js', 'bastion/systems/systems.controller.js', 'bastion/systems/system-details.controller.js', 'bastion'
= javascript 'bastion/incubator/inline-edit.directive'

%section{'ui-view' => 'systems'}
