= javascript 'bastion/systems/systems.controller', 'bastion/components/nutupane.factory'
= javascript 'bastion/components/scrollWithPage.directive', 'bastion/incubator/table.directive'

%section{ 'ng-controller' => 'SystemsController' }
  %div(ng-include){ 'src'=>"'systems/views/toolbar.html'" }
  %div(ng-include){ 'src'=>"'systems/views/systems.html'" }
