= javascript 'bastion/systems/systems.controller.js', 'bastion/systems/system-details.controller.js', 'bastion/components/nutupane.factory.js'
= javascript 'bastion/components/scrollWithPage.directive.js', 'bastion/incubator/table.directive.js'

%section{ 'ng-controller' => 'SystemsController' }
  %div{'ui-view' => ''}

