.grid_7#plan
  &nbsp;
.grid_7#plan
  %label #{_("Pick your Environment to download template from:")}
  %fieldset.fl.clear
    %label.grid_2 &nbsp;
  %fieldset.fl.clear
    %label.grid_2 #{_("Environment")}:
    .grid_4.la=select_tag 'system_template[environment_id]'
  %fieldset.fl.clear
    %label.grid_2 &nbsp;
    %input#download_key.button{:type => "submit", :value => "#{_("Download")}"}

