%ul.expand_list
  -if repos.empty?
    #{_("No repositories")}

  -for repo in repos
    %li.clear.slide_link
      %a.repo_add_remove.st_button.fr{ "data-id" => repo.id, "data-name"=>repo.name}
        = "+ #{_("Add")}"
      .link_details.simple_link{:id=>repo_bc_id(repo)}
        %span.repo-icon{:style=>"display: inline;"}
          #{repo.name}&nbsp;

%br.clear
