<div bst-form-group label="{{ 'Errata Type' | translate }}">

  <label class="checkbox-inline">
    <input type="checkbox"
           name="types"
           value="{{ types.security }}"
           ng-model="types.security"
           ng-change="updateTypes(types)"
           ng-disabled="onlySelected(types, 'security')"/>
    <span translate>Security</span>
  </label>

  <label class="checkbox-inline">
    <input type="checkbox"
           name="types"
           value="{{ types.enhancement }}"
           ng-model="types.enhancement"
           ng-change="updateTypes(types)"
           ng-disabled="onlySelected(types, 'enhancement')"/>
    <span translate>Enhancement</span>
  </label>

  <label class="checkbox-inline">
    <input type="checkbox"
           name="types"
           value="{{ types.bugfix }}"
           ng-model="types.bugfix"
           ng-change="updateTypes(types)"
           ng-disabled="onlySelected(types, 'bugfix')"/>
    <span translate>Bugfix</span>
  </label>

</div>
<div bst-form-group label="{{ 'Date Type' | translate }}">
  <label class="radio-inline">
    <input type="radio"
           ng-model="rule.date_type"
           ng-change="updateDateType()"
           value="updated"/>
    <span translate>Updated On</span>
  </label>
  <label class="radio-inline">
    <input type="radio"
           ng-model="rule.date_type"
           ng-change="updateDateType()"
           value="issued"/>
    <span translate>Issued On</span>
  </label>
</div>

<div bst-form-group label="{{ 'Start Date' | translate }}">
  <div class="input-group">
    <input type="date" class="form-control" uib-datepicker-popup
           ng-model="rule.start_date" ng-model-options="{timezone: 'UTC'}"
           is-open="date.startOpen" ng-click="openStartDate($event)"/>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="openStartDate($event)">
        <i class="fa fa-calendar inline-icon"></i>
      </button>
    </span>
  </div>
</div>

<div bst-form-group label="{{ 'End Date' | translate }}">
  <div class="input-group">
    <input type="date" class="form-control" uib-datepicker-popup
           ng-model="rule.end_date" ng-model-options="{timezone: 'UTC'}"
           is-open="date.endOpen" ng-click="openEndDate($event)"/>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="openEndDate($event)">
        <i class="fa fa-calendar inline-icon"></i>
      </button>
    </span>
  </div>
</div>
