<span page-title ng-model="filter">{{ 'Package Filter:' | translate }} {{ filter.name }}</span>

<nav>
  <ul class="nav nav-tabs nav-tabs-pf">

    <li ng-class="{active: isState('content-view.yum.filter.rpm.edit')}">
      <a ui-sref="content-view.yum.filter.rpm.edit" translate>
        Details
      </a>
    </li>

    <li ng-class="{active: isState('content-view.yum.filter.rpm.details')}">
      <a ui-sref="content-view.yum.filter.rpm.details" translate>
        RPMs
      </a>
    </li>

    <li ng-class="{active: isState('content-view.yum.filter.rpm.repositories')}"
        ng-show="!contentView.permissions.editable">
      <a ui-sref="content-view.yum.filter.rpm.repositories({filterId: filter.id})"
         ng-include="'content-views/details/filters/views/partials/filter-repositories-count.html'">
      </a>
    </li>

  </ul>
</nav>

<div ui-view></div>
