<span page-title ng-model="contentCredential">{{ 'Alternate Content Sources for ' | translate }} {{ contentCredential.name }}</span>

<div data-extend-template="layouts/partials/table.html">
  <span data-block="no-rows-message" translate>
    You currently don't have any Alternate Content Sources associated with this Content Credential.
  </span>

  <div data-block="search">
    <input type="text" class="form-control" stop-event="click"
            placeholder="{{ 'Filter...' | translate }}"
            ng-model="contentCredentialACSFilter"/>
  </div>


  <div data-block="table">
    <table bst-table="table" class="table table-striped table-bordered">
      <thead>
        <tr bst-table-head>
          <th bst-table-column="name" sortable><span translate>Name</span></th>
          <th bst-table-column="usedAs" sortable><span translate>Used as</span></th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="alternate_content_source in table.rows | filter:contentCredentialACSFilter">
          <td bst-table-cell>
            <a href="/alternate_content_sources/{{ alternate_content_source.id }}/details" target="_self">
              {{ alternate_content_source.name }}
            </a>
          </td>
          <td bst-table-cell>
              {{ alternate_content_source.usedAs }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>