<p class="alert alert-info" ng-show="contentHostTable.rows.length === 0" translate>
      You currently don't have any Content Hosts, you can register Content Hosts using the button on the right.
</p>
<table class="table table-striped table-bordered"
       ng-class="{'table-mask': contentHostTable.working}"
       ng-show="contentHostTable.rows.length > 0">
  <thead>
    <tr bst-table-head row-select>
      <th bst-table-column="name" sortable><span translate>Name</span></th>
      <th bst-table-column="status">
        {{ "Subscription Status" | translate }}
      </th>
      <th bst-table-column="status">
        <span translate>Available Errata</span>
      </th>
      <th bst-table-column="os"><span translate>OS</span></th>
      <th bst-table-column="environment"><span sortable translate>Environment</span></th>
      <th bst-table-column="contentView"><span translate>Content View</span></th>
      <th bst-table-column="registeredBy"><span translate>Registered By</span></th>
      <th bst-table-column="registered"><span translate>Registered</span></th>
      <th bst-table-column="lastCheckin" sortable><span translate>Last Checkin</span></th>
    </tr>
  </thead>

  <div data-extend-template="layouts/select-all-results.html"></div>

  <tbody>
    <tr bst-table-row ng-repeat="contentHost in contentHostTable.rows" row-select="contentHost"
        ng-controller="ContentHostStatusController">
      <td bst-table-cell>
        <a ui-sref="content-hosts.details.info({contentHostId: contentHost.uuid})">
          {{ contentHost.name }}
        </a>
      </td>
      <td bst-table-cell>
        <span class="icon-circle" ng-class="contentHostTable.getStatusColor(contentHost.entitlementStatus)">
        </span>
      </td>
      <td>
        <a ui-sref="content-hosts.details.errata.index({contentHostId: contentHost.uuid})">
          <span class="aligned-errata-count" errata-counts="contentHost.errata_counts"></span>
        </a>
      </td>
      <td bst-table-cell>{{ contentHost.distribution }}</td>
      <td bst-table-cell>{{ contentHost.environment.name }}</td>
      <td bst-table-cell>{{ contentHost.content_view.name || "" }}</td>
      <td bst-table-cell>
        <span class="info-value" ng-show="contentHost.activation_keys.length == 0">{{ contentHost.registered_by }}</span>
        <span class="info-value" ng-show="contentHost.activation_keys.length > 0"
              translate
              translate-n="contentHost.activation_keys.length"
              translate-plural="Activation Keys">
          Activation Key
        </span>
      </td>
      <td bst-table-cell>{{ contentHost.created | date:'short' }}</td>
      <td bst-table-cell>{{ (contentHost.checkin_time | date:'short') || ("Never checked in" | translate) }}</td>
    </tr>
  </tbody>
</table>
