<span page-title>{{ 'Content Hosts' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="header">
    {{ 'Content Hosts' | translate }}
  </div>

  <div data-block="actions">
    <button class="btn btn-default"
            ng-disabled="table.numSelected === 0"
            ng-show="permitted('edit_hosts') || permitted('destroy_hosts')"
            ui-sref="content-hosts.bulk-actions.host-collections">
      <span translate>Bulk Actions</span>
    </button>

    <button class="btn btn-primary"
            ng-show="permitted('create_hosts')"
            ui-sref="content-hosts.register">
      <span translate>Register Content Host</span>
    </button>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Content Hosts, you can register one by clicking the button on the right and following the instructions.
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Content Hosts.
  </span>
  
</div>
