<span page-title>{{ 'Content Hosts' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="header">
    {{ 'Content Hosts' | translate }}
  </div>

  <div data-block="actions">
    <button class="btn btn-default"
            ng-show="permitted('edit_content_hosts') || permitted('destroy_content_hosts')"
            ui-sref="content-hosts.bulk-actions.host-collections">
      <i class="fa fa-group leading-icon"></i>
      {{ "Bulk Actions" | translate }}
    </button>

    <button class="btn btn-primary"
            ng-show="permitted('create_content_hosts')"
            ui-sref="content-hosts.register">
      <i class="fa fa-signin leading-icon"></i>
      {{ "Register Content Host" | translate }}
    </button>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Content Hosts, you can register one by clicking the button on the right and following the instructions.
  </span>
</div>
