<span page-title>{{ 'Register a Content Host' | translate }}</span>

<section class="nutupane-details" ng-cloak bst-container-scroll>

  <header class="details-header new-header">
    <h2 class="fl" translate>Content Host Registration</h2>

    <div class="fr">
      <button class="btn btn-default" ui-sref="content-hosts.index">
        <i class="fa fa-remove"></i>
        {{ "Close" | translate }}
      </button>
    </div>
  </header>

 <p translate>To register a content host to this server, follow these steps.</p>
  <ol>
    <li ng-hide="noCapsulesFound">
      <p translate>Select a Content Source:</p>
      <p><select ng-model="selectedCapsule" ng-options="capsule.name for capsule in capsules.results"></select></p>
    </li>
    <li>
      <p translate>Install the pre-built bootstrap RPM:</p>
      <pre><code>rpm -Uvh http://{{ noCapsulesFound ? katelloHostname : hostname(selectedCapsule.url) }}/pub/{{ consumerCertRPM }}</code></pre>
    </li>
    <li>
      <p translate>Run subscription-manager in a console on the client host.  You may use an Activation Key to register:</p>
      <pre><code>subscription-manager register --org="{{ organization.label }}" --activationkey="activationkey1"</code></pre>
      <p translate>or authenticate with a username and password:</p>
      <pre><code>subscription-manager register --org="{{ organization.label }}" --environment="Library"</code></pre>
    </li>
    <li>
      <p translate>Install katello-agent for remote actions and displaying errata information:</p>
      <pre><code>yum -y install katello-agent</code></pre>
    </li>
  </ol>
</section>
