<li>
  <p translate>Install client package:</p>

  <p translate>To report package & errata information:</p>
  <pre><code>yum -y install katello-host-tools</code></pre>

  <p translate>Tracer helps administrators identify applications that need to be restarted after a system is patched. To optionally report tracer information:</p>
  <pre><code>yum -y install katello-host-tools-tracer</code></pre>

  <p translate>For remote actions via katello-agent:</p>
  <pre><code>yum -y install katello-agent</code></pre>
  <section>
    <p bst-alert="warning" >
    <span translate>
      Katello-agent is deprecated and will be removed in a future release.
    </span>
    </p>
  </section>

  <p translate>Learn more about these packages in the <a href="https://theforeman.org/plugins/katello/">Documentation</a> </p>
</li>
