<li>
  <p translate>Install client package:</p>

  <p translate>To report package & errata information:</p>
  <pre><code>yum -y install katello-host-tools</code></pre>

  <p translate>To optionally report tracer information:</p>
  <pre><code>yum -y install katello-host-tools-tracer</code></pre>

  <p translate>For remote actions and reporting package & errata information:</p>
  <pre><code>yum -y install katello-agent</code></pre>
  <p translate>Learn more about these packages in the <a href="https://theforeman.org/plugins/katello/">Documentation</a> </p>
</li>
