<span page-title>{{ 'Register a Content Host' | translate }}</span>

<section class="nutupane-details" ng-cloak bst-container-scroll>

  <header class="details-header new-header">
    <h2 class="fl" translate>Content Host Registration</h2>

    <div class="fr">
      <button class="btn btn-default" ui-sref="content-hosts.index">
        <i class="fa fa-remove"></i>
        {{ "Close" | translate }}
      </button>
    </div>
  </header>

  <p translate>To register a content host to this server, run the following commands within a console on the client host.</p>

  <p translate>Install the pre-built bootstrap RPM. This will configure the host to use this server.</p>

  <pre>rpm -Uvh {{ baseURL }}/pub/{{ consumerCertRPM }}</pre>

  <p translate>Use Subscription Manager to register.</p>

  <pre><code>subscription-manager register --org="{{ organization.label }}" --environment="Library"</code></pre>

  <p translate>Use an Activation Key to register.</p>

  <pre><code>subscription-manager register --org="{{ organization.label }}" --activationkey="activationkey1"</code></pre>

  <div ng-show="capsules.results.length > 0">
    <p>
      <h5 translate>Consuming Content From a Capsule</h5>
      {{ "Selected Capsule:" | translate }}
      <select ng-model="selectedCapsule"
              ng-options="capsule.url for capsule in capsules.results">
      </select>

      <pre ng-show="selectedCapsule"><code>subscription-manager register --org="{{ organization.label }}" --baseurl="https://{{ hostname(selectedCapsule.url) }}/pulp/repos"</code></pre>
    </p>
  </div>
</section>
