<span page-title>{{ 'Register a Content Host' | translate }}</span>

<section data-extend-template="layouts/details-page-with-breadcrumbs.html">

  <header data-block="header">
    <h2 translate>Content Host Registration</h2>
  </header>

  <div data-block="content">
    <p translate>To register a content host to this server, follow these steps.</p>
    <ol>
      <li ng-hide="noCapsulesFound">
        <p translate>Select a Content Source:</p>
        <p><select ng-model="selectedCapsule" ng-options="capsule.name for capsule in capsules.results"></select></p>
      </li>
      <li>
        <p translate>Install the pre-built bootstrap RPM:</p>
        <pre><code>curl --insecure --output {{ consumerCertRPM }} https://{{ noCapsulesFound ? katelloHostname : hostname(selectedCapsule.url) }}/pub/{{ consumerCertRPM }}<br />yum localinstall {{ consumerCertRPM }} </code></pre>
      </li>
      <li>
        <p translate>Register using subscription-manager:</p>
        <p translate>Using an Activation Key:</p>
        <pre><code>subscription-manager register --org="{{ organization.label }}" --activationkey="&ltActivation Key Name&gt"</code></pre>
        <p translate>Using a username and password:</p>
        <pre><code>subscription-manager register --org="{{ organization.label }}" --environment="Library"</code></pre>
      </li>
      <register-client />
    </ol>
  </div>
</section>
