.grid_16
  %h1 #{_("Permission denied")}

  %p #{_("You are not authorised to perform this action.")}
  %p #{_("Please request the required privileges from an administrator.")}

  %p
    = link_to _("Back"), root_path
