.ca.light_text.versioning
  - if current_user
    #{link_to (_("%{app_name} Version: %{version}") % {:app_name => release_name, :version => Katello.config.katello_version}), about_path}
  - else
    #{_("%{app_name} Version: %{version}") % {:app_name => release_name, :version => Katello.config.katello_version}}
  - if Katello.config.embed_yard_documentation
    #{link_to 'YARD documentation', Katello.config.url_prefix + '/yard/docs/file/README.md'}
