- initial_action ||= :edit 
.block{:id => "#{name}_#{item.send(accessor)}", "data-ajax_url" => url_for(:action=>initial_action, :id => item.send(accessor))}
  - for col in columns
    .one-line-ellipsis{:class => 'column_' + columns.length.to_s, :title => item.send(col)}
      = item.send(col)
  .arrow-right