.block{:id => item.send(accessor), "data-ajax_url" => url_for(:action=> 'edit', :id => item.send(accessor))}
  - for col in columns
    %div{:class => 'column_' + columns.length.to_s}
      - if col.to_s == "name"
        = item.send(col)[0...32]
      - else
        = item.send(col)
  .arrow-right