= javascript do
  :plain
    localize({
      "validation_error_name_format" : '#{escape_javascript(_('One or more package names are invalid.'))}',
      "validation_error_package_pending" : '#{escape_javascript(_('One or more of the packages provided has an action pending.'))}',
      "validation_error_group_pending" : '#{escape_javascript(_('One or more of the groups provided has an action pending.'))}'
      });
