@import "foremanReact/common/variables";

.recommended-repositories-toggler-container {

  > * {
    margin: 0 3px;

    &.fa.fa-star {
      color: $color-pf-gold-300;
    }

    &:last-child {
      margin: 0;
    }
  }
}
