@import "foremanReact/common/variables";

.recommended-repositories-toggler-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  // Style only the StarIcon (not the question icon)
  > svg {
    color: var(--pf-v5-global--warning-color--100);
  }

  .recommended-repos-help-button {
    padding: 0.25rem 0 0 0;
  }
}
