--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="UXBZGVFcKTLMhK0jO1TSsJi7ZPH90zOZt2Zpv9pik", oauth_signature="%2FSWVms0FyYfF%2BIT%2BkOr59Mg%2BSn4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185853", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/6d73b68f-25be-44d5-a6b4-fbfcd0199068/\", \"task_id\": \"6d73b68f-25be-44d5-a6b4-fbfcd0199068\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:30:53 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/6d73b68f-25be-44d5-a6b4-fbfcd0199068/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="UOcCv3t49OmiUi2eqBUpmRX7fDWYKLiWSQTqfxwxWyY", oauth_signature="dRPhtc%2FW9oxGB6Jguy9E5kS%2BDqw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185853", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/6d73b68f-25be-44d5-a6b4-fbfcd0199068/\", \"task_id\": \"6d73b68f-25be-44d5-a6b4-fbfcd0199068\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:30:53Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537523fd3c307ec505e86118\"}, \"id\": \"537523fd86d9a9321c14a5ea\"}"
  recorded_at: Thu, 15 May 2014 20:30:53 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/ef369025-b60a-4840-ae39-2858d3074072/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="DWu7V0sBqCxuykULtH7rttjya1HRkS6cqwE4yAUWo", oauth_signature="oSGlyfFitHGaWQ1T1w2EKD4ZcHw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185855", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/ef369025-b60a-4840-ae39-2858d3074072/\", \"task_id\": \"ef369025-b60a-4840-ae39-2858d3074072\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:30:55Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:30:55Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-15T21:30:55+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-15T21:30:55+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"537523ff86d9a932edcb26c9\", \"result\": \"success\"}, \"error\": null, \"_id\": {\"$oid\": \"537523fe3c307ec505e86119\"}, \"id\": \"537523fe86d9a932edcb26c7\"}"
  recorded_at: Thu, 15 May 2014 20:30:55 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/031ed3a6-0a8f-491f-9ba2-72ad68dadcbc/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="I8DLNeT05G42vdlH4rzGPTWv1ushR349LvfqE6A4I", oauth_signature="VP9Hpop%2F%2BlazPIB3%2FSBGuu4Aj44%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185855", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/031ed3a6-0a8f-491f-9ba2-72ad68dadcbc/\", \"task_id\": \"031ed3a6-0a8f-491f-9ba2-72ad68dadcbc\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:30:55Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:30:55Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 0, \"description\": \"\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"publish_repo_metadata\", \"num_processed\": 0}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"distribution\", \"num_processed\": 1}, {\"num_success\": 8, \"description\": \"Publishing RPMs\", \"items_total\": 8, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"rpms\", \"num_processed\": 8}, {\"num_success\": 0, \"description\": \"Publishing Delta RPMs\", \"items_total\": 0, [...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QThQWvOnJr2u6tfT9Zu2PM2OdDbjSWwUWQnE9KWT2Cs", oauth_signature="OFu%2BUPropgiO3mljoe9%2BvPl7uL8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185855", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\"}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2014-05-15T21:30:55+01:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"537523fc86d9a9321c14a5e8\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"537523fc86d9a9321c14a5e7\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2014-05-15T21:30:55+01:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"537523fc86d9a9321c14a5e6\"}, \"config\": {\"checksum_type\": \"sha256\", \"protected\": true, \"http\": false, \"https\": true, \"relative_url\": \"/test_path/\"}, \"id\": \"1\"}], \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {\"package_group\": 2, \"distribution\": 1, \"package_category\": 1, \"rpm\": 8, \"erratum\": 2}, \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2014-05-15T21:30:54+01:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"537523fc86d9a9321c14a5e5\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"537523fc86d9a9321c14a5e4\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:30:55 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: "{\"repo_id\":\"1\",\"distributor_id\":\"1\",\"notify_agent\":false}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="F5Tv1T0yVztniNI4bbe9qG1uhISQkSe8ySSLekDRnc", oauth_signature="gTDYaMyy8GOYgVWDTyL6NF%2Bh%2BN4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185855", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [], \"result\": {\"notify_agent\": false, \"repo_id\": \"1\", \"deleted\": false, \"_ns\": \"consumer_bindings\", \"distributor_id\": \"1\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"consumer_actions\": [], \"binding_config\": {}, \"_id\": {\"$oid\": \"5375240086d9a9321c14a5f5\"}, \"id\": \"5375240086d9a9321c14a5f5\"}, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:30:56 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/actions/content/regenerate_applicability//
    body: 
      encoding: US-ASCII
      string: "{\"consumer_criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="m6nzzgiTYr9G66vXyI93l70WksXWTWpIaMY7hzx7U7o", oauth_signature="i%2FQmVefgd%2BihXJx46jzxY8btkLM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185856", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/e9bdaadd-ab54-4c32-9839-1fbfc8f82d71/\", \"task_id\": \"e9bdaadd-ab54-4c32-9839-1fbfc8f82d71\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:30:56 GMT
[...]
- request: 
    method: post
    uri: https://katello-pulp.example.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="L67q7A2DdhSg9LaY8VNNUZRxrvP5s6Q1wzeX85Y0", oauth_signature="87tIpkAvGXU732J0dwtTlW6hh88%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437409872", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"last_unit_added\": null, \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"last_unit_removed\": null, \"content_unit_counts\": {}, \"_ns\": \"repos\", \"_id\": {\"$oid\": \"55ad225086bbe52d21e57bb4\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 20 Jul 2015 16:31:12 GMT
- request: 
    method: post
    uri: https://katello-pulp.example.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4,\"validate\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="mCfRkDI0Y9vgzNKEEOVZJR6dEywMZklrefJagxrrX4", oauth_signature="TbCFavIkbFtXZ1PUgdH7Mm3Z0Cw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437409872", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/e71b3ce0-bfae-4db4-b55e-31fdf6d945a7/\", \"task_id\": \"e71b3ce0-bfae-4db4-b55e-31fdf6d945a7\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 20 Jul 2015 16:31:12 GMT
- request: 
    method: get
    uri: https://katello-pulp.example.com/pulp/api/v2/tasks/e71b3ce0-bfae-4db4-b55e-31fdf6d945a7/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="56CjtMrdpdMRFX2chy8WrKz09cdIOKbhXvpUYHmD3io", oauth_signature="A1%2FUdGFAYSqxqUSBoCMDf7mF%2BA4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437409872", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.sync.sync\", \"_href\": \"/pulp/api/v2/tasks/e71b3ce0-bfae-4db4-b55e-31fdf6d945a7/\", \"task_id\": \"e71b3ce0-bfae-4db4-b55e-31fdf6d945a7\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"start_time\": null, \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"None.dq\", \"state\": \"waiting\", \"worker_name\": null, \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"55ad22508703361f3e0477a8\"}, \"id\": \"55ad225086bbe52d21e57bba\"}"
  recorded_at: Mon, 20 Jul 2015 16:31:12 GMT
[...]
- request: 
    method: get
    uri: https://katello-pulp.example.com/pulp/api/v2/tasks/7b3adb99-c6d5-4a6b-bc9b-e20dec4fc39f/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="K7q3S8QbDvReNbd5dH4OfzZUaBMxjlIk0d1tyGrgnes", oauth_signature="CoXH9uJBcuuVo73WKeJ7U9kY0Ss%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437409873", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/7b3adb99-c6d5-4a6b-bc9b-e20dec4fc39f/\", \"task_id\": \"7b3adb99-c6d5-4a6b-bc9b-e20dec4fc39f\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2015-07-20T16:31:13Z\", \"_ns\": \"task_status\", \"start_time\": \"2015-07-20T16:31:13Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 1, \"description\": \"Initializing repo metadata\", \"step_type\": \"initialize_repo_metadata\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"details\": \"\", \"num_failures\": 0, \"step_id\": \"6b702ab1-95dd-4d42-8af9-fe4cfd1c0290\", \"num_processed\": 1}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"step_type\": \"distribution\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"details\": \"\", \"num_failures\": 0, \"step_id\": \"82a844a1-114e-47b3-b619-9a69a4f0de9d\", \"num_processe[...]
- request: 
    method: delete
    uri: https://katello-pulp.example.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="86AbXlgLp8mxFbBlB7VHOf3f9RhuVJCot1i8kkqI", oauth_signature="WcUt5zXRZ27vm2rNeD%2FIyBr%2B%2BMI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437409874", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/e76cf68e-48b0-48e4-9398-31cb32a4d31a/\", \"task_id\": \"e76cf68e-48b0-48e4-9398-31cb32a4d31a\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 20 Jul 2015 16:31:14 GMT
[...]
- request: 
    method: get
    uri: https://katello-distributions2.example.com/pulp/api/v2/tasks/d9a8cb50-a587-467c-9b02-25a0bc9ae879/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="8m6kcev1LW1R6DRzjLFLJADsTSvgtDeI2qSC0cnkI", oauth_signature="%2Bn4Wnld%2FpafaNAFsLo38Hqdt3IM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439409616", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.sync.sync\", \"_href\": \"/pulp/api/v2/tasks/d9a8cb50-a587-467c-9b02-25a0bc9ae879/\", \"task_id\": \"d9a8cb50-a587-467c-9b02-25a0bc9ae879\", \"tags\": [\"pulp:repository:Fedora_17\", \"pulp:action:sync\"], \"finish_time\": null, \"start_time\": null, \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"None.dq\", \"state\": \"waiting\", \"worker_name\": null, \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"55cba5d08627eee487c930f9\"}, \"id\": \"55cba5d0db0c2166403eda92\"}"
  recorded_at: Wed, 12 Aug 2015 20:00:16 GMT
[...]
- request:
    method: get
    uri: https://katello-distributions2.example.com/pulp/api/v2/tasks/753fec38-9bb3-492d-8237-c698a644c478/
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="wZHnliCpwlJVG91T7Vnpp3h6LD7MJDuPtTZKOTd60", oauth_signature="VMQgixBhDdFoD%2FGofuHrpf7p5nY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439409617", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/753fec38-9bb3-492d-8237-c698a644c478/\", \"task_id\": \"753fec38-9bb3-492d-8237-c698a644c478\", \"tags\": [\"pulp:repository:Fedora_17\", \"pulp:action:publish\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2015-08-12T20:00:17Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"Fedora_17\": [{\"num_success\": 1, \"description\": \"Initializing repo metadata\", \"step_type\": \"initialize_repo_metadata\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"details\": \"\", \"num_failures\": 0, \"step_id\": \"005bd526-7c07-4e0b-be39-b87283a4f4d9\", \"num_processed\": 1}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"step_type\": \"distribution\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"details\": \"\", \"nu[...]
[...]
- request:
    method: post
    uri: https://katello-distributions2.example.com/pulp/api/v2/repositories/
    body:
      encoding: US-ASCII
      string: "{\"id\":\"Fedora_17\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distr[...]
- request:
    method: post
    uri: https://katello-distributions2.example.com/pulp/api/v2/repositories/Fedora_17/actions/sync/
    body:
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4,\"validate\":true}}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="oelrNhqoYfn0LujWB1th7AOqtnptZpg8DUgs2QOs5W4", oauth_signature="eTH5cnhTbVOsrpEjraD634epCfc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439926966", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/38080d61-3269-40c0-9161-cc537f5cd371/\", \"task_id\": \"38080d61-3269-40c0-9161-cc537f5cd371\"}], \"result\": null, \"error\": null}"
  recorded_at: Tue, 18 Aug 2015 19:42:46 GMT
[...]
- request:
    method: post
    uri: https://katello-distributions2.example.com/pulp/api/v2/consumers/
    body:
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="ySInOIcp1aPzwb6naV61MpqZCH2ozalmfxq6f9AiPqc", oauth_signature="esB%2FwzOvl8tRmDnLbACM9YQ3qfU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439926969", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"consumer\": {\"display_name\": \"Simple Server\", \"description\": null, \"_ns\": \"consumers\", \"notes\": {}, \"rsa_pub\": null, \"capabilities\": {}, \"_id\": {\"$oid\": \"55d38ab9db0c21042893e2db\"}, \"id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"_href\": {\"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/\"}}, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXAIBAAKBgQDBbfbvEGguseHjFvpVkDO2Zc+PVeSxeQM6Hem1RogG5wzBT6Rn\\nsZ8aT/m8g7RzrhAVSr0cX4rQZTaLRn3eEVI3YCuJvRViDPVen6blzyNIzXZmHEjJ\\nJ/EMavUuuLz6f482BhW5pWFS013ziboMdCkie96Wd+1JWkpRhwJg2XzUXQIDAQAB\\nAoGAS+NIriJRvYAsj1vEey1IHJd1B1c7kiVYDsUNnAE//PVJG86TQdt+AGTAJiXF\\n9lykErZv22HgpEIRVDMjzqwdBM3YXCDh629RcTO8q+MZidX0AISmG1ynOrfJtJwh\\nl9utMfJ7B6E44rHewq0a9EM0ayFtsdyZ9RRM5WIHYXREqEECQQDsahgxCxpHR7yv\\nfqrcSgqW9buXKZbt1b7JVrnpZJmNLz04QIAXXW4Bc/xJ4lGRAybHz1sixaKMM[...]
- request:
    method: get
    uri: https://katello-distributions2.example.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="LZuWka4rsV9mnJMZycbkHeQNEMwBBjP2cPRdisMyHFY", oauth_signature="KfBP1PcrcFWZmXEDS1cVh0aJqr4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439926969", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 18 Aug 2015 19:42:49 GMT
- request:
    method: get
    uri: https://katello-distributions2.example.com/pulp/api/v2/repositories/Fedora_17/?details=true
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="QNoGiA1rAJoS3dOOTX4auNi8ybaMhGl81NTsITY8Y", oauth_signature="QsbySB5tiBnwVSS3Tp7LxI5Z2QA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439926969",[...]
[...]
- request:
    method: delete
    uri: https://katello-distributions2.example.com/pulp/api/v2/repositories/Fedora_17/
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="ew9Q82Jvo5843x0qudg5mMc3spsDTg4pleGoKgnc", oauth_signature="bt6unPH1m1LJndCIjn2%2BQcNw7lc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439926969", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/2cad54ec-6528-42ac-9ceb-5a7dd119c0bc/\", \"task_id\": \"2cad54ec-6528-42ac-9ceb-5a7dd119c0bc\"}], \"result\": null, \"error\": null}"
  recorded_at: Tue, 18 Aug 2015 19:42:49 GMT
[...]
- request: 
    method: delete
    uri: https://katello-distributions2.example.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="GX6zFAVFwbOOEE57vwkcbvITp8K1RK6b1OnKdUOgtk", oauth_signature="gtQYeC%2BJJJ2tHr7%2F0uwrlUXzZ5c%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439926970", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 18 Aug 2015 19:42:50 GMT
recorded_with: VCR 2.9.3
