--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="dJIY9p0uEaO2DHX1YbwMTfnyaMLhn8icD4UOfXDLWg", oauth_signature="vjb0bHZOeAf1DsUSw0unPQi5KkQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397192", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"53691b4886d9a916a6501489\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Tue, 06 May 2014 17:26:32 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="5yMp0LSutOXqTyb8llFsoc6t5DQ7lzFzsL1K5neS2I", oauth_signature="%2BrW%2FUlcWuKgiucln7aDD%2BqRq1mE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397192", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/9378fe9b-dc6e-46ec-965e-745441c1981c/\", \"task_id\": \"9378fe9b-dc6e-46ec-965e-745441c1981c\"}], \"result\": null, \"error\": null}"
  recorded_at: Tue, 06 May 2014 17:26:33 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/9378fe9b-dc6e-46ec-965e-745441c1981c/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="5gfF3pEWRErAh4Al3DrE1P4erXnWMT73CP0kvPq2k", oauth_signature="3zceBaA%2B1%2BXcDhnfc1VB2rynBZs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397193", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/9378fe9b-dc6e-46ec-965e-745441c1981c/\", \"task_id\": \"9378fe9b-dc6e-46ec-965e-745441c1981c\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-06T17:26:33Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-0@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"53691b496bb79edbaef13508\"}, \"id\": \"53691b4986d9a916a650148f\"}"
  recorded_at: Tue, 06 May 2014 17:26:33 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/86a067f2-bd36-4840-b621-350f16424478/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="FYr706rKmtZvmSBWXkR3BdjNW5fxjL3w4Z5ubwG5xY", oauth_signature="rOX3adatMv3930eemRf688k9pJI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397194", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/86a067f2-bd36-4840-b621-350f16424478/\", \"task_id\": \"86a067f2-bd36-4840-b621-350f16424478\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-06T17:26:34Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-06T17:26:34Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-0@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-06T18:26:34+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-06T18:26:34+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"53691b4a86d9a90fa1a616b5\", \"result\": \"success\"}, \"error\": null, \"_id\": {\"$oid\": \"53691b4a6bb79edbaef13509\"}, \"id\": \"53691b4a86d9a90fa1a616b3\"}"
  recorded_at: Tue, 06 May 2014 17:26:34 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/76e65012-d6b7-48a0-9e8f-ffe54555c6cb/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Qa4D16jWNvr5ryDwRw0vPSnhWRQl5eq9ce63IKSg", oauth_signature="RZ82vQjF0Ex%2BZ76Qz7DxLCkEEgg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397194", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/76e65012-d6b7-48a0-9e8f-ffe54555c6cb/\", \"task_id\": \"76e65012-d6b7-48a0-9e8f-ffe54555c6cb\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-06T17:26:34Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-06T17:26:34Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 0, \"description\": \"\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"publish_repo_metadata\", \"num_processed\": 0}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"distribution\", \"num_processed\": 1}, {\"num_success\": 8, \"description\": \"Publishing RPMs\", \"items_total\": 8, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"rpms\", \"num_processed\": 8}, {\"num_success\": 0, \"description\": \"Publishing Delta RPMs\", \"items_total\": 0, [...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="S5GmZVzbjQQ8IEaRjVVAdrQWKUFJfnNHhkOuBXd3i8", oauth_signature="ZnbgqPr8kVxyeLh6m5DGCAeI9zk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397195", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"consumer\": {\"display_name\": \"Simple Server\", \"description\": null, \"_ns\": \"consumers\", \"notes\": {}, \"rsa_pub\": null, \"capabilities\": {}, \"_id\": {\"$oid\": \"53691b4b86d9a916a6501496\"}, \"id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"_href\": {\"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/\"}}, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXQIBAAKBgQDNE5aAf2cFvw91L5lEGuCyXPhhihOfVzJWcG28QEDAUPqEKAfi\\nYPJv5q5O8eRrFLejcWdkd9se6QDxkW6AhHIFnw4WGbLbjFaSE7CKpFVsSSAWfmLo\\nO4GErYNODXQF4YVfD3JTl/WASqwvxLffV1C0CRgbUP0+7zsKazaQ8smnNQIDAQAB\\nAoGAFslgZbLCTb8nBoxdaVXbNbZi2uOuvnu/2h7v8oTpLPVSgLC5/4tqJMjrAVab\\nXNKWfRCyvlUbAdo+Apl4P8t3p7k0v5sSHX/uschJq1VrH7Zlq9rADSp5oFyWX3RU\\n/aIC0qZ7hqy6DkdDoi4PPp4quT4wTUxmRoQFweGBbYR8jZkCQQD1ZNC7bVThqZhA\\nADcjO8lYLQBvvfl10tV5S+bhNE5zXnc6H4XiwUtrANl9fdrxMm0c7YGSIoRPJ[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Cw3DQ9lFJ1JACktxs9tEwLkFkpzYY7B0TSIdRbPto", oauth_signature="JuqP7Awfy5In2PTsaI4bTsDi2d8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397195", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 06 May 2014 17:26:35 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="HfGWjzj9WH5XqDuEBafVoQzo0bo9GocVmTu63SsiR2k", oauth_signature="8Jlgdm%2BfgfajNwEICirqrUXj6V8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397195", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\"}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2014-05-06T18:26:34+01:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"53691b4886d9a916a650148d\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"53691b4886d9a916a650148c\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2014-05-06T18:26:34+01:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"53691b4886d9a916a650148b\"}, \"config\": {\"checksum_type\": \"sha256\", \"protected\": true, \"http\": false, \"https\": true, \"relative_url\": \"/test_path/\"}, \"id\": \"1\"}], \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {\"package_group\": 2, \"distribution\": 1, \"package_category\": 1, \"rpm\": 8, \"erratum\": 2}, \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2014-05-06T18:26:33+01:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"53691b4886d9a916a650148a\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"53691b4886d9a916a6501489\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Tue, 06 May 2014 17:26:35 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: "{\"repo_id\":\"1\",\"distributor_id\":\"1\",\"notify_agent\":false}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="lz0WD2Nv4DYXUuC48X1TxHqrVXUr1ws0hmqXPiAnZk", oauth_signature="Eb9Jop7iUPw5xkov3eQNjVCBfvA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397195", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [], \"result\": {\"notify_agent\": false, \"repo_id\": \"1\", \"deleted\": false, \"_ns\": \"consumer_bindings\", \"distributor_id\": \"1\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"consumer_actions\": [], \"binding_config\": {}, \"_id\": {\"$oid\": \"53691b4b86d9a916a650149c\"}, \"id\": \"53691b4b86d9a916a650149c\"}, \"error\": null}"
  recorded_at: Tue, 06 May 2014 17:26:35 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/actions/content/regenerate_applicability//
    body: 
      encoding: US-ASCII
      string: "{\"consumer_criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Jjwqt9egLdVmLkWxIRjTnv76usZ7WNdRKzZOluL3oI", oauth_signature="GBl%2BEUYVyLz6zEpfRAQ%2FnBLbwwc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397195", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/cd9cec29-dcbe-4cdb-a59c-1ca0c6af3107/\", \"task_id\": \"cd9cec29-dcbe-4cdb-a59c-1ca0c6af3107\"}], \"result\": null, \"error\": null}"
  recorded_at: Tue, 06 May 2014 17:26:36 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="qh8UghNreYGQ3yXyy1L5Yt4evl42RQbtU4jN6ezvY", oauth_signature="U7w8GbfRu3wAfiNAbY%2FD%2FYCulmM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397196", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/d628c779-c0e4-4078-acb9-f8699e77dfd0/\", \"task_id\": \"d628c779-c0e4-4078-acb9-f8699e77dfd0\"}], \"result\": null, \"error\": null}"
  recorded_at: Tue, 06 May 2014 17:26:37 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="qRGbN9leatrBIsFdm608RbVJhVydVPy9F1h8dEpmYg", oauth_signature="KPrNvOYCakmZV1eYvkRx3S0Ghco%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397197", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 06 May 2014 17:26:37 GMT
recorded_with: VCR 2.9.0
