--- 
http_interactions: 
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/fb5fb40f-12ea-4055-b9a9-479fad76f4a3/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="zZPAOfbP0hOjcz62dzZtuOHyycFZlod873KGDFKvA", oauth_signature="shD8okuuxHIymevsTr4ie5XzpTU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081288", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"071435f7-c107-4d11-8c52-f9c308a4f37d\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/fb5fb40f-12ea-4055-b9a9-479fad76f4a3/\", \"task_id\": \"fb5fb40f-12ea-4055-b9a9-479fad76f4a3\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-09-13T14:08:08Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"size_total\": 17872, \"items_left\": 6, \"items_total\": 8, \"state\": \"IN_PROGRESS\", \"size_left\": 13404, \"details\": {\"rpm_total\": 8, \"rpm_done\": 2, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"071435f7-c107-4d11-8c52-f9c308a4f37d\", \"call_request_id\": \"fb5fb40f-12ea-4055-b9a9-479fad76f4a3\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 13 Sep 2013 14:08:08 GMT
[...]
- request: 
    method: get
    uri: https://localhost/pulp/api/v2/tasks/8dd2bddf-8ed5-4385-8abe-7133eccceb97/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="gbMfgPV8y432p9SJ3tN4G7utASIy8bmxSDb06dbNlLE", oauth_signature="zFkQCYMyQ629Wh7uAglttXpGKxc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379702835", oauth_version="1.0"
      Pulp-User[...]
[...]
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ZN3sDNYUFbbgXUPDbnQaisBzzJvGAnsqkDDZjEulg0", oauth_signature="6vQGYWztiOE3Se8gY871456%2BDZI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379704635", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"523c9f3cd60ea336491b0be6\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 20 Sep 2013 19:17:16 GMT
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="sW3ZNOGZ9xW5A66TdwFaUPczEaGjk5A956aYeRnYWMQ", oauth_signature="rJ6PlaaKIU30mfsQ9pVm9IgyI6o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379704636", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Co[...]
[...]
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="XySsuEGcEFGR0VGuEIAP4Mw4VCTo9OE9I7GB5xDpiw", oauth_signature="EaupnTUjp%2FYKNQ5K8QnnEN9Vhw8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379704652", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "{'_href': u'/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/'}"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"display_name\": \"Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICWwIBAAKBgQC3C9anSBTYYwjUdU0+Fd2tunWnikIHbtkphVruptSlAbzEF3Z8\\nt5DZEyXKJ7Gz/LrQR6V5GJisAqQ8dOJboJWcBaWuVbSU77hd5hqTwN4MllEFtLl2\\nij00O92xchooE4SYbFMJMl3w1rHcwyNGxOwrzbcn+9X/O76Y7SUVTn3RPwIDAQAB\\nAoGAXYypWbkXHjgPDTYeEfru3pkLBGM+t7nJNtU20f1ldCddKAKtxbOzTZ3hlF2R\\nDmG9wDC9uxP9Avwen99EyHtbuhJKzR+qA2aokfKloIq/U/tYfYIEeFeMN9mwCYXm\\nyAxxGhFc03jHbrQwld1jZ8UmCyDFZoH0uuZTEHwSarKUO2ECQQDaEIbDbWklcGSd\\nngHSBIeMGs1oPxTLBk+yWEs0ASPXHYbdtbJx4bRvZS12OEoKAJULAZminOi6R[...]
- request: 
    method: get
    uri: https://localhost/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Eq0KECBEAuFBkawjX5Dr7TgAragPiItgTPIYaLYaRo", oauth_signature="JNQ4lzBRjlWq2AY1X0PCE%2B%2BrCvg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379704653", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 20 Sep 2013 19:17:33 GMT
- request: 
    method: get
    uri: https://localhost/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="WLwXdU5uX5ADeXjhrBgzt2jhOxSbwFB9tesnuZLFYY", oauth_signature="wjnFw1xyXvlJXbOtIWPrnLEalzo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379704653", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {\"old_relative_path\": \"test_path/\"}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {\"distribution\": 1, \"rpm\": 8, \"erratum\": 3}, \"_id\": {\"$oid\": \"523c9f3cd60ea336491b0be6\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2013-09-20T15:17:16-04:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"523c9f3cd60ea336491b0be7\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2013-09-20T15:17:16-04:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"523c9f3cd60ea336491b0bea\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"523c9f3cd60ea336491b0be9\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2013-09-20T15:17:19-04:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"523c9f3cd60ea336491b0be8\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Fri, 20 Sep 2013 19:17:33 GMT
- request: 
    method: post
    uri: https://localhost/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: "{\"repo_id\":\"1\",\"distributor_id\":\"1\",\"notify_agent\":false}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="L4EHTptS6SmPX0assYe5ZCQYmQaOrf14Ofswe1QZWBI", oauth_signature="n%2FGoSRXIJXWQ7XDwh5lAIeOUi%2BA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379704653", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
 [...]
[...]
- request: 
    method: delete
    uri: https://localhost/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="jCnbADC162MqpDI2qD7lQBm6dFbR1xTu4yIlrmJFzXw", oauth_signature="CpNG%2Fd4SHuG2ZHPUAnSWRZQ1ojs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379704654", oauth_version="1.0"
      Pulp-User: 
      - admin
  resp[...]
- request: 
    method: delete
    uri: https://localhost/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="UUiOWoE6AqUCoQwXAp8hPJkmpOZLXK1F4p6iYlEhg", oauth_signature="cWkIXC%2F06g91QQuncJ%2FWw2gNa2E%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379704654", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/91f8be71-188d-4974-aa61-51447b54434b/\", \"task_id\": \"91f8be71-188d-4974-aa61-51447b54434b\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:delete\"], \"reasons\": [{\"operation\": \"read\", \"resource_type\": \"consumer\", \"resource_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\"}], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"91f8be71-188d-4974-aa61-51447b54434b\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Fri, 20 Sep 2013 19:17:34 GMT
recorded_with: VCR 2.5.0
