--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="LK5fcjbX810itSNJHbbS9MGMv4d84PqRuDJCh9Etgk", oauth_signature="ohFTibT0OrLf3lIfP2Sjo2Mt%2F2Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081287", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"52331c475ca01344d0c7047c\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 13 Sep 2013 14:08:07 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="FVjJ6epM5eZBZ2SoOXZSila5JUndF2fPNSdO64TNxVc", oauth_signature="45lP6ud7U%2BlatlvkAmfpkVt3V4g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081287", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"071435f7-c107-4d11-8c52-f9c308a4f37d\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/071435f7-c107-4d11-8c52-f9c308a4f37d/\", \"task_id\": \"fb5fb40f-12ea-4055-b9a9-479fad76f4a3\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"071435f7-c107-4d11-8c52-f9c308a4f37d\", \"call_request_id\": \"fb5fb40f-12ea-4055-b9a9-479fad76f4a3\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": \"071435f7-c107-4d11-8c52-f9c308a4f37d\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/071435f7-c107-4d11-8c52-f9c308a4f37d/\", \"task_id\": \"8bf896b5-82af-428f-9f86-2d661fb0e148\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"state\": \"waiting\"[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/fb5fb40f-12ea-4055-b9a9-479fad76f4a3/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="zZPAOfbP0hOjcz62dzZtuOHyycFZlod873KGDFKvA", oauth_signature="shD8okuuxHIymevsTr4ie5XzpTU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081288", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"071435f7-c107-4d11-8c52-f9c308a4f37d\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/fb5fb40f-12ea-4055-b9a9-479fad76f4a3/\", \"task_id\": \"fb5fb40f-12ea-4055-b9a9-479fad76f4a3\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-09-13T14:08:08Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"size_total\": 17872, \"items_left\": 6, \"items_total\": 8, \"state\": \"IN_PROGRESS\", \"size_left\": 13404, \"details\": {\"rpm_total\": 8, \"rpm_done\": 2, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"071435f7-c107-4d11-8c52-f9c308a4f37d\", \"call_request_id\": \"fb5fb40f-12ea-4055-b9a9-479fad76f4a3\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 13 Sep 2013 14:08:08 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="QYkP612ZwSLA7xERh1ERm4AFFAe7BH6ppF5eX0Ww", oauth_signature="xSTHcqoizOj37Yawezhh8sJUQyI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081304", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "{'_href': u'/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/'}"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"display_name\": \"Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXQIBAAKBgQC5ofT2MSu4T/3AJ67l2TQwwXQbEqzasHP74sTo/vuejMDNcTUZ\\nTg5RbxPsfU0Xj5ZnL9Ouy2Mo5EbHu94LkRVQW0z+6yUApwuHDmOL/2PrF00L9H7X\\nPG5DwnmDmVdl0oUhuGWuaetPCqoK0p+gD+sluvcg9fHcdDEFWmQD2wUk4QIDAQAB\\nAoGAI+BTMYmLQ5HiHtMMkEuMNKgOwnS3h4R2xgWrvMQa6SeW052/f2aAieiH1zrY\\nPWd4z/SEWtHgFjUYIN4EKgQeNBcK5ul+DAEmffxN4lIQRltJp/G/iioWZtTvVlk5\\nyc8zGntzhhyCuYa9YJnWXwR9icuEJcRgKOfvPk2dv8zEw+kCQQDr29RMKVoiPXBu\\nUXqSKH4klQrusoTeUppPr+ouewJvQp/uI2kr7QedlfU1WLKZP8QXo9Vs9r3l2[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="YtHalD3WhtXZu4VC5BOSRlelj3ZsQzMLXSvVnXb3gnc", oauth_signature="9%2FagGcnSg4oEIVU6o5vqCv%2B1QM4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081304", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 13 Sep 2013 14:08:24 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="9QfnqbkbAcwHNAx4UwfL6Zue72u4jqj376adxMyg", oauth_signature="lOR9lThNxjs%2FzHBvbj5DswzZmvs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081304", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {\"package_group\": 2, \"distribution\": 1, \"package_category\": 1, \"rpm\": 8, \"erratum\": 3}, \"_id\": {\"$oid\": \"52331c475ca01344d0c7047c\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2013-09-13T10:08:08-04:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"52331c475ca01344d0c7047d\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2013-09-13T10:08:08-04:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"52331c475ca01344d0c70480\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"52331c475ca01344d0c7047f\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2013-09-13T10:08:09-04:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"52331c475ca01344d0c7047e\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Fri, 13 Sep 2013 14:08:24 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: "{\"repo_id\":\"1\",\"distributor_id\":\"1\",\"notify_agent\":false}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="DpjfIcVTE6R0DguSyDnr8WSCN85LfdyJk03xDfuw0s0", oauth_signature="Pli%2FPSV%2FJTxNP1TqEDTJMS7cCp4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081304", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
 [...]
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="nCE1DDxvdUCg4k5LRJB5blNCfQyfyCsLbsILFuI", oauth_signature="bM%2Bsyy3gY9oMly0ZDZ94ikV24U0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081305", oauth_version="1.0"
      Pulp-User: 
      - ad[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="S5rHyimjjNI5FlV6xNaf6jv91w12VCHd94ZfjQZ70E", oauth_signature="kh1KJluTUILiVPoebAyY%2FpM90Og%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081305", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/66d37afb-37c1-4868-8aac-b9665e7ab0d3/\", \"task_id\": \"66d37afb-37c1-4868-8aac-b9665e7ab0d3\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:delete\"], \"reasons\": [{\"operation\": \"read\", \"resource_type\": \"consumer\", \"resource_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\"}], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"66d37afb-37c1-4868-8aac-b9665e7ab0d3\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Fri, 13 Sep 2013 14:08:26 GMT
recorded_with: VCR 2.5.0
