--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="iIHgSnK2xTMjX9Iy2JYdAv4TAaWnJTZVTYoAkSFWFQ", oauth_signature="15VUr3EmL8RETA06230AQ1da8sY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185852", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"537523fc86d9a9321c14a5e4\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:30:52 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="UXBZGVFcKTLMhK0jO1TSsJi7ZPH90zOZt2Zpv9pik", oauth_signature="%2FSWVms0FyYfF%2BIT%2BkOr59Mg%2BSn4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185853", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/6d73b68f-25be-44d5-a6b4-fbfcd0199068/\", \"task_id\": \"6d73b68f-25be-44d5-a6b4-fbfcd0199068\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:30:53 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/6d73b68f-25be-44d5-a6b4-fbfcd0199068/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="UOcCv3t49OmiUi2eqBUpmRX7fDWYKLiWSQTqfxwxWyY", oauth_signature="dRPhtc%2FW9oxGB6Jguy9E5kS%2BDqw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185853", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/6d73b68f-25be-44d5-a6b4-fbfcd0199068/\", \"task_id\": \"6d73b68f-25be-44d5-a6b4-fbfcd0199068\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:30:53Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537523fd3c307ec505e86118\"}, \"id\": \"537523fd86d9a9321c14a5ea\"}"
  recorded_at: Thu, 15 May 2014 20:30:53 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/ef369025-b60a-4840-ae39-2858d3074072/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="DWu7V0sBqCxuykULtH7rttjya1HRkS6cqwE4yAUWo", oauth_signature="oSGlyfFitHGaWQ1T1w2EKD4ZcHw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185855", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/ef369025-b60a-4840-ae39-2858d3074072/\", \"task_id\": \"ef369025-b60a-4840-ae39-2858d3074072\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:30:55Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:30:55Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-15T21:30:55+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-15T21:30:55+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"537523ff86d9a932edcb26c9\", \"result\": \"success\"}, \"error\": null, \"_id\": {\"$oid\": \"537523fe3c307ec505e86119\"}, \"id\": \"537523fe86d9a932edcb26c7\"}"
  recorded_at: Thu, 15 May 2014 20:30:55 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/031ed3a6-0a8f-491f-9ba2-72ad68dadcbc/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="I8DLNeT05G42vdlH4rzGPTWv1ushR349LvfqE6A4I", oauth_signature="VP9Hpop%2F%2BlazPIB3%2FSBGuu4Aj44%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185855", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/031ed3a6-0a8f-491f-9ba2-72ad68dadcbc/\", \"task_id\": \"031ed3a6-0a8f-491f-9ba2-72ad68dadcbc\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:30:55Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:30:55Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 0, \"description\": \"\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"publish_repo_metadata\", \"num_processed\": 0}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"distribution\", \"num_processed\": 1}, {\"num_success\": 8, \"description\": \"Publishing RPMs\", \"items_total\": 8, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"rpms\", \"num_processed\": 8}, {\"num_success\": 0, \"description\": \"Publishing Delta RPMs\", \"items_total\": 0, [...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="wXCPkQfSyg490XBt5VV4Z7DixIhNdjp4IqNscaYQQ", oauth_signature="c0x7uXttk6zCGOeZWua%2F2rqM8ag%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185855", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"consumer\": {\"display_name\": \"Simple Server\", \"description\": null, \"_ns\": \"consumers\", \"notes\": {}, \"rsa_pub\": null, \"capabilities\": {}, \"_id\": {\"$oid\": \"537523ff86d9a9321c14a5ef\"}, \"id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"_href\": {\"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/\"}}, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXAIBAAKBgQDO8drtJNIk1tQNxSyauuK6ULf09LInXKMnXbet8/tPPyhxYJ75\\np1HxNd3SOnfuR5vMpTMup1QCx8rkHC/grxYbzU7YhLG6ZI+WVwlK3Pw5RnevZFvk\\nSDjERq3gZjApZoTxqIBl8Cmzy87Qho47jMP0N2hsaYjf0XYmGmG1edtiwwIDAQAB\\nAoGBAJkHA0rFJZgUO+6K1Xb9p1b7BWzf3TV6LTOY+5BokHeDTpa4ShZ2ggOKP6OL\\nlM/gp/bmWjivh1IfB4syxLyy+/byiFk5m73IqAAobO6tA5wByGZY1mw3pejOuHB+\\nuT8qK1dhlMkEVbSxD3WFElHy/koMxphqWXEr7eSdghKtvo+hAkEA7Oe5OanMbR/E\\nrTAlsgxpZYe0D5QS9oSRZyVj55bn5DefoZASfhalnNTu5jLtPQZzvjG76KRDp[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="vAop3zuSFNKFHq9EN0ZyPdMVEqrOrQdIVSeKRjl0", oauth_signature="iKjq29Cq5j4KRfFS7aXteg5LZkk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185855", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Thu, 15 May 2014 20:30:55 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QThQWvOnJr2u6tfT9Zu2PM2OdDbjSWwUWQnE9KWT2Cs", oauth_signature="OFu%2BUPropgiO3mljoe9%2BvPl7uL8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185855", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\"}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2014-05-15T21:30:55+01:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"537523fc86d9a9321c14a5e8\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"537523fc86d9a9321c14a5e7\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2014-05-15T21:30:55+01:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"537523fc86d9a9321c14a5e6\"}, \"config\": {\"checksum_type\": \"sha256\", \"protected\": true, \"http\": false, \"https\": true, \"relative_url\": \"/test_path/\"}, \"id\": \"1\"}], \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {\"package_group\": 2, \"distribution\": 1, \"package_category\": 1, \"rpm\": 8, \"erratum\": 2}, \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2014-05-15T21:30:54+01:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"537523fc86d9a9321c14a5e5\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"537523fc86d9a9321c14a5e4\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:30:55 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: "{\"repo_id\":\"1\",\"distributor_id\":\"1\",\"notify_agent\":false}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="F5Tv1T0yVztniNI4bbe9qG1uhISQkSe8ySSLekDRnc", oauth_signature="gTDYaMyy8GOYgVWDTyL6NF%2Bh%2BN4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185855", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [], \"result\": {\"notify_agent\": false, \"repo_id\": \"1\", \"deleted\": false, \"_ns\": \"consumer_bindings\", \"distributor_id\": \"1\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"consumer_actions\": [], \"binding_config\": {}, \"_id\": {\"$oid\": \"5375240086d9a9321c14a5f5\"}, \"id\": \"5375240086d9a9321c14a5f5\"}, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:30:56 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/actions/content/regenerate_applicability//
    body: 
      encoding: US-ASCII
      string: "{\"consumer_criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="m6nzzgiTYr9G66vXyI93l70WksXWTWpIaMY7hzx7U7o", oauth_signature="i%2FQmVefgd%2BihXJx46jzxY8btkLM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185856", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/e9bdaadd-ab54-4c32-9839-1fbfc8f82d71/\", \"task_id\": \"e9bdaadd-ab54-4c32-9839-1fbfc8f82d71\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:30:56 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="QUxMZ1EEepTwN0dFmaBWceq588S04B6amFjDrTLqADk", oauth_signature="DeU5H2LiS4SLZP0IP4eexedERvc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185857", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/c7be1d4c-9aa1-4d6c-9056-54a6631bd862/\", \"task_id\": \"c7be1d4c-9aa1-4d6c-9056-54a6631bd862\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:30:57 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="sxyIERDPvkQX3RcAmechWyHsPkmoIVQQSAIDuSI", oauth_signature="NZ6uq3GkwrFzcHVtIukbTkaPPbw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185857", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 15 May 2014 20:30:57 GMT
recorded_with: VCR 2.9.0
