--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/actions/content/regenerate_applicability//
    body: 
      encoding: US-ASCII
      string: "{\"consumer_criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="1Swhdj3nqzAdzXsehi7HpCJxTfCxc8IdFG1qHVo", oauth_signature="53S6w5Wt2Q1YYr39PweSViqDHxo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185866", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/cb05bf8b-1c6c-4c3b-9134-c429e40af848/\", \"task_id\": \"cb05bf8b-1c6c-4c3b-9134-c429e40af848\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:07 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/cb05bf8b-1c6c-4c3b-9134-c429e40af848/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="bi0XuBCU4Q8HejP6IiAm2OjOMVDKx4BLZvZLOBYigQ", oauth_signature="oiHibfpTmFseghaLLVjVjntQvDM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185867", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.consumer.applicability.regenerate_applicability_for_consumers\", \"_href\": \"/pulp/api/v2/tasks/cb05bf8b-1c6c-4c3b-9134-c429e40af848/\", \"task_id\": \"cb05bf8b-1c6c-4c3b-9134-c429e40af848\", \"tags\": [\"pulp:action:content_applicability_regeneration\"], \"finish_time\": \"2014-05-15T20:31:07Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:07Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"5375240b3c307ec505e86122\"}, \"id\": \"5375240b86d9a9321e2b930f\"}"
  recorded_at: Thu, 15 May 2014 20:31:07 GMT
- request: 
    method: put
    uri: https://katello-distributions2.example.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: "{\"delta\":{\"display_name\":\"Not So Simple Server\"}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="3F3WPuygZMX1YhevRIE4ZBY3wbrVyeegrqbDGNcb4", oauth_signature="%2B8HfHWyx5ekafNaqbB%2BfKjjRVWA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439926978", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"display_name\": \"Not So Simple Server\", \"description\": null, \"_ns\": \"consumers\", \"notes\": {}, \"rsa_pub\": null, \"capabilities\": {}, \"_id\": {\"$oid\": \"55d38ac1db0c21042893e340\"}, \"id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/\"}"
  recorded_at: Tue, 18 Aug 2015 19:42:58 GMT
- request: 
    method: post
    uri: https://katello-distributions2.example.com/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="yExNa9xvgm89Jz9ofBCvBKN6UT9PgxnTswQKvmTzI", oauth_signature="Qk4pHYM%2BiiTHUBB95DPL9WabOPM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439926978", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location:
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"consumer\": {\"display_name\": \"Simple Server\", \"description\": null, \"_ns\": \"consumers\", \"notes\": {}, \"rsa_pub\": null, \"capabilities\": {}, \"_id\": {\"$oid\": \"55d38ac2db0c21042893e34a\"}, \"id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"_href\": {\"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/\"}}, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICWwIBAAKBgQCnmzz1bve/Fq4UGFdH+Wx0sId4aJ8Zf+E+YddRQKMQiXJEuVLY\\nkbwYAmtWJfTN7GIPEoYsZj99cY0H7ApsjEkjn3izmzzwEc06VyGXIbmUsbbK8yC4\\nokOoQBjUMJd3lytM6s0vG+n2E0gGEabf9+9G8h2dUP4kjmd13EHWA7HHbwIDAQAB\\nAoGAAROhN55n3wVhRuXFIcQ7ayB7Lk3Vv88vfjwYqv/0TDXl0wUxwAxnneveDqad\\nxPjgxGIFFKHvhHnHQybEBmB8U8iXKLgtkAY+PpPjYvnpyxu7RtbRPhVYi5t1dwQo\\n1ebADXSJFanBOe8jDlmWiYptfA6i39m1z0M1N3HXrmSmtbECQQDawk/0FeFiVv6K\\nHTsun7Ip/KeMeUYsqtkvskOyWa6jLb2BBF59OgadxzSZyw5onc98YWGprf+w9[...]
- request: 
    method: post
    uri: https://katello-distributions2.example.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles//
    body: 
      encoding: US-ASCII
      string: "{\"content_type\":\"rpm\",\"profile\":[{\"vendor\":\"FedoraHosted\",\"name\":\"elephant\",\"version\":\"0.3\",\"release\":\"0.8\",\"arch\":\"noarch\",\"epoch\":\"\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="4vif7RBjEGZnugLP4axEwYyniT3eVCPn3945SbuY", oauth_signature="p19A3GqNdsQA5Ghnut6%2BS7zEvfQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439926978", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location:
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"profile\": [{\"vendor\": \"FedoraHosted\", \"name\": \"elephant\", \"epoch\": \"\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/\", \"_ns\": \"consumer_unit_profiles\", \"profile_hash\": \"0d63d9eddb6aacc1705bdc39b3ad249885462b93474d388699eef263de0f190f\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"content_type\": \"rpm\", \"_id\": {\"$oid\": \"55d38ac2db0c21042893e34e\"}, \"id\": \"55d38ac2db0c21042893e34e\"}"
  recorded_at: Tue, 18 Aug 2015 19:42:58 GMT
- request: 
    method: delete
    uri: https://katello-distributions2.example.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="DNlXstrs2EQaIPZYvnop4T387CvTDwOxyUCcdB8jg", oauth_signature="UlO9Iwz15fYzRKA%2BoLvjT8RgE4M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439926978", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 18 Aug 2015 19:42:58 GMT
recorded_with: VCR 2.9.3
