--- 
http_interactions: 
- request: 
    method: put
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: "{\"delta\":{\"display_name\":\"Not So Simple Server\"}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="VVaiIzKy9EoaOY4I8jzlzg7LslJgKkAcXvYWL3k8Gs", oauth_signature="DNGRtNIa5ixFv%2Fz5vB2IOBmwsJ8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397204", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"display_name\": \"Not So Simple Server\", \"description\": null, \"_ns\": \"consumers\", \"notes\": {}, \"rsa_pub\": null, \"capabilities\": {}, \"_id\": {\"$oid\": \"53691b5486d9a916a65014d8\"}, \"id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/\"}"
  recorded_at: Tue, 06 May 2014 17:26:44 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="0d6Dwv9QnioMhrK1vsoAcScdFhD0dpsbwBM3kODlDZ0", oauth_signature="2Bo5jMYyr1lTc39ciWCAU9LMoOQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397204", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"consumer\": {\"display_name\": \"Simple Server\", \"description\": null, \"_ns\": \"consumers\", \"notes\": {}, \"rsa_pub\": null, \"capabilities\": {}, \"_id\": {\"$oid\": \"53691b5486d9a916a73633b1\"}, \"id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"_href\": {\"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/\"}}, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXAIBAAKBgQC+jglDud/W3k5HbS0c5tYmvdk39PPNUphPPmUHtbxsT9Al/AgP\\nkhR67SO9z07cO/sJL6h61yXGPO+aneN0DtDj4aXp7IRu4oVB6wnthfKInjwuDtcr\\nc0VgVP8my4xfFo1l053se1pd+wLDJdhRHiQ34CfCxF9XgQmmJZad77Y8EwIDAQAB\\nAoGAREpk+Zegp8Gt7h0rYMM9lk7NjSdFRJ1IJoYm8PdpmquT3jkPrnzcyB06hOjJ\\ny1XXprgkujlmuT/XYuMYw9wXciQkE8Xu5bFlq4x2jlsIOyO6cNQUOHcoLkO/3eJy\\nyXV3jsbmtX+0TLFm2InElAd1ldy6+/cCIxQU66WHpr6252kCQQD7eeHUrrjwNcd3\\nVeXfWYC6n7Oit3GNyLOR9M/42dSq1G71VoSoHiWNFI8X3uxK9qDtDnwCPmo2b[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles//
    body: 
      encoding: US-ASCII
      string: "{\"content_type\":\"rpm\",\"profile\":[{\"vendor\":\"FedoraHosted\",\"name\":\"elephant\",\"version\":\"0.3\",\"release\":\"0.8\",\"arch\":\"noarch\",\"epoch\":\"\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="pZDQSuOcA8DZn1p7nSVxRNAcYNh39v0rMoTnkGxys", oauth_signature="HSHNg66xiqnKDfm9S1ymRaDgvHk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397205", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: None
  recorded_at: Tue, 06 May 2014 17:26:45 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/actions/content/regenerate_applicability//
    body: 
      encoding: US-ASCII
      string: "{\"consumer_criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="wwInLe3o3wcMB5QFWbBEO20Tc4FmixtR5sVfc0pkMVs", oauth_signature="GG%2FvDINTtPOfeBrquV7%2Fr2%2FvtZc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397205", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/96937c1d-a0c4-489b-b868-9cee0bc6af37/\", \"task_id\": \"96937c1d-a0c4-489b-b868-9cee0bc6af37\"}], \"result\": null, \"error\": null}"
  recorded_at: Tue, 06 May 2014 17:26:45 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/96937c1d-a0c4-489b-b868-9cee0bc6af37/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="u6n67FcxF9CpfVSLBfbpNoibRAX16nViQnaFla4n6U", oauth_signature="anq6lUS27PsfHU3D1Rj4oMbFgRU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397205", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.consumer.applicability.regenerate_applicability_for_consumers\", \"_href\": \"/pulp/api/v2/tasks/96937c1d-a0c4-489b-b868-9cee0bc6af37/\", \"task_id\": \"96937c1d-a0c4-489b-b868-9cee0bc6af37\", \"tags\": [\"pulp:action:content_applicability_regeneration\"], \"finish_time\": \"2014-05-06T17:26:45Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-06T17:26:45Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-0@centos.installer\", \"state\": \"finished\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"53691b556bb79edbaef13512\"}, \"id\": \"53691b5586d9a916a73633b8\"}"
  recorded_at: Tue, 06 May 2014 17:26:45 GMT
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="x45obxRKGCL7lxGQHXcuYvktxa4RPUwZ73dKhNKvg", oauth_signature="%2FgDqn1I0VdSPVTlYLQMKMgTUmZ0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399397205", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Tue, 06 May 2014 17:26:45 GMT
recorded_with: VCR 2.9.0
