--- 
http_interactions: 
- request: 
    method: put
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: "{\"delta\":{\"display_name\":\"Not So Simple Server\"}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="TuBX4aCNtTCr8uBmgUiavukJNACikK03LuQrKwkPCM", oauth_signature="MHMc0wI%2BLAgLsFyH2psgMZaumQU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185865", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"display_name\": \"Not So Simple Server\", \"description\": null, \"_ns\": \"consumers\", \"notes\": {}, \"rsa_pub\": null, \"capabilities\": {}, \"_id\": {\"$oid\": \"5375240986d9a9321e2b92ff\"}, \"id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/\"}"
  recorded_at: Thu, 15 May 2014 20:31:05 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="qwwBPfwnxa4aygn6arTTBdVxcOJ1KFkBU2L8qUopPw", oauth_signature="UCRlPQpDoCv2ymAhD4N7rdpIXBk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185866", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"consumer\": {\"display_name\": \"Simple Server\", \"description\": null, \"_ns\": \"consumers\", \"notes\": {}, \"rsa_pub\": null, \"capabilities\": {}, \"_id\": {\"$oid\": \"5375240a86d9a9321e2b9308\"}, \"id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"_href\": {\"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/\"}}, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXwIBAAKBgQDnsAXtGolC9E48lScBMx7TP5vepN1y5sEqeLRH17j02EPFMmF0\\nckey4lC41qmEb3HkBDvBbJmIIl5i2V57Bg++5O5DYViWIAab52Sbj/PvqAZ2UU55\\nc8OzSsNiTZ5T0dUzvqCfu4lrXKq3KRSOBBFKVZr3C+Tx1UcBF0lB52kVGQIDAQAB\\nAoGBAMGTDCCCH1TVkdiENcaG06ZkavKmhG9P5Ox7VQUBdAL9/gFwioQkR0tqU09b\\n6t4/zsRX1SVSeySGsp2cR5g6BEQ/Gg6V/0wxMZu+FJZFm6Ry+i7yMJftvfGXc37p\\nFcuJPp7UT7p5bDRLTMYqS4Vp4NjPENnr3qlfavP5yZ8QbQQBAkEA+oglTxupVoVK\\n7tzFZQL1J35Ba/LekavYUiyz/xFxN/VS7opLpZgq7PzzGhawWsyN1aZCkqerK[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles//
    body: 
      encoding: US-ASCII
      string: "{\"content_type\":\"rpm\",\"profile\":[{\"vendor\":\"FedoraHosted\",\"name\":\"elephant\",\"version\":\"0.3\",\"release\":\"0.8\",\"arch\":\"noarch\",\"epoch\":\"\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="dljDPZhYgTxeF3UEXF1JroEcbwKUMiszWBJIp8w", oauth_signature="U0HYyFa%2Bo2ORnYoOxYxMOyLM4rE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185866", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"profile\": [{\"vendor\": \"FedoraHosted\", \"name\": \"elephant\", \"epoch\": \"\", \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/profiles/010E99C0-3276-11E2-81C1-0800200C9A66/rpm/\", \"_ns\": \"consumer_unit_profiles\", \"profile_hash\": \"0d63d9eddb6aacc1705bdc39b3ad249885462b93474d388699eef263de0f190f\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"content_type\": \"rpm\", \"_id\": {\"$oid\": \"5375240a86d9a9321e2b930c\"}, \"id\": \"5375240a86d9a9321e2b930c\"}"
  recorded_at: Thu, 15 May 2014 20:31:06 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/actions/content/regenerate_applicability//
    body: 
      encoding: US-ASCII
      string: "{\"consumer_criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="1Swhdj3nqzAdzXsehi7HpCJxTfCxc8IdFG1qHVo", oauth_signature="53S6w5Wt2Q1YYr39PweSViqDHxo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185866", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/cb05bf8b-1c6c-4c3b-9134-c429e40af848/\", \"task_id\": \"cb05bf8b-1c6c-4c3b-9134-c429e40af848\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:07 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/cb05bf8b-1c6c-4c3b-9134-c429e40af848/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="bi0XuBCU4Q8HejP6IiAm2OjOMVDKx4BLZvZLOBYigQ", oauth_signature="oiHibfpTmFseghaLLVjVjntQvDM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185867", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.consumer.applicability.regenerate_applicability_for_consumers\", \"_href\": \"/pulp/api/v2/tasks/cb05bf8b-1c6c-4c3b-9134-c429e40af848/\", \"task_id\": \"cb05bf8b-1c6c-4c3b-9134-c429e40af848\", \"tags\": [\"pulp:action:content_applicability_regeneration\"], \"finish_time\": \"2014-05-15T20:31:07Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:07Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"5375240b3c307ec505e86122\"}, \"id\": \"5375240b86d9a9321e2b930f\"}"
  recorded_at: Thu, 15 May 2014 20:31:07 GMT
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="uN8qokwMEmKeWl0wb0ZIf2vpu5HhGkCHG6aJO0TXJL0", oauth_signature="pOlN32X46YAX41pU7Ikfa4uUNQg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185867", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 15 May 2014 20:31:07 GMT
recorded_with: VCR 2.9.0
