--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="GQiogF0trmbqyqggEFK4GIFU5vXX3YpfxxHOaEX6x8s", oauth_signature="TSGaCVXkGvaTD%2BIuRAyYR3asU0I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185859", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"5375240386d9a9321e2b92d5\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:30:59 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="sd3n5iFdekCi2CyVRQdRIp0bBNNtCbf5P8DZG63chgE", oauth_signature="QK3HKHeATYXG6TpkVaE%2BC8APqNQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185859", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/b3f98ef0-ab54-4ba9-ab0b-11a5a4785fae/\", \"task_id\": \"b3f98ef0-ab54-4ba9-ab0b-11a5a4785fae\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:00 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/b3f98ef0-ab54-4ba9-ab0b-11a5a4785fae/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="wshzMBfkuPXmxp2s0d9HNI6zMoX38K4dqU8S2xhX8", oauth_signature="pAE9pwx0d18PHbcK7h3LamyvhvA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185860", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/b3f98ef0-ab54-4ba9-ab0b-11a5a4785fae/\", \"task_id\": \"b3f98ef0-ab54-4ba9-ab0b-11a5a4785fae\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:00Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524043c307ec505e8611d\"}, \"id\": \"5375240486d9a9321e2b92db\"}"
  recorded_at: Thu, 15 May 2014 20:31:00 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/b29dadcb-3458-4166-82c3-d9946128ed6b/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="r69PgIX4NXqQOGOSEHnUKPp5o0S8M692Jdo4Htzr8A", oauth_signature="nMzdtLdAcVnJulVOTplwBw%2FJIVw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185861", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/b29dadcb-3458-4166-82c3-d9946128ed6b/\", \"task_id\": \"b29dadcb-3458-4166-82c3-d9946128ed6b\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:31:01Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:01Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-15T21:31:01+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-15T21:31:01+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"5375240586d9a932edcb26ea\", \"result\": \"success\"}, \"error\": null, \"_id\": {\"$oid\": \"537524043c307ec505e8611e\"}, \"id\": \"5375240486d9a932edcb26e8\"}"
  recorded_at: Thu, 15 May 2014 20:31:01 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/8b21d1f3-64cd-482d-b142-8bda2fc101fd/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="o1z6GlzLxdlveP9KmxgZxPYq91NaehvfWdurc3HOOKU", oauth_signature="3e0qKJKJ819N4qW83XF3XNznCHg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185861", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/8b21d1f3-64cd-482d-b142-8bda2fc101fd/\", \"task_id\": \"8b21d1f3-64cd-482d-b142-8bda2fc101fd\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:31:01Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:01Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 0, \"description\": \"\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"publish_repo_metadata\", \"num_processed\": 0}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"distribution\", \"num_processed\": 1}, {\"num_success\": 8, \"description\": \"Publishing RPMs\", \"items_total\": 8, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"rpms\", \"num_processed\": 8}, {\"num_success\": 0, \"description\": \"Publishing Delta RPMs\", \"items_total\": 0, [...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="T4NhWfAyaUKYC1Gp67M9ERjkKaACMUmMpoqMllI4ri0", oauth_signature="PpKhn1%2BQpTa4rS5lAGIoV9cvKkk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185862", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"consumer\": {\"display_name\": \"Simple Server\", \"description\": null, \"_ns\": \"consumers\", \"notes\": {}, \"rsa_pub\": null, \"capabilities\": {}, \"_id\": {\"$oid\": \"5375240686d9a9321e2b92e2\"}, \"id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"_href\": {\"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/\"}}, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXQIBAAKBgQDD/yCGTFIBVbVqYy4CC21X7Bq3iwNgUI6oO07vATizwuf6PAvL\\n6t8g/3RVTKHfs9d+kz3oG68bit1OjnUIn+OIHl1pgAW0Sz5iN7/AYK8ki6icYsT3\\nMaFDPt1Oi96dfEXH1uaDHb/H+jj+wHjM4FsxJRSJZX8hKIZXrjG3FKiSZwIDAQAB\\nAoGAaXGGU/oXXDR6J0Q4ak0vhE+3h+s348czGHrf2mFz2fIPz2YiipBPfncwZPuX\\nUrx0QNqCQa8zI8Qvj6XAfOVYCN7XF8253EORsyIPzLbEOlOJP4JGabbbfYcr/uaK\\nH4jR+nTk+IGsT3eG1eT4zgk8TkNAay2t45rjOXNduMJGmDECQQD4DAWp9gdNZkAZ\\nw8XvJmEt6SZ9jMxqF9Mb0fIkwD74r1/NspZrX9fP5zZj9LPrDXkSNGRYx4i5y[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="URYhOzIuDQgpGWqBZk2jDUMAgbRlDfcq9eaiF8DM", oauth_signature="sXrgQheUwy5FXHpyjAEccKm4HFw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185862", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Thu, 15 May 2014 20:31:02 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="xphvwjjP7jCJjRW4E28uEMc1FahgjMfXpDLEIc", oauth_signature="HNqVhICwxD5S6D3shIpowAmG4lc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185862", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\"}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2014-05-15T21:31:01+01:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"5375240386d9a9321e2b92d9\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"5375240386d9a9321e2b92d8\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2014-05-15T21:31:01+01:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"5375240386d9a9321e2b92d7\"}, \"config\": {\"checksum_type\": \"sha256\", \"protected\": true, \"http\": false, \"https\": true, \"relative_url\": \"/test_path/\"}, \"id\": \"1\"}], \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {\"package_group\": 2, \"distribution\": 1, \"package_category\": 1, \"rpm\": 8, \"erratum\": 2}, \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2014-05-15T21:31:00+01:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"5375240386d9a9321e2b92d6\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"5375240386d9a9321e2b92d5\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Thu, 15 May 2014 20:31:02 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: "{\"repo_id\":\"1\",\"distributor_id\":\"1\",\"notify_agent\":false}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Qd4b7icWbBMzq2q5uafiz54eXvr4CqHmptSf9TZP2U", oauth_signature="X8LfmowyF7OOppdzCSr52Jbo18Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185862", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [], \"result\": {\"notify_agent\": false, \"repo_id\": \"1\", \"deleted\": false, \"_ns\": \"consumer_bindings\", \"distributor_id\": \"1\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"consumer_actions\": [], \"binding_config\": {}, \"_id\": {\"$oid\": \"5375240686d9a9321e2b92e8\"}, \"id\": \"5375240686d9a9321e2b92e8\"}, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:02 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/actions/content/regenerate_applicability//
    body: 
      encoding: US-ASCII
      string: "{\"consumer_criteria\":{\"filters\":{\"id\":{\"$in\":[\"010E99C0-3276-11E2-81C1-0800200C9A66\"]}}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="aLZfxErt9V5p9H4Zapq1tUUREVzhDxsxPy9FsKwytg", oauth_signature="r3YxXijwRlaekW2QQ5stoCdYTiY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185862", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/ec096b56-238a-4ac9-b94e-0bb8e7197c75/\", \"task_id\": \"ec096b56-238a-4ac9-b94e-0bb8e7197c75\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:02 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="QUr9XIuzzdMQ7cs7RbRB8t2xmCJxnsrrk93knzT5w", oauth_signature="sZCXbl%2FjD61y0DdVszER24t4UAs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185863", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"metadata\": {\"_id\": \"496c2789-e10f-4c65-8cfd-dc7adcff1529\", \"_content_type_id\": \"erratum\"}, \"_id\": {\"$oid\": \"5375240486d9a932edcb26e2\"}, \"unit_id\": \"496c2789-e10f-4c65-8cfd-dc7adcff1529\", \"unit_type_id\": \"erratum\"}, {\"metadata\": {\"_id\": \"5a8d9788-6a7d-4ac7-a88e-60715b379376\", \"_content_type_id\": \"erratum\"}, \"_id\": {\"$oid\": \"5375240486d9a932edcb26e3\"}, \"unit_id\": \"5a8d9788-6a7d-4ac7-a88e-60715b379376\", \"unit_type_id\": \"erratum\"}]"
  recorded_at: Thu, 15 May 2014 20:31:03 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"496c2789-e10f-4c65-8cfd-dc7adcff1529\",\"5a8d9788-6a7d-4ac7-a88e-60715b379376\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="lKOFd9fji7gBG475czkFokDRgK21OxzKCGAO29oBCaQ", oauth_signature="8Pjzb1JIFzL1ab6uTge4I428%2F8I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185863", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"repository_memberships\": [\"1\"], \"_href\": \"/pulp/api/v2/content/units/erratum/496c2789-e10f-4c65-8cfd-dc7adcff1529/\", \"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"Empty errata\", \"children\": {}, \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"_last_updated\": \"2014-05-15T20:31:00Z\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"496c2789-e10f-4c65-8cfd-dc7adcff1529\"}, {\"repository_memberships\": [\"1\"], \"_href\": \"/pulp/api/v2/content/units/erratum/5a8d9788-6a7d-4ac7-a88e-60715b379376/\", \"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"One package errata\", \"children\": {}, \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"sum\": null, \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"_last_updated\": \"2014-05-15T20:31:00Z\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"5a8d9788-6a7d-4ac7-a88e-60715b379376\"}]"
  recorded_at: Thu, 15 May 2014 20:31:03 GMT
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/install//
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"erratum\",\"unit_key\":{\"id\":\"RHEA-2010:0002\"}}],\"options\":{\"importkeys\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="9d0c79sjCjGsCCzSGIyMW23MNsrBsmPCjfKNIqDW8", oauth_signature="qsYKQkufk%2BeU4cCM7D3zA4dGBB4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185863", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/da9f4c6d-b714-4829-9ea3-ebaee279060b/\", \"task_id\": \"da9f4c6d-b714-4829-9ea3-ebaee279060b\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:03 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/uninstall//
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"cheetah\"}}],\"options\":{}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="qOdFuaM5Sz16M076jGlSyPoyo8pKZkvScb2kt9zvo", oauth_signature="fr4L9kcfilMC6Xcxhd%2BOl%2BsrVvw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185863", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/e4ef6c99-2bc5-4237-afd4-d10ac483bbee/\", \"task_id\": \"e4ef6c99-2bc5-4237-afd4-d10ac483bbee\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:04 GMT
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/update//
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{}}],\"options\":{\"importkeys\":true,\"all\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="4wBm2vYk2kevlXK9QeGUKDcnlkfkt6tsWi7QdUZ2I", oauth_signature="MxRaZouGtopeQLyX%2FF2E4M1C2WE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185864", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/5929adfb-3e70-4ac0-aae7-c0e8f221ff27/\", \"task_id\": \"5929adfb-3e70-4ac0-aae7-c0e8f221ff27\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:04 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="4gS9pbKPR3vH7dwGA92r5U9RQ4coUrpgVMJyAEg", oauth_signature="%2Be7UjCZYGgamy3WVwgf8vp61RFU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185864", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/6cabc4d6-c8b9-47e0-9ed4-bcb9efecbee3/\", \"task_id\": \"6cabc4d6-c8b9-47e0-9ed4-bcb9efecbee3\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:05 GMT
[...]
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="3aWUhvrPoJivdHEKuuvWAbaz3LToI2wrPj4oTs1YfQ", oauth_signature="fXTZ%2FBVpa8yXyummS0tJ6nqKRZQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185865", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 15 May 2014 20:31:05 GMT
recorded_with: VCR 2.9.0
