--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="sd3n5iFdekCi2CyVRQdRIp0bBNNtCbf5P8DZG63chgE", oauth_signature="QK3HKHeATYXG6TpkVaE%2BC8APqNQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185859", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/b3f98ef0-ab54-4ba9-ab0b-11a5a4785fae/\", \"task_id\": \"b3f98ef0-ab54-4ba9-ab0b-11a5a4785fae\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 15 May 2014 20:31:00 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/b3f98ef0-ab54-4ba9-ab0b-11a5a4785fae/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="wshzMBfkuPXmxp2s0d9HNI6zMoX38K4dqU8S2xhX8", oauth_signature="pAE9pwx0d18PHbcK7h3LamyvhvA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185860", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.sync_with_auto_publish\", \"_href\": \"/pulp/api/v2/tasks/b3f98ef0-ab54-4ba9-ab0b-11a5a4785fae/\", \"task_id\": \"b3f98ef0-ab54-4ba9-ab0b-11a5a4785fae\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:00Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"yum_importer\": {\"content\": {\"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"state\": \"NOT_STARTED\", \"size_left\": 0, \"details\": {\"rpm_total\": 0, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537524043c307ec505e8611d\"}, \"id\": \"5375240486d9a9321e2b92db\"}"
  recorded_at: Thu, 15 May 2014 20:31:00 GMT
[...]
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/b29dadcb-3458-4166-82c3-d9946128ed6b/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="r69PgIX4NXqQOGOSEHnUKPp5o0S8M692Jdo4Htzr8A", oauth_signature="nMzdtLdAcVnJulVOTplwBw%2FJIVw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185861", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/b29dadcb-3458-4166-82c3-d9946128ed6b/\", \"task_id\": \"b29dadcb-3458-4166-82c3-d9946128ed6b\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:31:01Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:01Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@centos.installer\", \"state\": \"finished\", \"result\": {\"exception\": null, \"repo_id\": \"1\", \"started\": \"2014-05-15T21:31:01+01:00\", \"_ns\": \"repo_publish_results\", \"completed\": \"2014-05-15T21:31:01+01:00\", \"traceback\": null, \"distributor_type_id\": \"nodes_http_distributor\", \"summary\": \"succeeded\", \"error_message\": null, \"details\": {\"unit_count\": 14}, \"distributor_id\": \"1_nodes\", \"id\": \"5375240586d9a932edcb26ea\", \"result\": \"success\"}, \"error\": null, \"_id\": {\"$oid\": \"537524043c307ec505e8611e\"}, \"id\": \"5375240486d9a932edcb26e8\"}"
  recorded_at: Thu, 15 May 2014 20:31:01 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/8b21d1f3-64cd-482d-b142-8bda2fc101fd/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="o1z6GlzLxdlveP9KmxgZxPYq91NaehvfWdurc3HOOKU", oauth_signature="3e0qKJKJ819N4qW83XF3XNznCHg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185861", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/8b21d1f3-64cd-482d-b142-8bda2fc101fd/\", \"task_id\": \"8b21d1f3-64cd-482d-b142-8bda2fc101fd\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2014-05-15T20:31:01Z\", \"_ns\": \"task_status\", \"start_time\": \"2014-05-15T20:31:01Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 0, \"description\": \"\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"publish_repo_metadata\", \"num_processed\": 0}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"distribution\", \"num_processed\": 1}, {\"num_success\": 8, \"description\": \"Publishing RPMs\", \"items_total\": 8, \"state\": \"FINISHED\", \"error_details\": [], \"num_failures\": 0, \"step_id\": \"rpms\", \"num_processed\": 8}, {\"num_success\": 0, \"description\": \"Publishing Delta RPMs\", \"items_total\": 0, [...]
[...]
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"496c2789-e10f-4c65-8cfd-dc7adcff1529\",\"5a8d9788-6a7d-4ac7-a88e-60715b379376\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="lKOFd9fji7gBG475czkFokDRgK21OxzKCGAO29oBCaQ", oauth_signature="8Pjzb1JIFzL1ab6uTge4I428%2F8I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185863", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"repository_memberships\": [\"1\"], \"_href\": \"/pulp/api/v2/content/units/erratum/496c2789-e10f-4c65-8cfd-dc7adcff1529/\", \"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"Empty errata\", \"children\": {}, \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"_last_updated\": \"2014-05-15T20:31:00Z\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"496c2789-e10f-4c65-8cfd-dc7adcff1529\"}, {\"repository_memberships\": [\"1\"], \"_href\": \"/pulp/api/v2/content/units/erratum/5a8d9788-6a7d-4ac7-a88e-60715b379376/\", \"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0002\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"One package errata\", \"children\": {}, \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"elephant\", \"sum\": null, \"filename\": \"elephant-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One package errata\", \"_last_updated\": \"2014-05-15T20:31:00Z\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"5a8d9788-6a7d-4ac7-a88e-60715b379376\"}]"
  recorded_at: Thu, 15 May 2014 20:31:03 GMT
[...]
- request:
    method: post
    uri: https://katello-pulp.example.com/pulp/api/v2/repositories/
    body:
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="kaK0pxLbU5wsRA7Mfk3fZzTHg4182R2dhFv1Il8yg", oauth_signature="Q7kRkwj5iC4Tca1JcBfyAQY9HSs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437409875", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "1"
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"last_unit_added\": null, \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"last_unit_removed\": null, \"content_unit_counts\": {}, \"_ns\": \"repos\", \"_id\": {\"$oid\": \"55ad225386bbe52d21e57bd7\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 20 Jul 2015 16:31:15 GMT
- request:
    method: post
    uri: https://katello-pulp.example.com/pulp/api/v2/repositories/1/actions/sync/
    body:
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4,\"validate\":true}}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="l4nVB3D2FN1YrvLuzallrJO4fmVvsX8emvPNu7q2aZI", oauth_signature="C0iL91xExptzmTanG5cnjEmbdT0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437409875", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/b470a23c-d135-4891-a89e-0e2b667d00fb/\", \"task_id\": \"b470a23c-d135-4891-a89e-0e2b667d00fb\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 20 Jul 2015 16:31:15 GMT
- request:
    method: get
    uri: https://katello-pulp.example.com/pulp/api/v2/tasks/b470a23c-d135-4891-a89e-0e2b667d00fb/
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="aMRkCGbwmmvrfgLb2Z222wHWO37Tt3NvEiimxJjg", oauth_signature="YyTbxkhXmCf%2F%2BbEBrGLunSx2wa8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437409875", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.sync.sync\", \"_href\": \"/pulp/api/v2/tasks/b470a23c-d135-4891-a89e-0e2b667d00fb/\", \"task_id\": \"b470a23c-d135-4891-a89e-0e2b667d00fb\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"finish_time\": null, \"start_time\": null, \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@katello-pulp.example.com.dq\", \"state\": \"waiting\", \"worker_name\": \"reserved_resource_worker-1@katello-pulp.example.com\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"55ad22538703361f3e0477b9\"}, \"id\": \"55ad225386bbe51fa3cba72a\"}"
  recorded_at: Mon, 20 Jul 2015 16:31:15 GMT
[...]
- request:
    method: get
    uri: https://katello-pulp.example.com/pulp/api/v2/tasks/9f574dbf-e6aa-45b4-9ead-fc56ae0514f5/
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="25jIkijM0QiJFciMV1Lc6D8wfMB8XJjaxlqW2q0BwoA", oauth_signature="RwzXh9dboQWMQkohLBDI9lBpVao%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437409876", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/9f574dbf-e6aa-45b4-9ead-fc56ae0514f5/\", \"task_id\": \"9f574dbf-e6aa-45b4-9ead-fc56ae0514f5\", \"tags\": [\"pulp:repository:1\", \"pulp:action:publish\"], \"finish_time\": \"2015-07-20T16:31:16Z\", \"_ns\": \"task_status\", \"start_time\": \"2015-07-20T16:31:16Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"1\": [{\"num_success\": 1, \"description\": \"Initializing repo metadata\", \"step_type\": \"initialize_repo_metadata\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"details\": \"\", \"num_failures\": 0, \"step_id\": \"9a8dd820-977a-4c70-a186-b0427a2504a8\", \"num_processed\": 1}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"step_type\": \"distribution\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"details\": \"\", \"num_failures\": 0, \"step_id\": \"da377d00-cbb2-441a-b129-6100e91bd89f\", \"num_processe[...]
- request:
    method: get
    uri: https://katello-pulp.example.com/pulp/api/v2/repositories/1/?details=true
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="Fi5lCV7AtbsN7EZeRCVlZVDKwGWOZUwEw9Rn8Fzs8", oauth_signature="mmJ1M7QqIi7fch4DZ%2FavK%2BWntfY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437409876", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"scratchpad\": {\"checksum_type\": \"sha256\"}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2015-07-20T16:31:16Z\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"55ad225386bbe52d21e57bdb\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"55ad225386bbe52d21e57bda\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2015-07-20T16:31:16Z\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"55ad225386bbe52d21e57bd9\"}, \"config\": {\"checksum_type\": \"sha256\", \"protected\": true, \"http\": false, \"https\": true, \"relative_url\": \"/test_path/\"}, \"id\": \"1\"}], \"last_unit_added\": \"2015-07-20T16:31:15Z\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"last_unit_removed\": null, \"content_unit_counts\": {\"package_group\": 2, \"distribution\": 1, \"package_category\": 1, \"rpm\": 8, \"erratum\": 3}, \"_ns\": \"repos\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2015-07-20T16:31:15Z\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"55ad225386bbe52d21e57bd8\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"55ad225386bbe52d21e57bd7\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 20 Jul 2015 16:31:16 GMT
- request:
    method: post
    uri: https://katello-pulp.example.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body:
      encoding: US-ASCII
      string: "{\"repo_id\":\"1\",\"distributor_id\":\"1\",\"notify_agent\":false}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="t5c3ral09ziZXlTGnUIreLwonDdCMA6XeROoYk2iHA", oauth_signature="DMiJoCW7WhosbMUlExGZeZhetFU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437409876", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [], \"result\": {\"notify_agent\": false, \"repo_id\": \"1\", \"deleted\": false, \"_ns\": \"consumer_bindings\", \"distributor_id\": \"1\", \"consumer_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"consumer_actions\": [], \"binding_config\": {}, \"_id\": {\"$oid\": \"55ad225486bbe52d21e57bec\"}, \"id\": \"55ad225486bbe52d21e57bec\"}, \"error\": null}"
  recorded_at: Mon, 20 Jul 2015 16:31:16 GMT
- request:
    method: post
    uri: https://katello-pulp.example.com/pulp/api/v2/repositories/1/search/units/
    body:
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="WJWEo86lH0e3nmRlflYEFBEQhtiasR1HIh2ixcpbQ", oauth_signature="oiLBagU5PqH2BNCSWMReWijD3b8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437409876", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "[{\"metadata\": {\"_id\": \"26ce8610-6a62-42d3-9e52-88de276e174d\", \"_content_type_id\": \"erratum\"}, \"_id\": {\"$oid\": \"55ad225386bbe51f4ab13800\"}, \"unit_id\": \"26ce8610-6a62-42d3-9e52-88de276e174d\", \"unit_type_id\": \"erratum\"}, {\"metadata\": {\"_id\": \"dec37582-628d-482f-a04e-40d5b82be0c1\", \"_content_type_id\": \"erratum\"}, \"_id\": {\"$oid\": \"55ad225386bbe51f4ab13802\"}, \"unit_id\": \"dec37582-628d-482f-a04e-40d5b82be0c1\", \"unit_type_id\": \"erratum\"}, {\"metadata\": {\"_id\": \"4c40a5fa-5984-470a-95e6-f08a4898cec9\", \"_content_type_id\": \"erratum\"}, \"_id\": {\"$oid\": \"55ad225386bbe51f4ab13801\"}, \"unit_id\": \"4c40a5fa-5984-470a-95e6-f08a4898cec9\", \"unit_type_id\": \"erratum\"}]"
  recorded_at: Mon, 20 Jul 2015 16:31:16 GMT
- request:
    method: post
    uri: https://katello-pulp.example.com/pulp/api/v2/content/units/erratum/search/
    body:
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"26ce8610-6a62-42d3-9e52-88de276e174d\",\"dec37582-628d-482f-a04e-40d5b82be0c1\",\"4c40a5fa-5984-470a-95e6-f08a4898cec9\"]}}},\"include_repos\":true}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBw[...]
[...]
- request:
    method: delete
    uri: https://katello-pulp.example.com/pulp/api/v2/repositories/1/
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="FkTPDSvZS7JXcSwVn3RbBvY7VGsvizPK", oauth_nonce="w1ZJdLIINNx8UP2fksiS0g5YJZdAvdxIcastdnJrjk", oauth_signature="oYHaRvk9Hl3MD6zcFE6Fh4BS%2Fz4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1437409877", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/72cbd00e-7fd2-4963-a19d-ec7ea7480a86/\", \"task_id\": \"72cbd00e-7fd2-4963-a19d-ec7ea7480a86\"}], \"result\": null, \"error\": null}"
  recorded_at: Mon, 20 Jul 2015 16:31:17 GMT
[...]
- request:
    method: get
    uri: https://katello-distributions2.example.com/pulp/api/v2/tasks/390c0f62-5196-47fc-8e0c-1210b6247fc2/
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="Wg7wXPrPSP9QNZ2iLlGML7XeRbA4enlTTrfVPhZil4", oauth_signature="nePTCH2FGbeoU4gVcgSCoZFeFKA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439409622", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.sync.sync\", \"_href\": \"/pulp/api/v2/tasks/390c0f62-5196-47fc-8e0c-1210b6247fc2/\", \"task_id\": \"390c0f62-5196-47fc-8e0c-1210b6247fc2\", \"tags\": [\"pulp:repository:Fedora_17\", \"pulp:action:sync\"], \"finish_time\": null, \"start_time\": null, \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@katello-distributions2.example.com.dq\", \"state\": \"waiting\", \"worker_name\": \"reserved_resource_worker-1@katello-distributions2.example.com\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"55cba5d68627eee487c93117\"}, \"id\": \"55cba5d6db0c2164b3d59212\"}"
  recorded_at: Wed, 12 Aug 2015 20:00:22 GMT
[...]
- request:
    method: get
    uri: https://katello-distributions2.example.com/pulp/api/v2/tasks/ba6ddd67-f434-4d2a-a2ae-c6a5ebf9313e/
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="wIn7E1LAtLaKTnTpjDQ0r5sgFNuaGxw7LVrgCfDu4", oauth_signature="grAQXJvoms977GjEuF52yrdW1FI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439409623", oauth_version="1.0"
      Pulp-User:
      - admin
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.managers.repo.publish.publish\", \"_href\": \"/pulp/api/v2/tasks/ba6ddd67-f434-4d2a-a2ae-c6a5ebf9313e/\", \"task_id\": \"ba6ddd67-f434-4d2a-a2ae-c6a5ebf9313e\", \"tags\": [\"pulp:repository:Fedora_17\", \"pulp:action:publish\"], \"finish_time\": null, \"_ns\": \"task_status\", \"start_time\": \"2015-08-12T20:00:23Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {\"Fedora_17\": [{\"num_success\": 1, \"description\": \"Initializing repo metadata\", \"step_type\": \"initialize_repo_metadata\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"details\": \"\", \"num_failures\": 0, \"step_id\": \"ff350319-16e2-4e92-9c21-2e0b917ab0d5\", \"num_processed\": 1}, {\"num_success\": 1, \"description\": \"Publishing Distribution files\", \"step_type\": \"distribution\", \"items_total\": 1, \"state\": \"FINISHED\", \"error_details\": [], \"details\": \"\", \"nu[...]
[...]
- request: 
    method: post
    uri: https://katello-distributions2.example.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"Fedora_17\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"dis[...]
- request: 
    method: post
    uri: https://katello-distributions2.example.com/pulp/api/v2/repositories/Fedora_17/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4,\"validate\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="Ww2xLA62kjuK6qTegHop5ec6xWkOXa3ZwEtSPzQP4s", oauth_signature="MMaDL%2BMJvcmH%2FhgRXoOcB4P1W%2B4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439926972", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/a55c94ad-bdaa-4bf6-b113-e08376b7fdd8/\", \"task_id\": \"a55c94ad-bdaa-4bf6-b113-e08376b7fdd8\"}], \"result\": null, \"error\": null}"
  recorded_at: Tue, 18 Aug 2015 19:42:52 GMT
[...]
- request: 
    method: post
    uri: https://katello-distributions2.example.com/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="zhhV5AhPct1NG0fEJ1OVx8Y9XlpWMBhYno1vc8UQ", oauth_signature="VlVjTiTNRSrNERUSp6FPgW8wZb4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439926974", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location:
      - /pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"consumer\": {\"display_name\": \"Simple Server\", \"description\": null, \"_ns\": \"consumers\", \"notes\": {}, \"rsa_pub\": null, \"capabilities\": {}, \"_id\": {\"$oid\": \"55d38abedb0c21042893e30d\"}, \"id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\", \"_href\": {\"_href\": \"/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/\"}}, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXQIBAAKBgQCYrXAbfuE3AuNMhSV2UVmIM3qeqehibYVQZTBsWWmO6q9ytxmu\\nvl0qPG17KYzYcehn8aTWwaCCIJMjVbRRpFV6hgyoPzDHIjFjlmMUHA3fVlvsztmn\\nxybFh3nHYA1lMYQ58UxVuIMnJu89dcDV/moTl6R6t+X0IrdfckcvQ55xHQIDAQAB\\nAoGBAJFMrd5c97TE2NCf/jEF5nEKnO2WwYO6ux7xzg2vYhgTHPnNa3Gz1TI24/JM\\nbrAmZ4lUnQ2MpFZy7dS44ay4+mbyDSVbFGwe5LN1rWQZguZhzJ/Pm4ugkRe4Kn4V\\nwuTZ9BDMBRJMX7bLS2qIsAjfM7BnfXy0EGLDNAktoxODLZlBAkEAx/KnqEUoyaWj\\nn7GAyc3XASiyOLxEPz6qS7AnDJQ2cgAj6m8VtP627XCxticniFJ8bwPBJ8EIK[...]
- request: 
    method: get
    uri: https://katello-distributions2.example.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="AKcw992P36sghrwPzQFA7jRGUqQPiKmj", oauth_nonce="oLRtwT3Fj6wIToEnFNTJ7LrlauIlUalA1pSYTivHM", oauth_signature="dMv0apYhBYkQzYpAiAuCxfI1%2B%2B8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1439926974", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 18 Aug 2015 19:42:54 GMT
- request: 
    method: get
    uri: https://katello-distributions2.example.com/pulp/api/v2/repositories/Fedora_17/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
[...]
