--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed\":\"file:///var/www/test_repos/zoo\"},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"1\"},{\"distributor_type\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"1\"},\"auto_publish\":false,\"distributor_id\":\"1_clone\"},{\"distributor_type\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"1_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="cbngBWggNSjcasbqTMZWQV2Wfnc2FuM8GuAaeAuvHQI", oauth_signature="MwCRqqgvPXnbEZU9K%2FQF0acmxO4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081442", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"52331ce25ca01344d0c7090f\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 13 Sep 2013 14:10:42 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="33Xe9wRf1BdjnTcQvfAjmsQ2GVd3ccsKhAhTfPjSOY", oauth_signature="i6vcZTx9U%2BSWzJdZj0Zvn06BxME%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081442", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"eb7ed190-fa16-4949-9a52-dc5c32f8af00\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/eb7ed190-fa16-4949-9a52-dc5c32f8af00/\", \"task_id\": \"82ab1d49-e0fe-4afc-b956-5407de8876f1\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"eb7ed190-fa16-4949-9a52-dc5c32f8af00\", \"call_request_id\": \"82ab1d49-e0fe-4afc-b956-5407de8876f1\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}, {\"task_group_id\": \"eb7ed190-fa16-4949-9a52-dc5c32f8af00\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/eb7ed190-fa16-4949-9a52-dc5c32f8af00/\", \"task_id\": \"a8f2db30-bf68-455d-bfdf-1adeba7483f8\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:auto_publish\", \"pulp:action:publish\"], \"state\": \"waiting\"[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/tasks/82ab1d49-e0fe-4afc-b956-5407de8876f1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="NiN00zX5IZzz0xydTRQuZixiB4NbTKz9QzpbE1aNOPA", oauth_signature="KElN7geYQkuKwOTUmFaIUcTkMe0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081442", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": \"eb7ed190-fa16-4949-9a52-dc5c32f8af00\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/82ab1d49-e0fe-4afc-b956-5407de8876f1/\", \"task_id\": \"82ab1d49-e0fe-4afc-b956-5407de8876f1\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2013-09-13T14:10:42Z\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"running\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {\"yum_importer\": {\"content\": {\"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"rpm_total\": 8, \"rpm_done\": 0, \"drpm_total\": 0, \"drpm_done\": 0}, \"error_details\": []}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"distribution\": {\"items_total\": 0, \"state\": \"NOT_STARTED\", \"error_details\": [], \"items_left\": 0}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"call_request_group_id\": \"eb7ed190-fa16-4949-9a52-dc5c32f8af00\", \"call_request_id\": \"82ab1d49-e0fe-4afc-b956-5407de8876f1\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 13 Sep 2013 14:10:42 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"010E99C0-3276-11E2-81C1-0800200C9A66\",\"display_name\":\"Simple Server\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="5VpzCYTWNZ4aMvb4d4CeWeILgrYPlxSqrl4TPDvWU", oauth_signature="UUO52P7vGNip4iCL5N7aLfuKxLY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081459", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "{'_href': u'/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/'}"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"display_name\": \"Simple Server\", \"description\": null, \"certificate\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXQIBAAKBgQDAMYnb3RgX1Oi6XhRMSd0+OCrw2GkjFBSvn7S8bk1epjAcQWI3\\nsci+/pqC+Ej2cKzx7ItcQyqRQYCGoBXOsrACe58D2p+zxXVxAlQx7A+QMd6EjKRc\\nIQh79JTFYwuHS6Ow/9M+ARSDrPusopBTyxPo3/Z98GBUgts1+g2ZFiH07wIDAQAB\\nAoGAKsEabNmjSXHoj8Tr+QiZegTesJND2DTYYTVC7IQRHBQWMcLtyXv4L1zOHIKF\\nIKVyI6M+YTjj2EpdABXOpBumAZQw/qT+rTkPBlH4YtR6aEtUT1qZ80m7YOGU0+Pl\\nlAleWHEYwBVZIUDt0cmyGWW87kTvHMMlxUVIt5h1Tj0RFOECQQD1m3G1L6rxs77/\\nFyeX5O3Y/vIiVIKuwOLMUzr16x+3CEsgz5crmFw1qmxyc1yIvBfxDfLUPMiSj[...]
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="NIoejINAFE2uM5JozFV1UJfK3zyDEdfXith3l0Nfo8", oauth_signature="txc%2BOf5UX%2BlZl0EIsmmmaoNBwyQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081459", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Fri, 13 Sep 2013 14:10:59 GMT
- request: 
    method: get
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6wuje2Z3GD5anKADpbRTlaBtm8IbZ2IgDoipr98qwc", oauth_signature="0%2BvhrUfMvqcIY6XJJQU6%2BfAejyU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081459", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {\"package_group\": 2, \"distribution\": 1, \"package_category\": 1, \"rpm\": 8, \"erratum\": 3}, \"_id\": {\"$oid\": \"52331ce25ca01344d0c7090f\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\", \"importers\": [{\"repo_id\": \"1\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": \"2013-09-13T10:10:43-04:00\", \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"52331ce25ca01344d0c70910\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"distributors\": [{\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2013-09-13T10:10:44-04:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"52331ce25ca01344d0c70913\"}, \"config\": {}, \"id\": \"1_nodes\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"52331ce25ca01344d0c70912\"}, \"config\": {\"destination_distributor_id\": \"1\"}, \"id\": \"1_clone\"}, {\"repo_id\": \"1\", \"_ns\": \"repo_distributors\", \"last_publish\": \"2013-09-13T10:10:44-04:00\", \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"52331ce25ca01344d0c70911\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"1\"}]}"
  recorded_at: Fri, 13 Sep 2013 14:10:59 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/bindings//
    body: 
      encoding: US-ASCII
      string: "{\"repo_id\":\"1\",\"distributor_id\":\"1\",\"notify_agent\":false}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="MlO6mMQTSUYJoKiB40qywpybZKUmUATHeWNCiCTyUNE", oauth_signature="WeUBbVqtiETTbNfbx0Wl0TGaFSM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081459", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
     [...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/install//
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"cheetah\"}}],\"options\":{\"importkeys\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="gNMBtfSc39HivtD0rDpxF9iwsenCHNEf8iFvXxf5A", oauth_signature="Bl%2B0qr46So641q3KIdbbCw%2FzAcI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081460", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/58ed0414-47c0-4d32-b618-b7a0495cccf7/\", \"task_id\": \"58ed0414-47c0-4d32-b618-b7a0495cccf7\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_install\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"58ed0414-47c0-4d32-b618-b7a0495cccf7\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 13 Sep 2013 14:11:00 GMT
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/uninstall//
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"cheetah\"}}],\"options\":{}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="qr7zA07C1Nh[...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/search/units/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"type_ids\":[\"erratum\"],\"fields\":{\"unit\":[],\"association\":[\"unit_id\"]}}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Egy7IivxxVd6eop2Z4W7DTkuKeGAraCksM3OB0dLw", oauth_signature="H7YOUOMizEdW1m2VCFbi52ZBK%2BU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081492", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"_id\": {\"$oid\": \"52331ce35ca01344d0c70934\"}, \"unit_id\": \"365ad9e6-9f34-4234-a7e2-fc724c1be28b\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"365ad9e6-9f34-4234-a7e2-fc724c1be28b\"}}, {\"_id\": {\"$oid\": \"52331ce35ca01344d0c70935\"}, \"unit_id\": \"b3a98974-b6d0-4087-9002-b4fa30aa59ab\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"b3a98974-b6d0-4087-9002-b4fa30aa59ab\"}}, {\"_id\": {\"$oid\": \"52331ce35ca01344d0c70936\"}, \"unit_id\": \"2a048196-da36-4fec-9d92-0051f387c006\", \"unit_type_id\": \"erratum\", \"metadata\": {\"_id\": \"2a048196-da36-4fec-9d92-0051f387c006\"}}]"
  recorded_at: Fri, 13 Sep 2013 14:11:32 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/content/units/erratum/search/
    body: 
      encoding: US-ASCII
      string: "{\"criteria\":{\"filters\":{\"_id\":{\"$in\":[\"365ad9e6-9f34-4234-a7e2-fc724c1be28b\",\"b3a98974-b6d0-4087-9002-b4fa30aa59ab\",\"2a048196-da36-4fec-9d92-0051f387c006\"]}}},\"include_repos\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="t5Hp36L4VROpF4CPnhdwIVqHVdxkj8necqbal2UPsM", oauth_signature="330PkM9cGG9ySag8YQ40AKD3YV8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081492", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"issued\": \"2010-02-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0003\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"One monkey package errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"bugfix\", \"pkglist\": [{\"packages\": [{\"src\": \"http://www.fedoraproject.org\", \"name\": \"monkey\", \"sum\": null, \"filename\": \"monkey-0.3-0.8.noarch.rpm\", \"epoch\": null, \"version\": \"0.3\", \"release\": \"0.8\", \"arch\": \"noarch\"}], \"name\": \"1\", \"short\": \"\"}], \"status\": \"stable\", \"updated\": \"\", \"description\": \"One monkey package errata\", \"pushcount\": \"\", \"_storage_path\": null, \"rights\": \"\", \"solution\": \"\", \"summary\": \"\", \"release\": \"1\", \"_id\": \"2a048196-da36-4fec-9d92-0051f387c006\", \"_href\": \"/pulp/api/v2/content/units/erratum/2a048196-da36-4fec-9d92-0051f387c006/\", \"children\": {}, \"repository_memberships\": [\"1\", \"test_scenario_org-publish_test_product-publish_test_repo\"]}, {\"issued\": \"2010-01-01 01:01:01\", \"references\": [], \"_content_type_id\": \"erratum\", \"id\": \"RHEA-2010:0001\", \"from\": \"lzap+pub@redhat.com\", \"severity\": \"\", \"title\": \"Empty errata\", \"version\": \"1\", \"reboot_suggested\": false, \"type\": \"security\", \"pkglist\": [], \"status\": \"stable\", \"updated\": \"\", \"description\": \"Empty errata\", \"pushcount\": \"\", \"_storage_path\": null, \"rights[...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/update//
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{\"name\":\"cheetah\"}}],\"options\":{\"importkeys\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_no[...]
[...]
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/actions/content/update//
    body: 
      encoding: US-ASCII
      string: "{\"units\":[{\"type_id\":\"rpm\",\"unit_key\":{}}],\"options\":{\"importkeys\":true,\"all\":true}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="cnmzU5ccXEtuw1Osg5zovpsJZtO0oK2fqR0Sa5VG0", oauth_signature="SQ7P0xNPq0ljUARg40zpU8Xq6fo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081606", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/dd668b17-2a9c-4647-af8b-d6fd3fc33221/\", \"task_id\": \"dd668b17-2a9c-4647-af8b-d6fd3fc33221\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_update\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:unit_update\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"dd668b17-2a9c-4647-af8b-d6fd3fc33221\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}"
  recorded_at: Fri, 13 Sep 2013 14:13:27 GMT
[...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="4xEwzR7L2s2cR0dC2Vuqi4FzvXQzR31mOg2qhsbvuHE", oauth_signature="TUGnOi0NBb7oIS7s9FgXyPoQhwA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081639", oauth_version="1.0"
      Pulp-User: 
      - [...]
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/consumers/010E99C0-3276-11E2-81C1-0800200C9A66/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="rUFipsaaXsHWeFAxD6GwOCmuzJ68HlwKOZDqcYwpjtU", oauth_signature="X%2Fx%2BkZADYRrGLzF9N%2BvqNaujiXs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081639", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"task_group_id\": null, \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/tasks/16394559-6ae5-4595-a4f3-a2c64730d179/\", \"task_id\": \"16394559-6ae5-4595-a4f3-a2c64730d179\", \"call_request_tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:delete\"], \"reasons\": [{\"operation\": \"read\", \"resource_type\": \"consumer\", \"resource_id\": \"010E99C0-3276-11E2-81C1-0800200C9A66\"}], \"start_time\": null, \"tags\": [\"pulp:consumer:010E99C0-3276-11E2-81C1-0800200C9A66\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": null, \"call_request_id\": \"16394559-6ae5-4595-a4f3-a2c64730d179\", \"principal_login\": \"admin\", \"response\": \"postponed\", \"result\": null}"
  recorded_at: Fri, 13 Sep 2013 14:13:59 GMT
recorded_with: VCR 2.5.0
