--- 
http_interactions: 
- request: 
    method: get
    uri: https://box.devel.com/pulp/api/v2/users/user_id/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="Q2E2UN5asXZtZnnmQi5VtH4gujfUa4Hp", oauth_nonce="5I0u8ejv6xFSDmcWCxbregqi4a2YuZ1wNg1npYir6S4", oauth_signature="h6UHk%2B40%2FAKiBhrvGHrbBlofteE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1425433824", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"GET\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=user_id\", \"_href\": \"/pulp/api/v2/users/user_id/\", \"http_status\": 404, \"error\": {\"code\": \"PLP0009\", \"data\": {\"resources\": {\"resource_id\": \"user_id\"}}, \"description\": \"Missing resource(s): resource_id=user_id\", \"sub_errors\": []}, \"traceback\": null, \"resources\": {\"resource_id\": \"user_id\"}}"
  recorded_at: Wed, 04 Mar 2015 01:50:24 GMT
- request: 
    method: post
    uri: https://box.devel.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"user_id\",\"name\":\"user_id\",\"password\":\"N4LztEoRKjveIUbQ\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="Q2E2UN5asXZtZnnmQi5VtH4gujfUa4Hp", oauth_nonce="P7HmfPmfYZRASg5R0vBbjfLdVJaWOzzecbTjjL18Ew", oauth_signature="wYx19aF7jaOuPpcv%2BFW2jDEBa%2FY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1425433824", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - user_id
      Content-Type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"_id\": {\"$oid\": \"54f664e0470787058dd22747\"}, \"name\": \"user_id\", \"roles\": [], \"_ns\": \"users\", \"login\": \"user_id\", \"id\": \"54f664e0470787058dd22747\", \"_href\": \"/pulp/api/v2/users/user_id/\"}"
  recorded_at: Wed, 04 Mar 2015 01:50:24 GMT
- request: 
    method: post
    uri: https://box.devel.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"user_id\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="Q2E2UN5asXZtZnnmQi5VtH4gujfUa4Hp", oauth_nonce="iNxdpipWw6ad6hDBKdGZV64EcfQ4LnRJLZQZzMo", oauth_signature="NfeB7JUC9hf6pw2cPHpVb2t0tn0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1425433824", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "null"
  recorded_at: Wed, 04 Mar 2015 01:50:24 GMT
- request: 
    method: delete
    uri: https://box.devel.com/pulp/api/v2/users/user_id/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="Q2E2UN5asXZtZnnmQi5VtH4gujfUa4Hp", oauth_nonce="kQNwFlom166ZgSXWMdTZ9haoHOHLWB3WB9ONv7XUlQ", oauth_signature="02vOL5PNHjXaJpS6CHTEPdsFmOA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1425433824", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "null"
  recorded_at: Wed, 04 Mar 2015 01:50:24 GMT
recorded_with: VCR 2.9.3
