--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"user_id\",\"name\":\"user_id\",\"password\":\"L2XL1t1iVxlYLlfj\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="foFVq4kqUIpBsVuqy4h2OjrWqANljfWGSqvkLXC04c", oauth_signature="tFqqvRmJ4EDPNJYcK7LZTG8JW6k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185680", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - user_id
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"5375235086d9a9321c14a5ce\"}, \"name\": \"user_id\", \"roles\": [], \"_ns\": \"users\", \"login\": \"user_id\", \"id\": \"5375235086d9a9321c14a5ce\", \"_href\": \"/pulp/api/v2/users/user_id/\"}"
  recorded_at: Thu, 15 May 2014 20:28:00 GMT
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/roles/super-users/users/user_id/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="SfkLFtal221sPG3gLiDToYzCtiK8etL4IePrFxmwZE", oauth_signature="tz2MDigGxOXH9WF55qaVNAgVeto%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185680", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 15 May 2014 20:28:01 GMT
- request: 
    method: delete
    uri: https://centos.installer/pulp/api/v2/users/user_id/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="L0izxLFyUZ1w5R9kyujtuD36wokvJcUWNDAVjA48Y", oauth_signature="%2BtHPQ%2FN25eaQWoetXwwoLrhP%2B2s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400185681", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Thu, 15 May 2014 20:28:01 GMT
recorded_with: VCR 2.9.0
