%ul
  %li
    .slide_link{:id=>packages_cs_bc_id(changeset, product)}
      %span #{_("Packages")}

  %li
    .slide_link
      %span #{_("Errata")}

  %li
    .slide_link
      %span #{_("Repositories")}