= stylesheet 'widgets/path_selector'

.grid_16
  = environment_selector(:library_clickable=>false, :accessible_envs=>accessible_envs)

.grid_16
  = two_panel(@changesets, @panel_options)

= javascript :changesets
