--- 
http_interactions: 
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"distributors\":[{\"distributor_id\":\"1\",\"auto_publish\":false,\"distributor_config\":{\"protected\":true,\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true},\"distributor_type\":\"yum_distributor\"}],\"importer_type_id\":\"yum_importer\",\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_config\":{\"ssl_client_key\":null,\"ssl_ca_cert\":null,\"feed_url\":\"file:///home/paji/katello/katello/src/test/fixtures/zoo5\",\"ssl_client_cert\":null}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="PcbSmt9fslk6ZvWncRCua1XgLr6zeIoxlbLJpQxaGY", oauth_signature="JnchEfaa1ANnOtJTNKk9tdHOo8Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179677", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50f42d5d196cbe47d7001697\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 14 Jan 2013 16:07:57 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="izXpT5JfyqFNuLIp71xuFGLGTujwLMgaVCqxCRc31AU", oauth_signature="swAQNJgPiwtZ4LTPWBuHTfbuZwg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179678", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"3cfb1b89-2a81-4de8-9bd4-6d9f50081e30\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/3cfb1b89-2a81-4de8-9bd4-6d9f50081e30/\", \"task_id\": \"9a6e2cf9-474e-4211-a9e9-17c77fcfea9b\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"3cfb1b89-2a81-4de8-9bd4-6d9f50081e30\", \"call_request_id\": \"9a6e2cf9-474e-4211-a9e9-17c77fcfea9b\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 14 Jan 2013 16:07:58 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="GgNNAj7OnSbWbaXewf8vvNj4xLnJcz4b37SzZRu5s3s", oauth_signature="VckCXxxMpn%2BZDVaa7vi5kWQhaxs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358179681", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"b0e20239-f23f-4edd-9fab-845f042aee16\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/b0e20239-f23f-4edd-9fab-845f042aee16/\", \"task_id\": \"ae3b5a45-abbf-45a7-adcc-5444e1c39f2c\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"b0e20239-f23f-4edd-9fab-845f042aee16\", \"call_request_id\": \"ae3b5a45-abbf-45a7-adcc-5444e1c39f2c\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Mon, 14 Jan 2013 16:08:01 GMT
recorded_with: VCR 2.4.0
