--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"importer_config\":{\"ssl_client_key\":null,\"ssl_ca_cert\":null,\"feed_url\":\"file:///home/paji/katello/katello/src/test/fixtures/zoo5\",\"ssl_client_cert\":null},\"distributors\":[{\"auto_publish\":false,\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"protected\":true,\"https\":true},\"distributor_type\":\"yum_distributor\",\"distributor_id\":\"1\"}],\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\"}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="3IzCoOjXCvs7JgI7Baprkhwa2f1seXd89dogdtrBjM", oauth_signature="lNt6pUzPg%2F4LGwTqFQuUjJO9yIQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493633", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "1"
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"51083a02196cbe0570000cfe\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Tue, 29 Jan 2013 21:07:14 GMT
- request: 
    method: post
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="UPUcc1R8GqGmkMwlyxDs0nSAU2ViuUcGxcbyZkk69c", oauth_signature="N0VRLTN2UBBBr6U4O%2B1m2%2FcR5R0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493634", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"76b42513-2a07-414d-8be9-e2292c2a52b7\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/76b42513-2a07-414d-8be9-e2292c2a52b7/\", \"task_id\": \"61f78666-2a6c-4052-b5fb-a855e2472aa0\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"76b42513-2a07-414d-8be9-e2292c2a52b7\", \"call_request_id\": \"61f78666-2a6c-4052-b5fb-a855e2472aa0\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 29 Jan 2013 21:07:14 GMT
- request: 
    method: delete
    uri: https://kafka.usersys.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="1a1uPzYUYeAAnC63DSQcXCFXH1f7mkQbghgiW0I", oauth_signature="wxiTR6I%2F2o%2FJTeObZazP8Jde9Xk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359493637", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"18c804c9-916f-4dd3-9290-8bcbf6950dc4\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/18c804c9-916f-4dd3-9290-8bcbf6950dc4/\", \"task_id\": \"18b53bff-3d20-4de6-8ec2-ab0246944f18\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"18c804c9-916f-4dd3-9290-8bcbf6950dc4\", \"call_request_id\": \"18b53bff-3d20-4de6-8ec2-ab0246944f18\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Tue, 29 Jan 2013 21:07:17 GMT
