--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"display_name\":\"Fedora 17 x86_64\",\"id\":\"1\",\"distributors\":[{\"auto_publish\":false,\"distributor_config\":{\"relative_url\":\"/test_path/\",\"https\":true,\"protected\":true,\"http\":false},\"distributor_id\":\"1\",\"distributor_type\":\"yum_distributor\"}],\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_key\":null,\"ssl_client_cert\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"},\"importer_type_id\":\"yum_importer\"}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="JV1BWK3TzpZQNhx5AYvunX7RWeIa8RZpG3d8tILs8", oauth_signature="I4ndeEsTbvd0OVVWGBTp2XoxGz8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377475", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50f732039c60ed27ce0034da\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 16 Jan 2013 23:04:35 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Jbi8OeURdUKov6rWJoQSAZVf3PxOIaNMDKrC71LjaE", oauth_signature="i2KrPBmRr4231ixdehoMLmpC3lE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377476", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"2e2201e6-2799-4a6d-a516-8212b78b613b\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/2e2201e6-2799-4a6d-a516-8212b78b613b/\", \"task_id\": \"2e1df57d-db29-4050-965f-29cd5c028701\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"2e2201e6-2799-4a6d-a516-8212b78b613b\", \"call_request_id\": \"2e1df57d-db29-4050-965f-29cd5c028701\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 16 Jan 2013 23:04:36 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="hUjvmP27AEiwAB9tDqL2qjOVS9aTesZVaBAE8bKGqn8", oauth_signature="mKi4m5YRLqGaM9j2JsDfTeZ0AU4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358377479", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"703ee196-101a-49f6-a290-969b24d55e4e\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/703ee196-101a-49f6-a290-969b24d55e4e/\", \"task_id\": \"fa6938bf-f31a-4cd9-97f3-57fca47c8ac5\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"703ee196-101a-49f6-a290-969b24d55e4e\", \"call_request_id\": \"fa6938bf-f31a-4cd9-97f3-57fca47c8ac5\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 16 Jan 2013 23:04:39 GMT
