--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"importer_type_id\":\"yum_importer\",\"display_name\":\"Fedora 17 x86_64\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\",\"ssl_client_cert\":null},\"id\":\"1\",\"distributors\":[{\"auto_publish\":false,\"distributor_config\":{\"relative_url\":\"/test_path/\",\"protected\":true,\"http\":false,\"https\":true},\"distributor_type\":\"yum_distributor\",\"distributor_id\":\"1\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="SY7AaGJvWElJTyWH7jQec9TklFXlUMJN8DAEmrxI", oauth_signature="GnTScCom%2FbuXAIA4AcBDZhUYEKE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954276", oauth_version="1.0"
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50f0bce49c60ed0921004faf\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Sat, 12 Jan 2013 01:31:17 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="yrjVxgKknusDO6FOZ5fhMwWID5xXa1HkYvaukZ82Y", oauth_signature="MTeiaXSIoPEudMh3h21%2B7KrC92E%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954277", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"0ef01b71-3fbe-4458-80ba-744cc975b205\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/0ef01b71-3fbe-4458-80ba-744cc975b205/\", \"task_id\": \"3a468993-3355-4b16-a6d5-929f8eaf2cfd\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"0ef01b71-3fbe-4458-80ba-744cc975b205\", \"call_request_id\": \"3a468993-3355-4b16-a6d5-929f8eaf2cfd\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Sat, 12 Jan 2013 01:31:17 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="L5As0nC2SArSBsTpH98vO1efpcwIegTMzv1GR2P1E", oauth_signature="su7jLXn0i8a9pR8P5a9XvK8dn0M%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357954280", oauth_version="1.0"
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"13d56b70-aecb-4094-b754-9442cf14c69b\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/13d56b70-aecb-4094-b754-9442cf14c69b/\", \"task_id\": \"fe9f5e44-4f9c-4402-89a5-ad7ad315ce91\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"13d56b70-aecb-4094-b754-9442cf14c69b\", \"call_request_id\": \"fe9f5e44-4f9c-4402-89a5-ad7ad315ce91\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Sat, 12 Jan 2013 01:31:20 GMT
