--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      string: "{\"distributors\":[{\"distributor_config\":{\"protected\":true,\"relative_url\":\"/test_path/\",\"https\":true,\"http\":false},\"distributor_type\":\"yum_distributor\",\"auto_publish\":false,\"distributor_id\":\"1\"}],\"display_name\":\"Fedora 17 x86_64\",\"id\":\"1\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\",\"ssl_ca_cert\":null}}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="lZ8JDgYpSU3sPFFE5CGblBav4k3ndDEvqYtwTrQkW0", oauth_signature="qRuQvtaUr1hGAwt2ogDJvWCmUk0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769090", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json
      Location: 
      - "1"
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"50ede9829c60ed2cd3003e67\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Wed, 09 Jan 2013 22:04:51 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="e8mVqfmfXuH2BmSRs4V8NFLr9yyuWH5JVlNmV0VZoo", oauth_signature="Bo3WIYYxHptq9RaQjnMthY5k%2F%2FY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769091", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"8cc722a4-843d-48e6-aa2f-bb23a2e9e88d\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/8cc722a4-843d-48e6-aa2f-bb23a2e9e88d/\", \"task_id\": \"00e47ed1-0423-4d73-b19b-3c75b831d3da\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"8cc722a4-843d-48e6-aa2f-bb23a2e9e88d\", \"call_request_id\": \"00e47ed1-0423-4d73-b19b-3c75b831d3da\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 09 Jan 2013 22:04:51 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="ezJvx0y4U7J3BeidrHdwVLVjs7DfYpObVzxVEX2pJy4", oauth_signature="lpPdZbc8Tgfk80ySAZo1o7MRa6U%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357769094", oauth_version="1.0"
      Content-Type: 
      - application/json
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"6e52db9a-e9a7-4dcf-a84b-6471f5739d55\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/6e52db9a-e9a7-4dcf-a84b-6471f5739d55/\", \"task_id\": \"779b52be-5365-417a-a2b1-a4fd80e81a8a\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"6e52db9a-e9a7-4dcf-a84b-6471f5739d55\", \"call_request_id\": \"779b52be-5365-417a-a2b1-a4fd80e81a8a\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Wed, 09 Jan 2013 22:04:54 GMT
recorded_with: VCR 2.4.0
