--- 
http_interactions: 
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"1\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null,\"feed_url\":\"file:///home/jlsherri/katello/src/test/fixtures/zoo5\"},\"distributors\":[{\"distributor_type\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":false,\"distributor_id\":\"1\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Yl88ku67GAAAzFm1esZkAOitYAE7ZVAsMdGhu3rYHE", oauth_signature="q2%2FvsUZ8bi3zfMVboLXpC0VvhSQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103635", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"51300d539c60ed2a89005b2a\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Fri, 01 Mar 2013 02:07:15 GMT
- request: 
    method: post
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/actions/sync/
    body: 
      encoding: US-ASCII
      string: "{\"override_config\":{\"max_speed\":10000,\"num_threads\":4}}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="OwrwZVMIH35SgZ3mXQD3BZN4rDkGvAp3PJ3sCCsSU", oauth_signature="un9p45l94e%2BZoBss7ugZaXMX9R8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103635", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"b115593e-e1d7-4306-8015-ffb4e7fc8d8b\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/b115593e-e1d7-4306-8015-ffb4e7fc8d8b/\", \"task_id\": \"bb6bf24a-d80c-4c46-a181-d519319b5306\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"b115593e-e1d7-4306-8015-ffb4e7fc8d8b\", \"call_request_id\": \"bb6bf24a-d80c-4c46-a181-d519319b5306\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 01 Mar 2013 02:07:15 GMT
- request: 
    method: delete
    uri: https://dhcp231-16.rdu.redhat.com/pulp/api/v2/repositories/1/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="af6xYJQ4Z11P0y7xMX0jl6P7R41KmSelofZTwuS18CA", oauth_signature="z6sJjVHf7aeNEcZGpXbGCIQ2d48%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1362103638", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "[{\"task_group_id\": \"dc163f27-9fd8-4b9f-9645-1430c86f52da\", \"exception\": null, \"traceback\": null, \"_href\": \"/pulp/api/v2/task_groups/dc163f27-9fd8-4b9f-9645-1430c86f52da/\", \"task_id\": \"cd3f79f6-147e-4c59-98ea-7c219f07c43f\", \"call_request_tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"reasons\": [], \"start_time\": null, \"tags\": [\"pulp:repository:1\", \"pulp:action:delete\"], \"state\": \"waiting\", \"finish_time\": null, \"dependency_failures\": {}, \"schedule_id\": null, \"progress\": {}, \"call_request_group_id\": \"dc163f27-9fd8-4b9f-9645-1430c86f52da\", \"call_request_id\": \"cd3f79f6-147e-4c59-98ea-7c219f07c43f\", \"principal_login\": \"admin\", \"response\": \"accepted\", \"result\": null}]"
  recorded_at: Fri, 01 Mar 2013 02:07:18 GMT
recorded_with: VCR 2.4.0
