
.grid_7#plan
  %fieldset.fl.clear
    %label.grid_2 #{_("Name")}:
    .grid_4.la#edit_template_name{'name' => 'system_template[name]', :class=>("editable edit_template_name" if editable)} "FOO "
  %fieldset.fl.clear
    %label.grid_2 #{_("Description")}:
    .grid_4.la#edit_template_description{'name' => 'system_template[description]', :class=>("editable edit_template_description" if editable)} "FOO "
