- collection.each do |pack|
  %li.no_slide.block
    %a{:class => "fr package_add_remove st_button", "data-name"=> pack, :id => "add_remove_package_#{pack}"}= "+ #{_("Add")}"
    .simple_link
      %span{"data-name"=>pack}
        = pack
