<span page-title>{{ 'Docker Tags' | translate }}</span>

<div data-extend-template="layouts/table-with-header.html">

  <div data-block="header">
    <h2 translate>Docker Tags</h2>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Docker Tags.
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Docker Tags.
  </span>

  <div data-block="table">
    <table class="table table-striped" ng-class="{'table-mask': table.working}">
      <thead>
        <tr bst-table-head>
          <th bst-table-column="name">{{ "Name" | translate }}</th>
          <th bst-table-column="product">{{ "Product Name" | translate }}</th>
          <th bst-table-column="repository">{{ "Repository Name" | translate }}</th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="tag in table.rows">
          <td bst-table-cell>
            <a ui-sref="docker-tag.info({tagId: tag.id})">
              {{ tag.full_name }}
            </a>
          </td>
          <td bst-table-cell>
            {{ tag.product.name }}
          </td>
          <td bst-table-cell>
            {{ tag.repository.name }}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
