--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"ihaveaterriblepassword\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="iZSj9lPc10ditfndq4x3rl8yAWmANaRFTWKC9exc", oauth_signature="bLzgtYVnkkmyA0ubCAi9w8HFjlY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081897", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"52331ea95ca01344d0c710ff\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"52331ea95ca01344d0c710ff\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Fri, 13 Sep 2013 14:18:17 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="GMtJ9yYCKlyQFfWTjS8dxoqIM8eVbpBW81y8dsesJwE", oauth_signature="WYKrxWQ40BDl8v1%2BPRMgZuOtaXk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081897", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 13 Sep 2013 14:18:17 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/fake/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Mi4YzP4kTGLF2s2x1mNEWk6SfjlFaFfzd0Y8JbfQ", oauth_signature="erU2vCTYWZAh1XkQMl1lQg7%2FEYY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081897", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=fake\", \"_href\": \"/pulp/api/v2/users/fake/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"fake\"}}"
  recorded_at: Fri, 13 Sep 2013 14:18:17 GMT
recorded_with: VCR 2.5.0
