--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\",\"name\":\"hidden\",\"password\":\"nimda\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="dDf6WPfnVbqs34BhgHEhobxmmYwGJtIdUOtwydT7kU", oauth_signature="PqQ74HbQfnvGshLTThj5MOH%2FtOI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081441", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - hidden
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"52331ce15ca01344d0c708f9\"}, \"name\": \"hidden\", \"roles\": [], \"_ns\": \"users\", \"login\": \"hidden\", \"id\": \"52331ce15ca01344d0c708f9\", \"_href\": \"/pulp/api/v2/users/hidden/\"}"
  recorded_at: Fri, 13 Sep 2013 14:10:42 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"hidden\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="6jPn45ElWeZM7xsZonZAQJDs9yPxP5TmOkzlOkuJBM", oauth_signature="adwJ2pIk%2F5PnG3m6WRl%2Fk1o5IEk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081442", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 13 Sep 2013 14:10:42 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/hidden/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="OGlO66PgkgjC5tEFCvbXRv17VZgopViaIi5MDMFoBQ", oauth_signature="CfU1O5uhgVMpTKScOO9Utca5mEY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081639", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 13 Sep 2013 14:13:59 GMT
recorded_with: VCR 2.5.0
