--- 
http_interactions: 
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"DoJ09AHj0L4HIVdp\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="oNrxgpwv1S9oYTdcc3T70u7EyijgyeAVAJXTNRoxdAY", oauth_signature="GtsR8VuJaBjLVOk01ITA6VILMeY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373071826", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51d769d25ca0130acd0c2413\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"51d769d25ca0130acd0c2413\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Sat, 06 Jul 2013 00:50:26 GMT
- request: 
    method: delete
    uri: https://localhost.localdomain/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="3Lz7YC7bHkuHz5QnSMIrG7DVCzfr0fydTvCCpxkwU", oauth_signature="ZheCpk%2BaGuwj90e4hsH8sSqHWLc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373090191", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Sat, 06 Jul 2013 05:56:31 GMT
- request: 
    method: post
    uri: https://localhost.localdomain/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"ihaveaterriblepassword\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="mlmpJmYt20I6xPbaUtlBXUBa8ljc2CnqCRonAwhTmRU", oauth_signature="k4aoJ4Y4CdoLEL%2BEEVKev0TPRpk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373090192", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"51d7b190e138232bc589a62a\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"51d7b190e138232bc589a62a\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Sat, 06 Jul 2013 05:56:32 GMT
- request: 
    method: post
    uri: https://localhost.localdomain/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Z7yWBWr7OYjRDXL2zWbhIugn4SweJGcTWpgVCLhAQRw", oauth_signature="wNlzvW7HxvNRsvhS7NfoAqljj7s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373090192", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Sat, 06 Jul 2013 05:56:32 GMT
- request: 
    method: delete
    uri: https://localhost.localdomain/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="6lx2aph8J9Z5O9GVCBvqX5TcSAMqtEe6WBaO4dRxg", oauth_signature="de38GdIIHypzjdzSgM1PP7V2UE4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1373090193", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Sat, 06 Jul 2013 05:56:33 GMT
recorded_with: VCR 2.5.0
