--- 
http_interactions: 
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="sR64u2vb3fMdaXOIMghilXdpvF17BuzAIuRG22WsY", oauth_signature="PUWMONM45De1ba2RA0v%2BXRiN%2BSc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081898", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 13 Sep 2013 14:18:18 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\",\"name\":\"batman\",\"password\":\"ihaveaterriblepassword\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="teA5PuQijjpXvLEjTiIGFqHzkvtdtl6iEdkRnxzBK8", oauth_signature="aZ8qE6J%2FkgNeEpG8TZw1%2FaeRYV8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081899", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - batman
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"_id\": {\"$oid\": \"52331eab5ca01344d0c7115a\"}, \"name\": \"batman\", \"roles\": [], \"_ns\": \"users\", \"login\": \"batman\", \"id\": \"52331eab5ca01344d0c7115a\", \"_href\": \"/pulp/api/v2/users/batman/\"}"
  recorded_at: Fri, 13 Sep 2013 14:18:19 GMT
- request: 
    method: post
    uri: https://abed.usersys.redhat.com/pulp/api/v2/roles/super-users/users/
    body: 
      encoding: US-ASCII
      string: "{\"login\":\"batman\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="SoYgopVCQCACJKd3mEthlggUHikGyEMHODxUvj3Bk", oauth_signature="ZmOk2uGPWdngBmR2Y1P1sImLwi0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081899", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 13 Sep 2013 14:18:19 GMT
- request: 
    method: delete
    uri: https://abed.usersys.redhat.com/pulp/api/v2/users/batman/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="47OBbGiAY7kOePi9FBNglbQFJH6vNDd1x5LIwZjg", oauth_signature="P%2Bghrn6HZt7sL%2B1dD9Qe8LoZvnY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379081899", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "null"
  recorded_at: Fri, 13 Sep 2013 14:18:19 GMT
recorded_with: VCR 2.5.0
