#dashboard_systems.big_widget.scroll-pane
  %ul
  - unless systems_list.empty?
    - for system in systems_list
      %li
        %div.system_entry
          .col_3
            %span.icon_wrap.fl{:class=>"check_icon"}
          .col_1.one-line-ellipsis
            %h5
              #{system.name}
          .col_2
            .col_block
              #{system.created_at}
            .col_block
              =_("Never checked in")
          .button_col_4
            .button{"data-url"=>system_path(system.id)}
              = _("Resolve")
  - else
    =_("No systems found." )