#ak-details-katello {
  .ak-details-header {
    margin: 0 24px 16px;
    padding-top: 16px;
  }

  .ak-details-description {
    padding-top: 16px;
  }

  .breadcrumb-bar-pf4 {
    margin: 0 0 16px;
  }

  .breadcrumb-display {
    display: block;
  }

  .breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .ak-name-truncate {
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    margin-right: 16px;
  }

  .ak-name-wrapper {
    display: inline-flex;
    max-width: 60%;
    margin-right: 8px;
  }
}
