<table class="table table-striped" ng-class="{'table-mask': table.working}">
  <thead>
    <tr alch-table-head row-select>
      <th alch-table-column="name" sortable>{{ "Name" | translate }}</th>
      <th alch-table-column="limit" sortable>{{ "Limit" | translate }}</th>
    </tr>
  </thead>

  <tbody>
    <tr alch-table-row ng-repeat="activationKey in table.rows" row-select="activationKey">
      <td alch-table-cell>
        <a ui-sref="activation-keys.details.info({activationKeyId: activationKey.id})">
          {{ activationKey.name }}
        </a>
        <i class="fa fa-chevron-right selected-icon" ng-show="activationKey.selected"></i>
      </td>
      <td alch-table-cell>{{ activationKey.usage_limit | unlimitedFilter }}</td>
    </tr>
  </tbody>
</table>
