<span page-title ng-model="contentHost">{{ 'Packages for: ' | translate }} {{ contentHost.name }}</span>
<section ng-hide="denied('edit_content_hosts', contentHost)" bst-feature-flag="remote_actions">
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>
  <h4 translate>Package Actions</h4>
  <p bst-alert="info" ng-hide="contentHost.katello_agent_installed">
    <span translate>
      The katello-agent package is required to manage packages on this Host.
      Please install the katello-agent package to manage packages on
      {{ contentHost.name }}. To install the package, connect directly to the
      host from a terminal and use yum.
    </span>
  </p>
  <section>
    <form ng-submit="performPackageAction()" role="form" class="row">

      <div class="col-sm-2">
        <select class="form-control" ng-model="packageAction.actionType" required>
          <option value="packageInstall" translate>Package Install</option>
          <option value="packageUpdate" translate>Package Update</option>
          <option value="packageRemove" translate>Package Remove</option>
          <option value="groupInstall" translate>Group Install</option>
          <option value="groupRemove" translate>Group Remove</option>
        </select>
      </div>

      <div class="input-group col-sm-5">
        <input class="form-control"
               type="text"
               placeholder="{{ 'Package/Group Name' | translate}}"
               ng-model="packageAction.term"/>

        <span class="input-group-btn">
          <button class="btn btn-default"
                  ng-hide="denied('edit_content_hosts', contentHost)"
                  ng-disabled="working || packageAction.term === undefined || packageAction.term.length === 0"
                  translate>
            Perform</button>
        </span>
      </div>
    </form>
  </section>
</section>

<section>
  <h4 translate>Installed Packages</h4>

  <div class="row">
    <form>
      <input type="text"
             class="form-control filter-input"
             placeholder="{{ 'Filter' | translate }}"
             ng-model="currentPackagesTable.filter"/>
    </form>
    <span class="nutupane-info" translate>Showing {{ currentPackagesTable.resource.total }} Packages</span>

    <div class="fr" ng-hide="denied('edit_content_hosts', contentHost)" bst-feature-flag="remote_actions">
       <button class="btn btn-primary"
               translate
               ng-click="updateAll()"
               ng-disabled="working">
         Update All
       </button>
    </div>
  </div>

  <p bst-alert="info" ng-show="currentPackagesTable.rows.length === 0">
    <span translate>You currently do not have any Packages installed. You can use Package Actions above this message to install new Packages.</span>
  </p>

  <div bst-table="currentPackagesTable" ng-show="currentPackagesTable.rows.length > 0">
    <div bst-container-scroll bst-infinite-scroll="currentPackagesTable.loadMorePackages()" data="currentPackagesTable.rows">

      <table ng-class="{'table-mask': currentPackagesTable.working}" class="table table-striped">
        <thead>
          <tr bst-table-head>
            <th bst-table-column="name" translate>Installed Package</th>
            <th bst-table-column="remove" bst-feature-flag="remote_actions" ng-hide="currentPackagesTable.contentHost.readonly">
              <span translate>Remove</span>
            </th>
          </tr>
        </thead>

        <tbody>

            <tr bst-table-row ng-repeat="package in currentPackagesTable.rows | filter: currentPackagesTable.filter | limitTo: currentPackagesTable.limit" >
            <td bst-table-cell>{{ package.nvrea }}</td>
            <td bst-table-cell ng-hide="currentPackagesTable.contentHost.readonly" bst-feature-flag="remote_actions">

                <i class="active fa fa-remove-sign" ng-hide="package.removeTask" tooltip="{{ 'Remove' | translate }}"
                   ng-click="currentPackagesTable.removePackage(package)"></i>

                <i class="fa fa-spinner fa-spin" ng-show="package.removeTask.pending"></i>
                <span ng-show="package.removeTask && !package.removeTask.pending">

                  <i ng-show="currentPackagesTable.taskFailed(package.removeTask)" class="fa fa-exclamation-sign" tooltip="{{ 'Failed' | translate }}"></i>
                  <i ng-hide="currentPackagesTable.taskFailed(package.removeTask)" class="fa fa-check-sign" tooltip="{{ 'Success' | translate }}"></i>

                  <a ng-click="currentPackagesTable.openEventInfo(package.removeTask)" >
                    <span translate ng-show="package.removeTask.affected_units == 1">
                      {{ package.removeTask.affected_units }} package removed
                    </span>

                    <span translate ng-show="!package.removeTask.failed && package.removeTask.affected_units != 1">
                      {{ package.removeTask.affected_units }} packages removed
                    </span>

                    <span translate ng-show="package.removeTask.failed">
                        Package removal failed
                    </span>
                  </a>
                </span>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
