<span page-title ng-model="contentHost">{{ 'Packages for: ' | translate }} {{ contentHost.name }}</span>

<section ng-hide="denied('edit_content_hosts', contentHost)" bst-feature-flag="remote_actions">
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>
  <h4 translate>Package Actions</h4>
  <p bst-alert="info" ng-hide="contentHost.katello_agent_installed">
    <span translate>
      The katello-agent package is required to manage packages on this Host.
      Please install the katello-agent package to manage packages on
      {{ contentHost.name }}. To install the package, connect directly to the
      host from a terminal and use yum.
    </span>
  </p>
  <section>

    <form role="form" class="row" id="packageActionForm" method="post" action="/katello/remote_execution">
      <input type="hidden" name="name" ng-value="packageActionFormValues.package"/>
      <input type="hidden" name="remote_action" ng-value="packageActionFormValues.remoteAction"/>
      <input type="hidden" name="host_ids" ng-value="packageActionFormValues.hostIds"/>
      <input type="hidden" name="customize" ng-value="packageActionFormValues.customize"/>
      <input type="hidden" name="authenticity_token" ng-value="packageActionFormValues.authenticityToken"/>
    </form>

    <form ng-submit="performPackageAction()" role="form" class="row">

      <div class="col-sm-2">
        <select class="form-control" ng-model="packageAction.actionType" name="remote_action" required>
          <option value="packageInstall" translate>Package Install</option>
          <option value="packageUpdate" translate>Package Update</option>
          <option value="packageRemove" translate>Package Remove</option>
          <option value="groupInstall" translate>Group Install</option>
          <option value="groupRemove" translate>Group Remove</option>
        </select>
      </div>

      <div class="input-group col-sm-5">
        <input class="form-control"
               type="text"
               placeholder="{{ 'Package/Group Name' | translate}}"
               ng-model="packageAction.term"/>

        <span class="input-group-btn">
          <button class="btn btn-default"
                  ng-hide="denied('edit_content_hosts', contentHost)"
                  ng-disabled="working || packageAction.term === undefined || packageAction.term.length === 0"
                  translate>
            Perform</button>
            <button class="btn btn-default dropdown-toggle"
                    ng-hide="!remoteExecutionPresent || denied('edit_content_hosts', contentHost)"
                    ng-disabled="working || packageAction.term === undefined || packageAction.term.length === 0"
                    type="button" id="use-remote-execution" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="use-remote-execution">
              <li role="presentation"><a ng-click="performViaKatelloAgent()" role="menuitem" tabindex="-1" href="#" translate>via Katello agent</a></li>
              <li role="presentation"><a ng-click="performViaRemoteExecution(false)" role="menuitem" tabindex="-1" href="#" translate>via remote execution</a></li>
              <li role="presentation"><a ng-click="performViaRemoteExecution(true)" role="menuitem" tabindex="-1" href="#" translate>via remote execution - customize first</a></li>
            </ul>
        </span>
      </div>
    </form>
  </section>
</section>

<div data-extend-template="layouts/details-nutupane.html">
  <h4 translate>Installed Packages</h4>

  <span data-block="no-rows-message" translate>
    The host has not reported any installed packages, registering with subscription-manager should cause these to be reported.
  </span>

  <div data-block="actions" bst-feature-flag="remote_actions">
    <div ng-hide="denied('edit_content_hosts', contentHost)" class="nutupane-actions fr">
      <button class="btn btn-primary"
              translate
              ng-disabled="working || detailsTable.numSelected === 0"
              ng-click="removeSelectedPackages()">
        {{ 'Remove Selected' | translate }}
      </button>
      <button class="btn btn-primary"
              translate
              ng-disabled="working || detailsTable.numSelected === 0"
              ng-click="updateAll()">
        Update All
      </button>
    </div>
  </div>

  <div data-block="table">
    <table ng-class="{'table-mask': detailsTable.working}" class="table table-full table-striped">
      <thead>
      <tr bst-table-head row-select>
        <th bst-table-column="name" translate>Installed Package</th>
      </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="package in detailsTable.rows" row-select="package">
          <td class="row-select"></td>
          <td bst-table-cell>{{ package.nvra }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

