<span page-title ng-model="host">{{ 'Packages for: ' | translate }} {{ host.name }}</span>

<section ng-hide="denied('edit_hosts', host)" bst-feature-flag="remote_actions">
  <p bst-alert="info" ng-hide="host.content_facet_attributes.katello_agent_installed">
    <span translate>
      If you are not using Remote Execution to manage content on this host, ensure that it has the katello-agent package installed.
    </span>
  </p>
</section>

<h3 translate>Installed Packages</h3>

<div data-extend-template="layouts/partials/table.html">
  <span data-block="no-rows-message" translate>
    The host has not reported any installed packages, registering with subscription-manager should cause these to be reported.
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Packages.
  </span>

  <div data-block="list-actions" bst-feature-flag="remote_actions">
    <button class="btn btn-default" type="button"
            ng-hide="denied('edit_hosts', host)"
            ng-disabled="working || table.numSelected === 0"
            ng-click="removeSelectedPackages()">
      <span translate>Remove Selected</span>
    </button>
  </div>

  <div data-block="table">
    <table bst-table="table" ng-class="{'table-mask': table.working}"
           class="table table-striped table-bordered">
      <thead>
      <tr bst-table-head row-select>
        <th bst-table-column="name" translate>Installed Package</th>
      </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="package in table.rows" row-select="package">
          <td bst-table-cell>{{ package.nvrea }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

