<span page-title ng-model="host">{{ 'Deb Packages for: ' | translate }} {{ host.display_name }}</span>

<h3 translate>Applicable Deb Packages</h3>

<div data-extend-template="layouts/partials/table.html">

  <span data-block="no-rows-message" translate>
    The host has not reported any applicable packages for upgrade.
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Deb Packages.
  </span>

  <div data-block="list-actions" bst-feature-flag="remote_actions">
    <div ng-hide="denied('edit_hosts', host)" class="nutupane-actions fr">
      <form ng-submit="performRexUpdate()" role="form">

        <span uib-dropdown class="btn-group">
          <button class="btn btn-primary" type="button"
                  ng-click="performRexUpdate()"
                  ng-hide="denied('edit_hosts', host)"
                  ng-disabled="working || table.numSelected === 0"
                  translate>
            Upgrade Selected
          </button>
          <button uib-dropdown-toggle class="btn btn-default"
                  ng-hide="!remoteExecutionPresent || denied('edit_hosts', contentHost)"
                  ng-disabled="working ||  table.numSelected === 0"
                  type="button" id="use-remote-execution">
            <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu role="menu" aria-labelledby="use-remote-execution">
            <li role="presentation"><a ng-click="performViaRemoteExecution('packageUpdate', getRemoteExecutionCommand(), false)" role="menuitem" tabindex="-1" href="#" translate>via remote execution</a></li>
            <li role="presentation"><a ng-click="performViaRemoteExecution('packageUpdate', getRemoteExecutionCommand(), true)" role="menuitem" tabindex="-1" href="#" translate>via remote execution - customize first</a></li>
          </ul>
        </span>

        <button class="btn btn-default"
                type="button"
                translate
                ng-disabled="working"
                ng-click="updateAll()">
          Update All Deb Packages
        </button>
      </form>
    </div>
  </div>

  <div data-block="table">
    <table bst-table="table" ng-class="{'table-mask': table.working}" class="table table-full table-striped">
      <thead>
      <tr bst-table-head row-select>
        <th bst-table-column="name" translate>Upgradable Package</th>
        <th bst-table-column="name" translate>Version</th>
        <th bst-table-column="name" translate>Architecture</th>
      </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="deb in table.rows" row-select="deb">
          <td bst-table-cell>{{ deb.name }}</td>
          <td bst-table-cell>{{ deb.version }}</td>
          <td bst-table-cell>{{ deb.architecture }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

