<form role="form" id="packageActionForm" method="post" action="/katello/remote_execution">
  <input type="hidden" name="name" ng-value="packageActionFormValues.package"/>
  <input type="hidden" name="remote_action" ng-value="packageActionFormValues.remoteAction"/>
  <input type="hidden" name="host_ids" ng-value="packageActionFormValues.hostIds"/>
  <input type="hidden" name="customize" ng-value="packageActionFormValues.customize"/>
  <input type="hidden" name="authenticity_token" ng-value="packageActionFormValues.authenticityToken"/>
</form>

<div ui-view></div>
