<span page-title>{{ 'Errata Details' | translate }}</span>

<h3>{{ erratum.errata_id }}</h3>

<dl class="dl-horizontal dl-horizontal-left">
  <dt translate>Type</dt>
  <dd>{{ erratum.type }}</dd>

  <dt translate>Title</dt>
  <dd>{{ erratum.title }}</dd>

  <dt translate>Issued</dt>
  <dd>{{ erratum.issued }}</dd>

  <dt translate>Updated</dt>
  <dd>{{ erratum.updated }}</dd>

  <dt translate>Reboot Suggested</dt>
  <dd>{{ erratum.reboot_suggested }}</dd>

  <dt translate>Description</dt>
  <dd>
    <p ng-repeat="paragraph in erratum.description.split('\n\n')">
      {{ paragraph }}
    </p>
  </dd>

  <dt translate>Solution</dt>
  <dd>
    <p ng-repeat="paragraph in erratum.solution.split('\n\n')">
      {{ paragraph }}
    </p>
  </dd>

  <dt translate>Packages</dt>
  <dd>
    <ul>
      <li ng-repeat="package in erratum.packages">
        {{ package }}
      </li>
      <li ng-repeat="deb_package in erratum.deb_packages">
        {{ deb_package.name }} {{ deb_package.version }}
      </li>
    </ul>
  </dd>

  <dt translate>Module Streams</dt>
  <dd>
    <ul>
      <li ng-repeat="moduleStream in erratum.module_streams">
        {{ moduleStream.name + ":" + moduleStream.stream }}
        <ul>
          <li ng-repeat="package in moduleStream.packages">
            {{ package }}
          </li>
        </ul>
      </li>
    </ul>
  </dd>
</dl>
