<span page-title>{{ 'Errata Details' | translate }}</span>
<a ui-sref="content-hosts.details.errata.index">
  <i class="fa fa-double-angle-left"></i>
  {{ "Back To Errata List" | translate }}
</a>

<h3>{{ erratum.errata_id }} </h3>

<div class="details details-full">
  <section>

    <div class="detail">
      <span class="info-label" translate>Type</span>
      <span class="info-value">{{ erratum.type }}</span>
    </div>
    <div class="detail">
      <span class="info-label" translate>Title</span>
      <span class="info-value">{{ erratum.title }}</span>
    </div>
    <div class="detail">
      <span class="info-label" translate>Issued</span>
      <span class="info-value">{{ erratum.issued }}</span>
    </div>
    <div class="detail">
      <span class="info-label" translate>Updated</span>
      <span class="info-value">{{ erratum.updated }}</span>
    </div>
    <div class="detail">
      <span class="info-label" translate>Reboot Suggested</span>
      <span class="info-value">{{ erratum.reboot_suggested }}</span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Description</span>
      <span class="info-value">
        <p ng-repeat="paragraph in erratum.description.split('\n\n')">
          {{ paragraph }}
        </p>
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Solution</span>
      <span class="info-value">
        <p ng-repeat="paragraph in erratum.solution.split('\n\n')">
          {{ paragraph }}
        </p>
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Packages</span>
      <span class="info-value">
        <ul>
          <li ng-repeat="package in erratum.packages">
            {{ package }}
          </li>
        </ul>
      </span>
    </div>

  </section>
</div>
