<div data-block="messages" bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

<div bst-form-group label="{{ 'Errata Type' | translate }}">

  <label class="checkbox-inline">
    <input type="checkbox"
           name="types"
           value="{{ types.security }}"
           ng-model="types.security"
           ng-change="updateTypes(types)"
           ng-disabled="onlySelected(types, 'security')"/>
    <span translate>Security</span>
  </label>

  <label class="checkbox-inline">
    <input type="checkbox"
           name="types"
           value="{{ types.enhancement }}"
           ng-model="types.enhancement"
           ng-change="updateTypes(types)"
           ng-disabled="onlySelected(types, 'enhancement')"/>
    <span translate>Enhancement</span>
  </label>

  <label class="checkbox-inline">
    <input type="checkbox"
           name="types"
           value="{{ types.bugfix }}"
           ng-model="types.bugfix"
           ng-change="updateTypes(types)"
           ng-disabled="onlySelected(types, 'bugfix')"/>
    <span translate>Bugfix</span>
  </label>

</div>

<div bst-form-group label="{{ 'Start Date' | translate }}">
  <div class="input-group">
    <input class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="rule.start_date" is-open="date.startOpen" ng-click="openStartDate($event)"/>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="openStartDate($event)">
        <i class="fa fa-calendar inline-icon"></i>
      </button>
    </span>
  </div>
</div>

<div bst-form-group label="{{ 'End Date' | translate }}">
  <div class="input-group">
    <input class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="rule.end_date" is-open="date.endOpen" ng-click="openEndDate($event)"/>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="openEndDate($event)">
        <i class="fa fa-calendar inline-icon"></i>
      </button>
    </span>
  </div>
</div>
