<span page-title ng-model="filter">{{ 'Container Image Tag Filter:' | translate }} {{ filter.name }}</span>

<nav>
  <ul class="nav nav-tabs nav-tabs-pf">

    <li ng-class="{active: isState('content-view.docker.filter.tag.edit')}">
      <a ui-sref="content-view.docker.filter.tag.edit" translate>
        Details
      </a>
    </li>

    <li ng-class="{active: isState('content-view.docker.filter.tag.details')}">
      <a ui-sref="content-view.docker.filter.tag.details" translate>
        Tags
      </a>
    </li>

    <li ng-class="{active: isState('content-view.docker.filter.tag.repositories')}"
        ng-show="!contentView.permissions.editable">
      <a ui-sref="content-view.docker.filter.tag.repositories({filterId: filter.id})"
         ng-include="'content-views/details/filters/views/partials/filter-repositories-count.html'">
      </a>
    </li>

  </ul>
</nav>

<div ui-view></div>
