<span page-title ng-model="filter">{{ 'Errata Filter:' | translate }} {{ filter.name }}</span>

<nav>
  <ul class="nav nav-tabs nav-tabs-pf">

    <li ng-class="{active: isState('content-view.yum.filter.erratum.edit')}">
      <a ui-sref="content-view.yum.filter.erratum.edit">
      <span translate>
        Details
      </span>
      </a>
    </li>

    <li ng-if="!filter.rules[0].types" ng-class="{active: isState('content-view.yum.filter.erratum.list')}">
      <a ui-sref="content-view.yum.filter.erratum.list({filterId: filter.id})">
      <span translate>
        List/Remove
      </span>
      </a>
    </li>

    <li ng-if="!filter.rules[0].types" ng-class="{active: isState('content-view.yum.filter.erratum.available')}"
        ng-show="permitted('edit_content_views', contentView)">
      <a ui-sref="content-view.yum.filter.erratum.available({filterId: filter.id})">
      <span translate>
        Add
      </span>
      </a>
    </li>

    <li ng-if="filter.rules[0].types" ng-class="{active: isState('content-view.yum.filter.erratum.dateType')}"
        ng-show="permitted('edit_content_views', contentView)">
      <a ui-sref="content-view.yum.filter.erratum.dateType({filterId: filter.id})">
      <span translate>
        Erratum Date Range
      </span>
      </a>
    </li>

    <li ng-class="{active: isState('content-view.yum.filter.erratum.repositories')}"
        ng-show="permitted('edit_content_views', contentView)">
      <a ui-sref="content-view.yum.filter.erratum.repositories({filterId: filter.id})"
         ng-include="'content-views/details/filters/views/partials/filter-repositories-count.html'">
      </a>
    </li>
  </ul>
</nav>

<div ui-view></div>

