<div ng-if="isState('content-views.details.filters.details.erratum.available')">
  <form name="errataForm" class="form-horizontal">
    <div ng-include="'content-views/details/filters/views/date-type-errata.html'"></div>
  </form>
</div>

<div data-extend-template="layouts/details-nutupane.html">

  <div data-block="header"></div>

  <div data-block="actions">
    <button class="btn btn-primary fr"
            ng-show="isState('content-views.details.filters.details.erratum.list') && permitted('edit_content_views', contentView)"
            ng-disabled="detailsTable.working || detailsTable.numSelected === 0"
            ng-click="removeErrata(contentView)">
      <i class="fa fa-trash-o"></i>
      <span translate>Remove Errata</span>
    </button>
    <button class="btn btn-primary fr"
            ng-show="isState('content-views.details.filters.details.erratum.available') && permitted('edit_content_views', contentView)"
            ng-disabled="detailsTable.working || detailsTable.numSelected === 0"
            ng-click="addErrata(filter)">
      <i class="fa fa-plus"></i>
      <span translate>Add Errata</span>
    </button>
  </div>

  <table data-block="table" class="table table-bordered table-striped">
    <thead>
      <tr bst-table-head row-select>
        <th bst-table-column translate>Errata ID</th>
        <th bst-table-column translate>Errata Type</th>
        <th bst-table-column translate>Issued</th>
        <th bst-table-column translate>Title</th>
      </tr>
    </thead>

    <tbody>
      <tr bst-table-row ng-repeat="errata in detailsTable.rows" row-select="errata">
        <td bst-table-cell>{{ errata.errata_id }}</td>
        <td bst-table-cell>
          {{ errata.type }}
        </td>
        <td bst-table-cell>
          {{ errata.issued | date:'M/d/yy' }}
        </td>
        <td bst-table-cell>{{ errata.title }}</td>
      </tr>
    </tbody>
  </table>

</div>
