<span page-title ng-model="filter">{{ 'Filter:' | translate }} {{ filter.name }}</span>

<header class="details-header">
  <h3>{{ filter.name }}</h3>
  <small translate>Type: {{ filter.inclusion | filterType }} {{ filter.type | filterContentType }}</small>
  <br/>
  <i class="fa fa-warning inline-icon" ng-if="filter.type === 'rpm' || filter.type === 'errata'"></i>&nbsp;<span translate>
RPMs belonging to Module Streams will not be affected by filters. These RPMs will automatically be 
included in a Content View Version along with the associated Module Streams.</span>
</header>

<div ui-view></div>
