<div data-extend-template="components/views/bst-modal.html">
  <h4 data-block="modal-header">Matching Content</h4>

  <div data-block="modal-body">
    <div data-extend-template="layouts/table-with-header.html">
      <span data-block="no-rows-message" translate>
        No RPMs were matched
      </span>

      <span data-block="no-search-results-message" translate>
        Your search returned zero RPMs
      </span>

      <div data-block="table">
        <table class="table table-striped table-bordered" ng-class="{'table-mask': table.working}">
          <thead>
          <tr bst-table-head>
            <th bst-table-column="name" sortable>{{ "RPM" | translate }}</th>
            <th bst-table-column="version">{{ "Summary" | translate }}</th>
          </tr>
          </thead>

          <tbody>
          <tr bst-table-row ng-repeat="package in table.rows">
            <td bst-table-cell>
              <a ui-sref="package.info({packageId: package.id})" target="_blank">
                {{ package.nvrea}}
              </a>
            </td>
            <td bst-table-cell>
              {{ package.summary }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
 </div>

  <div data-block="modal-footer">
    <button class="btn btn-default" ng-click="cancel()" translate>Close</button>
  </div>
</div>