<span page-title ng-model="filter">{{ 'Module Stream Filter:' | translate }} {{ filter.name }}</span>

<div class="details details-full">
  <nav>
    <ul class="nav nav-tabs nav-tabs-pf">

      <li ng-class="{active: isState('content-view.yum.filter.module-stream.edit')}">
        <a ui-sref="content-view.yum.filter.module-stream.edit">
        <span translate>
	  Details
        </span>
        </a>
      </li>

      <li ng-class="{active: isState('content-view.yum.filter.module-stream.list')}">
        <a ui-sref="content-view.yum.filter.module-stream.list({filterId: filter.id})">
        <span translate>
          List/Remove
        </span>
        </a>
      </li>

      <li ng-class="{active: isState('content-view.yum.filter.module-stream.available')}"
          ng-show="!contentView.permissions.editable">
        <a ui-sref="content-view.yum.filter.module-stream.available({filterId: filter.id})">
        <span translate>
          Add
        </span>
        </a>
      </li>

      <li ng-class="{active: isState('content-view.yum.filter.module-stream.repositories')}"
          ng-show="!contentView.permissions.editable">
        <a ui-sref="content-view.yum.filter.module-stream.repositories({filterId: filter.id})"
           ng-include="'content-views/details/filters/views/partials/filter-repositories-count.html'">
        </a>
      </li>
    </ul>
  </nav>

  <div ui-view></div>

</div>
