<div data-extend-template="layouts/partials/table.html">

  <div data-block="list-actions">
    <button type="button" class="btn btn-primary"
            ng-disabled="table.numSelected === 0"
            ng-show="isState('content-view.yum.filter.module-stream.list') && permitted('edit_content_views', contentView)"
            ng-click="removeModuleStreams(filter)">
      <span translate>Remove Module Stream</span>
    </button>

    <button type="button" class="btn btn-primary"
            ng-disabled="table.numSelected === 0"
            ng-show="isState('content-view.yum.filter.module-stream.available') && permitted('edit_content_views', contentView)"
            ng-click="addModuleStreams(filter)">
      <span translate>Add Module Stream</span>
    </button>
  </div>

  <div data-block="table">
    <table class="table table-striped table-bordered" ng-class="{'table-mask': table.working}">

      <thead>
        <tr bst-table-head row-select>
          <th bst-table-column><span translate>Name</span></th>
          <th bst-table-column><span translate>Stream</span></th>
          <th bst-table-column><span translate>Version</span></th>
          <th bst-table-column><span translate>Context</span></th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="moduleStream in table.rows" row-select="moduleStream">
          <td bst-table-cell>{{ moduleStream.name }}</td>
          <td bst-table-cell>{{ moduleStream.stream }}</td>
          <td bst-table-cell>{{ moduleStream.version}}</td>
          <td bst-table-cell>{{ moduleStream.context}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
