<span page-title ng-model="filter">{{ 'Package Filter:' | translate }} {{ filter.name }}</span>

<div class="details details-full">

  <div data-block="messages" bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <nav>
    <ul class="nav nav-tabs">

      <li ng-class="{active: isState('content-views.details.filters.details.rpm.edit')}">
        <a ui-sref="content-views.details.filters.details.rpm.edit">
        <span translate>
	  Details
        </span>
        </a>
      </li>

      <li ng-class="{active: isState('content-views.details.filters.details.rpm.details')}">
        <a ui-sref="content-views.details.filters.details.rpm.details">
        <span translate>
          Packages
        </span>
        </a>
      </li>

      <li ng-class="{active: isState('content-views.details.filters.details.rpm.repositories')}"
          ng-show="!contentView.permissions.editable">
        <a ui-sref="content-views.details.filters.details.rpm.repositories({filterId: filter.id})"
           ng-include="'content-views/details/filters/views/partials/filter-repositories-count.html'">
        </a>
      </li>

    </ul>
  </nav>

  <div ui-view></div>
</div>
