<table class="table table-striped" ng-class="{'table-mask': table.working}">

  <thead>
    <tr bst-table-head>
      <th bst-table-column sortable><span translate>Name</span></th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row
        ng-repeat="contentView in table.rows"
        active-row="stateIncludes('content-views.details', {contentViewId: contentView.id})">
      <td bst-table-cell>
        <a ui-sref="content-views.details.versions({contentViewId: contentView.id})">
          {{ contentView.name }}
        </a>
      </td>
    </tr>
  </tbody>

</table>
