<p class="alert alert-info" ng-show="productTable.rows.length === 0" translate>
  You currently don't have any Products<span bst-feature-flag="custom_products">, you can add Products using the button on the right</span>.
</p>

<table class="table table-striped" ng-class="{'table-mask': productTable.working}" ng-show="productTable.rows.length > 0">
  <thead>
    <tr bst-table-head row-select>
      <th bst-table-column="name" sortable><span translate>Name</span></th>
      <th bst-table-column="description"><span translate>Description</span></th>
      <th bst-table-column="sync_status"><span translate>Sync Status</span></th>
      <th bst-table-column="sync_plan"><span translate>Sync Plan</span></th>
      <th bst-table-column class="number-cell"><span translate>Repositories</span></th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row ng-repeat="product in productTable.rows" row-select="product">
      <td bst-table-cell>
        <a ui-sref="products.details.repositories.index({productId: product.id})">
          {{ product.name }}
        </a>
        <i class="icon-chevron-right selected-icon" ng-show="product.selected"></i>
      </td>
      <td bst-table-cell>{{ product.description }}</td>
      <td bst-table-cell>
        <div ng-include="'products/views/partials/product-table-sync-status.html'"></div>
      </td>
      <td bst-table-cell>
        {{ product.sync_plan.name }}
        <span ng-hide="product.sync_plan" translate>None</span>
        <span ng-show="product.sync_plan">
          ({{ product.sync_plan.interval }})
        </span>
      </td>
      <td bst-table-cell class="number-cell">{{ product.repository_count }}</td>
    </tr>
  </tbody>
</table>
