<table class="table table-striped" ng-class="{'table-mask': productTable.working}">
  <thead>
    <tr bst-table-head row-select>
      <th bst-table-column sortable><span translate>Name</span></th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row
        ng-repeat="product in productTable.rows"
        row-select="product"
        active-row="stateIncludes('products.details', {productId: product.id})">
      <td bst-table-cell>
        <a ui-sref="products.details.repositories.index({productId: product.id})">
          {{ product.name }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
