<div class="details">
  <div class="detail">
    <span class="info-label" translate>Description</span>
    <span class="info-value" bst-edit-textarea="version.description" on-save="save(version)"></span>
  </div>

  <div class="detail">
    <span class="info-label" translate>Environments</span>
    <span ng-repeat="environment in version.environments"  readonly="true">
      <span class="info-value">
        {{ environment.name }}<span ng-if="!$last">,</span>
      </span>
    </span>
  </div>
</div>
