<div class="loading-mask loading-mask-panel icon-3x" ng-show="panel.loading">
  <i class="icon-spinner icon-spin"></i>
  {{ "Loading..." | translate }}
</div>

<section class="nutupane-details" ng-cloak alch-container-scroll>

  <header class="details-header">
    <h2 class="fl" translate>Product {{ product.name }}</h2>

    <div class="details-action-group fr">
      <button class="btn btn-danger details-action"
              translate
              ng-hide="product.readonly"
              ng-click="showConfirm = true"
              title="{{ (!product.permissions.deletable &&
                     'You cannot remove this product because it was published to a content view or because you do not have permission.' | i18n)
                     || '' }}"
              ng-disabled="!product.permissions.deletable">
        Remove Product
      </button>
      <button class="btn details-action" ui-sref="products.index">
        <i class="icon-remove"></i>
        {{ "Close" | translate }}
      </button>
      <div alch-confirm-modal="removeProduct(product)" show-confirm="showConfirm">
        <span translate>Are you sure you want to remove product "{{ product.name }}"?</span>
      </div>
    </div>
  </header>

  <nav class="details-navigation">
    <ul>
      <li>
        <a class="clickable"
           translate
           ui-sref="products.details.info({productId: product.id})"
           ng-class="{active: isState('products.details.info')}">
          Details
        </a>
      </li>
      <li>
        <a class="clickable"
           translate
           ui-sref="products.details.repositories.index({productId: product.id})"
           ng-class="{active: stateIncludes('products.details.repositories')}">
          Repositories
        </a>
      </li>
    </ul>
  </nav>

  <div ui-view></div>
</section>
