<span page-title ng-model="host">{{ 'Subscriptions for: ' | translate }} {{ host.name }}</span>

<div ng-hide="host.hasSubscription()">
  <div data-extend-template="common/views/registration.html"></div>
</div>

<div ng-if="host.hasSubscription()">
  <button class="btn btn-primary fr"
          ng-hide="denied('edit_hosts', host)"
          ng-click="autoAttachSubscriptions()"
          ng-disabled="subscription.workingMode">
  {{ "Run Auto-Attach" | translate }}
  </button>

  <span ng-show="subscription.workingMode">
    <i class="fa fa-spinner inline-icon fa-spin fr"></i>
    <span translate>Working</span>
  </span>

  <section class="details">
    <h4 translate>Subscription Details</h4>
    <div class="detail">
      <span class="info-label" translate>Status</span>
        <span class="info-value">
          <i class="fa fa-circle" ng-class="contentHostTable.getSubscriptionStatusColor(host.subscription.subscription_status.color_code)"></i>
          {{ host.subscription.subscription_status.label }}
        </span>
    </div>

    <div ng-show="host.subscription.compliance_reasons.length > 0" class="detail">
      <span class="info-label" translate>Details</span>
      <div class="info-value">
        <ul class="compliance-reasons">
          <li ng-repeat="reason in host.subscription.compliance_reasons">{{ reason }}</li>
        </ul>
      </div>
    </div>

    <div class="detail">
      <span class="info-label" translate>Auto-Attach</span>
      <span class="info-value"
            bst-edit-checkbox="host.subscription.autoheal"
            formatter="booleanToYesNo"
            readonly="denied('edit_hosts', host)"
            on-save="saveSubscriptionFacet(host)">
      </span>
    </div>
    <div class="detail">
      <span class="info-label" translate>Service Level</span>
          <span class="info-value"
                bst-edit-select="host.subscription.service_level"
                readonly="denied('edit_hosts', host)"
                selector="host.subscription.service_level"
                options="serviceLevels()"
                options-format="option for option in options"
                on-save="saveSubscriptionFacet(host)">
          </span>
    </div>
  </section>

  <nav>
    <ul class="nav nav-tabs" ng-show="permitted('attach_subscriptions')">
      <li ng-class="{active: isState('content-hosts.details.subscriptions.list')}">
        <a ui-sref="content-hosts.details.subscriptions.list">
          <!-- TODO: other pages too - label "List" vs. "List/Remove" based on edit permissions -->
          <span translate>
            List/Remove
          </span>
        </a>
      </li>

      <li ng-class="{active: stateIncludes('content-hosts.details.subscriptions.add')}">
        <a ui-sref="content-hosts.details.subscriptions.add">
          <span translate>
            Add
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <div ui-view></div>

</div>

<!--
http://projects.theforeman.org/issues/4253
  <div ui-view></div>
    <div class="filter-options">
      <span class="filter-option">
        <input type="checkbox"
               id="subscriptions-match"
               class="input"
               ng-model="availableSubscriptionsTable.matchSystem"
               ng-change="availableSubscriptionsTable.filterSubscriptions()"/>
        <label for="subscriptions-match" translate>Subscriptions match system</label>
      </span>
      <span class="filter-option">
        <input type="checkbox"
               id="subscriptions-match-installed"
               class="input"
               ng-model="availableSubscriptionsTable.matchInstalled"
               ng-change="availableSubscriptionsTable.filterSubscriptions()"/>
        <label for="subscriptions-match-installed" translate>Subscriptions match installed software</label>
      </span>

      <span class="filter-option">
        <input type="checkbox"
               id="subscriptions-no-overlap"
               class="input"
               ng-model="availableSubscriptionsTable.noOverlap"
               ng-change="availableSubscriptionsTable.filterSubscriptions()"/>
        <label for="subscriptions-no-overlap" translate>No overlap with current</label>
        </span>
    </div>
-->
