<span page-title ng-model="host">{{ 'Content Host' | translate }} {{ host.name }}</span>

<section>
  <div class="details fl" ng-hide="host.hasContent()">
    <div data-extend-template="common/views/registration.html"></div>
  </div>

  <div class="details fl" ng-show="host.hasContent()">
    <section>
      <h4 translate>Basic Information</h4>

      <div class="detail">
        <span class="info-label" translate>Name</span>
        <span class="info-value"
              bst-edit-text="host.name"
              readonly="denied('edit_hosts', host)"
              on-save="save(host)">
        </span>
      </div>

      <div class="detail">
        <span class="info-label" translate>UUID</span>
        <span class="info-value">{{ host.subscription.uuid }}</span>
      </div>

      <div class="detail">
        <span class="info-label" translate>Description</span>
        <span class="info-value"
              bst-edit-textarea="host.description"
              readonly="denied('edit_hosts', host)"
              on-save="save(host)">
        </span>
      </div>

      <div class="detail">
        <span class="info-label" translate>Type</span>
        <span class="info-value">{{ host.facts["virt::host_type"] }}</span>
      </div>

      <div class="detail"
           bst-feature-flag="remote_actions">
        <span class="info-label" translate>Katello Agent</span>
        <span class="info-value" ng-show="host.content.katello_agent_installed">
          <span class="fa fa-circle green"></span>
          <span translate>Installed</span>
        </span>
        <span class="info-value" ng-hide="host.content.katello_agent_installed">
          <span class="fa fa-circle yellow"></span>
          <span translate>Not installed</span>
        </span>
      </div>

      <div ng-show="host.virtual_guests" class="detail">
        <span class="info-label" translate>Virtual Guests</span>
        <div class="info-value">
          <a ng-click="reloadSearch(virtualGuestIds(host))"
               translate translate-n="host.virtual_guests.length"
               translate-plural="{{ host.virtual_guests.length }} Content Hosts">
             1 Content Host
          </a>
        </div>
      </div>

      <div ng-show="host.virtual_host" class="detail">
        <span class="info-label" translate>Virtual Host</span>
        <div class="info-value">
          <a ui-sref="content-hosts.details.info({contentHostId: host.subscription.virtual_host.uuid })">{{ host.virtual_host.name }}</a>
        </div>
      </div>

      <div class="divider"></div>
    </section>

    <section>
      <h4 translate>Subscriptions</h4>

      <div class="detail">
        <span class="info-label" translate>Subscription Status</span>
        <span class="info-value">
          <i class="fa fa-circle" ng-class="contentHostTable.getSubscriptionStatusColor(host.subscription_status)"></i>
          {{ host.subscription_status_label }}
        </span>
      </div>

      <div ng-show=" host.subscription.compliance_reasons.length > 0" class="detail">
        <span class="info-label" translate>Details</span>
        <div class="info-value">
          <ul class="compliance-reasons">
            <li ng-repeat="reason in host.subscription.compliance_reasons">{{ reason }}</li>
          </ul>
        </div>
      </div>

      <div class="detail">
        <span class="info-label" translate>Auto-Attach</span>
        <span class="info-value"
              bst-edit-checkbox="host.subscription.autoheal"
              readonly="denied('edit_hosts', host)"
              formatter="booleanToYesNo"
              on-save="saveSubscriptionFacet(host)">
        </span>
      </div>
      <div class="detail">
        <span class="info-label" translate>Service Level</span>
        <span class="info-value"
              bst-edit-select="host.subscription.service_level"
              readonly="denied('edit_hosts', host)"
              selector="host.subscription.service_level"
              options="serviceLevels()"
              options-format="option for option in options"
              deletable="true"
              on-delete="clearServiceLevel()"
              on-save="saveSubscriptionFacet(host)">
          </span>
      </div>

      <div class="divider"></div>
    </section>

    <section>
      <h4 translate>Content Host Properties</h4>

      <div class="detail">
        <span class="info-label" translate>OS</span>
        <span class="info-value">{{ host.operatingsystem_name }}</span>
      </div>

      <div class="detail">
        <span class="info-label" translate>Architecture</span>
        <span class="info-value">{{ host.architecture_name }}</span>
      </div>

      <div class="detail">
        <span class="info-label" translate>Number of CPUs</span>
        <span class="info-value">{{ host.facts["cpu::cpu(s)"] }}</span>
      </div>

      <div class="detail">
        <span class="info-label" translate>RAM (GB)</span>
        <span class="info-value">{{ host.facts["dmi::memory::size"] }}</span>
      </div>

      <div class="divider"></div>
    </section>

    <section>
      <h4 translate>Installed Products</h4>

      <p translate ng-show="!host.subscription.installed_products || host.subscription.installed_products.length == 0">
        You do not have any Installed Products
      </p>

      <div ng-show="host.subscription.installed_products.length > 0">
        <div ng-repeat="product in host.subscription.installed_products" class="detail">
          <span class="info-label" translate>Product</span>
          <span class="info-value">{{ product.productName }} {{ product.version }}</span>
        </div>
      </div>

    </section>
  </div>

  <div class="fr details" ng-show="host.hasContent()">
    <section>
      <h4 translate>Installable Errata</h4>

      <div class="detail">
        <span class="info-label" translate>Security</span>
        <span class="info-value">
          <a ui-sref="content-hosts.details.errata.index({getSearch: 'type=security'})">
            <i class="fa fa-warning inline-icon"
               ng-class="{black: host.content.errata_counts.security === 0, red: host.content.errata_counts.security > 0}"
               title="{{ 'Security' | translate }}"></i>
            {{ host.content.errata_counts.security || 0 }}
          </a>
        </span>
      </div>

      <div class="detail">
        <span class="info-label" translate>Bug Fix</span>
        <span class="info-value">
          <a ui-sref="content-hosts.details.errata.index({getSearch: 'type=bugfix'})">
            <i class="fa fa-bug inline-icon"
               ng-class="{black: host.content.errata_counts.bugfix === 0, yellow: host.content.errata_counts.bugfix > 0}"
               title="{{ 'Bug Fix' | translate }}"></i>
            {{ host.content.errata_counts.bugfix || 0 }}
          </a>
        </span>
      </div>

      <div class="detail">
        <span class="info-label" translate>Enhancement</span>
        <span class="info-value">
          <a ui-sref="content-hosts.details.errata.index({getSearch: 'type=enhancement'})">
            <i class="fa fa-plus-square inline-icon"
               ng-class="{black: host.content.errata_counts.enhancement === 0, yellow: host.content.errata_counts.enhancement > 0}"
               title="{{ 'Enhancement' | translate }}"></i>
            {{ host.content.errata_counts.enhancement || 0 }}
          </a>
        </span>
      </div>
      <div class="divider"></div>
    </section>

    <section>
      <h4 translate>Content Host Content</h4>

      <div class="detail">
        <span class="info-label" translate>Release Version</span>
        <span class="info-value"
              bst-edit-select="host.subscription.release_version"
              readonly="denied('edit_hosts', host)"
              selector="host.subscription.release_version"
              options="releaseVersions()"
              options-format="option for option in options"
              deletable="true"
              on-delete="clearReleaseVersion()"
              on-save="saveSubscriptionFacet(host)"
              on-cancel="cancelReleaseVersionUpdate()">
        </span>
        <div alert type="'info'" ng-show="showVersionAlert">
          <p translate>
            No alternate release version choices are available. The available releases are based upon what is available in "{{ host.content.content_view.name }}", the selected <a href="/content_views">content view</a> this content host is attached to for the given <a href="/lifecycle_environments">lifecycle environment</a>, "{{ host.content.lifecycle_environment.name }}".
          </p>
        </div>
      </div>

      <div class="detail" bst-feature-flag="lifecycle_environments">
        <span class="info-label" translate>Content View</span>
        <span class="info-value"
              bst-edit-select="host.content.content_view.name"
              readonly="denied('edit_hosts', host)"
              selector="host.content.content_view.id"
              options="contentViews()"
              on-cancel="cancelContentViewUpdate()"
              on-save="saveContentView(host)"
              edit-trigger="editContentView">
        </span>
      </div>

      <div class="detail" bst-feature-flag="lifecycle_environments">
        <div alert type="'info'" ng-show="editContentView">
          <p translate ng-show="contentViews.length === 0">
            The host requires being attached to a content view and the environment you have chosen has no content views promoted to it.
            See the <a href="/content_views">content views page</a> to manage and promote a content view.
          </p>
          <p translate ng-show="contentViews.length !== 0">
            You must select a new content view before your change of environment can be saved.
          </p>
          <p translate>
            Use the cancel button on content view selection to revert your environment selection.
          </p>
        </div>
        <span class="info-label" translate>Environment</span>
        <span path-selector="environments"
              ng-model="host.content.lifecycle_environment"
              mode="singleSelect"
              disabled="denied('edit_hosts', host)"
              disable-trigger="disableEnvironmentSelection">
        </span>
      </div>

      <div class="divider"></div>
    </section>

    <section>
      <h4 translate>Content Host Status</h4>

      <div class="detail">
        <span class="info-label" translate>Registered</span>
        <span class="info-value">{{ contentHost.created | date:'short' }}</span>
      </div>

      <div class="detail">
        <span class="info-label" translate> Registered By</span>
        <span class="info-value"
              translate
              ng-show="host.subscription.activation_keys.length == 0">
          {{ contentHost.registered_by }}
        </span>
        <span class="info-value"
              ng-show="host.subscription.activation_keys.length > 0"
              translate
              translate-n="host.subscription.activation_keys.length"
              translate-plural="Activation Keys">
          Activation Key
        </span>
        <span class="info-value">
          <ul ng-show="host.subscription.activation_keys.length > 0">
            <li ng-repeat="activation_key in host.subscription.activation_keys">
              <span>
                <a ui-sref="activation-keys.details.info({activationKeyId: activation_key.id})">
                  {{ activation_key.name }}
                </a>
              </span>
              <span ng-show="activation_key.description"> - {{ activation_key.description }}</span>
            </li>
          </ul>
        </span>
      </div>

      <div class="detail">
        <span class="info-label" translate>Last Checkin</span>
        <span class="info-value">{{ (host.subscription.last_checkin | date:'short') || ("Never checked in" | translate) }}</span>
      </div>

      <div class="divider"></div>
    </section>

    <section>
      <h4 translate>Networking</h4>

      <div class="detail">
        <span class="info-label" translate>Hostname</span>
        <span class="info-value">{{ host.name }}</span>
      </div>

      <div class="detail">
        <span class="info-label" translate>IPv4 Address</span>
        <span class="info-value">{{ host.facts["network::ipv4_address"] }}</span>
      </div>

      <div class="detail">
        <span class="info-label" translate>IPv6 Address</span>
        <span class="info-value">{{ host.facts["network::ipv6_address"] }}</span>
      </div>

      <div class="detail">
        <span class="info-label" translate>Interfaces</span>
        <div class="info-value">
          <div ng-repeat="(interfaceName, interface) in hostFactsAsObject.net.interface" >
            <i ng-class="{'fa fa-plus': !expanded, 'fa fa-minus': expanded}" class="expand-icon"
               ng-hide="editMode" ng-click="expanded = !expanded"></i>
            {{ interfaceName }}
            <div class="sub-detail" ng-show="expanded">
              <div ng-repeat="(key, value) in interface">
                <span class="info-sub-label">{{ key.replace("_", " ") }}:</span>
                <span class="info-sub-value">{{ value }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="divider"></div>
    </section>
  </div>
</section>
