<span page-title ng-model="contentHost">{{ 'Add Subscriptions for Content Host:' | translate }} {{ contentHost.name }}</span>
<div data-extend-template="layouts/details-nutupane.html">
  <div data-block="messages"></div>

  <div data-block="actions">
     <button class="btn btn-primary"
             translate
             ng-hide="denied('edit_content_hosts', contentHost)"
             ng-disabled="disableAddButton()"
             ng-click="addSelected()">
       Add Selected
     </button>
  </div>

  <span data-block="no-rows-message" translate>
      You currently don't have any Products to subscribe to, you can add Products after selecting 'Products' under 'Content' in the main menu
  </span>

  <div data-block="table">
    <table ng-class="{'table-mask': detailsTable.working}"
            class="table table-full table-striped">
       <thead>
         <tr bst-table-head row-select>
           <th bst-table-column="quantity" sortable class="align-center"><span translate>Quantity</span></th>
           <th bst-table-column="attached" sortable><span translate>Attached</span></th>
           <th bst-table-column="type"><span translate>Type</span></th>
           <th bst-table-column="startDate" sortable><span translate>Starts</span></th>
           <th bst-table-column="endDate" sortable><span translate>Expires</span></th>
           <th bst-table-column="supportLevel"><span translate>Support Level</span></th>
           <th bst-table-column="contractNumber" sortable><span translate>Contract</span></th>
           <th bst-table-column="accountNumber" sortable><span translate>Account</span></th>
         </tr>
       </thead>

       <tbody>
         <tr bst-table-row ng-repeat-start="subscription in detailsTable.rows">
          <td class="row-select"></td>
           <td bst-table-cell colspan="8">
             <a href='/subscriptions/{{ subscription.id }}/info'>
              {{ subscription.name }}
             </a>
           </td>
         </tr>
         <tr bst-table-row ng-repeat-end row-select="subscription">
           <td bst-table-cell>
             <span ng-hide="subscription.multi_entitlement">
               1
             </span>
             <select ng-hide="!subscription.multi_entitlement"
                     ng-model="subscription.amount"
                     ng-options="amount for amount in amountSelectorValues(subscription)"
                     >
               <option value="">{{ "Automatic" | translate }}</option>
             </select>
           </td>
           <td bst-table-cell>{{ subscription | subscriptionConsumedFilter }}</td>
           <td bst-table-cell>{{ subscription.type }}</td>
           <td bst-table-cell>{{ subscription.start_date | date:"shortDate" }}</td>
           <td bst-table-cell>{{ subscription.end_date | date:"shortDate" }}</td>
           <td bst-table-cell>{{ subscription.support_level }}</td>
           <td bst-table-cell>{{ subscription.contract_number }}</td>
           <td bst-table-cell>{{ subscription.account_number }}</td>
         </tr>
       </tbody>

     </table>
  </div>
</div>
