<span page-title ng-model="host">{{ 'Content Host' | translate }} {{ host.name }}</span>

<div data-extend-template="layouts/two-column-details.html">
  <div data-block="left-column">
    <h4 translate>Provisioning Host Details</h4>

    <dl class="dl-horizontal dl-horizontal-left">
      <dt translate>Name</dt>
      <dd>
        <a href="/hosts/{{ host.name }}">
          {{ host.name }}
        </a>
      </dd>

      <dt translate>Status</dt>
      <dd>
        <i ng-class="getHostStatusIcon(host.global_status)"></i>
        {{ host.global_status_label | translate }}
      </dd>

      <dt translate>Operating System</dt>
      <dd>{{ host.operatingsystem_name }}</dd>

      <dt translate>Puppet Environment</dt>
      <dd>{{ host.puppet_environment_name }}</dd>

      <dt translate>Last Puppet Report</dt>
      <dd><short-date-time date="host.last_report" /></dd>

      <dt translate>Model</dt>
      <dd>{{ host.model_name }}</dd>

      <dt translate>Host Group</dt>
      <dd>
        <a href="/hostgroups/{{ host.hostgroup_id }}-{{ host.hostgroup_name }}/edit">
          {{ host.hostgroup_name }}
        </a>
      </dd>
    </dl>
  </div>
</div>
