<span page-title ng-model="host">{{ 'Subscriptions for Content Host:' | translate }} {{ host.name }}</span>
<div data-extend-template="layouts/details-nutupane.html">
  <div data-block="messages"></div>

  <span data-block="search">
    <div class="input-group">
      <input type="text"
             class="form-control"
             placeholder="{{ 'Filter' | translate }}"
             ng-model="subscriptionSearch"/>
    </div>
  </span>

  <div data-block="actions">
    <div ng-hide="system.readonly" class="nutupane-actions fr">
       <button class="btn btn-primary"
               translate
               ng-hide="denied('edit_hosts', host)"
               ng-disabled="disableRemoveButton()"
               ng-click="removeSelected()">
         Remove Selected
       </button>
    </div>
  </div>

  <span data-block="no-rows-message" translate>
       You currently don't have any Subscriptions associated with this Content Host, you can add Subscriptions after selecting the 'Add' tab.
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Subscriptions.
  </span>


  <div data-block="table">
    <table ng-class="{'table-mask': detailsTable.working}"
           class="table table-full" >
      <thead>
        <tr bst-table-head row-select>
          <th bst-table-column="quantity" sortable class="align-center"><span translate>Quantity</span></th>
          <th bst-table-column="attached" sortable><span translate>Attached</span></th>
          <th bst-table-column="type"><span translate>Type</span></th>
          <th bst-table-column="startDate" sortable><span translate>Starts</span></th>
          <th bst-table-column="endDate" sortable><span translate>Expires</span></th>
          <th bst-table-column="supportLevel"><span translate>Support Level</span></th>
          <th bst-table-column="contractNumber" sortable><span translate>Contract</span></th>
          <th bst-table-column="accountNumber" sortable><span translate>Account</span></th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat-start="(name, subscriptions) in groupedSubscriptions | groupedFilter: subscriptionSearch">
          <td class="row-select">
            <a href='/subscriptions/{{ subscription.id }}/info' class="confined-text">
              {{ name }}
            </a>
          </td>
          <td bst-table-cell colspan="8"></td>
        </tr>
        <tr class="grey-table-row" bst-table-row ng-repeat-end ng-repeat="subscription in subscriptions" row-select="subscription">
          <td bst-table-cell>{{ subscription.quantity_consumed }}</td>
          <td bst-table-cell>
            <a ui-sref="subscriptions.details.info({subscriptionId: subscription.subscription_id})">
              {{ subscription | subscriptionConsumedFilter }}
            </a>
          </td>
          <td bst-table-cell><div subscription-type="subscription"></div></td>
          <td bst-table-cell>{{ subscription.start_date | date:"shortDate" }}</td>
          <td bst-table-cell>{{ subscription.end_date | date:"shortDate" }}</td>
          <td bst-table-cell>{{ subscription.support_level }}</td>
          <td bst-table-cell>{{ subscription.contract_number }}</td>
          <td bst-table-cell>{{ subscription.account_number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
