.limit-to-environment-label {
  border-right: 1px solid #d1d1d1;
  padding-right: 15px;
  margin-bottom:0.3rem
}

.repository-type-label, .repository-status-label {
  padding-left: 15px;
  font-weight: normal;
  span {
    margin-right: 0.4rem;
  }
}
