.bastion {
  @import "colors";
  @import "systems";
  @import "tasks";
  @import "environments";
  @import "errata";
  @import "subscriptions";
  @import "host_subscriptions";

  a {
    &.confined-text {
      white-space: nowrap;
    }
  }

  .center-paragraph {
    text-align: center;
  }

  .center-header {
    text-align: center;
  }
  .ellipsis-column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .preserve-newlines {
    white-space: pre-line;
  }
}

.list-aligned {
  list-style-position: inside;
}
