.bastion {
  @import "colors";
  @import "systems";
  @import "tasks";
  @import "environments";
  @import "errata";
  @import "subscriptions";
  @import "host_subscriptions";
  @import "docker";

  a {
    &.confined-text {
      white-space: nowrap;
    }
  }

  .center-paragraph {
    text-align: center;
  }

  .center-header {
    text-align: center;
  }
  .ellipsis-column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .preserve-newlines {
    white-space: pre-line;
  }
}

.overflow-span {
  max-height:20em;
  overflow:auto;
}
.list-aligned {
  list-style-position: inside;
}

.bottom-padded-content {
  padding-bottom: 10%;
}

.modal-body .uib-time input {
  width: 100%;
  padding-right: 6px;
}

.drop-down-check-box {
  margin-left: 10px
};

.cursor-pointer {
  cursor: pointer;
}

.kat-clearfix::after {
  clear: both;
}

.kat-inline {
  float: left;
  padding-right: 5px;
}

.popover-large {
  max-width: 100%;
}