@import "bastion/variables";

.registry-image-tag {
    border: 1px solid #ccc;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    margin-left: 2px;
    text-align: center;
    font-weight: normal;
    display: inline;
    padding: 0 5px;
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
}
