@import "bastion/variables";

tr.row-selector-label {
  td {
    &.row-select {
      border-right: 0;
    }
    &:last-of-type {
      border-left: 0;
      position: relative;
      left: -$row-select-width;
    }
  }
}
