:javascript
.grid_16
  %h2 #{_("New Sync Plan")}
  #plan
    = form_for @plan, :html => {:method => :post, :id => 'new_sync_plan'}, :url => sync_plans_path do |f|
      = render :partial => 'form', :locals => { :form =>f }
