// Scoped styles for SetOrganization component
#select-org {
  margin-top: 30px;

  .pf-v5-c-card__body {
    padding: var(--pf-v5-global--spacer--lg);
  }

  // Remove row-gap to match PF3 spacing
  .pf-v5-c-form {
    row-gap: 0;
  }
}
