#manifest-history-tabs {
  .form-horizontal {
    padding-left: 40px;
    padding-right: 20px;
  }

  form .row {
    margin-left: -15px;
  }

  span.pficon.pficon-info {
    margin: 0 5px 0 5px;
  }

  #simple-content-access {
    padding-bottom: 40px;

    .sca-label {
      float: left;
      text-align: left;
    }
  }

  .manifest-actions {
    .spinner {
      margin: 5px 15px 12px 5px;
    }
  }
  .manifest-actions > * {
    margin: 10px 5px 0 0 ;
  }
  
  #manifest-actions-row {
    display: flex;
    flex-direction: row;
    & > * {
      margin-right: 8px;
    }
  }
  
  .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
  }
  
}
