#manifest-history-tabs {
  .manifest-actions {
    .pf-v5-c-spinner {
      margin: 5px 15px 12px 5px;
    }
  }

  .manifest-actions > * {
    margin: 10px 5px 0 0;
  }

  #manifest-actions-row {
    display: flex;
    flex-direction: row;

    & > * {
      margin-right: 8px;
    }
  }
}
