.manifest-actions > * {
  margin: 10px 5px 0 0 ;
}

#manifest-actions-row {
  display: flex;
  flex-direction: row;
  & > * {
    margin-right: 8px;
  }
}

.modal-body {
  overflow-y: auto;
  overflow-x: hidden;
}
