%br
%br
.panel_action{'data-id'=>"remove_systems", 'data-url'=>bulk_destroy_systems_path(), 'data-method'=>"DELETE"}
  %a
    #{_("Remove Systems")}
  .options
    %div
      #{_("Are you sure you want to delete the selected systems?")}
    %input.cancel.button{:type=>"button", :value=>_('Cancel')}
    %input.trigger.button{:type=>"button", :value=>_('Remove') }

            