.block.tall{:id => "#{name}_#{item.send(accessor)}", "data-ajax_url" => url_for(:action=> @panel_options[:initial_action], :id => item.send(accessor))}
  = render :partial=>"systems/list_system_show", :locals=>{:item => item}

