-if defined? envsys
  .grid_16
    = environment_selector(:locker_clickable=>false, :accessible_envs=>accessible_envs,  :url_proc => lambda {|a| environments_systems_path(:env_id =>a[:environment].id )})

.grid_16#main
  = two_panel(@systems, @panel_options)

= javascript :env_select, :edit, :multiselect, :system, :treetable
= include_editable_i18n