= javascript 'systems/systems.controller', 'widgets/nutupane', 'components/scrollWithPage.directive.js', 'components/inline_edit.directive', 'components/input.directive'
= stylesheet 'widgets/nutupane'

%div{ 'ng-controller' => 'SystemsController' }
  %h1
    = _("Systems")
  %div{ 'alch-table-toolbar' => 'table' }
  %table#nutupane-table.table.stable.stripe-row{ 'alch-table' => 'table', 'row-select' => 'true', 'ng-class' => '{ "table-mask" : table.working, "details-visible": !table.visible}' }
  %span.nutupane-details.panel#nutupane-details{ 'nutupane-details'=>'table.visible', 'model'=>'table', 'ng-class' => '{ "nutupane-details-open" : !table.visible }' }
