<div class="details fl gpg-details" >
  <div class="detail">
    <span class="info-label" translate>Name</span>
    <span class="info-value"
          bst-edit-text="gpgKey.name"
          on-save="save(gpgKey)"
          readonly="denied('edit_gpg_keys', gpgKey)">
    </span>
  </div>
  <div class="detail" ng-if="permitted('edit_gpg_keys', gpgKey)">
    <span class="info-label" translate>Upload GPG Key</span>
    <span class="info-value">
        <form role="form"
              action="{{ uploadURL }}"
              ng-upload="uploadContent(content)"
              upload-options-enable-controls
              upload-options-enable-rails-csrf>

          <div class="form-group">
              <input type="file" name="content"/>
          </div>
          <div class="form-group">
            <button class="btn btn-default" upload-submit ng-click="progress.uploading = true">
              <i class="fa fa-spinner fa-spin" ng-show="progress.uploading"></i>
              <span ng-show="progress.uploading" translate>Uploading...</span>
              <span ng-hide="progress.uploading" translate>Upload</span>
            </button>
          </div>
        </form>
    </span>
  </div>

  <div class="detail">
    <span class="info-label" translate>Content</span>
    <span class="gpg-bst-edit info-value"
        bst-edit-textarea="gpgKey.content"
        readonly="denied('edit_gpg_keys', gpgKey)"
        on-save="save(gpgKey)">
     </span>
  </div>

</div>
