<span page-title ng-model="gpgKey">{{ 'Repositories for ' | translate }} {{ gpgKey.name }}</span>

<div data-extend-template="layouts/partials/table.html">
  <span data-block="no-rows-message" translate>
    You currently don't have any Products associated with this GPG Key.
  </span>

  <div data-block="table">
    <table bst-table="table" class="table table-striped">
      <thead>
        <tr bst-table-head>
          <th bst-table-column="name" sortable><span translate>Name</span></th>
          <th bst-table-column class="number-cell" translate>Repositories</th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="product in table.rows">
          <td bst-table-cell>
            <a ui-sref="product.info({productId: product.id})">
              {{ product.name }}
            </a>
          </td>
          <td bst-table-cell class="number-cell">
            <a ui-sref="product.repositories({productId: product.id})">
              {{ product.repository_count }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
