<div data-extend-template="layouts/details-page-with-breadcrumbs.html">
  <header data-block="header">
    <h2 translate>{{ gpgKey.name }}</h2>
  </header>

  <div data-block="item-actions">
    <div class="dropdown dropdown-kebab-pf pull-right" uib-dropdown keyboard-nav bst-feature-flag="custom_products">
      <button class="btn btn-link" uib-dropdown-toggle>
        <span class="fa fa-ellipsis-v"></span>
      </button>

      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu ng-hide="denied('destroy_gpg_keys', gpgKey)" role="menu">
        <li role="menuitem">
          <a ng-click="openModal()" translate>
            Remove GPG Key
          </a>
        </li>
      </ul>
    </div>

    <div bst-modal="removeGPGKey(gpgKey)" model="gpgKey">
      <div data-block="modal-header" translate>Remove GPG Key {{ gpgKey.name }}</div>
      <div data-block="modal-body" translate>Are you sure you want to remove GPG key {{ gpgKey.name }}?</div>
    </div>
  </div>

  <nav data-block="navigation">
    <ul class="nav nav-tabs details-nav">
      <li ng-class="{active: isState('gpg-key.info')}">
        <a ui-sref="gpg-key.info" translate>Details</a>
      </li>

      <li ng-class="{active: stateIncludes('gpg-key.products')}">
        <a ui-sref="gpg-key.products" translate>Products</a>
      </li>

      <li ng-class="{active: stateIncludes('gpg-key.repositories')}">
        <a ui-sref="gpg-key.repositories" translate>Repositories</a>
      </li>
    </ul>
  </nav>

  <div data-block="content">
    <section ui-view></section>
  </div>
</div>