<nav>
  <ul class="nav nav-tabs">
    <li ng-class="{active: isState('content-view-details.puppet-modules.list')}">
      <a ui-sref="system-groups.details.systems.list">
        <span translate>
          Added Modules
        </span>
      </a>
    </li>

    <li ng-class="{active: stateIncludes('content-view-details.puppet-modules.add')}" ng-show="contentView.permissions.editable">
      <a ui-sref="content-view-details.puppet-modules.add">
        <span translate>
          Available Modules
        </span>
      </a>
    </li>
  </ul>
</nav>

<div ui-view></div>
