<nav>
  <ul class="nav nav-tabs">
    <li ng-class="{active: isState('content-views-details.products.list')}">
      <a ui-sref="content-views-details.products.list">
        <span translate>
          Added
        </span>
      </a>
    </li>

    <li ng-class="{active: isState('content-views-details.products.available')}" ng-show="contentView.permissions.editable">
      <a ui-sref="content-views-details.products.available">
        <span translate>
          Available
        </span>
      </a>
    </li>
  </ul>
</nav>

<div class="details details-full">

  <div class="details-header col-sm-12">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-offset-6" translate>Filter By Product</label>
    
        <div class="col-sm-4">
          <select class="form-control" ng-model="product" ng-options="product.name for (id, product) in products">
            <option></option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="details-header col-sm-12">
    <div class="">
      <input type="text"
             class="form-control filter-input"
             placeholder="{{ 'Filter' | translate }}"
             ng-model="repositorySearch"/>
    </div>

    <button class="btn btn-primary fr" ng-show="isState('content-views-details.products.list')" ng-click="removeRepositories()">
      <i class="icon-trash"></i>
      Remove Repositories
    </button>
    <button class="btn btn-primary fr" ng-show="isState('content-views-details.products.available')" ng-click="addRepositories()">
      <i class="icon-plus"></i>
      Add Repositories
    </button>
  </div>

  <div class="col-sm-12">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="row-select"><input type="checkbox" ng-model="allSelected" ng-change="selectAll(allSelected)"/></th>
          <th translate>Name</th>
          <th translate>Product</th>
          <th translate>Last Sync</th>
          <th translate>Sync State</th>
          <th translate>Packages</th>
          <th translate>Errata</th>
          <th translate>Puppet Modules</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="repository in repositories | filter:repositoryFilter" row-select>
          <td class="row-select"><input type="checkbox" ng-model="repository.selected"/></td>
          <td>{{ repository.name }}</td>
          <td>{{ repository.product.name }}</td>
          <td>
            <span ng-show="repository.feed">
              {{ repository.last_sync | date:"short" }}
            </span>
            <span ng-hide="repository.feed" translate>N/A</span>
          </td>
          <td>
            <span ng-show="repository.feed">
              <a href="sync_management/index">{{ repository.sync_state }}</a>
            </span>
            <span ng-hide="repository.feed" translate>N/A</span>
          </td>
          <td class="number-cell">
            <a ng-href="/katello/content_search#/!=&search[subgrid][repo_id]={{ repository.id }}&search[subgrid][type]=repo_packages">
              {{ repository.content_counts.rpm || 0 }}
            </a>
          </td>
          <td class="number-cell">
            <a ng-href="/katello/content_search#/!=&search[subgrid][repo_id]={{ repository.id }}&search[subgrid][type]=repo_errata">
            {{ repository.content_counts.erratum || 0 }}
            </a>
          </td>
          <td class="number-cell">
            <a ng-href="/katello/content_search#/!=&search[subgrid][repo_id]={{ repository.id }}&search[subgrid][type]=repo_puppet_modules">
            {{ repository.content_counts.puppet_module || 0 }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
