<div class="details details-full">

  <div class="details-header">
    <input type="text"
           class="form-control filter-input"
           placeholder="{{ 'Filter' | translate }}"
           ng-model="repositorySearch"/>
  </div>

  <table alch-table="table" class="table table-striped table-bordered" ng-class="{'table-mask': table.working}">
    <thead>
      <tr alch-table-head row-select>
        <th alch-table-column>{{ "Version" | translate }}</th>
        <th alch-table-column>{{ "Promoted" | translate }}</th>
        <th alch-table-column>{{ "Environments" | translate }}</th>
        <th alch-table-column>{{ "Repositories" | translate }}</th>
        <th alch-table-column>{{ "Packages" | translate }}</th>
        <th alch-table-column>{{ "Puppet Modules" | translate }}</th>
        <th alch-table-column>{{ "Errata" | translate }}</th>
        <th alch-table-column>{{ "Author" | translate }}</th>
        <th alch-table-column>{{ "Promote" | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <tr alch-table-row ng-repeat="version in contentView.versions" row-select="version">
        <td alch-table-cell translate>Version {{ version.version }}</td>
        <td alch-table-cell>{{ version.promoted | date:"medium" }}</td>
        <td alch-table-cell>
          <li ng-repeat="environment in version.environments">
            {{ environment.name }}
          </li>
        </td>
        <td alch-table-cell class="number-cell">{{ version.counts.repositories }}</td>
        <td alch-table-cell class="number-cell">{{ version.counts.packages }}</td>
        <td alch-table-cell class="number-cell">{{ version.counts.puppet_modules }}</td>
        <td alch-table-cell>
          <span><i class="icon-warning-sign inline-icon"></i>{{ version.counts.errata.security }}</span>
          <span><i class="icon-bug inline-icon"></i>{{ version.counts.errata.bugs }}</span>
          <span><i class="icon-plus-sign-alt inline-icon"></i>{{ version.counts.errata.enhancements }}</span>
        </td>
        <td alch-table-cell>{{ version.user }}</td>
        <td>
          <a ui-sref="content-views-details.promotion({contentViewId: contentView.id, versionId: version.id})">
            <i class="icon-share-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
