<div>

  <h3 translate>Promote to Next Environment</h3>

  <p class="details" translate>
    Choose one or more lifecycle environments from the existing promotion paths
    available in '{{ currentOrganization }}'.
  </p>

  <div path-selector="availableEnvironments"
       ng-model="selectedEnvironment"
       mode="singleSelect"
       path-attribute="environments"
       enabled-check="enabledCheck(item)"></div>

  <div>
    <button class="btn btn-primary btn-lg" ng-click="promote()" translate>
      Promote Version
    </button>

    <a ui-sref="content-views.details.versions" class="btn btn-default btn-lg"  translate role="button">
      Cancel
    </a>
  </div>

</div>
