<section class="nutupane-details" ng-cloak alch-container-scroll>

  <header class="details-header">
    <h2>{{ contentView.name }}</h2>

    <div class="col-sm-12">
      <div class="fr">
        <button class="btn btn-primary" ui-sref="content-views.details.publish">
          <i class="icon-paste"></i>
          {{ "Publish New Version" | translate }}
        </button>

        <button ng-hide="true" class="btn btn-default" ui-sref="content-views.details.clone">
          <i class="icon-copy"></i>
          {{ "Clone View" | translate }}
        </button>

        <button ng-hide="true" class="btn btn-default" ui-sref="content-views.index">
          <i class="icon-trash"></i>
          {{ "Remove View" | translate }}
        </button>

        <button class="btn btn-default" ui-sref="content-views.index">
          <i class="icon-remove"></i>
          {{ "Close" | translate }}
        </button>
      </div>

    </div>
  </header>

  <nav class="details-navigation">
    <ul>
      <li ng-class="{active: isState('content-views.details.versions')}">
        <a ui-sref="content-views.details.versions" translate>
          Versions
        </a>
      </li>

      <li ng-class="{active: stateIncludes('content-views.details.repositories')}">
        <a ui-sref="content-views.details.repositories.list" translate>
          Repositories
        </a>
      </li>

      <li ng-hide="true" ng-class="{active: stateIncludes('content-views.details.filters')}">
        <a ui-sref="content-views.details.filters.list" translate>
          Package/Errata Filters
        </a>
      </li>

      <li ng-hide="true" ng-class="{active: isState('content-views.details.puppet-modules')}">
        <a ui-sref="content-views.details.puppet-modules" translate>
          Puppet Modules
        </a>
      </li>

      <li ng-class="{active: isState('content-views.details.info')}">
        <a ui-sref="content-views.details.info" translate>
          Details
        </a>
      </li>
    </ul>
  </nav>

  <div alch-alert success-messages="successMessages" error-messages="errorMessages"></div>
  <div ui-view></div>

</section>
