@import "katello/katello_colors";
@import "katello/katello_vars";
@import "compass";

#orgSwitcherNav {
  margin-left: 20px;
  height: 40px;
  border-right: 1px solid lighten($nav-header_background, 10%);

  .favorite {
    margin-left: 10px;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
    z-index: 1;
  }

  .org-link {
    text-decoration: none;
    width: 83%;
    display: block;
    float: left;
  }

  .organization-name {
    font-size: 1.25em;
  }

  #manage_orgs a span:hover {
    text-decoration: underline;
  }

  .default_org {
    display: none;
  }

  .dropdown li:hover .dropdown-menu-item-link {
    color: #000;
  }

  #organizationSwitcher {
    .spinner {
      background: $spinner_img;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 35%;
    }

    #allowed-orgs {
      height: 250px;
      overflow: auto;
      min-width: 220px;
    }

    .menu-item-link.clickable {
      cursor: pointer;
    }
    .dropdown-menu-item-link:hover {
      text-decoration: none;
      color: white;
    }
    .menu-item-link:hover:not(.active-item) {
      background: transparent;
      border: none;
      box-shadow: none;
    }

    #manage_orgs {
      width: 100%;
      @include background-image(linear-gradient(#F7F7F7, #EEEEEE));
    }

    #manage_orgs a {
      font-size: 0.8em;
      color: $link-border_color;
      font-weight: bold;
      padding-left: 10px;
    }

    .dropdown .dropdown-item {
      .dropdown-item-link {
        padding-left: 5px;

        &:hover {
          background: $dropdown-link-hover_background;

          .org-link {
            color: white;
          }
        }
      }
    }

  }
}
