@import "katello/katello_base";


/* override some of the jQuery UI stuff */
.ui-widget-header {
    font-family: $headlinefont;
    border: 0 none;
}
.ui-widget-content {
    border: 0 none;
    table {
         border: 1px solid $stroke_color !important;
    }
}

.ui-tabs {
  padding: 0px;
  .ui-tabs-nav {
    background: $lightergrey_color;
    a {
      cursor: pointer;
      text-transform: none;
      text-decoration: none;
      @include text-shadow(0 1px 0 rgba($white_color, 1));
      display: block;
      margin: 0;
      padding: 8px 16px 6px;
      color: $taboff_color;
      float: left;
      font-weight: bold;
      &.selected {
        color: $tabon_color;
        font-weight: bold;
        border-bottom: 3px solid $kselected_color;
        padding-bottom: 3px;
      }

      &:hover { color: lighten($kselected_color,10%); }
    }
  }
  .ui-tabs-panel {
    padding: 0px;
    table {
      margin: 0px;
      width: 100%;
    }
    border: 1px solid $border_color;
  }
  .ui-tabs-selected a {
    cursor: pointer;
    text-transform: none;
    text-decoration: none;
    @include text-shadow(0 1px 0 rgba($white_color, 1));
    display: block;
    margin: 0;
    float: left;
    color: $tabon_color;
    font-weight: bold;
  }

  .icon_wrap {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 16px;
    height: 16px;
    //overflow: none;
    margin-right: 15px;

  }
  .success_icon {
    width: 16px;
    height: 16px;
    @include action-icon($check_icon_black);
    margin-left: 0px;
  }

  .failure_icon {
    width: 16px;
    height: 16px;
    @include action-icon($error_icon_black);
    margin-left: 0px;
  }
}
