= include_javascripts :notices

- if current_user

  :javascript
    $(document).ready(function(){
      notices.setup_notices(#{notification_polling_time});
      notices.addNotices($.parseJSON( "#{escape_javascript(get_new_notices.to_json)}"   ));
    });
