/ orgbox Starts Here
#switcherContainer.clickable
  %a#switcherButton{:href => "#"}
    #{current_organization.name}
  .arrow_icon_menu
  %div{:style => "clear:both"}
  #switcherBox
    #switcherForm.org
      #orgfilter
        %form.filter
          %input{ :name => "f", :type => "input", :placeholder => _("Filter..."), :id=>"orgfilter_input"}
          %div.filter_button #{_("Filter")}
      #orgbox{"data-url"=>allowed_orgs_user_session_path}
        /Orgs pulled from above data-url dynamically each click.
        .spinner
/ orgbox Ends Here
