<section>
  <div class="details">
    <h4 translate>Red Hat Provider Details</h4>

    <div class="detail">
      <span class="info-label" translate>Red Hat CDN URL</span>
      <span class="info-value"
        bst-edit-text="organization.redhat_repository_url"
        on-save="saveCdnUrl(organization)"
        readonly="organization.readonly">
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Red Hat Docker Registry URL</span>
      <span class="info-value"
        bst-edit-text="organization.redhat_docker_registry_url"
        on-save="saveCdnUrl(organization)"
        readonly="organization.readonly">
      </span>
    </div>

  </div>
</section>

<section>
  <div class="details">
    <h4 translate>Subscription Manifest</h4>

    <div class="detail">
      <span class="info-label" translate>Upstream Subscription Managment Application</span>
      <span class="info-value" ng-show="upstream.uuid != undefined">
        <a href="{{ manifestLink }}" target="_blank">{{ manifestName }}</a>
      </span>
      <span class="info-value" ng-show="upstream.uuid == undefined" translate>No subscription manifest imported</span>
    </div>

    <div class="detail pull-left" ng-show="upstream != null">
      <button class="btn btn-default"
              ng-hide="denied('delete_manifest')"
              ng-click="deleteManifest()">
         <i class="fa fa-spinner fa-spin" ng-show="deleteTask.pending"></i>
          <span ng-show="deleteTask.pending" translate>Deleting Manifest...</span>
          <span ng-hide="deleteTask.pending" translate>Delete Manifest</span>
      </button>
      <button class="btn btn-default" ng-disabled="upstream.idCert == undefined || upstream.idCert.cert == undefined"
        ng-click="refreshManifest()">
         <i class="fa fa-spinner fa-spin" ng-show="refreshTask.pending"></i>
          <span ng-show="refreshTask.pending" translate>Refreshing Manifest...</span>
          <span ng-hide="refreshTask.pending" translate>Refresh Manifest</span>
      </button>
      <span ng-show="upstream.idCert == undefined || upstream.idCert.cert == undefined"
        translate>
        Refreshing manifest not suppported by this manifest.
      </span>
    </div>
  </div>
</section>

<section>
  <div bst-alerts error-messages="uploadErrorMessages"></div>

  <form role="form"
        action="{{ uploadURL }}"
        ng-upload="uploadManifest(content, completed)"
        ng-hide="denied('import_manifest')"
        upload-options-enable-controls
        upload-options-enable-rails-csrf>

    <div class="form-group">
      <label for="manifestUpload" translate>Upload New Manifest</label>
      <input id="manifestUpload" type="file" name="content"/>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" upload-submit>
        <i class="fa fa-spinner fa-spin" ng-show="task.pending"></i>
        <span ng-show="task.pending" translate>Uploading...</span>
        <span ng-hide="task.pending" translate>Upload</span>
      </button>
    </div>

  </form>

</section>

<section>
  <h4 translate>Manifest History</h4>

  <div ng-include="'subscriptions/manifest/views/manifest-import-history.html'"></div>

  <a ui-sref="subscriptions.manifest.history()" ng-show="showHistoryMoreLink" translate>More...</a>
</section>
