<section>
  <div class="details">
    <h4 translate>Red Hat Provider Details</h4>

    <div class="detail">
      <span class="info-label" translate>Red Hat CDN URL</span>
      <span class="info-value"
        bst-edit-text="organization.redhat_repository_url"
        on-save="saveCdnUrl(organization)"
        readonly="organization.readonly">
      </span>
    </div>
  </div>
</section>

<section>
  <div class="details">
    <h4 translate>Subscription Manifest</h4>

    <div ng-show="isTaskPending()">
      <a ng-href="/foreman_tasks/tasks/{{ task.id }}">

        <div ng-class="{ active: isTaskPending() }"
             class="progress progress-striped">
          <span uib-progressbar animate="false" value="task.progressbar.value" type="{{task.progressbar.type}}"></span>
        </div>
      </a>
      {{ taskStatusText }}
    </div>

    <div class="detail">
      <span class="info-label" translate>Upstream Subscription Management Application</span>
      <span class="info-value" ng-show="upstream.uuid != undefined">
        <a href="{{ manifestLink }}" target="_blank">{{ manifestName }}</a>
      </span>
      <span class="info-value" ng-show="upstream.uuid == undefined" translate>No subscription manifest imported</span>
    </div>

    <div class="detail pull-left" ng-show="upstream != null">
      <button type="button" class="btn btn-default" ng-disabled="isTaskPending()"
              ng-hide="denied('delete_manifest')"
              ng-click="openModal()">
         <span bst-modal="deleteManifest()" template-url="subscriptions/manifest/views/manifest-delete-modal.html"></span>
          <span translate>Delete Manifest</span>
      </button>
      <button type="button" class="btn btn-default" ng-disabled="manifestRefreshDisabled()"
        ng-click="refreshManifest()">
          <span translate>Refresh Manifest</span>
      </button>
      <span ng-show="upstream.idCert == undefined || upstream.idCert.cert == undefined" translate>
        Refreshing manifest not supported by this manifest.
      </span>
    </div>
  </div>
</section>

<section>
  <form role="form"
        action="{{ uploadURL }}"
        ng-upload="uploadManifest(content, completed)"
        error-catcher="uploadError(error, content)"
        ng-hide="denied('import_manifest')"
        upload-options-enable-controls
        upload-options-enable-rails-csrf>

    <div class="form-group">
      <label for="manifestUpload" translate>Upload New Manifest</label>
      <input id="manifestUpload" type="file" name="content"/>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-primary" ng-disabled="isTaskPending()" upload-submit>
        <span translate>Upload</span>
      </button>
    </div>

  </form>

  <div bst-alert="info" ng-if="details.virt_who">
    <span translate>
      The uploaded manifest contains subscriptions that require the use of virt-who. Learn how to configure and use this tool at the <a href="https://access.redhat.com/articles/subscription-management-satellite-6">Subscription Management Home Page</a>.
    </span>
  </div>
</section>

<section>
  <h4 translate>Manifest History</h4>

  <div ng-include="'subscriptions/manifest/views/manifest-import-history.html'"></div>

  <a ui-sref="subscriptions-manifest.history" ng-show="showHistoryMoreLink" translate>More...</a>
</section>
