<p bst-alert="info" ng-show="table.rows.length === 0">
  <span translate>
    You currently don't have any Host Collections, you can add Host Collections using the button on the right.
  </span>
</p>
<table class="table table-striped" 
       ng-class="{'table-mask': table.working}"
       ng-show="table.rows.length > 0">
  <thead>
    <tr bst-table-head>
      <th bst-table-column="name" sortable><span translate>Name</span></th>
      <th bst-table-column="content-hosts"><span translate>Content Hosts</span></th>
      <th bst-table-column="limit"><span translate>Limit</span></th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row ng-repeat="hostCollection in table.rows">
      <td bst-table-cell>
        <a ui-sref="host-collections.details.info({hostCollectionId: hostCollection.id})">
          {{ hostCollection.name }}
        </a>
        <i class="fa fa-chevron-right selected-icon" ng-show="hostCollection.selected"></i>
      </td>
      <td bst-table-cell>
        <a ui-sref="host-collections.details.content-hosts.list({hostCollectionId: hostCollection.id})">
          {{ hostCollection.total_content_hosts }}
        </a>
      </td>
      <td bst-table-cell>{{ hostCollection.max_content_hosts | unlimitedFilter:hostCollection.unlimited_content_hosts }}</td>
    </tr>
  </tbody>
</table>
