#apply_default_info_button_container #apply_default_info_button, #default_info_table {
    max-width: 260px;
}

.custom_info_txt {
    width: 98%;
}

.fullwidth {
    width: 100%;
}

.custom_info_row {

    td:nth-child(1) {
        width: 196px;
        max-width: 196px;
        min-width: 196px;
    }

    td:nth-child(2) {
        width: 196px;
        max-width: 196px;
        min-width: 196px;
    }

    td:nth-child(3) {
        width: 76px;
        max-width: 76px;
    }

}
