@import "ui_alchemy/alchemy/alchemy";
@import "alchemy-header/header";

.logo-header {
  .menu-item {
    a { color: white; }
  }
}

.fade-in-down, .fade-in-bottom{
-webkit-animation: fade-in-down .9s ease 0;
   -moz-animation: fade-in-down .9s ease 0;
    -ms-animation: fade-in-down .9s ease 0;
     -o-animation: fade-in-down .9s ease 0;
    animation: fade-in-down .9s ease 0;
}

.flyout {
  min-width: 230px;
}

.icon {
  margin: 2px 4px;
}

.menu-item-notices .menu-item {
  .menu-item-link {
    padding: 0 10px;
  }
}

.admin_menu .menu-item {
  .menu-item-link {
    padding: 0 10px;
  }
}

.dropdown-menu-item-link, .flyout li a {
  font-family: "Liberation Sans", sans-serif;
}

.menu-container {
  padding: 0;
}
