@import "ui_alchemy/alchemy/alchemy";
@import "alchemy-header/header";

.fade-in-down, .fade-in-bottom{
-webkit-animation: fade-in-down .9s ease 0;
   -moz-animation: fade-in-down .9s ease 0;
    -ms-animation: fade-in-down .9s ease 0;
     -o-animation: fade-in-down .9s ease 0;
    animation: fade-in-down .9s ease 0;
}

.flyout {
  min-width: 200px;
}

.dropdown {
  min-width: 180px;
}

.menu-item-notices .menu-item {
  .menu-item-link {
    padding: 0 10px;
  }
}

.admin_menu .menu-item {
  .menu-item-link {
    padding: 0 10px;
  }
}

.dropdown-item-link, .flyout li a {
  font-family: "Liberation Sans", sans-serif;
}

.dropdown-item-link, .flyout li a {
  font-family: "Liberation Sans", sans-serif;
}

.menu-container {
  padding: 0;
}

.gravatar {
  height: 25px;
  width:  30px;
  float: left;
}

.gravatar-span {
  line-height: 1;
  vertical-align: bottom;
}
