@import "katello";
@import "alchemy/components/normalize";
@import "alchemy-forms/forms";
@import "alchemy-buttons/buttons";

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: none;
}
article {
  min-height: 710px;
}

body > footer {
  margin-top: 0;
  height: 20%;
}

.maincontent {
  margin-top: 0;
  padding-top: 20px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

#experimental_indicator {
  position: absolute;
  color: rgb(255, 196, 90);
  top: 3px;
  left: 132px;
  font-family: Overpass;
}

.editable {
  padding: 0;
}

input {
  background: white;
}

.editable {
  background: $edit_icon;
  cursor: pointer;
  cursor: hand;
  border-radius: 0;

  &:hover {
    background: $edit_hover_icon;
  }
}

.value {
  padding-left: 10px !important;
}
