@import "compass/reset";
@import "overrides";

$login_background_top_color: lighten($primary_color, 10%) !default;
$login_background_bottom-color: darken($primary_color, 10%) !default;

$switcherformwidth: 300px;

@import "alchemy/composites/login";
@import "widgets/_org_switcher";
@import "widgets/search";
@import "widgets/scrollpane";
@import "katello_base";

@import "jquery.jscrollpane";

//interstitial container
#interstitial {
  h2 {
    padding-bottom: 10px;
  }
  left: 360px;
  padding: 20px;
}

#allowed-orgs {
  height: 200px;
  line-height: 2em;
  overflow: auto;
  width: 100%;

  input.default_org {
    display: none;
  }
  span.favorite {
    display: none;
  }
}

//card/form spinner
.spinner {
  margin: 0 auto;
  margin-top: 10%;
  height: 16px;
  width: 16px;
  display: block;
  position: relative;
  z-index: 1000;
  background: $spinner_img;
}

.fl {
  float: left;
}

//* ugly IE8 specific hacks for the border to look decent/*/
@media \0screen {
  .container {
    padding: 0 !important;
  }
}

body > footer {
  display: none;
}

.login-version {
  color:white;
  margin-left: 15px;
}
@import "look";
