@import "katello_base";

#operations {
  .panel-custom {
    @extend .panel;
    overflow-y: none;
    border: none;
    background-color: transparent;
    
    #panel_main { margin: 0; }
    h5 { font-size: 125%; }
    label {
      margin-top: 6px;
    }
  }

  .roles-selected-border {
    border: 2px solid $kselected_color;
  }
  #roles_tree {
    .close { right: 40px; top: 12px; }
    #global{ color: $global_permission_color; }
    #remove_role { a { color: $black_color; } }
    .breadcrumb_filter { border: none; }
    
    .cs_action { 
       border-left: none;
       border-bottom: none;
       border-right: 1px solid #B5B5B5;
       margin-right: 0px;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
     }
     .cs_action:last-child { width: 161px;  border-right: none; }
    
    .block { 
      width: 35px; 
      border-bottom: none; 
      height: 20px; 
      
      &:hover { background: inherit; color: $kselected_color; }
    }
    
    .sliding_container { 
      background: $white_color;
      border-right: none;
      border-left: none; 
      
      .slider { overflow-y: auto; height: 450px;} 
    }
    
    .permission_detail {
      border-bottom: 2px solid $tree-border_color;
      
      .permission_detail_container { 
        width: 100%;
        min-height: 24px;
        overflow: auto;
        margin: 3px 0;
        
        ul {
          float: left;
         
          li {
            height: 17px;
            border: none;
            padding: 0;
            cursor: auto;
            
            &:hover { background: none; }
          }
        }
      }
    }
    
    #roles_status {
      border-bottom: 1px solid $tree-border_color;
      margin-top: -1px;
      //height: 2em;
      padding: 0.4em 0 0 0;
      text-align: center;
    }
    #add_permission_icon {
      @include action-icon($add_icon_black);
    }
    #edit_icon {
      @include action-icon($edit_icon_black);
    }
    #remove_role_icon {
      @include action-icon($circle_x_icon_black);
    }
    #placeholder {
      width: 25.2%;
      cursor: auto;
      
      &:hover { background: $tree-container_color; }
    }

    
    .slide_up_container {
      bottom: 33px;    
      left: 1px;
    }
    
    #permission_widget {
      height: 470px;
      overflow: auto;
      
      .validation_error { color: $validation_error_color; font-weight: 600; font-size: 110%; }
      .input_error { border: 2px solid $validation_error_color; }
      .info_text { margin-left: 15px; }
      input { width: 175px; }
      .active-step { color: $kselected_color; }
      h5 { font-size: 135%; margin-left: 0px; }
      h2 { margin: 10px 15px 0 15px; height: 30px; padding: 0;}
      
      #progressbar_container {
        margin: 0 15px;
        padding: 3px 0;
        border-top: 2px solid $tree-border-color;
        border-bottom: 2px solid $tree-border-color;
        height: 40px;
        
        h3 { font-size: 130%; margin-top: 8px; }
        
        #progressbar {
          margin: 5px 0 0 90px;
        }
      }
      
      .permission_widget_container { 
        width: 90%;
        margin: 10px auto;
        overflow: auto; 
        
        label { 
          width: 100px; 
        }
        input, textarea {
          margin-left: 15px;
        }
        select {
          margin-left: 15px;
          min-width: 200px;
        }
        span {
          margin: 2px 5px 0 5px;
        }
        .button {
          margin-top: 0;
        } 
      }
    
      span { word-wrap: break-word; }
    
      #permission_button_bar {
        width: 90%;
        margin: 0 auto 10px auto;
      }
    }
  }
  #maincontent {
    min-height: 675px;
  }
}
