.cs_template_code pre {
  border: 0px !important;
}

.cs_alert {
  margin-bottom: 40px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.set-select-width {
  width: 65%;
}

.content_source_form {
  max-width: 65%;
}

#ccs-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// Content view environments label should not show pointer cursor
.content_source_form .pf-v5-c-form__group .pf-v5-c-form__label[for="content-view-environments"] {
  cursor: default;
}

.content_source_form .pf-v5-c-form__group .pf-v5-c-form__label[for="content-view-environments"] * {
  cursor: default;
}