.cs_template_code pre {
  border: 0px !important;
}

.cs_alert {
  margin-bottom: 40px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.set-select-width {
  width: 60%
}

#ccs-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
}