// Bulk Assign Content View Environments Modal styles
// All assignment section styles are imported from shared-assignment-styles.scss
@import '../../../HostDetails/Cards/ContentViewDetailsCard/shared-assignment-styles';
