%li.clear.slide_link
  .fr
    %span.added.tipsify.hidden #{_("Added")}
    %a.content_add_remove.remove_product.st_button.fr{ "data-id" => product.id, "data-product_id" => [product.id].to_json, "data-type"=>"product", "data-display_name"=>product.name, :id => "add_remove_product_#{product.id}" }

  .simple_link.link_details.one-line-ellipsis{:id=>product_bc_id(product)}
    - if product.provider.provider_type == Provider::REDHAT
      %span.rh-product-sprite
    - else
      %span.custom-product-sprite
    %span{:style=>"display: inline;"}
      #{product.name}&nbsp;
      - product.repos(@environment).collect{|repo| repo.arch }.uniq.each do |arch|
        .product_arch
          = arch
