<span page-title ng-model="activationKey">{{ 'Add Subscriptions for Activation Key:' | translate }} {{ activationKey.name }}</span>

<div data-extend-template="layouts/partials/table.html">
  <div data-block="list-actions">
    <div ng-hide="denied('edit_activation_keys', activationKey)">
       <button class="btn btn-primary" type="button"
               translate
               ng-disabled="disableAddButton()"
               ng-click="addSelected()">
        {{ 'Add Selected' | translate }}
       </button>
    </div>
  </div>

  <span data-block="no-rows-message" translate>
     You currently don't have any Products to subscribe to, you can add Products after selecting 'Products' under 'Content' in the main menu
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Products.
  </span>

  <div data-block="table">
    <div data-extend-template="common/views/subscription-add-or-remove.html"></div>
  </div>
</div>
