<span page-title ng-model="activationKey">{{ 'Content Hosts for Activation Key:' | translate }} {{ activationKey.name }}</span>

<div data-extend-template="layouts/partials/table.html">
  <span data-block="no-rows-message" translate>
    This activation key is not associated with any content hosts.
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Hosts.
  </span>

  <div data-block="table">
    <table class="table table-bordered table-striped" bst-table="table" ng-class="{'table-mask': table.working}">
      <thead>
        <tr bst-table-head>
          <th bst-table-column="name" sortable><span translate>Name</span></th>
          <th bst-table-column="status" translate>
            Subscription Status
          </th>
          <th bst-table-column="environment" sortable><span translate>Environment</span></th>
          <th bst-table-column="contentView"><span translate>Content View</span></th>
          <th bst-table-column="serviceLevel"><span translate>Service Level</span></th>
          <th bst-table-column="releaseVersion"><span translate>Release Version</span></th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="host in table.rows"
            ng-controller="ContentHostStatusController">
          <td bst-table-cell>
            <a ui-sref="content-host.info({hostId: host.id})">
              {{ host.name }}
            </a>
          </td>
          <td bst-table-cell>
            <span ng-class="getHostStatusIcon(host.subscription_global_status)">
            </span>
          </td>
          <td bst-table-cell>{{ host.content_facet_attributes.lifecycle_environment_name }}</td>
          <td bst-table-cell>{{ host.content_facet_attributes.content_view_name || "" }}</td>
          <td bst-table-cell>{{ host.subscription_facet_attributes.service_level }}</td>
          <td bst-table-cell>{{ host.subscription_facet_attributes.release_version }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
