<p class="alert alert-info" ng-show="table.rows.length === 0" translate>
      You currently don't have any Gpg Keys, you can add gpg keys using the button on the right.
</p>
<table alch-table="table"
       class="table table-striped"
       ng-class="{'table-mask': table.working}"
       ng-show="table.rows.length > 0">
  <thead>
    <tr alch-table-head>
      <th alch-table-column="name" sortable>{{ "Name" | translate }}</th>
      <th alch-table-column="organization">{{ "Organization" | translate }}</th>
      <th alch-table-column="products" class="number-cell">{{ "Product Count" | translate }}</th>
      <th alch-table-column class="number-cell">{{ "Repository Count" | translate }}</th>
    </tr>
  </thead>

  <tbody>
    <tr alch-table-row ng-repeat="gpgKey in table.rows">
      <td alch-table-cell>
        <a class="clickable" ng-click="table.openGPGKey(gpgKey)">{{ gpgKey.name }}</a>
      </td>
      <td alch-table-cell>{{ gpgKey.organization.name }}</td>
      <td alch-table-cell class="number-cell">{{ gpgKey.products.length || 0 }}</td>
      <td alch-table-cell class="number-cell">{{ gpgKey.repositories.length || 0 }}</td>
    </tr>
  </tbody>
</table>
