.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
hudson
yard
tmp
*~
*.swp
public/stylesheets/compiled/*
config/katello.yml
.idea*
*.iml
locale/*/LC_MESSAGES
tags
.yardoc
project.vim
routes.html
routes.txt
vendor/ruby
coverage
