

%ul.expand_list
  -if products.empty?
    #{_("No products")}
  -for product in products
    %li.clear.slide_link
      %a.content_add_remove.remove_product.st_button.fr{ "data-id" => product.id, "data-product_id" => product.id, "data-type"=>"product", "data-display_name"=>product.name, :id => "add_remove_product_#{product.id}" }
    
      .link_details{:id=>product_bc_id(product)}
        - if product.provider.provider_type == Provider::REDHAT
          %span.rh-product-sprite
        - else
          %span.custom-product-sprite
        %span.product-icon{:style=>"display: inline;"}
          #{product.name}&nbsp;
          - for arch in product.repos(@environment).collect{|repo| repo.arch }.uniq
            .product_arch
              = arch



%br.clear
