.highlighted {
  --pf-c-dropdown__menu-item--Color: var(--pf-c-dropdown__menu-item--hover--Color);
  --pf-c-dropdown__menu-item--BackgroundColor: var(--pf-c-dropdown__menu-item--hover--BackgroundColor);
  text-decoration: none;
}

.search-clear {
  margin-left: -36px;
  z-index: 2;
  padding: 10px;
  display: flex;
}