<section>

  <header>
    <a ng-click="transitionBack()" class="clickable">
      <i class="icon-backward"></i>
      {{ "Back to Product Creation" | translate }}
    </a>
    <h4 translate>Add New Provider</h4>
  </header>

  <form name="providerForm" class="form" novalidate>

    <div class="control-group required" ng-class="{ 'error' : providerForm.name.$invalid }">

      <div class="label">
        <label class="required" for="name" translate>Name</label>
      </div>

      <div class="input">
        <input ng-model="provider.name"
               name="name"
               type="text"
               tabindex="1"
               autofocus
               required>
        <span class="note error" ng-show="providerForm.name.$invalid">
          <ul>
            <li ng-repeat="message in providerForm.name.$error.messages">{{ message }}</li>
          </ul>
        </span>
      </div>

    </div>

    <div class="control-group buttons">
      <div class="input">
        <button type="button" ui-sref="products.new.form" translate>Cancel</button>
        <button tabindex="2" class="btn-primary" ng-click="save(provider)" translate>Create</button>
    </div>

  </form>

</section>
