<span page-title ng-model="product">{{ 'Repositories for Product:' | translate }} {{ product.name }}</span>

<section class="details details-full">
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>
  <h4 translate>Repositories</h4>

  <input type="text"
         class="form-control filter-input"
         placeholder="{{ 'Filter' | translate }}"
         ng-model="repositorySearch"/>

  <span class="pull-right">

      <div bst-modal="removeSelectedRepositories()" model="table"
           modal-header='Remove {{ repositoriesTable.numSelected  }} Repositories?'
           modal-body='Are you sure you want to remove the {{ repositoriesTable.numSelected }} repositories selected?'></div>

      <span ng-switch="getRepositoriesNonDeletableReason(product)" bst-feature-flag="custom_products">
        <i class="fa fa-question-sign" ng-switch-when="permissions"
           tooltip="{{ 'You cannot remove these repositories because you do not have permission.' | translate }}"
           tooltip-animation="false"
           tooltip-placement="left"
           tooltip-append-to-body="true">
        </i>
        <i class="fa fa-question-sign" ng-switch-when="redhat"
           tooltip="{{ 'You cannot remove these repositories because they belong to a Red Hat product.' | translate }}"
           tooltip-animation="false"
           tooltip-placement="left"
           tooltip-append-to-body="true">
        </i>
      </span>

      <button class="btn btn-default"
              ng-click="openModal()"
              ng-show="canRemoveRepositories(product)"
              ng-disabled="removingRepositories || repositoriesTable.numSelected == 0">
        <span ng-show="removingRepositories">
          <i class="fa fa-spinner inline-icon fa-spin"></i>
          <span>{{ "Removing Repositories" | translate }}</span>
        </span>
        <span ng-hide="removingRepositories">
          <i class="fa fa-trash-o"></i>
          {{ "Remove Repositories" | translate }}
        </span>

      </button>

    <button class="btn btn-default"
            ng-click="syncSelectedRepositories()"
            ng-hide="denied('sync_products', product)"
            ng-disabled="syncInProgress || repositoriesTable.numSelected == 0">
      <i class="fa fa-spinner fa-spin" ng-show="syncInProgress"></i>
      <span ng-show="syncInProgress" translate>Syncing...</span>
      <i ng-hide="syncInProgress" class="fa fa-refresh"></i>
      <span ng-hide="syncInProgress" translate>Sync Now</span>
    </button>
    <button class="btn btn-primary"
            bst-feature-flag="custom_products"
            ng-hide="denied('edit_products', product)"
            ng-disabled="product.readonly"
            ui-sref="products.details.repositories.new({productId: product.id})">
      <span translate>Create Repository</span>
    </button>
  </span>

  <table bst-table="repositoriesTable"
         class="table table-striped"
         ng-class="{'table-mask': repositoriesTable.working}"
         ng-show="repositoriesTable.rows.length > 0">
    <thead>
      <tr bst-table-head row-select>
        <th bst-table-column="name" translate>Name</th>
        <th bst-table-column="type" translate>Type</th>
        <th bst-table-column="sync-status" translate>Sync Status</th>
        <th bst-table-column="content" translate>Content</th>
      </tr>
    </thead>

    <tbody>
      <tr bst-table-row
          row-select="repository"
          ng-repeat="repository in repositoriesTable.rows | filter:repositorySearch">
        <td bst-table-cell>
          <a ng-href="/products/{{ product.id }}/repositories/{{ repository.id }}">{{ repository.name }}</a>
        </td>
        <td bst-table-cell>{{ repository.content_type }}</td>
        <td bst-table-cell>
          <span ng-show="repository.url">
            <span ng-show="repository.last_sync == null" translate>
              Not Synced
            </span>
            <span ng-hide="repository.last_sync == null">
              <a href="/foreman_tasks/tasks/{{repository.last_sync.id}}">{{ repository.last_sync.result | capitalize}}</a>
              <span translate>{{ repository.last_sync_words }} ago</span>
            </span>
          </span>
          <span ng-hide="repository.url" translate>N/A</span>
        </td>
        <td bst-table-cell>
          <span ng-show="repository.content_type == 'puppet'">
            <a translate ng-href="/katello/content_search#/!=&search[subgrid][repo_id]={{ repository.id }}&search[subgrid][type]=repo_puppet_modules">
              {{ repository.content_counts.puppet_module || 0 }} Puppet Modules
            </a>
          </span>

          <span ng-show="repository.content_type == 'yum'">
            <div>
              <a translate ng-href="/katello/content_search#/!=&search[subgrid][repo_id]={{ repository.id }}&search[subgrid][type]=repo_packages">
                {{ repository.content_counts.rpm || 0 }} Packages
              </a>
            </div>

            <div>
              <a ui-sref="errata.index({repositoryId: repository.id})" translate>
              {{ repository.content_counts.erratum || 0 }} Errata
              </a>
            </div>
          </span>

          <span ng-show="repository.content_type == 'docker'">
            <div>
              <span translate>
                {{ repository.content_counts.docker_image || 0 }} Docker Images
              </span>
            </div>
           <div>
              <span translate>
                {{ repository.content_counts.docker_tag || 0 }} Docker Tags
              </span>
            </div>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<p bst-alert="info" ng-show="repositoriesTable.rows.length === 0">
  <span translate>
    You currently don't have any Repositories included in this Product, you can add Repositories using the button on the right.
  </span>
</p>
