<div class="clearfix">
  <div class="form-group ">
    <label class="col-md-2 control-label" for="http_proxy_content_default_http_proxy">
      Default content HTTP proxy
    </label>
    <div class="col-md-4">
    <% if @http_proxy.new_record? %>
      <%= check_box_tag 'http_proxy[content_default_http_proxy]',
                        '1',
                        params.dig('http_proxy', 'content_default_http_proxy') == '1',
                        id: 'content_default_http_proxy' %>
      Set this proxy as the default for content, updating the 'Default HTTP Proxy' setting.
    <% else %>
      <%= @http_proxy.content_default_http_proxy? ? _('Yes') : _('No') %>
    <% end %>
    </div>
  </div>
</div>
