#{_("A request has been received by Katello server '%{url}' to retrieve the logins for email '%{email}'. The following is a list of those logins:") % {:url => root_url, :email => @email}}
- @users.each do |user|
  = user.username

