.pf-v5-c-card__body.empty {
  padding-bottom: 0;

  .pf-v5-l-bullseye {
    position: relative;
    top: -20px;
  }

  .pf-v5-c-empty-state__icon {
    font-size: 2em;
  }

  .pf-v5-c-empty-state__header,
  .pf-v5-c-empty-state__header h4 {
    font-size: 0.875rem !important;
    font-weight: 600;
  }

  .pf-m-lg {
    margin: -20px;
  }

  .pf-v5-c-empty-state__body {
    font-size: smaller;
    margin-top: 1.4em;
    margin-bottom: 1em;
  }

  .pf-m-secondary {
    margin-top: 5px;
  }
}
