.grid_16
  %h1 #{_("400 - Invalid Parameters")}
  %p #{_("Invalid parameters sent. You may have mistyped the address. If you continue having trouble with this, please contact an Administrator.")}
  %p
    = link_to _("Back"), root_path
