- content_types ||= nil
- title ||= _("Product")

= render :partial => "common/common_products",
         :locals => {:record => record,
                     :content_types => content_types,
                     :readable_products => readable_products || nil,
                     :editable_products => editable_products || nil}

#package_filter
  %table
    %thead
      %tr
        %th #{title}

    -if editable
      %tr
        %td
          %form#add_product_form
            %div #{_('Add Products and Repositories:')}
            #select_container
              .spinner
              %select#product_select{:style => 'width:400px;', 'data-placeholder' => _("Choose a product.."),
                'data-url' => save_url}
              .centered
                %a#add_product #{_('+ Add')}

    %tr
      %td.no_padding
        %table#product_list
