:plain
  KT.config = {
    'root_url'  : '#{root_path()}'
  };
  KT.routes.options.prefix = KT.config['root_url'];
  BASTION.KT.routes.options.prefix = KT.config['root_url'];

-if current_organization
  :plain
    KT.current_organization = "#{current_organization.label}";
