:plain
  KT.routes.options.prefix = "#{root_path()}";
  angular.module('Katello.globals').constant("RootURL", "#{root_path()}");

:plain
  angular.module('Katello.globals').value('CurrentOrganization', "#{current_organization.label if current_organization}");

:plain
  angular.module('Katello.globals').value('CurrentUser', "#{current_user.id if current_user}");
