.ca.light_text.versioning
  - if current_user
    #{link_to (_("%s Version: %s") % [AppConfig.app_name, AppConfig.katello_version]), about_path}
  - else
    #{_("%s Version: %s") % [AppConfig.app_name, AppConfig.katello_version]}
