#panel-frame
  #panel.closed{:class => custom_panel ? 'panel-custom' : 'panel' }
    .data
      .spinner
        = image_tag ("spinner.gif")
      .panel-content
      %br.clear

#subpanel-frame
  #subpanel.panel.subpanel.closed
    .data
      .spinner
        = image_tag ("spinner.gif")
      .panel-content
      %br.clear