= javascript :scroll_pane
= stylesheet :scroll_pane

#panel-frame
  #panel.panel.closed
    .head
    .data
      .spinner
        = image_tag ("spinner.gif")
      .panel-content
      %br.clear

#subpanel-frame
  #subpanel.panel.subpanel.closed
    .head
    .data
      .spinner
        = image_tag ("spinner.gif")
      .panel-content
      %br.clear