--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"2\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"2\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"2\"},\"auto_publish\":false,\"distributor_id\":\"2_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"2_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Lp9evo5yRQxjZIEUfSuuQNWPYoDFjcsTD63bmuoyI3w", oauth_signature="39XQRjycbyDY12Pn%2BSaC3iMD%2FGc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400750283", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "2"
      Content-Type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"537dc0ca0f7c7405aa37f210\"}, \"id\": \"2\", \"_href\": \"/pulp/api/v2/repositories/2/\"}"
  recorded_at: Thu, 22 May 2014 09:18:03 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/c628b185-d616-47ff-86b0-a1de28d9998d/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="3oOzyK0xvphPicuAN6geAs13krTFGlwe9Gpd0k3sMM", oauth_signature="zIR8gz%2FBrl7NwOcwmKEWZRp4j7U%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400750283", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/c628b185-d616-47ff-86b0-a1de28d9998d/\", \"task_id\": \"c628b185-d616-47ff-86b0-a1de28d9998d\", \"tags\": [\"pulp:repository:2\", \"pulp:action:delete\"], \"finish_time\": null, \"start_time\": \"2014-05-22T09:18:03Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@ft-29.inecas.cz.dq\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537dc0cb6e2bc4cc38e16a55\"}, \"id\": \"537dc0cb0f7c7405aa37f217\"}"
  recorded_at: Thu, 22 May 2014 09:18:03 GMT
[...]
- request: 
    method: post
    uri: https://katello-devel1.example.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"2\",\"display_name\":\"Fedora 17 x86_64 dev\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_con[...]
- request: 
    method: get
    uri: https://katello-devel1.example.com/pulp/api/v2/repositories/2/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="BtxTNYodsj9mERytNh2JqhSMYEviZDnp", oauth_nonce="p16Tti7WN95tmwS1yaxBKt6npGANtPnq3TlLWXediKM", oauth_signature="jSs0rvmr89yEQ1IKii%2Fu0qvPmQU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1438865823", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64 dev\", \"description\": null, \"distributors\": [{\"repo_id\": \"2\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"55c3599f11513843aeb594b5\"}, \"config\": {}, \"id\": \"2_nodes\"}, {\"repo_id\": \"2\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"55c3599f11513843aeb594b4\"}, \"config\": {\"destination_distributor_id\": \"2\"}, \"id\": \"2_clone\"}, {\"repo_id\": \"2\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"55c3599f11513843aeb594b3\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"2\"}], \"last_unit_added\": null, \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"last_unit_removed\": null, \"content_unit_counts\": {}, \"_ns\": \"repos\", \"importers\": [{\"repo_id\": \"2\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": null, \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"55c3599f11513843aeb594b2\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"55c3599f11513843aeb594b1\"}, \"id\": \"2\", \"_href\": \"/pulp/api/v2/repositories/2/\"}"
  recorded_at: Thu, 06 Aug 2015 12:57:03 GMT
- request: 
    method: delete
    uri: https://katello-devel1.example.com/pulp/api/v2/repositories/2/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="BtxTNYodsj9mERytNh2JqhSMYEviZDnp", oauth_nonce="AEL9GTqBqFNwiCjO3DMEUH1pfq7mqDd8vPhleUGUCY", oauth_signature="AfGroQn%2FJTnRyPJ1axqMdAiCe%2BQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1438865823", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/f43a5cd4-bbad-464e-b243-72ed78da468a/\", \"task_id\": \"f43a5cd4-bbad-464e-b243-72ed78da468a\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 06 Aug 2015 12:57:03 GMT
- request: 
    method: get
    uri: https://katello-devel1.example.com/pulp/api/v2/tasks/f43a5cd4-bbad-464e-b243-72ed78da468a/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="BtxTNYodsj9mERytNh2JqhSMYEviZDnp", oauth_nonce="TEfCo0pFQWkps4MOuj8w2uIqyqqHheuHpzlnI4CScbw", oauth_signature="BO9SWLdMEQYmyyinDXSDyD%2BAs4k%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1438865823", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/f43a5cd4-bbad-464e-b243-72ed78da468a/\", \"task_id\": \"f43a5cd4-bbad-464e-b243-72ed78da468a\", \"tags\": [\"pulp:repository:2\", \"pulp:action:delete\"], \"finish_time\": null, \"start_time\": null, \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"None.dq\", \"state\": \"waiting\", \"worker_name\": null, \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"55c3599f7164df9aa32ab939\"}, \"id\": \"55c3599f11513843aeb594b8\"}"
  recorded_at: Thu, 06 Aug 2015 12:57:03 GMT
[...]
