--- 
http_interactions: 
- request: 
    method: post
    uri: https://centos.installer/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"2\",\"display_name\":\"Fedora 17 x86_64\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_config\":{\"relative_url\":\"/test_path/\",\"http\":false,\"https\":true,\"protected\":true},\"auto_publish\":true,\"distributor_id\":\"2\"},{\"distributor_type_id\":\"yum_clone_distributor\",\"distributor_config\":{\"destination_distributor_id\":\"2\"},\"auto_publish\":false,\"distributor_id\":\"2_clone\"},{\"distributor_type_id\":\"nodes_http_distributor\",\"distributor_config\":{},\"auto_publish\":true,\"distributor_id\":\"2_nodes\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="YBs4XZnGqQSCDRN31ZM1udo8SH6USpWIHMkJYpCaAU", oauth_signature="nl94tUw%2B%2FMLNwilag7qU5F1UCNk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400750284", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "2"
      Content-Type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64\", \"description\": null, \"_ns\": \"repos\", \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"content_unit_counts\": {}, \"_id\": {\"$oid\": \"537dc0cc0f7c7405aa37f21a\"}, \"id\": \"2\", \"_href\": \"/pulp/api/v2/repositories/2/\"}"
  recorded_at: Thu, 22 May 2014 09:18:04 GMT
- request: 
    method: get
    uri: https://centos.installer/pulp/api/v2/tasks/bef0ccf5-16ec-4419-ab6b-48f828968949/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="rnYZR6Cc4VXItbPQZgT2gVMGFnA843zFD8te6Dg", oauth_signature="z5HO8qOc5Sgpo1sM1JdTEC%2Fumks%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400750285", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/bef0ccf5-16ec-4419-ab6b-48f828968949/\", \"task_id\": \"bef0ccf5-16ec-4419-ab6b-48f828968949\", \"tags\": [\"pulp:repository:2\", \"pulp:action:delete\"], \"finish_time\": null, \"start_time\": \"2014-05-22T09:18:05Z\", \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"reserved_resource_worker-1@ft-29.inecas.cz.dq\", \"state\": \"running\", \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"537dc0cd6e2bc4cc38e16a56\"}, \"id\": \"537dc0cd0f7c7405aa37f221\"}"
  recorded_at: Thu, 22 May 2014 09:18:05 GMT
[...]
- request: 
    method: post
    uri: https://katello-devel1.example.com/pulp/api/v2/repositories/
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"2\",\"display_name\":\"Fedora 17 x86_64 dev\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"feed\":\"file:///var/www/test_repos/zoo\",\"ssl_ca_cert\":null,\"ssl_client_cert\":null,\"ssl_client_key\":null},\"notes\":{\"_repo-type\":\"rpm-repo\"},\"distributors\":[{\"distributor_type_id\":\"yum_distributor\",\"distributor_con[...]
- request: 
    method: get
    uri: https://katello-devel1.example.com/pulp/api/v2/repositories/2/?details=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="BtxTNYodsj9mERytNh2JqhSMYEviZDnp", oauth_nonce="FWqNzhfQy3Hbzk7mrJyXAUz0bcn6fb2SWUwQm7Sd3yM", oauth_signature="w8Q%2BsIikRlN3TSDUA9dI1uU0kyE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1438865824", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17 x86_64 dev\", \"description\": null, \"distributors\": [{\"repo_id\": \"2\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"nodes_http_distributor\", \"_id\": {\"$oid\": \"55c359a011513843aeb594c1\"}, \"config\": {}, \"id\": \"2_nodes\"}, {\"repo_id\": \"2\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": false, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_clone_distributor\", \"_id\": {\"$oid\": \"55c359a011513843aeb594c0\"}, \"config\": {\"destination_distributor_id\": \"2\"}, \"id\": \"2_clone\"}, {\"repo_id\": \"2\", \"_ns\": \"repo_distributors\", \"last_publish\": null, \"auto_publish\": true, \"scheduled_publishes\": [], \"distributor_type_id\": \"yum_distributor\", \"_id\": {\"$oid\": \"55c359a011513843aeb594bf\"}, \"config\": {\"protected\": true, \"http\": false, \"relative_url\": \"/test_path/\", \"https\": true}, \"id\": \"2\"}], \"last_unit_added\": null, \"notes\": {\"_repo-type\": \"rpm-repo\"}, \"last_unit_removed\": null, \"content_unit_counts\": {}, \"_ns\": \"repos\", \"importers\": [{\"repo_id\": \"2\", \"_ns\": \"repo_importers\", \"importer_type_id\": \"yum_importer\", \"last_sync\": null, \"scheduled_syncs\": [], \"_id\": {\"$oid\": \"55c359a011513843aeb594be\"}, \"config\": {\"feed\": \"file:///var/www/test_repos/zoo\"}, \"id\": \"yum_importer\"}], \"_id\": {\"$oid\": \"55c359a011513843aeb594bd\"}, \"id\": \"2\", \"_href\": \"/pulp/api/v2/repositories/2/\"}"
  recorded_at: Thu, 06 Aug 2015 12:57:04 GMT
- request: 
    method: delete
    uri: https://katello-devel1.example.com/pulp/api/v2/repositories/2/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="BtxTNYodsj9mERytNh2JqhSMYEviZDnp", oauth_nonce="rEasHre0i18K03DfgslUv0hUz4swSLC6HYWEFs5HMY", oauth_signature="vIc6b2rT3L5lIMI0Zvl3hH7Hw2s%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1438865824", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"spawned_tasks\": [{\"_href\": \"/pulp/api/v2/tasks/da840430-4f39-486e-b229-a2bc6a4dd1b7/\", \"task_id\": \"da840430-4f39-486e-b229-a2bc6a4dd1b7\"}], \"result\": null, \"error\": null}"
  recorded_at: Thu, 06 Aug 2015 12:57:04 GMT
- request: 
    method: get
    uri: https://katello-devel1.example.com/pulp/api/v2/tasks/da840430-4f39-486e-b229-a2bc6a4dd1b7/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth oauth_consumer_key="BtxTNYodsj9mERytNh2JqhSMYEviZDnp", oauth_nonce="jfN7dPA1rxEUTpuH5zanhgFuyd5rqQML7dWiDblSM", oauth_signature="DvThx8shbYcTp%2BCHNfQSUkkZJdI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1438865824", oauth_version="1.0"
      Pulp-User: 
      - admin
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"exception\": null, \"task_type\": \"pulp.server.tasks.repository.delete\", \"_href\": \"/pulp/api/v2/tasks/da840430-4f39-486e-b229-a2bc6a4dd1b7/\", \"task_id\": \"da840430-4f39-486e-b229-a2bc6a4dd1b7\", \"tags\": [\"pulp:repository:2\", \"pulp:action:delete\"], \"finish_time\": null, \"start_time\": null, \"traceback\": null, \"spawned_tasks\": [], \"progress_report\": {}, \"queue\": \"None.dq\", \"state\": \"waiting\", \"worker_name\": null, \"result\": null, \"error\": null, \"_id\": {\"$oid\": \"55c359a07164df9aa32ab93d\"}, \"id\": \"55c359a011513843aeb594c4\"}"
  recorded_at: Thu, 06 Aug 2015 12:57:04 GMT
[...]
