<table class="table table-striped" ng-class="{'table-mask': productTable.working}">
  <thead>
    <tr alch-table-head row-select>
      <th alch-table-column sortable>{{ "Name" | translate }}</th>
    </tr>
  </thead>

  <tbody>
    <tr alch-table-row
        ng-repeat="product in productTable.rows"
        row-select="product"
        active-row="stateIncludes('products.details', {productId: product.id})">
      <td alch-table-cell>
        <a ui-sref="products.details.repositories.index({productId: product.id})">
          {{ product.name }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
