<p class="alert alert-info" ng-show="productTable.rows.length === 0" translate>
  You currently don't have any Products, you can add products using the button on the right.
</p>

<table class="table table-striped" ng-class="{'table-mask': productTable.working}" ng-show="productTable.rows.length > 0">
  <thead>
    <tr alch-table-head row-select>
      <th alch-table-column="name" sortable>{{ "Name" | translate }}</th>
      <th alch-table-column="description">{{ "Description" | translate }}</th>
      <th alch-table-column="sync_status">{{ "Sync Status" | translate }}</th>
      <th alch-table-column="sync_plan">{{ "Sync Plan" | translate }}</th>
      <th alch-table-column class="number-cell">{{ "Repositories" | translate }}</th>
    </tr>
  </thead>

  <tbody>
    <tr alch-table-row ng-repeat="product in productTable.rows" row-select="product">
      <td alch-table-cell>
        <a ui-sref="products.details.repositories.index({productId: product.id})">
          {{ product.name }}
        </a>
        <i class="icon-chevron-right selected-icon" ng-show="product.selected"></i>
      </td>
      <td alch-table-cell>{{ product.description }}</td>
      <td alch-table-cell>
        <div ng-include="'products/views/partials/product-table-sync-status.html'"></div>
      </td>
      <td alch-table-cell>
        {{ product.sync_plan.name }}
        <span ng-hide="product.sync_plan" translate>None</span>
        <span ng-show="product.sync_plan">
          ({{ product.sync_plan.interval }})
        </span>
      </td>
      <td alch-table-cell class="number-cell">{{ product.repository_count }}</td>
    </tr>
  </tbody>
</table>
