%br
%br
%ul.fl.clear
  %li#debug_cert.clickable
    .fl
      = image_tag('embed/icons/expander-collapsed.png', :alt => _('Expand'))
    .grid_7.la
      #{_("Debug Certificate")}:
    .grid_8.la#show_debug_button
      .button#download_debug_cert_key{"data-url"=>download_debug_certificate_organization_path(@organization.id)}
        = _("Generate and Download")
