.clear
  &nbsp;

.grid_7#debug_cert
  %h5 #{_("Debug Certificate")}:

  .button#download_debug_cert_key{"data-url"=>download_debug_certificate_organization_path(@organization.id)}
    = _("Download")
