= check_box_tag "default_org", @organization.id, current_user.default_org == @organization, {:class=>"default_org", "data-url"=>environments_partial_organization_path(@organization.id)}
%label{:for=>"default_org", :class=>"label_default_org clickable", :id=>"label_default_org"}
  #{@org_label}
  %span.favorite.favorites_icon-grey.sprite.clickable
  = image_tag( "embed/icons/spinner.gif", :class=>"hidden fr", :id=>"spinner_default_org", :style=>"margin-right:3px;")