%ul.expand_list
  %li.clear.slide_link
    .link_details.simple_link{:id=>repos_bc_id(product)}
      #{_("Repositories")}
  %li.clear.slide_link
    .link_details.simple_link{:id=>packages_bc_id(product)}
      #{_("Packages")}
  %li.clear.slide_link 
    .link_details.simple_link{:id=>comps_bc_id(product)}
      #{_("Package Groups")}