@import "katello_colors";
@import "katello_vars";

#orgSwitcherNav {
  margin-left: 20px;
  height: 40px;
  border-right: 1px solid lighten($nav-header_background, 10%);

  .favorite {
    margin-left: 10px;
    cursor: pointer;
  }

  .organization-name {
    font-size: 1.25em;
  }

  #manage_orgs a span:hover {
    text-decoration: underline;
  }

  .default_org {
    display: none;
  }

  .dropdown li:hover .dropdown-menu-item-link {
    color: #000;
  }

  #organizationSwitcher {
    .spinner {
      background: $spinner_img;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 35%;
    }

    #allowed-orgs {
      height: 250px;
      overflow: auto;
      width: 100%;
    }

    .menu-item-link.clickable {
      cursor: pointer;
    }
    .dropdown-menu-item-link:hover {
      text-decoration: none;
      color: white;
    }
    .menu-item-link:hover:not(.active-item) {
      background: transparent;
      border: none;
      box-shadow: none;
    }
    #manage_orgs:hover
    {
      background: transparent;
    }

    #manage_orgs a {
      font-size: 0.8em;
      color: $link-border_color;
      font-weight: bold;
      padding-left: 10px;
    }


    .dropdown {
      .menu-item {
        width: 100%;
        a {
          display: inline-block;
          padding-left: 5px;
          width: 80%;
        }
      }
    }

  }
}
