@import "katello_base";

$switcherformwidth: 205px;

#switcherContainer {
  display: block;
  float: left;
  border-right: 1px solid #0187B6;
  margin: 0;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background: none;
  border-radius: 0;
  height: inherit;
  width: 185px;

  /* switcher Button */
   #switcherButton {
    cursor: pointer;
    text-align: left;
    color: $link-color;
    float: left;
    font-size: 18px;
    text-decoration: none;
    line-height: 37px;
  }
  &.active {
    color: $link-hover_color;
    background: darken($logo-header_background, 10%);
  }
  &:hover {
    text-decoration: none;
  }
  /* switcher Box */
  #switcherBox {
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
    z-index: 2000;
    @include border-radius(2px);
    a {
      color: $black_color !important;
    }
  }

  /* switcher Form */
  #switcherForm {
    width: $switcherformwidth;
    border: 0 none;
    @include box-shadow(1px 4px 4px rgba(0, 0, 0, 0.4));
    margin-top: -1px;
    background-color: $switcher-top_color;
    @include switcher-form_color;
    @include border-radius(0 3px 3px 3px);
    fieldset {
      margin: 0 0 12px 0;
      display: block;
      border: 0;
      padding: 0;
    }
    .row {
      width: $switcherformwidth;
      padding: 0;
      display: inline-table;
      margin: 0 auto;
      outline: 0 none;
      height: 18px;
      clear: both;
      white-space: normal;
      margin-top: 1px;
      margin-bottom: 1px;
      .favorites_icon-black {
        $opacity: 100;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 100)" !important;
        /* Netscape */
        -moz-opacity: $opacity !important;
        /* Safari 1.x */
        -khtml-opacity: $opacity !important;
        /* Good browsers */
        opacity: $opacity !important;
      }
      .fav_spinner {
        margin: 5px 0 0 5px;
      }
      a {
        width: $switcherformwidth - 31;
        height: 18px;
        float: left;
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
        line-height: 20px;
      }
      &:hover {
        background: $kprimary_hover_color;
        color: lighten($kprimary_color, 10%);
        border-top: 1px solid lighten($kprimary_color, 10%);
        border-bottom: 1px solid lighten($kprimary_color, 10%);
        margin: 0;
        .favorite {
          @include opacity(.45);
        }
      }
      &.selected {
        background: $kprimary_hover_color;
        color: lighten($kprimary_color, 10%);
        border-top: 1px solid lighten($kprimary_color, 10%);
        border-bottom: 1px solid lighten($kprimary_color, 10%);
        margin: 0;
      }
      .favorite {
        float: left;
        margin: 5px 0 0 5px;
        text-transform: capitalize;
        text-indent: -9999px;
        @include opacity(.05);
        &:hover {
          background-position: -624px -16px;
          @include opacity(.45);
        }
        &.selected {
          background-position: -624px -16px;
          @include opacity(1);
        }
      }
    }
    a {
      text-align: left;
      text-decoration: none;
      outline: 0 none;
    }
    #orgfilter {
      padding-top: 4px;
    }
    #manage_orgs {
      padding: 1px;
      margin: 6px 2px 2px 2px;
      display: block;
      height: 20px;
      line-height: 20px;
      &:hover {
        background-color: transparent;
        .gears_icon {
          background: $gears_icon-black;
        }
      }
    }
  }
  input[type="checkbox"]{
    float: right;
    margin-top: 2px;
    display: none;
  }
  .default_org:checked + .label_default_org {
    .favorite {
      background-position: -624px -16px;
    }
  }
  .filter {
    position: relative;
    width: $switcherformwidth - 11px;
    height: 18px;
    margin-left:8px;
  }
  #orgfilter_input {
    width: $switcherformwidth - 16px;
    margin-bottom: 3px;
  }
  .filter_button {
    margin: 0;
    top: 6px;
    left: $switcherformwidth - 35px;
  }

  #orgbox {
    background: $white_color;
    @include border-radius(3px);
    padding: 0;
    margin: 10px 0 5px 0;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    width: $switcherformwidth;
    max-width: $switcherformwidth;
    .jspPane {
      left: 0 !important;
    }
  }
}

//* ugly IE8 specific hacks for the border to look decent/*/
@media \0screen {
  .card {
    //org switcher modifications
    #switcherContainer {
      border: 1px solid #ccc;
      &.active {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-bottom: 0 none;
      }
      #switcherForm {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin-left: -1px;
        margin-top: -2px;
      }
      #switcherBox {
          top: 0;
      }
    }
  }
  #nav-container {
    //org switcher modifications
    #switcherContainer {
      width: $switcherformwidth - 7;
      border: 1px solid #ccc;
      background-color: $white_color;
      margin-right: 3px;
      &.active {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-bottom: 0 none;
      }
      #switcherButton {
        margin: -1px 0 0 0;
        background-color: $white_color !important;
        padding-top: 2px;
        padding-left: 8px;
      }
      #switcherForm {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin-top: 30px;
        background-color: $white_color;
        width: $switcherformwidth;
      }
      #switcherBox {
          top: 0;
      }
    }
  }
}
