@import "compass";
@import "katello_colors";
@import "alchemy-tables/tables";

.container_16 {
  float: none;
}

.table .active-column {
  background: rgb(216, 216, 216) !important
}

tbody {
  width: 100%;
}

table.details-visible {
  display: block;
  width: 20%;
  float: left;
}

.table {
  th {
    cursor: pointer !important;
    font-weight: bold;
  }

  tr:hover td,
  tr.focus td{
    background-color: $listhover_color;
    color:#FFF;
  }

  th.row-select,
  td.row-select {
    width: 1%;
    max-width: 1%;
  }

  td, th {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
  }

  th {
    border-top: 1px solid #CCC !important;
    border-bottom: 2px solid #CCC !important;
  }

  tr.active, tbody tr:hover {
    background-color: $listhover_color !important;
    color:#FFF;

    a {
      color: #FFF;
      text-decoration: underline;
    }

    th:hover {
      background: white;
    }
  }
}

input {
  background: white !important;
}

.spinner {
  display: inline-block;
  margin: 0 4px;
}

.modal-mask {
  background: black;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}

.no-scroll  {
  overflow: hidden;
}

.table-mask {
  opacity: 0.4;
}

.table-toolbar {
  background: rgb(238, 238, 238);
  overflow: auto;
  padding: 10px 12px 4px 12px;
  @include box-sizing(border-box);
  border: 1px solid #CCC;
  border-radius: 5px 5px 0 0;
}

.nutupane-pane {
  display: none;
  background: white;
  border: 1px solid #CCC;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  @include box-sizing(border-box);

  header {
    height: 50px;
    overflow: auto;
    background-color: rgb(209, 209, 209);
  }
}

.nutupane-details-open {
  @include transition(background-color 1.25s ease-in-out);
  display: block;
  float: left;
  width: 79.8%;
  opacity: 1;
  border-radius: 0;
}

.nutupane-details-open.scrolling{
  margin-left: 8px;
  position: fixed;
  width: 78%;
  top: 5%;
}

#nutupane-new-item {
  display: block;
  left: 20%;
  padding: 20px;
  position: absolute;
  right: 20%;
  top: 30%;
  z-index: 100;

  .button {
    color: $text_color;
  }
}

input, textarea {
  background: #FAFAFA;
}

.table-selection-row {
  display: none;
}

.action-panel {
  height:500px;
  padding: 20px;
}
