@import "compass";
@import "katello_colors";
@import "alchemy-tables/tables";

.container_16 {
  float: none;
}

.table .active-column {
  background: rgb(216, 216, 216) !important
}

table.details-visible {
  display: inline-block;
  height: 903px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 20%;
  vertical-align: top;

  thead, tbody, tr, td {
    width: 20%;
  }
}

th {
  cursor: pointer !important;
  font-weight: bold;
}

tr:hover td,
tr.focus td{
  background-color: $listhover_color;
  color:#FFF;
}

td, th {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

th {
  border-top: 1px solid #CCC !important;
  border-bottom: 2px solid #CCC !important;
}

.table tr.active, .table tbody tr:hover {
  background-color: $listhover_color !important;
  color:#FFF;

  a {
    color: #FFF;
    text-decoration: underline;
  }
}

input {
  background: white !important;
}

th:hover {
  background: white;
}

.spinner {
  display: inline-block;
  margin: 0 4px;
}

.table-mask {
  opacity: 0.4;
}

.table-toolbar {
  background: rgb(238, 238, 238);
  overflow: auto;
  padding: 10px 12px 4px 12px;
  @include box-sizing(border-box);
  border: 1px solid #CCC;
  border-radius: 5px 5px 0 0;
}

.nutupane-details {
  display: none;
  background: white;
  border: 1px solid #CCC;
  border-radius: 5px 5px 0 0;
  @include box-sizing(border-box);

  header {
    height: 50px;
    overflow: auto;
    background-color: rgb(209, 209, 209);
  }
}

.nutupane-details-open {
  @include transition(background-color 1.25s ease-in-out);
  display: inline;
  float: right;
  width: 79.5%;
}

input, textarea {
  background: #FAFAFA;
}