@import "foremanReact/common/variables";

.option-tooltip {
  ul {
    list-style-type: none;
    padding: 0;
  }
  .popover-content{
    min-width: 120px;
    max-width: 160px;
  }
  span {
    margin-left: 8px;
  }
}
.tooltip-open {
  color: $color-pf-blue-400;
}
.tooltip-button {
  cursor: pointer;
}
