<span page-title ng-model="hostCollection">{{ 'Content Hosts for: ' | translate }} {{ hostCollection.name }}</span>

<nav>
  <ul class="nav nav-tabs nav-tabs-pf" ng-show="permitted('edit_host_collections', hostCollection) && permitted('edit_hosts')">
    <li ng-class="{active: isState('host-collection.hosts.list')}">
      <a ui-sref="host-collection.hosts.list">
        <span translate>
          List/Remove
        </span>
      </a>
    </li>

    <li ng-class="{active: stateIncludes('host-collection.hosts.add')}">
      <a ui-sref="host-collection.hosts.add">
        <span translate>
          Add
        </span>
      </a>
    </li>
  </ul>
</nav>

<div ui-view></div>
