<span page-title ng-model="hostCollection">{{ 'Content Hosts for: ' | translate }} {{ hostCollection.name }}</span>

<div data-extend-template="layouts/partials/table.html">

  <div data-block="list-actions">
    <div ng-hide="denied('edit_hosts')" class="nutupane-actions fr">
       <button type="button" class="btn btn-default"
               translate
               ng-disabled="table.getSelected().length == 0 || isRemoving"
               ng-click="removeSelected()">
         Remove Selected
       </button>
    </div>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Hosts in this Host Group, you can add Content Hosts after selecting the 'Add' tab.
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Content Hosts.
  </span>

  <div data-block="table">
    <table ng-class="{'table-mask': table.working}" class="table table-bordered table-striped">
      <thead>
        <tr bst-table-head row-select>
          <th bst-table-column="name" translate>Name</th>
          <th bst-table-column="environment" translate>Environment</th>
          <th bst-table-column="content_view" translate>Content View</th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="host in table.rows">
          <td class="row-select">
            <input type="checkbox"
                   ng-model="host.selected"
                   ng-change="itemSelected(host)"/>
          </td>
          <td bst-table-cell >
            <a ui-sref="content-host.info({hostId: host.id})">
              {{ host.name}}
            </a>
          </td>
          <td bst-table-cell >{{ host.content_facet_attributes.lifecycle_environment.name}}</td>
          <td bst-table-cell >{{ host.content_facet_attributes.content_view.name}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
