<h5 translate>Create a copy of {{ hostCollection.name }}</h5>

<div class="row">
  <div class="col-sm-4">
    <form name="copyHostCollectionForm">
      <div class="form-group">
        <label for="copy_name" translate>New Name:</label>
        <input id="copy_name" class="form-control" name="copy_name"
               ng-model="copyName" tabindex="1" autofocus required/>
      </div>

      <button type="button" class="btn btn-default" type="submit" ng-click="copy(copyName)">
        <span translate>Create</span>
      </button>
    </form>
  </div>
</div>
