<span page-title ng-model="hostCollection">{{ 'Actions for: ' | translate }} {{ hostCollection.name }}</span>

<section class="nutupane-sub-section" >

  <span translate>
    The following actions can be performed on content hosts in this host collection:
  </span>

  <ul class="bullet">
    <li bst-feature-flag="remote_actions">
      <a translate ng-href="{{ $state.href('content-hosts.bulk-actions.packages') }}{{ getHostCollectionSearchUrl(hostCollection.name) }}">
        Package Installation, Removal, and Update
      </a>
    </li>


    <li bst-feature-flag="remote_actions">
      <a translate ng-href="{{ $state.href('content-hosts.bulk-actions.errata.list') }}{{ getHostCollectionSearchUrl(hostCollection.name) }}">
        Errata Installation
      </a>
    </li>

    <li>
      <a translate ng-href="{{ $state.href('content-hosts.bulk-actions.host-collections') }}{{ getHostCollectionSearchUrl(hostCollection.name) }}">
        Host Collection Membership
      </a>
    </li>

    <li bst-feature-flag="lifecycle_environments">
      <a translate ng-href="{{ $state.href('content-hosts.bulk-actions.environment') }}{{ getHostCollectionSearchUrl(hostCollection.name) }}">
        Change assigned Lifecycle Environment or Content View
      </a>
    </li>

  </ul>
</section>
