<span page-title ng-model="hostCollection">{{ 'Host Collection: ' | translate }} {{ hostCollection.name }}</span>

<div class="loading-mask loading-mask-panel" ng-show="panel.loading">
  <i class="fa fa-spinner fa-spin"></i>
  {{ "Loading..." | translate }}
</div>

<section class="nutupane-details" ng-cloak bst-container-scroll>
  <div ng-show="panel.error" bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <div ng-hide="panel.error">
    <header class="details-header">
      <h2 class="fl" translate>Host Collection: {{ hostCollection.name }}</h2>

      <div class="details-actions fr">
        <button class="btn btn-default"
                ng-click="openModal()"
                ng-hide="denied('destroy_host_collections', hostCollection)"
                translate>
          Remove
        </button>

        <button class="btn btn-default"
                ng-hide="denied('create_host_collections')"
                ng-click="showCopy = true">
          <i class="fa fa-copy"></i>
          {{ "Copy Collection" | translate }}
        </button>

        <button class="btn btn-default" ui-sref="host-collections.index">
          <i class="fa fa-remove"></i>
          {{ "Close" | translate }}
        </button>

        <div bst-modal="removeHostCollection(hostCollection)">
          <div data-block="modal-header" translate>Remove Host Collection "{{ hostCollection.name }}"?</div>
          <div data-block="modal-body" translate>Are you sure you want to remove Host Collection "{{ hostCollection.name }}"?</div>
        </div>
      </div>
    </header>

    <div ng-show="showCopy" class="fr action-pane" >
      <form>
        <h5 translate>Copy</h5>
        <div class="input">
          <div bst-alerts error-messages="copyErrorMessages"></div>
          <div class="info-label">
            <label for="copy_name" translate>New Name:</label>
          </div>
          <input ng-model="copyName"
                 id="copy_name"
                 name="copy_name"
                 tabindex="1"
                 autofocus
                 required/>
          <div>
            <button class="btn btn-default" ng-click="copy(copyName)">
              {{ "Create" | translate }}
            </button>
            <button class="btn btn-default" ng-click="showCopy = false">
              {{ "Cancel" | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>

    <nav class="details-navigation">
      <ul>
        <li ng-class="{active: isState('host-collections.details.info')}">
          <a ui-sref="host-collections.details.info">
            <span translate>
              Details
            </span>
          </a>
        </li>

        <li ng-class="{active: stateIncludes('host-collections.details.hosts')}">
          <a ui-sref="host-collections.details.hosts.list">
            <span translate>
              Hosts
            </span>
          </a>
        </li>
        <li ng-class="{active: isState('host-collections.details.actions')}"
            ng-show="permitted('edit_host_collections', hostCollection)">
          <a ui-sref="host-collections.details.actions">
            <span translate>
              Collection Actions
            </span>
          </a>
        </li>
      </ul>
    </nav>

    <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

    <section class="nutupane-sub-section" ui-view></section>
  </div>
</section>
