<span page-title ng-model="hostCollection">{{ 'Host Collection: ' | translate }} {{ hostCollection.name }}</span>

<section>

  <div class="details fl">
    <section>
      <div class="detail">
        <span class="info-label" translate>Name</span>
        <span class="info-value"
              bst-edit-text="hostCollection.name"
              readonly="denied('edit_host_collection', hostCollection)"
              on-save="save(hostCollection)">
        </span>
      </div>

      <div class="detail">
        <span class="info-label" translate>Description</span>
        <span class="info-value"
              bst-edit-textarea="hostCollection.description"
              readonly="denied('edit_host_collection', hostCollection)"
              on-save="save(hostCollection)">
        </span>
      </div>

      <div class="detail">

        <span class="info-label" translate>Content Host Limit</span>

        <span class="info-value"
              bst-edit-custom="hostCollection.max_hosts"
              readonly="denied('edit_host_collection', hostCollection)"
              formatter="unlimitedFilter"
              formatter-options="hostCollection.unlimited_hosts"
              on-save="save(hostCollection)">

          <div class="form input">
            <div>
              <span translate>
                Unlimited Content Hosts:
              </span>
              <input type='checkbox' ng-model="hostCollection.unlimited_hosts"/>
            </div>
            <div ng-hide="hostCollection.unlimited_hosts" >
              <span translate>
                Limit:
              </span>
              <input ng-model="hostCollection.max_hosts"
                     name="max_hosts"
                     type="number"
                     min="1"
                     ng-required="!hostCollection.unlimited_hosts"
                     tabindex="2"/>
              <span class="note error" ng-show="hostCollection.max_hosts.$invalid">
                <ul><li ng-repeat="message in hostCollection.max_hosts.$error.messages">{{ message }}</li></ul>
              </span>
            </div>
          </div>

        </span>
      </div>
    </section>
  </div>
</section>
