<span page-title ng-model="hostCollection">{{ 'Add Content Hosts to: ' | translate }} {{ hostCollection.name }}</span>
<section class="nutupane-sub-section">

  <div class="row">

    <div class="col-sm-3">
      <div class="input-group input-group">
        <input type="text"
               class="form-control"
               placeholder="{{ 'Search...' | translate }}"
               ng-model="addContentHostsTable.searchTerm"
               bst-on-enter="addContentHostsTable.search(addContentHostsTable.searchTerm)"/>
        <span class="input-group-btn">
          <button ng-click="addContentHostsTable.search(addContentHostsTable.searchTerm)" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>

    <div class="col-sm-3 nutupane-info">
      <span translate>Showing {{ addContentHostsTable.rows.length }} of {{ addContentHostsTable.resource.subtotal }} ({{ addContentHostsTable.resource.total }} Total) Content Hosts</span>
    </div>

    <div class="fr">
      <div class="fl nutupane-info">
        <span translate>{{ addContentHostsTable.numSelected }} Selected</span>
      </div>

      <div ng-hide="hostCollection.readonly" class="nutupane-actions fr">
         <button class="btn btn-primary"
                 translate
                 ng-hide="denied('edit_content_hosts')"
                 ng-disabled="disableAddButton()"
                 ng-click="addSelected()">
           Add Selected
         </button>
      </div>

    </div>
  </div>

  <div bst-table="addContentHostsTable" class="nutupane">
    <div bst-container-scroll bst-infinite-scroll="addContentHostsTable.nextPage()" data="addContentHostsTable.rows">

      <div class="loading-mask" ng-show="addContentHostsTable.working && addContentHostsTable.rows.length == 0">
        <i class="fa fa-spinner fa-spin"></i>
        {{ "Loading..." | translate }}
      </div>

      <p bst-alert="info" ng-show="addContentHostsTable.rows.length === 0 && !addContentHostsTable.working">
        <span translate>
          You currently don't have any Content Hosts, you can create new Content Hosts by selecting Contents Host from main menu and then clicking the button on the right.
        </span>
      </p>

      <table ng-class="{'table-mask': addContentHostsTable.working}"
             class="table table-full table-striped"
             ng-show="addContentHostsTable.rows.length > 0">
        <thead>
          <tr bst-table-head row-select>
            <th bst-table-column="name" translate>Name</th>
            <th bst-table-column="name" translate>Environment</th>
            <th bst-table-column="name" translate>Content View</th>
          </tr>
        </thead>

        <tbody>
          <tr bst-table-row ng-repeat="contentHost in addContentHostsTable.rows">
            <td class="row-select">
              <input type="checkbox"
                     ng-model="contentHost.selected"
                     ng-change="itemSelected(contentHost)"/>
            </td>
            <td bst-table-cell>
              <a ui-sref="content-hosts.details.info({contentHostId: contentHost.uuid})">
                {{ contentHost.name }}
              </a>
            </td>
            <td bst-table-cell>{{ contentHost.environment.name }}</td>
            <td bst-table-cell>{{ contentHost.content_view.name }}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</section>
