<nav class="nav left org-switcher-nav" ng-class="{'active-item': visible}">
  <ul class="menu-container" id="organizationSwitcher">

    <li class="menu-item">
      <a class="menu-item-link organization-name"
         ng-click="toggleVisibility()"
         ng-class="{'active-item': visible}">
        {{ currentOrganization.name || "Select an Organization" | translate }}
        <i class="icon-caret-down"></i>
      </a>

      <span class="dropdown" ng-class="{'dropdown-active': visible}" ng-show="visible">
        <div class="form">
          <input type="text" ng-model="orgFilter" placeholder="{{ 'Filter' | translate }}"/>
        </div>
        <ul class="allowed-orgs">
          <span class="spinner" ng-show="working"></span>

          <li class="dropdown-item" ng-repeat="organization in user.allowed_organizations | filter:orgFilter">
            <i class="fl"
               tooltip="{{ 'Make this your default organization.' | translate }}"
               tooltip-placement="top org-switcher"
               tooltip-append-to-body="true"
               ng-click="setDefaultOrg($event, organization)"
               ng-class="{'icon-star-empty': organization.id != favoriteOrg, 'icon-star': organization.id == favoriteOrg}"></i>

            <div class="dropdown-item-link">
              <a class="org-link" ng-click="selectOrg(organization)">{{ organization.name }}</a>
            </div>
          </li>
        </ul>

        <div class="menu-item manage-orgs">
          <a class="menu-item" href="/katello/organizations">
            <span class="fl clearfix" translate>Manage Organizations</span>
          </a>
        </div>
      </span>
    </li>
  </ul>
</nav>
