= include_javascripts :notices

- if current_user

  :javascript
    notices.setup_notices(#{notification_polling_time});
    notices.addNotices($.parseJSON('#{escape_javascript(current_user.pop_notices.to_json)}'));
