- for org in user.allowed_organizations
  - if current_organization && org.name == current_organization.name
    .row.clickable.selected
      = render :partial=>"common/fav", :locals => {:org=>org, :current_user=>current_user}
      = link_to current_organization.name, set_org_user_session_path(:org_id=>org.id), :method=>"POST", :class=>"selected", :title=>_("Current Organization")
  - else
    .row.clickable
      = render :partial=>"common/fav", :locals => {:org=>org, :current_user=>current_user}
      = link_to org.name, set_org_user_session_path(:org_id=>org.id), :method=>"POST", :title=>org.name