- for org in user.allowed_organizations
  - if current_organization && org.name == current_organization.name
    = link_to current_organization.name, set_org_user_session_path(:org_id=>org.id), :method=>"POST", :class=>"selected fl clear", :title=>_("Current Organization")
  - else
    = link_to org.name, set_org_user_session_path(:org_id=>org.id), :method=>"POST", :class=>"fl clear", :title=>org.name