/ orgbox Starts Here
#orgSwitcher.scroll-pane.clickable{'ng-app' => 'Katello', 'ng-controller' => 'UserSessionsController'}
  %span.spinner
  %ul#allowed-orgs{"org-switcher" => ""}
/ orgbox Ends Here
